[2016-03-01 11:11] #446 closed

[2016-03-01 11:12] bryk commented on #465
I'll take it.

[2016-03-01 11:17] floreks commented on #430
Sure. I'll work on that after #433

[2016-03-01 11:24] f-higashi commented on #422
I think so.
Newer docker version allows the less restrictive values.
I'll use this.

[2016-03-01 12:19] #455 closed

[2016-03-01 12:20] bryk commented on #436
Agree with @maciaszczykm. Don't make this error. Make it a warning (i.e., yellow - should be some angular material class for this out there)

[2016-03-01 12:21] #425 closed

[2016-03-01 12:37] f-higashi commented on #452
sorry. I cannot come up with a good solution right now.

[2016-03-01 12:58] bryk commented on #449
@digitalfishpond Oh yeah. We need to leave the debounce on name input. This will be an inconsistency we can live with. I saw many other apps that have some inputs debounced and some not .

[2016-03-01 13:00] bryk commented on #452
Ok, I'll take this.

[2016-03-01 13:08] digitalfishpond commented on #449
Ok, I'll take this.

[2016-03-01 13:14] bryk commented on #467
I take this.

[2016-03-01 13:26] cheld commented on #449
Right, I think this small inconsistency is ok.

BTW: in GCE all input fields validate as you type and all fields have a debounce. For dashboard I would suggest to keep the inconsistency for the moment.

[2016-03-01 14:35] GertiPoppel commented on #276
I have update/extended the dashboard tour and just created a PR (https://github.com/kubernetes/kubernetes/pull/22276)
What is still missing:
* A link to the Dashboard tour should be added to the Deploy pages (http://kubernetes.io/v1.1/docs/user-guide/ui.html).
* The Zero state page should only contain a link to the Dashboard tour. This is not yet implemented. The three other links (which are no li

[2016-03-01 15:15] maciaszczykm commented on #466
Ok, I got it. Validation changed and random name generator created apps starting with digits from time to time... Will create fix in a minute.

[2016-03-01 15:25] #465 closed

[2016-03-01 15:26] bryk commented on #466
Ouch, this was hard. Sorry we didn't find it during a code review... :(

[2016-03-01 17:51] davidmankin opened #473 "External Endpoint is abbreviated to useless"
#### Issue details

##### Environment

[code]

The replication controller view shows the external endpoints for the service, which is great. But it shows it with a "..." in the middle that makes it unusable.

e.g.
[code]

This is a port 80 tcp port, so it might be nice to assume it's an http url and create an a href target=_blank link to the whole url.  But at the very least we should find a way t

[2016-03-01 18:03] maciaszczykm commented on #473
External endpoints' links were added in #399, but it seems, that it's not in `gcr.io/google_containers/kubernetes-dashboard:canary` image yet.

@bryk Do you know when it will be updated?

[2016-03-02 08:18] #466 closed

[2016-03-02 08:33] bryk commented on #473
@danwinship This is fixed already, but not released. I'll rebuild canary image today.

[2016-03-02 08:34] bryk commented on #473
@maciaszczykm I've always had a dream that we release canary image on every successful master branch build. This should be easy to do, but post 1.0.

[2016-03-02 08:34] #473 closed

[2016-03-02 08:36] digitalfishpond commented on #453
Also happy to implement this as a P2?

[2016-03-02 08:52] #331 closed

[2016-03-02 09:31] GertiPoppel opened #476 "Add links to dashboard tour"
#### Issue details
1. The Zero state page contains text only and no links to any documentation
2. The Deploy pages do not contain a link to the Dashboard tour.

##### Environment
Dashboard version: 13e88ce
Browsers: all

##### Expected result

1. On Zero state page there is only one link to the "Dashboard tour" (http://kubernetes.io/v1.1/docs/user-guide/ui.html)

2. On the Deploy pages, there is a

[2016-03-02 09:45] olekzabl commented on #453
@digitalfishpond "The error message actually appears on focus-out from any field, long before the Deploy button is reached."

I checked once more and I cannot see such message in my case. (Goobuntu; Chrome 48.0 64-bit; no "node"; if other config info is relevant, please tell me how to obtain it).

[2016-03-02 10:01] digitalfishpond opened #477 "App name validation message overlaps character counter"
Validation message for wrong pattern on Deploy --> Specify app details below --> App name overlaps the character counter

![validationoverlap](https://cloud.githubusercontent.com/assets/13361549/13456916/a66bc91a-e065-11e5-9edb-a118fd2a5cd0.PNG)

##### Steps to reproduce
- Deploy
- select "Specify app details below"
- In App name field, type a string with illegal characters (capitals, underscores,

[2016-03-02 10:04] digitalfishpond commented on #453
Thank you @olekzabl, you are right, those fields still don't have complete validation implemented. I will fix today. :)

[2016-03-02 11:08] bryk commented on #473
Pushed.

[2016-03-02 12:36] bryk commented on #477
Hmm... Isnt this an angular material bug? The demo on material site works as expected: https://material.angularjs.org/latest/demo/input

[2016-03-02 13:01] #430 closed

[2016-03-02 13:06] maciaszczykm commented on #476
I can do it on Monday.

[2016-03-02 14:00] bryk commented on #456
Safari works for me. Please reopen if the issue persists.

[2016-03-02 14:00] #456 closed

[2016-03-02 14:02] cheld opened #481 "Dashboard does not work offline"
#### Issue details
Dashboard cannot be run offline because Roboto font and MD icons are loaded from the internet.

http://fonts.googleapis.com/icon?family=Material+Icons
http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic

##### Steps to reproduce
1. Remove internet connectivity
2. Reload
3. Do some actions in the UI

##### Observed result
Sometimes some icons are not shown

##

[2016-03-02 14:06] cheld opened #482 "Show current pod count in edit dialog"
#### Issue details
The current pod count is not shown in the edit dialog.

##### Environment

Browser: Chrome

##### Steps to reproduce
1. Deploy app
2. Go to details
3. Press edit
3. Scale up to 5 pods, press ok
=> now scale up by one pod
4. Press edit
5. Press up button next to input field

##### Observed result
1 is shown in input field

##### Expected result
6 is shown

[2016-03-02 14:20] floreks commented on #482
We've already discussed that with @bryk when this was implemented and decided to show information about current status of pods in the above description because putting some arbitrary number directly in input field might be misleading for users. This would require at least adding some tooltip with some explanation why 1,6,52,5123 is shown when dialog is open. Number itself doesn't provide any usefu

[2016-03-02 14:26] bryk commented on #481
Yes, known problem. We should be inlining styles to make this work on intranets.

[2016-03-02 14:33] #439 closed

[2016-03-02 14:37] floreks opened #483 "Deploy Page - styling issue when shrinking page on IE"
#### Issue details
##### Environment

[code]

##### Steps to reproduce

1. Go to deploy page.
2. Resize browser so width is very small.

##### Observed result

After shrinking the browser windows all elements are collapsed and overlap each other.

##### Comments
![image](https://cloud.githubusercontent.com/assets/2285385/13463442/8b53950a-e08c-11e5-81c3-5dd7345db4fc.png)

[2016-03-02 14:45] bryk commented on #482
To me we should make the input empty and just show in plain text current state. Resising RC is not that trivial operation, so requiring user to type the input is at least a small safeguard.

[2016-03-02 15:28] cheld commented on #482
Ok, if it is intentional than we should keep it.

[2016-03-02 15:28] #482 closed

[2016-03-02 16:14] floreks commented on #477
This is our bug because `ng-messages` are surrounded with `div`: https://github.com/kubernetes/dashboard/blob/master/src/app/frontend/deploy/deployfromsettings.html#L26

Height is changed and that's why text is overlapping counter. Deleting `div` fixes problem.

[2016-03-02 16:19] marcolenzo opened #484 "Cannot configure apiserver URL"
I am instantiating the kubernetes dashboard as described in the README.md.

[code]
However when looking at the dashboard I am notified that a 500 error occured:

[code]

When looking at the logs of the pod I can see the following:

[code]

My environment consist of a master and 2 nodes setup on CentOS7. I am running the very latest version of Kubernetes (i.e. v1.2.0-alpha.8)

Kubectl is set proper

[2016-03-03 06:59] digitalfishpond commented on #477
Ah. deleting `div` also causes jittering on a number of events... I wonder if it would be possible to assign a flex value (like '80') to the div? or put a div around the counter too?

[2016-03-03 09:13] floreks commented on #467
Are you working on this?

[2016-03-03 09:34] #433 closed

[2016-03-03 09:52] bryk commented on #467
No, can you take this?

[2016-03-03 09:53] floreks commented on #467
Yeah, I wanted to do that :)

[2016-03-03 09:54] bryk commented on #467
You now should be able change assignments of bugs, btw.

[2016-03-03 09:59] floreks commented on #467
Perfect!

[2016-03-03 13:35] bryk commented on #477
Can you explain this?

[2016-03-03 13:37] digitalfishpond commented on #477
If I remember correctly, the div was added to avoid the rest of the form jumping up and down (in Firefox at least) upon focus and upon showing error message.

[2016-03-03 13:40] bryk commented on #484
Specify `--apiserver-host=http://my-address:port` param of the container. See linked PR for example.

[2016-03-03 14:37] bryk commented on #483
I assume fixed.

[2016-03-03 14:37] #483 closed

[2016-03-04 01:13] codegoblins commented on #422
reposting from slack for visibility: I’d like to see more integrations with container registries, e.g. being able to search public images from within the deploy from settings flow. I worked on a similar feature for an internal kubernetes UI and would be happy to contribute.

[2016-03-04 09:16] cheld commented on #434
Sorry. I could not reproduce on Chrome either. I tested with Firefox 44 on Ubuntu

[2016-03-04 09:17] marcolenzo commented on #484
Thank you @bryk . It worked.

[2016-03-04 10:47] digitalfishpond commented on #449
I have done some thorough checking, here are my findings. This issue can probably be closed, so please correct me if I'm wrong.

Fields are already all working with default Material behaviour (except for app name which has a small debounce).

All fields behave in the following way (which is default to angular Material):

if field is $pristine (never been touched), when you focus in for the first t

[2016-03-04 11:09] bryk commented on #434
Closing.

[2016-03-04 11:10] bryk commented on #449
if field is $pristine (never been touched), when you focus in for the first time and enter an invalid input, no error message appears until you focus out.
if field is $touched (has had at least 1 focus and 1 focus-out at some point), validation is instant (or with the specified debounce delay. This is true for all fields on the Deploy page.
PTAL

Correct.

[2016-03-04 11:10] bryk commented on #449
Closing. Let me know if should be reopened.

[2016-03-04 11:10] #449 closed

[2016-03-04 11:14] bryk commented on #422
@codegoblins Yeah, sure. We wanted to do this at some point, but didn't have time to. Please report a feature request first, though. And let's discuss it there.

[2016-03-04 12:24] #422 closed

[2016-03-04 13:39] bryk commented on #452
@floreks Works on the same issue in another bug. Closing.

[2016-03-04 13:39] #452 closed

[2016-03-04 13:39] #418 closed

[2016-03-04 13:41] bryk commented on #415
Closing as stale. Reopen if needed.

[2016-03-04 13:41] #415 closed

[2016-03-04 13:41] bryk commented on #402
Corner case. Off to post 1.0

[2016-03-04 13:51] #477 closed

[2016-03-04 13:58] cheld commented on #434
Sorry for confusion.

- The bug is not reproducible on Chrome
- The bug IS reproducible on Firefox.

Low prio, though

[2016-03-04 14:27] batikanu opened #494 "Integration tests fail in travis although they pass in dev. environment"
#### Issue details
Deploy from file integration tests pass in development environment but not in travis.
##### Environment

gulp integration-test or
gulp integration-test:prod
both pass in development environment.
[code]

##### Steps to reproduce

Run travis build of master branch
Run integration tests locally in your development environment.
##### Observed result

Tests fail in travis but not loc

[2016-03-04 14:29] bryk commented on #346
Closing as done.

[2016-03-04 14:29] #346 closed

[2016-03-04 14:30] bryk commented on #350
Thank you all for participation! This was really valuable :)

This round of manual tests is done. Closing. Will create a new issue for next round.

[2016-03-04 14:30] #350 closed

[2016-03-04 15:56] batikanu opened #495 "Zerostate page is flickering with deployment which has kube-system as a namespace"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

Deploy single rc like kubernetes-dashboard-canary.yaml or anything which has kube-system as namespace.
Click kubernetes icon in header or refresh the page
##### Observed result

The replication controller card for the deployment is visible less than a second and the page is redirected to the zerostate.

##### Expected result

[2016-03-07 07:20] maciaszczykm commented on #476
Working on it.

[2016-03-07 07:55] bryk commented on #476
Awesome. Can you take care of the zero-state banner today? I'll do the release afternoon. Does this work for you?

[2016-03-07 07:57] maciaszczykm commented on #476
@bryk Sure. I'll start with first point and then do the second. Do you want to have it in separate pull requests?

[2016-03-07 07:59] bryk commented on #476
No need to separate this.

[2016-03-07 09:27] #405 closed

[2016-03-07 10:35] maciaszczykm commented on #432
Working on it.

[2016-03-07 12:42] maciaszczykm commented on #432
I'm thinking about solution for this. The most accurate one seems to be sending more information from backend (at the moment it's whole validation result, for replication controller and service name together). Instead of it we could send both of these information. However, it will require more changes in architecture to display correct message in UI depending on data from backend. I'm not sure if

[2016-03-07 13:06] bryk commented on #432
The latter sounds good enough :) Can you send a PR? :)

[2016-03-07 13:06] maciaszczykm commented on #432
@bryk Sure.

[2016-03-07 13:20] maciaszczykm commented on #476
It can be closed.

[2016-03-07 13:27] #476 closed

[2016-03-07 13:28] #432 closed

[2016-03-07 14:00] f-higashi commented on #494
I can reporduce the same situation; tests succeed in local but tests fail in travis.
https://travis-ci.org/f-higashi/dashboard/builds/114188727

And I checked screencast in saucelabs.
http://saucelabs.com/jobs/80f635f03ff044e69017a5b8993fdcdf

It seems when 'deploy' button is hidden partially, clicking deploy button will fail.
It depends on amount of hidden area.

I found same issues in some web p

[2016-03-07 14:16] f-higashi commented on #494
Sorry.
I failed "\r".
But I tried sendKeys("\n") just now and it succeeded.

[2016-03-08 11:29] cheld opened #503 "Finish remaining FBT sheets"
#### Issue details
We should complete the remaining FBT sheets.

Missing:
- Replication Details
- Logs

Any comments on the process? Should we adapt or change something?

@floreks , @digitalfishpond @maciaszczykm @f-higashi
please pick

[2016-03-08 11:50] cheld opened #505 "System testing"
#### Issue details
We should start thinking about performance/system test.

I suggest that we only test the performance of the backend. We can add prometheus to measure the API duration (it is quite simple)

We could run the normal selenium click tests and print out the 5 slowest API calls at the end (as far as I remember, this is done in core).

However, the dataset is quite limited of the normal

[2016-03-08 11:57] cheld opened #506 "2nd round of manual testing"
#### Issue details

Please do a 2nd round of manual testing after the bugs of round one are fixed and FBT sheets are finished.

Among all topics, please verify validation and check concurrent actions.

@maciaszczykm , @f-higashi , @floreks , @digitalfishpond

[2016-03-08 12:50] batikanu commented on #495
Solved with #496

[2016-03-08 12:50] #495 closed

[2016-03-08 13:26] #435 closed

[2016-03-08 13:42] maciaszczykm commented on #276
@GertiPoppel I think both mentioned issues are fixed now. Could you confirm?

[2016-03-08 13:50] maciaszczykm commented on #208
Already fixed.

[2016-03-08 13:50] #208 closed

[2016-03-08 13:52] maciaszczykm commented on #313
@cheld I believe it's already fixed. Can we close it?

[2016-03-08 13:52] floreks commented on #396
In our current case where zerostate is actually child of replica set state and can't be shown manually there is not much to do. For integration tests we assume that test environment is brand new and empty.

What we could do is to start new cluster when integration tests are started with gulp in order to have clean env. for tests. This is however not part of this issue.

Can we close this? If neede

[2016-03-08 13:56] maciaszczykm commented on #396
All of tests assume, that cluster is empty. Making sure of it with new gulp task is nice idea.

[2016-03-08 14:01] #64 closed

[2016-03-08 14:05] floreks commented on #46
We've got pretty good setup for tests/dev now. I think we can close.

[2016-03-08 14:05] #46 closed

[2016-03-08 14:08] floreks commented on #159
We've already working solution for that issue. Removing `default` and referencing type with path works fine. Closing.

[2016-03-08 14:08] #159 closed

[2016-03-08 14:11] floreks commented on #161
This is already done.

[2016-03-08 14:12] floreks commented on #175
Alread done.

[2016-03-08 14:12] #175 closed

[2016-03-08 14:13] #161 closed

[2016-03-08 14:14] #258 closed

[2016-03-08 14:20] floreks commented on #200
Our build pipeline is now pretty good and we're targeting many architectures. I think this is resolved.
Newest release: https://github.com/kubernetes/dashboard/releases/tag/v1.0.0

[2016-03-08 14:20] #200 closed

[2016-03-08 14:21] floreks commented on #183
Closing as stale. Please reopen if problem still occurs.

[2016-03-08 14:21] #183 closed

[2016-03-08 14:31] floreks opened #507 "Implement volumes handling in deploy form"
#### Enhancement details

Implement volumes functionality in deploy form.

![zrzut ekranu z 2016-03-08 15-30-40](https://cloud.githubusercontent.com/assets/2285385/13604391/b556b5d4-e542-11e5-845a-eeee18cf2fc6.png)

[2016-03-08 15:09] #467 closed

[2016-03-08 15:54] cheld commented on #313
Yes we can close

[2016-03-08 15:54] #313 closed

[2016-03-08 19:05] Seb-Solon opened #509 "Feature request: Handle daemonsets"
Hi there,

I noticed that only RC are handled for now in the dashboard.  It could be great to have daemon set also are they are very similar.

This feature can be devided into 2 parts :
* Add routes in the backend to handle rest call
* Add "stuff" in the fromtend to be able to see it in the UI

I did the first part (the backend) and I will submit a PR in a few seconds.

[2016-03-08 22:18] codegoblins opened #511 "Search available images in container registry when deploying from settings"
I'd like to see some integration with container registries to make deploying images easier for the end user.

The way I see this feature breaks down to 2 tasks:
- Add an endpoint to the backend to fetch a list of public images from a configured container registry endpoint. Ideally supporting multiple container registry providers (we use Quay.io but I know a lot of people use Docker's offering).
-

[2016-03-09 08:17] maciaszczykm commented on #503
I'm preparing tests for replication controller details view.

[2016-03-09 10:12] maciaszczykm commented on #503
I'm preparing tests for logs view.

[2016-03-09 11:50] GertiPoppel commented on #276
@maciaszczykm Yes, this issue can be closed. Thank's a lot.

[2016-03-09 11:52] GertiPoppel commented on #145
@maciaszczykm Guess this issue can also be closed. Is related to https://github.com/kubernetes/dashboard/issues/276

[2016-03-09 11:54] #276 closed

[2016-03-09 11:55] maciaszczykm commented on #145
@GertiPoppel Thank you, closing.

[2016-03-09 11:55] #145 closed

[2016-03-09 13:09] floreks commented on #494
Unfortunately problem still occurs. I've even configured selenium server on my notebook in order to run tests on IE locally but this doesn't help as they always pass. This has to be a problem with slow machine/freezing of browser on sauce labs machines. Watching the video it looks like browser just freezes and after it unfreezes tests are couple of steps ahead.

http://saucelabs.com/jobs/f6603a1ed

[2016-03-09 14:19] floreks commented on #494
From my point of view we have few options:

1. Try to run tests on better machines on sauce labs (if it is possible). Currently IE tests are very laggy.
2. Disable tests on IE for now and hope for some fixes/IEWebDriver update that will allow tests to pass.
3. Try to find solution in order to let tests pass. (this may take a long time and there is no guarantee that this is even possible)
4. Use ou

[2016-03-09 14:47] floreks commented on #509
This sounds nice and work in the PR looks also good. Thanks! We have to wait however for @bryk to return as I'm not sure if this is in our scope for now. On hold for now :)

[2016-03-09 16:07] Seb-Solon commented on #509
No problem !

[2016-03-09 18:04] maciaszczykm commented on #509
@Seb-Solon we have currently some issues with Travis setup and integration tests fails on Internet Explorer. Due to this problem, you probably won't be able to make it green in 100% cases. We are working on this issue right now, it should be more stable within days. However, you can test it locally - there should be no problems.

We will return to it next week, when @bryk will come back.

[2016-03-10 08:42] floreks commented on #511
We were planning to add autocomplete and some support for docker, and possibly other providers but there were many other things to do and polish before release. I believe this will be implemented at some point. Maybe even in the next release. We'll know more after next planning.

[2016-03-10 08:59] maciaszczykm commented on #434
I've done pretty much investigation in this matter and it won't be easy to fix. To be honest I think we shouldn't fix it at all, because it's Firefox bug, not ours.

Firefox doesn't fully implement `<input type="number">` behaviour. It performs number validation on input field, but it doesn't filter aplha and whitespace characters. Moreover, it seems to be not only one missing thing.

I've tried t

[2016-03-10 09:09] floreks commented on #434
If this is an issue with firefox `type="number"` implementation then this should be reported in there as a bug. Forcing this workaround will make code less readable and soon we may end up with many workarounds for specific browsers that will complicate the code and lower its quality.

[2016-03-10 09:16] floreks commented on #423
I'll take a look at that.

[2016-03-10 09:56] maciaszczykm commented on #434
Adding `<ng-messages>` would require disabling default HTML5 validation with `novalidate`, and disabling `OK` button if validation result is false.

Other possible solution is adding `x-moz-errormessage="Must be positive number"`. It would create custom message for Firefox browser.

Which one seems to be more suitable for you?

[2016-03-10 11:34] taimir commented on #347
I think there has been a misunderstanding, the vagrant provider already uses dashboard.
This has been be resolved already in [this commit](https://github.com/kubernetes/kubernetes/commit/46f51d74bbaf695b2effae74d62d44ded3e7d2a9) by @bryk (`cluster/saltbase/salt/kube-addons/init.sls`, line 151). I just started a vagrant cluster and dashboard is up and running under `http://\<master\>/ui` :)

Please

[2016-03-10 12:44] taimir commented on #351
I'll pick this up of noone else has :)

[2016-03-10 13:01] bryk opened #517 "Provide release installation guide/scripts"
Since we've done the v1.0 release, we should update/alter our installation guide to this version, not (only) canary.

[2016-03-10 13:47] floreks commented on #423
Changing this https://github.com/kubernetes/dashboard/blob/master/src/app/backend/logs.go#L50
to `return err.Error(), nil` solves this issue and logs page is shown normally:

![zrzut ekranu z 2016-03-10 14-46-13](https://cloud.githubusercontent.com/assets/2285385/13671199/cc550bb8-e6ce-11e5-81be-4e25086e6c41.png)

Messages of course will differ between version so we shouldn't check for that. I'll

[2016-03-10 13:52] floreks commented on #347
That's great. Thanks for checking that. Closing.

[2016-03-10 13:52] #347 closed

[2016-03-10 21:13] cheld commented on #509
@Seb-Solon we are currently working on the future road-map of Dashboard. We want to do this together with the community. I would ask you to join this process. We will post the details after Kubecon.

Adding more Kubernetes resources like nodes, pods, jobs , deamon sets is certainly on the agenda. But we need some planning and we need input from UX-experts.

[2016-03-10 21:18] Seb-Solon commented on #509
@cheld sure no problem! What is the best way to join the conversation? On slack? Mailing-list ?

[2016-03-10 21:19] therc commented on #509
There's also #384. I didn't realise there was all this Go code involved (I assumed most of it was fancy Node stuff); in that case, I can help with the REST parts.

[2016-03-11 08:34] #434 closed

[2016-03-11 10:00] floreks commented on #324
How should we proceed with checking existence of this addon. Default skydns is installed as a DNS service.

We can check f.e. for label `k8s-app: kube-dns` but then discovery would be limited to apps deployed automatically with k8s cluster. Manual deploy wouldn't have to contain this label.

Other possibility is to scan deployed apps for pods with running skydns container however this is time cons

[2016-03-11 11:51] #481 closed

[2016-03-11 13:09] bryk commented on #396
Sounds good to close. We can create a follow up bug.

When 1.2 is out, it'll have fixed hyperkube setup. We'll be able to hook it up to all our integration test runs. Opinions?

[2016-03-11 13:13] bryk opened #520 "Developer's documentation on issue labels"
Hey, can we write developer's documentation/guide on issue labels that we have now? :) So that everything is written down.

@maciaszczykm @floreks CC

[2016-03-11 13:28] bryk opened #521 "Enable no-important css lint rule"
See discussion in: https://github.com/kubernetes/dashboard/pull/491

[2016-03-11 13:41] bryk commented on #347
I like it! Fixing bug even when you don't know this

[2016-03-12 16:40] gembin opened #523 "Pod is not show up in the dashboard if deploy via YAML file"
#### Issue details

Pod is not  show up in the dashboard if deploy via YAML file.

There are two ways to deploy a Containerized App using dashboard

* Specify app details below
    Pod is running, and shows in the dashboard (work as expected)

* Upload a YAML or JSON file
    Pod is running, but *NOT* shows in the dashboard (not work as expected)

##### Environment
[code]

##### Steps to reproduce

[2016-03-12 19:19] cheld commented on #523
Unfortunately, it is a shortcoming of the current design. We only show replication controllers. (There are many other resources we do not yet). If you use the dialog than we create a replication controller implicitly.
What about adding a replication controller to your YAML? It has many advantages (like health checks), even if you only want a single instance of the pod.

[2016-03-12 23:20] ericandrewlewis opened #524 "Add support to edit a secret resource"
I'd like to add and edit secret resources via the dashboard.

[2016-03-13 08:38] gembin commented on #523
Thanks a lot for your quick response!  I will add replication controller in my YAML.
BTW: any plan to support other resources?

[2016-03-13 08:38] #523 closed

[2016-03-14 04:51] brendandburns opened #525 "Tabbing could be better on the "create new" page"
#### Issue details
The ordering of fields when creating a new container and hitting 'tab' needs adjustment

[code]

##### Steps to reproduce
Click on the '+' to "deploy a containerized app"
Click in the first field "app name"
Hit 'tab'

##### Observed result
Move to the 'Container-image' form field below.

##### Expected result
Move to the "Learn more" link to the right.

##### Comments
I think th

[2016-03-14 10:32] taimir opened #529 "Wrong display of icons in producion"
#### Issue details

##### Environment
[code]

##### Steps to reproduce
Checkout HEAD of master branch of dashboard. If needed, run `npm install` to get the recent icons changes. Run `gulp serve:prod` to serve in production.

##### Observed result
The icons (e.g. in the deploy form) are not displayed correctly:

![dashboard_issue](https://cloud.githubusercontent.com/assets/8666527/13741745/1a3735c0

[2016-03-14 10:33] taimir commented on #529
@maciaszczykm can you take a look? Might be a problem with my setup?

[2016-03-14 10:34] maciaszczykm commented on #529
I'll check.

[2016-03-14 12:55] #525 closed

[2016-03-14 13:47] maciaszczykm commented on #529
We need to use https://github.com/google/material-design-icons/tree/master/iconfont content and place it in our assets instead of adding new bower components like I did before.

[2016-03-14 14:01] taimir commented on #529
You mean cloning into `src/app/assets`? I guess that would work. The alternative would be to actually move the `bower_components/... icon asset files ...` during the `gulp assets` task to the dist, but then the relative paths won't match in development vs. production.

I think your suggestion might well be the easier / better way.

[2016-03-15 08:28] bryk commented on #523
Yes, soon :)

[2016-03-15 09:27] floreks commented on #443
Looking on the implementation of the `EventInterface` `Search` function https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/events.go#L153
I'd say that we can not use that. It can get only events related to single object. It may be a little faster but doesn't resolve issue with making single API call to get events related to list of pods.

[2016-03-15 10:34] floreks commented on #443
I'm going through the k8s API and some issues, and it appears that there is no direct way of getting events based on list of objects. Closest solution I've found is based on these issues:

https://github.com/kubernetes/kubernetes/issues/3295
https://github.com/kubernetes/kubernetes/issues/5548
https://github.com/kubernetes/kubernetes/issues/4817

This would require grouping list of pods by matchin

[2016-03-15 11:08] bryk opened #534 "Update bower and npm deps"
Hey, greenkeeper has some hiccup for a couple of weeks and it is not updating our deps. We should do the update asap, as the longer we wait the more problems we'd have. The tool to use: https://github.com/tjunnone/npm-check-updates

[2016-03-15 11:23] floreks commented on #534
We can add gulp task to maintain these updates. I see that there is integration with 3rd party code available. What do you think?

[2016-03-15 12:12] bryk commented on #534
gulp task sounds good. Re 3rd party code: what is this? We've already been using greenkeeper, but it stopped working for some reason.

[2016-03-15 12:19] floreks commented on #534
I'm just referring to this: https://github.com/tjunnone/npm-check-updates#integration

By 3rd party code they mean gulp/grunt I guess.

[2016-03-15 12:44] bryk commented on #534
I like it. We can have a gulp task to update and a gulp check to *warn* in case of outdated deps.

Can you take this? :)

[2016-03-15 12:47] floreks commented on #534
Sure. I'll work on that.

[2016-03-15 13:29] maciaszczykm commented on #66
@bryk I think it can be closed. We can do further updates of build tools via new issues and pull requests. Do you agree?

[2016-03-15 21:08] batikanu commented on #505
First of all, we can use our existing integration test stories to measure performance or create new ones (ex. for load tests)
We can use [browser-perf](https://github.com/axemclion/browser-perf) to collect the metrics from the browsers during running integration tests and use [protractor-perf](https://github.com/axemclion/protractor-perf) to create performance checks by instrumenting existing inte

[2016-03-16 10:00] #520 closed

[2016-03-16 11:13] maciaszczykm commented on #366
I think it's almost finished. Only thing missing seems to be adding sparklines to the replication controller list cards. Am I right? Should we close this issue and create another for missing enhancement?

[2016-03-16 11:37] bryk opened #537 "Improve validation framework"
... so that it can scale for new use cases we have now. See discussions on: https://github.com/kubernetes/dashboard/pull/518

[2016-03-16 12:54] bryk commented on #366
I think that this is not that close to be finished. We need more metrics displayed on more resources (e.g., containers or nodes).

[2016-03-16 12:57] maciaszczykm commented on #366
Yes, I didn't consider containers and nodes. And there will be even more resources soon.

[2016-03-16 13:27] #503 closed

[2016-03-16 14:22] maciaszczykm commented on #427
A way to solve it is to create server endpoint returning its current time and use this time in relative time filter. However, simplest solution have obvious cons, it would check server time every time when filter would be executed. I'll try to find a way to do it once per page refresh, so we can limit requests to server,

[2016-03-16 14:23] bryk opened #538 "Update kubernetes.io/docs/user-guide/ui/ documentation"
Currently docs at http://kubernetes.io/docs/user-guide/ui/ start with "Accessing Dashboard" and explains some implementation details irrelevant to our users. Can we maybe split it into installation guide for users that do not have it? Basically we need to make it focused on beginner users.

Next, the screenshots are stale. How about updating?

[2016-03-16 14:24] bryk commented on #538
cc @GertiPoppel @cheld

[2016-03-16 14:40] bryk opened #539 "Add window_out icon to all links that open in new window"
`Learn more` links in particular:

![selection_044](https://cloud.githubusercontent.com/assets/1159999/13816114/6817ccf8-eb8d-11e5-9211-32a1fb1183f1.png)

[2016-03-16 18:43] antoineco commented on #374
I'm seeing the same error message with v1.0.0 (`gcr.io/google_containers/kubernetes-dashboard-amd64:v1.0.0`). The dashboard pod runs inside my cluster and discovers the API clusterIP just fine (10.200.0.1:443) but that's as far as it gets.

--

Request on `https://<apiserver-public-ip>:6443/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/`

[code]

Attempt using a NodePort on `ht

[2016-03-17 07:53] cheld commented on #538
On the website the UI user guide is in the section Support->Troubleshoot -> Web

I think this has legacy reasons from Kube-UI. I would suggest to move it to the user guide section

[2016-03-17 08:13] floreks commented on #494
@bryk any thought on that topic?

[2016-03-17 08:14] floreks commented on #423
@bryk what do you think?

[2016-03-17 08:44] cheld commented on #494
@floreks Can we contact saucelab support? Even if we use the free service, they should be interested in feedback about the quality of their service. We should give it a try

[2016-03-17 09:54] cheld commented on #505
We can do like in core:

https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/metrics/metrics.go

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go

[2016-03-17 09:57] cheld commented on #505
What are the scenarios we see as performance critical? Suggestions?

e.g. 100 RCs or 1000 events, or something else?

[2016-03-17 10:43] #450 closed

[2016-03-17 10:57] cheld commented on #396
I have a couple of concerns:
1. If we spin up a cluster for integration tests we can get a port clash if something is already running.
2. we would need two gulp tasks to run tests: one for local cluster and one for real cluster
3. The zero-state tests would have to run first. Typically, not so nice to expect some order in tests
4. Tests that do not clean up probably might cause follow-up tests to

[2016-03-17 11:02] Frusty opened #541 "RC details not accessible due to heapster error"
#### Issue details

[code]

##### Steps to reproduce
1. Launch a basic kubernetes cluster (1 master, 2 nodes, dns addon)
2. Create private registry RC and Service
2. Create [cluster monitoring addon] [monitor] (heapster/influxdb/grafana) RCs and Services
3. Create dashboard RC and Services
4. Browse dashboard
5. Click Registry RC card to open detail view

##### Observed result
Detail view produces

[2016-03-17 13:28] innovia commented on #374
For me it was the same issue here's how i fixed it (like above):

First get the secrets from the right namespace
[code]
Delete the default-token from the kube-system namespace

```$ kubectl delete secret default-token-7ovhb --namespace=kube-system```

Delete the replication controller from the dashboard
```$ kubectl delete rc  kubernetes-dashboard-v0.1.0 --namespace=kube-system```

Recreate the da

[2016-03-17 13:41] floreks commented on #374
Thanks for sharing this solution! We should add this to our documentation as this seems to be a common problem and solution is simple.

[2016-03-17 14:19] antoineco commented on #374
One should **always** check that the default tokens generated by Kubernetes are actually valid, especially after a new cluster installation or Kubernetes update.

One easy way to do so:
[code]

[2016-03-17 14:56] maciaszczykm opened #544 "Wrong alignment of items on deploy page"
#### Issue details

##### Environment

[code]

##### Steps to reproduce
1. Go to deploy page.
2. Show advanced options.

##### Observed result
![image](https://cloud.githubusercontent.com/assets/2823399/13849982/83a3ef80-ec58-11e5-9104-3e99d0b8bed9.png)

##### Expected result
Correct alignment of items.

[2016-03-17 15:07] maciaszczykm commented on #544
I also believe, that paddings for this page should be a little bit larger. Space between text and border seems to be smaller than on other pages.

[2016-03-17 15:27] bryk commented on #538
Yes, I agree. Do we have any spare cycles to work on this?

[2016-03-17 15:36] #539 closed

[2016-03-17 15:37] cheld commented on #538
Github pages had some problems with the case sensitive user name of Gerti. I renamed to her from GertiPoppel => gertipoppel.

@gertipoppel do you work on this?

[2016-03-18 01:47] dcgoss opened #545 "How to secure dashboard access?"
Hey guys, sorry if this has been answered before.

What is the recommended way to secure access to the dashboard? It doesn't look like there is a mechanism for login, and the `kubectl create -f` command to launch the dashboard exposes the dashboard on the node port, which is obviously fairly insecure.

[2016-03-18 09:54] bryk commented on #544
Yeah, this can be fixed by applying `layout-padding` attribute to the deploy card element. Can you do this? Should be fast & easy and fix this annoying issue.

[2016-03-18 10:09] floreks opened #546 "Styling issues on serve:prod"
#### Issue details

##### Environment

[code]

On serve prod there are some styling issues. I've removed `node_modules` and `bower_components` and did a clean install. Could you check and confirm?

PS. On serve this issue does not exist.

![zrzut ekranu z 2016-03-18 11-08-26](https://cloud.githubusercontent.com/assets/2285385/13874690/c4633ba6-ecf9-11e5-9f76-5613a9298242.png)
![zrzut ekranu z 2016

[2016-03-18 13:08] bryk commented on #511
@codegoblins Sounds just about right. I think if you have spare cycles, it is ready to be implemented. We've been planning such feature anyways :)

Are you taking this?

[2016-03-18 13:09] bryk commented on #351
I think this is P2 => still a nice feature, but not critical :) Feel free to take this :)

[2016-03-18 13:10] bryk commented on #509
Mailing list and github issue queue.

[2016-03-18 13:14] bryk commented on #324
I think we should default the DNS service discovery to what default installation has (i.e., k8s-app: foo) and allow for command line specified flag for custom selector.

I think work can be started on this and it is not blocked on anything.

[2016-03-18 13:18] bryk commented on #443
So you say that the only way to really fix this is to do this in apiserver?

How about finally start using goroutines and parallelize all API calls that we do? This would speed up things on our side a lot, I expect. It does not solve the real problem of N API calls, but just speeds up the UI. Would you mind taking a look on this? It should be a nice piece of engineering work.

[2016-03-18 13:19] bryk commented on #66
Yes, close.

[2016-03-18 13:19] #66 closed

[2016-03-18 13:20] bryk commented on #423
Sounds good to me. Ship it :)

[2016-03-18 13:22] bryk commented on #494
Saucelabs is pretty stable recently. I say either close this bug or contact sauce that it is flaky.

What do you think?

[2016-03-18 13:23] floreks commented on #443
Sounds interesting. I'll put in on my list.

[2016-03-18 13:26] bryk commented on #396
1. If we spin up a cluster for integration tests we can get a port clash if something is already running.
2. we would need two gulp tasks to run tests: one for local cluster and one for real cluster
3. The zero-state tests would have to run first. Typically, not so nice to expect some order in tests
4. Tests that do not clean up probably might cause follow-up tests to fail.

These are valid concer

[2016-03-18 13:26] #396 closed

[2016-03-18 13:32] floreks commented on #494
It's stable because we've pretty much disabled all integration tests due to IE issues. :)

You can take a look at above saucelab screencast from IE tests before they were disabled. It looks like either browser freeze or cluster freeze when deploy was clicked.

[2016-03-18 13:38] bryk commented on #541
@maciaszczykm Can you talk with somebody from your team to investigate this? Sounds like high priority bug to me.

[2016-03-18 13:40] bryk commented on #374
I say we should add this to our installation guide. It seems that many people are encountering this

[2016-03-18 13:43] Seb-Solon commented on #509
@bryk Is it https://groups.google.com/forum/#!forum/google-containers (google-containers@googlegroups.com)? Because it looks like it's more a general user list.

[2016-03-18 13:45] maciaszczykm commented on #541
Sure, I can do it next week, because I'm still a bit occupied with relative time filter and other pull request. @batikanu, maybe you could take a look?

Adding others, because they might know something about it:
@cheld @floreks @taimir @f-higashi @zreigz

[2016-03-18 13:47] bryk commented on #545
Currently if you want security you should access it via apiserver proxy, e.g., https://my-master/api/v1/proxy/namespaces/kube-system/services/kuberentes-dashboard. Or, if you run 1.2 cluster: https://my-master/ui.
Next option is if you run in, say, company network. Then you can expose service via LoadBalancer option configure your firewall to do security.

Does this help?

[2016-03-18 13:47] #545 closed

[2016-03-18 14:28] bryk commented on #546
Oops, I can reproduce this. It looks like the HTML minifier is broken. It produces bogus output.

[2016-03-18 14:29] bryk commented on #546
How about we make our bower and npm dependencies exact? And update them often?

[2016-03-18 15:43] floreks commented on #546
We should do that. This way we will have better control over external changes that can potentially break something on our side.

[2016-03-18 16:06] maciaszczykm commented on #546
All of them? Maybe better idea is to do it only for specific dependencies and keep others in current state?

[2016-03-18 18:12] preillyme opened #549 "Error running a development Kubernetes cluster with gulp task"
#### Issue details

[code]
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2016-03-18 19:42] preillyme commented on #549
I can confirm that `heapster:v0.20.0-alpha9` is running.

[code]

[2016-03-18 20:02] preillyme commented on #549
I don't seem to find that endpoint in: https://github.com/kubernetes/heapster/blob/master/docs/storage-schema.md

[2016-03-18 20:35] codegoblins commented on #511
Sure, I will take this.

[2016-03-19 01:02] wstrange opened #550 "RFE: shell into container"
This is more of an RFE than a bug

Something that would be incredibly useful is to be able to shell into a container from the GUI. This is something I do dozens of times per day.

Something like the ssh shell window that GCE provides...

[2016-03-20 08:17] cheld commented on #549
Hmm...I have an idea....are you running something on port 8080? Gulp is waiting for Kubernetes to respond on port 8080. BTW: you can run the containers directly with the script build/hypercube.sh - might simplify your debugging attempts.

[2016-03-20 15:13] preillyme commented on #549
@cheld nothing else is running on port 8080 and the services successfully start as expected. The issue is that the script is unable to parse the `404: Page Not Found` error that is encountered from `heapster:v0.20.0-alpha9` which is running on `http://localhost:8082` it appears that the script is attempting to access an endpoint that doesn't exist. Do you mind trying a fresh checkout at `commit 69

[2016-03-20 16:07] innovia commented on #374
I run my cluster locally via docker run

i noticed when I reboot the machine and start the docker run again, the dashboard is recreated because it was already running (stored state in etcd) and the token needs to be recreated along with the dashboard

[2016-03-21 07:40] cheld commented on #549
Ah ok, I see. But I cannot reproduce - kind of. The cluster starts without an error message. But a manual check of the health-check url fails...I will investigate...

[2016-03-21 09:58] #544 closed

[2016-03-21 10:37] remoe commented on #374
@antoineco, thanks for this snippet.

[2016-03-21 10:43] bryk commented on #509
There's the group: https://groups.google.com/forum/#!forum/kubernetes-sig-ui

[2016-03-21 11:02] bryk commented on #550
Thanks for reporting this feature request!

[2016-03-21 11:04] bryk commented on #549
@cheld I'm assigning this to you. Please work with @preillyme, because we really want to have dev instructions that actually work :)

[2016-03-21 11:06] #423 closed

[2016-03-21 11:07] cheld commented on #550
I would like to understand the use case better. Could you give me a hint why you shell into a container so often?

[2016-03-21 14:28] wstrange commented on #550
Debugging my container when something goes wrong. Usually during development.

I might want to see container logs (that are not currently set up to  be collected through some other means), look at configuration files, verify DNS is working, see what filesystems have been mounted, etc.

[2016-03-21 15:18] cheld commented on #549
I can reproduce now with the following steps:

gulp local-up-cluster
docker kill $(docker ps -q)
gulp local-up-cluster

[2016-03-22 04:01] ant31 opened #556 "KPM as a deploy plugin"
Hi,

I'm working on the project KPM: https://github.com/kubespray/kpm.
It's a package manager for Kubernetes, in short it allows user to template resources, declare dependencies, manage versions...
KPM has an API to generates the resources server-side, I've tryied to integrate it to dashboard.
A user can now deploy/manage a whole application stack from Dashboard-ui

I've done a 2min demo: https://

[2016-03-22 07:54] cheld commented on #556
In general I like it and we are thinking about such an integration. One concern is that multiple package managers exist and we are uncertain if we should build in dependencies to package managers into dashboard. He have not really started the discussion, yet.

I will try out KPM to get a better feeling for the workflows

[2016-03-22 09:02] #529 closed

[2016-03-22 09:17] bryk commented on #556
@bgrant0607-cc See the demo of package manager KPM integration with Dashboard UI.

[2016-03-22 09:18] bryk commented on #546
I think this is fixed. I'll take care of dependencies next.

[2016-03-22 09:19] floreks commented on #546
It's not. I've prepared a simple fix for that.

[2016-03-22 09:24] bryk commented on #546
Ouch, sorry. My fault.

[2016-03-22 09:31] #546 closed

[2016-03-22 09:35] #517 closed

[2016-03-22 09:36] #436 closed

[2016-03-22 10:05] bryk opened #559 "Revise npm and bower deps of the project"
All dependencies should be either exact or `~` to match for patch updates.

[2016-03-22 12:35] kwodzynski opened #561 "Different time in logs"
#### Issue details

##### Environment

[code]

##### Steps to reproduce
Create a new resource by a console "kubectl create -f name_of_image.yaml"

##### Observed result
Image was a created correctly, but in logs are a different times
![differenttimelog](https://cloud.githubusercontent.com/assets/18006407/13951618/7ecc42c2-f032-11e5-880b-d1c3c5bb981a.png)

##### Expected result
I think that these t

[2016-03-22 12:57] ant31 commented on #556
To try it and deploy the dashboard:
https://raw.githubusercontent.com/kubespray/dashboard/abodelot/deploy-with-kpm/src/deploy/kubernetes-dashboard-kpm.yaml

I've created the PR, it has been done as a poc to engage the discussion around such integration.

[2016-03-22 13:17] gertipoppel commented on #538
Yes, I will also update the zero state page with the link for "system applications". Will be done tomorrow.

[2016-03-22 13:59] floreks commented on #443
For now I'll prepare only concurrent  API calls for events. What I've in mind is to use goroutine with channel for simple function that calls API and push results to channel then only get them with select, merge events into 1 list and return.

This should be a good place to start: https://github.com/kubernetes/dashboard/blob/master/src/app/backend/events.go#L160

There is also possibility to proce

[2016-03-22 14:21] bryk commented on #443
Sounds perfect.

[2016-03-22 15:37] bryk commented on #561
@maciaszczykm You're into timezones. What do you think?

[2016-03-22 17:26] binarybana opened #564 "Feature request: Display Jobs"
We run lots of jobs on K8S, and it'd be awesome to see them all in the dashboard (with status, sparkline metrics etc..).

[2016-03-22 20:01] colemickens opened #565 "Run as a cluster-service?"
Should this be run as a cluster service?

If the metadata for the RC/Service were annotated with `kubernetes.io/cluster-service: "true"` then it would be treated as a cluster-service, and would appear in the output for `kubectl cluster-info`.

[2016-03-22 20:15] colemickens commented on #556
@ant31 Why does that deploy another instance of `kube-proxy`?

[2016-03-23 06:51] maciaszczykm commented on #561
In my opinion we cannot modify logs dates, messages etc. We should not touch them. Moreover, logs are not in structure containing date and message for example, we have access to raw strings only. So if dates in logs aren't matching our expectations (different timezones etc.) we should be aware of it, but I'd say we cannot do anything about it.

Regarding date in toolbar (it's pod creation timestam

[2016-03-23 07:56] ant31 commented on #556
@colemickens  kpm-backend is responsible to create/delete resources, so it has to communicate with the master. This component is independent of dashboard-ui and if fact it should live outside the pod:
[kpm-backend-rc.yaml](https://raw.githubusercontent.com/kubespray/kpm-packages/master/kubespray/kpm-backend/templates/kpm-backend-rc.yaml)

Why kpm-backend use a proxy? I followed this [k8s documenta

[2016-03-23 14:52] gertipoppel commented on #538
This issue is addressed by PR https://github.com/kubernetes/kubernetes.github.io/pull/223
@bryk @cheld
Please review

[2016-03-23 18:38] colemickens commented on #556
I see, thanks. I found an issue, but I'll file it on your dashboard repo for now, unless you'd prefer it here.

[2016-03-23 23:51] lacion commented on #541
i started seeing this today after pulling canary on kubernetes 1.2.0 running in ubuntu no cloud provider.

heapster seem to be working fine, all my mertics are in influxdb and my grafana dashboards are showing correct data.

im not seeing the Unknown Server Error, instead my dashboards takes a while to load and after about 1 minutes it shows the RC data with no metrics on them

[2016-03-24 08:20] cheld commented on #561
From a user perspective I would say the timezone in the  container should match the timezone of the system. So, maybe kublet should launch containers with something like `docker run -v /etc/localtime:/etc/localtime:ro`

[2016-03-24 08:40] kwodzynski commented on #561
@maciaszczykm, I think that the solution proposed by you is rewarding

[2016-03-24 08:52] bryk commented on #565
Yeah, makes total sense. This is already done for addon configuration [0], but not in the install guide here. Will fix.

[0] https://github.com/kubernetes/kubernetes/blob/fe269474ca0371a9fc1937046d029445898abd44/cluster/addons/dashboard/dashboard-service.yaml

[2016-03-24 09:04] bryk commented on #564
Thanks for reporting the feature request. We have this in our plans. This will happen sometime, but I've got no ETA

[2016-03-24 09:13] kwodzynski opened #571 "Incorrect sorting some columns in PODS and EVENTS views"
#### Issue details

Incorrect sorting some columns in PODS and EVENTS views

##### Environment

[code]

##### Steps to reproduce
I have correctly replication controler, I go to POD and EVENTS views, and I start sorting

##### Observed result

in POD view:
- Columns which contains the same, or empty values are sorting by name of POD - it is OK?
- Column "Status" also sorting by name of POD, althoug

[2016-03-24 10:21] ant31 commented on #556
@colemickens thanks, can you DM me on slack ?

I did a demo during the sig-configuration, and @bgrant0607 asked to continue the discussion with the ui team.
I think this integration will improve a lot first-time users experience and also gives more interest in dashboard to advanced users as it allow to upgrade and manage applications very easily.

There are issues to be addressed:
The one from @ch

[2016-03-24 10:45] kwodzynski opened #573 "Differences between displaying "Age" in the Dashboard and in a console"
#### Issue details
Differences between displaying "Age" in the Dashboard and in a console.
In web application are empty values in column "Age" when POD has status "Pending", but in console in the same situation "Age" is normally displaying

##### Environment
[code]

##### Steps to reproduce
I have correctly Replication controller and i go to PODS view. Next I type the command "kubectl get pods --a

[2016-03-24 12:14] geoand commented on #349
Greetings, I am seeing this exact same issue (even have the same ouptput from `kubectl logs <pod-name> --namespace=kube-system` ).
I have deployed the cluster on bare-metal CentOS machines.

The difference is that I am running Kubernetes 1.2.0
(the output from `kubectl version` is
`Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"5cb86ee022267586db386f62781338b048

[2016-03-24 12:37] cheld commented on #556
Yes, next Hangout meeting is 30.3.

[2016-03-24 12:54] bryk commented on #541
Try to pull v1.0.0. Just tried and works with heapster v1.0.0

[2016-03-24 13:46] geoand commented on #349
I got it to work by adding  `args: ["--apiserver-host", "http://my-ip:8080"]` to the replication controller definition

[2016-03-24 13:47] bryk commented on #349
I think you still have problems with your cluster setup, but glad that something worked.

[2016-03-24 13:52] geoand commented on #349
I'm sure you are correct, and there are deeper issues with my cluster.
Thanks!

[2016-03-24 14:45] dpratt commented on #384
I'd like to chime in for this issue as well - we almost exclusively use Deployments in our cluster, which makes the dashboard not terribly useful, unfortunately.

[2016-03-24 19:29] c1freitas commented on #384
+1 We are only using Deployments at this point.

[2016-03-24 23:28] cescoferraro opened #574 "Authentication guidelines"
#### Issue details
##### Environment

[code]
##### Steps to reproduce

i am deploying this [kubernetes-dashboard-canary](https://github.com/kubernetes/dashboard/blob/master/src/deploy/kubernetes-dashboard-canary.yaml)
##### Observed result

using the insecure port
`- --apiserver-host=http://{{ .Env.MASTER_PRIVATE }}:8080`
it works but I have no restriction to who access the dashboard.

using the s

[2016-03-25 01:18] cescoferraro commented on #374
I can access using the api-server flag Using the insecure port, but it fails with secure port because of the certificates. How do I build a new docker image so I can add the certs to the dashboard pod?

[2016-03-25 05:53] antoineco commented on #374
It is not necessary to add your client certificate, if your controller-manager was properly configured for signing tokens (with `--root-ca-file` and
`--service-account-private-key-file`) your pod was already started with a token and CA cert which the dashboard will use.

If it doesn't work out of the box it means the token is invalid or absent, see my previous comment to check out.

[2016-03-25 07:30] bryk commented on #538
Thanks! I've reviewed it and hope that docs folks will merge it soon.

[2016-03-25 07:32] bryk commented on #571
Yeah, this looks bad.

[2016-03-25 07:33] bryk commented on #571
@maciaszczykm You implemented the table. Do you know what might be wrong?

[2016-03-25 08:01] #373 closed

[2016-03-25 08:43] kwodzynski opened #576 "Differences between max lenght App name"
#### Issue details
Differences between max lenght App name in the form on the web page and in yaml/json file
##### Environment
[code]

##### Steps to reproduce
I try deploy aplication on the web page using an add form and using yaml/json file (both the web application and by commend "kubectl" in console)

##### Observed result
In the form validation approve max lenght of 24 chars for App name, but

[2016-03-25 08:54] floreks commented on #576
App name in deploy form was limited because when App is deployed service (and possibly other resources) may be created also and service name is restricted to 24 chars. We've had to limit app name to max length of resource with smallest limit.

Deploy with the file requires to directly specify resources name and this way original kubernetes limits are applied.

As for the second issue marked on the

[2016-03-25 14:02] cescoferraro commented on #374
@antoineco thanks man! I dont have the --service-account-private-key-file set, I think thats why `kubectl --namespace=kube-system get serviceaccount default -o jsonpath="{.secrets[0].name}"` return empty. Gonna try this now

[2016-03-25 16:21] cescoferraro commented on #374
As soon as I add --admission-control=ServiceAccount I cannot create any more pods.

[2016-03-25 19:25] antoineco commented on #374
Try to delete your `default-token-xxxx` secret first.

[2016-03-25 21:28] cescoferraro commented on #374
kubectl get secrets  does not return anything.
[code]

[2016-03-25 21:35] antoineco commented on #374
Have you tried using the [recommended admission control plug-ins](http://kubernetes.io/docs/admin/admission-controllers/#is-there-a-recommended-set-of-plug-ins-to-use)?

[2016-03-25 21:39] cescoferraro commented on #374
Thats what I am using. I am starting the api-server with this

[code]

[2016-03-25 21:55] antoineco commented on #374
You're using the kubelet cert for you API server, but is it a **Server** certificate with the correct SAN for your server common name and IP?

If yes, with the following controller manager flags you should be good to go :

[code]

[2016-03-25 22:08] cescoferraro commented on #374
Thats what I am doing

ExecStart=/opt/bin/kube-controller-manager \
                              --address=0.0.0.0 \
                              --master=https://${COREOS_PRIVATE_IPV4}:6443 \
                              --logtostderr=true \
                              --kubeconfig=/home/core/.kube/config  \
                              --cluster-cidr=10.132.0.0/16 \

[2016-03-27 07:56] Zhomart opened #579 "Question: Where to get username/password?"
I've got ip address of kubernetes master from `kubectl cluster-info`. I've appended `/ui` and opened on browser. Now it asks username/password, basic auth. Where to get them?

[2016-03-27 20:13] cescoferraro commented on #579
try `kubectl config view`will show the user/password you are using when using the kubectl tool.

[2016-03-27 20:24] cescoferraro commented on #374
I was having trouble with my certificates. All solved now. Now I do not need to pass the apiserver-host flag, but it does not ask for my api simple authentication.Which it was what I was expecting.

If I explicitly provide the flag, the connection to the api fail with the no root error. Which is weird because all my pods got the /var/run/secrets/kubernetes.io mounted as expected

[2016-03-27 20:27] Zhomart commented on #579
That great! Thanks @cescoferraro

[2016-03-27 20:27] #579 closed

[2016-03-29 07:12] #565 closed

[2016-03-29 07:33] bryk commented on #573
Hmm... Interesting. Marcin, take a look and triage this bug.

[2016-03-29 07:37] bryk commented on #384
Update: supporting Deployments/ReplicaSets/DaemonSets/etc is high priority for us at the moment. We have concrete plans on how to do do this. Roadmaps will be posted here in a matter of days. If you want to help us with this, let's talk :)

[2016-03-29 07:59] bryk commented on #574
@luxas Can you chime in?

[2016-03-29 08:01] bryk commented on #574
@cescoferraro When you run the Dashboard UI inside your cluster, the UI should attempt to securely connect to the master using serviceaccounts. This is our default behaviour.

[2016-03-29 08:01] floreks commented on #534
I believe this is done. Right?

[2016-03-29 08:04] bryk commented on #574
Re securing the Dashboard UI itself: at the moment you should secure it by accessing it via service proxy or through firewalled private network. We're working on IAM/auth support in the meantime.

[2016-03-29 08:05] bryk commented on #534
Yep

[2016-03-29 08:05] #534 closed

[2016-03-29 08:20] bryk opened #582 "Multi cluster support"
Tracking issue for support for multi cluster UI (aka Ubernetes) in Dashboard project.

[2016-03-29 09:04] luxas commented on #574
@bryk FYI, this PR will make local docker users more happy: kubernetes/kubernetes#23550

In this case @cescoferraro, I think you should set
[code]
as @antoineco pointed out.
And if you sign `/home/core/ssl/*` certs with `10.100.68.2` as one SAN, I think it should be OK.

[2016-03-29 09:35] digitalfishpond commented on #561
I will start looking into this now.

[2016-03-29 09:53] bryk commented on #374
I'm closing this bug. Please continue discussion if needed.

[2016-03-29 09:53] #374 closed

[2016-03-29 09:53] #447 closed

[2016-03-29 10:00] bryk opened #584 "Design and implement UX that can support all K8s resources and scale for the future"
Umbrella issue to design and implement UX that can support all K8s resources and scale for the future.

This effort was already started by one day design sprint that we had on March 23 2015: https://github.com/kubernetes/dashboard/pull/577.

[2016-03-29 10:06] kwodzynski commented on #561
Problem also occurs in other places eg. EVENT view in columns "First seen" and "Last seen". I think it is global bug in application.

[2016-03-29 11:13] maciaszczykm commented on #561
To make @kwodzynski's comment more precise, by problem we mean different timezones/times set in containers. We have to make sure if it's working correctly (time and timezones).

@kwodzynski Did you test if these dates are matching system time? What was system time during this test? I can see on screenshot, that in UI there are two dates `11:39` and `12:39`, but what was _real/valid_ time during th

[2016-03-29 12:04] cheld commented on #549
The problem was caused by:
1. Incorrect error handling
2. The health check URL was not updated after upgrading Heapster

Fixed

[2016-03-29 12:04] #549 closed

[2016-03-29 12:08] maciaszczykm commented on #573
`-` character is shown when `pod.startTime` is not provided to front-end. In back-end we take this value from Kubernetes API:

[code]

Where it's described as:

[code]

It works in most of the cases, but when we are testing it on replication controllers with bigger number of pods it doesn't return any value for some of them (usually ones, that are in pending status and won't be started soon).

I'd

[2016-03-29 12:14] maciaszczykm commented on #573
Result of `log.Print(pod.Status.StartTime);` in the back-end:

[code]

So it's not entirely our fault. `kubectl` should be an answer to this issue.

[2016-03-29 12:16] maciaszczykm commented on #573
Okay, it seems, that I've solution for this issue. We've to use `pod.CreationTimestamp` instead of `pod.Status.StartTime` to always get pod start time:

[code]

I'll create pull request soon :)

[2016-03-29 14:29] cheld opened #588 "External service checkbox is not validated"
#### Issue details
It is possible to check "Expose service externally" without selecting port.

##### Steps to reproduce
Press +
Add required fields
Leave port empty
Check "Expose service externally"

##### Observed result
No external endpoint is created. Check is simply ignored

##### Expected result

[2016-03-29 18:14] cescoferraro commented on #574
I got it all working now. I was having problems with the certificates. I was signing those with the cloudfaressl tool, now I create all with easy_rsa and leave the cffssl toolkit to generate the etcd certificates. There is something to do with the fact that kubelet expect not encrypted certificates files. Anyway.

The point I want to raise here, is that you MUST have the --basic-auth-file flag on

[2016-03-29 18:42] luxas commented on #574
@cescoferraro Yes, please start writing a doc about this and I'll review and maybe fill in some details

[2016-03-30 06:57] cheld commented on #556
@ant31 Today is SIG-UI at 18:00 CET.

[2016-03-30 07:38] digitalfishpond commented on #561
The time displayed in the toolbar matches system time. When I created kubernetes/examples/guestbook, the logs showed two hours earlier than system time (we had light-saving time change last Sunday). So the logs show time in standard GMT (not considering summer time-saving). Should we simply point this out?

[2016-03-30 07:38] bryk commented on #561
How about we display all times and dates in UTC? Or at least display timezone in the selector?

[2016-03-30 07:42] cheld opened #590 "Ports not validated properly"
#### Issue details
if one field is set the other must be set as well

##### Steps to reproduce
1. press +
2. enter required fields
3. enter target port, but not port
4. deploy

##### Observed result
service is deployed without internal endpoint

##### Expected result
I think there should be validation.

[2016-03-30 07:46] cheld opened #591 "Some ports can be specified but are not working"
#### Issue details
Ports like 1 or 65535 can be assigned, but are not working

##### Steps to reproduce
1. press +
2. enter required fields
3. enter port 1 and target port 80
4. deploy

##### Observed result
internal endpoint is not working

##### Expected result
Maybe the validation range should be decreased

[2016-03-30 07:49] digitalfishpond commented on #561
If we changed everything to UTC ( @floreks  reckons that @maciaszczykm 's latest changes with do this anyway at least in this place - there will be others), then should we add "(UTC)" after time strings? Or is this something we would simply point out in our documentation?

[2016-03-30 07:54] cheld opened #592 "No error message is shown on failed user action"
#### Issue details

There is no proper error handing in dashboard yet.
##### Steps to reproduce
1. Open two browsers
2. Press +
3. Enter same data twice
4. press deploy
##### Observed result

No reaction in second browser.
##### Expected result

Error pop-up or re-validation of form
##### Comments

Dashboard should have some kind of error handing. Our focus is strong validation, so the error shoul

[2016-03-30 08:11] bryk commented on #541
Not reproducible. Please reopen if have instruction for reproduction.

[2016-03-30 08:11] #541 closed

[2016-03-30 08:13] #453 closed

[2016-03-30 08:44] #573 closed

[2016-03-30 09:01] kwodzynski commented on #561
@maciaszczykm

Hour 12:39, which was displayed in the toolbar, was a real and valid system time, but hour 11:39 was a incorrect time (minus 1 hour)

[2016-03-30 09:08] bryk commented on #588
Oh, yeah. This should be changed.

[2016-03-30 09:09] bryk commented on #574
@cescoferraro We're aware of the issues on the Dashboard UI side. This will be fixed. No concrete ETA though.

[2016-03-30 09:37] cheld commented on #588
I will have a look

[2016-03-30 09:45] cheld commented on #576
Please make sure the mobile form factor works as well

[2016-03-30 09:46] cheld commented on #576
On logs page the name is cut without indication of dots...

[2016-03-30 11:48] maciaszczykm commented on #571
Yes.

There is a bug, someone forgot to update column ID in HTML while updating pod object members name. I'll create pull request for it.

Results seem to be same all the time in my environment, but order is not correct. I'll investigate it.

[2016-03-30 12:37] cescoferraro commented on #591
should't this range be the same as --service-node-port-range

[2016-03-30 12:43] cheld commented on #524
We have created a new UI framework concept that can be extended for resources. See:

https://github.com/kubernetes/dashboard/issues/584

[2016-03-30 14:32] #571 closed

[2016-03-30 15:36] mikedewar opened #595 "Feature request: handle Deployments"
#### Show deployments as top-level application in the UI

Using Deployments (http://kubernetes.io/docs/user-guide/deployments/) to deploy pods seems to be the recommended (but new?) approach to getting containers out in the wild. However, with the GCE dashboard UI (kubernetes-dashboard-v1.0.0 ) the Deployments don't show up as applications, only replication controllers show up.

It would be great

[2016-03-30 18:35] cheld commented on #591
thanks for the hint

[2016-03-31 07:02] amitbitcse opened #598 "POD/Container Logs not coming"
#### Issue details
Not able to view POD/Container logs.

##### Environment

[code]

##### Steps to reproduce

1. Go To Dashboard home page.
2. View details of any running application
3. Click on Logs link against a POD.

##### Observed result

A new browser window opens up and list of Pods and Container are populated; however logs are not showing.
Also, getting below error on browser console.

_Er

[2016-03-31 07:35] bryk commented on #595
We have this on our roadmap, which will be formalized on GitHub in a matter of days.

We already started design work on this in #589.

Btw, you're strongly encouraged to contribute to help us with the support of deployments.

[2016-03-31 08:35] bryk opened #600 "Release v.1.0.1"
Recently we've done a bunch of bugfixes and small features. How about we do a patch release?

[2016-03-31 08:38] bryk commented on #600
@maciaszczykm @floreks How about one of you do this? You should have all permissions needed. This is a nice opportunity for visibility and I don't want to be a single point of failure for doing releases :)

[2016-03-31 08:41] maciaszczykm commented on #600
Should we do it now?

[2016-03-31 08:42] bryk commented on #600
Yeah, I say yes.

[2016-03-31 08:43] floreks commented on #600
That's fine. We can also do that :) Maybe we should wait for events fix to go in and then release?

[2016-03-31 08:44] bryk commented on #600
Of course. If you think events fix will go in soon, then let's wait.

[2016-03-31 12:22] #402 closed

[2016-03-31 12:23] floreks commented on #443
Fixed

[2016-03-31 12:23] #443 closed

[2016-03-31 12:24] #600 closed

[2016-03-31 14:53] rata commented on #595
@bryk is this expected soon and can maybe be included in a kubernetes 1.2.x release?

[2016-04-01 07:26] maciaszczykm opened #606 "Cannot push images to GCR"
#### Issue details
##### Environment

[code]
##### Steps to reproduce

1. Prepare new release
2. Try to push images with new release to GCR using `gulp push-to-gcr:release` command.
##### Observed result

[code]

But there is no new image in GCR.
##### Expected result

New image should be available in GCR.
##### Comments

When I've tried to push images manually then after installing gcloud (there

[2016-04-01 07:27] maciaszczykm commented on #606
Moreover, `gulp push-to-gcr:release` seems to be out of date and not working correctly. Some variables, that are used by it don't exist anymore.

[2016-04-01 07:58] bryk commented on #606
I think that we should configure our CI system to do the pushes on every release and successful build. Everything else is error prone.

[2016-04-01 10:31] #537 closed

[2016-04-01 10:46] #598 closed

[2016-04-01 11:29] bryk commented on #595
No sooner than a month from now, but definitely for some of 1.2.x releases

[2016-04-01 21:30] cescoferraro opened #610 "gulp build fails"
#### Issue details

##### Environment
[code]

##### Steps to reproduce
gulp build
[code]

[2016-04-01 21:42] cescoferraro commented on #610
i messed something up while browsing the code.
git stash solved it

[2016-04-01 21:42] #610 closed

[2016-04-04 08:13] digitalfishpond commented on #561
Does anyone have an objection to making all times throughout the application UTC, and adding 'UTC' as a suffix to all time strings?

[2016-04-04 08:19] digitalfishpond commented on #561
Little rectification. Time stamps in logs are not in UTC, they are in GMT. I made a mistake earlier. Time saving is considered. logs generated at 8:00 UTC show 9:00 in the logs, and the toolbar shows the system time. So my previous question should read:
"Does anyone have an objection to making all times throughout the application GMT, and adding 'GMT' as a suffix to all time strings?"

[2016-04-04 10:44] floreks commented on #591
@cescoferraro Node port for the service is autogenerated as you can see [here](https://github.com/kubernetes/kubernetes/blob/421249785d15fb7af203a34fd3054a4765b96b67/pkg/api/v1/types.go#L1862).

We are actually setting here target port which according to the [documentation](https://github.com/kubernetes/kubernetes/blob/421249785d15fb7af203a34fd3054a4765b96b67/pkg/api/v1/types.go#L1852) is in range

[2016-04-04 13:13] cheld commented on #561
That logs are stored in GMT seems reasonable. Adding GMT seems ok for the moment. But, I am not sure if this is user-friendly... You may ask your logging neighbours how it is handled in Kibana and Monasca.
BTW: what about all other times in Dashboard? Must they be adapted as well?

[2016-04-04 14:09] digitalfishpond commented on #561
On the details page, under the 'EVENTS' tab, there is a 'First seen' and 'Last seen' category that uses system time.
Also, the 'age' value on cards is based on system time.
It seems to me that if we adapt one, we should adapt them all, unless we decide to specify time-zones which may (or may not) be a clunky solution...
Further news: Google shows GMT to be equal to UTC (no light-saving considered

[2016-04-05 03:24] maty21 opened #615 "Feature request: an ability to open terminal on each pod from the dashboard"
sometimes it is really hard to investigate where are the problems without accessing to the container with bash

imo it will be very useful if the option  to open terminal from the dashboard  will be available like other dashboards such as fabric8 for example

tks

[2016-04-05 05:45] floreks commented on #615
Duplicate of #550.

Please follow the discussion there. Bash/SSH/Exec is part of the design for new dashboard version.
https://github.com/kubernetes/dashboard/blob/master/docs/design/mockups/23-03-2016-scale-and-navigation/pod-details-page-ssh.png.

Also we have open PR with discussion about new design. You are welcome to join: https://github.com/kubernetes/dashboard/pull/589

[2016-04-05 05:45] #615 closed

[2016-04-05 06:28] cheld commented on #592
Remark: I have not tested, but I assume that any server error is not handled. Also, I assume not only this action, but any place in Dashboard does not handle errors. I think the only exception is deploy from file

[2016-04-05 07:41] digitalfishpond commented on #561
I made some stupid mistakes yesterday. Here are the rectifications:
Logs feature time stamps ending with a 'Z'. This means 'Zulu Time' which is equivalent to UTC and also to GMT. So this information is already present in the logs which don't need to be / shouldn't be touched.
@floreks and @maciaszczykm both believe (as I do), that we should have all times throughout the application standardised to

[2016-04-05 11:56] digitalfishpond commented on #561
@bryk @cheld Does anyone have any objection to moving to a 24 hour format rather than the current AM/PM format that is default to the 'short' format currently in use in the UI? It would look less cluttered with the UTC suffix following it...

[2016-04-05 13:03] bryk commented on #561
Hmm.. Re 24h format. Can we make this locale dependant? I.e., for en_UK do 24h and for en_US do AM/PM? This is because people in the US really only use AM/PM format.

[2016-04-05 13:15] cheld commented on #561
So, let's Kubernetes is run in California. It is 7 am in the morning. A container is deployed. Then the UI would say the container is running since 2 PM UTC...right?

In this case I would say it is user unfriendly anyway and 14:00 UTC seems the better choice

[2016-04-05 13:20] #559 closed

[2016-04-05 13:42] digitalfishpond commented on #561
(copied over from #617)
I think that AM/PM and UTC is just too much. How about I remove the 'UTC' suffix, and we add a comment in the documentation that all times in the UI are UTC? I can still make the 12/24 hour format locale dependent, but keeping both will look pretty cluttered in the US version I think.
eg. Last seen at: 5/4/16 12:16 PM UTC

[2016-04-05 13:42] digitalfishpond commented on #561
@bryk does have a point that the US (and the UK, btw) generally prefer the 12hour clock, so what would be user-friendly generally internationally wouldn't seem user-friendly in the US and vice-versa. What do you think about dropping the UTC suffix altogether though?

[2016-04-06 10:44] digitalfishpond commented on #561
I have found this article about ISO 8601 (international standard date and time notation):
https://www.cl.cam.ac.uk/~mgk25/iso-time.html

It states that dates should be in format yyyy-MM-dd and times as HH-mm-ss followed immediately by the letter z to signify utc/zulu-time. The question is now: should ISO 8601 apply to our UI?

[2016-04-06 13:36] bryk commented on #561
Suffixing with UTC seems good enough to me.

[2016-04-06 13:38] bryk commented on #561
Re AM/PM and 24h: Yeah, let it be. I'm for 24h format.

[2016-04-06 15:19] Morriz commented on #384
+1

[2016-04-06 17:16] aabed opened #620 "Can't open dashboard on public IP"
#### Issue details
I can't access the dashboard running on
Get https://<REALIP>:443/api/v1/replicationcontrollers: x509: failed to load system roots and no roots provided

##### Environment
CoreOS on Azure
using the getting-started scripts

[code]

##### Steps to reproduce
using the kubernetes-dashboard.yml file on the repo
just edited the  - --apiserver-host=https://<REALIP>:443

##### Observed r

[2016-04-06 23:02] oO-Zam commented on #384
We've also migrated everything to Deployments, and happen to be using Node/Angular/Angular-Material for our internal Admin UI as well. Open to contributing.

[2016-04-07 06:21] digitalfishpond commented on #561
ok, I think that's what's currently in the PR #617

[2016-04-07 07:11] kwodzynski opened #622 "No possibility of deploying applications when "Run as privileged" is enabled"
#### Issue details
No possibility of deploying applications when "Run as privileged" is enabled

##### Environment

[code]

##### Steps to reproduce
I try deploy app by a form
I fill in all of required fields and check checkbox "Run as privileged"

##### Observed result
App is not deploying and in browser's console I see error:
[code]

##### Expected result
I should have the possibility deploying

[2016-04-07 07:36] cheld commented on #622
Have you tried the same action using CLI?

hmm..unfortunately this option is not available with "kubectl run". You must use kubectl create -f...

[2016-04-07 07:39] floreks commented on #622
This is actually issue with error handling. API server responds with error `Forbidden: disallowed by
policy`. This means probably that kubelet or api-server don't have privileges to create app with administrative privileges.

[This](http://stackoverflow.com/questions/34776060/kubernetes-privileged-container-in-linux-docker-multinode-cluster) and https://github.com/kubernetes/kubernetes/issues/391

[2016-04-07 07:59] bryk commented on #620
This is most likely a problem with your configuration. I.e., you have invalid certificates. Take a look at the issue and tell us whether this helps: https://github.com/kubernetes/dashboard/issues/374

[2016-04-07 08:22] digitalfishpond opened #625 "ellipsis on long name not applied on window re-size"
##### Issue Description
on details page, when starting with a small-sized window, when increasing the window size to the point of triggering the full-sized UI, the ellipsis is not applied to the app name.

##### Environment
Dashboard version: 1.0.1
Kubernetes version: v1.2.0
Operating system: Ubuntu 15.10
Node.js version: v5.9.1
Go version: 1.5.3
Browser: chrome, firefox, IE

##### Steps to reprod

[2016-04-07 08:24] digitalfishpond commented on #625
will add screenshots in a moment

[2016-04-07 08:25] bryk commented on #625
@floreks Should be easy to fix. Just set up $watcher on the size and remove one time bindings. What do you think?

[2016-04-07 08:26] floreks commented on #625
Yep, this should fix it. Will take a look.

[2016-04-07 08:52] aabed commented on #620
I have been in there for a while, tried all the solutions mentioned there ,
and nothing worked
On Apr 7, 2016 9:59 AM, "Piotr Bryk" <notifications@github.com> wrote:

[2016-04-07 09:05] floreks commented on #622
For local tests just run `sudo PATH=$PATH ALLOW_PRIVILEGED=true ./hack/local-up-cluster.sh`. This will allow creation of privileged apps.

[2016-04-07 10:31] bryk commented on #620
The getting started scripts are known to not-work-that-good for Azure. I bet this is something wrong with certs.

@luxas do you have any pointers for @aabed ?

[2016-04-07 13:33] aabed commented on #620
@bryk can you recommend another way to deploy it, rather than the getting started scrips?

[2016-04-07 14:12] bryk commented on #384
@oO-Zam Can you help us with work on Deployment list/status/detail pages?

[2016-04-07 14:39] SimoTabtaoui commented on #484
pease @marcolenzo can you describe how did you solve the probleme. actually i run kubernetes on mesos and and the dashbord dont work
[code]
if the solution is to modify --apiserver-host=http://my-address:port how can i do that, and in wich port please ?

[2016-04-07 22:20] AlainRoy opened #628 "Need help configuring dashboard correctly"
I'm developing a new kube-up implementation for VMware's Photon Controller. While the basics work fine (I can deploy pods and services), I can't get the UI to work. I have the same symptom as in Issue #374. That is, when I connect to the UI through my web browser, I get an error that it can't connect to localhost:8080. If I pass --apiserver-host, I get an error like:

`Get https://10.146.37.191/ap

[2016-04-08 03:13] AlainRoy commented on #628
After some research, I think the answer might be:

- The dashboard uses a service account with a service account token
- It assumes that the kubernetes apiserver has been configured with the ServiceAccount admission control. This will mount a volume that contains a file (/var/run/secrets/kubernetes.io/serviceaccount/token) with the service account token.
- Unless the dashboard has been started wit

[2016-04-08 06:07] bryk commented on #484
@SimoTabtaoui How do you install the UI? There's the YAML install file that you can use in `kubectl create -f` https://github.com/kubernetes/dashboard/blob/master/src/deploy/kubernetes-dashboard.yaml.
Then, inside the file, there is instruction on how to specify `--apiserver-host`

[2016-04-08 06:13] bryk commented on #628
This is all correct. The code we use is kubernetes client package located at: https://github.com/kubernetes/kubernetes/blob/dae5ac482861382e18b1e7b2943b1b7f333c6a2a/pkg/client/unversioned/clientcmd/doc.go

Can you help us adding this to the documentation? Or fixing the initialization phase to automatically start on your setup?

Do other addons, like Heapster, work out of the box?

[2016-04-08 08:46] bryk opened #629 "Add angular.$transclude to angular externs"
It is missing there and I'm using it. Logging issue to fix it.

[2016-04-08 09:51] bryk opened #630 "Implement card tabularized layout framework"
As specified in https://github.com/kubernetes/dashboard/pull/589

The framework should be usable by all clients and all resource types.

[2016-04-08 11:08] cheld commented on #622
I think just the normal error dialog should show the server message. Good enough. So, I would suggest to say this is duplicate of #592

[2016-04-08 11:12] cheld commented on #622
thanks for investigation.

@maciaszczykm how can I mark bugs as duplicate?

[2016-04-08 11:28] maciaszczykm commented on #622
@cheld There is a __duplicate__ label, just assign it.

[2016-04-08 11:29] #622 closed

[2016-04-08 11:54] cheld commented on #591
Finally, I had some time to retest properly. Issue is nonsense. Port 1 and 65536 works fine when testing properly....

[2016-04-08 11:54] #591 closed

[2016-04-08 13:04] bryk commented on #620
To Azure? I don't know, I'm not expert in this matter.

I know, however, that hack/local-up-cluster.sh config works with Dashboard. See https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh

[2016-04-08 15:43] AlainRoy commented on #628
I'm fixing my setup. I think it'd be useful to document as well, so other people can figure it out more easily.

I'm happy to write some docs on it: where would you suggest they go, exactly?

[2016-04-10 08:40] marcolenzo commented on #74
Excuse me if I bump this old discussion. Is the decision of not supporting deployments still holding?

[2016-04-11 02:46] cescoferraro opened #634 "Material design replication controller list"
### should not this
![image](https://cloud.githubusercontent.com/assets/6259987/14415483/06ee989c-ff76-11e5-882b-3ab1563fcd0a.jpg)

### Follow  Google material design rules?

![image](https://cloud.githubusercontent.com/assets/6259987/14415484/06ef87b6-ff76-11e5-958e-ddb3dd0bf879.jpg)

[2016-04-11 07:55] bryk commented on #74
Deployment resources? The ones from here: http://kubernetes.io/docs/user-guide/deployments/

We'll support them soon.

Deployment manager/helm (https://github.com/kubernetes/helm): this is unknown yet.

[2016-04-11 07:58] bryk commented on #628
Awesome, thank you! In this repository it is best to put is in `docs/user-guide/foo.md`. `foo.md` may be `troubleshooting.md`, `certificates.md`, or `installation.md`. Depending on the scope of your contribution :) I'll let you chose this. Just use common sense.

[2016-04-11 08:00] bryk commented on #634
We're migrating from the concept of cards :) See and comment our proposal at https://github.com/kubernetes/dashboard/pull/589

[2016-04-11 08:00] bryk commented on #634
Should we close this? Or is there something more to discuss?

[2016-04-11 08:28] cheld commented on #506
we track externaly

[2016-04-11 08:28] #506 closed

[2016-04-11 09:01] marcolenzo commented on #74
Yeah I was referring to the Kubernetes Deployments. Thanks a lot for the info!

[2016-04-11 10:06] kwodzynski opened #635 "Adding statement validation for empty " Namespaces " for Service when try deploy app by yaml file"
#### Issue details
##### Environment

[code]
##### Steps to reproduce

I try deploy app by yaml file in which there values "Namespace" are empty for Service and supplemented for Replication Controller (namespace are not exist)
##### Observed result

Message appears: "namespaces "test" not found" but service was created without Replication Controllers.
At the next attempt deploy the same yaml file

[2016-04-11 11:45] kwodzynski opened #636 "Too wide DIV with chechkbox "Expose service externall""
#### Issue details

##### Environment

[code]

##### Steps to reproduce
I try deploy app by form. Accidentally I click on white field on right side under all of captions.

##### Observed result
I have checked checkbox "Expose service externall". Next click causes unchecking that box. etc.
![zrzut ekranu z 2016-04-11 13-42-03](https://cloud.githubusercontent.com/assets/18006407/14425963/93c63b4c-ff

[2016-04-11 12:00] cescoferraro commented on #634
@bryk all right!

[2016-04-11 12:00] #634 closed

[2016-04-11 12:16] kwodzynski opened #637 "Incorrect links in form"
#### Issue details

##### Environment

[code]

##### Steps to reproduce
I checked all of link "Learn more" in the form to deploy app. 2 of them are incorrect.
##### Observed result
![zrzut ekranu2](https://cloud.githubusercontent.com/assets/18006407/14426290/4adb3128-ffee-11e5-9197-af7143a26030.png)

1. http://kubernetes.io/v1.1/docs/admin/limitrange/
After click We are moving on page which doesn'

[2016-04-11 12:35] kwodzynski commented on #637
Hmmm maybe it: http://kubernetes.io/docs/user-guide/services/#environment-variables
or am I wrong? Can someone check it, please?

[2016-04-11 13:46] bryk commented on #506
Will you share results?

[2016-04-11 14:39] SimoTabtaoui commented on #484
very big thanks @bryk . It worked.

[2016-04-12 05:48] kwodzynski commented on #635
BTW I think we should consider the issue of adding capabilities create new namespace during deploying app by yaml/json file (for example beneath "YAML or JSON file" input). Such as option exist when deploy app by form.

[2016-04-12 06:14] #484 closed

[2016-04-12 06:18] bryk commented on #635
Yes, I like the idea.

[2016-04-12 07:16] bryk commented on #636
I think this should be confined to left pane. I.e., the width should be as in all other inputs. Do you agree?

[2016-04-12 07:26] kwodzynski commented on #636
Yes, I think it will be fine

[2016-04-12 08:00] digitalfishpond commented on #636
I will implement this today

[2016-04-12 11:58] sgrimee opened #642 "403 errors on some resources"
#### Issue details
From the dashboard, clicking View Details on some RC gives back a 403 Unauthorized error, while it works for most others.

##### Environment
[code]

##### Steps to reproduce
1. launch kubectl proxy
2. open http://localhost:8001/ui
3. select a RC and click on the ... symbol, then on 'view details'

##### Observed result
For some RC, it gives a blank page with 403 unaothorized err

[2016-04-12 12:00] #636 closed

[2016-04-12 12:03] cheld commented on #637
Yes, links should have no version number.

@gertipoppel what is the second link?

[2016-04-12 12:23] digitalfishpond commented on #637
I've got the second link: https://github.com/kubernetes/kubernetes/blob/master/docs/design/expansion.md
I will make a PR in a few minutes with a fix

[2016-04-12 12:35] digitalfishpond commented on #637
I have the second link: http://kubernetes.io/docs/user-guide/configuring-containers/#environment-variables-and-variable-expansion.
I have also noticed that many of our URLs feature 'kubernetes.github.io'. this should be shortened to 'kubernetes.io' (the url actually featured on the pages, I guess the .github version redirects)
I will make a pool request with this fix in a few minutes.

[2016-04-12 12:56] cheld commented on #637
Gerti is not in office.

In this bug doesn't it mention either:
https://github.com/kubernetes/dashboard/issues/276

I think @digitalfishpond is best (not perfect though)

[2016-04-12 14:00] bryk commented on #637
Closed?

[2016-04-12 14:00] #637 closed

[2016-04-12 18:07] arjunm183 opened #645 "BareMetal Kubernetes dashboard setup"
#### Issue details
I want to access kubernetes dashboard for my baremetal kubernetes cluster. I have already setup kubernetes cluster and i am able to view my nodes . I want to view it through dashboard and see how can i deploy applications.
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2016-04-13 06:25] cheld commented on #645
What exactly is the problem? A bare metal setup is not different to any other setup.

Have you deployed dashboard?

What happens if you access https//<master-ip>/ui?

[2016-04-13 06:35] arjunm183 commented on #645
Hello,

Thanks for the reply buddy

I have installed installed kubernetes as follows

Master Node:

Kubernetes-master
Kubernetes-client

Client Node:
Kubernetes-node
Kubernetes-client
Services are running and I am able to see the nodes when I use kubectl get nodes

And I don’t have a kubernetes dashboard addon. But however I have downloaded the kubernetes from the kubernetes official repository an

[2016-04-13 06:44] maciaszczykm commented on #645
@arjunm183 Image doesn't display.

Regarding installation instructions please take a look at https://github.com/kubernetes/dashboard/blob/master/README.md and let us know if something doesn't work after going through it.

[2016-04-13 06:46] arjunm183 commented on #645
OK Here we go. This is what was on the image I attached.

hostname:~/kubernetes/cluster # ls
OWNERS     cloudimages        images        kube-util.sh    mesos                test-network.sh            vsphere
README.md  common.sh          juju          kubectl.sh      options.md           test-smoke.sh
addons     gce                kube-down.sh  kubemark        ovirt                ubuntu
aws

[2016-04-13 07:02] bryk commented on #642
Hmm... Do you have any custom security/user control configured for your cluster? Maybe you really cannot access some resources?

[2016-04-13 07:06] bryk commented on #642
However, I'm nearly sure that this is caused by: https://github.com/kubernetes/kubernetes/issues/21464

Basically, the apiserver proxy rejects all calls that have `run`, `exec`, etc. in the URL... Can you +1 the linked issue or fix it?

[2016-04-13 07:31] maciaszczykm commented on #645
@arjunm183 Existence of dashboard files doesn't mean, that dashboard is deployed in the cluster. Like it's written in README.md:

kubectl create -f https://rawgit.com/kubernetes/dashboard/master/src/deploy/kubernetes-dashboard.yaml
kubectl proxy --port=9090
[code]

[2016-04-13 07:48] sgrimee commented on #642
@bryk you are right! This happens only for RC whose name starts with 'attach', and that is one of the strings filtered by [this regex](https://github.com/lavalamp/kubernetes/blame/e68ea9e8d480240ad5bbbb98e0cc83fa51a37c79/pkg/kubectl/proxy_server.go#L38)

Thanks a lot!

[2016-04-13 07:48] #642 closed

[2016-04-13 08:05] maciaszczykm commented on #645
@arjunm183 To get all replication controllers from the cluster you can use following command:

[code]

And then add dashboard:

[code]

[2016-04-13 08:35] arjunm183 commented on #645
Hello Marcin,

I agree with you , however I have doubt that when I try to use the kubernetes-dashboard.yaml file it says the line

image: gcr.io/google_containers/kubernetes-dashboard-amd64:v1.0.1

where the image is pulled from. Is there a way that I can pull the image to my local registry and create the service then view the dashboard like how you said.

Thanks and Regards,
Arjun Murugan
From: M

[2016-04-13 14:05] maciaszczykm commented on #645
And why do you need it locally? Is it due to some proxy/firewall issues? I'm not sure if we have these images available to download elsewhere. Still you can build them manually from this repository if you really need it.

[2016-04-13 14:15] cheld commented on #645
`docker save <bla>`

[2016-04-13 16:05] arjunm183 commented on #645
Thanks for the reply Marcin. Can you let me know how do I “ build them manually from this repository if you really need it”

How do I build it manually from the repository.

Thanks and Regards,
Arjun Murugan
From: Marcin Maciaszczyk [mailto:notifications@github.com]
Sent: Wednesday, April 13, 2016 7:35 PM
To: kubernetes/dashboard
Cc: Murugan, Arjun (623)
Subject: Re: [kubernetes/dashboard] BareMet

[2016-04-14 00:03] AlainRoy commented on #628
I wrote some docs. I would have written something with a larger scope, but I don't yet know enough. I'm happy to tweak this in any way that you want, so it fits into the existing docs well. I hope this helps.
https://github.com/kubernetes/dashboard/pull/648

[2016-04-14 07:16] digitalfishpond commented on #588
What would be ideal here?

To grey out the check box until a port has been defined? or to have a ng-message under the checkbox or under the port on click of the Deploy button if the checkbox is checked and no port is defined?

I personally think that 'A port must be defined to expose service externally' under the checkbox would be the best option because it _shows_ the user the condition they have

[2016-04-14 07:24] #628 closed

[2016-04-14 07:32] bryk commented on #588
I like this a lot :)

[2016-04-14 07:33] #625 closed

[2016-04-14 07:44] digitalfishpond commented on #588
@cheld, have you had a chance to look at this, or can I fix?

[2016-04-14 08:01] cheld commented on #588
I started to look at it.

[2016-04-14 08:03] digitalfishpond commented on #588
Ok :)

[2016-04-14 08:17] #561 closed

[2016-04-14 08:17] digitalfishpond commented on #448
This no longer seems to be reproducable since @bryk fixed #644
@f-higashi, can you still reproduce?

[2016-04-14 08:29] cheld commented on #538
I also reviewed it a while ago

[2016-04-14 09:42] f-higashi commented on #448
good.
I cannot reproduce this issue.
I close this issue.

[2016-04-14 09:42] #448 closed

[2016-04-14 10:21] gertipoppel commented on #538
@bryk @cheld  This can be closed now... Finally merged :)

[2016-04-14 10:52] digitalfishpond opened #650 "Required Details page for Pods"
#### Details page must be designed and implemented for Pods according to this basic design: https://github.com/kubernetes/dashboard/blob/master/docs/design/mockups/23-03-2016-scale-and-navigation/pod-details-page-overview.png

[2016-04-14 10:54] digitalfishpond commented on #650
@floreks is currently working on the design for the details page for RC, and this view must be consistent with @floreks ' work, so I will start by implementing a new API handler on the backend

[2016-04-14 10:58] cheld commented on #538
fine

[2016-04-14 10:58] #538 closed

[2016-04-14 11:23] floreks opened #651 "Implement details pages for resources"
Here we can track which detail pages should be implemented and what is the current status:

Template: `<Resource name> (<related issue nr>) - <Status> - <Assignee>`
- [x] Namespace (P2) - In progress - @maciaszczykm
- [x] [Pod](https://raw.githubusercontent.com/kubernetes/dashboard/master/docs/design/mockups/23-03-2016-scale-and-navigation/pod-details-page-overview.png) (#650) (P0) - PR: #740 - @d

[2016-04-14 11:47] bryk commented on #538
Awesome :)

[2016-04-14 11:49] bryk commented on #651
I think yes. We'll be having lots of discussions about specific pages, I expect.

[2016-04-14 11:49] bryk commented on #651
I like this  :)

[2016-04-14 11:50] bryk commented on #651
@floreks @digitalfishpond Can you please design this in such a way that we can reuse as much as possible for other pages? Can you both sync on this and propose a plan?

[2016-04-14 11:55] kwodzynski commented on #351
I checked how Dashboard cope with large number of lines in logs (Ubuntu 15.10, Mozilla Firefox 45.0.1, Google Chrome 49.0.2623.112). In the table below I have given time elapses from the start of generating logs to their completion. Left column - amount of log lines, top row - where logs were generated

<table border=1 style="text-align: center;">
<tr>
 <td style="padding: 0 5px 0 5px"></td> <td s

[2016-04-14 11:59] floreks opened #652 "Implement details page for RC"
This issue is about creating view based on this mockup.
![image](https://cloud.githubusercontent.com/assets/2285385/14527227/cac9e5da-0248-11e6-8ce6-5d39519a37a5.png)

[2016-04-14 14:26] cheld commented on #351
Nice test.

I think from a user perspective, I would like to see the last 10000 logs (or even less) and have a download link for all logs. Not sure about the format of the file. I think txt is fine. I don't know if this can be implemented.

[2016-04-14 20:11] yissachar opened #654 "Accessing pod logs results in 503 error when logs are large"
I have a pod that generates a large amount of logs. I can access it for a short while after it starts, while the logs are not yet so large. However, after a short period of time it seems the logs become too much for the dashboard to handle and I receive the following error:

[code]

I can access the pod logs with `kubectl` with no problems:

`kubectl logs mypod-v10-ptul8`

[2016-04-15 06:27] bryk commented on #351
Hmm... How about pagination or progressive loading? This would solve the problem

[2016-04-15 06:42] kwodzynski commented on #351
I think that pagination would be a better solution. What do you think?

[2016-04-15 07:09] cheld commented on #351
I guess, from user perspective I would prefer progressive loading, because it would be better to search with CTRL-F. But I assume after 5 times loading 10000 items, the script would crash again?

[2016-04-15 13:11] maciaszczykm commented on #645
@arjunm183 Could you please tell why do you need to build it on your own?

To build images by yourself you should use gulp tasks from `build/deploy.js`, for example:

[code]

[2016-04-18 06:28] bryk commented on #351
The logs viewer should show N log lines at a time, with pagination. N may be high (like 1k or 10k). For real searching we need a backend-based search box, because CTRL+F is suboptimal when you have lots of logs.

[2016-04-18 06:58] cheld commented on #654
Is this duplicate?

https://github.com/kubernetes/dashboard/issues/351

[2016-04-18 09:20] #427 closed

[2016-04-18 11:30] fvdcx opened #657 "dashboard cannot show all namespaces"
#### Issue details

##### Environment
[code]

After I start kubernetes cluster, dashboard pod is already running by default. And I did not configure dashboard specially.

When I visit `ip:port/ui`, redirecting to `ip:port/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/replicationcontrollers`,but it only shows kube-system namespace pods, I cannot see default namespace pods or a

[2016-04-18 12:33] ApsOps commented on #657
I believe that url says `kube-system` since dashboard exists in that namespace. That doesn't mean it will only show pods in that namespace.
Are you sure there are other ReplicationControllers or ReplicaSets? what does `kubectl get rc --all-namespaces` say?

[2016-04-18 12:45] bryk commented on #657
I'm 100% sure that we show RCs from all namespaces. Maybe you have dangling pods?

[2016-04-18 13:04] ApsOps commented on #657
@bryk BTW it doesn't show ReplicaSets (or deployments) yet, right?

[2016-04-18 13:08] bryk commented on #657
Correct. ReplicaSets will be show soon.

[2016-04-18 14:53] yissachar commented on #654
Looks like it is 👍

[2016-04-18 14:53] #654 closed

[2016-04-19 01:08] fvdcx commented on #657
In dashboard [Usage](https://github.com/kubernetes/dashboard#usage), It seems that default path `https://<kubernetes-master>/ui` will redirect to `kube-system` namespace:

@bryk

[2016-04-19 06:11] bryk commented on #657
@fvdcx That's correct. The Dashboard UI lives in `kube-system` namespace, but it shows things from *all* namespaces.

[2016-04-19 07:54] #590 closed

[2016-04-19 12:01] maciaszczykm opened #659 "Details page for services"
I'll take care of implementation of details page for services. Generic details page template:

![Design template](https://github.com/kubernetes/dashboard/blob/master/docs/design/mockups/23-03-2016-scale-and-navigation/details-page-template.png?raw=true)

[2016-04-19 13:33] bryk commented on #659
All right. Can we discuss concrete proposal? Can you mock it out or prototype? I.e., tell what is going to be displayed in overview pane, what related objects will be there (semantics), etc.

[2016-04-19 13:53] maciaszczykm commented on #659
Yes, I can do that. I wanted to start with backend to retrieve services and then iterate.

[2016-04-19 14:13] Linuxing commented on #484
@SimoTabtaoui  谢谢

[2016-04-20 07:41] kwodzynski opened #662 "RC details page loads slowly when there are a lot of events"
#### Issue details

##### Environment
[code]

##### Steps to reproduce
I had generated a large number of events in short period time

##### Observed result
Load time RC detail page is very long (for 10000 events time load is over 60 s), more then 10000 events crashes script. Moreover I've seen that command "kubectl get events ..." displaying all of events (node and pods) but in Dashboard we may se

[2016-04-20 09:20] maciaszczykm commented on #662
For replication controllers we are loading events connected to them and to their pods, nodes are skipped.

@kubernetes/dashboard-maintainers Do you think that we need to load events connected to nodes? At the moment I'm not even sure how this should be done, but it seems, that `kubectl get events` offers that functionality.

IMHO it is not our fault that script in browser was crashed.

Yes, we alr

[2016-04-20 11:42] bryk commented on #662
I think not. For RCs show Pod and RC events. What do you think?

[2016-04-20 12:03] maciaszczykm commented on #662
@bryk I agree, then we can close this issue and work on pagination it #351.

[2016-04-20 13:32] maciaszczykm commented on #645
It seems, that problem is resolved.

@arjunm183 Let us know if you need any more help.

[2016-04-20 13:32] #645 closed

[2016-04-21 06:46] romanek-adam opened #665 "The dashboard's Service disappears on k8s-1.1.7 due to kube-addons.sh"
#### Issue details
I followed the instructions from the README, i.e.:
[code]
and managed to open the dashboard.

After a few minutes the dashboard became inaccessible.

It turned out the dashboard's k8s Service disappeared from the cluster.

I searched all the logs and found out that it's kube-addons.sh fault. Here's what I found in `/var/log/syslog`:
[code]

While I understand that it's not the d

[2016-04-21 06:57] bryk commented on #665
Yeah. As a quick remedy, you can change the namespace in `kubectl create -f`

[2016-04-21 12:59] cheld commented on #662
@maciaszczykm
If we have a node-details view sometime in the future then I think this view should also show the node events, right? But this is not relevant right now.

@kwodzynski
About the numbers. 10.000 events seem a lot to me.  Does anyone know what is realistic? When are events created exactly? How long does events exist in the system?

Can we define some meaningful scenario? e.g. one RC wit

[2016-04-21 13:00] cheld commented on #662
@kwodzynski please reopen if you have meaningful results

[2016-04-21 13:00] #662 closed

[2016-04-21 13:26] bryk opened #666 "Implement workloads page"
Tracking issue to implement workloads page, as specified in: https://github.com/kubernetes/dashboard/blob/master/docs/design/navigation-and-scale.md

This includes breaking up grounds for all first-time issues that we encounter while implementing this.

[2016-04-21 13:52] maciaszczykm opened #668 "Repackaging of go code"
I think we should repackage our backend code, this includes putting `.go` files into subdirectories. Soon we'll have a lot more of them and it could get hard to maintain.

[2016-04-21 13:55] bryk commented on #668
Yeah, I agree. We need structure there.

Do you have any proposal for this?

[2016-04-21 13:57] maciaszczykm commented on #668
I'll come back with proposal after finishing initial services backend.

[2016-04-24 13:18] hanpenghero commented on #374
@bryk I encountered the same issue as well in 1.2 , and based on the discussion above I delete the secrets related the namespace "kube-system" , but now I can not create the dashboard again . the error is as following . So do you know where I can find the guide to figure it out . thx

FailedCreate	Error creating: Pod "kubernetes-dashboard-" is forbidden: no API token found for service account kube

[2016-04-25 06:13] bryk commented on #374
You need to recreate the secrets now (and possibly the service accounts). Refer to the documentation to learn how.

[2016-04-25 08:06] floreks commented on #668
I've prepared some proposal.

[code]

I'm not sure what to do with `resourcechannels`. Example packages: `common`, `components`, `util

What do you think?

[2016-04-25 08:35] luguangzhen opened #672 "can't visit kubernetes-dashboard"
After deploy kubernetes ui follow the guide http://kubernetes.io/docs/getting-started-guides/ubuntu/, and visit http://10.136.97.229:8080/ui, it responses below
Error: 'dial tcp 172.16.40.2:9090: i/o timeout'
Trying to reach: 'http://172.16.40.2:9090/'

Any suggestions would be welcome!
Thanks~

lgzh@ubuntu:~/k8s/kubernetes-master/cluster/addons/dashboard$ kubectl get pods --namespace=kube-system

[2016-04-25 09:06] maciaszczykm commented on #668
@floreks It matches my current changes. After I'll update all imports and resolve all conflicts I'll create a pull request with it.

[2016-04-25 10:12] ZhuPeng commented on #672
You must make sure your dashboard was correctly running. As the error, `Error: 'dial tcp 172.16.40.2:9090: i/o timeout'`, I guess the ip of `172.16.40.2` was the exactly dashboard container ip, which you should check whether or not it could accessing firstly. Secondly, you should check the service running correctly. At last, look over `http://10.136.97.229:8080/ui`, which use kubernetes proxy to a

[2016-04-25 11:22] bryk commented on #668
LGTM :) Awesome, thanks for taking care of this.

[2016-04-25 11:32] bryk commented on #672
Can you give us logs from kubernetes-dashboard? E.g., `kubectl logs kubernetes-dashboard-v1.0.1-4k6vl`

[2016-04-25 11:33] bryk commented on #672
You can also run the dashboard manually and set the `--apiserver-host` param. Use `kubectl create -f http:...`
https://github.com/kubernetes/dashboard/blob/master/src/deploy/kubernetes-dashboard.yaml

[2016-04-25 11:34] bryk commented on #672
Btw, the ubuntu getting started guide is known to miss some things. We'll investigate it soon to find the root issue.

[2016-04-25 11:43] luguangzhen commented on #672
Logs from kubernetes-dashboard

lgzh@ubuntu:~$ kubectl logs --tail=100  kubernetes-dashboard-v1.0.1-4k6vl   --namespace=kube-system
2016/04/25 11:18:06 Starting HTTP server on port 9090
2016/04/25 11:18:06 Creating API server client for https://192.168.3.1:443
2016/04/25 11:18:06 Creating in-cluster Heapster client

---------------------

And i found the dashboard container is running with ip 172.

[2016-04-25 12:00] luguangzhen commented on #672
My kubernetes environment is located in the private network, that needs proxy setting to connect the Internet. Maybe some things should be configured. Like yesterday, i hasn't configured no_proxy=127.0.0.1,localhost,10.136.97.229 for user lgzh, which leads to deploy kunernetes failed at calling validate cluster.

[2016-04-26 08:13] luguangzhen commented on #672
@bryk  Do you have other suggestions for this question?

[2016-04-26 08:41] bryk opened #677 "Log info about request time for all requests"
Right now we log all requests, but with no timing info. It'd be useful to add this, since our list pages are getting more complex.

[2016-04-26 10:21] #668 closed

[2016-04-26 21:57] christopher5106 commented on #384
+1

[2016-04-26 21:58] christopher5106 commented on #523
https://github.com/kubernetes/dashboard/issues/384

[2016-04-27 07:12] bryk commented on #384
Status update: we have all our designs unblocked and as of now I'm writing frontend for ReplicaSets + Replication Controllers. This will be released soon.

[2016-04-27 08:04] bryk commented on #677
Prometheus can be used here CC @cheld

[2016-04-27 08:12] #657 closed

[2016-04-27 08:14] #630 closed

[2016-04-27 08:21] #576 closed

[2016-04-27 09:23] bryk opened #681 "vendor.js is not minified in prod"
vendor.js file is not minified on prod. It weights 2.3 MiB now. That's a lot.

It was being minified in the past, so I expect this is a recent regression in our build pipeline.

[2016-04-27 11:00] floreks commented on #681
I'll take a short look into this.

[2016-04-27 15:27] iamthemuffinman commented on #672
I'm also having this issue. Any ideas?

[2016-04-28 00:42] jowy commented on #595
What's the current status of this? I'd like to help contribute to this feature.

[2016-04-28 07:24] floreks opened #685 "Random resource card error on page refresh"
There is a random error connected to `ResourceCardHeaderColumnsController.sizeBodyColumn`. Sometimes on page refresh it throws an error. It looks like columns in some cases are not yet registered when this check is fired.

![zrzut ekranu z 2016-04-28 09-13-19](https://cloud.githubusercontent.com/assets/2285385/14878254/b4cfa122-0d22-11e6-9bba-59f873db0bbf.png)

This is how I've used it

[code]

cc

[2016-04-28 07:29] luguangzhen commented on #672
This issue has been solved by adding an route item in the master machine:
root@ubuntu:~# route add -net 172.16.40.2 netmask 255.255.255.255 gw 10.136.97.224
The above 10.136.97.224 is the ip of  node, which the dashboard pod locates.
----------------------------
Maybe some step was wrong when i deployed the kubernetes dashboard service, or the kubernetes should add such route item automatically.

[2016-04-28 07:29] #672 closed

[2016-04-28 08:22] bryk commented on #672
@luguangzhen Dashboard has no knowledge or understanding of routes. It just crates kubernetes Service for access. So Kubernetes core should create a route for you if it is correctly configured.

[2016-04-28 09:26] bryk commented on #685
Can you reproduce this? Or send me a commit that I can base on?

[2016-04-28 10:52] floreks commented on #685
You can check my branch: https://github.com/floreks/dashboard/tree/details-page-framework

It's more likely to happen on a rc with big number of pods > 100.

[2016-04-28 13:02] bryk opened #689 "Pod logs menu is really hard to use"
![selection_072](https://cloud.githubusercontent.com/assets/1159999/14886641/1dd7e2fe-0d52-11e6-90af-2c599e359d9d.png)

It shows only top10 pods without indication that there are more and the "running since" click target is ambiguous. I dont know why it is clickable, not the name.

[2016-04-28 13:06] bryk opened #690 "Add standard md-delay to all our tooltips"
Currently our tooltips appear with zero delay, which is super annoying when you move mouse around. Recently angular material added delay settings, so we should utilize it globally for our app: https://material.angularjs.org/latest/demo/tooltip

[2016-04-28 13:13] bryk opened #691 "Middle-ellipsized labels do not automatically refresh on page resize"
As reported by @floreks

[2016-04-28 13:38] bryk commented on #595
Everything is unblocked. You are very welcome to contribute and do this :) We now (almost) have a page for Replica Sets + Replication Controllers, so there is a space for Deployments there.

How can I help you with contribution?

[2016-04-28 13:40] cheld commented on #689
I think there is also an issue with long pod names, as far as I remember

[2016-04-28 23:27] ScubaDrew opened #692 "Response "Unauthorized""
#### Issue details

I followed the steps to install and setup the proxy as detailed in the README.md

When I point my webbrowser at the proxy address I just get back an "unauthorized" response.
##### Environment

Dashboard version: latest as of 5/28/16
Kubernetes version: 1.2.2
Operating system: core
##### Steps to reproduce
1. setup cluster on AWS per https://coreos.com/kubernetes/docs/latest/kub

[2016-04-29 05:42] bryk commented on #692
Can you `kubectl get pods --namespace=kube-system` and `kubectl logs <pod-of-dashboard> --namespace=kube-system`?

[2016-04-29 10:01] bryk opened #695 "Breadcrumbs configuration: make all clients explicit"
Currently all clients that use breadcrumbs config do this by:
[code]

How about we move the `'kdBreadcrumbs'` string into a constant that is imported? This would then help us to keep track of all clients and fail if something is wrong.

@floreks What do you think?

[2016-04-29 10:18] floreks commented on #695
Yeah, I like it.

[2016-04-29 16:21] ScubaDrew commented on #692
Hi bryk, I found the issue here.

I was using the kubectl proxy command as noted above on an ubuntu server, specifying the IP address in the command. I was when pointing a browser on an OSX machine at the ubuntu server's IP. The connection worked, and I got the unauthorized response. I found that if i used "kubectl --port=9090" and then did a wget to localhost, the request worked as it should.

Th

[2016-05-03 16:16] euprogramador commented on #574
It would be good if the setting were made via kubeconfig file, my cluster is configured for client certificate for communication with apiserver, dasboard does not support client certificate.

[2016-05-03 16:20] cescoferraro commented on #574
this is related
https://github.com/kubernetes/contrib/issues/877

[2016-05-04 11:00] bryk commented on #574
It actually should support kubeconfig files. It works same way as kubectl. I.e., you should mount the config file in a specific directory and that's all. Can you verify this?
If this does not work, the fix should be trivial.

[2016-05-04 12:53] bryk commented on #692
@ScubaDrew Yeah, that's what I expected. I'm closing this issue. Please reopen if needed.

[2016-05-04 13:09] floreks opened #706 "Middle-ellipsised text do not scale when flex auto is used"
As discussed in https://github.com/kubernetes/dashboard/pull/694#issuecomment-216817491 middle ellipsised text do not always scale correctly.

As workaround I've used `flex=90` to limit container width but this should be avoided.

Code reference:
https://github.com/kubernetes/dashboard/blob/master/src/app/frontend/common/components/infocard/infocardentry.html#L20

[2016-05-04 13:18] floreks commented on #652
Added in #694

[2016-05-04 13:18] #652 closed

[2016-05-04 15:39] euprogramador commented on #574
where to put the kubeconfig file?

[2016-05-05 08:08] bryk commented on #574
All right, I've done some investigation on this.

Currently kubeconfig files do not work, but I have a fix for this problem that will go into a next release. After the release you'll be able to use your kubeconfig file from kubectl to use the UI. In a cluster you can mount it to `~/.kube/config` or mount anywhere and define it by a variable `KUBECONFIG=/path/to/file`

[2016-05-05 08:14] bryk commented on #574
More about kubeconfig: http://kubernetes.io/docs/user-guide/sharing-clusters/

[2016-05-05 08:40] #681 closed

[2016-05-05 10:25] #695 closed

[2016-05-05 13:53] bryk commented on #689
@digitalfishpond Added one more thing to the complaint list

[2016-05-06 12:01] floreks opened #718 "Refactor logs view to display different resources logs"
As discussed in #714 we should make logs view more generic. Currently they are closely coupled with replication controller and can't display logs for other resources.

[2016-05-06 12:37] bryk opened #719 "Break v1 presentation layer compatibility"
I think we should break v1 api compatibility and say that next major release cannot be updated in place (i.e., new version will not be able to talk to the old version). This is because our v1 presentation layer API will needs many changes to support scalability for the future. We don't have many prod users anyway and the update will still be very easy.

1. We should pass ObjectMeta-like info with

[2016-05-06 19:09] cheld commented on #719
Hmm...not sure if I understand correctly. We talk about the backend / presentation logic? This is just an internal API used only by Dashboard, isn't? Rolling upgrade of Dashboard should be a problem.

[2016-05-06 20:22] cheld commented on #719
Ok, I think I got it. In angular, the browser is not reloaded with every click, so it can happen that the old browser will access new backend during rolling upgrade...

IMHO, breaking compatibility is ok

[2016-05-09 05:59] bryk commented on #719
Yeah, so for example:
The endpoint `/api/v1/replicationcontrollers` will no longer exist or return different data that current released version of Dashboard expects. With that, you cannot do, e.g., in place rolling update, because old frontend can hit new presentation layer API and vice versa. But if you turn down all old instances and turn up new version it'll all work.
This makes things much eas

[2016-05-09 07:37] floreks commented on #719
I like this idea. So for example if we want to list objects of one type then we use `api/v1/resource/list` instead of `api/v1/resources`, right?

Yes, this would allow to remove part of code that is always repeated in our structures.

Update should not be a problem as dashboard is stateless. We do not have to migrate anything. Updaters can just tear it down and bring up new version.

[2016-05-09 09:03] cheld commented on #719
@bryk the user would get an error page and press reload and everything would work again. Dashboard is not used by a lot of users concurrently. Most likely the only active session is the person that triggered the rolling update. IMHO no problem.

[2016-05-09 09:12] bryk commented on #719
Perfect. I see general agreement here.

This may be, but I didn't have such plans. I proposed only making api endpoints singular. With all the semantics unchanged. But suffixing with `/list` looks also good.
The point is that from resource type we'll be able to get api endpoints and all this. Pluralization is hard to do programatically :)

[2016-05-09 09:53] herbalizer404 opened #722 "set a user/pass to the dashboard"
#### Issue details
I just configured my first dashboard, but there is no security to access to it. How do I set a user/pass to secure the dashboard.

thank you

##### Environment

Dashboard version:  1.0.1
Kubernetes version: 1.2.3
Operating system: debian

[2016-05-10 07:20] bryk opened #728 "Create common state params class for resource detail and lists"
Currently we often have classes which are identical for all detail views. I believe we can replcace it with one common implementation.

Current code:
[code]

cc @floreks

[2016-05-10 09:13] floreks commented on #728
+1 :)

[2016-05-12 06:00] cheld commented on #722
access it over https://<api-server>/UI

normal authentication of API server will be used

[2016-05-12 13:14] bryk opened #734 "Implement error handling for replica sets and deployments"
So that it displays errors from pods the same way we currently do for replication controllers

cc @floreks @digitalfishpond

[2016-05-17 13:26] ManuelGysin commented on #574
@luxas
Where should I set exactly?

[code]

API server runs with:

[code]

I get this error:
![image](https://cloud.githubusercontent.com/assets/2873373/15323686/8dd8fc96-1c43-11e6-96e8-e27a7c61395f.png)

Arguments of the dashboard:
[code]

Thanks
Manuel

[2016-05-17 15:44] taimir opened #742 "Localization of all the text message across dashboard."
#### Issue details
With PR https://github.com/kubernetes/dashboard/pull/725 we now have a way to do localization (l10n) of dashboard, translating all of the text into different languages. The translations are then automatically picked up by the build pipelines and integrated into our production version.

For this, we can define MSG variables like this:
[code]
And then reference them in our HTML te

[2016-05-17 17:10] Seb-Solon opened #743 "Allow GetExternalEndpoints to handle unversioned.LabelSelector"
Hi,

The function GetExternalEndpoints from common package  https://github.com/kubernetes/dashboard/blob/master/src/app/backend/resource/common/endpoint.go#L36 takes a map[string]string as parameter. This does not match the type of "new" label selector : unversioned.LabelSelector

As daemonset.Spec.Selector is a unversioned.LabelSelector, daemon cannot use this function properly. It could be good

[2016-05-18 01:36] Draiken commented on #595
I started implementing the backend for deployment details.
Is there a reference for a similar detail page? All details I looked at are using direct api requests and have TODO comments to use channels, so I was looking for somewhere where that was done before.

What info is going to be on the page itself? Not sure how to approach this. Do you want specific PRs for backend, frontend or even smaller

[2016-05-18 06:21] EamonZhang commented on #692
I have the same issue .
[code]
[code]
[code]

What can i do, thanks

[2016-05-18 08:02] floreks commented on #595
Regarding backend. Just get deployment object in similar way as it's done for i.e. replicasetdetail. I know there is todo but we will change it once channels for single resources are done.

Regarding what should be displayed. Use kubectl describe and try to show similar details. Events on different tab. Most important data from describe. Related objects can be added later.

You can separate fronte

[2016-05-18 08:59] ManuelGysin commented on #574
I did some more testing:

[code]

Is logged when accessing: https://host/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/replicationcontrollers

i validated the access tokens:

[code]

[code]

Should the dashboard not use the token for authentication? Why is the bad certificate thrown? I don't understand it currently whats happening.

Greets
Manuel

[2016-05-18 11:41] cescoferraro commented on #574
Is The xxx ip privarem or public? It should be public. I use kubedns To work this out

[2016-05-18 12:29] ManuelGysin commented on #574
This is the public IP-Address. In fact it's the IP-Address of the LB in front of the API.
What you mean with kubedns and work this out?

[2016-05-18 16:13] cescoferraro commented on #574
Sorry I meant private. So kubedns knows where that the api server is at kubernetes.local which is default place the dashboard will look for the apiserver;

[2016-05-18 19:24] Draiken commented on #595
Should I submit a PR early or wait until I think it's done?

[2016-05-19 07:15] oba11 opened #748 "Option to skip SSL verification or use kubecfg"
#### Issue details
I'm having trouble connecting the dashboard to the kubernetes api

##### Environment

[code]

##### Steps to reproduce

Create kubernetes cluster with self-signed SSL certificate (without admission control)
Add the option - --apiserver-host=https://kube-api:443

##### Observed result

##### Expected result

Internal Server Error (500)
Get https://username:password@kube-api:443/a

[2016-05-19 07:29] floreks commented on #595
It depends. If you are not sure about something and need our help then you can submit it early, otherwise I think you can work until you think it's done and then we'll review and discuss.

[2016-05-19 12:31] bryk commented on #742
I think it is best to place the messages in controllers. This is closest to the place they are used.

[2016-05-19 12:39] taimir commented on #742
@bryk I just started extracting the messages into the controllers yesterday and the ones for `deplofromsettings_controller` take up more than 350 lines. How about putting the messages for a given controller (e.g. `deployfromsettings`) into a file right next to it (e.g. `deployfromsettings_i18n.js`) and then importing this file into the controller `deployfromsettings_controller.js` as a member vari

[2016-05-19 13:00] bryk commented on #692
Yeah, that's correct that it is moved permanently. Can you open the URL with a browser?

[2016-05-19 13:03] bryk commented on #748
We added support for kubeconfig files, but this hasn't been released yet. You'd be able to use config file the same as, e.g., in kubectl.

Does this help?

[2016-05-19 13:18] bryk commented on #595
Send PR as early as you think it can be reviewed :) Thanks!

[2016-05-19 13:25] bryk commented on #742
I see. How about doing the same, but adding stuff to the bottom of the controller file? It is one less file per controller (we currently have lots of them...) and the number of lines does not hurt here, because is it I18N config.

I agree that putting this inside a controller pollutes it. But moving to the bottom of the file shouldn't.

What do you think?

[2016-05-19 13:29] taimir commented on #742
Personally, as long as it does not increase the scroll time to the actual methods of each controller, I am fine with your idea. What do the others think? @floreks

[2016-05-19 14:05] floreks commented on #742
I'd add i18n data at the end of the controller file as @bryk proposed. We have already many files in our tree and I wouldn't want to make it bigger and add new file per controller/component.

[2016-05-19 14:09] taimir commented on #742
Great! Now we have a unified solution. I'll continue working on this then :) If anyone else has something to add, please feel free to do so.

[2016-05-19 14:18] floreks commented on #743
`unversioned.LabelSelector` type is actually only used by new types introduced in `extensions` package. We'd have to introduce new method, one for old types and one for new ones.

From what I understand `MatchExpression` allows to target subset of resources in more flexible way and `MatchLabels` is simplified to expression `key in (value) and `key-2 in (value-2)...`.

For cases when we have old ob

[2016-05-19 14:55] ManuelGysin commented on #574
I played a bit more around:

``
FROM gcr.io/google_containers/kubernetes-dashboard-amd64:canary
ADD ca.crt /etc/ssl/certs/ca-certificates.cr
[code]
the server has asked for the client to provide credentials (get replicationControllers)
[code]
Volumes:
  default-token-7nsaq:
    Type:       Secret (a volume populated by a Secret)
    SecretName: default-token-7nsaq
[code]
curl -k -H "Authorization:

[2016-05-19 15:07] bryk commented on #742
If something like this works, then it'd be perfect. Basically, the shorter the better :)

[code]

[2016-05-19 15:28] taimir commented on #742
yes, so that's what I'm doing exactly. The only thing I'll have to try out is if I can put the annotations on the same line as you did, in order to reduce the space those constants eat up.

[2016-05-19 16:30] oba11 commented on #748
It would really help, excited about the release.
Thanks alot @bryk

[2016-05-20 01:04] EamonZhang commented on #692
@bryk

[code]
or
[code]

in browser window

http://10.2.0.10:9090/ui
<h3>Unauthorized</h3>

[2016-05-20 01:14] playqdrew commented on #692
@EamonZhang it only works when the url is localhost. Accessing it via IP address is... Unauthorized by design.

[2016-05-20 01:14] ScubaDrew commented on #692
@EamonZhang it only works when the url is localhost. Accessing it via IP address is... Unauthorized by design.

[2016-05-20 02:42] cescoferraro commented on #574
You should not need to add the certificates to the image. This should be done by service accounts at pod creation.

[2016-05-20 03:01] EamonZhang commented on #692
@ScubaDrew

Server computer have no browser to be used.
Does nginx proxy support . or  other measures ?

Thanks

[2016-05-20 08:51] bryk opened #754 "Actionbar icons overflow over long resource name"
![image](https://cloud.githubusercontent.com/assets/1159999/15422427/d06404ca-1e78-11e6-9f2b-322de4142b7d.png)

[2016-05-20 08:54] bryk commented on #692
If your master is publicly accessible you can access it to see the UI: `https://master/ui` or your clients can use `kubectl proxy` on their machines. Finally, you can expose the UI as external service and access it from outside world.

[2016-05-20 09:22] #754 closed

[2016-05-20 13:46] bryk commented on #748
Btw, beta1 release has this. Feel free to test and provide feedback.

https://github.com/kubernetes/dashboard/releases/tag/v1.1.0-beta1

[2016-05-21 17:13] bpradipt commented on #748
@bryk, I tested the new image successfully by passing custom kubeconfig file. Thanks

[2016-05-22 05:56] oba11 commented on #748
@bpradipt please can you share how you passed the kubeconfig file, I tried both `--kubeconfig="/tmp/config"` and `--kubecfg-file="/tmp/config"` but didnt seem to work.

Below is my output of printing the help

[code]

Thanks.

[2016-05-22 06:14] bpradipt commented on #748
@oba11, there is no command line option to pass kubeconfig file. Either it needs to be in ${HOME}/.kube/config or the actual location available in the environment var KUBECONFIG.
May be a documentation might help.

Here is how I use the image on my setup
On x86_64
 docker run -itd -v /etc/hosts:/etc/hosts -v /etc/kubernetes/kubectl.pradipta:/etc/kubeconfig -e KUBECONFIG=/etc/kubeconfig -p 82:9090

[2016-05-22 09:35] oba11 commented on #748
Thanks alot @bpradipt this works perfectly for me.

[2016-05-22 09:41] bpradipt commented on #748
Great @oba11 .. I believe this issue can be closed now.

[2016-05-23 08:04] #748 closed

[2016-05-23 08:51] taimir opened #762 "Go panic when redirected to the workloads page"
#### Issue details
`gulp serve:prod` runs to completion, but accessing dashboard (e.g. on `localhost:9090` if run locally) leads to panic in the `workloads` resource go code.

##### Environment

[code]

##### Steps to reproduce
* clone dashboard
* run `npm install`
* run `gulp local-up-cluster`
* run `gulp serve:prod`
* do not deploy anything yet

##### Observed result
Accessing `localhost:9090` r

[2016-05-23 09:15] bryk commented on #762
Yeah, this is a huge problem. Can you fix this?

[2016-05-23 09:16] taimir commented on #762
I'll have a look at the code in question.

[2016-05-23 09:30] taimir commented on #762
OK, so it's just an unchecked nullpointer as I thought. I'm working towards fixing this.

[2016-05-23 09:30] bryk commented on #762
Awesome, thanks!

[2016-05-23 12:35] maciaszczykm commented on #659
Frontend done in #726 and #739. Closing.

![image](https://cloud.githubusercontent.com/assets/2823399/15470933/a061aa16-20f3-11e6-902a-fa3ecaeb65f2.png)

[2016-05-23 12:35] #659 closed

[2016-05-23 12:49] taimir commented on #762
Should be resolved with https://github.com/kubernetes/dashboard/pull/764. Closing.

[2016-05-23 12:49] #762 closed

[2016-05-23 12:52] dohnto commented on #762
Experiencing the same with `gcr.io/google_containers/kubernetes-dashboard-amd64:v1.1.0-beta1`

[2016-05-23 12:57] bryk commented on #762
@dohnto  Yep, this is beta, so expect some glitches. Stable release should be in ~5 weeks.

But please DO test betas, so that we have feedback from you :)

[2016-05-23 12:59] maciaszczykm opened #765 "List and details page for daemon sets"
I'm starting to work on this. Generic details page template:

![Design template](https://github.com/kubernetes/dashboard/blob/master/docs/design/mockups/23-03-2016-scale-and-navigation/details-page-template.png?raw=true)

[2016-05-24 07:08] bryk opened #767 "Deployment details page: add related objects"
@Draiken

We have now a deployment detail page. Can we add there related objects as it is on, e.g., replication controllers page?

[2016-05-24 07:48] digitalfishpond commented on #592
Server errors do seem to be handled:

handleDeploy() in src/app/backend/handler/apihandler.go handles the errors and src/app/frontend/error/ contains the frontend components.

The problem you decribe is specific to the deploy page: There is some weird behaviour when two browsers are open that I can't work out, and it's to do with one-way and two-way bindings I think.

Scenario 1:

1. Open 2 browse

[2016-05-24 08:09] digitalfishpond commented on #592
TL:DR - When 2 browsers are open on the deploy page, entries from the user on one browser are reflected (after initial focus) on the view of the second browser, but this data is not relayed to the second browser's controller/model. So the user sees something that the controller/model does not see causing possible conflict at the time of deployment.

[2016-05-24 09:08] bryk commented on #592
Can we show an error dialog for situations like this?

[2016-05-24 09:16] digitalfishpond commented on #592
Do we want to restrict the use of more than one browser at a time? It's clearly nearly impossible to guarantee a safe deployment when the deployment page is open in 2 browsers... How would this work if 2 users were using dashboard on the same system simultaneously?

[2016-05-24 09:30] cheld commented on #592
No, we do not want to restrict to one browser. Besides the fact that we do not want such a restriction, it wouldn't  help on any other issues like "Run as priviliged" see above. (I am sure that there are many more issues - they are just not entered)

As far as I understand, the frontend does not contain error handling that is visible to the user. Errors are just logged
https://github.com/kubernete

[2016-05-24 12:07] bryk commented on #592
Yes, this would be perfect. To handle all errors at once.

[2016-05-24 12:12] digitalfishpond commented on #592
so, @bryk , you're saying this is not already done? I was under the impression that this was precisely what src/app/frontend/error/* was doing?

[2016-05-24 12:13] bryk commented on #592
AFAIK this is not done.

[2016-05-24 12:14] digitalfishpond commented on #592
Ok :)

[2016-05-24 14:39] edouardKaiser commented on #651
Deployment resource can be checked I guess ?
I was wondering, what's the rule regarding releasing beta version before the final candidate ? (how often ? what's the trigger ?).
I would be more than happy to deploy a new version of the dashboard on my cluster with the deployment details, to test it and give some feedbacks if necessary.

[2016-05-24 19:51] Draiken commented on #767
@bryk not sure I'll have much time this week to work on this. If I find some time and nobody started it, I'll gladly do it

[2016-05-25 05:44] bryk commented on #595
This is being worked on. Basic support for deployment will land in next beta release.

[2016-05-25 06:03] bryk commented on #767
Awesome, thanks!

[2016-05-25 06:04] bryk commented on #651
I'll do beta2 release on Monday. Does this work for you?

We'd love to have feedback on this, so let's cooperate :)

[2016-05-25 06:06] edouardKaiser commented on #651
No problems, that's perfect.

[2016-05-25 06:06] bryk commented on #651
Basically, for next four weeks we'll be having weekly betas.

[2016-05-25 06:57] cheld commented on #588
Done

[2016-05-25 06:57] #588 closed

[2016-05-25 12:09] bryk opened #771 "Make logs view work with all pods, not only ones coming from RCs"
Current situation is suboptimal. Make logs view work with all pods, not only ones coming from RCs.

[2016-05-25 12:42] edouardKaiser commented on #771
It is indeed a big problem right now, people are using more and more the replica sets.

[2016-05-26 00:10] edouardKaiser commented on #351
Regarding the current situation of logs loading/displaying, is it "normal" that when the dashboard is loading a big amount of logs, the entire dashboard application is freezing ? (can't access the dashboard on another tab on the browser).

[2016-05-26 00:30] aabed commented on #665
Try to split kubernetes-dashboard.yaml into

dashboard-service.yml and dashboard-controller.yml
And place them under /etc/kubernetes/addons/dashboard

[2016-05-30 07:28] bryk commented on #351
It is not normal. How can I reproduce this? Which version do you use?

[2016-05-30 07:40] edouardKaiser commented on #351
Ok, if it's not normal, give me a little bit of time to come up with a protocol to reproduce easily. I noticed this behaviour with v1.0.1 and also the last beta.

[2016-05-30 07:50] floreks commented on #767
@Draiken are you working on this? I'm just asking because I can take it if you don't have time.

[2016-05-30 09:49] maciaszczykm opened #778 "gulp format-javascript configuration issue"
`gulp format-javascript` should be configured to match format expected by `gulp check`. It seems it's not always true, especially considering line length.

I can take a look on it later.

[2016-05-30 09:52] bryk commented on #778
All right, sound good :)

[2016-05-30 10:49] floreks opened #779 "Add support for PetSet"
I'll work on adding backend for PetSets together with frontend in order to display list and details of PetSets.

[2016-05-30 11:09] maciaszczykm commented on #778
It could also be issue with `gulp check` working differently on CI and locally. I'll investigate it later.

[2016-05-30 11:23] maciaszczykm opened #780 "No service mode picked by default"
No service mode is picked by default in deploy view:

![image](https://cloud.githubusercontent.com/assets/2823399/15648206/4302bfc4-2669-11e6-95e0-7d43b5457773.png)

`None` should be selected:

![image](https://cloud.githubusercontent.com/assets/2823399/15648264/9eb2e830-2669-11e6-914b-d6370d7bd92e.png)

[2016-05-30 11:46] bryk commented on #780
Yep, that's correct.

[2016-05-30 15:01] Draiken commented on #767
No, I'm a bit swamped ATM. Please take it

On Mon, May 30, 2016, 4:50 AM Sebastian Florek <notifications@github.com>
wrote:

[2016-05-31 12:19] #665 closed

[2016-06-01 05:54] #765 closed

[2016-06-01 07:55] Yamagami-Takuma opened #786 "The error messages about exceed max-length are not shown"
#### Issue details
The error messages are not shown when create a new namespace with too long name.

##### Environment

[code]

##### Steps to reproduce

1. Access to the page of Deploy a Containerized App.
2. Click Create a new namespace.
3. Fill input form with over 64 characters.
4. The error messages don't appear which should display under the input form.

##### Observed result

![not display

[2016-06-01 08:42] maciaszczykm opened #788 "Job resource support"
I'll add Job resource support to the dashboard.

- [x] backend - #792
- [ ] list and details view - #806

Generic details page template:

![Design template](https://github.com/kubernetes/dashboard/blob/master/docs/design/mockups/23-03-2016-scale-and-navigation/details-page-template.png?raw=true)

[2016-06-01 08:48] #780 closed

[2016-06-01 11:42] bryk opened #789 "Fix namespace selector on detail pages"
@taimir correctly notices flaws in current implementation:

Other solution would be to redirect to list page on namespace change on details view.

[2016-06-01 11:44] taimir commented on #789
(nod) yes, your suggestion sounds reasonable to me. Opinions from the others? @floreks @maciaszczykm

[2016-06-01 11:56] mattthias opened #790 "The "Age" on workloads/deployments is always "a year""
#### Issue details
No matter what age ``kubectl get deployments`` shows in the dashboard it is always "a year".

##### Environment

We run a Kubernetes 1.2.4 on AWS instances.

[code]

##### Steps to reproduce

Deploy the dashboard and a deployment in the cluster. Look at the 'workloads'  page.

##### Observed result

The age of the deployments is always "a year"
##### Expected result

The actual

[2016-06-01 12:09] floreks commented on #790
Thanks for reporting this bug! Will be fixed soon.

[2016-06-01 12:20] maciaszczykm commented on #789
If my understanding is correct, then user shouldn't see **the same** pod here. Pod with same name, but from different namespace should be displayed IMO. Am I wrong?

I agree, it seems the most user-friendly behavior, but disabling namespace change on non-list views is also good solution.

[2016-06-01 12:28] taimir commented on #789
@maciaszczykm so the current behavior will be fixed, as I discussed with @bryk. Right now it still displays the same pod. Displaying a pod with the same name but from a different namespace seems unlikely though - because of the pod naming scheme in k8s, there is not much chance to get two pods in two different namespaces with the same name (since pods are mostly named after their RC with a randomi

[2016-06-01 12:32] maciaszczykm commented on #789
@taimir Yeah, that's why I'd pick between two proposed solutions.

[2016-06-01 12:36] taimir commented on #789
The more I think about it, the more I like the "redirect to list view" idea. Just having the currently selected namespace in the top right corner is a helpful indication on its own, so I think I'd prefer to not leave it out :)

[2016-06-01 13:33] maciaszczykm opened #793 "Unexpected show all labels button"
If there are no labels `show all labels` button is displayed, but it shouldn't.

![image](https://cloud.githubusercontent.com/assets/2823399/15711341/dbeddb4c-280d-11e6-9ef1-7a1c35c90018.png)

![image](https://cloud.githubusercontent.com/assets/2823399/15711390/1734ad84-280e-11e6-839c-ab3bb88d5555.png)

[2016-06-01 13:34] maciaszczykm commented on #793
Tested on service view, with service:

[code]

[2016-06-01 13:41] floreks opened #794 "Fix IE compatibility issues with new design"
Master is failing due to some IE protractor tests. Let's disable them for now until this issue is fixed.

Details can be seen at: https://saucelabs.com/jobs/7d19e448a3b4438bb5de18b554f4239b

[2016-06-01 14:26] bryk commented on #786
@Yamagami-Takuma thanks for reporting this! :) Can you maybe fix the issue?

[2016-06-01 14:33] bryk commented on #789
Yeah, I treat namespaces like "projects" and it is good to see what project you're in. The thing that causes problems with urls like `/pod/default/pod-whatever?namespace=my-namespace` is that we can select _no namespace_ meaning that on list pages we see stuff from all namespaces. That's why we need a param for namespace (aka "project") and namespace of an object we look at the moment.
If the user

[2016-06-01 14:41] bryk commented on #793
This is shown for resources that do not have labels. Can you fix this application-wide?

[2016-06-01 15:34] yissachar opened #797 "Support live updates of resource state"
Currently the Dashboard only updates the state of resources on a page refresh. This is very annoying when applying a change to a resource and watching it through the Dashboard to see when the change has been fully implemented. E.g. a common flow for me is to deploy a new RC, and constantly hit refresh for the next minute or two to view the progress of the deploy.

It would be great if Dashboard ha

[2016-06-01 23:56] Yamagami-Takuma commented on #786
@bryk OK I will fix this issue.

[2016-06-02 07:08] bryk opened #800 "Reintroduce zerostate page"
Now zerostate page is missing from all list views. We should reintroduce it.

[2016-06-02 07:39] maciaszczykm commented on #793
Yes, I'll fix it later.

[2016-06-02 08:01] bryk commented on #800
I meant the box that fills empty pages, e.g., when there are no RCs.

[2016-06-02 08:22] gertisdemo opened #801 "Deploy page: wrong alignment"
On the Deploy page, the checkbox "Expose service externally" has been removed. Now the user can select "Internal" and "External". The descriptive text "Ports are optional..." no longer fits with the left-hand option. It has to be moved down a bit or displayed only in case the user selects internal or external service.

[2016-06-02 09:08] bryk commented on #797
We'd love to implement this, but at the moment we focus on covering all K8s resources. Once we have this we can start doing power features like this.

If you have time, you can contribute to implement this :)

And thanks for reporting this feature request! :)

[2016-06-02 09:09] cheld commented on #801
I think the definition of at least one port mapping is required, in case internal or external is selected.

The two input fields are one component and have only one help text together. I would rather like to fix this by changing the message

[2016-06-02 09:38] bryk commented on #595
This is done. Beta2 release (this Friday) will include it.

[2016-06-02 09:38] #595 closed

[2016-06-02 13:00] #790 closed

[2016-06-02 13:00] #734 closed

[2016-06-02 13:59] #786 closed

[2016-06-02 22:32] ptarpan commented on #579
@cescoferraro thanks!

[2016-06-03 09:02] #779 closed

[2016-06-03 14:13] edouardKaiser opened #812 "View deployment details: runtime error: invalid memory address or nil pointer dereference"
#### Issue details

I just updated my dashboard with the latest beta2. And I'm trying to visualize the details of a deployment.

##### Environment
[code]

##### Steps to reproduce
Click on a deployment resource.
For information, my deployment is pretty simple and looks like this:

[code]
##### Stack trace
[code]

[2016-06-03 14:19] edouardKaiser opened #813 "YAML editor not available for Deployment resource"
#### Issue details

View/Edit JSON is not available for deployment resource.

##### Environment
[code]

##### Steps to reproduce
Click on "Actions" for a deployment resource.
##### Observed result
The only available action is "Delete"
##### Expected result
There should be another action "View/Edit JSON"

[2016-06-03 14:28] edouardKaiser opened #814 "YAML/JSON editor: UX issues"
#### Issue details

Impossible to scroll down the JSON/YAML.
When I'm on my laptop, I can't scroll down the content of the modal with the trackpad, instead, it's the entire page which tries to scroll down. And there is no vertical scroll bar.

Also, as you can see in the screenshot, this blue bar does not display properly.

![image](https://cloud.githubusercontent.com/assets/7731641/15781706/bc59d

[2016-06-03 16:02] floreks commented on #812
Thanks for testing and reporting issues! It is huge help. :)

[2016-06-03 20:35] aabed opened #815 "Error 500 when"
#### Issue details

##### Environment
kubectl create -f <file from github repo>

[code]

##### Steps to reproduce
Navigate to dashboard and click on any deployment's name

##### Observed result
![screenshot from 2016-06-03 22-19-43](https://cloud.githubusercontent.com/assets/1152929/15792107/da10c47e-29e3-11e6-8e16-973e115a80f2.png)

[2016-06-04 00:48] edouardKaiser commented on #815
Duplicate with #812 I guess

[2016-06-04 01:47] edouardKaiser commented on #814
I can't reproduce anymore. The editing looks fine now and I can scroll. Maybe it was a browser cache issue. But I'm 99.9% sure I cleaned my cache before using the new dashboard. I close this one and will re-open if necessary.

[2016-06-04 02:03] aabed commented on #815
@edouardKaiser  yes, you are right, I will close it

[2016-06-04 02:03] #815 closed

[2016-06-04 02:03] aabed commented on #812
I am facing the same error

[2016-06-04 10:52] edouardKaiser opened #816 "Namespace selection dropdown"
#### Issue details

I think the default choice behaviour is not obvious.
By default, the drop down is on "namespace not selected". You would expect from this, to display all the resources from every namespace. But actually it displays the resources from whatever namespace is configured as the `default` namespace.

I see two possibilities personally:
- Remove this entry, and by default, select what

[2016-06-04 11:09] edouardKaiser commented on #816
Also, does that make sense to still display the dropdown on the details view of a resource ?
Because, it doesn't matter what I do with the dropdown, the details of the resource does not change.

Example where the selected namespace in the dropdown is different from the namespace of the resource:

![image](https://cloud.githubusercontent.com/assets/7731641/15799228/6f965e82-2a98-11e6-9dc0-ec42e945f

[2016-06-05 02:12] therc opened #817 "workload page stalls"
#### Issue details
The /#/workload page stalls. Chrome shows the request as still pending. Not even one byte is transferred.

##### Environment

[code]

##### Steps to reproduce
Open the top level page

##### Observed result
Nothing happens for a long time. The tab is unresponsive and needs to be killed. Eventually, there's a timeout (my dashboard is behind AWS ELB, that might be causing it).

###

[2016-06-06 06:54] floreks commented on #817
This have happened after some update and `log` is not working. I'll investigate that and restore logging.

Yes, we need some timeout for channels when there is no response from kubernetes because now it hangs completely when no data is received.

[2016-06-06 07:39] bryk opened #819 "Logging does not work on backend"

[2016-06-06 07:48] bryk commented on #800
@digitalfishpond

[2016-06-06 07:55] #728 closed

[2016-06-06 07:56] bryk commented on #718
Duplicate: #771

[2016-06-06 07:56] #718 closed

[2016-06-06 07:58] #666 closed

[2016-06-06 07:58] #650 closed

[2016-06-06 08:00] bryk commented on #620
Closing. Please reopen if needed.

[2016-06-06 08:00] #620 closed

[2016-06-06 08:04] bryk commented on #509
Done.

[2016-06-06 08:04] #509 closed

[2016-06-06 08:07] #384 closed

[2016-06-06 08:08] bryk commented on #348
Done.

[2016-06-06 08:08] #348 closed

[2016-06-06 08:10] bryk commented on #71
Done.

[2016-06-06 08:10] #71 closed

[2016-06-06 08:13] bryk opened #820 "Add YAML upload to all pages"

[2016-06-06 08:15] bryk opened #821 "Node list / details pages"

[2016-06-06 08:25] Yamagami-Takuma opened #822 "Error message is not shown when cause it continuously"
#### Issue details

At the Deploy a Containerized App page, when we cause different type errors continuously on the same input box, subsequent error messages are not shown.

##### Environment

[code]

##### Steps to reproduce

1. Access to the page of Deploy a Containerized App.
2. focus on the input form of app name and focus out it. Then error message 'Application name is required.' is shown.
3.

[2016-06-06 09:08] floreks commented on #817
Few questions to help me reproduce the problem.

How big is your cluster? Number of controllers/Pods/Events?
How long does it take to run `kubectl get events --all-namespaces`

Could you provide some test yaml(s) so I can prepare same structure?

[2016-06-06 09:19] #819 closed

[2016-06-06 09:20] bryk commented on #814
Please reopen if you can reproduce this. We have betas for fix such issues :)

[2016-06-06 09:24] bryk opened #825 "Reintroduce heapster metrics in pod lists"

[2016-06-06 09:25] bryk opened #826 "Page freezes when I have 1k+ pods"
I navigate to `/#/workload` and I see nothing page just freezes and I have to restart my browser.

@floreks @digitalfishpond @maciaszczykm

[2016-06-06 09:27] bryk opened #827 "Loading spinner does not work for first page view"

[2016-06-06 09:38] bryk opened #828 "UI misalignment on Safari"
Workloads page has a couple of glitches os Safari. Open to see.

[2016-06-06 09:41] bryk commented on #814
Reproduced this. Fixing.

[2016-06-06 09:42] #778 closed

[2016-06-06 09:49] captainblerko opened #830 "dashboard sends traffic to api-server directly rather than to the load balancer in a multi-master setup"
#### Issue details

In a cluster with multi-masters running api-server behind a load balancer, the dashboard connects directly to master servers. I do have issues with the dashboard container resolving DNS properly in my cluster, but I don't think this is the sole problem (and it would be nice to be able to solve that in the same way as I can with the kubelet container under coreos: https://coreos

[2016-06-06 09:55] bryk commented on #830
Hmm... This should work. Can you clone the repository and run `./build/run-gulp-in-docker.sh docker-image:canary`. Then you'll have a docker image of latest HEAD version. Can you run it to determine whether problem still persists?

[2016-06-06 09:55] bryk commented on #830
Btw, how does your YAML look like? Can you show it?

[2016-06-06 10:05] captainblerko commented on #830
I will have a go at cloning the repo in a bit, I threw away my yaml file so I will just try to recreate it, bear with me.

[2016-06-06 10:06] captainblerko commented on #830
BTW I believe the dashboard does talk via the kubectl proxy mostly, just not exclusively. The problem I am rally trying to solve is locking down the connections between cluster elements.

[2016-06-06 10:24] captainblerko commented on #830
Here is the yaml, the only bits I added are:
[code]
and

[code]

Modified this line to be:
[code]

[kubernetes-dashboard-sidecar.txt](https://github.com/kubernetes/dashboard/files/300163/kubernetes-dashboard-sidecar.txt)

[2016-06-06 10:31] captainblerko commented on #830
Just checked that I see the same behaviour with that new version of the sidecar yaml and I do, every 30 seconds the dashboard checks in with one of my masters. If I kill the pod the traffic stops.

[2016-06-06 10:35] cheld commented on #822
This is a material-design bug. It appears on the demo widgets as well. Can you open an issue there too?

[2016-06-06 10:40] #814 closed

[2016-06-06 10:41] #813 closed

[2016-06-06 10:47] maciaszczykm opened #831 "Handle all pod statuses"
Pod status icon isn't displayed for `Succeeded` status.

[2016-06-06 10:57] bryk opened #832 "Add action bar to all resource detail views"

[2016-06-06 11:43] floreks opened #833 "Deployment details displaying wrong replica sets"
![zrzut ekranu z 2016-06-06 13-43-26](https://cloud.githubusercontent.com/assets/2285385/15820899/b1570b82-2bec-11e6-9e68-d3889a1120f8.png)

[2016-06-06 12:47] captainblerko commented on #830
I built the image but it came out as 1.5GB in size that doesn't seem right, can you point me in the direction of where I went wrong?

[2016-06-06 13:04] bryk commented on #830
The development docker image is 1.5 Gigs, but there should be other image produced. Named, like, `kubernetes-dashboard-amd64:canary`. Do you have it in `docker images`?

[2016-06-06 13:06] captainblerko commented on #830
Ah ok, no docker images just lists the biggie :-) Let me try again

[2016-06-06 13:21] digitalfishpond opened #836 "service object doesn't have ExternalEndpoints data"
src/app/backend/resource/service/servicecommon.go doesn't have ExternalEndpoints implemented

[2016-06-06 13:35] floreks opened #837 "Deployment detail - move related replica sets to lists"

[2016-06-06 13:39] cheld opened #838 "Dashboard not working in Hyperkube"
#### Issue details
Dashboard that is deployed by Hyperkube crashes

##### Environment
Hyperkube

[code]

##### Steps to reproduce
- Open hyperkube.sh
- change version to v1.3.0-alpha.5
- run it
- kubectl get pods --all-namespaces

##### Observed result
Dashboard does not start. Logs:

2016/06/06 13:33:47 Starting HTTP server on port 9090
2016/06/06 13:33:47 Creating API server client for http://lo

[2016-06-06 14:42] therc commented on #817
There are currently 10 nodes (three of which are masters) and about 70 pods.

Only three events show up, so it's instantaneous. That number looks suspiciously low, though. The worst is `get rs`, but even that takes only one second. There are 2680 replicasets, most of them empty, because we are not setting history limits yet. Could that be the problem?

[2016-06-06 14:48] therc commented on #817
I deleted and recreated a DaemonSet. There are more than 70 events now and kubectl took 0.036s to show them.

[2016-06-06 15:35] therc commented on #817
I trimmed deployment revision history. We're already down to 516 replicasets, but the workload page still needs to be killed. `/#/replicaset?namespace=kube-system` works, but it only has six items. I hadn't tried the other namespaces, but it looks like loading the replicasets for the other namespaces takes a large amount of time, proportional to the number of items. They eventually load, if I igno

[2016-06-06 15:42] therc commented on #817
With 166 replicasets:
[code]

[2016-06-06 18:29] floreks commented on #817
That helps alot thanks. For now we'll prepare frontend pagination as this seems to be rendering issue.  Hopefully it will be ready for next beta release so you can test.

[2016-06-06 23:13] therc commented on #817
Is pagination really the solution? I now have a history of 10 replicasets for each deployment. That means that only one of eleven replicasets has useful information. What I need might be on page 2, 3 or 4.
Would it be better to do the equivalent of a kubectl get (which is fast), followed by a kubectl describe only for the replicasets  where `desired` or `current` are not zero? The idle/old replica

[2016-06-07 05:35] Yamagami-Takuma commented on #822
Sure.
But this issue is already open at angular material project when I check issues.
angular/material#8635

[2016-06-07 06:45] floreks commented on #817
Lists contain more information then what `kubectl get` provides. We are also getting related events in order to show the status of resource and possibly error messages. Anyway in any case where there will be many resources on the list to render it will crash. It is not caused by the time we need to get the actual information but by the angular material which is unable to render that much informati

[2016-06-07 06:45] bryk commented on #830
Any success?

[2016-06-07 06:50] bryk commented on #838
I remember that last time @fgrzadkowski told me that there are no service accounts on hyperkube.

[2016-06-07 06:54] #812 closed

[2016-06-07 06:54] #833 closed

[2016-06-07 07:10] floreks commented on #837
Changed in #835

[2016-06-07 07:10] #837 closed

[2016-06-07 07:14] bryk commented on #822
Should we close this?

[2016-06-07 07:18] bryk commented on #817
@therc And one more thing. Typically, the dashboard UI backend is close to the apiserver. So we're not worried about transferring large amounts of data between them. But then, browsers can render only small amount of data at a time. That's why we need pagination or infini scroll

[2016-06-07 07:38] Yamagami-Takuma commented on #822
I think not to close now.
I'm watching that issue. And after it is closed, I close this.

[2016-06-07 07:46] bryk commented on #822
Ok, perfect

[2016-06-07 07:52] captainblerko commented on #830
Sorry got busy, just trying the rebuild now

[2016-06-07 07:54] captainblerko commented on #830
I get:
Task '.' is not in your gulpfile
There is a space between canary and the . in you command above isn't there?

[2016-06-07 08:01] cheld commented on #838
ok, I see. it is not super obvious.... I tried the following with v1.2.4 & v1.3.0-alpha.4

[code]
Also

[code]

works. I am glad...

So it seems that something changed between v1.3.0-alpha.4 and v1.3.0-alpha.5

[2016-06-07 08:03] cheld commented on #838
hmm, I think I create a bug in core...

[2016-06-07 08:47] cheld commented on #838
Let's see...

https://github.com/kubernetes/kubernetes/issues/26943

[2016-06-07 08:49] bryk commented on #830
The command is:
[code]

But anyways. Tomorrow we'll release next beta. It has logging enabled. You can use it for tests. I'll let you know.

[2016-06-07 09:29] captainblerko commented on #830
OK getting rid of the spurious period got the canary built, I deployed it and it behaves in the same way talking to the master server every 30s

[2016-06-07 10:38] #564 closed

[2016-06-07 10:38] #788 closed

[2016-06-07 10:42] bryk commented on #830
How do you know that it talks to the master every 30s? Do you have logs? Can you show logs of dashboard UI?

[2016-06-07 10:50] captainblerko commented on #830
I am running on coreos and this provides a toolbox command which creates a container from which you can run diagnostic commands, I see the traffic by using tcpdump, I believe it is the dashboard container that creates the traffic as I see the connection reset when I tear down the container and no further traffic thereafter.

[2016-06-07 10:54] bryk commented on #830
Can you run `docker logs <...>`? For dashboard container?

[2016-06-07 11:08] captainblerko commented on #830
[code]
"apiserver_ip" is the default kubernetes api-server service ip, "docker_ip" is the ip of the docker0 interface on the node that the dashboard is running on

[2016-06-07 12:26] #831 closed

[2016-06-07 16:00] therc commented on #817
Well, what I was trying to say is that I'm OK if old replicasets get simplified rendering (e.g. without labels, without image information, maybe even without events). For me, in the workload list or even in the replicasetlist page, historical items don't need more information than what `kubelctl get` provides. Most of the time I really care only about the ones that are actually running. That shoul

[2016-06-07 21:47] therc commented on #836
Given that I'm (partially) improving the current `kubectl get` behaviour, a quick pointer:

https://github.com/kubernetes/kubernetes/pull/26749/files#diff-0fc00b94def20930bb77075c7e2c7599

You basically need to get Spec.ExternalIPs and, if missing, for LoadBalancer services return the ingresses (their IPs, or, if missing as is the case under AWS, their Hostnames).

[2016-06-07 23:00] therc opened #848 "Workload page does not display services"
[code]

##### Steps to reproduce
Open the top page, workloads

##### Observed result
No list of services

##### Expected result
Services are listed

##### Comments
The workload backend seems to open a channel to list services, but it doesn't seem to make use of it.

[2016-06-08 07:04] maciaszczykm commented on #848
Services will be available from menu. You can check our resource categorization at kubernetes/kubernetes/issues/22687.

[2016-06-08 07:15] bryk commented on #817
What is best ordering for you? Creation date? Name?

[2016-06-08 07:27] bryk commented on #836
@therc Oh, thanks!

[2016-06-08 07:38] bryk commented on #848
@maciaszczykm That's true. We should think, however, about including Services on workloads pages as an interim solution. This is because we likely will not have the menu for 1.1 release, but later.

[2016-06-08 07:39] edouardKaiser commented on #848
That would be awesome as an interim solution, definitely. Service is a major resource in Kubernetes.

[2016-06-08 07:44] bryk commented on #848
And anyway, you can just now manually type the URL: `#/service`.

[2016-06-08 07:46] edouardKaiser commented on #848
Great, didn't know that trick, just tried, it works.

[2016-06-08 10:46] bryk opened #853 "Deploy app namespace should select current namespace by default"
Currently when user is in 'kube-system' namespace we create apps in 'default'.

[2016-06-08 10:49] bryk opened #854 "Remove endpoints from RC lists; just show them for services"
Remove endpoints from RC lists; just show them for services. This will add one click, but make things more consistent and aligned with what we have in kubectl and docs.

[2016-06-08 12:56] therc commented on #817
I think replica sets need custom ordering, because of the way they are created and managed by deployments.

To give you an example, assume that I have three deployments, A, B and C, that I learned the lesson and that I set `revisionHistoryLimit` to 3. This means I'll eventually have four replica sets for each (current rollout, plus history of three).

The rollouts happen with different schedules.

[2016-06-09 00:11] therc commented on #848
I knew about `#/service`, but only because I had looked at the source. :-)

[2016-06-09 12:54] ApsOps commented on #812
@bryk @floreks Hi guys. I've been hitting this too. I see that it has been fixed. Are there are any nightly containers built and pushed right now?

[2016-06-09 12:56] bryk commented on #812
@ApsOps There's no nightly (but we hope to add it at some point). We'll for sure do beta3 release tommorrow.

[2016-06-09 13:52] floreks commented on #826
Fixed in #852

[2016-06-09 13:52] #826 closed

[2016-06-09 14:09] #832 closed

[2016-06-10 01:27] Yamagami-Takuma opened #866 "Strange description of service"
About the description of service on the page of Deploy a Containerized App.

The description says 'ports are optional'.
But now ports appear only when service is specified and ports are required in this this time.
How about removing the sentence 'Ports are optional.' ?

##### Environment

[code]

[2016-06-10 06:07] cheld commented on #866
yes...this was also reported by Gerti. I could not find the issue, though.

@gertipoppel can you link the issue?

[2016-06-10 07:36] gertipoppel commented on #866
Here it is:
https://github.com/kubernetes/dashboard/issues/801

[2016-06-10 08:16] floreks commented on #866
Ok.Closing as duplicate in favor of #801.

[2016-06-10 08:16] #866 closed

[2016-06-10 09:18] #836 closed

[2016-06-10 09:18] #854 closed

[2016-06-10 09:55] bryk commented on #793
@digitalfishpond Is this fixed?

[2016-06-10 11:16] bryk commented on #820
This is done.

[2016-06-10 11:16] #820 closed

[2016-06-10 11:20] bryk commented on #817
The only ones to have any running pods are A0, B9, C1, unless there's a rolling update in progress. So the best ordering might be those three (sorted by date, preferably, so that during an update the 'fresh' replica set shows first, or otherwise name), followed by all the other empty replica sets. If I merely sorted by age, I would have useless replicasets like C3, C5, C7 and A7 showing up before

[2016-06-10 11:21] bryk commented on #817
We'll be improving the page, but the problem reported here fixed. Closing :)

[2016-06-10 11:21] #817 closed

[2016-06-10 11:37] #853 closed

[2016-06-10 12:06] digitalfishpond commented on #793
Yes, this is fixed with #808

[2016-06-10 12:09] maciaszczykm opened #873 "Edit .yaml doesn't work on certain resources"
![image](https://cloud.githubusercontent.com/assets/2823399/15963781/e30d4350-2f14-11e6-8869-6a588f6eb690.png)

Doesn't work for replication controllers and daemon sets. It's not added for jobs.

[2016-06-10 12:14] #825 closed

[2016-06-10 12:18] #793 closed

[2016-06-10 12:26] #827 closed

[2016-06-10 12:33] therc commented on #817
Thanks. I'll open a separate issue for the remaining work. Is a new beta getting released today? There have been major improvements and I'd be happy to test them all (on AWS).

[2016-06-10 12:38] edouardKaiser commented on #817
Can't wait to test a new beta too, lots of useful features have been merged !

[2016-06-10 12:42] floreks commented on #817
Yep, next beta should be released today. I'd like to get #872 and #874 merged before release.

[2016-06-10 13:09] #873 closed

[2016-06-10 13:16] #771 closed

[2016-06-10 14:08] bgrant0607 commented on #817
@therc Good ideas.

cc @kubernetes/deployment

[2016-06-10 17:05] puja108 opened #877 "Mouseover on pod logs hangs after click-through in pods list"
#### Issue details

The mousover details (grey cricle and text) stay on the logs button in the pod list once I click through to logs. They only go away after clicking through to another pod's logs.
##### Environment

rc+pod in Kube-Solo local env

[code]
##### Steps to reproduce

This works in both `#/workload` (pods list) and `#/pod`
1. click on a pod's logs button
2. close the opening log window

[2016-06-10 17:07] puja108 commented on #877
Clicking on an empty space on the page also makes the "hanging mouseovers" vanish again.

[2016-06-10 20:39] therc opened #878 "Highlight problematic/orphan pods"
This is a feature request, a bit on the advanced side. I know it's not going to make it into 1.1. Feel free to defer it or close it entirely.

Yesterday I had to clean up a cluster, as there were pods still around, without any of the replica sets that used to control them. I think it might have been a result of https://github.com/kubernetes/kubernetes/issues/23252 or something similar.

It was pai

[2016-06-10 20:42] therc opened #879 "Add control for log text size"
The black-on-white vs white-on-black toggle in the log viewer is very cool. Would it be possible to also add a setting for text size? As it is, it takes too much screen estate on my system. I'd love to see more lines at once. Hard-coding a smaller default might not be the best idea. Bonus points if the preferences are persisted.

[2016-06-10 21:34] therc opened #880 "Serve a different favicon"
The current one is identical to the one used for the Kubernetes home, the submit queue, etc. It would be great to differentiate it from the others.

[2016-06-11 19:56] ravilr opened #881 "nil pointer dereference error in deployment details page"
#### Issue details
clicking on a deployment resource with spec.strategy.type = Recreate (other than RollingUpdate) leads to a nil pointer dereference:
[restful] recover from panic situation: - runtime error: invalid memory address or nil pointer dereference
    /usr/local/go/src/runtime/asm_amd64.s:472
    /usr/local/go/src/runtime/panic.go:426
    /usr/local/go/src/runtime/panic.go:45
    /usr/lo

[2016-06-12 13:08] therc commented on #880
Maybe something along these lines:
![kubernetesdashboard138](https://cloud.githubusercontent.com/assets/13481082/15991308/33842c72-307d-11e6-977d-79f7933ef398.png)

That's 138x138 like the current one.

[2016-06-13 01:13] therc opened #882 "Custom ordering for replicasets"
Copying from a comment in issue 817, https://github.com/kubernetes/dashboard/issues/817#issuecomment-224580252

I think replica sets need custom ordering, because of the way they are created and managed by deployments.

To give you an example, assume that I have three deployments, A, B and C, that I learned the lesson and that I set revisionHistoryLimit to 3. This means I'll eventually have four r

[2016-06-13 06:08] bryk commented on #881
Thanks for reporting this! Will be fixed soon.

[2016-06-13 06:13] bryk commented on #877
Oh,  looks annoying. Let's see what we can do with this.

[2016-06-13 06:24] bryk commented on #878
Please report such feature request whenever you can, it has huge value to us.

At some point we were planning to by default show only 'orphan' pods in pod list views. This is because pods generally belong to controllers (RS, RC, etc), so showing them in a separate list is messy. This may span further; to Replica Sets. I.e., by default list only orphan RSes. With that we'll show every 'application'

[2016-06-13 06:31] bryk commented on #880
You're correct. We didn't yet engage with a graphics designer to make a logo for the project. We've been busy adding features. But yes, we're approaching the moment to fix this.

[2016-06-13 06:31] bryk commented on #880
Did you make the logo by yourself? :)

[2016-06-13 06:32] bryk commented on #879
Yep, logs view has limitations that we are aware off. Hope to fix this soon after 1.1.

[2016-06-13 06:34] bryk commented on #882
Linking CLI issue: #27212

[2016-06-13 07:08] bryk opened #884 "YAML/app deploy cancel should go back to previous page, not workloads"
YAML/app deploy cancel should go back to previous page, not workloads. Currently when you hit cancel on that page you always get redirected to workloads.

[2016-06-13 07:47] f-higashi opened #885 "There is a difference between kubectl output and dashboard for deployment detail."
#### Issue details

OldReplicaSets and newReplicaset value is difference between kubectl output and dashboard.

I created deployment.
[code]

In the case of kubectl
[code]

In dashboard
NewReplicaSet is not shown.
Old replicaSets is shown and contains replicaset which is  NewReplicaSet in kubectl.

![deployments](https://cloud.githubusercontent.com/assets/8746742/16000026/8bf7ea30-3184-11e6-8370-f

[2016-06-13 08:32] floreks commented on #877
Ok, this looks like angular material bug when used with `target="_blank", we should create an issue there. I've created example codepen to show the issue.

http://codepen.io/pen/?editors=1010

[2016-06-13 08:45] bryk commented on #885
@floreks @maciaszczykm I confirm this. Can one of you take the issue?

[2016-06-13 08:55] gertipoppel opened #888 "Learn more link missing in Create Namespace dialog"
To be consistent with the other "Create..." dialogs, a Learn more link should be added to the Create Namespace dialog.

[2016-06-13 08:57] floreks commented on #885
I will check this.

[2016-06-13 09:21] floreks commented on #885
@bryk did you test it on k8s 1.3 or also 1.2.4?

On 1.3 I don't have this issue. After creating deployment deployments detail page matches kubectl describe.

![zrzut ekranu z 2016-06-13 11-20-01](https://cloud.githubusercontent.com/assets/2285385/16002585/d52206ae-3158-11e6-9ed5-214566662c58.png)

![zrzut ekranu z 2016-06-13 11-20-09](https://cloud.githubusercontent.com/assets/2285385/16002588/d91

[2016-06-13 09:36] #881 closed

[2016-06-13 09:36] bryk commented on #885
[code]

[2016-06-13 09:40] floreks commented on #885
So this may be an issue with `1.2.4` cluster version. I'll check.

[2016-06-13 10:21] bryk commented on #877
Awesome, let's see how angular material team responds to this

[2016-06-13 10:24] bryk commented on #888
Where should we link to? Do you have ideas?

[2016-06-13 10:27] bryk commented on #816
Starting work on this...

[2016-06-13 12:31] therc commented on #880
I took the official SVG and played with it in GIMP in five minutes. It was just an idea. For one, the green-yellow-red borders are too thin to really show up when shrunk to the average favicon size. :-)

[2016-06-13 12:31] gertipoppel commented on #888
I would set the link to
<a href="http://kubernetes.io/docs/admin/namespaces/" target="_blank" tabindex="-1">

[2016-06-13 13:23] floreks commented on #885
The issue seems to be connected to some differences between `1.2.4` and `1.3` k8s.

I've investigated it and found out that different pod template hash is generated between versions in this method.
https://github.com/kubernetes/dashboard/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/util/deployment/deployment.go#L216

`FindOldReplicaSets` and `FindNewReplicaSet` used in our backend to ge

[2016-06-13 15:18] bgrant0607 commented on #885
@janetkuo and @pwittrock found a similar issue in an e2e test.

Why does the back end need to do FindNewReplicaSet?

[2016-06-14 05:50] floreks commented on #885
We want to provide output similar to `kubectl describe` and it displays old/new replica sets related to deployment.

Kubectl describe uses `FindNewReplicaSet` transparently also in here:
https://github.com/kubernetes/dashboard/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/kubectl/describe.go#L1929

Only difference is that `GetNewReplicaSet` gets replica sets from the server and then exec

[2016-06-14 06:12] floreks commented on #767
Are there any other related objects than replica sets for deployment? Currently we are showing old/new replica sets and pods are related to them, not to deployment itself. I don't see any other related objects.

cc @bryk @maciaszczykm

[2016-06-14 07:52] floreks opened #899 "Firefox has troubles loading workloads page"
#### Issue details

[code]

On Firefox (47.0) there are problems with some js code and workloads page is loading very long. Sometimes even crashes before showing. It seems that this is related to middle ellipsis formatting.

[2016-06-14 11:33] bryk commented on #899
Can you take this? I also encountered the problem, but couldn't find a concrete solution. Try using a debugger or something.

[2016-06-14 11:34] bryk commented on #767
We could potentially also show pods, but this is good enough for now. I think we should close this :)

[2016-06-14 11:34] #767 closed

[2016-06-14 11:59] floreks commented on #899
Sure, I'll check this.

[2016-06-14 13:05] #821 closed

[2016-06-14 15:50] Bregor commented on #374
I read all comments, but still don't understand: is it possible to use ssl-keys auth for dashboard to access an apiserver?

[2016-06-14 15:55] Bregor commented on #374
Apiserver run with following:

    - --secure-port=8443
    - --insecure-bind-address=127.0.0.1
    - --insecure-port=8080
    - --admission-control=NamespaceLifecycle,LimitRanger,ResourceQuota
    - --runtime-config=extensions/v1beta1=true,extensions/v1beta1/thirdpartyresources=true
    - --tls_cert_file=/etc/kubernetes/ssl/apiserver.pem
    - --tls_private_key_file=/etc/kubernetes/ssl/apiserver-

[2016-06-15 05:37] edouardKaiser opened #902 "Display of pod name could be wider"
#### Issue details

The space allocated to display a pod name could be wider, the empty space is not used:

![image](https://cloud.githubusercontent.com/assets/7731641/16069068/f384c160-330e-11e6-8301-3429a7be77de.png)

[code]

[2016-06-15 07:16] floreks commented on #902
This is probably related to #706 and #691. Try hovering over the text or refreshing the page and it should be ok. It is a known bug with middle ellipsis formatting. It is supposed to dynamically adjust to available space and calculate text width but in some cases it fails.

Thanks for testing and reporting. We'll fix it eventually :)

[2016-06-15 07:21] edouardKaiser commented on #902
Yep you're right ! I'll close this one, thanks.

[2016-06-15 07:21] #902 closed

[2016-06-15 07:58] #888 closed

[2016-06-15 08:08] digitalfishpond commented on #801
Starting work on this

[2016-06-15 08:34] maciaszczykm opened #903 "Add conditions to node details"
Add conditions to node details page, like in `kubectl`:

![image](https://cloud.githubusercontent.com/assets/2823399/16073110/a71622c6-32e4-11e6-9629-69fca1a752be.png)

[2016-06-15 11:25] bryk commented on #374
You can use kubeconfig files with 1.1.0-beta2 version or 1.1 (to be released in 2 weeks). All you need to do is to specify KUBECONFIG env var and point it to the file.

[2016-06-15 11:50] floreks commented on #899
Unfortunately it is due to middle ellipsis formatting. Firefox has issues with DOM manipulaton `width = measurementElement.offsetWidth` takes ~100ms to execute on workloads page. I'm not sure what we can do right now other than redesign in in a way not to use DOM manipulation. @bryk @maciaszczykm any ideas?

[2016-06-15 11:54] Bregor commented on #374
@bryk thank you!
Works like a charm.

[2016-06-15 12:42] bryk commented on #374
@Bregor We actually should have a command line option for this. Can you check whether --kubeconfig option works? If not, it is super easy to add it.

[2016-06-15 12:44] Bregor commented on #374
@bryk

    $ docker run -it --rm gcr.io/google_containers/kubernetes-dashboard-amd64:v1.1.0-beta3 --kubeconfig=/blabla
    unknown flag: --kubeconfig
    Usage of /dashboard:
    ...

[2016-06-15 12:46] bryk opened #905 "Add --kubeconfig CLI option to dashboard"
Currently we only support KUBECONFIG env var. We should also support --kubeconfig CLI option as most other addons do.

cc @Bregor

[2016-06-15 12:46] theobolo commented on #374
@Bregor Docker run ? Not Kubectl run either  ?

[2016-06-15 12:48] bryk commented on #905
This started in: #374

[2016-06-15 12:48] Bregor commented on #374
@theobolo is there any difference? Kubelet will use this very container anyway.

[2016-06-15 12:50] theobolo commented on #374
Yep but not sure about that :/ @bryk can you confirm ?

[2016-06-15 13:22] bryk commented on #374
Should be no difference. You should use kubelet/docker directly only for testing. In real environment deploy this as a pod to your cluster.

[2016-06-15 13:41] Bregor commented on #374
Exactly.
In current manifest (I use `kind: Deployment`) there is following:

    ...
	    spec:
	      containers:
	      - name: kubernetes-dashboard
		command:
		  - /dashboard
		  - --apiserver-host=https://kubernetes.default.svc.kubernetes.local:8443
		image: gcr.io/google_containers/kubernetes-dashboard-amd64:v1.1.0-beta3
		imagePullPolicy: Always
    ...

[2016-06-15 14:12] bryk commented on #899
I agree. Make it use standard CSS `text-overflow: ellipsis` rules.

[2016-06-15 20:25] danielromlein opened #908 "Left-hand Navigation"
Based on wireframes in the design doc [UX and navigation that scales](https://github.com/kubernetes/dashboard/blob/master/docs/design/navigation-and-scale.md#navigation), the current hierarchy of sidebar nav content is:
- **Overview** – High level dashboard of the cluster.
- **Workloads** – Shows replica sets, replication controllers, jobs, daemon sets, pods, etc.
- **Services** – Shows services,

[2016-06-15 21:21] Lukenickerson commented on #908
From the mockups in that link it looks like we'll need three levels of navigation using the ["Nested side nav" + tabs pattern](https://material.google.com/patterns/navigation.html#navigation-combined-patterns), so we'll need a hierarchy three levels deep.

Another open question to add: Do we want to also consider [navigation based on roles and top tasks](https://material.google.com/patterns/naviga

[2016-06-16 06:49] digitalfishpond commented on #635
Started working on this

[2016-06-16 06:50] Yamagami-Takuma opened #910 "The old translation sentences remain"
#### Issue details

The old translation sentences remain in the i18n xtb file.

e.g. these three lines is same place translation.
https://github.com/kubernetes/dashboard/blob/f7f5649c54834fc6f7c29326d2de4b4cf1680959/i18n/messages-en.xtb#L143
https://github.com/kubernetes/dashboard/blob/f7f5649c54834fc6f7c29326d2de4b4cf1680959/i18n/messages-en.xtb#L424
https://github.com/kubernetes/dashboard/blob/f

[2016-06-16 06:57] floreks commented on #908
Here is [an issue](kubernetes/kubernetes#22687) created to clarify k8s documentation and our menu that will be in sync with it. It's a bit stale but we should post any ideas there. We've agreed already on most parts of menu, but there are still some open points.

[2016-06-16 08:02] #903 closed

[2016-06-16 13:28] maciaszczykm opened #911 "Display all node details"
Elements to display:

- [x] basic details
- [x] conditions
- [x] pods
- [x] events
- [x] allocated resources
- [ ] addresses
- [ ] container images

[2016-06-17 00:09] pwittrock commented on #908
@johndmulhausen Can you make sure this is up to date.  I think we added Cluster and ObjectMetadata sections.

[2016-06-17 07:47] digitalfishpond commented on #441
Any strong opinions about this?
Here's a suggestion that uses the assumption that more than 10 pods per RC is a less usual use-case than fewer than 10 pods per RC (I don't know if this is accurate):
How about a highlighted link saying 'More Pods...' or 'See all Pods...' at the bottom of a list of 10 pods, that takes you to the 'Pods' section of the workloads list page which shows all Pods with lin

[2016-06-17 08:11] floreks commented on #441
How about implementing [virtual repeat](https://material.angularjs.org/latest/demo/virtualRepeat) on this menu, so user can see all pod logs links?

@maciaszczykm @bryk what's your opinion?

[2016-06-17 08:46] maciaszczykm commented on #441
Virtual repeat seems to be exactly what we need here.

[2016-06-17 08:48] digitalfishpond commented on #441
Looks ideal. I'll implement this now.

[2016-06-17 10:47] cheld commented on #910
/cc @taimir

[2016-06-17 11:28] Rahul91 opened #916 "Unable to access dashboard"
#### Issue details

Unable to access dashboard on http://master_ip/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard

Message **"no endpoints available for service "kubernetes-dashboard""**

I did the steps given in [http://kubernetes.io/docs/user-guide/ui-access/](http://kubernetes.io/docs/user-guide/ui-access/), but still no result.
[code]
[code]

**When using v0.19.3, I was able

[2016-06-19 10:45] edouardKaiser opened #919 "Display the port for NodePort services"
#### Issue details

In the service details view, we don't display the port that has been allocated when it's a NodePort service.
I personally would find it useful.

![image](https://cloud.githubusercontent.com/assets/7731641/16176877/be4e969e-365e-11e6-86ad-e864ce546956.png)

Thoughts ?

##### Environment
[code]

[2016-06-19 10:49] edouardKaiser opened #920 "Service status icon"
#### Issue details

For certain services, I have the "waiting for something" icon as a status next to the name, but I have no idea what it means:

![image](https://cloud.githubusercontent.com/assets/7731641/16176888/0ccbed1c-365f-11e6-9f4b-544dddf838f1.png)

Is it normal ? Should we display a label when mouse is over ?

##### Environment
[code]

[2016-06-19 11:13] edouardKaiser opened #922 "Edit a ConfigMap"
#### Issue details

Any plan to offer ConfigMap edition ?
I think they are a pretty useful resource. I'm asking because I didn't see anything in the mockup (https://github.com/kubernetes/dashboard/tree/master/docs/design/mockups) regarding the ConfigMap.

[2016-06-20 06:31] floreks commented on #920
There should be a tooltip that says 'Service is in pending state.' This basically means that depending on service type, Cluster IP or external endpoint is not yet assigned. Tooltip is not displayed because of a bug. We'll fix that.

@digitalfishpond could you take a look as you were doing this. Not existing localization is used in html template.

[2016-06-20 06:50] floreks commented on #919
I agree that this should be added. `kubectl` is also showing this information.

[2016-06-20 08:28] bryk commented on #441
@digitalfishpond @maciaszczykm @floreks I don't think we have real estate to display all pods in that dropdown. The idea with "See all..." looks just about right, because it solves the problem and is easy to implement. What do you think?

[2016-06-20 08:32] bryk commented on #916
Is the Dashboard UI running? Can you show me logs of the dashboard pod?

[2016-06-20 08:46] bryk commented on #922
Yes, this is in plans. After we're done with our 1.1 release we will update the roadmap so that this is reflected. And yes, this is pretty high on the list :)

[2016-06-20 08:47] bryk commented on #920
@digitalfishpond Can you add a tooltip to the services status icon? With @floreks' explanation :)

[2016-06-20 08:48] bryk commented on #919
@floreks Can you fix this?

[2016-06-20 08:55] edouardKaiser commented on #922
Awesome, thanks

[2016-06-20 09:58] floreks commented on #919
Sure, how should we refer it? External node endpoint?

[2016-06-20 10:06] bryk commented on #919
Yes, sounds good.

[2016-06-20 12:36] #884 closed

[2016-06-20 13:40] bryk commented on #908
This was in initial proposal and can be changed. We look for you creativity here to explore better approaches if you see them :)

And yes, if we stay with this proposal, we need three levels of navigation, which is two-level menu and tabs.

[2016-06-20 13:42] bryk commented on #908
I think most up to date version is in https://github.com/kubernetes/kubernetes/issues/22687

[2016-06-20 13:47] bryk commented on #908
This is a very good question that we've been asking ourselves a lot :) In the proposal in kubernetes/kubernetes#22687 we've grouped resources into use-case driven categories. E.g., "I want to run an app" -> workloads, "I want to configure my app" -> config, "I want to play with the cluster itself" -> cluster, etc. This was based on our experience and user feedback.
So, we can have an answer to thi

[2016-06-20 18:01] ghprimerib opened #926 "kubernetes dashboard problems"
#### Issue details

I've created the dashboard pod.  Logs imply it's running and talking to the api server okay.   But when I go to the url:  https://paas1.r1dev.com/ui    I am unable to connect.

Logs:
[~]$ kubectl get pods --namespace=kube-system
NAME                         READY     STATUS    RESTARTS   AGE
kube-dns-v10-umyn4           4/4       Running   0          1h
kubernetes-dashboard-9x8

[2016-06-21 05:55] bryk commented on #926
What do you see? An error? Or maybe empty page? Can you send a screenshot?

[2016-06-21 06:59] floreks commented on #441
"See all..." option would show user all pods not only pods related to the controller and I think that's not what user would expect to see. Virtual repeat shouldn't be hard to implement also, and it will show in an easy way all related pods with link to logs. What do you think?

[2016-06-21 07:12] bryk commented on #441
Ok, after a round of thoughts I agree :) Showing all pods there is good. As long as it does not crash the UI.

[2016-06-21 09:18] #691 closed

[2016-06-21 12:01] bryk opened #931 "Link from pod details to node"
This should be a link. It would surface the nodes view more.
![selection_088](https://cloud.githubusercontent.com/assets/1159999/16228646/8503fc5c-37b8-11e6-8333-d44d6dfb88ea.png)

[2016-06-21 12:01] bryk commented on #931
@maciaszczykm Can you do a quick fix?

[2016-06-21 12:01] #828 closed

[2016-06-21 12:02] maciaszczykm commented on #931
Yep, will do it today.

[2016-06-21 12:56] #911 closed

[2016-06-21 12:56] #931 closed

[2016-06-21 12:58] edouardKaiser opened #932 "QoS Tier (cpu/memory) information in pod details view"
I was having a look at the pod details view and was thinking that we could display extra useful  information potentially.

What about those one:
- args
- volumes
- QoS Tier (cpu/memory)

Thoughts ?

[2016-06-21 13:02] maciaszczykm commented on #932
We have it in our plans, but cannot provide any date yet.

[2016-06-21 13:06] bryk commented on #932
@edouardKaiser And we highly encourage you to contribute to add missing features :) It should be easy job

[2016-06-21 13:07] maciaszczykm commented on #848
@therc @edouardKaiser @bryk Can we close it?

[2016-06-21 13:09] maciaszczykm commented on #816
@edouardKaiser @bryk Can we close it?

[2016-06-21 13:11] floreks commented on #816
Fixed in #892

[2016-06-21 13:29] edouardKaiser commented on #932
You're probably right, but my Go Lang skills are literally null. I guess it's an opportunity to learn Go lang ;)

[2016-06-21 13:33] bryk commented on #932
It is a nice language :) And when it is things that we did in the past, you have plenty of places around the codebase for inspiration

[2016-06-21 14:04] ghprimerib commented on #926
The error is that the browser said unable to connect.  But I was trying to connect: https://paas1.r1dev.com/ui

That was what the dashboard docs said to connect to:
https://<kubernetes-master>/ui

Turns out that I can access the dashboard via our node FQDN at:  http://paas2.r1dev.com:30347

So no real issue here.  Just didn't know how to connect to dashboard correctly.
Thanks

[2016-06-21 14:04] #926 closed

[2016-06-21 14:35] therc commented on #848
The service URL is not discoverable. Could we at least have a link from the workload page, in one of the two bars at the top?

[2016-06-21 14:40] therc commented on #932
Custom resources, too. Actually, I added alpha support for GPU scheduling, it would be great to show that.

[2016-06-22 06:14] floreks commented on #800
Added in #925

[2016-06-22 06:14] #800 closed

[2016-06-22 06:31] edouardKaiser commented on #932
That's another issue, but I tried to setup the dev environment. Not sure how to configure IntelliJ properly but it doesn't recognise all the external import (github, k8s,io...) and when I start a local cluster with `gulp local-up-cluster` the API server is not exposed on localhost 8080 (probably because I'm using Docker Beta for Mac). If someone is willing to spend time help me to setup the dev en

[2016-06-22 06:58] digitalfishpond commented on #920
Done

[2016-06-22 07:04] floreks commented on #932
I'm using IntelliJ Ultimate so I can help you configure it.

1. Download `Go` and `AngularJS` plugins.
1. IntelliJ should recognize project as `Go project` and offer to change its type.
1. Settings -> Languages & Frameworks -> JavaScript -> Set language version to ES 6
1. Settings -> Languages & Frameworks -> Go -> Go Libraries -> Add Project libraries `<dashboard_home>`, `<dashboard_home>/Godeps/

[2016-06-22 07:05] edouardKaiser commented on #932
Thanks Sebastian, much appreciated, I'll give it a try.

[2016-06-22 07:06] #920 closed

[2016-06-22 07:16] maciaszczykm commented on #848
@therc It's discoverable only for replication controllers:

![image](https://cloud.githubusercontent.com/assets/2823399/16257599/cc101d5a-3859-11e6-97c8-e2891a3cb8d4.png)

We'll also add it to the menu, which should be introduced soon. That's why I think we shouldn't add link to workloads page.

[2016-06-22 07:20] bryk commented on #351
Partially done. We have pagination for events now.

[2016-06-22 07:20] #584 closed

[2016-06-22 07:20] bryk commented on #743
@floreks Are we doing this today?

[2016-06-22 07:21] floreks commented on #351
We have pagination for all resources. Events and Logs are still missing it. It should be easy to add to events, I'm not sure about logs. I'll take a look.

[2016-06-22 07:23] bryk commented on #932
I have an external remote cluster that I access via `kubectl proxy --port=8080`

[2016-06-22 07:23] edouardKaiser commented on #932
@bryk it's perfect, I can do that

[2016-06-22 07:32] floreks commented on #743
Probably not. I'm not sure how to proceed with that. There are too many open points. This should be more clear once we start adding related services to all resources.

[2016-06-22 08:47] bryk commented on #848
@therc That's, unfortunately, true. But we will have a next release with menu soon.

[2016-06-22 09:55] bryk commented on #794
It is all about tests. IE works. Moving to post 1.1

[2016-06-22 09:55] bryk commented on #885
I think this can be closed. Right, @floreks ?

[2016-06-22 10:00] bryk commented on #899
So, we have less problems now, but the root of the issue is still there. Move to post 1.1?

[2016-06-22 10:29] floreks commented on #899
Yep. Let's move it to post 1.1

[2016-06-22 10:45] floreks commented on #885
Well issue still exists on `1.2.4` clusters but seems to be related to k8s issue. We can close it on our side.

[2016-06-22 11:50] #919 closed

[2016-06-23 05:09] Yamagami-Takuma opened #945 "The edit resource dialog don't get large on Internet Explorer"
#### Issue details

The edit resource dialog don't get large on Internet Explorer.

The dialog can get small when make browser's window size smaller.
Then enlarge window size, the dialog is still small.

e.g. compare Internet Explorer and chrome
Internet Explorer
![ws000008](https://cloud.githubusercontent.com/assets/13443650/16292062/c22e3d9a-3948-11e6-8ab9-d0fb7ef28928.JPG)
chrome
![ws000000](ht

[2016-06-23 05:36] Yamagami-Takuma commented on #945
[code]

[2016-06-23 05:43] Yamagami-Takuma opened #946 "Image pull secret dialog is larger than window on Chrome"
#### Issue details

On Chrome, when window size is small, Create a new image pull secret dialog is larger than window size.
Other dialog is OK. Only Create a new image pull secret dialog causes this.

e.g. window size is 510×450, compare chrome and Internet Explorer
On Chrome. Dialog is larger than window. Cannot read sentences.
![ws000007](https://cloud.githubusercontent.com/assets/13443650/16292

[2016-06-23 06:03] bryk commented on #946
What happens when the window is large enough? E.g., desktop?

[2016-06-23 06:28] Yamagami-Takuma commented on #946
This is depends on width of window.
The enough size is about 600 width.

If window is large enough, the dialog fits window, like other dialogs.

[2016-06-23 08:19] bryk commented on #742
Done? I think yes. If there's something that remains, it shouldn't be tracked here. Because otherwise this issue would be always open

[2016-06-23 08:19] #742 closed

[2016-06-23 08:21] bryk commented on #341
This is not needed now, as the default Travis build system is good enough

[2016-06-23 08:21] #341 closed

[2016-06-23 08:22] #719 closed

[2016-06-23 08:44] arhided commented on #916
I got the same error.

Starting HTTP server on port 9090
Creating API server client for https://10.0.0.1:443
Error while initializing connection to Kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service accounts configuration) or the --apiserver-host param points to a server that does not exist. Reason: Get https://10.

[2016-06-23 09:02] Yamagami-Takuma opened #948 "The full text of the column labels are not shown on Internet Explorer"
#### Issue details

On Internet Explorer, the full text of the column labels are not shown when window width is not enough.
On Chrome, it's shown as multiple lines.

IE
![ws000012](https://cloud.githubusercontent.com/assets/13443650/16297565/4f4fbcc6-396c-11e6-9de4-0fa62f410fd5.JPG)

Chrome
![ws000011](https://cloud.githubusercontent.com/assets/13443650/16297559/496401b4-396c-11e6-833a-90b43ebb7e8

[2016-06-23 13:11] romlein commented on #908
@bryk

Still researching and learning so I can make more informed contributions to this based on user flows – if any promising alternative structures emerge I will definitely share! 😊   For now: is there an agreed upon tighter Dashboard hierarchy I can work with for the lefthand nav?  There's a discrepancy between @maciaszczykm's comment with the most recent [Current State](https://github.com/kube

[2016-06-23 13:29] bryk commented on #908
We've got this from @maciaszczykm proposal:

- __Workloads__ - pods, replica sets, replication controllers, jobs, deployments, daemon sets, pet sets, workflows and scheduled jobs.
- __Service discovery and load balancing__ - services and ingresses.
- __Storage__ - persistent volume claims.
- __Config__ - secrets and config maps.
- __Policies__ - resource quotas, limit ranges and pod security polic