[2016-09-14 10:08] bryk commented on #1125
Situation: I have a deployment that targets labels `app: my-app, env:prod`. I also have a service with the same target. Then I do a rolling update, which results in a new RC that has `app: my-app, env:prod, pod-template-hash: 12345`. Current code will show the service, because because it has subset label selector.

If we went with "succeed at the first similarity", we'll also show services that ta

[2016-09-14 10:11] julia-allyce commented on #1110
Ok cool. Thank you for clarifying 😁
On Wed, Sep 14, 2016 at 3:04 AM Piotr Bryk <notifications@github.com> wrote:

[2016-09-14 10:15] floreks commented on #1125
Of course, this is true. We may need to introduce some more complex logic than "succeed at first match". I'm not sure if existing service will allow access to new "app" after rolling update, but if this is true then we should consider how to handle that. If it's not then we can stick to current logic as it is perfectly fine.

[2016-09-14 10:27] floreks commented on #1125
I'll do short test and get back to you. :)

[2016-09-14 10:39] floreks commented on #1125
For me original issue does not occur anymore. According to [this](https://github.com/kubernetes/kubernetes/issues/17902#issuecomment-227865019):

This is what currently happens, so we should not change logic. We can close :)

[2016-09-14 10:43] bryk commented on #1125
Ok, cool :) Closing. Thanks for resolving this.

[2016-09-14 10:43] #1125 closed

[2016-09-14 12:27] floreks commented on #1224
https://github.com/kubernetes/dashboard/tree/master/src/app/frontend/common/components/middleellipsis

[2016-09-14 12:30] floreks commented on #1224
It's actually more a refactor because code is still there but only acts as a wrapper. Tooltip is not displayed.

[2016-09-14 13:04] junsaw commented on #349
kubectl version

Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"ec7364b6e3b155e78086018aa644057edbe196e5", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"ec7364b6e3b155e78086018aa644057edbe196e5", GitTreeState:"clean"}

[2016-09-14 13:20] bryk commented on #1224
How about we make it click-to-expand solution? E.g., you can click on it to see it fully. Of course, this does not apply to all cases, but in tables we can (and should) do this.

[2016-09-14 17:01] preillyme commented on #39
Thanks for closing this @bryk

[2016-09-14 21:38] colemickens opened #1234 "Current namespace is rendered in Roboto Mono"
#### Issue details

##### Environment
[code]

Not sure if this is intentional:

The text for the currently selected namespace is rendered in "Roboto Mono Medium" rather than some variant of "Roboto Sans" as I might've expected.

![2016-09-14-143641_1443x953_scrot](https://cloud.githubusercontent.com/assets/327028/18530987/d0c11bee-7a88-11e6-9c40-392bcffd9f6b.png)

[2016-09-14 21:45] colemickens opened #1235 "Logs are rendered in Roboto rather than Roboto Mono"
#### Issue details

##### Environment
[code]

Similar to #1234, not sure if this is intentional or not. I'd *strongly* prefer that logs be shown in `Roboto Mono`.

![2016-09-14-144211_5760x1200_scrot](https://cloud.githubusercontent.com/assets/327028/18531192/da921c30-7a89-11e6-906d-a22dc68c0029.png)

[2016-09-15 00:12] edouardKaiser opened #1236 "HTML is not rendered for logs with colour attribute"
#### Issue details

The logs with color attributes don't render anymore:

![image](https://cloud.githubusercontent.com/assets/7731641/18534280/bea13c7e-7b2c-11e6-8050-d419ad7eceaa.png)

[code]

[2016-09-15 00:35] edouardKaiser opened #1237 "Tabulation and spacing is not respected when displaying log"
#### Issue details

Logs should get displayed like this, respecting TAB and spaces:

![image](https://cloud.githubusercontent.com/assets/7731641/18534571/fa3b27ec-7b2f-11e6-8d55-80665389a402.png)

But it gets displayed like this now:

![image](https://cloud.githubusercontent.com/assets/7731641/18534578/09d97ae6-7b30-11e6-81f4-9ce841d8a64d.png)

[code]

[2016-09-15 07:07] maciaszczykm commented on #1235
Will be done soon in #1229.

[2016-09-15 07:16] maciaszczykm commented on #1234
It's intentional, so I'm closing it. Check discussion in https://github.com/kubernetes/dashboard/issues/908#issuecomment-245025906.

CC @bryk @romlein

[2016-09-15 07:16] #1234 closed

[2016-09-15 07:21] bryk commented on #1234
Thanks @colemickens  for reporting the issue! If you think that this should be changed, please comment this in #908 and cc @romlein

[2016-09-15 07:23] colemickens commented on #908
@romlein What was the decision behind making the current namespace monospaced? It feels/looks a bit out of place in the context of the otherwise "Sans"-y dashboard.

[2016-09-15 07:23] bryk commented on #1236
@maciaszczykm Will you take care of this in your logs view overhaul PR?

[2016-09-15 07:28] maciaszczykm commented on #1236
@edouardKaiser Is there any public container returning colorful logs?

[2016-09-15 07:30] floreks commented on #1236
I guess it was intentional not to allow HTML rendering in logs. Check [this](https://github.com/kubernetes/dashboard/blob/master/src/app/frontend/logs/logs_controller.js#L187) out. Logs line is escaped not to contain any HTML markup. Allowing that could be a potential security issue.

[2016-09-15 07:33] floreks commented on #1224
Sounds good. If we can easily do it then I say we should go for it.

[2016-09-15 07:36] bryk commented on #1236
@floreks I think that our pipeline is broken at some point, because: we first sanity the logs, then add <spans with colors> and finally render this as HTML. I think that "render as HTML" part does not work.

[2016-09-15 07:46] edouardKaiser commented on #1236
@maciaszczykm there is (keycloak docker image for example), but it's not really a matter of the public container. I can take a public container and change the logging configuration.

The dashboard used to display the colour, but we lost that feature (https://github.com/kubernetes/dashboard/commit/1602b5f61603045d35ce7171498dada1a4e9ceb9).

[2016-09-15 08:14] floreks commented on #1236
It seems that [this](https://github.com/kubernetes/dashboard/commit/1602b5f61603045d35ce7171498dada1a4e9ceb9#diff-5c9fe37bf019cf432650ac319231ac7dR20) was changed with [that](https://github.com/kubernetes/dashboard/blob/master/src/app/frontend/logs/logs.html#L49) and that caused logs line not to be rendered as html.

[2016-09-15 08:15] maciaszczykm commented on #1236
@edouardKaiser Yes, I'm aware of it. I'll restore it. Thanks for pointing out sample container.

[2016-09-15 08:49] maciaszczykm opened #1238 "Use new GitHub features?"
We might be interested in using some of GitHub new features, especially new review system seems to look nicely:

https://github.com/blog/2256-a-whole-new-github-universe-announcing-new-tools-forums-and-features

[2016-09-15 09:15] maciaszczykm commented on #1236
It's done now in #1229. However, it won't accept HTML, but only ANSI tags (for example `\033[1;31m`)to change logs colors.

[2016-09-15 09:45] bryk commented on #1238
Yeah, I just noticed this and all looks super exciting. We could use GH review system instead of reviewable and track progress on the project boards.

[2016-09-15 10:52] floreks commented on #1238
Is it possible to add GH check instead of Reviewable for PRs?

[2016-09-15 10:54] maciaszczykm commented on #1238
@floreks Yes, it is:

[2016-09-15 10:54] floreks commented on #1238
Then I think we can try and use it instead of reviewable.

[2016-09-15 11:59] cheld commented on #1238
Have you seen the projects tab? Seems to be something like a trello/kanban-board

https://github.com/kubernetes/kubernetes/projects

[2016-09-15 12:00] floreks opened #1240 "Empty graph card should be hidden"
![zrzut ekranu z 2016-09-15 13-57-04](https://cloud.githubusercontent.com/assets/2285385/18549064/7af5196c-7b4c-11e6-816e-83f6431580c8.png)

Empty graph card should not be rendered in HTML if it's empty.

[2016-09-15 12:01] bryk commented on #1240
How is this possible? Can you fix the issue?

[2016-09-15 12:03] bryk commented on #1238
Yes, the projects looks super cool. We could use it for tracking.

[2016-09-15 12:35] floreks commented on #1240
It can happen when we first start dashboard/heapster and there are no data yet to display graphs. For me it took few minutes to get the data and only `Memory usage` was displayed.

I'll take a look at that.

[2016-09-15 13:05] floreks commented on #1143
A bit late response but it's possible that your cluster has `Admission Controller` configured with `AlwaysPullImages` policy and this forces pull instead of using already loaded image.

http://kubernetes.io/docs/admin/admission-controllers/#alwayspullimages

[2016-09-15 20:35] romlein commented on #1220
@colemickens agreed, we should standardize the _Deploy_ / _Create_ nomenclature. Thanks for reporting!
Though it's not an excuse for any UX issues we're observing now, as far as the _Create_ being a global object, that will be resolved by our [next phase](https://invis.io/CG8CVE87Z) addition of a top bar above the app bar.

Mockups for this version do have local actions as partially transparent so

[2016-09-16 06:31] digitalfishpond opened #1245 "Option to skip validation on deployment"
#### Issue details

When deploying a new app, the following message sometimes (correctly) appears:
`Deploying file has failed`
`error validating "daemonset.yaml.txt": error validating data: found invalid field request for v1.ResourceRequirements; if you choose to ignore these errors, turn validation off with --validate=false`
This is impossible to do via the UI.
Would it be useful to have a checkb

[2016-09-16 06:52] #1200 closed

[2016-09-16 07:03] bryk commented on #1240
Awesome, thanks! Are you able to fix this today? If yes, I'll include this into 1.4 release fixup.

[2016-09-16 07:20] bryk commented on #1238
Let's try GitHub's review system for a while. I made a setting to require GH code review approval before merging. Please post here if this causes any problems. If not, let's review our feelings after a week.

[2016-09-16 07:25] floreks commented on #1240
I'll try. This shouldn't take long to fix.

[2016-09-16 08:12] bryk commented on #1245
Why is this invalid, yet should be deployable?

[2016-09-16 08:53] digitalfishpond commented on #1245
The majority of the example yaml files from Kubernetes' docs result in the same validation error message. Kubectl offers the feature to turn off validation, so I was thinking that maybe we'd want Dashboard to do so too. @floreks made a suggestion to not add a checkbox, but rather a 'deploy anyway' button on the error dialog, which I like.

[2016-09-16 09:39] digitalfishpond opened #1248 "Display all info for a Pod"
#### Currently, we only show limited information in the details page of any given pod. We should be showing all information
##### Steps to reproduce

Navigate to the details page of any pod:
##### Observed result

![screenshot from 2016-09-16 11-32-14](https://cloud.githubusercontent.com/assets/13361549/18581534/5a19f766-7c01-11e6-9d3f-c440ebc703b7.png)
##### Expected result

Details should includ

[2016-09-16 09:43] bryk commented on #1245
Can something wrong happen if we always disable validation?

[2016-09-16 09:46] bryk commented on #1248
@romlein @Lukenickerson Can we use it as a testbed for UX design for individual pages? I.e., design UX for this page and then extrapolate it for all other resources. This page will be among the most complex ones.

[2016-09-16 09:51] digitalfishpond commented on #1245
For sure, I mean validation is there for a reason, but if kubectl enables the option, shouldn't Dashboard too, particularly since the message currently points the user to this very option for which he/she currently has to revert to kubectl? You definitely wouldn't want to permanently disable validation, which is why @floreks ' solution seems like a nice idea to me...?

[2016-09-16 09:52] bryk opened #1249 "Heapster metrics can go below 0"
Sometimes Heapster metrics go below 0. We should protect from this.

See https://raw.githubusercontent.com/jskswamy/dashboard/b9b34f9a1a1bdc0178e00f8e035cbe129ed66db4/docs/dashboard-ui.png

[2016-09-16 09:54] digitalfishpond commented on #1248
I'll get started on a possible page hierarchy that I'll send to @romlein for review/improvement. I'll post here with progress.

[2016-09-16 10:15] maciaszczykm commented on #1249
+ plot sizes should be equal.

[2016-09-16 11:25] bryk commented on #1245
Yep, I like @floreks' idea :)

[2016-09-16 18:53] romlein commented on #908
@colemickens we wanted namespaces to have a high and unique priority in the hierarchy, and because we have the global "Admin" objects _above_ Namespace, a strong differentiator from surrounding elements was needed. Because Namespace titles are displayed code-friendly (don't know the technical term for this, but for example: `kube-system` rather than Kube System), Roboto Mono seemed like a logical

[2016-09-16 19:38] colemickens commented on #908
I'd offer this observation: all other objects that are displayed via their "code" name rather than a human-friendly name are rendered as regulars Sans types: pod/rc/service names anywhere they occur, etc. I appreciate that namespace is special, but it seems visually and hierarchically prominent already, just by nature of it's placement in the sidebar, under the context of "Workloads", but clearly

[2016-09-16 22:31] gillesdemey commented on #1237
A simple `whitespace: pre-wrap` on `.kd-logs-element` should do the trick.

[2016-09-18 13:39] floreks commented on #1249
Fixed. Closing.

[2016-09-18 13:39] #1249 closed

[2016-09-18 20:12] junsaw commented on #349
Any update on this request .....

Any help will be appreciated.

[2016-09-19 01:20] xiaoping378 opened #1252 "on master can't docker run successfully"
#### Issue details
on the latest master, and docker images is also the latest.
##### Steps to reproduce

``` docker run -ti --rm -v "$PWD":/k8sdocs -p 4000:4000 johndmulhausen/k8sdocs```

##### Observed result

##### Expected result
[code]
##### Comments

[2016-09-19 01:26] colemickens commented on #1252
Is this filed in the right place? This looks like an issue for kubernetes/kubernetes.github.io repo maybe?

cc: @johndmulhausen (because of the container name)

[2016-09-19 01:27] xiaoping378 commented on #1252
o.... sorry.

[2016-09-19 01:27] #1252 closed

[2016-09-19 01:37] colemickens opened #1253 "Menu open animation is absent"
#### Issue details

[code]

##### Steps to reproduce
1. Press hamburger button to collapse left nav.
2. Press hamburger button to uncollapse left nav.

##### Observed result
1. Collapse is animated.
2. Uncollapse is not animated.

##### Expected result
Both collapse and uncollapse should be animated.

##### Comments
Tested in dev versions of Chrome and Firefox and Edge.

[2016-09-19 03:29] drinktee commented on #1116
I have the same question.

[2016-09-19 06:21] digitalfishpond commented on #1248
Hierarchy posted [here](https://docs.google.com/drawings/d/1vMbsBZlnOeGh3sACaKtrliGgGijJc54Ea4Q0nzfLoqU/edit?usp=sharing).
@romlein @bryk

[2016-09-19 06:44] cheld commented on #1116
Server address missing?

[code]

[2016-09-19 06:45] floreks commented on #1116
With authentication it should be actually `server: https://MASTER_IP:SECURE_PORT`

[2016-09-19 06:49] floreks commented on #1253
I have also noticed that. It's possible that this is angular material bug.

On angular material page same issue occurs when you resize the page. Collapse is fine but uncollapse is not animated.

[2016-09-19 07:53] #1240 closed

[2016-09-19 08:18] bryk commented on #1253
Known issue, but minor one. Thanks @colemickens for reporting! Will be fixed in the second iteration of the nav menu work :)

[2016-09-19 08:24] bryk commented on #1248
@digitalfishpond Grat job! What did you use to create this? I'm asking because I'm pretty sure there's some info missing. E.g., containers have env vars.

Also, can you link between objects in the visualization? E.g., link from env var to a config map, because evn var source can be a config map. And link from a pod to a node, because a pod runs on a node :)

[2016-09-19 08:33] digitalfishpond commented on #1248
Yes, I'm currently working on improving the info. But for that I need to understand it first, so I'm starting ground up, could take a few hours... The goal is to eventually have a fully linked diagram.

[2016-09-19 08:50] cheld commented on #1116
The file /search/authentication/token_file must be mounted to the container, I guess

[2016-09-19 09:48] #1235 closed

[2016-09-19 09:48] #1236 closed

[2016-09-19 09:48] #1237 closed

[2016-09-19 13:34] romlein commented on #1248
Hey just catching up with this now. This looks great @digitalfishpond! I see you're currently editing so I'll let you finish that up before fully trying to wrap my head around the IA.

As a general principle I think we should be cautious about showing everything available simply because we _can_. Has this full list of Pod details been evaluated as necessary to show in the UI?

@bryk I think using

[2016-09-19 13:53] maciaszczykm commented on #1223
I'll create short document with guidelines for the repository and after that maybe also I will be able to refactor existing messages.

[2016-09-19 15:06] nvartolomei opened #1259 "A single page/view to see overview of nodes allocation"
I think it would be useful to have a page with overview of all nodes and % of ram, cpu allocated and available per node.

Is there any plans for this?

[2016-09-19 18:56] romlein commented on #908
@colemickens thanks for the detailed feedback! I'm torn. Reaching out to some Google designers who're more familiar with Material to get their thoughts. Stay tuned!

[2016-09-20 06:28] cheld commented on #1259
![nodes](https://cloud.githubusercontent.com/assets/7448799/18659632/1eea7a86-7f0c-11e6-8643-749d3f61e30d.png)

Like this? Have you tested latest version? It existed already for a while, but there was no menu entry.

[2016-09-20 07:09] digitalfishpond commented on #1248
Ok, All the information currently available to me (that I know about) is now included in the diagram. Please let me know if there is more, or if it could be displayed in a more useful way. @bryk was suggesting showing relationships between items. Could I ask you for an example and where I might find the information to add more?

[2016-09-20 07:13] nvartolomei commented on #1259
@cheld can we expose allocated resources there too? Maybe as gauge charts, one for cpu and another one for memory with 2 indicators, one for requests and another one for limits (gauge bars?).

So you can get overview for nodes without visiting each one.

ps. can we also expose CPU and Memory Available/Total on charts above?

[2016-09-20 07:16] mindw opened #1261 "v1.4.0 amd image is stale"
#### Issue details
`gcr.io/google_containers/kubernetes-dashboard-amd64:v1.4.0` is dated 5 days ago:
[code]

##### Environment

[code]

##### Steps to reproduce

Use the above image on any k8s setup (minikube, cloud vendor etc)
- set `imagePullPolicy: Always` to avoid stale images
- `kubectl proxy`
- open `http://localhost/8001/ui`

##### Observed result

CPU metrics still go below 0 & the log vie

[2016-09-20 07:22] colemickens opened #1262 "canary image is perpetually stale"
Similar to #1261, the `canary` tagged image is basically always stale.

Is there any CI that runs for this repo? It could easily build/tag/push up to GCR or some other registry.

In the meantime, I run [this script](https://gist.github.com/anonymous/4de04c7f3abac324472bfeeb3998db42) to update to `master` and replace the current running dashboard in my cluster. (The Deployment in my cluster is alre

[2016-09-20 07:30] colemickens opened #1263 "Roboto Mono Medium is an eyefull on the log page"
Left is "Roboto Mono Medium". Right is "Roboto Mono" (regular).

I find the "Medium" hard to read, as if it's bolded (AIUI, "medium" *is* a light bold when it comes to font faces).

Any chance others agree and it can be made to be `Roboto Mono` instead of `Roboto Mono Medium`?

![sketch 1](https://cloud.githubusercontent.com/assets/327028/18661213/6bf89bde-7ec9-11e6-99df-97d7c0c966e2.png)

[2016-09-20 07:33] bryk commented on #1261
This will be updated later today or tomorrow. Thanks for reporting :)

The longer story behind this is as follows. We synchronize major releases with Kubernetes core 1.4. But in order this to happen we need to send a PR to the core repo with updated image like a week before the actual release (due to code freeze there). So we build the image, push it and after a week we actually publish release he

[2016-09-20 07:44] bryk commented on #1262
So we really want to make this happen. We even had somebody working on it, but since then they went away.

We'll do this once we are done with the release, bug fixes, docs and stuff. It is needed for entire dev team since it eases development a lot.

Is this anything you can contribute to? Basically, we could push canaryies and per-PR images to docker hub. Should be easy to do on travis.

[2016-09-20 07:44] bryk commented on #1262
Previous report: https://github.com/kubernetes/dashboard/issues/1114

[2016-09-20 07:51] bryk commented on #1263
@romlein what do you think?

[2016-09-20 07:52] bryk commented on #1263
I personally think this is a good suggestion. I'll proactively pick it into our last batch of style fixes and put into 1.4 release. If you think that's bad, we'll revert it for the next minor one. cc @maciaszczykm

[2016-09-20 07:53] digitalfishpond commented on #1263
I agree that the Romoto Mono seems less aggressive on the eye, less contrasting area.

[2016-09-20 07:54] maciaszczykm commented on #1263
@colemickens I agree, right one looks better & is easier to read.

[2016-09-20 07:54] mindw commented on #1261
Thanks for the quick reply and explanation!
Its likely you get some dups on this one till the image is posted ...

[2016-09-20 09:33] bryk commented on #1261
Yes, we're aware of this, but that was the plan for 1.4 release. I'm not super happy with it, so I guess for future we'll just shift our release cycle by, like, two weeks.

[2016-09-20 09:40] bryk commented on #1248
Controller pages can have similar layout. In fact, they can embed this pod page as all controllers define a pod template. So you could display all you have here, except for the "status" section.

[2016-09-20 09:42] bryk commented on #1248
Yes. But at the end of the day, all info here is needed for some use cases. I'd go with progressive disclosure via expand/collapse or "show more".

[2016-09-20 09:44] maciaszczykm commented on #1112
Waiting for #1258.

[2016-09-20 09:49] bryk commented on #908
I'd personally go with less fonts in the nav. And differentiate items by spacing/layout.

[2016-09-20 10:19] PiotrDabkowski opened #1265 "Left hand side navigation glitch on Safari."
Expanding left hand side menu on Safari causes whole webpage to flicker.

[2016-09-20 10:22] PiotrDabkowski opened #1266 "Horizontal slider on Firefox."
Lists of resources have horizontal sliders on Firefox. On other browsers list of resources are shrank as far as possible to fit the size of the window before applying horizontal slider. Horizontal slider is rather inconvenient.

[2016-09-20 11:18] bryk commented on #1261
I just updated the image. PTAL and close if resolved.

[2016-09-20 11:20] #905 closed

[2016-09-20 12:02] drinktee commented on #1116
My dashboard worked with token.This is my kubeconfig and replication yaml.

[code]

[code]

[2016-09-20 13:09] floreks commented on #1183
Should be fixed now. Can we close?

[2016-09-20 14:37] batikanu commented on #1121
I made some research about it. I think we can reflect the logic of the [resource printer](https://github.com/kubernetes/kubernetes/blob/64f5d9c3f4b3997b59638448c76e58a56328b984/pkg/kubectl/resource_printer.go#L677) in kubectl. I can take it if you approve the solution.

[2016-09-20 15:52] cheld commented on #1121
I did not dig into the code. Maybe it is possible to extract a closed function (without side effects) that could be used by kubectl and Dashboard?

[2016-09-20 16:56] mindw commented on #1261
All is well now!

Thanks keep the great work :)

[2016-09-20 16:56] #1261 closed

[2016-09-20 18:40] romlein commented on #1263
Agreed. Good catch @colemickens and thanks for the speedy implementation @bryk 🔥

[2016-09-20 18:49] romlein commented on #908
Keith Guerin with Google Cloud Platform agreed that a more effective way to differentiate than Roboto Mono might be either the pipeline that's already below or possibly the introduction of an icon. I think we should change it to Roboto Medium to be more consistent with the rest of the UI. I'll include that in the batch of fixes I'm drafting.
/ @colemickens @bryk

[2016-09-21 02:43] colemickens commented on #1262
I'm not sure how I'd go about it. I don't have credentials for the google_containers registry, or for the Travis instance used for this project. From my understanding of the build script, it should be basically a matter of a line or two added to the `.travis.yml`, assuming that docker/gcloud credentials can be put into place by someone with the right access.

[2016-09-21 07:39] floreks commented on #1121
I think main assumption of this issue is wrong. It assumes that dashboard relies on simplified data description and we are actually trying to reflect `kubectl describe` not `kubectl get`.

Let's compare:
`kubectl describe pod test-496409221-psuql` returns
[code]

`kubectl describe pod test-496409221-psuql` returns
[code]

Additionally when we check the code, `PodPhase` that is directly displayed i

[2016-09-21 07:57] cheld commented on #1121
@floreks
if a user clicks on workloads, the pods would be listed as running with a green check. This might be technically correct, but from user perspective it is not running. It would be counter intuitive. Fundamentally, we want problems to surface and not hide them.

If a user clicks on a pod it might be ok to display the pod as running and the container as crashed.

Also, a pod listing is compa

[2016-09-21 08:05] cheld commented on #1121
@floreks  Just imagine Bob, our administrator has a cluster with 100 pods (non very much). How would he find out if there is a problem? Click on every pod?

[2016-09-21 08:06] maciaszczykm commented on #1121
@cheld Yes, this was our assumption AFAIR. This issue is connected to list view, because detail view seems to be okay.

It seems to be good solution IMO.

Overall, I'd follow `kubectl` here.

[2016-09-21 08:06] maciaszczykm commented on #1121
CC @bryk

[2016-09-21 08:12] batikanu commented on #1121
so is it something like {kubectl get pods} **≈** {pod list view} and {kubectl describe pod} **≈** {pods detail view} ?

[2016-09-21 08:12] floreks commented on #1121
That's why I've proposed that:

It will be similar to example below with the exception that in this case status of the pod would be still running as stated in documented code
[code]
![zrzut ekranu z 2016-09-21 10-09-23](https://cloud.githubusercontent.com/assets/2285385/18702774/88898590-7fe3-11e6-8586-42650dbd7972.png)

[2016-09-21 12:46] batikanu commented on #1028
The pull request #1258 is for resource quotas. I am implementing also for limit ranges.

[2016-09-21 13:15] maciaszczykm commented on #1028
@batikanu Let me know, when we'll be able to close it.

[2016-09-21 16:35] romlein commented on #1266
+1
Table responsiveness in Firefox doesn't collapse column width as it should.
![scrollbars](https://cloud.githubusercontent.com/assets/5114858/18720028/e73428e8-7ff7-11e6-9669-2a7b480e0b3c.jpg)

[2016-09-21 16:39] romlein commented on #1253
@bryk actually, side nav should animate off to the left of the page so the cards expand _toward_ it, not over it. See [Google Keep](https://keep.google.com) for example of desired functionality.

[2016-09-22 00:10] danielromlein opened #1268 "Various Design Fixes and Improvements"
#### Issue details
- [x] Kubernetes logo not properly aligned with breadcrumb. Breadcrumb needs to be moved down 1px, and I _think_ logo has to go up 1px.
  - ![alignment](https://cloud.githubusercontent.com/assets/5114858/18734004/f9a13c82-803d-11e6-8973-748ccb9e1582.png)
- [x] When a second level of breadcrumb is added, the parent jumps up a pixel
  - ![jump](https://cloud.githubusercontent.com/

[2016-09-22 08:49] maciaszczykm commented on #1263
Done in #1264.

[2016-09-22 08:49] #1263 closed

[2016-09-22 11:35] maciaszczykm commented on #1268
@romlein I hope you don't have anything against me putting checkboxes near items to be completed :)

[2016-09-22 12:04] floreks commented on #1268
Is it border between title and content?

Is it blur radius or spread radius? Current value for [box shadow](https://developer.mozilla.org/pl/docs/Web/CSS/box-shadow) is quite complex.
`0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)`

[2016-09-22 12:32] floreks commented on #1268
We've abandoned this idea at some point but I'm not sure why. We can add this again I think. @bryk @maciaszczykm what do you think?

Unfortunately this is default angular material behavior. When text is too long and takes too much space then padding is smaller. To fix that globally we'd need some kind of wrapper for md-button. Anyone has a better idea for that?

Same as above. Not easy to fix and

[2016-09-22 12:48] romlein commented on #1268
@maciaszczykm checkboxes are great! Sorry, I didn't know you could include those.

@floreks

As with all of these I'm totally open to being to persuaded otherwise if there's a good reason.

Ah ok, that's unfortunate. No I don't have any ideas.

Cool, let's wait for @bryk to weigh in.

No, I was referring to the border all the way around the card. Since the divider between title and content is `#dd

[2016-09-22 13:42] floreks commented on #1268
Current state:

Card
![zrzut ekranu z 2016-09-22 15-40-19](https://cloud.githubusercontent.com/assets/2285385/18750319/f984bd26-80da-11e6-8006-e81139b4cd9b.png)

Logo & breadcrumbs
![zrzut ekranu z 2016-09-22 15-40-23](https://cloud.githubusercontent.com/assets/2285385/18750323/facf5970-80da-11e6-95ef-d250e41146d8.png)

Logo & breadcrumbs (2 levels)
![zrzut ekranu z 2016-09-22 15-40-34](https://cl

[2016-09-22 21:28] colemickens opened #1272 "node5 is deprecated"
If you use the build-in-docker support, you now see a nasty message (and an extra 10 second wait) telling you to move to node4 or node6.

I can try to test an update to node6, but it may not be for a while.

[2016-09-26 08:42] maciaszczykm commented on #1272
@colemickens It would be great! Let us know when you will have anymore details.

[2016-09-26 08:51] maciaszczykm commented on #1238
I like this new system a lot mainly, because I can do everything on GitHub, without need to going to other places like Reviewable. Functionalities are very similar. One thing, that is missing seems to be marking files as reviewed.

What about making few checks required? I know, that not everything is working as expected (issue with greenkeeper check, that didn't allowed to merge pull requests), bu

[2016-09-26 09:26] huangjiasingle opened #1283 "find endpoint err: The server asked for the client provide credentials"
#### Issue details
##### Environment

[code]
##### Steps to reproduce

**in my env, the /var/run/secrets/kubernetes.io/serviceaccount   folder contain the token file , ca.crt**

when i create kube-dashboard service, it's reported the err：

[code]
##### Observed result

err find endpoint ：the server has asked for the client to provide credentials(get endponits elasticsearch-logging)

- when i watch

[2016-09-26 11:04] cheld commented on #1039
The described yaml has two issues

1., the environment variables are part of the generic connection logic. They do create a http**S** url and overwrite the --apiserver-host flag. Behavior is consistent with other components and should be kept. After removing the environment variables dashboard connects properly.

2. the dashboard pod is defined as hostNetwork: true. This works. However, the pod wi

[2016-09-26 11:04] #1039 closed

[2016-09-26 11:11] cheld commented on #1116
The yaml suggested @drinktee is fine. Thanks

I have added a flag as well::
https://github.com/kubernetes/dashboard/pull/1256

[2016-09-26 20:33] junsaw opened #1286 "Internal Server Error (500)"
I installed the kubernetes dashboard using the instructions provided online. I updated the apiserver on the configuration file to point to the master server.  The deployment of the pods were successfully however when I go to the kubernetes dashboard I am getting the following error:

**Internal Server Error (500)**

**the server could not find the requested resource (get replicationControllers)**

[2016-09-27 07:50] #1076 closed

[2016-09-27 11:13] timstoop opened #1287 "Dashboard complaints on startup: x509: failed to load system roots and no roots provided"
#### Issue details

I'm following the documentation at http://kubernetes.io/docs/user-guide/ui/, but it fails at the first step already. The container fails to start with the log entry:

[code]

Nowhere on that page is it explained how to deal with this issue and a Google search doesn't provide enlightment. We have serviceaccounts enabled and the pod has the default one attached. When I take a loo

[2016-09-27 13:00] #1183 closed

[2016-09-27 13:29] bryk commented on #1268
This was at the time of menu with workloads only. This can be reintroduced.

[2016-09-27 13:30] bryk commented on #1268
I'd go with CPU/Memory or CPU usage/Memory usage. I've been commenting about this before.

[2016-09-27 13:31] bryk commented on #1268
Hmm.. This looks like a bug. I'll take a look.

[2016-09-27 14:15] #1245 closed

[2016-09-27 16:24] bgrant0607 commented on #975
See also #21 for use cases.

[2016-09-27 16:25] bgrant0607 commented on #1121
See also https://github.com/kubernetes/kubernetes/issues/12143#issuecomment-160728358

[2016-09-27 16:34] ashmere opened #1291 "Dashboard v1.4.0 incorrectly renders opaque secrets"
#### Issue details

the new dashboard shows any secret including opaque ones I would have expected this to have the same behaviour as kubectl which will only list the file names of an opaque secret not the contents
##### Environment

[code]
##### Steps to reproduce

deploy the currently manifest for v1.4.0 dashboard and add an opaque secret to your kubernetes cluster then try to view it in the ui

[2016-09-27 22:14] shamil commented on #550
I'm also interested in this feature.
Currently I use `weave-scope` for that, but having a native feature will be great

[2016-09-28 17:14] romlein commented on #975
Thanks @bgrant0607! I'll go through and compare #21's listed use cases with what we have captured in our Google Doc [Target User Types & Use Cases](https://docs.google.com/document/d/1urAlgRP7AbcdsOMQ_piQQ6O1XTDIum_LmOUe8xsC4pE/edit). If anyone would like to vote on priorities, just request access to edit the doc.

[2016-09-29 13:38] floreks commented on #1262
I have some prototype prepared to release daily canary images using travis. We will try to configure it when @bryk will be back.

[2016-09-29 14:07] batikanu commented on #1287
have you checked --apiserver-host parameter in kubernetes-dashboard.yaml file if it is right configured?

kubernetes-dashboard.yaml
...
args:
          # Uncomment the following line to manually specify Kubernetes API server Host
          # If not specified, Dashboard will attempt to auto discover the API server and connect
          # to it. Uncomment only if the default does not work.

[2016-09-29 14:17] floreks commented on #1287
It's better to connect to API server through kubernetes service if HTTPS is used. According to this
[code]

It looks like either dashboard is not picking up service account or your cluster is not configured properly. If it's the first issue then try to delete default secrets and then delete dashboard pod. Secrets should be recreated automatically and dashboard should then pick it up on restart and

[2016-09-29 14:25] arun-gupta opened #1296 "Introduce auto-refresh mechanism"
Moving from https://github.com/kubernetes/kubernetes/issues/33755

Using Kubernetes 1.4, `master-ip/ui` shows the dashboard nicely.

For example, https://52.41.10.66/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/replicationcontroller?namespace=default shows all the Replication Controllers.

New RCs were created and the page had to be manually refreshed to show the newly creat

[2016-09-29 14:51] batikanu commented on #1028
The pull requests #1292 and #1290 are for limit ranges. Waiting for review.

[2016-09-29 14:51] timstoop commented on #1287
Thanks for the replies. The ServiceAccount may actually be wrong, as it seems to only generate a token, nothing x509 based. Do we need to set something on apiserver side to have it add the certs to the ServiceAccount as well?

[2016-09-29 15:46] timstoop commented on #1287
Adding the --apiserver-host option did not solve the problem, error stays the same, except that it now adds the DNS name of the apiserver to it (the ip address in my original report was correct as well, btw).

[2016-09-29 19:27] bryk commented on #1262
@floreks Do you have any PR for this? Or is is only the matter of creds?

[2016-09-29 21:26] colemickens commented on #1287
Can you please share the flags you're passing to `kube-apiserver`? I suspect that it's not being configured with the root ca cert properly, leading to it not being dropped in the runtime directory properly.

[2016-09-29 21:32] bryk commented on #1253
Ok, that I didn't know. The issue here was that there was no animation at all when closing and this resulted in 0.5s lag.

[2016-09-30 07:47] floreks commented on #1287
## Cluster configuration

Keep in mind that this is my dev configuration. I'm also using certificate based authentication to connect to the cluster. You can enable more authentication/authorization plugins if you want. This is just my basic setup.

### API Server

[code]

### Kubelet

[code]

### Controller manager

[code]

### Proxy

[code]

### Scheduler

[code]

### Kubeconfig

[code]

## Certi

[2016-09-30 07:50] timstoop commented on #1287
Of course:

apiserver:
[code]

For good measure, here's controller as well:
[code]

And scheduler:
[code]

[2016-09-30 08:45] tsn77130 opened #1298 "cpu & memory metrics view"
#### Issue details
Hi, I can't see how to get CPU & memory metrics for individual pods, I just have dashes instead.
Is there any prerequisites to have, or something else ?
I haven't found anything in documentation about it.

Thanks

##### Environment
Dashboard version: 1.4.0 // gcr.io/google_containers/kubernetes-dashboard-amd64:v1.4.0
Kubernetes version: 1.2.4 / 1.3.6
Operating system: CoreOs

[2016-09-30 12:50] batikanu opened #1300 "javascript format fails in travis"
#### Issue details

##### Environment

[code]

##### Steps to reproduce
Look at travis build result

##### Observed result
The old javascript formats are failing

##### Expected result
They should all pass

##### Comments
It seems like javascript format is changed in the master branch

[2016-09-30 14:17] #1300 closed

[2016-09-30 16:11] bryk commented on #1272
@colemickens What's the fix for this? changing the node version we install in build/Dockerfile?

[2016-09-30 16:12] bryk commented on #1238
I'm for this :) Let's use github's review system and make it required for merges.

[2016-09-30 16:34] bryk commented on #1121
@batikanu

We already include kubectl code, so can you maybe work on this and use the function?

Yes, exactly.

[2016-09-30 17:07] bryk commented on #1028
Can we do a short design of this features? I'm mostly concerned about the part of whether this should be a new menu item in the nav or a child property of a namespace. @batikanu @maciaszczykm Can you provide rationales for both approaches and state which one do you think is correct?

CC @romlein

[2016-09-30 17:08] bryk commented on #1298
You need to install Heapster on your cluster to make metrics view work.

[2016-10-01 07:04] maciaszczykm commented on #1238
I see it's already done :) Closing issue.

[2016-10-01 07:04] #1238 closed

[2016-10-01 07:13] maciaszczykm commented on #1028
At the moment I can see following rationales:

Menu item:

- quick and easy to find
- list of resource quotas in all namespaces, not only in specific ones (when `All namespaces` is selected)
- similar to what we have right now (list and detail page for every resource)

Property of a namespace:

- menu contains only most important resources
- logic connection (all resource quotas are connected to t

[2016-10-01 10:14] floreks commented on #1028
Resource quota is tied to a single namespace, however we have wanted to show only non-namespaced objects in Admin category AFAIK. Still it's possible to list all resource quotas using `kubectl get`, so I think that we should have a list of objects here together with details page. We could introduce some category and add it somewhere below namespace selector. I think we've established that all name

[2016-10-01 15:32] bryk commented on #1238
Regarding projects tab: let's test it out for our planning in following weeks.

[2016-10-01 16:36] hwinkel commented on #692
I have the master running on a public IP but get unauthorized un http://ip/ui

the dashboard pod self is not running on the master node. But another one.

How do I expose the UI? any hints?

[2016-10-03 07:01] bryk commented on #1028
Read resource quotas docs: http://kubernetes.io/docs/admin/resourcequota/

`Resource Quota is enforced in a particular namespace when there is a ResourceQuota object in that namespace. There should be at most one ResourceQuota object in a namespace.`

This means that essentially, resource quotas is just a property of a namespace. I think it is a separate object to make it pluggable so that some cl

[2016-10-03 08:09] tsn77130 commented on #1298
HI bryk,
I already have a heapster pod, deployed with influxdb as asked in "Running Heapster on Kubernetes" of heapster guide, isn't it good ?

[2016-10-03 16:36] natejoebott commented on #692
I have the same issue as hwinkel above.  Just installed K8 and the dashboard per https://github.com/kubernetes/dashboard#kubernetes-dashboard

I get the 'unauthorized" message when accessing https://<kubernetes-master>/ui

I am using a mozilla browser from a windows client, so the kubectl proxy approach doesn't seem appropriate.  What I am missing here?

[2016-10-03 17:45] remonlam commented on #692
Same here running 1.4 installed it following the guide at http://kubernetes.io/docs/getting-started-guides/kubeadm/.

However when installing the  dashboard/UI it seems to be running but get an "Unauthorized"

Followed the guide at http://kubernetes.io/docs/user-guide/ui/  to install the UI basically just run "kubectl create -f https://rawgit.com/kubernetes/dashboard/master/src/deploy/kubernetes-d

[2016-10-03 18:03] natejoebott commented on #692
Right, I too installed it via the beta version of Kubeadm with 1.4.  Upon further investigation this may be expected behavior based upon the limitation number 4 - There is not yet an easy way to generate a kubeconfig file which can be used to authenticate to the cluster remotely with kubectl.

[2016-10-03 18:04] colemickens commented on #692
Are people expecting the dashboard to be publicly available without auth? If this were really the case, everyone would be exposing write access for their cluster to the anonymous world. Unless I'm missing a detail here?

[2016-10-03 18:14] natejoebott commented on #692
No, but there doesn't seem to be simple way to auth.  In the documentation for the dashboard, it provides the follow guidance after installation:
And then navigate to https://<kubernetes-master>/ui
If it asks password, use $ kubectl config view to find it.

I was not prompted for a password, nor does the kubectl config view provide any indication of a password.  Next up is using the alternative pr

[2016-10-03 18:18] colemickens commented on #692
Presumably you're using client-cert auth then if there's no password/token in `kubeconfig`. You can configure your browser to send the relevant client certificate, but it's usually not-straightforward in my experience.

`kubectl proxy` is certainly easier. There is [a build of `kubectl` for Windows](https://storage.googleapis.com/kubernetes-release/release/v1.4.0/bin/windows/amd64/kubectl.exe) and

[2016-10-03 21:12] billcloud-me opened #1303 "dashboard not starting after fresh install of kubernetes using kubeadm"
#### Issue details

dashboard pod stops running

root@kube-master:~# kubectl get pods --namespace=kube-system
NAME                                    READY     STATUS    RESTARTS   AGE
calico-etcd-ndk6g                       1/1       Running   0          1h
calico-node-6z7eo                       2/2       Running   0          1h
calico-node-dx6bw                       2/2       Running   0

[2016-10-04 04:28] IanLewis commented on #1121
@bryk

I'm familiar with how kubectl shows the statuses. I could take this as a way to get started on dashboard dev.

[2016-10-04 05:22] batikanu commented on #1121
@bryk sure I can implement it as I suggested by reusing kubectl. @lanLewis I have other open pull requests at the moment to complete. In this case, I can pass it to you if you want to use this time gap to implement a quick solution until I start to it.

[2016-10-04 05:30] IanLewis commented on #1121
@batikanu Yah. I don't think it should be too much of a problem. Why don't you pass it off to me. I would appreciate a review once I cut a PR though.

[2016-10-04 05:49] batikanu commented on #1121
@lanlewis great feel free to get it.

[2016-10-04 07:44] bryk commented on #692
Can you share any details here? I'd love us to incorporate something like this to default install, so that folks can expose the UI to external world.

[2016-10-04 07:57] colemickens commented on #692
This is the idea: https://github.com/kubernetes/contrib/issues/1492. I still haven't had time to put the `oauth2_proxy` configuration together. Doesn't really solve for out-of-the-box though, as `oauth2_proxy` will require a configmap/secret with oauth2 secrets to work the way I'm imagining.

[2016-10-04 09:20] bryk commented on #692
All right. Share anything you make work :) We need to explore all possible solutions, because, eventually, we need to bake a solution to this into Dashboard.

[2016-10-04 09:38] maciaszczykm commented on #1028
@bryk That makes sense and presents resource quotas in similar role as endpoints of service. Endpoints and other minor resources don't have their list pages at the moment, so I'd say we should make resource quota property of a namespace. No need to have list page or menu entry in that case.

[2016-10-04 09:44] bryk commented on #1028
@batikanu @floreks What is your opinion on this?

[2016-10-04 09:52] maciaszczykm commented on #1028
However it would be nice to have a page where developer or operator can take a look on resource quotas of all namespaces he can access. It could be valuable during debugging/monitoring. Nice to have in the future. Maybe in form of some short info in namespace list page?

[2016-10-04 09:54] bryk commented on #1028
Yes. I hope that we'll be able to add columns to the view soon. Or have different namespace-oriented tables.

[2016-10-04 10:05] floreks commented on #1028
For sure we need some way to list all resource quotas in single namespace, but I can understand how displaying new nav item for this resource would be unnecessary. For now I vote to remove that and we'll think about how to display it properly in the future.

[2016-10-04 10:15] bryk commented on #1028
A namespace can have at most one resource quota. So it is either "I have a resource quota or dont have it". So I think that the proper way of displaying it is like "details" section in a pod.

Then we can pull resource quota info to namespace tables. We have plenty of space there.

[2016-10-04 10:22] batikanu commented on #1028
It sounds good for me. I will update the implementation accordingly.

[2016-10-04 11:45] timstoop commented on #1287
So the ServiceAccount now includes the ca.crt (not sure what I changed), but I still get the same message:

[code]

I'm a bit out of ideas where else to look for a solution :/

[2016-10-04 13:34] timstoop commented on #1287
I've started another instance to check the SSL, when I use the following:

[code]

The output ends with ```Verify return code: 0 (ok)```, so it seems the certificate is correct and all. It's also using the default ServiceAccount, which is what the dashboard pod is using as well.

Any idea?

[2016-10-04 22:34] dannyman commented on #692
Heya, so we are all actively commenting on an issue that is closed since May .. begs the question as to whether this issue is Closed?  (Maybe a scope change...)

Here's where we are at, total newbs:
1) Install Kubernetes with fancy new kubeadm tool: http://kubernetes.io/docs/getting-started-guides/kubeadm/
2) Per above "Explore other add-ons" ...  http://kubernetes.io/docs/admin/addons/
3) "Dashbo

[2016-10-04 22:36] colemickens commented on #692
What URL did you try to hit after running `kubectl proxy`?

[2016-10-04 22:44] dannyman commented on #692
From my workstation, to external IP of kubernetes cluster Master:
http://10.10.1.188:8001/ --> `<h3>Unauthorized</h3>`

From localhost on kubernetes cluster Master:
https://localhost/ui --> `401 Unauthorized Username/Password Authentication Failed.`

[2016-10-04 22:47] colemickens commented on #692
And what happens if you try, after running `kubectl proxy` of course:
* http://10.10.1.188:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/workload?namespace=_all
* http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/workload?namespace=_all

[2016-10-04 22:54] dannyman commented on #692
Workstation -> http://10.10.1.188:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/workload?namespace=_all -> Unauthorized

Kubenetes Master `wget http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/workload?namespace=_all` I get an index.html that informs me that I am using an outdated browser.

[2016-10-05 01:37] ravilr opened #1305 ""dial tcp: no suitable address found" error while connecting to heapster"
#### Issue details
"
Skipping Heapster metrics because of error: Get http://heapster.kube-system.svc.cluster.local:8082/api/v1/model/namespaces/tachyon/pod-list/boson.adapter-controller-82fc521c54a4d16c0002785d631c0d67-g3ptc,qa.default.nimbus-1252092381-tnnju,qa.default.supervisor-content-webpage-3936070723-mhjc2,qa.default.supervisor-horoscope-2832703161-9oq2u,qa.default.zk1-2153710118-xhowg,qa.d

[2016-10-05 01:37] ravilr commented on #1305
@bryk

[2016-10-05 05:22] IanLewis commented on #1121
The code to display the status the way that kubectl does is buried in a non-public function [printPodBase](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L669) so we can't use it as is. I think that for now I will just copy the logic for how it determines the "Reason" that gets printed by kubectl.

[2016-10-05 05:24] IanLewis commented on #1121
Just to be clear, I plan to display the same reason string as kubectl does, and not "crashed" as the OP expected.

[2016-10-05 07:02] digitalfishpond commented on #1248
@romlein , what do you think would work best here? I was thinking something like:

- Top level (Pod Detail landing page): essential info (as currently listed) plus three access points for the three top-level objects: Object Meta, Spec, and Status that could be links to seperate pages? or buttons to 'show more' within the same page? Gmail folder-style arrows to open/close hierarchy? hyperlinked car

[2016-10-05 07:04] bryk commented on #1287
@timstoop What about other addon containers? Do they run correctly? E.g., heapster.

[2016-10-05 07:15] timstoop commented on #1287
@bryk Kube-dns runs without a problem.

I've been looking into this issue by adding the dashboard to an alpine container (which allows me to debug) and strace-ing the process. I can see it check the standard CA certificates directories, but the only thing it gets out the serviceaccount data is:

```stat("/var/run/secrets/kubernetes.io/serviceaccount/token", {st_mode=S_IFREG|0644, st_size=856, ...}

[2016-10-05 07:22] timstoop commented on #1287
For reference, inside the container I can do this without a problem:

[code]

[2016-10-05 07:23] cheld commented on #1121
Original string is ok. It will not be localized, but I think we can live with that.

I am not so happy with coping code. Long term goal seems to move logic to server (https://github.com/kubernetes/kubernetes/issues/29472). Any other idea for short term?

[2016-10-05 07:53] bryk commented on #1305
So you say if we rebuild the image with go1.7.1, the problem will vanish?

[2016-10-05 07:55] bryk commented on #1248
Also, we may want to display pod spec info for all controller objects (e.g., RCs or deployments).

[2016-10-05 07:57] bryk commented on #1287
How about using `--kubeconfig` param of dashboard? And pass your local kubeconfig there?

[2016-10-05 08:00] bryk opened #1306 "Display info about which controller created a pod"
In pod details we should display a row info about which controller created it. E.g., a replication controller that created it.

[2016-10-05 08:07] timstoop commented on #1287
Alas:

[code]

[2016-10-05 08:09] timstoop commented on #1287
But this is kind of interesting:

[code]

It seems to be not passing the token at all?

[2016-10-05 08:12] timstoop commented on #1287
Heh... So I installed curl inside the container, and now I have a different error:

[code]

Which makes sense, as it is still not using the serviceaccount's ca.crt.

[2016-10-05 08:26] anutech2001 commented on #692
@dannyman I got the same problem. So, i try using NodePort and it's work. I can use dashboard right now on the browser.
My env.
   - windows 7, vagrant + centos 7, kubernetes 1.4

[2016-10-05 08:28] bryk commented on #1287
Ah, the kubeconfig flag has been added after 1.4 release. Can you check out latest `:canary` tag or compile dashboard at HEAD?

[2016-10-05 08:46] timstoop commented on #1287
That worked! Thanks!

[2016-10-05 08:47] bbalzola commented on #692
`kubectl describe services kubernetes-dashboard --namespace=kube-system`

Use the NodePort  work for me on Linux

[2016-10-05 09:23] bryk commented on #1287
I'm still wondering why the default didn't work for you... I'll keep this open for further investigation.

[2016-10-05 09:25] bryk commented on #692
@anutech2001 @bbalzola Can you contribute updates to our installation guide or troubleshooting section? I'd love us to have less issues when installing on home-made clusters.

[2016-10-05 09:33] timstoop commented on #1287
Ok, I'll keep subscribed to this, so feel free to ask questions if you need answers! Happy to help.

[2016-10-05 10:48] floreks commented on #1028
I've meant list resource qutoas in all namespaces of course :)

[2016-10-05 14:50] ravilr commented on #1305
@bryk yes. the debian `golang:latest` image here https://github.com/kubernetes/dashboard/blob/v1.4.0/build/Dockerfile#L21 is already updated to golang-1.7.1 in docker hub.
So, looks like we just have to rebuild and publish the new image.

[2016-10-05 17:49] dannyman commented on #692
Yes I have two work-arounds figured out:
- Install a modern web browser on your Kubenetes host and forward it to your workstation via X11
OR
- Install Kubenetes on your local workstation and copy certificates over from your Kubenetes host
Then, on whatever host you want to run your web browser:
`kubectl proxy`
And visit:
http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes

[2016-10-06 06:16] IanLewis commented on #1121
I don't think that copying code is necessarily bad but, long term, yes, we will want to make use of the printers API if it gets included on the server.

We may also want to look at localized names for the error messages.

[2016-10-06 06:29] bryk commented on #692
This is more like a known limitation. We want to solve this problem but so far haven't had resources to do so. @colemickens Had done some research on putting an oauth proxy next to the UI.

[2016-10-06 06:38] IanLewis commented on #1303
Thanks for your error report. It looks like your API server is not configured correctly or otherwise can't be contacted from within the cluster. Are you sure you have networking set up properly? This is most likely not an issue with the dashboard and rather an issue with cluster creation.

[2016-10-06 06:51] IanLewis opened #1309 "FAQ about dashboard setup"
We get a lot of issues related to the dashboard not working in new clusters which almost invariably turn out to be improperly set up Kubernetes clusters rather than issues with the dashboard. We should have a FAQ or suggestions when installing the dashboard that users can reference for guidance about where to create issues.

[2016-10-06 06:53] superdump opened #1310 "Provide support for other metrics sources than Heapster"
#### Issue details

The new dashboard in 1.4.0 was announced to support metrics graphs that provide a quick look into the recent state of the various assets running on a cluster. However, Heapster is not everyone's choice of monitoring system and indeed Prometheus is an excellent match for Kubernetes. It would be very useful if Prometheus and others were supported as sources for the dashboard metr

[2016-10-06 07:03] IanLewis commented on #349
@junsaw I think this is the same issue as on #1286 ? Could we close this issue in favor of that one?

[2016-10-06 09:19] bryk commented on #1309
My idea was to start our installation guide with references to tools/providers that we know that work. And only in the advanced section explain how to run the UI on a hand-crafted cluster.

E.g.,
[code]

[2016-10-06 09:22] bryk commented on #1310
Cool, thanks for this feature request! Looks like something we'd love to have.

Is this something you can contribute to?

[2016-10-06 09:26] bryk commented on #1286
Can add this argument to the UI container: `--v 999` and restart the pod? Then show logs again here.

[2016-10-06 09:31] bryk commented on #349
Yes, makes sense.

[2016-10-06 09:31] #349 closed

[2016-10-07 10:17] maciaszczykm commented on #1223
The next step is to review all messages across the app and fix all issues. We can also apply new localization framework everywhere.

[2016-10-07 13:02] cheld commented on #1310
As far as I understand we have three use cases:

1. One important use case is to provide historic data to Dashboard.

Heapster old-timer is intended to provide an interface for historic data, by reading data from DBs such as Hawkular, InfluxDB, GCM, and OpenTSDB

https://github.com/kubernetes/heapster/blob/master/docs/proposals/old-timer.md

Does this cover part of your request?

2. Another import

[2016-10-07 13:09] cheld commented on #1310
BTW: in my understanding the only way to use InfluxDB or Graphite is to install Heapster with a corresponding sink. How would you suggest to install without Heapster? Also, could you elaborate on your prometheus setup?

[2016-10-07 13:14] puja108 commented on #1310
At least from my perspective it is more about the 3rd use case. Not replacing Heapster, but making other things (like Dashboard or Autoscaling) not depend on it but instead be more pluggable. This might be a bit more over-arching than only Dashboard.

The issue here in Dashboard repo specifically though is quite well defined, as Dashboard is using a very specific set of Heapster metrics, which can

[2016-10-07 13:55] bryk commented on #1305
Fixed in: https://github.com/kubernetes/dashboard/releases/tag/v1.4.1

[2016-10-07 13:55] #1305 closed

[2016-10-07 13:56] cheld commented on #1310
I have just learned that cAdvisor exposes the metrics in Prometheus format as well. Do you use cAdisor or the node-exporter for scraping? Are the nodes manually registered? Anyway, the setup is pretty similar to heapster with a few Prometheus benefits, I see.

[2016-10-07 14:02] puja108 commented on #1310
We deploy node-exporter as a daemonset and there's a k8s service discovery in prometheus. For an example you can check out this quick repo: https://github.com/giantswarm/kubernetes-prometheus or the CoreOS setup (which comes with a but more explanation around it): https://coreos.com/blog/prometheus-and-kubernetes-up-and-running.html

[2016-10-07 14:03] cheld commented on #1296
Also, deleted items would disappear :)

[2016-10-07 17:21] dannyman commented on #964
I am new to microservices. My impression is that it should be fairly easy to slot a container into the stack. What I do with traditional services in my network is front them with an Apache proxy doing mod_auth. This would appear to support any number of authentication methods. Locally, we just go to Unix passwd authentication which, via pam, goes back to an LDAP server.

If the authentication mech

[2016-10-07 17:59] kking124 opened #1316 "503 ServiceUnavailable"
#### Issue details
I am new to kubernetes and I am trying to set up a basic 2 machine cluster.

The kubernetes-dashboard pod status is listed as pending with 0/1 ready, which is likely the underlying issue. I have no clue where to begin solving this problem. The ultimate result is that I receive 503 ServiceUnavailable in the browser.

Please do not:

1. recommend using a hosted solution.
1. recomm

[2016-10-07 19:37] kking124 commented on #1316
My pod status has changed:

[code]

[2016-10-07 19:55] colemickens commented on #1316
If dashboard is running on the node where Weave is crashlooping, it seems like it could definitely contribute to or cause the problem you're seeing.

Can you post `kubectl describe pod --namespace=kube-system kubernetes-dashboard-1655269645-ekxxs`, I didn't see that one yet.

[2016-10-07 19:56] kking124 commented on #1316
[code]

[2016-10-07 19:58] colemickens commented on #1316
You should probably post `kubectl get pods --namespace=kube-system` again
too then.

On Oct 7, 2016 12:56 PM, "kking124" <notifications@github.com> wrote:

[2016-10-07 19:59] kking124 commented on #1316
[code]

[2016-10-07 20:02] kking124 commented on #1316
[code]

[2016-10-07 20:12] colemickens commented on #1316
Look at the events, it failed to start the container.

`kubectl logs --namespace=kube-system kubernetes-dashboard-1655269645-8sk3k` will hopefully tell us what's really going on now that we're looking at the right Pod.

[2016-10-07 20:18] kking124 commented on #1316
Ok, so it looks like the server is trying to do a hostname lookup. Why would it do that if the node already reported in to the master?

[code]

[2016-10-07 20:38] kking124 commented on #1316
Ok, I understand that; do I need to be able to resolve the hostname to do that, though? I don't have an internal DNS server on this network.

[2016-10-07 21:13] colemickens commented on #1316
`kube-dns` is only for resolving Services deployed in Kubernetes.

I think @justinsb might actually have some context for this issue. I think one way to workaround is to change a `kubelet` flag to get the kubelet to report it's IP instead of its hostname to the master.

[2016-10-07 21:16] kking124 commented on #1316
I could also just put the info in the hosts file, too, right?

[2016-10-07 21:24] justinsb commented on #1316
Sounds like a kubeadm problem, not a dashboard problem.  kubeadm is in alpha, but if you want to contribute towards its development you can probably work with the sig-cluster-lifecycle.

[2016-10-07 21:26] kking124 commented on #1316
@justinsb ... that's great?

1. How do we determine who owns the problem?
1. If it's not a dashboard issue, where do I report the issue?

[2016-10-08 02:54] justinsb commented on #1316
@kking124 kubeadm lives in https://github.com/kubernetes/kubernetes

[2016-10-08 03:48] kking124 commented on #1316
@justinsb That solves #2; how do we deal with #1?

[2016-10-08 04:01] justinsb commented on #1316
@kking124 well you tracked it down :-)

`kube-system   weave-net-y9iu2                                 1/2       CrashLoopBackOff   6          3h`

I think the kubeadm folk can help you root cause from here.  They're likely seen it before - they've seen a bunch of the common failure cases by now.

[2016-10-08 04:04] kking124 commented on #1316
@justinsb you've been super helpful.

Please never help me again. I promise I'll never help you.

[2016-10-08 04:11] justinsb commented on #1316
@kking124 I don't know what you expect me to do; I'm trying to help you: I've pointed to you to the places where you can find the people that can resolve this for you very quickly.

- The people on sig-cluster-lifecycle on slack can probably get this fixed for you in 5 minutes.
- You can open an issue in kubernetes/kubernetes where they will see it, if you prefer a GH issue.

[2016-10-08 04:28] kking124 commented on #1316
@justinsb. Well, I expected nothing from you.

@colemickens has been nothing but nice, polite and helpful. (S)he apparently felt that you might be able to help with, what I am guessing is an issue that was, beyond their capabilities.

Their opinion, sadly, has no basis in reality.

[2016-10-08 16:59] superdump commented on #1310
@cheld I'll try to answer your questions in order:

* Access to historical data is one thing. Access to other metrics not exposed in the dashboard that may be related to diagnosis is another.
* The third case you mentioned is the main goal - why run Heapster if you anyway intend to run Prometheus?
* A standard Prometheus for k8s is probably better known by Prometheus project members. However, it h

[2016-10-10 00:31] edouardKaiser opened #1317 "Show "real" Pods running behind a service"
#### Issue details
The Service details page is listing the pods behind a Service. It seems like it's displaying the pods matching the selector. Problem is, it looks the pods are being served by the service, which is not necessarily true.

Example, the Service Details shows 2 Pods, but in reality, my service is only serving one pod (because they other one is not healty/shutting down/etc...):

![ima

[2016-10-10 06:28] cheld commented on #1310
Thanks for explaining, The replacement of Heapster seems interesting. I am a bit worried about n-Kubernetes components to depend on m-monitoring systems. BTW: AFAIK, there is an attempt to add a monitoring API to the api server, I think. This might solve all issues.

[2016-10-10 07:07] floreks commented on #1317
Does kubectl get/describe for this pod shows some additional info, i.e. that this other pod (container in pod) is failing/crashing?

[2016-10-10 08:05] puja108 commented on #1310
Agree, the goal should not be n*m complexity. We should mid- to long-term strive for a solution that "harmonizes" the interface in between. IIRC sig instrumentation was also discussing around this topic. We might want to sync this over SIGs, as this is not a Dashboard or UI issue per se.

If we had a common `/metrics` somewhere we could all try to build on that, and only when you need specialized

[2016-10-10 08:22] digitalfishpond commented on #1266
Looking at this now

[2016-10-10 08:28] jimmidyson commented on #1310
I encourage you to join sig-instrumentaion if you're interested in helping define these extension points. Sig-instrumentation has mostly been discussing what APIs need to be defined to allow this & prevent the n*m complexity that you mention that we all want to avoid.

[2016-10-10 09:19] edouardKaiser commented on #1317
If you run a `kubectl describe pods/<name>` you get some information on the status:

You can see in the "Conditions" section, it says **Ready: false** :
[code]

But even if you don't want to go down the path of displaying information about the pod's status.   I think it would be good to reflect on the service details page, one way or another, the endpoints served by the service (information that y

[2016-10-11 04:51] ntquyen commented on #1298
I got the same issue here, using dashboard 1.4.1, heapster 1.2.0, already expose `heapster` service, port 8082, but still get dashes instead.

[2016-10-11 06:31] colemickens commented on #1253
This seems to be fixed...

[2016-10-11 06:32] maciaszczykm commented on #1253
@colemickens Thanks, you're right. Closing it.

[2016-10-11 06:32] #1253 closed

[2016-10-11 08:18] IanLewis commented on #1317
Some things to note. These are mostly observations/suggestions.

1. If we just filter the pods that aren't ready would that suffice? Are there other edge cases where pods that match the selector are excluded from the endpoints?
1. It almost would make more sense to show info about the "endpoints" with service/endpoint specific info (like the pod IP) rather than the "pods". i.e. list the "Endpoints

[2016-10-11 08:25] IanLewis commented on #1309
Ok. I think we should at least do what you suggested. I think it might also be good to call out network related issues as most likely being cluster related rather than dashboard related. Maybe a "Troubleshooting" section?

[2016-10-11 08:50] cheld commented on #1309
I will start with a trouble shooting section regarding service account and kubeconfig file. We can add other topics later.

[2016-10-11 08:53] maciaszczykm commented on #1298
@tsn77130 @ntquyen Where are your Heapsters deployed? In the cluster? In which namespace?

[2016-10-11 09:27] cheld commented on #1310
@jimmidyson thanks for offering. I am a bit busy the next two weeks. After that I will have a look.

CC @floreks, @maciaszczykm, @kenan435 maybe interesting for you?

BTW: for the interested reader, the kubernetes components that depend on Heapster which I know out of my head are:
- Dashboard
- Horizontal Pod Autoscaler
- kubectl top

there are might be more.

[2016-10-11 10:08] digitalfishpond commented on #1316
Hi @kking124, so, since @justinb has (rather helpfully in my opinion) re-directed you to the appropriate group who are better informed and better equipped to solve your issue, and I see that you have opened [the same issue](https://github.com/kubernetes/kubernetes/issues/34379) over there, would it be ok to close this one as it has turned out not to be a dashboard-related issue? Many thanks in adv

[2016-10-11 10:38] tsn77130 commented on #1298
@ntquyen  : I 've two things in order to make it work
- upgraded heapster to v1.2.0
- upgrading kubernetes cluster from 1.2 to 1.3(.6)

As @maciaszczykm  said, heapster is deployed in namespace kube-system

[2016-10-11 11:59] kking124 commented on #1316
I'm not yet convinced that there isn't a dashboard-related issue here. I've tried to launch the dashboard in a half-dozen different Kubernetes clusters at this point and it's never worked.

I simply don't yet know enough about the problem to know where to place blame on the crash because I am new to Kubernetes.

I can only place limited blame on you and justinb for why I can't yet find the problem

[2016-10-11 12:11] #1316 closed

[2016-10-11 12:12] ntquyen commented on #1298
Heapster is deployed in same namespace: kube-system, may be the issue lies in heapster, because  its api doesnt work, i'll try upgrade k8s, thanks!

[2016-10-11 12:12] ntquyen commented on #1298
Heapster is deployed in same namespace: kube-system, may be the issue lies in heapster, because  its api doesnt work, i'll try upgrade k8s, thanks!

[2016-10-11 12:16] maciaszczykm commented on #1298
@ntquyen I'm closing the issue since we know, that issue is on Heapster side at the moment. If you'll find any issues more, then please reopen and let us know about them.

[2016-10-11 12:16] #1298 closed

[2016-10-11 12:20] cheld commented on #1316
I just wrote a troubleshooting guide which might help you: https://github.com/kubernetes/dashboard/pull/1324

[2016-10-11 12:22] kking124 commented on #1316
@cheld I'll take a look. Thank you.

[2016-10-11 23:01] romlein commented on #1248
@digitalfishpond sorry for not getting back to you on this sooner – I was out last week.
In your diagram I'm not sure I entirely follow how the external objects like _Volume_ fit with this hierarchy – could you expound on that please?

Also helpful for me would be realistic content to work with. For example, will Pod _State_ be one of those three values, "Waiting", "Running", or "Terminated"? What

[2016-10-12 03:33] gl328518397 opened #1328 "create pod error"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2016-10-12 03:34] gl328518397 commented on #1328
docker pull gcr.io/google_containers/kubernetes-dashboard-amd64:v1.4.0
Trying to pull repository gcr.io/google_containers/kubernetes-dashboard-amd64 ...
unable to ping registry endpoint https://gcr.io/v0/
v2 ping attempt failed with error: Get https://gcr.io/v2/: dial tcp 173.194.72.82:443: getsockopt: connection refused
 v1 ping attempt failed with error: Get https://gcr.io/v1/_ping: dial tcp 173

[2016-10-12 03:36] colemickens commented on #1328
1. Why are you manually `docker pull`ing it?

2. It seems you can't hit `gcr.io` from wherever you're running that command. Works fine from all of my machines.

[2016-10-12 07:04] gl328518397 commented on #1328
1.because when I run ‘kubectl create -f kubernetes-dashboard.yaml’ ,and 'kubectl get pods' it show 'ContainerCreating'  ,

2.if should I must hit gcr.io ,,other addr is avaliable ?

[2016-10-12 08:13] floreks commented on #1328
I don't think it is. By default `gcr.io` images are hosted in US and for now we don't host images anywhere else. Soon there should be available canary image on Docker Hub, but AFAIK official releases will always be available only on `gcr.io`.

[2016-10-12 08:46] maciaszczykm commented on #1328
Yes, most probably it's an issue connected to firewall if you cannot `docker pull` it.

[2016-10-12 11:22] CaoShuFeng opened #1330 "create a "deployment" rather "replication controller" when click the "+CREATE" button"
#### Issue details

"Deployment" is  the next-generation Replication Controller with many enhanced features.
And deployment has been supported for a while. I think it's time to make dashboard users
able to create a "deployment".
When users click the button "+CREATE", by default users will create a new replication controller,
I think we need to create a deployment by default in the feature.
##### E

[2016-10-12 11:25] CaoShuFeng commented on #1330
I am working on this now.
Can someone assign me to this issue?

[2016-10-12 11:26] maciaszczykm commented on #1330
Yes, it's good idea.

Regarding title - there is a way to create all kinds of resources from the UI, but you need to use YAML files and upload them. Having deploy forms for resources other than replication controller is on the roadmap.

Thanks for reporting this issue.

[2016-10-12 16:51] danielromlein opened #1333 "Roundup of other K8s UIs"
1. What other UIs for K8s exist? In the interest of building the best possible product for our users, I think it'd be helpful to consider how other teams are tackling similar issues.
2. More generally, what other container orchestration UIs exist? @bgrant0607 proposed [this list](https://github.com/kubernetes/community/wiki/Roadmap:-Cluster-Deployment#production-grade-easy-to-use-cluster-managemen

[2016-10-12 17:07] bgrant0607 commented on #1333
Cockpit:
http://stef.thewalter.net/cockpit-kubernetes-dashboard.html
https://access.redhat.com/documentation/en/red-hat-enterprise-linux-atomic-host/7/single/getting-started-with-cockpit/
Techtonic console:
https://tectonic.com/
Cabin (mobile):
http://www.skippbox.com/announcing-cabin-the-first-mobile-app-for-kubernetes/

Related UIs:

Openshift console:
https://docs.openshift.org/latest/getting_s

[2016-10-12 18:23] colemickens commented on #1333
[ElastiKube](https://elasticbox.com/kubernetes/) seems visually pleasing and functional.

[2016-10-12 20:23] romlein commented on #1333
Thanks @bgrant0607! That's exactly what I was looking for.
Yeah @colemickens ElastiKube seems to do a pretty good job of incorporating Material. I hadn't seen that before.

[2016-10-13 02:00] IanLewis commented on #1333
@romlein @bgrant0607 In order to turn this into an action item, is this something something that is missing that we could add to the Kubernetes docs? I feel it might be out of place here since Dashboard is just one UI.

[2016-10-13 03:58] bgrant0607 commented on #1333
http://fabric8.io/guide/console.html

[2016-10-13 07:32] digitalfishpond commented on #1248
Yes, of course. So Volume, ConfigMap and Secret are all resources that already exist in Dashboard. In PodSpec, there is a collection (array) called 'Volumes' that references the _Volume_ objects that belong to the Pod. These individual _Volume_s will already be visible in their own 'Volume' list/detail views.

Still in PodSpec, the 2 objects 'InitContainers' and 'Containers' are both collections (

[2016-10-13 18:22] romlein commented on #1333
Sorry @IanLewis I'm not sure I follow? I was intending this to be a way to research how other people are problems similar to the ones we're tackling in Dashboard. I think as a Dashboard product team we should at least be aware of how other groups are doing things.

[2016-10-13 20:22] pwittrock commented on #984
FYI when I encountered this there was no error, the deploy button just didn't work at all and I had to guess at what needed to change

[2016-10-13 20:57] pwittrock opened #1339 "UI docs have wrong link"
http://kubernetes.io/docs/user-guide/ui/

PetSet links to LoadBalancer

[2016-10-13 21:03] colemickens commented on #1339
Reported here already: https://github.com/kubernetes/kubernetes.github.io/issues/750

[2016-10-13 21:50] dvohra commented on #984
_Load Balancer uses Node Port._

LoadBalancer does not use NodePort but a LoadBalancer type service would also be a NodePort type service and a ClusterIP. And a NodePort type service would also be a ClusterIp type.

[2016-10-13 21:52] dvohra commented on #984
_FYI when I encountered this there was no error, the deploy button just didn't work at all and I had to guess at what needed to change_

Does an application not get deployed? At least an application should get deployed without an issue.

[2016-10-13 22:02] colemickens commented on #984
LoadBalancer sometimes does use NodePort, if the cloudprovider does DNATing.

[2016-10-13 23:27] junsaw commented on #1286
I attempted that and unfortunately the container is unable to start:

CONTAINER ID                                                       IMAGE                                                        COMMAND                                                                          CREATED              STATUS                          PORTS               NAMES
9204c11da508ed095f5c726fb5ae0f5ee06c12afbf

[2016-10-13 23:29] edouardKaiser commented on #1333
Disclaimer: I'm not bashing the dashboard (that we love very much and we use it every day). I just want to use this opportunity to lay out a couple of stuff that we also particularly appreciate in the Tectonic Console:

- Global stream of events (that's just the best, love this one)

![image](https://cloud.githubusercontent.com/assets/7731641/19370341/18a77b9e-91f7-11e6-91b9-c51a8a51fc91.png)

- F

[2016-10-14 01:26] IanLewis commented on #1333
@romlein Ok. You just filed an issue so I assumed there was some kind of bug or issue that needed to be addressed.

I thought if we want to have a general discussion then something like sharing a Google doc or discussion on the sig-ui Slack or sig-ui mailing list would be better.

[2016-10-14 02:14] dvohra commented on #984
But the AWS provides a public DNS for the LoadBalancer. What is the need to use NodePort.

[2016-10-14 02:18] colemickens commented on #984
What does that have to do with it? Azure can provision a DNS name for the load balancer but what bearing does that have on whether or not the LB sends traffic directly to the node on the service port versus on the NodePort.

[2016-10-14 02:19] colemickens commented on #984
Azure, for example, has to use NodePort (even if the LB has a public IP and/or DNS name) because the LB does DNATing so when the packet hits the node, there's no iptable rule to route it to an appropriate Pod... thus it has to send traffic to the NodePort.

[2016-10-14 11:13] dvohra commented on #984
But, is it known which cloud provider and when does it send traffic through a NodePort?

[2016-10-14 12:16] digitalfishpond commented on #1339
Assuming this should link to here: [http://kubernetes.io/docs/user-guide/petset/](http://kubernetes.io/docs/user-guide/petset/) ? If someone can confirm, I will fix.

[2016-10-14 15:33] groyee commented on #692
I am sorry, I got lost here.

Is there any way or any workaround to work with the ui dashboard?

[2016-10-14 16:40] colemickens commented on #984
I'm not sure I understand your question. Each cloudprovider wires up the load balancer as they see fit. On Azure, we use NodePort because we must (we wrote that code). On GCE, for example, I believe that they send traffic to the normal service Port because their LoadBalancer preserves the destination IP.

[2016-10-14 19:28] seeekr commented on #692
@groyee quoting from above:

`kubectl describe services kubernetes-dashboard --namespace=kube-system`

Then just connect to the NodePort that is given in the output and it works. (This also means that everyone can potentially use your dashboard if they happen to find the right port, because it doesn't do auth.)

[2016-10-14 19:52] groyee commented on #692
Doesn't work:

<img width="783" alt="screen shot 2016-10-14 at 10 48 32 pm" src="https://cloud.githubusercontent.com/assets/194016/19400780/75ea11f4-9260-11e6-8913-1478d4a482ac.png">

I tried:

1. http://localhost:31745 from localhost. No response, curl just waits for response.
2. http://public-ip:31745 from remote host using Chrome. Same thing.
3. ssh tunneling port 31745. No go

[2016-10-14 21:09] seeekr commented on #692
@groyee Ok. Option 2 definitely works for me, using kube 1.4, installed using kubeadm. Being far from an expert on k8s, my wisdom here stops at: Check, in some way, that both the cluster as well as the UI services are completely up and running? "curl just waits for response" sounds like you're on the right track, but the service listening isn't operational or something.

[2016-10-14 22:13] mcapuccini commented on #692
@groyee please check the wiki of my anible/terraform deployment https://github.com/mcapuccini/KubeNow/

I find quite convenient to use ssh tunnelling.

[2016-10-14 22:19] groyee commented on #692
It looks like the tutorial is only for OpenStack. I am using Azure.

[2016-10-14 22:24] colemickens commented on #692
How did you bring it up on Azure? If you used `azkube` or `kubernetes-anywhere` then I'd recommend using the `kubeconfig` along with `kubectl proxy`. Should just work.

[2016-10-14 22:31] mcapuccini commented on #692
@groyee we will add GCE, and AWS soon, but not Azure I am afraid (but if you'd like to contribute I'll be happy to merge PRs, it's quite simple to make a terraform module). Said that, you can just give a look to this ansible playbooks, and run the commands manually in your deployment:

On master:
https://github.com/mcapuccini/KubeNow/blob/master/playbooks/roles/proxy-daemon/tasks/main.yml

On your

[2016-10-14 23:01] groyee commented on #692
Thank you guys.

I uninstalled 1.4.1, installed a clean 1.4 and after that the NodePort works for me.

Life is not so easy with Kubernetes :-)

[2016-10-14 23:09] dvohra commented on #984
Only Azure seems to be using NodePort for LoadBalancer. The earlier statement was too general "Load Balancer uses Node Port. ".

[2016-10-14 23:17] colemickens commented on #984
I think the comment earlier meant that if you make a Service Type=LoadBalancer that it also always allocates a NodePort... which is true. Even if the LB doesn't use it.

[2016-10-15 01:00] dvohra commented on #984
According to definition of LoadBalancer it does use NodePort.

"LoadBalancer: on top of having a cluster-internal IP and exposing service on a NodePort also, ask the cloud provider for a load balancer which forwards to the Service exposed as a <NodeIP>:NodePort for each Node."

[2016-10-15 01:18] colemickens commented on #984
At the risk of repeating myself...

1. Any time you make a Service of Type=LoadBalancer... you get all three allocated: LoadBalancer, NodePort, ClusterIP

2. If the cloudprovider supports destination IP preservation, then it will not route requests to the NodePort but instead directly to the service's port on each node (at that point there are iptables rules for that Service's ingress destination

[2016-10-15 06:57] edouardKaiser commented on #1248
Regarding displaying more pod information, I think the `lastState` section might be very useful. In the dashboard we can see that a pod has been restarted (`Restarts` counter), but there is no way to see why (OOM...). The `lastState` would provide that information.

[2016-10-15 12:22] jimjsong commented on #692
newb here.  I followed the comments and instructions, and I was able to get my kubernetes dashboard to show up..yay...thank you all!!

I installed the monitoring and logging via http://kubernetes.io/docs/user-guide/monitoring/ and specifically grafana and influxdb (https://github.com/kubernetes/heapster/blob/master/docs/storage-schema.md#metrics).  I can't seem to get this to pull up on the NODEPO

[2016-10-15 21:17] dvohra commented on #984
Thanks for the additional info which is not in the documentation.

[2016-10-15 22:47] iamsortiz commented on #692
In my case, messing around with the getting started [kubernetes-on-vagrant-single](https://coreos.com/kubernetes/docs/latest/kubernetes-on-vagrant-single.html).

**I went the ssh port forwarding way. Here is the gist to automate it.**
* It asks for the password, to automate that you can use [ssh-pass as seen in stackoverflow](http://unix.stackexchange.com/questions/38737/ssh-login-with-clear-text-

[2016-10-16 13:42] nvartolomei commented on #1259
just to make it more clear what I'm looking for to see, do you have other ideas how to organize this information in another way?

![take1](https://cloud.githubusercontent.com/assets/543193/19417822/0c59a28a-93bf-11e6-8246-745e1809571b.jpg)

may look better
![2c362a3fb74c8798ab0300789ab5be1e](https://cloud.githubusercontent.com/assets/543193/19417843/800583b6-93bf-11e6-882e-8c6fbd9947ff.jpg)

[2016-10-17 06:48] digitalfishpond commented on #1248
pod>Status>InitContainerStatuses>LastTerminationState
pod>Status>ContainerStatuses>LastTerminationState

..are both of type 'Container State' with `json:"lastState,omitempty"` (already ncluded in the diagram)

Which leads me to the following question: should we go with the actual property names? WIth the types? With the json names? WIth a human-friendly descriptive name?

[2016-10-17 08:20] digitalfishpond commented on #1339
(continued in [kubernetes/kubernetes.github.io#750](kubernetes/kubernetes.github.io#750) ) I will close this instance of the issue.

[2016-10-17 08:21] #1339 closed

[2016-10-17 18:08] jkemp101 commented on #1291
+1 for fixing.  This gives a bad impression on the overall security of k8s and its protection of secrets.

[2016-10-18 06:23] maciaszczykm commented on #1328
@gl328518397 do you have any updates? Were you able to pull docker image? Can we close the issue?

[2016-10-18 07:03] IanLewis opened #1345 "Exec into Pod"
I am planning on working on "exec into Pod" functionality. I'm planning on gathering requirements via this issue and creating a proof of concept.
- [x]  Gather requirements
- [x]  Create POC
- [x]  Create UX design
- [ ]  Implementation

My general thought is that I will search for and use an existing library on the client side to display the terminal and take input. I'll use something like websoc

[2016-10-18 07:22] IanLewis commented on #1345
I may be getting ahead of myself, but a couple of thoughts re: requirements:

1. `kubectl exec` supports the `-t` option to enable tty. Do we need to have the ability to turn tty on/off? I can think of cases where it isn't needed but are there cases where the user would need to turn these off? My first thought is that we can leave this option out and just enable tty all the time for simplicity.
1.

[2016-10-18 07:56] digitalfishpond commented on #1303
Hi @billcloud-me , did @IanLewis 's guidance lead to a resolution?

[2016-10-18 08:34] gl328518397 commented on #1328
OK

[2016-10-18 08:34] #1328 closed

[2016-10-18 15:23] faddat commented on #692
![image](https://cloud.githubusercontent.com/assets/7142025/19484351/81b2ac48-9581-11e6-99f6-c025756e6559.png)

[2016-10-18 15:25] faddat commented on #692
![image](https://cloud.githubusercontent.com/assets/7142025/19484379/9d8fff74-9581-11e6-8665-03118cbb0b46.png)

Same trouble here.  I'm going to try the solutions described.  I was using kubeadm to set up the cluster like the other users reporting the issue.

[2016-10-18 18:23] groyee commented on #692
It didn't work for me as well.

What @seeekr suggested worked for me.

[2016-10-19 00:46] IanLewis commented on #1345
Here are a few browser based terminal libraries I'm looking at:

- http://xtermjs.org/
- http://terminal.js.org/
- http://terminal.jcubic.pl/
- http://cb.vu/

xterm.js seems like the best based on a cursory look. It's a fairly active project and is used as part of Microsoft Visual Studio Code for their integrated terminal.

[2016-10-19 00:49] IanLewis commented on #1345
In terms of requirements it looks like debugging is the main use case for exec into pod.

This might affect the UI and how users discover the feature, but for now it doesn't seem like it's going to affect base functionality from what I described above.

[2016-10-19 00:54] colemickens commented on #1345
No `hterm` (https://chromium.googlesource.com/apps/libapps/+/HEAD/hterm)? This is what Google's Secure Shell extension for Chrome uses, IIRC.

[2016-10-19 01:09] IanLewis commented on #1345
@colemickens Cool. I didn't know about that one.

[2016-10-19 04:53] andrewmclagan opened #1346 "Incorrect values for memory usage being displayed"
#### Issue details
##### Environment

Default GKE cluster installation.

[code]
##### Steps to reproduce

View `Workloads >> Pods` then sum the total memory usage and compare that to the graphs. On our system there is a large disparity.
##### Expected result

Memory usage for pods should sum to the total in the graphs?
##### Comments

See attached screen grab
![screen shot 2016-10-19 at 3 52 39 pm

[2016-10-20 07:56] bryk commented on #1223
@digitalfishpond Can you go over this? To apply i18n framework and go over messages?

[2016-10-20 07:57] digitalfishpond commented on #1223
Yep, it's what I'm currently doing :)

[2016-10-20 08:02] bryk commented on #1296
We had initial thinking on this topic, but when you dig deeper, some issues arise. For example, what if your system is highly dynamic and pods come and go every second? This would cause complete mess.

Would a button like "there are new RCs, refresh" or "turn on autorefresh" help?

[2016-10-20 08:07] bryk commented on #964
@dannyman You can certainly do this kind of auth. Just put a auth container inside dashboard UI pod and configure. All should work.

Such feature is not there by default yet, but I hope that eventually it'll be there.

[2016-10-20 08:09] bryk commented on #1317
@edouardKaiser Would it help if we shown the state column here? And allow for filtering/sorting on it?

[2016-10-20 08:21] cheld commented on #1296
@batikanu told me there should be an auto-refresh after every own action. Maybe it is missing at some places... Of course, still missing is refresh after own CLI-actions, actions from other users and refresh of graphs.

Some monitoring dashboards offer a auto-refresh button that reloads the model every couple second or so. @bryk could give an example of the problems that it would cause?

[2016-10-20 08:23] bryk commented on #1310
I had a chat with @piosz and @mwielgus and AFAIU the plan of sig-instrumentation is to provide a single API for "current state of resource usage". This could be easily used with Dashboard and others. Historical data proposal is not settled yet on.

[2016-10-20 08:29] bryk commented on #1330
@CaoShuFeng Thanks for working on it? Me and @rf232 can happily help you with anything that's needed?

Can you outline your plan for tackling this? Just code and docs change? Or something else?

I'm wondering whether we should do this conditionally for 1.4+ clusters or for all.

[2016-10-20 08:51] bryk opened #1349 "Some waiting pods have incorrect icons"
I recently checked my dev cluster and saw this:
![selection_135](https://cloud.githubusercontent.com/assets/1159999/19553074/ee74d1b2-96b2-11e6-8211-f9fe439fe1f5.png)

Everything is green or gray, but it should not be. Pods prefixed with `ewa-app-` should have red icon. The `maxmaxmax...` one should be potentially red and `mysql` perhaps too.

cc @IanLewis @rf232

[2016-10-20 09:00] floreks commented on #1349
This is similar to #1121. Origin of this issue is the same, because pod is considered running/waiting by the kubernetes itself and containers are failing. Right now icon reflects only pod state not pod with containers and this should be changed.

Additionally on pods page we don't handle events and our error recognition is based on them.

[2016-10-20 09:00] IanLewis commented on #1349
The icon is still looking at the pod state currently and it's "Running" for
those with pods in a crash loop.

I explicitly left changing this behavior out of my last change as it needed
some discussion. We need to define what situations should show red icons vs
green. I think we may need a yellow too for initializing pods, pods with
containers waiting for an image pull etc.

I'm willing to take th

[2016-10-20 09:03] IanLewis commented on #1349
I think we can close #1121 as addressed by my earlier changes and use this issue for discussion of the icon.

[2016-10-20 09:31] bryk commented on #1286
Can you show us logs of the Dashboard UI container?

[2016-10-20 09:41] bryk commented on #1333
@edouardKaiser Thanks for listing all those features that we don't have. I'm super happy that you did this! :) We turn such requests into actual work.

[2016-10-20 09:45] edouardKaiser commented on #1317
I think it would reflect the reality 99.9% of the time. But the real source of truth is the `kubect describe svc/<yourservice>` which returns the endpoints being served.

[2016-10-20 13:17] piosz commented on #1310
There is [Kubernetes monitoring architecture proposal](https://docs.google.com/document/d/1z7R44MUz_5gRLwsVH0S9rOy8W5naM9XE5NrbeGIqO2k/edit) in flight.

Our intend is to address issues like this. The proposal is to:
- have core monitoring pipeline, installed by default on every cluster, which collects only the most important metrics required by core Kubernetes components (in fact cpu/mem/disk usag

[2016-10-20 13:34] fgrzadkowski commented on #1310
Another options would be:
* Read data from Infrastore (once it's available)
* Keep some history in dashboard specific backend that would be read from metrics API.

[2016-10-20 14:24] rf232 commented on #1317
I think it would also help us if we get the state icons more nicely done (#1349) and use them here. Since IMHO It would be nice to see that (in the example screenshot) this 2nd pod is expected to join serving for this service. Especially if there are a 'lot' of pods behind the service reading a column takes more time than scanning for differently colored icons in the list

[2016-10-20 14:50] Sn0rt commented on #1330
@bryk hi: the [PR](https://github.com/kubernetes/dashboard/pull/1350) was sent and test is fixing...

[2016-10-20 19:49] davidopp commented on #1310
I think the diagram at the end of the doc Piotr posted here https://github.com/kubernetes/dashboard/issues/1310#issuecomment-255102735 addresses this? kube-dashboard takes metrics from Infrastore, which gets its metrics from master metrics API (core system metrics) and a plugin that lets you feed it metrics from any monitoring system (the plugin is written by the monitoring system vendor).

[2016-10-20 20:16] puja108 commented on #1310
I guess keeping to the metrics API specs will be key, no matter if they come from the master (metrics) API (i.e. metrics server) or the Infrastore.

Looking at the [Roadmap for this](https://docs.google.com/document/d/1JWU14wqqATMVS9hoBnjZnwMyMpUdw0cmPMc-6jNT43U/edit#heading=h.8xm1b73ow1af) Metrics server will optimistically come OOTB with 1.6, but Infrastore will still be PoC by then, so I guess

[2016-10-21 07:03] bryk commented on #1259
Dod you try to put this information in the table? The rows may get higher, but this allows for support of 100s of nodes.

Do you have any code or demo for this?

@rf232 @romlein Any comments?

[2016-10-21 07:18] bryk commented on #1291
Yep, the linked PR should get it soon.

[2016-10-21 07:24] bryk commented on #692
It seems that kubeadm tool and its networking are doing something wrong. Can you report an issue there and link to this one?

If you want to try out the UI, use `minikube`. It works and has dashboard out-of-the-box.

[2016-10-21 07:29] bryk commented on #1345
Yep, I also think so.

Do you suggest to enable or disable this option by default? AFAIU this should be always enabled to make interactivity work? Or am I missing something?

Yes, exactly :)

[2016-10-21 07:46] bryk commented on #1345
This might affect the UI and how users discover the feature, but for now it doesn't seem like it's going to affect base functionality from what I described above.

Do you have any proposals for interaction flow of this feature? My rough understanding is that users look at a pod and then there is a button or already opened card to start the interaction. But then there are problems. What's the inter

[2016-10-21 07:55] bryk commented on #1346
Is this something that always happens always, or just sometimes?

Can you paste the output of `http://<master-IP>/ui/api/v1/pod/default`? (you can obfuscate everything that is not about metrics).

[2016-10-21 08:01] bryk commented on #1296
Yes, that's true. But this is only a single refresh.

E.g., you're doing a rolling update and your pods appear and disappear from the pod list every second. You want to click a pod, but it disappears from under your pointer (this may be actually the feature users look for, actually).

[2016-10-21 08:02] #1121 closed

[2016-10-21 08:06] bryk commented on #1349
If I was to propose the algorithm, I'd say:
1. Only pods with status equal to "Running" have green icon.
2. "Waiting" status may be red or grey. I'd go through all waiting reasons and make categorize them using common sense. If a reason ends with "BackOff", I'd make it red.

What do you think?

[2016-10-21 08:39] rf232 commented on #1345
You indeed need the `-i` (and the `-t`) if you want something like bash to work. I don't know how high the overhead would be for something like `kubectl -p my-pod ps aux` to add the `-i` and `-t`, so don't know if we should worry about making that configurable.

About the mocks. I think it looks good if you really only want to do two/three things in the shell, but if you want to do more you might

[2016-10-21 08:44] bryk commented on #1317
It is also shown on the service page, so I think we're aligned here.

[2016-10-21 08:46] bryk opened #1353 "Surface pod condition information in pod lists"
The issue https://github.com/kubernetes/dashboard/issues/1317 started a discussion that we should surface pod condition info in pod lists. Or, at leas, pod lists on service pages.

I.e., this section

[code]

I propose that we get rid of Cluster IP column and use this one. Cluster IP for a pod is not worth showing on all lists. This column is useless.

[2016-10-21 08:57] edouardKaiser commented on #1317
You mean the endpoints that the service is serving are displayed on the service details page?

[2016-10-21 09:00] bryk commented on #1310
Yes. If we ever realize that Infrastore release timeline does not work for us, I'd rather make us join the effort than develop something separate.

[2016-10-21 09:05] nvartolomei commented on #1259
@bryk actually the table may work better. No code demos :)

[2016-10-21 09:18] bryk commented on #1345
Yeah, this may be pop-out-able card or a window by default. Like chrome debugging tools.

[2016-10-21 11:46] Starefossen commented on #692
Having similar problem on a cluster set up by `kubeadm`:

[code]

[code]

[code]

[code]

I suspect `kubeadm` is not configuring any unauthenticated `kube-apiserver` service endpoints 😕

[code]

[2016-10-21 12:05] cheld commented on #692
I have not yet tried kubeadm myself. Maybe your problem is described in the shooting guide: https://github.com/kubernetes/dashboard/blob/master/docs/user-guide/troubleshooting.md

Could you please check?

[2016-10-21 12:17] bryk opened #1354 "Ideas for Kubecon 2016 user's questionnaire"
We will send out a questionnaire to Kubecon attendees and our users after the talk me and @romlein are doing on Kubecon.

We did this last year with @cheld and @dodwyer and it was really successful. We received like 300 responses and the results infographics is [here](http://static.lwy.io/img/kubernetes_dashboard_infographic.png).

Do you have any ideas what should we ask the audience and our user

[2016-10-21 12:37] arieljatib commented on #1354
Going with the same questions as last year is great. It will be interesting to compare and contrast results a year later.

Regarding,

We should share the work we've done on user stories in [SIG-UI : Target User Types and Use Cases](https://docs.google.com/document/d/1urAlgRP7AbcdsOMQ_piQQ6O1XTDIum_LmOUe8xsC4pE/edit?usp=sharing) and encourage others to participate / vote. This could also help prom

[2016-10-21 14:03] rf232 commented on #1349
Sounds like a nice algorithm

[2016-10-22 01:03] steelbrain commented on #1083
A friendly bump, this feature would be wonderful to have

[2016-10-22 13:23] asheshambasta commented on #692
+1. Using `NodePort` results in a 404 not found for me.

[2016-10-22 13:27] faddat commented on #692
My update is that I've tried what I know to try and what the docs suggest trying without avail.  I don't think it's broken exactly, because I can see the dashboard running there.  That said I cannot connetct to it.

Did the location of the CA Certs move?  Are they now directly in /etc/kuberenetes?  I can't find CA Certs in /etc/kubernetes/certs where I recall reading they'd be.

[2016-10-22 13:38] asheshambasta commented on #692
@faddat the output of the setup usually dumps;
[code]

[2016-10-23 06:25] IanLewis commented on #1349
For reference, here are the definitions of some errors we need to care about:

https://github.com/kubernetes/kubernetes/blob/4f32cc073b68850979e648996df0b09cd11a2263/pkg/kubelet/images/types.go
https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/pkg/kubelet/container/sync_result.go

[2016-10-23 09:52] asheshambasta commented on #692
I must say this is quite a dead end for me. `http://<ip>:<NodePort>/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/workload?namespace=_all` fails to load on my browser and instead tries to download files that fail to decompress.

[2016-10-23 12:13] potato20 commented on #692
@faddat in your screenshot when you're using `kubectl proxy`, you should be able to go `localhost:8001/ui`

[2016-10-23 14:26] andrewmclagan commented on #1346
Not sure if im reading the endpoint correctly, although that redirects to:

`/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/workload?namespace=default`

Being the kubernetes bash not an API endpoint. Is that correct? If so i can dump that info

[2016-10-24 02:56] IanLewis commented on #1354
This is a completely separate idea, but could the dashboard collect usage metrics if users opt in?

[2016-10-24 02:58] IanLewis commented on #1354
I like the idea of using the same questions as last year and see how things have changed.

[2016-10-24 03:04] IanLewis commented on #1349
Should we use things like the pod conditions (Initialized, Ready) for this. I'm wary of using the status string as we display it here to run the algorithm.

[2016-10-24 03:05] IanLewis commented on #1353
Do you want to show each condition as a column in the pod list?

This seems similar to the discussion in #1349 to me. I feel like we should be using these conditions to determine the icons we show.

[2016-10-24 03:36] IanLewis commented on #1345
Just to be clear, I think having a popup dialog for the terminal interface is best and have it able to pop out.

I also think we need a way to "force quit" the terminal. Simply closing the window is the easiest and most natural way I think.

Something like this:

![new mockup 1](https://cloud.githubusercontent.com/assets/49289/19632870/260987a4-99e6-11e6-934e-50de15e51723.png)

[2016-10-24 07:14] cheld commented on #1354
@IanLewis in general this would be helpful. Sharing raw data is probably difficult because even statistical data might contain senseful data.

@kenan435 any thoughts on using spartakus with dashboard?

[2016-10-24 07:15] cheld commented on #1354
CC @fwalker

[2016-10-24 07:35] bryk commented on #1317
Yes.

[2016-10-24 07:36] bryk commented on #1259
All right, thanks for this feature request! We'll put it in the backlog.

[2016-10-24 07:40] edouardKaiser commented on #1317
But the endpoints are not displayed right now, unless I missed something.

[2016-10-24 08:02] batikanu opened #1357 "Resource quotas should be editable."
#### Issue details
##### Environment

[code]
##### Steps to reproduce

Go to Namespace details to display resource quotas
##### Observed result

Resource quotas are not editable
##### Expected result

They should be editable

[2016-10-24 08:44] IanLewis commented on #1317
I think it makes sense to show all the pods including those that aren't ready but show those with a different icon per #1349.

Just showing the pods that match the endpoints would leave off important info about pods that match the selector but aren't ready for various reasons. For that reason, I think that showing the pods that match the endpoints is not what we want but the pods that match the se

[2016-10-24 08:50] IanLewis commented on #1354
I looked at spartakus but it looked like it wasn't sending data with the granularity that we might want with the UI.

Would be interesting if dashboard was able to interoperate but I think it may go against the spirit of spartakus which was to just stick a pod in the cluster and have it relay info obtained from the Kubernetes API.

[2016-10-24 09:41] bryk commented on #1083
A general revamp of logs viewing experience is high on our priority list. So we cluster all logs-related issues like this into one big project. We'll let know when this is being taken.

And yes, please ping the issue if you feel this is taken too slowly.

[2016-10-24 09:57] bryk commented on #1346
The full endpoint is: `/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/api/v1/pod/default`. Use it for the dump.

[2016-10-24 10:00] bryk commented on #1349
Yes, I proposed the algorithm from the end user perspective. Implementation may (and should) base on status fields.

Looks like a thing we should be using for this. Thanks!

[2016-10-24 10:01] bryk commented on #1353
No. I'd show pod conditions as a single column. The pod can be in only one condition or multiple?

@rf232

[2016-10-24 10:14] bryk commented on #1345
Agreed with all stated above.

@IanLewis Can you propose a complete user journey for a use case? E.g., "I want to debug a pod. First I start with `ps aux`. I notice bad stuff. Then I open bash and type some more commands. Then I finish the session".

[2016-10-24 10:21] bryk commented on #1317
They are:
![Uploading Selection_138.png…]()

[2016-10-24 10:25] bryk commented on #1317
Yes, thats the correct behavior, IMO.

We should (and we do) show them. Then we should surface all information, potentially about the configuration that made the headless service work.

[2016-10-24 10:27] bryk commented on #1354
@IanLewis

Can you spawn an issue about this?

[2016-10-24 12:35] rf232 opened #1361 "XSS risk on ?namespace= get parameters"
when giving a get paramer of `?namespace=%3Cimg%20src%3Dx%20onerror%3Dalert(document.domain)%3E` to the dashboard we see a broken image and get a popup. We should fix this and check if more such XSS vulns are there

[2016-10-24 13:03] edouardKaiser commented on #1317
I'm not sure what are those endpoinds, but it does not really match that we get from `kubectl describe svc/<service name>`.

Example of console output, we can see 2 IP addresses being served, 10.2.6.2 and 10.2.73.3:
[code]

UI of this service, does not display 10.2.6.2 and 10.2.73.3 in the endpoints section:
![image](https://cloud.githubusercontent.com/assets/7731641/19646685/50d0e22e-9a46-11e6-9b

[2016-10-24 14:30] bryk opened #1364 "Create one command install&open script"
We should create an one command install&open script for the Dashboard UI. On many repositories I see this and love the idea when I just want to check out a new thing. This could be like a banner on our front page:
`curl https://raw.github.com/kubernetes/dashboard/foo.sh | bash`

It'd:
1. Open the browser to the UI if it is already installed.
2. Install the UI and go to point 1 otherwise.

[2016-10-25 05:01] IanLewis commented on #1345
@bryk Sure I'll write something up here.

I think pop-out functionality isn't core. What do you think about doing it as a separate PR?

[2016-10-25 05:11] IanLewis commented on #1364
Isn't the install currently just a kubectl one liner? What's the use case? is this for developers?

[2016-10-25 05:11] IanLewis commented on #1349
@bryk Can you assign this to me?

[2016-10-25 05:12] IanLewis commented on #1345
@bryk can you assign this to me?

[2016-10-25 05:14] IanLewis commented on #1353
Not sure why the API returns it as a list rather than an object, but I believe it can only have one condition of each type.

[2016-10-25 07:08] andrewmclagan commented on #1346
[code]

[2016-10-25 07:16] floreks commented on #1317
That's true. We are displaying endpoints of a service but not endpoints of a pods targeted by this service. Usually user will not have access to these "pod endpoints". Normally you would have to be inside a cluster to access them.

We can display this information, but I'm not sure if it will be useful. Do you have any use cases for that in mind?

[2016-10-25 07:32] bryk commented on #1364
The use case is for users that want to try out the UI for the first time. The "paste this into your terminal" command can be called "install and launch" script. It'd basically the easiest way to have a live UI opened in your browser.

Use case: attract users by providing easiest possible launch procedure to them.

[2016-10-25 07:43] bryk commented on #1345
Yes, definitely. If you can I'd even suggest doing this in several incremental PRs. Like: start with backend, then do frontend prototype that is still hidden, then finalize look and feel, then productionize.

[2016-10-25 07:43] floreks commented on #1364
Should it be something that spins up the cluster, deploys UI and opens the browser or do we assume that user has running cluster already?

[2016-10-25 08:18] edouardKaiser commented on #1317
I find it useful because it's the source of truth of which pods are being served by the service.

[2016-10-25 08:56] floreks commented on #1317
This endpoint is additional kubernetes resource, so maybe we could show them as a related object and use some of that logic to match pods to a service better.

[code]

[code]

What do you think?

[2016-10-25 09:03] edouardKaiser commented on #1317
Interesting, I didn't know they were proper resources. As long as we can access/display those values, I'm happy with it.

[2016-10-25 09:50] rf232 commented on #1361
okay, the namespaceParam is the only place we touch the $location.search or queryParams at all, the rest of our router code is all guarded agains xss by angular

[2016-10-25 11:34] rf232 commented on #1361
closed by PR #1362

[2016-10-25 11:34] #1361 closed

[2016-10-25 12:44] bryk commented on #1364
I'd assume that the user has kubectl configured first. It'd be much easier. We could use minikube to start a cluster in the v2 version. What do you think?

[2016-10-25 12:45] bryk commented on #1317
I like this idea. Is this something you can work on? :)

[2016-10-25 12:50] djsly opened #1372 "Allow to see pods distribution across nodes"
#### Enhancement details

It would be useful to be to able to see on which nodes all replicas of the same type are scheduled.
The pod table currently shows the clusterIP only, if we could add to that column the pod Name (which is available on the pod description page that would help have a quick idea on which node all of our replicas are.

Eventually having a better distribution dashboard could be

[2016-10-25 16:19] Hirayuki commented on #692
Same as everyone.

1. fist my dashbord pod had crashloopbackoff, i have deleted it, but instead of delete, it was fixed.
2. config view is empty
3. browser returns unauthorised

[2016-10-25 18:14] rf232 commented on #1354
This is actualy the first time I see this infographic, looks nice :)

It is also interesting too see that the 'readonly' operations of
monitoring and looking at the state are coming up as the most important
ones. My most important question is how those values change dependant on
which of the three user types (as defined in the document @Ariel linked
to) you are. So I think indeed the same question

[2016-10-25 18:16] rf232 commented on #1353
I'd most definitely prefer a single column for the status. I don't think we
really have multiple states, and if we have they should be substates and
not orthogonal states afaik.

[2016-10-25 18:24] IanLewis commented on #1317
Yah. "internal endpoints" is different. I think showing endpoints, one way
or the other is good but they will almost always be pods so that's the main
use case, but pods ≈ endpoints.

The trick is showing this stuff in a way that's useful.

On Mon, Oct 24, 2016, 22:03 Edouard Kaiser <notifications@github.com> wrote:

[2016-10-26 03:05] djsly commented on #1345
Here's a typical user journey on our side.

I'm a developer, I'm testing out my new container and related manifest. I realized that the behavior isn't correct so I log in the Kubebernetes-Dashboard, looks at the deployment tab, identify my deployment, open up the pod page. I would then like to have a TAB where I could get access to a terminal for all of my containers running in my pod. I always li

[2016-10-26 03:15] colemickens commented on #1345
Random thoughts since this popped in my Inbox again:

I'm **never** just running `ps ax` randomly and thinking that's going to fix my problem or illuminate the real problem. Has anyone, ever, just run `ps ax` alone thinking that would solve their problem? I'd bet they're always running `exec` with `bash` to get into an interactive session.

I guess where I'm going with this is... it seems really a

[2016-10-26 03:16] colemickens commented on #1345
(And then of course after sending this comment, I realize that `bash` is not available in all containers, and making such assumptions has it's own significant downsides...) I guess in this model typing `bash` or the like, somehow puts you into the active terminal session?

[2016-10-26 06:11] IanLewis commented on #1345
@colemickens I think we want to support both scenarios. I don't think anyone is saying `ps aux` will solve anything by itself, but just using it as an example. For instance, If one doesn't have bash available in the container, they might run the `ps aux` command and then other commands after that to follow up on what they learned leading to a UI that allows you run multiple commands easily. And th

[2016-10-26 06:35] IanLewis commented on #1345
@colemickens I think it could be possible to have a "exec into pod" prompt that is part of the terminal itself where you can type commands.

Something like this?

![terminal](https://cloud.githubusercontent.com/assets/49289/19715677/c9092d18-9b91-11e6-8c7b-952e78845f22.png)

[2016-10-26 06:40] bryk commented on #1345
Yes, that was my first proposal to kick off the discussion. What we can do is to start a terminal-like window where you type exec commands. When you type something bogus, we tell you this and advice to run "bash".

![welcome](https://cloud.githubusercontent.com/assets/1159999/19715758/b27101f0-9b57-11e6-9cc5-290e6636af84.png)

PS. in the middle of me writing this post I noticed @IanLewis with the

[2016-10-26 06:44] IanLewis commented on #1345
For reference here is the Openshift UI. Openshift allows you to run a "debug" container with a modified entrypoint.

![](https://cloud.githubusercontent.com/assets/1467629/17494789/4065f388-5d84-11e6-8faf-c21693bf3e05.png)

[2016-10-26 06:50] IanLewis commented on #1345
@bryk I'm curious how you would figure something is bogus or not. I think we can just try to run the command given and give an error like "command not found" as returned by the API or container. BTW AFAIK `ls` is an actual binary you can run on most systems.

Thoughts:
- I think some things like exit codes will be important.
- We can start the terminal with some "welcome" instructions on what kind

[2016-10-26 07:10] bryk commented on #1345
Yes, but they modify the pod, which I'd like us to avoid if possible.

Yes, exactly. And then augment this error with info that one should typically run "bash" or "sh" to do interactive sessions.

Yes, my example in the mock is unfortunate.

Yes, for exec commands.

Awesome idea. We'd say there that one can exec or start a terminal (if it is installed in the container).

That's a hard problem... I

[2016-10-26 07:23] bryk commented on #692
@Hirayuki Were you using kubeadm? We're now looking at ways to fix it.

[2016-10-26 07:24] IanLewis commented on #1345
Agreed.

My thought is that we could just say this as part of the welcome message and be done with it.

[2016-10-26 07:32] floreks commented on #1317
Probably yes but it can take some time as I have some other open issues in core :)

[2016-10-26 09:24] YvanDaSilva opened #1374 "YAML upload should respect the selected namespace"
#### Issue details

The upload of a YAML file does not respect the selected namespace in the dashboard.
##### Environment

[code]
##### Steps to reproduce
- Select a namespace other than default.
- Build a simple YAML of any resource (example a secret), upload it through the YAML upload dialog.
##### Observed result

If no namespace is provided in the YAML the resource is created on the 'default n

[2016-10-26 11:10] andrewmclagan commented on #1346
@bryk  For some more information, running `kubectl top node` returns:

[code]

whilst the dash report 4.81Gb usage.

[2016-10-26 14:11] bryk commented on #1374
@digitalfishpond Can you investigate this?

[2016-10-26 14:45] mlbiam commented on #964
How come the dashboard wasn't written as a Single Page Application calling the k8s api directly from the browser?  Then the dashboard could be locked down with any reverse proxy and authentication combination.  I'm thinking something like https://github.com/saturnism/gcp-live-k8s-visualizer

[2016-10-26 16:34] colemickens commented on #964
The dashboard *is* an SPA. And if you have basic auth enabled, you can access it through the service proxy just as you describe already.

[2016-10-26 23:19] IanLewis commented on #1374
This is tricky because I could see this either way. The current information architecture of the UI does not really make it clear that you would be creating in the currently selected namespace.

[2016-10-27 06:29] bryk commented on #961
I moved tracking of this feature to the kubernetes/features repo. That's the place we should be putting our large projects.

[2016-10-27 06:35] bryk commented on #692
To everyone who has problems running Dashboard in a kubeadm-based cluster: kubeadm is still in early stages of development, so it has some problems with DNS, networking and thus Dashboard UI. If all you want is to try our Dashboard, use https://github.com/kubernetes/minikube :)

[2016-10-27 07:35] bryk commented on #1374
How about we re-add namespace selector to the YAML upload form? And default it to currently viewed namespace.

[2016-10-27 07:39] YvanDaSilva commented on #1374
I also thought about the namespace selector in the upload screen.
But isn't it a bit weird just like now ? You might have already filtered by your namespace in the menu, meaning you are now creating a resource that you won't be able to see until you change that filter.

If the menu is closed, this can lead to confusion.

This is why I suggested the CLI approach.

[2016-10-27 07:43] IanLewis commented on #1374
Yah, A bit cumbersome but I suppose that would be ok. The namespace selector in the upload form would default to the currently selected namespace in the sidebar.

[2016-10-28 02:23] bgrant0607 commented on #1354
@rf232 FWIW, inside Google, our 2 main UIs for Borg are both readonly. Our users want operational dashboards, which, honestly, is the core strength of the UI -- visualization.

They control their workloads through configuration files checked into source control, with the ability to review and approve changes, trigger tests via CI, rollback, view change history, etc.

Direct use of CLI or API is al

[2016-10-28 02:24] bgrant0607 commented on #1354
And, the obligatory reference to #21. :-)

[2016-10-28 02:59] bgrant0607 commented on #1354
In case it's not obvious:

And why the heavy emphasis on repeatability and configuration? I do development on a VM I created via a UI. Why is K8s different?

* Immutability. For my development VM, I configured almost nothing and then just ssh'd to it and futzed with its image interactively, to install packages, etc. Container images are typically built from Dockerfiles (or other configurable/scrip

[2016-10-28 09:46] bryk commented on #1346
Dashboard UI includes cached MEM in the nodes view, that may be the cause.

[2016-10-28 09:46] bryk commented on #1346
Investigating this....

[2016-10-28 11:02] bryk commented on #1346
I think I've found the issue. We've been using slightly different metrics for the sparklines and large graphs.

Can I build a test image and pass you for verification that the fix actually works?

[2016-10-28 11:26] cheld commented on #692
I tried kubeadm. Everything works as expected. Not sure if everything is obvious for a beginner, but it works.

Are you still stuck? Or could you give more details so we can improve documentation/code?

One comment: It seems most have a running environment, but cannot connect to dashboard from outside. The reason is that the api-server is configured only to allow access with client certificate, bu

[2016-10-28 11:48] cheld commented on #1303
I had no issues with kubeadm and kube-weave network.

Can you check the trouble-shooting guide? https://github.com/kubernetes/dashboard/blob/master/docs/user-guide/troubleshooting.md

[2016-10-28 11:58] cheld commented on #1364
[code]

?

[2016-10-28 12:12] billcloud-me commented on #1303
I forgot to close this issue.  My problem was not having ip-forwarding enabled.

[2016-10-28 12:12] #1303 closed

[2016-10-28 12:42] bryk commented on #1346
I pushed an image for you to verify. Take a look at: bryk/kubernetes-dashboard-amd64:canary

[2016-10-28 22:07] andrewmclagan commented on #1346
Shall take a look at this, and report back. Thanks!

[2016-10-29 10:35] ensalty commented on #692
I tried like this kubectl --kubeconfig ./admin.conf proxy but unfortunately, it failed again.
cannot connect from external web broswer.(Timeout)

![image](https://cloud.githubusercontent.com/assets/5126301/19828937/661f93f0-9e06-11e6-911a-57dd97827037.png)
![image](https://cloud.githubusercontent.com/assets/5126301/19828945/825ea43e-9e06-11e6-958e-3829fa7470d7.png)

[2016-10-29 10:37] Dm3Ch commented on #692
Could anyone share please an example of admin.conf?

[2016-10-29 10:38] ensalty commented on #692
admin.conf is just under the /etc/kubernetes/

[2016-10-29 12:18] Dm3Ch commented on #692
Hmm, i tried ` kubectl --kubeconfig ./admin.conf proxy` but i got unathhorized anyway. Does anyone know the way to fix this problem?

[2016-10-29 19:19] colemickens commented on #692
It sounds like many of you are starting the proxy and then not actually using it...

Start the proxy and then go to http://127.0.0.1:8001/ui in your browser.

[2016-10-29 19:20] colemickens commented on #692
@Dm3Ch You should be running the proxy from the computer where you're trying to browse the dashboard.

[2016-10-30 01:48] ensalty commented on #692
@colemickens
I tried to run the proxy on the kube master server and login its localhost on browser.
but I got this problem after redirecting..
![image](https://cloud.githubusercontent.com/assets/5126301/19833911/cb9a4232-9e85-11e6-817f-25adf18958cb.png)

[2016-10-30 01:55] colemickens commented on #692
Your dashboard is probably not healthy then, if there are no endpoints listed for the dashboard.

[2016-10-30 01:56] colemickens commented on #692
(It also means you got past the proxy/auth problem though, so might file a new Issue if you're unable to resolve it)

[2016-10-30 02:00] ensalty commented on #692
@colemickens  Thanks for your comments.
Is there any workaround to visit the dashboard from outside.

[2016-10-30 02:01] colemickens commented on #692
I don't understand the question. You are accessing it from outside. If you want to make it publicly available, then you will need to deploy a load balancer for it... the same way you would any other Service in your cluster. But you probably don't want to do that without putting a reverse proxy with authentication in front of it. Again, all out of scope for this Issue though.

[2016-10-30 02:11] ensalty commented on #692
@colemickens    Sorry, I mean is it possible to visit the master server's dashboard from other server?
I have the master running on a public IP but get unauthorized un https://ip/ui
![image](https://cloud.githubusercontent.com/assets/5126301/19833983/4c1ccfae-9e88-11e6-884c-341f3b962e30.png)

I tried merley all of the ways raised by Github and stackover but still failed to login from broswer outsi

[2016-10-30 02:15] ensalty commented on #692
Here comes my pods status not sure if anything wrong.

[root@cloud kubernetes]# kubectl get pods --namespace=kube-system
NAME                                    READY     STATUS              RESTARTS   AGE
etcd-cloud                              1/1       Running             0          16h
kube-apiserver-cloud                    1/1       Running             0          16h
kube-controller-manager-

[2016-10-30 02:17] colemickens commented on #692
Like I said, external access for the dashboard is unrelated to this Issue, should be done the same as you'd expose any Kubernetes service, and should only be done with extreme caution or with a reverse proxy in front doing authentication.

Also, your dashboard not running is unrelated to this Issue. Please start a new one. You can tag me in it and I will try to help you find out why the dashboard

[2016-10-30 02:27] ensalty opened #1382 "Kubernetes dashboard unauthorized & endpoints failed problem"
#### Issue details

![image](https://cloud.githubusercontent.com/assets/5126301/19834035/ba7f77ec-9e8a-11e6-9644-e87ad6dba7e8.png)

![image](https://cloud.githubusercontent.com/assets/5126301/19834044/00b330be-9e8b-11e6-8409-1f5db672e198.png)

localhost:8001

![image](https://cloud.githubusercontent.com/assets/5126301/19834313/92fc6c2a-9e94-11e6-9afc-62918a8675ca.png)

localhost:8001/ui
![image](h

[2016-10-30 02:32] ensalty commented on #692
@colemickens
I just raised another issue and it is appreciated if you may help to have a look
[https://github.com/kubernetes/dashboard/issues/1382](url)

[2016-10-30 02:53] colemickens commented on #1382
It would have been useful to have described the kubernetes-dashboard pod, but it looks like it's not getting scheduled because of taints you have on your nodes.

The Unauthorized error is not a bug (and is again a different Issue, see this one for some details: https://github.com/kubernetes/dashboard/issues/964). You are trying to access the API server and you're not presenting any authentication.

[2016-10-30 02:55] colemickens commented on #1382
It looks like you only have a single node, the master, and you've tainted it as Unschedulable... That would be precisely why it's not getting scheduled. There's no where to put it...

[2016-10-30 03:23] ensalty commented on #1382
@colemickens  Thanks for your commets. I follow the http://kubernetes.io/docs/getting-started-guides/kubeadm/ to install the kubernetes on one physical server(CentOS 7). Then, I just want to see the dashboard web page.  Does that mean I need to create another nodes on other servers.

[2016-10-30 03:27] ensalty commented on #1382
I tried to run an sample ngnix the server and it looks like working. But the kube-dashboard has the error event output.

[code]

[2016-10-30 03:33] ensalty commented on #1382
localhost:8001

![image](https://cloud.githubusercontent.com/assets/5126301/19834313/92fc6c2a-9e94-11e6-9afc-62918a8675ca.png)

localhost:8001/ui
![image](https://cloud.githubusercontent.com/assets/5126301/19834317/aa39f308-9e94-11e6-9150-25a4934228fd.png)

[2016-10-30 05:29] colemickens commented on #1382
No, it says it scaled the deployment up to two pods, but it doesn't look like they're running. It says *right there* in the output: "my-nginx-379829228-6tc7i   Pod                 Warning   **FailedScheduling**".

Yes, you either need to add more nodes or you need to remove the taint and mark the node as schedule-able if you want Pods to start.

[2016-10-30 08:14] ensalty commented on #1382
@colemickens  Sorry, I felt a little puzzled. Do you know how to add more nodes or it need extra pythical server? I used the kube 1.4 version.  I follow the documents to set up it step by step. Is there any documents or link that I can follow to start with?

[2016-10-30 08:19] ensalty commented on #1382
![image](https://cloud.githubusercontent.com/assets/5126301/19835291/3aa8b560-9ebc-11e6-8959-3dcc9ef7c5dc.png)

As the documents shows that the dashboard should be set up after following the yaml.

[2016-10-30 17:41] romlein commented on #1354
Those comments are super helpful @bgrant0607 – thanks!

@rf232 I like your idea about correlating user types with what UI functionality is most important to them.

[2016-10-30 18:03] faddat commented on #692
I'll re-deploy on my systems with the latest kubeadm and let you know the
situation.

Jacob Gadikian
E-mail: faddat@gmail.com
SKYPE: faddat
Phone/SMS: +84 167 789 6421

On Sun, Oct 30, 2016 at 9:32 AM, Eric Yin Z <notifications@github.com>
wrote:

[2016-10-30 18:39] romlein commented on #1333
@IanLewis sorry for the delay in response. Ah, I see your point. That is an interesting idea about including this info somewhere in our docs. @bryk WDYT? At the least, I'm putting together a Google Doc with the summary roundup of other UIs.

[2016-10-31 12:33] rf232 opened #1384 "i18n framework relabels translations"
#### Issue details
When adding new translations to a template and later in the file translations already exist the keys will be renumbered, and thus invalidate existing translations

##### Steps to reproduce
- Add a new translatable key to a template file and
- regenerate i18n/messages

##### Observed result
new translation key is inserted in the middle of the list and all later ones are shifted u

[2016-11-02 07:29] cheld commented on #1384
CC @taimir, @digitalfishpond

[2016-11-02 08:58] cheld commented on #1382
CC @bryk

I see two parts in this issue:
1. Improve kubeadm documentation
2. Add a 'toleration annotation' to kubernetes-dashboard.yaml to ignore taint and allow deployments on master. I assume that most users expect that dashboard is a similar thing as e.g. kube-dns which is also deployed on master. In other words I would suggest that all pods of kube-systems can be deployed on master. WDYT?

[2016-11-03 07:52] TerraTech opened #1387 "UI enhancement: Rows per page"
#### Issue details
Would like for "Rows per page" to be sticky between page reloads and navigation.

##### Environment
[code]

##### Steps to reproduce
Change the initial setting from 10 => 25, then reload the page or navigate to another menu selection.

##### Observed result

After reload, it will be reset to 10.

##### Expected result

Would like for it to remain at what I selected, in this case

[2016-11-03 09:51] taimir commented on #1384
@rf232 just to confirm the problem, you are saying that if in a template file we already have 2 translated messages:

[code]

and now I were to introduce a message in the beginning of the file, those existing two would get renamed (the index will shift by one):

[code]
and this would wrongly lead to "foobar" receiving the old translation of "foo", "foo" receiving the old translation of "bar" and "

[2016-11-03 10:21] rf232 commented on #1384
the XTB generator is a bit smarten than that, so the result is that all three have no translations (it 'throws away' old translation if the base english text changes.)

If you look at my PR that is basically what I do, but in the old case we didn't know anything about the previous iteration of the messages file and thus looked at the template file entirely fresh. So the code has some more logic to

[2016-11-03 10:39] taimir commented on #1384
Ah ok, that was the second possibility. So in the current state nothing is translated wrongly, but we are losing a ton of valid translations each time some new text is introduced in the beginning of a template.

[2016-11-03 10:40] rf232 commented on #1384
Indeed

[2016-11-03 10:54] #1384 closed

[2016-11-03 17:04] bryk commented on #1364
Yeah, something like this, but a bit more interactive and clever. I.e., open the UI when you have kubectl and UI already configured. I'll propose something over the weekend.

[2016-11-03 17:04] bryk commented on #1346
I think this should be fine now. Please reopen if the problem still persists.

[2016-11-03 17:09] #1346 closed

[2016-11-03 17:16] bryk opened #1389 "Show Horizontal Pod Autoscaler resource"
We should show HPA resources in the UI as described here: http://kubernetes.io/docs/user-guide/horizontal-pod-autoscaling/

My opinion now is that we should show this as a property of a RS/Deployment, rather than a separate menu item.

[2016-11-03 18:04] bryk commented on #1333
@romlein Sounds like an awesome idea.

[2016-11-03 18:09] bryk commented on #1382
How can we do this? Can you provide links to some docs?

I'd allow running Dashboard UI on master, but don't force it. Is such thing even possible? Dashboard can run basically anywhere, so I wouldn't restrict it to only masters.

[2016-11-03 18:46] cheld commented on #1382
With a toleration. I have already tested it and it works exactly as you suggest. I will create a PR.

After the change Dashboard will be deployed on any node. (Most likely not master because many pods run on it after installation)

[2016-11-03 18:46] cheld commented on #1382
I will provide links with pr

[2016-11-03 18:49] colemickens commented on #1382
Why is this desirable? I definitely do not want this behavior for my dashboard deployments.

[2016-11-03 19:05] cheld commented on #1382
Could you explain?

[2016-11-03 19:07] bryk commented on #1382
If this turns out to be controversial, we could make it a commented-out configuration option in our YAML files.

[2016-11-03 19:19] colemickens commented on #1382
My master is marked unschedulable. I don't want things scheduled on it. I don't want any anything other than the master components running on it.

To be honest, my concern is that this is being done for single node clusters... but if the user has the master marked unscheduable then basically every single thing they try to deploy is going to fail to schedule anyway.

Either way, I can either remove

[2016-11-04 09:47] parisk commented on #1345
Hello everyone, while I have not much of personal experience with kubernetes:

1. we are experimenting with kubernetes in our company in various ways
2. I am one of the core maintainers of [xterm.js](https://github.com/sourcelair/xterm.js) which was proposed for usage at https://github.com/kubernetes/dashboard/issues/1345#issuecomment-254679978

I just want to point out that we would be really hap

[2016-11-04 16:02] aliakhtar opened #1393 "How to view logs of crashed pods?"
If a pod crashes and restarts, and I view its logs in the dashboard, they only show the logs after the restart.

Is it possible to view the logs from before the restart, i.e from the crash?

`kubectl logs -p` is how to view these logs from the command line

Clicking the previous / next buttons in the dashboard doesn't refresh the logs

[2016-11-04 16:35] bryk commented on #1345
@parisk That's cool. Can you provide us consulting and code reviews when integrating this? It'd help a lot :)

@IanLewis Do you need any help from the rest of the team to move this forward?

[2016-11-04 16:39] bryk commented on #1393
Sounds like a nice feature request. @aliakhtar should this be enabled by default or a toggle-able option? What's your workflow on this?

API reference: http://kubernetes.io/kubernetes/third_party/swagger-ui/#!/api%2Fv1/readNamespacedPodLog

[2016-11-04 17:03] aliakhtar commented on #1393
@bryk The use case is to share logs with my colleagues who aren't familiar with k8s. I'm on a team where everyone pushes their services in a docker image. If someone's service is failing, I share the link to view the logs of their pod with the person responsible, so they can debug.

Yesterday we had a problem where someone's pod was crashing as soon as it started, but because it wasn't possible to

[2016-11-04 17:35] bryk commented on #1262
All code is done here. The auto-push procedure has been working for a week now without problems. We now need to decide where to push the images.

Should it be `gcr.io/google_containers`? Or maybe `docker.io/kubernetes/foo`? Or `docker.io/kubernetes-dashboard/foo`?

I'm leaning towards `docker.io/kubernetes-dashboard/$foo-test` to make sure people don't treat this as an official release to use, but

[2016-11-04 17:47] bryk opened #1394 "Deployment max surge rendering issue"
@digitalfishpond Can you fix the issue here?

![image](https://cloud.githubusercontent.com/assets/1159999/20016301/14b62e46-a27c-11e6-8d80-f3172d229751.png)

[2016-11-04 17:57] colemickens commented on #1262
Doesn't matter to me as long as it's documented somewhere. Hosting it on docker and clearly labeling the image name as non-release-quality makes sense to me.

[2016-11-04 22:54] janetkuo opened #1395 "Rename PetSet to StatefulSet"
@bryk In k8s 1.5 we're renaming PetSet to StatefulSet. We should do the rename in dashboard too (both frontend and backend).

@kow3ns @foxish @erictune

[2016-11-04 23:04] bryk commented on #1395
Yes, we were aware of this.

[2016-11-05 03:22] IanLewis commented on #1345
I think I'm ok. I'm close to having a prototype working. I hit some snags
related to the dev environment and supporting websockets but it's mostly
resolved (It was just easier to use the existing dev environ rather than
setting up something else).

In terms of xterm.js I don't have much of a problem yet though having the
main directive in xterm.js' bower.json would help.

I hope to have a couple p

[2016-11-06 10:34] ntquyen commented on #1096
In my case, I must put the heapster port in the proxy URL, such as  `/api/v1/proxy/namespaces/kube-system/services/heapster:8082` to make it work. How can I make the dashboard work with heapster in this case?

Just a thought, I think hard-coded endpoints via service proxy or anything is easy to get things up without much configuration. But it should only be set as default, and there should be more

[2016-11-07 05:32] IanLewis commented on #1345
I thought I was close but the tooling just keeps getting in my way.

1. proxy-middleware doesn't support websockets so http-proxy-middleware has to be used instead. But that's mute because...
1. It looks like websockets + browsersync will just not work at all (https://github.com/chimurai/http-proxy-middleware/issues/15, https://github.com/BrowserSync/browser-sync/issues/780)
1. go-restful's Respon

[2016-11-07 09:48] #1394 closed

[2016-11-07 10:00] rf232 commented on #1345
I think this is the most important thing to see and get to work, since this is the actual usecase we want to support. The non :prod option is for developer experience, and while important the most important thing is that the code actually works on a 'real' installation :)

Basically what I said above, first make sure the feature will work, and focus on dev experience only when we have a working pr

[2016-11-07 11:09] #1223 closed

[2016-11-07 11:11] digitalfishpond commented on #1394
Sorry for being too late on this...

[2016-11-07 11:47] #1330 closed

[2016-11-07 12:46] cheld commented on #1382
Most users want Dashboard to be deployed. Setting up master first and validating that everything works before adding worker nodes is a possible workflow with kubeadm. So, considering the many problems I would rather make it simple, for the moment. Minimizing master for production would apply for dns too,  I assume.
Anyway, overall the problem is rather related to kubeadm documentation. I will crea

[2016-11-07 15:35] IanLewis commented on #1345
Yah, the problem is that :prod has it's own annoyances which make a quick and dirty prototype loose the quick part since I have to either hack up the gulp build scripts to disable to closure compiler or make it happy by defining all the interfaces I happen to implement.
It's not always obvious how to make it happy either. :-/

[2016-11-07 23:16] kow3ns commented on #1395
@bryk would you guys like some help on the refactor?

[2016-11-08 03:49] GavinSong123 commented on #974
How to change 'ja' on dashboard? Is there a config file?

[2016-11-08 05:34] cheld commented on #974
It is defined by the browser locale. Change the browser to Japanese

[2016-11-08 05:52] GavinSong123 commented on #974
@cheld ok, thx.

[2016-11-08 07:30] floreks commented on #1395
Of course, any help is appreciated. We want to be in sync with k8s releases so it would be great to release dashboard 1.5 at the same time with StatefulSets already.

Thanks for your help!

[2016-11-08 07:44] digitalfishpond commented on #1374
How about:

1) linking the namespace selector in the upload form to the one in the sidebar so that changes in one are reflected in the other so that if you upload to a different namespace, when the upload completes you'd find yourself in the namespace you uploaded to, addressing @YvanDaSilva 's point?

Or alternatively...

2) _instead_ of a second namespace selector, have a message on the upload f

[2016-11-08 08:13] ntquyen opened #1403 "[Question] Heapster endpoint config to work with Dashboard"
I'm running Heapster v1.2.0, Dashboard v1.4.x in kubernetes cluster v1.4.5. Heapster and Dashboard are running in `kube-system` namespace but Dashboard still cannot connect to Heapster. According to this issue https://github.com/kubernetes/dashboard/issues/1096, I must configure heapster to be accessible via service proxy `http://[api-server]/api/v1/proxy/namespaces/kube-system/services/heapster/`

[2016-11-08 08:25] floreks commented on #1403
Could you show me your yaml files used to deploy heapster and service? Do you have dns configured?

Here are mine (I can access heapster via `https://<master-ip>/api/v1/proxy/namespaces/kube-system/services/heapster/`):

[code]

[code]

[2016-11-08 09:29] digitalfishpond commented on #1217
Can this be closed now?

[2016-11-08 10:04] rf232 commented on #1395
I don't know to well exactly how go dependencies work, but I tried to do the refactor and I found out that our vendored libraries don't have the StatefulSet changes in kubernetes/kubernetes yet.

Also govendor doesn't tell me I can update those libs (we reference the kubernetes core source by looking at k8s.io/kubernetes)

Does that mean that we need to wait till this refactor is moved to k8s.io r

[2016-11-08 10:40] maciaszczykm commented on #1395
@rf232 Basically our version of core code is inside our repository, so we have to update it to get newest changes. New ~1.5 core alpha has them, so we can make our alpha by updating dependencies and performing changes in code (switching from `PetSets` to `StatefulSets`) in one pull request. If we would make it, then our next release should be tagged with 1.5 alpha too, because it will be incompati

[2016-11-08 12:07] digitalfishpond commented on #1374
Another option is to change the help message next to the form which currently says: "Select a YAML or JSON file, specifying the resources to deploy."

to a message that will change depending on the namespace selected:

if a specific namespace is selected, it would say: "Select a YAML or JSON file, specifying the resources to deploy to the current namespace or the namespace specified in your file."

[2016-11-08 12:12] digitalfishpond commented on #1374
... as well as the changes recommended by @YvanDaSilva in the description, of course.

[2016-11-08 15:21] rf232 commented on #1395
hmm, updating dependencies to the versions from github master is /far/ from trivial, so if someone can help me/do that I would be very grateful :)

[2016-11-08 16:25] YvanDaSilva commented on #1374
Linking the namespace selectors or messages is fine IMHO.
However how do you handle the case where the file enforces an environment that is not the one selected? Kubernetes API returns an error message if you try to create a resource on a specific namespace and the yaml content provides a different one.

[2016-11-08 16:39] erictune commented on #1395
@caesarxuchao or @mbohlool could one of you take a look at how Dashboard is vendoring its libraries and suggest any best practices?

It looks like the only client they import directly from their source is k8s.io/kubernetes/pkg/client/unversioned

[2016-11-08 17:10] floreks commented on #1395
Maybe we should switch to [client-go](https://github.com/kubernetes/client-go) and clean up our kubernetes deps? We're mostly using old client Interface that is no longer available in newer version of k8s and a bit of kubectl code I think.

I can take care of that. It will take some time to refactor everything though.

[2016-11-08 17:37] caesarxuchao commented on #1395
client/unversioned is already removed from the main repo. I'll also recommend using client-go. However, there will be some frictions migrating to client-go. If `dashboard` is looking for a quick solution, the easiest thing to do is vendor the [internalclient](https://github.com/kubernetes/kubernetes/tree/master/pkg/client/clientset_generated/internalclientset).

One potential blocker for adopting

[2016-11-09 01:39] ntquyen commented on #1403
@floreks. Thanks very much! Finally, I made it! I did so many things wrong in heapster service configuration. It turns out that heapster service must use ClusterIP...

[2016-11-09 01:39] #1403 closed

[2016-11-09 07:03] floreks commented on #1395
@caesarxuchao It helps a lot, thanks! I'll try with `client-go` first and if it's too much work then use `internalclient` for now and keep working on adapting our code to use `client-go`.

[2016-11-09 08:22] digitalfishpond commented on #1374
So the message _'Select a YAML or JSON file, specifying the resources to deploy to the current namespace or the namespace specified in your file.'_ implies that if the file mentions a namespace, that would take precedence over the current namespace selected in the UI.

But I think we would want to be as consistent with the Kubernetes API as possible?

Does everyone agree that a file that specifies

[2016-11-09 10:02] floreks commented on #1403
No problem, I'm glad it worked.

[2016-11-09 11:02] maciaszczykm commented on #1272
I'll fix that issue soon.

[2016-11-09 11:04] floreks commented on #1395
I do have one concern though. If we want to rename `PetSet` -> `StatefulSet` then we have to use `client-go@v2.0.0-alpha.0`. It is stable enough to use? How compatibility matrix looks like for this version?

@caesarxuchao @rf232

[2016-11-09 11:46] #1272 closed

[2016-11-09 11:49] maciaszczykm commented on #1306
Already done by @rf232:

![image](https://cloud.githubusercontent.com/assets/2823399/20137468/e40ea7d4-a67a-11e6-8fe9-181a3ffbb40e.png)

Do we need anything else at this stage? If yes, please comment/reopen.

[2016-11-09 11:49] #1306 closed

[2016-11-09 11:51] maciaszczykm commented on #1306
#1344

[2016-11-09 12:16] maciaszczykm commented on #1181
Another potential issue here is, that proxy might not allow enter all of the services. Number of them can be filtered or inaccessible through proxy. We'll have to investigate it deeper to find out if it's possible to implement.

[2016-11-09 12:27] rf232 commented on #1306
oops, forgot to close this issue, thanks @maciaszczykm

[2016-11-09 12:36] jimmycuadra commented on #964
The flow I'd like to see for authentication is that each user just runs `kubectl proxy` on their local machine and browses to http://127.0.0.1:8001/ui, with the dashboard adjusting its display to whatever the authenticated user is allowed to access according to RBAC roles and bindings. This way the normal apiserver authentication is used and the dashboard doesn't need its own login mechanism.

[2016-11-09 13:11] maciaszczykm commented on #1353
Do we prefer having all conditions in one column and display only conditions with `True` status or just column per condition?

I like second solution more, because users can see everything, not only things, that are okay. We can use icons instead of `True` and `False`.

[2016-11-09 13:49] YvanDaSilva commented on #1374
@digitalfishpond "All namespaces" or the correct namespace provided through the yaml.
Yes that would make sense and is what the k8s API actually does.

kubectl client error message :

[2016-11-09 17:36] erictune commented on #964
I share Jimmy's view.

On Nov 9, 2016 4:36 AM, "Jimmy Cuadra" <notifications@github.com> wrote:

[2016-11-09 17:53] mlbiam commented on #964
1.  How do you audit that?
2.  How do you perform authorization?
3.  How do you access it from something that isn't a laptop?

On Nov 9, 2016 9:36 AM, "Eric Tune" <notifications@github.com> wrote:

[2016-11-09 18:46] erictune commented on #964
1. Audit: when the dashboard calls to the apiserver on your behalf to CRUD
resources, it should impersonate you, thus creating an audit log on the
apiserver of your actions.
2. Authorization: when the dashboard calls to the apiserver on your behalf
to CRUD resources, it should impersonate you, thus creating an audit log on
the apiserver of your actions.     The dashboard is just a sort of proxy,
i

[2016-11-10 03:34] workhardcc commented on #1116
I still can not make it.
`apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    insecure-skip-tls-verify: true
contexts:
- context:
    cluster: local
    user: vpsadmin
users:
- name: vpsadmin
  user:
    token: 123456789`

`kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  labels:
    app: kubernetes-dashboard
  name: kubernetes-dashboard
  namespace: kube-system
spec:
  r

[2016-11-10 07:42] colemickens commented on #1181
"filtered" or "inaccessible" ?

The only thing I can think of is cases where the user running `kubectl proxy` has limited RBAC roles.

(This brings up the point  that the dashboard is basically bypassing RBAC in many cases).

[2016-11-10 07:43] maciaszczykm opened #1407 "Too many translation entries are generated"
Fix issue spotted in https://github.com/kubernetes/dashboard/pull/1406#discussion_r87217550.

[2016-11-10 07:48] maciaszczykm commented on #1181
@colemickens In case of `kubectl proxy --api-prefix=/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard` usage, only `http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard` should be served.

[2016-11-10 07:50] colemickens commented on #1181
Oh thanks for explaining, I didn't know that!

[2016-11-10 07:52] maciaszczykm commented on #1181
No problem. It's not so clearly described in `kubectl proxy --help`...

[2016-11-10 07:57] maciaszczykm commented on #1116
@workhardcc Is API accessible at https://172.16.88.1:443?

[2016-11-10 07:59] cheld commented on #1116
can you please check my latest trouble shooting guide:

https://github.com/kubernetes/dashboard/pull/1404

[2016-11-10 11:47] workhardcc commented on #1116
@cheld
Read your trouble shooting guide, I have two question:
1.If my API authentication by token, how can I  `translate into` username and password, my token file as below,
[code]
all of my node use this file to connected "kube-master" .
2. I never used command `kubectl proxy` before, seems need run it when I want access the dashboard page?

[2016-11-10 11:48] workhardcc commented on #1116
@maciaszczykm yes

[2016-11-10 13:08] cheld commented on #1116
@workhardcc hmm...not sure if I understand your questions correctly.

1. You must add user and password to a config file and configure api server to use it. I think a restart is required.

2. Browsers do not authenticate with tokens. So yes. kubectl will authenticate with token and create a local proxy webserver that does not require authentication.

If you find issues in the documentation you are

[2016-11-10 14:03] luohoufu commented on #1283
i also get the error.
[kube-error.txt](https://github.com/kubernetes/dashboard/files/583519/kube-error.txt)

[2016-11-10 14:03] maciaszczykm commented on #1353
In multiple:

[code]

[2016-11-10 18:15] caesarxuchao commented on #1395
Don't use v2.0.0-alpha.0. It still has apps/v1alpha1, which had graduated to v1beta1 in master.

Client code for apps/v1beta1 will be published  to client-go today, I can cut v2.0.0-alpha.1 after that. This version will be quite stable.

[2016-11-10 19:14] floreks commented on #1395
I've used `internalclient` for now because we are also using some utility functions from `cmdutil` and `deploymentutil`. Fetching these dependencies downloads most of k8s core repo anyway so we can stick with that for now and wait for better compatibility with `client-go`.

[2016-11-10 19:36] caesarxuchao commented on #1395
Sounds good. FYI, the signature of those utility functions will be changed soon (https://github.com/kubernetes/kubernetes/issues/35159#issuecomment-257371845), so you might have to go through the refactor once more.

[2016-11-10 20:33] rf232 commented on #1389
hmm, technically a RS/RC/Deployment can have more than 1 HPA linked to it, so I think we do need to do something more like a normal resource instead of just as a property

[2016-11-11 02:34] workhardcc commented on #1116
@cheld As we know, there're three ways to authentication kube-api.
1.CA
2.TOKEN
3.user and password
So  you mean that I must use the third way (I'm using the second way now)?

[2016-11-11 03:49] workhardcc commented on #1116
dashboard create file as below:
[code]
authentication file( node use this file registered to master successfully):
[code]

[2016-11-11 04:52] peterdeka opened #1412 "Panic on startup CreateApiserverClient"
#### Issue details
When the dashboard pod starts it immediately dies with a runtime panic.

##### Environment
[code]

##### Steps to reproduce

1.  Launch the dashboard with `kubectl create -f https://rawgit.com/kubernetes/dashboard/master/src/deploy/kubernetes-dashboard.yaml`
2. Open the container logs

##### Observed result

- `kubectl describe pods` returns an infinite loop of _Created containe

[2016-11-11 08:41] workhardcc commented on #1116
I think the point is how you write the "kubeconfigfile", is there anything wrong with my kubeconfigfile?
Can we reopen this issue?

[2016-11-11 13:13] parisk commented on #1345
@bryk definitely. Let me know when the PR is open or just mention me in this issue to jump into the discussion.

@IanLewis if anything breaks with compiling xterm.js with closure compiler, please [open an upstream issue](https://github.com:sourcelair/xterm.js/issues/new). We are happy to help.

[2016-11-11 13:37] cheld commented on #1116
You have to authenticate twice:

browser/cli ----> apiserver <----- dashboard

It seems the user authentication works, I assume. If you access `https://master-ip` then a login dialog should pop-up. When you authenticate correctly you should see server response

When accessing apiserver with browser you have the following options

1. token  => you must use kubectl proxy
2. certificate => you must u

[2016-11-11 14:09] cheld commented on #1283
@huangjiasingle Dashboard has nothing to do with elasticsearch. Maybe your service account is invalid. Please remove it, it should be recreated automatically

[2016-11-11 16:30] nick commented on #1412
I had the same issue and with 1.4.1 too. 1.4.0 seems to work, though:

    kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v1.4.0/src/deploy/kubernetes-dashboard.yaml

[2016-11-12 01:05] luohoufu commented on #1287
i my centos host,i mount /etc/pki ,but i get another error **the server has asked for the client to provide credentials**. how to set client cert & cert-key file to dashboad.
        volumeMounts:
        - name: "etcpki"
          mountPath: "/etc/pki"
          readOnly: true
        - name: "config"
          mountPath: "/etc/kubernetes"
          readOnly: true
        livenessProbe:

[2016-11-12 01:06] luohoufu commented on #1287
i will try v1.4.2.

[2016-11-12 02:39] luohoufu commented on #1412
when i use kubeconfig , i get the issue like.

[2016-11-12 02:43] luohoufu commented on #1283
@cheld i check service account ok with https://github.com/kubernetes/dashboard/blob/master/docs/user-guide/troubleshooting.md

[root@k8s-master ~]# ﻿TOKEN_VALUE=$(kubectl exec test-701078429-wx47q -- cat /var/run/secrets/kubernetes.io/serviceaccount/token)
[root@k8s-master ~]# kubectl exec test-701078429-wx47q -- curl --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt -H  "Authorization

[2016-11-12 03:31] luohoufu commented on #1287
i find the reason at last。i will write doc on my wiki https://luohoufu.github.io/

[2016-11-12 05:26] workhardcc commented on #1116
Thanks all of you guys. It's worked!
There are three points I think maybe we should improve:
1.I change the image from kubernetes-dashboard-amd64:v1.4.1 to kubernetes-dashboard-amd64:v1.4.0, use config file as above. Then it worked !
So maybe is there anything "wrong" with new version?
2.In kube-dashboard readme.md

When I read this I thought only we use basic authtication for kube-apiserver that

[2016-11-12 18:20] cheld commented on #1116
Yes, sorry something is wrong with latest version. We can fix on Monday
If you use NodePort than you have no authentication. (You could use firewall settings). Therefore, the recomended access method is to use apiserver proxy (https://apiserver-ip/ui). It is not different to any other service. If kubectl get nodes works than you can use kubectl proxy for authentication. And no - it is not a compli

[2016-11-13 12:04] koyeung commented on #692
Try to access via the NodePort and it is ok for v1.4.4

[code]

browse from another host to url: `http://k8s-master.local:32619`

[2016-11-14 02:27] workhardcc commented on #1116
@cheld all of our browser client is windows, it means that I can only use node_ip:port to access it?

[2016-11-14 07:15] cheld commented on #1412
@floreks can you have a look

[2016-11-14 07:41] cheld commented on #1116
Sorry, I am confused. Do the following:

[code]

Open browser with url `http://localhost:8001/ui`

[2016-11-14 07:51] floreks commented on #1412
Yes, I'll investigate this issue.

[2016-11-14 08:01] workhardcc commented on #1116
Sorry, I'm misunderstanding.
`kubectl proxy` open port 8001 at 127.0.0.1, so we can only open browser with url http://localhost:8001/ui on kube master? However, my master linux is text mode...
Of course I can use a nginx to proxy 127.0.0.1:8001 to 0.0.0.0:$port, but it isn't safe, isn't it ?

[2016-11-14 08:23] cheld commented on #1116
Maybe I understand the problem, now....

I expected that you use kubectl on your workstation/laptop. It seems that that you are using Windows on your workstation and kubectl is not available for windows. (Not sure if this is a common use case, because Docker is not available on Windows anyway. So, how do you build containers?)

So, in this case I would recommend either:
1. Nodeport with some extra

[2016-11-14 09:15] digitalfishpond opened #1416 "i18n updates break graphs"
Current implementation of the i18n framework breaks the graphs throughout the application

kd-graph-card attribute graph-title needs to be escaped with an additional single speech mark character

[2016-11-14 09:15] digitalfishpond commented on #1416
Working on this now.

[2016-11-14 09:24] workhardcc commented on #1116
The truth is: my master in a independent linux matchine(text mode), now I am want to accese to the dashboard in my laptop(win7). So I naturally think of I can use url https://$master_ip:port.
But the `kubectl proxy` only open port 8001 on 127.0.0.1.
I understand your two advises, so kind of you !
Now I think we can close this issue.Thank you so much!

[2016-11-14 11:13] #1412 closed

[2016-11-14 11:15] bryk commented on #1416
Ouch, that's bad. Thanks for working on the fix!

[2016-11-14 12:10] bryk commented on #1217
Yes, I think so.

[2016-11-14 12:10] #1217 closed

[2016-11-14 12:30] bryk commented on #1096
Dashboard UI container has --heapster-host parameter, you can point it to, e.g., `http://kubernetes.default/api/v1/proxy/namespaces/kube-system/services/heapster:8082`. It should work.

[2016-11-14 12:33] bryk commented on #1374
@digitalfishpond I like your proposals here. I'd go with adjusting the text message based on the namespace selected and then aligning with `kubectl`, meaning that you have to select namespace `foo` to upload to it, if specified in the YAML file.

[2016-11-14 13:10] #1416 closed

[2016-11-14 14:29] cheld commented on #1283
@luohoufu

In the log, dashboard tries to connect to https://10.37.116.31:6443, while in the upper test you connect to https://172.16.0.1

What is the output of:
[code]

[2016-11-14 20:58] TerraTech opened #1422 "Persistent Volumes list is limited to max 10 items"
#### Issue details
We have 29 PVs, however the dashboard will only list the first 10 (regardless of pagination).

##### Environment
[code]
This issue also occurred with: v1.4.0

##### Steps to reproduce
Have more than 10 PVs and load the list.

##### Expected result

List all defined PVs while respecting the pagination settings.

As an aside, the dashboard is correctly showing all 11 Persistent Vo

[2016-11-15 04:56] waynebrantley commented on #692
@ensalty It seems most responses want you to access the dashboard from the same machine that is the proxy.  You want to access it from outside.  There are two solutions.

- describe the services for the dashboard and find the NodePort.
  In the prior post - that would be 32619.   Now, use the ipaddress/dns of your master node and port you just found.  So that might be 192.168.1.50:32619 or http://

[2016-11-15 08:29] ianlewis opened #1423 "Usage metrics"
The purpose of this issue is to discuss the feasabity of collecting some kind of usage metrics for the dashboard UI.

Brought up originally here: https://github.com/kubernetes/dashboard/issues/1354#issuecomment-255637633

[2016-11-15 09:35] #1114 closed

[2016-11-15 09:50] bryk commented on #1422
That's a serious problem. Thanks for reporting it. I'll investigate.

[2016-11-15 10:52] bryk commented on #1423
I'd really love to have this!

I remember having these discussion in the team and the consensus was that this is a hard technical problem in the environment we have. I.e., it is hard to collect metrics directly from the browser if users are running this in a non-Internet env. The same for collecting from the backend: if users run this in an isolated cluster, metrics would not get transmitted.

If

[2016-11-15 12:23] #1422 closed

[2016-11-15 13:20] bryk commented on #1422
Fix will be available in next release.

[2016-11-15 20:47] TerraTech commented on #1422
@bryk Thank you!

[2016-11-16 01:34] romlein commented on #1248
@digitalfishpond alright, met with some of the GCP UX team at KubeCon and discussed this issue, and I think we've got a good path forward. We decided that since it sounds like use cases for showing a Pod's detailed info are diverse / not well understood, the best approach is to start with a very simple information architecture and iterate on that once it's live and we have some feedback to work wi

[2016-11-16 07:03] moshe0076 opened #1426 "Failed to start Dashboard container"
#### Issue details
Container failed to start with error:
Using HTTP port: 9090
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x168 pc=0x4ecf12]

goroutine 1 [running]:
panic(0x15316a0, 0xc420014020)
	/usr/lib/google-golang/src/runtime/panic.go:507 +0x1b3
github.com/kubernetes/dashboard/src/app/backend/client.CreateApis

[2016-11-16 08:05] floreks commented on #1426
Should be fixed already in #1412. Try to delete downloaded image and pull latest one from DH [kubernetesdashboarddev](https://hub.docker.com/r/kubernetesdashboarddev/kubernetes-dashboard-amd64/tags/).

[2016-11-16 08:52] #1116 closed

[2016-11-16 13:06] moshe0076 commented on #1426
Hi,

Now I have a different problem:
 docker logs d11fd77c8a6b
Using HTTP port: 9090
Using apiserver-host location: http://127.0.0.1:8080
Creating API server client for http://127.0.0.1:8080
Error while initializing connection to Kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service accounts configuration) or the --ap

[2016-11-16 17:46] roadmapper opened #1429 "Dashboard fails to delete a job"
#### Issue details
When deleting a job in the dashboard, the delete does not complete and returns with an error from the API server: `api.DeleteOptions is not suitable for converting to "batch/v1"`
![k8s_job_delete_failed](https://cloud.githubusercontent.com/assets/1834410/20358725/e26d4e00-abfa-11e6-9594-9cf4261fdf4a.png)

##### Environment
[code]

##### Steps to reproduce
1. Create a job
2. Atte

[2016-11-16 20:33] rf232 commented on #1429
Thanks for your attention to detail.

We are aware of this issue, and are talking with core how to fix this.

kubernetes/kubernetes#36806

[2016-11-17 00:26] IanLewis opened #1431 "Errors for large numbers of objects"
I've seen reports of the dashboard throwing errors and otherwise not working for large numbers of objects.

Anecdotally, I have seen reports for large numbers of pods and large numbers of events. It may behove us to test with large numbers of objects and see which are problematic and start creating issues and fixing them.

[2016-11-17 00:31] mlamina commented on #964
Hi,
I haven't contributed to the project so far, but I think it would be great to have UI components for access control management. I would love to spend some time working on this feature. I've already read the "getting started" part for developers, but it would be great if you guys could give me some guidance on where to start :)

[2016-11-17 07:23] bryk opened #1432 "Add documentation tooltip to metric graphs"
Frequently I hear users complaining that the metric values we display are incorrect. But in fact, they didn't know what the value was. This is obviously our fault, because we do not explain the problem.

How about we add, e.g., a documentation bubble explaining what the metrics there are?

Example problem: https://github.com/kubernetes/heapster/issues/1356

[2016-11-17 13:11] maciaszczykm opened #1433 "Doubled headers in admin and config views"
![image](https://cloud.githubusercontent.com/assets/2823399/20390533/aa67fbe2-accf-11e6-89fb-dd74b197ddce.png)

![image](https://cloud.githubusercontent.com/assets/2823399/20390540/b10b7186-accf-11e6-9eec-8005549fc654.png)

Bug occurs in latest HEAD image.

[2016-11-17 13:26] bryk commented on #1431
Any specific stacktrace or something to debug? The UI should work fine.

[2016-11-17 13:34] bryk commented on #964
That's a great thing to hear! If you're unsure yet where you'd like to contribute, it is best to meet with the team and we'll introduce you and help get started :) If you already have a specific task in mind, crate or claim an issue for it.

Join us on slack to chat on this: https://kubernetes.slack.com/messages/sig-ui/details/

[2016-11-17 13:38] bryk commented on #1433
Are you working on this? I can help if needed.

[2016-11-17 13:40] maciaszczykm commented on #1433
I'm fixing it right now.

[2016-11-17 13:55] bryk opened #1436 "Headers for empty resource lists are missing"
As in the screenshot. That's my fault, I'll fix this soon:

![selection_144](https://cloud.githubusercontent.com/assets/1159999/20391915/d5698f94-acd5-11e6-9f4f-40cf8e12ab93.png)

[2016-11-17 13:59] maciaszczykm commented on #1436
@bryk #1435 fixes issue on list pages, I suppose details pages have to be updated too.

[2016-11-17 13:59] #1395 closed

[2016-11-17 15:27] floreks commented on #1429
We could apply same fix for our deps as this is critical issue. It always takes much time to merge something into the core.

[2016-11-17 15:53] #1433 closed

[2016-11-17 15:58] maciaszczykm opened #1438 "Unstable CI"
I think we should do something about CI flakes. They occur mainly due to integration tests.

[2016-11-17 17:17] rf232 commented on #1431
somewhat similar, on my test cluster with a deployed 1.4.0 dashboard and 10k pods the dashboard container crashes every time I request a page. Haven't looked too much more into it though

[2016-11-17 19:50] mlamina opened #1441 "UI for managing RBAC-related resources"
Following #964, I would like to draft a feature that would allow users to manage [Roles, RolesBindings, ClusterRoles, and ClusterRoleBindings](http://kubernetes.io/docs/admin/authorization/) in the dashboard.

**Issue Goal**
Develop use cases, UI workflows and wireframes for managing RBAC resources.

**Mockups**
There are clickable mockups in [InVision](https://invis.io/AF9E3F55W#/206606225_RBAC__

[2016-11-17 19:55] rf232 commented on #1441
cc @romlein

[2016-11-17 19:59] rf232 commented on #1441
Great! Also I love that this explicitly is about managing the RBAC resources and *not* about the dashboard using and handling RBAC related like issue #964 describes. Please keep it that way!

[2016-11-17 20:05] mlamina commented on #1441
I agree. Deep integration of AuthN and AuthZ into the dashboard should be a separate topic.

[2016-11-17 21:20] IanLewis commented on #1431
@bryk I haven't tested it myself but I heard it a few times ( once on slack and a few times at KubeCon) so I thought it worth investigating.

What @rf232 said is exactly what I'm talking about but we need more info.

[2016-11-18 01:14] mlamina commented on #1441
Two quick ideas for a simple UI...

"Landing page" showing a list of existing roles. If namespace is set to "*", the role is a ClusterRole:

![list of roles](https://cloud.githubusercontent.com/assets/474314/20413893/4490f2b4-ace4-11e6-888f-169c6eeb736c.png)

------------------
Clicking on one of the list items would lead to a detail view for a role:

![role details](https://cloud.githubuserconten

[2016-11-18 08:35] bryk commented on #1432
Update: there's more people complaining that graphs on node views include cache, which is super misleading.

[2016-11-18 09:35] #908 closed

[2016-11-18 09:38] rf232 opened #1444 "Conditions on detail pages"
from #1353, just the conditions on detail pages

[2016-11-18 09:41] maciaszczykm commented on #1444
Already done for nodes, could be extracted to a component and reused.

[2016-11-18 09:46] #1010 closed

[2016-11-18 09:49] rf232 commented on #789
duplicate of #816

[2016-11-18 09:49] #789 closed

[2016-11-18 09:50] rf232 commented on #651
duplicate of: #961

[2016-11-18 09:50] #651 closed

[2016-11-18 09:53] rf232 opened #1445 "Japanese translations for 1.5"
We should have all our messages translated to Japanese for 1.5

[2016-11-18 09:54] rf232 opened #1446 "Update docu for 1.5"

[2016-11-18 09:56] rf232 commented on #1438
Agreed, this is really hampering our speed of development/merging

[2016-11-18 09:58] #1291 closed

[2016-11-18 10:02] #1354 closed

[2016-11-18 10:04] maciaszczykm commented on #1291
You can use HEAD release soon to test it: https://github.com/kubernetes/dashboard/blob/master/docs/devel/head-releases.md

Otherwise, just wait for next release.

[2016-11-18 10:16] maciaszczykm commented on #1444
I'll do it.

[2016-11-18 10:32] rf232 commented on #1431
I can reproduce on my env, will take a look what really happens

[2016-11-18 10:36] rf232 commented on #1262
we currently push head images, see instructions here: https://github.com/kubernetes/dashboard/blob/master/docs/devel/head-releases.md

[2016-11-18 10:36] #1262 closed

[2016-11-18 10:41] bryk opened #1447 "Verify that the UI works on safari, firefox and IE"
A process to verify this for 1.5. @rf232 can you add this to the project?

[2016-11-18 11:07] rf232 commented on #1447
Related to #794, close that one if the UI works on IE.

[2016-11-18 11:38] rf232 commented on #550
Closing this, all of the effort is in #1345

[2016-11-18 11:38] #550 closed

[2016-11-18 11:43] bryk commented on #1431
Interesting. Please reply here what was/is wrong

[2016-11-18 13:42] #1436 closed

[2016-11-18 14:26] #1444 closed

[2016-11-18 16:00] bryk opened #1451 "Unify card headers across the UI"
Some cards have such headers:

![image](https://cloud.githubusercontent.com/assets/1159999/20436397/6e318f80-adb0-11e6-96b9-bacdd002dde1.png)

Some such:

![image](https://cloud.githubusercontent.com/assets/1159999/20436418/82fb1f76-adb0-11e6-8af8-f32599897d03.png)

Should we unify this? Is this for 1.5? @maciaszczykm @rf232

[2016-11-18 16:31] bryk commented on #1441
Yes, this should be somewhere under admin section. This is the place for global objects.

Can you explain the difference of what belongs to a namespace and what not? This is especially important in the context of where to put the UI for it, as, historically, we have separation for namespaced and non-namespaced objects in the menu. We can, of course, break the tradition here if needed.

Thanks a lo

[2016-11-18 17:49] mlamina commented on #1441
So as far as I understand, there are **Roles** and **ClusterRoles**, both of which do the same thing: They define a set of permissions, so _what_ can be done to _which resource(s)_. The only difference is that a **Role** is restricted to a particular namespace, whereas a **ClusterRole** will apply to all namespaces when bound. [The docs](http://kubernetes.io/docs/admin/authorization/) contain some

[2016-11-18 18:03] maciaszczykm commented on #1451
Yeah, I think that's not good. I like second version more. Should be quite easy to do, so 1.5 is realistic target.

[2016-11-18 18:37] shamil commented on #1345
I've used weave-scope console feature. With the kubernetes integration enabled, works really great. I can select pods and open terminal for its containers. Scope can automatically detect installed shell.
The terminal opens as modal popup. The reason I stopped using it is that it does more than just console to containers. I never needed those all features it has. So having console feature integrate

[2016-11-18 21:35] rf232 commented on #1431
I did a short investigation, and the container crashes with a OOM (Out Of Memory) crash

2016-11-18T21:29:35.151956377Z container **oom** bfb8c28f5b70273f475a397bd8be3408f9dc256f33fbe3165940ba187b7a1253 (image=eu.gcr.io/google_containers/kubernetes-dashboard-amd64:v1.4.0, io.kubernetes.container.hash=bcabcc47, io.kubernetes.container.name=kubernetes-dashboard, io.kubernetes.container.ports=[{"cont

[2016-11-18 22:28] rf232 commented on #1431
okey, apparently I had some limits set on my pod, after setting the limits a bit higher I found out that for 10k pods the dashboard needs ~200MB of memory

[2016-11-18 22:55] IanLewis commented on #1431
When meeting with some folks yesterday they said they had problems even with 1000 pods. There are probably a number of issues related to memory, API timeouts, etc. for various API objects. I would leave this issue as pretty generic and solve each specific issue separately as we find them.

[2016-11-19 09:25] floreks commented on #1431
We're not enforcing any CPU/Memory limits on dashboard by default. It has to be applied externally either by adjusting yaml or creating `LimitRange`. We should add some comment in documentation saying that for high number of resources in the cluster memory limits should be extended (if there are any applied). 200Mi - 2Gi should be enough.

[2016-11-21 02:51] IanLewis commented on #1345
It's not much but I created a PR for the simple prototype I'm working on -> #1455

It's still only an echo server that echos what you type back to the terminal on the frontend but I plan to get the backend part working soon. Currently struggling with how to create a remotecommand client since it seems to be different from the normal API client.

[2016-11-21 07:26] bryk commented on #1441
Yes, I like this reasoning. Admin section would then be only for admin things.

Once you get all input needed, can you write a design doc with proposal to this feature? The PR can be similar in layout to this one: https://github.com/kubernetes/dashboard/pull/589

[2016-11-21 07:33] bryk commented on #1431
Can you get us a stacktrace or screenshot of some form? Or guide the folks to report bugs here? I'd help a lot.

[2016-11-21 07:35] bryk opened #1456 "Add "send feedback/report bug" button to the UI"
While reading https://github.com/kubernetes/dashboard/issues/1431 I realized that our users do not have easy way of reporting bugs and sending feedback when seeing an error.

We could add a button to error pages that'd report a bug on github with the stacktrace user saw. Or we could just add a generic "send feedback" button somewhere.

[2016-11-21 07:54] IanLewis commented on #1456
This is a great idea.

[2016-11-21 07:54] IanLewis commented on #1431
I instructed them to create a bug but they were just evaluating Kubernetes. They may or may not post an issue.

I'll see if I can repro the issue at some point.

This issue about paging in the API may be worth following:
https://github.com/kubernetes/kubernetes/issues/2349

[2016-11-21 08:36] IanLewis opened #1457 "Migrate to client-go"
It may take a while but since the dashboard is essentially just a client application using the Kubernetes API, it would be good to migrate to the official Go client at some point.

Is this even feasible?

[2016-11-21 08:51] bryk commented on #1457
Yes, this should be doable. When we started the UI project there was no client-go project yet. That wa sthe reason.

[2016-11-21 08:59] floreks commented on #1457
We've discussed that already in #1395. Unfortunately at this point `client-go` can not be used by dashboard. We are using some utility functions available only in the core for now. Additionally there is a problem with object types that requires very much work to resolve. I have started to work on that and even have a branch but we have to wait until these issues are resolved.

[2016-11-21 09:23] maciaszczykm commented on #1456
It's nice feature to work on. New issues can be created at:
https://github.com/kubernetes/dashboard/issues/new.

Considering, that issues have following API:
https://developer.github.com/v3/issues/#create-an-issue

We can link to page with initially filled bug report:
https://github.com/kubernetes/dashboard/issues/new?title=bug_report&body=error_message

I'll try to add it to error pages.

[2016-11-21 09:59] bryk commented on #1457
Do you remember what functions are those?

[2016-11-21 10:28] floreks commented on #1457
`k8s.io/kubernetes/pkg/controller/deployment/util`, `k8s.io/kubernetes/pkg/kubectl/cmd/util` and probably `k8s.io/kubernetes/pkg/kubectl/resource`.

There might be something else though.

[2016-11-21 12:36] bryk opened #1460 "Use richer material design icons library"
Currently we use the official material design icon library: https://material.io/icons/. It is, however, very limited in the number of icons there. We should evaluate other libraries, such as https://materialdesignicons.com, which have much more icons.

cc @batikanu

[2016-11-21 13:07] #1389 closed

[2016-11-21 13:23] bryk commented on #1265
I confirm that this issue is still there. Working on it...

[2016-11-21 21:05] danielromlein commented on #1441
@mlamina that InVision link isn't working for me for some reason. If you just copied the URL, try instead clicking the _Share_ link.

[2016-11-21 22:34] mlamina commented on #1441
Here you go: https://invis.io/AF9E3F55W#/206606225_RBAC__List_Of_Roles
Let me know if that works, then I'll update the link in the issue description

[2016-11-21 23:32] danielromlein commented on #1441
Sweet! Thanks @mlamina 👍

[2016-11-22 01:13] mlamina commented on #1441
@bryk Please check out the PR and let me know if this is what you had in mind!

[2016-11-22 05:13] IanLewis commented on #1457
A cursory look also leads me to believe that it currently doesn't support exec/attach API which is required for #1345

[2016-11-22 05:24] IanLewis opened #1464 "Translation guide for translators"
We only have English :us: and Japanese :jp: translations. We should have a guide explaining how to provide new translations for the UI geared towards translators.

[2016-11-22 05:26] IanLewis commented on #1464
We use a kind of XML format for translations. I wonder if there is a way we could use standard gettext files so we could make use of translation platforms like [Transifex](https://www.transifex.com/).

[2016-11-22 05:41] IanLewis commented on #1445
@Yamagami-Takuma

[2016-11-22 05:49] Yamagami-Takuma commented on #1445
OK. I'll do this.

[2016-11-22 08:32] bryk commented on #1464
The XML we use is also supposed to be standard-ish. So either we can use it or transform to gettext. Should be doable.

Re translating it to other languages: we'd need budget for it, so that's going to complicate things. But overall, I love the idea.

[2016-11-22 08:33] IanLewis commented on #1464
I was thinking more about trying to enable more open-source translation contributions by creating a guide rather than hiring vendors to do more translations.

[2016-11-22 09:05] IanLewis commented on #1349
My thought is that we should check the pod's status.conditions to see if it's Ready to see if we show an error icon or not.

Status Pending = Grey icon
Status Running, Not Ready = Red icon
Status Running, Ready = Green icon

This will show it as in an error state if it is failing a readinessProbe but maybe that actually what we want?

[2016-11-22 11:50] floreks commented on #1349
I'm working on that actually. Almost finished. I've added support for events on pod list so error icon will be shown when there is an error event or pod is in failed state.

[2016-11-22 13:30] bryk commented on #1248
We did an object mapping exercise with @rf232 @olekzabl @mijajasinski as explained here: https://www.youtube.com/watch?v=iLwJOh_98uw. We'll process the results and share tomorrow. Hope this will help in this point.

[2016-11-22 13:38] IanLewis commented on #1349
Ok. I was starting work on this but I'll defer to you then. I'd like to review it so let me know when it's finished :)

[2016-11-22 13:50] floreks commented on #1349
You can check this out now :) #1467

[2016-11-22 13:58] cheld commented on #1446
CC @gertipoppel

When is the planned release date of Kubernetes?

[2016-11-22 14:19] bryk commented on #1446
Docs are due by end of the week or Monday

https://github.com/kubernetes/features/blob/master/release-1.5/release-1.5.md

[2016-11-22 14:42] danielromlein opened #1468 "Namespace dropdown underscore jumps when clicked"
##### Steps to reproduce

- Click the namespace dropdown. The underscore briefly changes from a 1px to a 2px line and gets closer to the namespace name.
![default-underscore](https://cloud.githubusercontent.com/assets/5114858/20527880/05d97868-b098-11e6-85a6-63d26367cc85.png)

- Underscore should stay 1px and consistent distance away from the Namespace name at all times.

[2016-11-22 14:45] danielromlein commented on #1268
@bryk where do we stand with these remaining changes? It'd be nice to wrap these up.
Still to be done:
- [ ] Rename CPU & Memory graphs
- [ ] Start breadcrumb with overview page (e.g. Workloads > Pods)
- [ ] Fix padding issue where some action buttons have insufficient right padding ("Create" is too tight; "Edit" is correct)
- [ ] Selected Namespace shouldn’t be blue _and_ have gray background.

[2016-11-22 14:51] cheld commented on #1446
Ok, then Gerti cannot help as she is very busy this week.

[2016-11-22 16:30] #1468 closed

[2016-11-22 17:45] danielromlein commented on #1441
@mlamina I think those wireframes are a great start. A product requirement doc like @bryk mentioned would help me as a designer figure out the best approaches for things (e.g. how many roles might there be in a cluster?).
Since one of the goals of this issue was creating use cases, what more input do you need to go into detail with those?

[2016-11-22 18:09] mlamina commented on #1441
@danielromlein check out #1463 . It's only a template by now, but I'm working on it. The good thing is that there aren't too many use cases, so the whole thing will hopefully not become too big :)

[2016-11-23 01:13] mrwacky42 opened #1470 "Dashboard should present standardised dates (or make it an option)"
#### Issue details

I really would like to see ISO8601 dates in the dashboard.

##### Environment

[code]

##### Steps to reproduce
Install v1.4.0, navigate anywhere in the UI, observe date formats

##### Observed result
23/11/16 HH:MM

##### Expected result
2016-11-23 HH:MM

##### Comments
If someone points me in the right direction and agrees that ISO8601 is the one true way <TM> I'm happy to tr

[2016-11-23 09:12] bryk commented on #1268
This is done already.

I'll take care of this.

[2016-11-23 09:42] maciaszczykm commented on #1353
Closed #1444 as we agreed for a different solution discussed there.

**tl;dr** Conditions should be surfaced as an status icon in list views.

[2016-11-23 11:21] #1451 closed

[2016-11-23 11:24] maciaszczykm opened #1472 "Change 'Ingress' to 'Ingresses' in the menu"
We are using plural form for all resources.

[2016-11-23 11:52] maciaszczykm opened #1473 "Scrollbar is always visible"
It shouldn't look like this.

![image](https://cloud.githubusercontent.com/assets/2823399/20560826/956b50e4-b17b-11e6-90f9-dd65ea963d75.png)

[2016-11-23 11:55] maciaszczykm commented on #1473
Doesn't occur in all views.

[2016-11-23 13:35] bryk commented on #1472
Yes, definitely. We should have done this long time ago.

[2016-11-23 14:23] bryk commented on #1248
So we're finally getting back. We did the object mapping exercise yesterday with the eng team. It happened to be harder than anticipated. During 4 hours session we listed all objects we have in the UI and analyzed three of them.

Here's the spreadsheet we've created: https://docs.google.com/spreadsheets/d/1KIFKt95Y3nDEhl3li-L7n5zY6jiHGT3GOPB9-SPCgpo/edit#gid=0

Thoughts:
1. Pod has 10 pieces of co

[2016-11-23 14:48] bryk commented on #1473
How can I reproduce this? Just open namespace view?

[2016-11-23 14:55] #1472 closed

[2016-11-23 15:17] IanLewis commented on #1470
This is really a localization issue IMHO. i.e. Date formats come from from the user's language.

I do think we should stick to 4 digit years in any case.

[2016-11-23 15:31] IanLewis commented on #1447
What can users expect for browser support again? What versions are supported?

[2016-11-23 15:38] IanLewis commented on #1445
@Yamagami-Takuma Cool thanks. I'll review it when it's done.

[2016-11-23 15:40] IanLewis commented on #1445
@Yamagami-Takuma BTW. This is for 1.5 which is supposed to go out in 2 weeks (Dec 8 I think?) so just letting you know there is a bit of urgency.

[2016-11-23 15:43] ankon opened #1475 "PetSet view does not show multi-container pods with same image ("Duplicates in a repeater are not allowed")"
#### Issue details

See screenshot: My PetSet pods are not show, an error is logged in the console.

##### Environment

Minikube 0.12.2 environment, petset with a two-container-pod template, both containers use the same image (but run different processes).

[code]

##### Steps to reproduce

1. Define a petset like this:
[code]

(Simplified down from my mongo example)

##### Observed result

See sc

[2016-11-23 15:45] bryk commented on #1475
Thanks for reporting. This is a big problem. But hopefully it can be easily fixed. I'll move it to 1.5 project to make sure it is fixed soon.

[2016-11-23 15:51] bryk commented on #1470
I can be convinced either way. Displaying dates in ISO8601 sound good.

[2016-11-23 15:52] rf232 commented on #1460
Icons look nice, we might need to do quick check about how https://opensource.org/licenses/OFL-1.1 works for us, especially combined with the fancy GKE autoinstall of the dashboard

[2016-11-23 15:54] IanLewis commented on #1470
Yah. I agree that it's not super important that the dates be localized and ISO8601 is much better than what we have currently.

[2016-11-23 20:16] MikeSpreitzer opened #1476 "Dashboard can also be used with client certificates"
#### Issue details

##### Environment

I deploy Kubernetes and the Dashboard with my own Ansible playbook.  I make a local CA and use it to sign certs for the apiserver and other platform components and a user named "admin".  I run the apiserver in a static pod, and the controller manager in another static pod.  I have a local authorization server consulted as a webhook.  Here is what `ps lwww` sh

[2016-11-24 02:54] Yamagami-Takuma commented on #1445
@IanLewis
Yes. I will translate ASAP :)

[2016-11-24 07:54] floreks commented on #1476
Yes, that's true. I haven't noticed that and I have the same set up as you. We'll fix that. Thanks!

[2016-11-24 07:56] maciaszczykm commented on #1473
Yes.

[2016-11-24 08:40] bryk commented on #1447
Latest versions of evergreen browsers + latest IE

[2016-11-24 08:41] bryk commented on #1447
Re what is support: UI works there in sane way

[2016-11-24 09:09] bryk commented on #1445
@Yamagami-Takuma Thanks a lot! :)

[2016-11-24 10:27] rf232 commented on #1431
Even if we don't apply CPU/Memory limits ourselves in a way the hardware will do this in the end. Perhaps we should find a way to be a bit more graceful there.

But even if we don't crash with a high number of objects we are getting really slow. Some findings up till now about that:
 * **JSON serializiation takes a significant amount of the time**
   Since k8s supports protobuf serialization forma

[2016-11-24 10:38] bryk commented on #1476
@floreks @cheld Do you know how to fix the docs to solve the problem? I don't...

[2016-11-24 11:54] bryk commented on #1265
It is there but I don't know how to fix it. I'll spend time on something else now. The issue is pretty minor, anyway.

[2016-11-24 12:07] floreks commented on #1476
I've explained step by step configuration process (using certificates) in here: https://github.com/kubernetes/dashboard/issues/1287#issuecomment-250681546

[2016-11-24 12:17] #1473 closed

[2016-11-24 14:06] bryk commented on #1447
Once #1481 is merged, we can close this. I did a roundtrip of all browsers and everything seems to work.

[2016-11-24 14:08] #1447 closed

[2016-11-24 14:45] batikanu opened #1483 "local-up-cluster looks for heapster at the wrong place according to the guide"
#### Issue details
After the changes #1351 the default heapster api is set to in-cluster heapster api. If the developer follows the  [Getting-started guide](https://github.com/kubernetes/dashboard/blob/master/docs/devel/getting-started.md), gulp local-up-cluster command doesn't work by default.

##### Environment

[code]

##### Steps to reproduce
run "gulp local-up-cluster"

##### Observed result

[2016-11-24 14:58] bryk commented on #1429
@rf232 Can you take care of this for 1.5?

[2016-11-24 15:19] bryk opened #1485 "Chrome and navigation - ver. 2 of the UX"
We should start thinking about our next iteration to the chrome and navigation UX. Theres a lot of issues we have with current UX, so we have space for improvements :) Ideally we should have this for 1.6 release.

Non exhaustive list of issues:
* clutter and too many menu items: we have like 20 menu entries (and growing)
* no support for mobile (no responsiveness at all actually)
* global componen

[2016-11-24 15:21] bryk commented on #1485
FYI, I've found a nice example of how material nav can be done. If you have Google account you can check it our at: https://myaccount.google.com/preferences

Sample screenshot of how they mix cards and nav there:

![image](https://cloud.githubusercontent.com/assets/1159999/20603490/fd1d52d2-b261-11e6-9cfa-9162ba2f98fc.png)

[2016-11-24 16:35] #1475 closed

[2016-11-24 19:33] floreks commented on #1429
My PR to core was merged so it's just the matter of updating our deps.

[2016-11-25 09:17] rf232 commented on #1429
will do

[2016-11-25 09:25] #1456 closed

[2016-11-25 10:17] liujiawinds opened #1489 "Kubernetes didn't recreate secret"
#### Issue details
I'm trying to get a new token to adapt ssl environment.But after I delete the default secret, it didn't recreate.
And when I create a dashboard container, I got log like this:

I've tried to restart all the service running on the master node. but it didn't help.
Also I tried to create it manually. But the secret seems like empty.
[code]
##### Environment

[code]

##### Expected

[2016-11-25 12:20] digitalfishpond commented on #1374
Ok, so I need confirmation at this point: I've gone from handling checks in the front end to now letting kubectl use its own logic. Obviously, kubectl does not consider "_all" and "default" to be special in any way, and returns false when comparing them to any namespace in a YAML. @bryk, I realised that your latest comment could be interpreted in several ways, so I wanted to check that you still d

[2016-11-25 12:34] bryk commented on #1374
Yes, exactly.

[2016-11-25 14:06] rf232 opened #1492 "Way to have an equivalent of kubectl apply <yaml> on upload form"
When playing with my test cluster from time to time I want to reset my 'default testing deployment' to some state I wrote down in a long yaml file. But the current upload form for a yaml does a create, and this errors out if some of my resource still exist, so I'd love to do an apply instead of a create here :)

[2016-11-25 14:34] liujiawinds commented on #1476
@floreks hi, I follow your steps. But I can't see the config detail just like below:

[code]

I'm sure this file appended in controller-manager,kubelet,proxy, scheduler with`--kubeconfig=/etc/kubernetes/tls_config` :

[code]

Is there something wrong ?

[2016-11-26 01:41] liujiawinds commented on #1489
All be ok after I remove `ServiceAccount` from `--admission-control`.

[2016-11-26 01:41] #1489 closed

[2016-11-26 10:16] floreks commented on #1476
@liujiawinds that's because I'm creating my kubeconfig file manually. Normally you have to use `kubectl config set-xxx` commands to generate it. Just copy and adjust the content or use kubectl to generate it for you.

Additionally `kubectl config view` by default is looking for config file in `<HOME>/.kube/` directory. You can pass `--kubeconfig` param to specify custom path and name.

More info h

[2016-11-28 06:55] #1470 closed

[2016-11-28 07:24] bryk commented on #1445
Done via: https://github.com/kubernetes/dashboard/pull/1487

[2016-11-28 07:25] bryk commented on #1438
My thinking is that this is super important, but not release blocker, so we can remove it from 1.5 release kanban.

[2016-11-28 07:30] bryk commented on #1268
This is harder than expected, as the behavior is built into the library we use...

But all other comments are done :)

[2016-11-28 08:16] #1429 closed

[2016-11-28 09:20] Yamagami-Takuma commented on #1445
@bryk
Ah, sorry for my lack of explanation.
There is another translation PR.
After #1494 is merged, this issue is closed :)

[2016-11-28 09:22] rf232 commented on #1445
Thanks for the update, reopened issue to keep track :)

[2016-11-28 10:30] bryk commented on #1446
Update log: PR sent https://github.com/kubernetes/kubernetes.github.io/pull/1793

[2016-11-28 11:36] #1445 closed

[2016-11-28 14:11] cheld commented on #1445
Thanks :+1:

[2016-11-28 16:03] kishorenc opened #1496 "Dashboard crashes when Service Account is used for authentication"
#### Issue details

I get the following error when I configure the Dashboard to use the API server's secure port via the `apiserver-host` parameter (**insecure port works fine, though**):

[code]

On the API server logs, I see:

[code]

I followed the troubleshooting steps on this [page](https://github.com/kubernetes/dashboard/blob/master/docs/user-guide/troubleshooting.md#service-account) and I w

[2016-11-28 16:17] bpasson opened #1497 "Chrome wont load the dashboard"
#### Issue details
Chrome will not start the dashboard due to strict mime type checking. The appConfig.json
has mime type text/plain and chrome wont execute it with that mime type.

##### Environment
[code]

##### Steps to reproduce
To reproduce the issue use the following steps:
* Deploy the dashboard using kubectl create -f https://rawgit.com/kubernetes/dashboard/master/src/deploy/kubernetes-das

[2016-11-28 16:24] sgeisbacher commented on #574
@ManuelGysin
i have completly the same problem.  i have setup tls for my kube-cluster.
and it also works for me in the container with curl --ca-cert ... Authorization Bearer: ...
but it also doesn't work for the dashboard. the token and the ca.crt are provided via secrets volume. but i always get "remote error: bad certificate" on the apiserver

@ManuelGysin how have you solved the problem?

[2016-11-28 16:49] floreks commented on #1496
It is cluster configuration issue.

Make sure that `ServiceAccount` plugin is enabled (apiserver argument) and that you have specified `--service-account-private-key-file` for `kube-controller-manager`.

Then delete default service account and secret in `kube-system` namespace (they will be recreated automatically). Delete dashboard pod and it should pick up.

Also you should specify custom SAN wi

[2016-11-28 17:04] kishorenc commented on #1496
@floreks Yes, the `ServiceAccount` plugin is enabled and `--service-account-private-key-file` is also specified. I don't follow what you mean by `custom SAN` though. Are you saying that I should include the Kubernetes service IP (listed in `kubectl get services`) as one of the hosts when generating the API server certificate?

[2016-11-28 17:16] sgeisbacher commented on #1287
@timstoop
i investigated the same problem, that ca.crt is never read by the process.
have you solved the problem by using a kubeconfig-file?
if so, how have you put the dynamically generated /var/run/..../token in it, or have you created a new token?

[2016-11-28 18:24] floreks commented on #1496
Yes, check `Certificates Configuration` section of my post (link above).

[2016-11-28 20:12] danielromlein commented on #1248
@bryk this is a great start! Might something like a Google Drawing be a more flexible way to drag-and-drop and thus prioritize and establish relationships between objects? Once _that's_ established, I think a spreadsheet would be a fantastic way to collect value ranges and that realistic dummy data I mentioned before.
It'd_ also be helpful for me to see those object types (e.g. _core info_, _metad