[2015-10-23 12:47] cheld opened #17 "please describe how to run the application"
please add some more documentation, about how to build & run the application

[2015-10-23 12:59] bryk commented on #17
Will definitely do! I'll take some time, however, till the application is production ready.

Do you want this to hack around and contribute or to use the app in production?

[2015-10-23 13:37] cheld commented on #17
I want to contribute in the UI area. Currently, I would like to understand the difference between kube-ui, kubedash and console...

[2015-10-23 19:34] preillyme commented on #17
@cheld I'd like to understand the difference as well. If console can do everything that kube-ui can do I'd like to retire kube-ui. I don't think we should have three different but similar efforts.

[2015-10-23 21:12] bgrant0607 opened #21 "Console thoughts"
Copying from https://github.com/kubernetes/kubernetes/issues/8270:

This was discussed at the Kubernetes contributors meeting in December.

First of all, visualization/dashboard is more important than actuation. The CLI (kubectl) is expected to be the main tool for controlling the system and applications running on it. Table-friendly views should also be incorporated into kubectl, not just a GUI.

[2015-10-23 21:14] bgrant0607 opened #22 "Document what initial views are being worked on"
What's the first usable view we can expect?

[2015-10-24 14:56] smarterclayton commented on #21
@jwforres

[2015-10-26 07:46] SebastianM commented on #17
@bryk I'm interested too. I started to work on a new kube-ui version that is capable of managing multiple kubernetes clusters and adds some Cluster management features. So question is: why is there a second project?

https://github.com/kubernetes/kube-ui/tree/new-ui

[2015-10-26 12:29] stevesloka commented on #17
+1 for contributing and +1 for understanding the differences.

[2015-10-26 12:55] bryk commented on #17
Re "please describe how to run the application": As you can see, we're now busy building awesome development environment for the project. Once this is done, the instruction about how to run and develop the application will land here. This should take a few days more.

[2015-10-26 16:58] lavalamp commented on #21
First thought: if you want kubectl & UI to stay synced, the most obvious
thing to do is to have the UI actually use kubectl to generate its tables.
We could add a convenient output format (HTML?) to kubectl for this purpose.

On Sat, Oct 24, 2015 at 7:56 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-26 17:35] jwforres commented on #21
I wouldn't recommend limiting a browser client to HTML that is
automatically generated by a CLI tool.  Browsers allow for better data
visualization than CLIs which means instead of rendering raw data in
certain columns you add things like status icons, progress bars, whatever.
Also the types of user scenarios that you would use a GUI for is often
different than the scenarios you would drop to the

[2015-10-26 18:02] bgrant0607 commented on #21
Re. CLI/UI alignment, at minimum, things we deemed critical to display in the CLI should usually also appear in the UI, information displayed in the two shouldn't be contradictory, and terminology used in the 2 should be consistent. This may mean that some processing currently done in kubectl should move into the API, such as summarization of pod status:
https://github.com/kubernetes/kubernetes/bl

[2015-10-26 20:18] jwforres commented on #21
So a couple of comments about what our projects are doing today:

Timeseries graphs see:  http://angular-patternfly.rhcloud.com/#/api/patternfly.charts.directive:pfUtilizationChart

and the other charts under patternfly.charts

For icons we are using https://www.patternfly.org/styles/icons/
pficon-route
pficon-service
pficon-replicator (for replication controllers)
pficon-registry
pficon-image
pfi

[2015-10-26 20:30] jwforres commented on #21
I'd like to see reusable web components that are specific to k8s to be pushed to https://github.com/kubernetes-ui
We've contributed a couple recently like:
https://github.com/kubernetes-ui/topology-graph
https://github.com/kubernetes-ui/container-terminal

[2015-10-27 09:57] bryk commented on #21
@lavalamp Re consistency with CLI: Consistency can be easily achieved when the API is the place that does business logic and CLI (kubectl) and UI (console) are only presentation layers. @jwforres and @bgrant0607 are correct that we should present the same concepts, but in different way, depending on the use case.

The console uses a Go server to get data from. So, if something is not available in

[2015-10-27 10:12] bryk commented on #21
@jwforres Re sharing reusable components: Definitely. However, we will always start with implementing a component in the console and then releasing it if it proves to be useful for others. I think that's what you're doing in openshift, right?

[2015-10-27 10:41] bryk commented on #17
Re what is this project: This is a general purpose GUI for Kubernetes clusters. In brief, it will allow for managing and troubleshooting applications running on a cluster. In this project we've taken a use-case product approach. This means that we're not doing a raw dump of all possible resources in the cluster. Instead, we create views that best satisfy use cases, e.g., "deploy my first app" or "

[2015-10-27 10:41] bryk commented on #17
Re why new project: Simply, all planned views are going to be different from the ones that exist in current UIs. So instead of rewriting everything we did a clean start. We plan, however, to reuse individual components from kubedash, kube-ui or kubernetes-ui.

[2015-10-27 10:41] bryk commented on #17
Re roadmaps and mocks: We will publish them soon. We did not anticipate such interest in the early stages of the development, so that's why we didn't do this already. Thanks for the interest! We will keep you posted on everything. If you have any more questions, just ask me :)

[2015-10-27 12:23] jwforres commented on #21
@bryk We are doing some of both.  The terminal widget we knew we wanted in
several of our projects so we wrote it as an upstream bower component to
begin with.

Whereas the log viewer we just wrote we did in openshift first because of
time constraints, but will most likely be contributing it into patternfly.

@jwforres <https://github.com/jwforres> Re sharing reusable components:
Definitely. Howev

[2015-10-27 17:26] lavalamp commented on #21
On Tue, Oct 27, 2015 at 2:57 AM, Piotr Bryk <notifications@github.com>
wrote:

Not sure I follow-- the API of course gives the same data to any client.
But the display choices kubectl makes (e.g., what fields to show) is the
thing that I thought we wanted to be consistent with. IOW it's not business
logic consistency that's the issue. Or are you talking about moving e.g.
the "describe" logic into

[2015-10-27 20:06] bgrant0607 commented on #21
@lavalamp There are examples of logic in kubectl, even in `get` that should be moved into the control plane (#7311). For an example, see:
https://github.com/kubernetes/console/issues/21#issuecomment-151228637

[2015-10-27 20:13] bgrant0607 commented on #21
@jwforres No idea whether it's practical to import CLI code into the Go console server. I don't know what the API is between the console server and the javascript.

[2015-10-27 20:19] jwforres commented on #21
@bgrant0607 not practical.  We kept that API as minimal as possible on purpose.  It's basically a single auto-generated config.js file that tells the console where to find the openshift and k8s APIs and what the oauth config is.  There is also a discussion about the console being split out from the openshift binary, which in that case it most likely wont use Go to serve assets anymore, generating

[2015-10-27 20:29] lavalamp commented on #21
OK, I can see why that would be desirable, but we have no precedent
currently. I can think of three possibilities, and I'm not a fan of any.

1. Run kubectl as a service in the cluster.
2. Make e.g. describe subresources on objects that put out these decorated
objects.
3. Use a header/query parameter to request decorated objects.

It's not very clear to me what format a decorated object would have

[2015-10-27 20:38] jimmidyson commented on #21
Having the console as a "simple" front-end to REST APIs gives us much more flexibility to deploy extensions & build a modular (microservice-y) console. This is the approach that fabric8 has taken with the work by @gashcrumb & @jstrachan. Views & REST APIs need to be kept separate. Totally agree on moving as much stuff up into the API layer though, with JSON-encoded responses that the view  (CLI br

[2015-10-28 14:19] bryk commented on #21
Let's move project architecture discussion to PR #32. It outlines our initial architecture plans.

If interested, please comment on the PR. Note also that project is moving forward quickly, so I'm applying the architecture right now. Thank you for all your input!

[2015-10-29 19:06] preillyme opened #39 "Bar Gauge Visualization"
Will we carry over the bar gauge visualization from the current dashboard?

[2015-10-30 09:30] bryk commented on #39
Do you mean those round visualizations of CPU/memory usage of nodes?

@evasnee @kenmoore

[2015-10-30 13:35] kenmoore commented on #39
The bar gauge visualizations have scalability issues--they're pretty bulky and couldn't fit many on a page, and aside from the "high water mark" they lack historical data. I think that mini usage graphs / sparklines would be more valuable and scale up better, so I'd like to explore that.  However we've been focused on the application layer recently and haven't designed any new stuff for infrastruc

[2015-10-30 15:34] stevesloka commented on #39
It would be nice to sort / filter / alert when things are in a bad state. I use kube-ui today to look for nodes with full disks, but I have to scan over all the graphs to find. This may be a different feature however.

[2015-10-30 15:37] preillyme commented on #39
Yes @bryk I mean the round visualizations of CPU/memory usage of nodes a.k.a. a bar gauge.

I'm fine with exploring mini usage graphs / sparklines  as an alternative and I agree with @kenmoore.

@stevesloka we should start a new issue to track feature requests.

[2015-11-01 09:16] cheld commented on #39
A lot of software can do monitoring. I would like to see UI that more specific to kubernetes.  e.g. kubernetes vision is to achieve a high degree of hardware utilization with smart schedulers. In this scenario, the CPU is always 100% and a classical monitoring not very helpfull to determin if your cluster is sized correctly.

[2015-11-02 15:06] bryk opened #46 "Make it easy to spin up a cluster for development/integration tests/CI"
The project should have a script or a Gulp task that spins up a minimalist Kubernetes cluster, which later can be used for development, integration tests or continuous integration.

[2015-11-02 15:09] bryk commented on #46
@gmarek @wojtek-t Do you have any hints for setting up a dev cluster easily & quickly?

[2015-11-02 15:10] bryk commented on #46
@zreigz Can you take this?

[2015-11-02 15:10] wojtek-t commented on #46
There is a script to start a light version locally:

    ./hack/local-up-cluster.sh

Is that what you want?

[2015-11-02 15:13] gmarek commented on #46
I was just going to write the same thing:). If you want 'real' one, you can just use your GCE project and and use `cluster/kube-up.sh`

[2015-11-02 15:14] bryk commented on #46
I'm thinking about a Kubernetes cluster that can be used on, e.g., CI for test. `./hack/local-up-cluster.sh` looks like exactly what we need. Thank you!

I'll let @zreigz figure out how to integrate it with this project.

[2015-11-02 15:17] wojtek-t commented on #46
Also, if you need something for integration tests - you can take a look how we are running integration tests. We already have some framework for it (maybe you can easily extend it for you purpose).
Take a look at:
- test/integration/framework (for framework implementation)
- test/integration/*_test.go (to see how it is used)

[2015-11-02 15:19] gmarek commented on #46
To give you some more details - in integration tests we're locally running master components together with mocked "SimpleKubelets". As long as you need just information from etcd (i.e. no information from nodes) it should be enough.

[2015-11-02 15:22] wojtek-t commented on #46
To give you some more details - in integration tests we're locally running master components together with mocked "SimpleKubelets". As long as you need just information from etcd (i.e. no information from nodes) it should be enough.

That's not entirely true IIUC - we are really starting pods on those SimpleKubelets there, so you have some data on nodes too.

[2015-11-02 15:29] gmarek commented on #46
Nope. AFAICK It uses `FakeDockerClient`, even simpler than one that Kubemarks one.

[2015-11-02 16:00] zreigz commented on #46
I can take this. My concept is use something similar what is done in
installation script: https://get.k8s.io but use gulp a specially gulp-exec
to execute some commands for downloading, retrieving latest version and
creating cluster (./hack/local-up-cluster.sh). When cluster will be created
we can access to master node also using gulp-ssh. When this part will be
done then we can thing for other st

[2015-11-03 08:18] bryk commented on #46
@zreigz  Nice! I think all we need is access to the apiserver, e.g., its port and host like http://localhost:8080. With that the UI can connect to it and perform actions. No SSHing into nodes is needed.

[2015-11-03 08:25] zreigz commented on #46
Ok, so first I will focus to set up cluster. When it will be ready then we
think about rest of it.

On Tue, Nov 3, 2015 at 8:18 AM, Piotr Bryk <notifications@github.com> wrote:

[2015-11-05 16:37] luxas commented on #17
+1 I'm also very interested in this area.
When this project is ready to contribute to, I'll see if there is something I am able to do
Keep us notified :smile:

[2015-11-05 16:51] bryk commented on #17
@luxas That's awesome! There's a community meeting soon, you can join it. See more details at: https://groups.google.com/forum/#!forum/kubernetes-sig-ui

[2015-11-06 00:43] vishh opened #52 "Integration with kubedash"
[Kubedash](https://github.com/kubernetes/kubedash) provides an easy to use resource monitoring dashboard for kubernetes clusters. Is it possible to integrate kubedash into the dashboard?

[2015-11-06 08:18] bryk commented on #52
We're well aware of existence of Kubedash. It is theoretically possible to merge those two UIs. However, there will be no 1-to-1 mapping for kubedash views. This UI will display metrics for resources, but it will not be the main use case.
What we can realistically do, is to take useful pieces of code from kubedash and integrate them with UX of this project.

Does this answer your question?

[2015-11-06 10:04] cheld commented on #46
Is the CI supposed to run against a local cluster or a real cluster?

[2015-11-06 10:35] bryk commented on #46
Yes, the CI is supposed to start a local cluster, then start the UI and finally perform integration tests on this environment. This yields in a reproducable build and test setup which can be used on CI and on developer's local machine. We want to get as productive as possible.

Connecting to an external ("real") cluster is, of course, doable. This may be, e.g., a staging cluster. We do not have re

[2015-11-06 17:42] vishh commented on #52
Fair enough.
Until resources are fully integrated iton this dashboard, can we add links
to kubedash in this dashboard (assuming kubedash will run as a cluster
service)?

On Fri, Nov 6, 2015 at 12:18 AM, Piotr Bryk <notifications@github.com>
wrote:

[2015-11-09 10:26] bryk commented on #52
@kenmoore @aronchick

[2015-11-12 13:50] cheld commented on #22
See design folder. I think this issue can be closed

[2015-11-12 14:18] bryk commented on #22
Aforementioned designs: https://github.com/kubernetes/dashboard/pull/60

[2015-11-12 14:18] #22 closed

[2015-11-12 14:45] jordic commented on #17
I'm also interested in contributing.

[2015-11-12 15:22] bryk commented on #17
@cheld Are you working on this?

[2015-11-12 15:25] bryk opened #63 "Implement deploy form view with basic options"
This issue is to implement basic version of the deploy form, based on the mocks.

https://github.com/kubernetes/dashboard/blob/master/designs/11-11-2015/08_deploy%20form.png

[2015-11-12 15:25] bryk commented on #63
I'm working on this.

[2015-11-12 15:28] bryk opened #64 "Implement basic version of zero state view"
Based on Ken's designs. We can start with no logic on backend - just show the UI. Then we should agree on when the zero state is triggered and implement the logic.

https://github.com/kubernetes/dashboard/blob/master/designs/11-11-2015/03_welcome%20-%20zero%20state.png

[2015-11-12 15:31] bryk commented on #64
CC @floreks

[2015-11-12 15:34] bryk opened #65 "Replication Controller (replica set) list view showing simplest card variation"
Create the app view that shows simplest card variation. This would be a foundation for implementing all variations of cards.

https://github.com/kubernetes/dashboard/blob/master/designs/11-11-2015/16_card%20variations.png

[2015-11-12 15:34] bryk commented on #65
I'm taking this.

[2015-11-12 15:34] cheld commented on #17
yes, I started

[2015-11-12 15:45] bryk opened #66 "Establish code styles and practices for the project"
As the number of contributors to the project grows, we need to establish coding styles and practices so that the codebase stays unified and healthy for long time.

The areas that should be covered include (at least):
* how to create a view (what's the code layout, what to place where)
* what to do on the backend and what on the frontend
* how to communicate with backend
* what is the style of JS c

[2015-11-13 18:57] floreks commented on #64
I'm working on it. Just some cosmetics left to make it work on different browsers. View itself is done. Which browsers should we support anyway? I believe it should be responsive UI working also on mobile phones, right?

[2015-11-16 06:55] bryk commented on #64
Now just think about Chrome and Firefox (this is where our tests run). Later we'll think about what browsers to actually support.

[2015-11-16 07:10] cheld commented on #66
* Supported form factors
* Supported browsers
* Unit test coverage in backend and UI

[2015-11-16 07:17] cheld opened #71 "Internationalization"
Created an issue because it is a cross-cutting concern.

We need japanese and english.

Any special requirements?

[2015-11-16 08:01] bryk commented on #64
Re responsiveness: Does this require much additional work for you?

[2015-11-16 09:51] floreks commented on #64
I've briefly checked it on different browsers and mobile phone. It looks good. I will open PR soon.

[2015-11-16 14:35] maciaszczykm opened #73 "Implement namespace handling in deploy form"
This issue was created to implement namespace handling in deploy form:

![Design](https://raw.githubusercontent.com/kubernetes/dashboard/master/designs/11-11-2015/07_deploy%20form%20new%20namespace.png)

First step is to implement picking namespace from currently available ones, then new namespace creation etc.

I am working on this.

[2015-11-16 19:15] ekozan opened #74 "Deployment Manager"
I think permit to deploy app via the new kubernetes deploy manager can be an overkill feature for this dashboard, any plans for implement this feature ?

[2015-11-17 07:05] bryk commented on #74
I hope that this will happen in the future. At the moment we do not have solid plans for support for deployment objects, however.

@kenmoore @aronchick

[2015-11-17 09:21] cheld commented on #66
We could enhance eslint and/or check-in formating rules for WebStorm and Atom. What is your opinion?

[2015-11-17 14:35] bryk commented on #71
We haven't started thinking about this yet. It is a nice enhancement, though. So if you want to work on this, then perfect. We should use standard Angular mechanisms, however. And have plan on how the translations would happen.

[2015-11-17 14:45] bryk commented on #65
I've had a set of conversations with @kenmoore @evasnee and @aronchick about how to proceed with this view. The conclusion is that the main object that the card represents is going to be a replication controller, augmented with all information we have about it. This means that "multiple services" variant is not going to be implemented. Everything else stays the same.

The reason is that this is a

[2015-11-17 15:47] SebastianM commented on #71
Good idea :+1:
IMO the de facto standard solution for Angular1 is [angular-translate](https://github.com/angular-translate/angular-translate). The simplest way would be to use the [static file loader](https://angular-translate.github.io/docs/#/api/pascalprecht.translate.$translateStaticFilesLoader) and ship multiple JSON files (maybe seperated per module) with the GUI assets.

[2015-11-17 15:48] SebastianM commented on #71
Could help out on this if you want

[2015-11-18 06:35] cheld commented on #71
About the translation process - I think something simple is fine. I think we have to worry only about the detection of strings that have to be re-translated. Three options come to my mind:

*Option1; Use a three-way compare tool or a real translation tool, like eclipse-bable. There are many tools. We would have to find something suitable.
*Option2: If developers update the english properties, they

[2015-11-18 06:43] cheld commented on #71
We should also add a few gulp tasks:
1. Do constistency checks on number of keys and parameters
2. Create a artificially translation that doubles each value and replaces spaces with underscores. The reason is that some languages like german are much longer than english, while other languages do not use spaces e.g. Japanese. So a developer can check the layout in a worst-case scenario.

[2015-11-18 07:52] zreigz opened #76 "Implement current logs form"
I took this view:
https://github.com/kubernetes/dashboard/blob/master/designs/11-11-2015/21_logs%20current.png

[2015-11-18 12:48] floreks opened #80 "Implement label handling in deploy form"
This issue is to implement label handling in deploy form for (RC, Pods, Services, etc.)

Based on this view:
https://raw.githubusercontent.com/kubernetes/dashboard/master/designs/11-11-2015/14_deploy%20more.png

I'm on it :)

[2015-11-18 13:34] bryk commented on #66
Check in the rules into the repository? Do you have idea whether this is anything generic or just for WebStrorm?

[2015-11-18 13:39] batikanu opened #82 "Implement deploy from upload"
I'm on the implementation of this feature specified here:
https://github.com/kubernetes/dashboard/blob/master/designs/11-11-2015/04_deploy%20form%20upload.png

[2015-11-18 14:27] cheld commented on #66
I have never configured eslint myself, but some trivial things could be configured as warnings, e.g. line-width, camelcase, spacing,... These warnings can be shown in editors like webstorm or atom. So, this would be generic. However, my experience with eslint is limited. I cannot judge if it makes sense or not.

[2015-11-18 19:02] SebastianM commented on #66
My $0.02:

* How to create a view: I think we should create a "boilerplate" view (that is not visible of course) that can be used to create new views. It should be up to date all the time and should be well documented.
* how to communicate with backend: Yeah, this is really important (especially REST API design). We should document REST API patterns that get used in the project. I think it's also

[2015-11-18 20:22] SebastianM commented on #66
Missed one thing:

* [Conventional changelogs](https://github.com/ajoslin/conventional-changelog) with [angular style commits](https://github.com/ajoslin/conventional-changelog/blob/master/conventions/angular.md) (and no "merge pull request from ..." commits). So we could generate a clean `CHANGELOG.md` and tag releases properly.

[2015-11-18 20:25] SebastianM commented on #66
And last but no least:
* Use of Github labels for PR and issues (with categories like type, component, etc.)

[2015-11-19 12:27] maciaszczykm commented on #73
Now I will implement adding new namespace from deploy form functionality:

![Design](https://raw.githubusercontent.com/kubernetes/dashboard/master/designs/11-11-2015/06_deploy%20form%20new%20namespace%20specified.png)

[2015-11-19 12:35] floreks commented on #80
@bryk: I have some questions.

Should all defined labels be set for created RC, Service and Pods? Same labels for all?
What should we do when someone defines 2 labels with same key. Error, warning, block deploy button?

[2015-11-19 13:25] bryk commented on #80
Yes, apply the labels to everything. Take a look at: https://raw.githubusercontent.com/kubernetes/dashboard/master/designs/11-11-2015/14_deploy%20more.png

Re what to do in case of multiple labels with same key: This should be validation error. One of the inputs should be red and say what is wrong. The deploy button should be disabled too. Take a look on how validation is done in Angular and Angul

[2015-11-19 14:47] bryk commented on #66
Another thing that I've stumbled upon:
* how to use JSDoc `@type` annotations and ES6 modules: when to use relative paths, when absolute

[2015-11-19 14:48] bryk commented on #66
Thank you all for your input. The plan is to wait a few days for people to list their ideas here and go through the list next week to settle on the standards.

[2015-11-20 09:27] taimir commented on #66
In general automation seems better than documentation. It would be nice to have some kind of automatic check or correction of common flaws in pull requests, like line wraps, spacing or empty line at end of file.

I have tried clang-format a bit and run it on the existing code. Default Google formatting is fine in most cases. Some rules might require some tweaking. It can be installed as an npm pac

[2015-11-20 10:40] zreigz commented on #76
I wanted create generic service for logs to be able retrieve current logs and from some period. I notice problem on server side when I request for logs since some time. The simplest way to trigger it is use kubectl command. I've created bug:
https://github.com/kubernetes/kubernetes/issues/17561

Currently we can only retrieve all logs for particular pod.

[2015-11-20 10:46] bryk commented on #76
Starting your work with all logs is a good way. Then we can iterate on the view :)

[2015-11-23 08:42] bryk commented on #66
Yes. I think every style check that be automated, will be automated. This is particularly true for line wraps or spacing. Things that cannot be automated will land in a style guide.

If the creators of the tool say so... However, there's gofmt (and govet) which many go projects use. It is good enough, in my opinion.

How about checking whether gofmt changes something in a file? And fail if yes.

[2015-11-24 10:53] zreigz commented on #76
PTAL

Now result looks like this

![logscreen](https://cloud.githubusercontent.com/assets/13030040/11364650/84813840-9299-11e5-9f53-fcb0e02f6ea3.png)

[2015-11-24 15:40] #52 closed

[2015-11-24 15:41] #63 closed

[2015-11-24 15:41] #65 closed

[2015-11-24 15:47] bryk commented on #66
I think the wish list has stabilized, so we should be moving forward with this.

I've already done some tasks mentioned here that are no brainers. I.e., I enforced clang-format for the project and added as much as possible eslint rule enforcements.

Anyone interested in taking specific areas mentioned here? If not, I'll spin off separate issues to discuss and assign them.

[2015-11-25 10:46] cheld commented on #71
@taimir
@SebastianM

Sebastian, are you working on this? Our working student Atanas is looking for a task. I think this would be a good fit. Can you collaborate and split up the work a bit?

[2015-11-26 07:45] SebastianM commented on #71
@cheld Yes, I'm working on the Gulp related stuff. I'm not sure how we could split up the work. Should have something at the end of this week.

[2015-11-30 08:28] maciaszczykm opened #104 "Implement events view"
This issue was created to implement events view:

![Design](https://github.com/kubernetes/dashboard/blob/master/docs/design/mockups/11-11-2015/19_events.png?raw=true)

First step is to implement backend, then frontend. I'm working on backend right now.

[2015-11-30 09:05] maciaszczykm commented on #73
Basic namespace functionality is implemented at the moment, however, still some improvements like validation process should be done. Closing issue for now.

[2015-11-30 09:05] #73 closed

[2015-11-30 11:56] cheld commented on #17
basic documentation how to build & run has been added to the read-me

[2015-11-30 11:56] #17 closed

[2015-11-30 13:21] cheld opened #107 "Delete namespace missing in design mock-ups"
It seems it is possible to create namespaces, but it is not possible to delete them again.

Is this intentional?

[2015-11-30 13:22] cheld commented on #107
@maciaszczykm

[2015-11-30 14:05] bryk commented on #107
@kenmoore

[2015-11-30 14:39] maciaszczykm commented on #104
@bryk To use `md-tab` in this view I think we need to switch from Material Design version `0.11.4` to at least `0.12.0-rc1` due to issue described at https://github.com/angular/material/issues/5240, it's the next version so impact shouldn't be too big. Otherwise, workaround will be required. Do you agree on upgrade to `0.12.0-rc1`?

[2015-12-01 09:00] bryk commented on #104
Yes, feel free to update ngMaterial. I hope that version 1.0 will be available before EOQ1 2016.

[2015-12-01 10:14] cheld opened #109 "Create unit tests for create namespace"
I start writing unit tests for the create namespace dialog.

There are some small issues on this page e.g. validation. I would consider to do these next

[2015-12-01 11:44] bryk commented on #109
Thanks for taking this. I think that the project codebase has stabilized enough that we should start writing tests for all features.

[2015-12-01 11:50] floreks commented on #104
I'm supporting marcin on this. I'll take left side of the view.

[2015-12-01 12:57] bryk opened #111 "'gulp check' hangs when tests fail"
'gulp check' hangs when tests fail. This causes travis to execute the task for 50 minutes to return the error. Example: https://travis-ci.org/kubernetes/dashboard/builds/94143810

[2015-12-01 13:30] zreigz commented on #111
I can take this

[2015-12-01 13:42] maciaszczykm commented on #104
@bryk Events view appear on replica set details page along with pods view. This page has two parameters at the moment - `namespace` and `replicaSet`. I wonder how we should filter events using `replicaSet` parameter, because `namespace` parameter is already considered when loading list of events from backend.

I have just checked and Kubernetes API, available at http://127.0.0.1:8080/api/v1/events

[2015-12-01 13:59] bryk commented on #111
The issue actually happens not only when tests fail. Also when there is any other failure, e.g, lint or script compilation. The issue, I think, is that gulp swill waits for cluster to come up.

[2015-12-01 14:14] zreigz commented on #111
I will try find some global solution for error handling in gulp

[2015-12-01 14:26] bryk commented on #111
How about making local-up-cluster task finish only when the cluster is up, running and healthy? This will allow to remove wait-for-cluster task and, in result, remove the deadlock. Am I correct?

[2015-12-01 15:29] bryk commented on #104
It's often good to see how kubernetes core does things. E.g., check how kubectl gets events for an object when you describe it: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/describe.go line 424.

See also at events client API: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/events.go

Does this help?

[2015-12-01 15:53] zreigz commented on #111
Right now we doing like this. The wait-for-cluster task finish local-up-cluster when the cluster is up, running and healthy and then backend server can be started. Every error before spawn-cluster will cause the problem described in this issue because wait-for-cluster waits for task which never started and was interrupted by error (so it won't be started)

My approach is to create gulp task which

[2015-12-02 07:22] cheld commented on #111
Currently,

the cluster-creation and the integration-tests are started in parallel (asynchronously). Therefore, the integration-tests must wait until cluster is ready. I have not tested, but I assume to make the local-up-cluster wait until it is ready is useless, because the gulp task will not finish before the cluster is running anyway.

IMHO we have two options:
1. Try to understand error handli

[2015-12-02 07:32] cheld opened #113 "Prerequisite checks in gulp scripts"
Many people fail to run Dashboard because Godep is not in path. The error message is not obvious to non-nodejs developer. Please improve the error message.

@taimir can you take over

[2015-12-02 07:57] zreigz commented on #111
Now I've been trying first solution because waiting for cluster can take 5-7min when is created from scratch. If I find something I will share with you.

[2015-12-02 08:17] cheld commented on #113
Unit recently, when executing gulp serve:prod another non-obvious error can occur in case environment variables are not passed to root. However, in latest version we do check GOPATH variable and the execution will exit. So, a user will most likely realize his wrong action. Anyway, in case it is simple, please add another check:

cheld@estheld:~/devel/dashboard$ sudo env "GOPATH=$GOPATH" gulp serve

[2015-12-02 08:40] bryk commented on #113
Yes, this would be extremely helpful. Most people don't realize they need godep for a frontend project.

Another idea that struck me is that we could stop requiring godep and download it during a build step, e.g.,

[code]

This could actually work.

[2015-12-02 08:46] bryk commented on #111
I agree with @cheld. Try making the loca-up-cluster task synchronous and finish it only when the cluster is healthy. This would most likely require moving it to dependency of integration tests. And I think this would not affect CI execution time, as integration tests are waiting for the cluster and all tasks execute in parallel anyway.

[2015-12-02 08:57] taimir commented on #113
I am on it first thing tomorrow morning :) (Moving in to my new apartment right now)

[2015-12-02 08:58] taimir commented on #113
+1 at @bryk, the download is usually quite fast

[2015-12-02 09:09] cheld commented on #113
Please consider 'go clean', because it might remove godep again. This might be non-intentional.

[2015-12-02 09:15] maciaszczykm commented on #104
Yes, it's nice starting point.

[2015-12-02 10:07] zreigz commented on #111
I was searching how to create error handler for asynchronous tasks. I found out the run-sequence plugin has this functionality. It could be like this:
[code]
Maybe it will be helpful for the future.

[2015-12-02 12:58] maciaszczykm commented on #107
@cheld Yes, namespaces creation is possible and already implemented (at least initial version). However, I do not know anything about functionality of deleting existing namespaces. I think it's a question rather for someone who was creating designs.

From my point of view it's possible to implement it, but I'm not sure if it's necessary. Moreover, to delete namespace I suppose it's required to del

[2015-12-02 13:00] roflmao opened #115 "fail building dashboard"
Golang 1.5.1
NodeJS 4.2.2

[code]

[2015-12-02 13:05] bryk commented on #115
Need to install Godep and add it to `$PATH`.

Btw., we're fixing the error message to make it human readable.

@cheld

[2015-12-02 13:18] roflmao commented on #115
Success! Thanks

This did the trick:
[code]

[2015-12-02 13:18] #115 closed

[2015-12-02 13:21] cheld commented on #115
Please note, if you run go clean, than godep is gone. I would rather copy the binary to some other place like /usr/local/bin ...

[2015-12-02 13:29] bryk commented on #115
Yeah, that's why I think moving godep download to a build step would benefit all of us.

[2015-12-02 14:16] cheld commented on #107
I asked this as a design question, not a technical question. I am wondering if this is a design bug. With the current design a bit tricky to fix.

[2015-12-02 15:39] kenmoore commented on #107
Namespaces were a late(r) addition to the design and while creating a new namespace was noted as important to support, deleting namespaces hasn't previously been raised as a common use case.  Unless there's a strong case to be made for it, I'd prefer to leave it out initially and we can add support in later if the need becomes clear.

[2015-12-02 15:39] #107 closed

[2015-12-03 11:57] floreks commented on #104
@bryk: I've been looking on getting information about service for this view. Only way replication controller and service are connected is through labels. We have to assume that for RC label selector there will be matching service with same label selector(if created) and if there is no service just hide this information. There is no other way around this, right?

[2015-12-03 13:31] bryk commented on #104
@floreks See how replicasetlist.go matches services with replication controllers. Definitely reuse code from there. For now services that have label selector that is subset of replication controller label selector are matched. Though this may change in the future.

[2015-12-03 13:38] zreigz opened #118 "Logs menu on Replica set list"
Currently I've been implementing this view
![logmenu](https://cloud.githubusercontent.com/assets/13030040/11561684/e22e9a90-99c0-11e5-90e2-eb4c9f2abe83.png)

To create this view some extra informations are needed but currently are missing a specially pod containers
Should I extend ReplicaSetPod for Containers and add this functionality to backend method GetReplicaSetDetail?

[code]
, or other idea

[2015-12-03 13:38] floreks commented on #104
@bryk: That's all i needed, thx.

[2015-12-04 08:36] bryk commented on #111
This is done, isn't it?

[2015-12-04 08:36] #111 closed

[2015-12-04 08:37] bryk commented on #104
Are you touching replica set details page here? I want to work on it

[2015-12-04 09:19] floreks commented on #104
Yes me and Marcin are working on it. UI is mostly done and part of backend. We can create PR in 15 min if you want to work on it also.

[2015-12-04 09:29] bryk commented on #104
Yes, create a PR so that I can work on one part on the view and you on the other :)

[2015-12-04 10:00] maciaszczykm commented on #104
@bryk I've created a pull request https://github.com/kubernetes/dashboard/pull/127.

[2015-12-07 07:25] cheld commented on #113
Fixed. Environment variables are checked. In addition godep is downloaded by npm and does not require user setup any longer

[2015-12-07 07:25] #113 closed

[2015-12-08 10:53] floreks opened #139 "Application theming"
We should think about good way to handle global css theming (fonts, elements coloring) as angular material supports theming only for very few ng elements. Currently global fonts colors are kept inside `assets/styles/_color_variables.scss` file.

From what I've found there are 2 options:

1. Write custom service to extend `$mdThemingProvider` and allow using attributes like `md-primary` on other el

[2015-12-08 12:53] cheld commented on #139
@seb36

[2015-12-08 13:01] cheld commented on #139
I cannot answer your question directly. However, Sebastien, will look at dashboard this or next week. I will discuss requirements with him.

[2015-12-08 13:27] #80 closed

[2015-12-08 13:52] maciaszczykm commented on #104
@bryk I was thinking if implementing next part of this view is good idea at the moment. If yes, I could work on events filtering, but there are few details, that need to be clarified:

- How we can tell, that event is a warning or not? Is there any property for it (but I couldn't find it with `kubectl get ev --namespace=asdasdsad -o wide`) or we should implement some kind of check (for example bas

[2015-12-08 17:05] batikanu opened #143 "gulp serve watch fails"
gulp serve watch fails with the error below:

[code]

 @bryk @maciaszczykm @floreks @zreigz  is there any missing Godep which isn't checked in?

[2015-12-08 22:01] schugh opened #144 "gulp serve is wiring incorrect route to bower_components....missing '/app' in serve.js"
I did a simple clone, npm install and gulp serve but I get a blank screen when I launch localhost:9090.

Dev tools shows that my served app can't find any resources in bower_components.

I changed line 75
from:
'/bower_components': conf.paths.bowerComponents
to:
'/app/bower_components': conf.paths.bowerComponents

...and things started working. Is this the intended place to specify the missing pat

[2015-12-09 08:30] bryk commented on #143
Hmm... This works on Travis which runs clean build every time. Which go version do you use?

Can any of you reproduce this?

CC @taimir

[2015-12-09 08:34] maciaszczykm commented on #143
Works for me.

[2015-12-09 09:15] cheld commented on #143
I checked out dashboard twice. One version has some changes and is not fully up-to-date. In this version 'gulp serve:prod' works, but 'gulp serve' does not work. This could explain why it was not detected by Travis. Of course it is also possible that my workspace is messed up.

The other version I just checked out a clean version from master. In this case both work fine.

My go version is 1.4. How

[2015-12-09 09:34] taimir commented on #143
I do not see any problem on my machine at home so far. @batikanu If the problem persists I can investigate it tomorrow.

[2015-12-09 10:10] bryk commented on #144
Sadly, I cannot reproduce this. Things work on my workstation.

What's your setup? OS? Browser? Can you give stacktraces?

[2015-12-09 10:16] bryk commented on #104
Yes

[2015-12-09 10:16] bryk commented on #104
See:
https://github.com/kubernetes/kubernetes/pull/15999
https://github.com/kubernetes/kubernetes/issues/15624

Does this help?

[2015-12-09 10:19] bryk commented on #104
Honestly, I dont know. Isn't there an API for this? Did you check kubernetes/pkg/api/{unversioned}/types.go?

[2015-12-09 10:24] bryk commented on #104
Do you think we can do this?

[2015-12-09 11:14] maciaszczykm commented on #104
kubernetes/kubernetes#15999
kubernetes/kubernetes#15624

Yes, it does, but I think there is still something wrong in my cluster or somewhere else, because everytime I check this field is empty. I will implement empty-string check and if it will be true, then I will return type `api.EventTypeNormal`. If someone could check if his events have `type` set, then maybe we can make more progress with it.

[2015-12-09 11:18] bryk commented on #104
Maybe you have old version of Kubernetes?

[2015-12-09 11:32] GertiPoppel opened #145 "Online help / tutorials"
I would like to start a discussion about how online help / tutorials will/can be included in the dashboard.

1. The links "Learn more" as indicated on the mockups are not yet implemented.
2. Where should the texts be stored (close to the source code or in a separate "docs" folder (like in the K8S documentation)?
3. Should the documentation be in markdown format and be generated as HTML during the

[2015-12-09 11:50] cheld commented on #144
I cannot reproduce it also. Are you sure a Kubernetes cluster is running on port 8080? You can create one with gulp local-up-cluster in a separate terminal. Please follow the README.md

[2015-12-09 13:09] maciaszczykm commented on #104
You were right, I was using my fork, which was not up-to-date with base repository... Now events have proper types. Please check pull request #146 for more details.

Now I will investigate second option picker and check if its possible to load events for deleted pods.

[2015-12-09 15:16] floreks commented on #64
I think this can be closed as PR #72 is merged.

[2015-12-09 16:56] cheld opened #148 "Gobal error dialog"
I would create a global error dialog that pops up in case of error. I assume that proper validation is in place and this error dialog is only shown in severe errors.

I suggest to create a service implementation that adds a little bit of logic to $mdDialog. The error message dialog should have a localized title and a content area with the message from the server. This message is not localized and

[2015-12-09 18:28] schugh commented on #144
OS: OSX 10.11.2
Browser: Chrome 47.0.2526.80 (64-bit)
NPM: 3.3.12
Node: 5.1.1
Gulp: 3.9.0

I didn't end up using the locally packaged cluster. I'm new to docker and
started by following another procedure to standup a local cluster.

To start off, I got the project with a git clone.

Outside of the dashboard directory, I created a docker-compose.yml with the
following:

etcd:
  image: gcr.io/google

[2015-12-09 18:29] schugh commented on #144
Oh, and by the way, i accidentally swapped the order of two of the step. I
create the SSH tunnel first and then run docker-compose up....

On Wed, Dec 9, 2015 at 10:27 AM, Samir Chugh <samir.chugh@gmail.com> wrote:

[2015-12-10 07:23] cheld commented on #144
It is a frequent mistake to forget to setup a cluster on localhost:8080, so I asked. 'gulp local-up-cluster' hangs the first time for 5-50min (depending on network & hardware) to clone and build the binaries. You probably killed it before clone was finished. The other problem we must analyse.

[2015-12-10 07:45] cheld commented on #143
switching from go version 1.4 to 1.5 helped, but I still don't get it, because I could build a clean checkout of dashboard with version 1.4....

[2015-12-10 08:47] bryk commented on #143
We've updated Kubernetes Code go dependency, that's why it stopped working.

How about we check for go version in our build scripts?

[2015-12-10 08:51] bryk commented on #144
It should not be a problem with the cluster. Can you give stacktraces from your browser and output of the command `find <your-repository-root>/.tmp` and `find <your-repository-root>/dist`?

[2015-12-10 08:51] batikanu commented on #143
After upgrading go from 1.4 to 1.5 without any extra attempt it works.

[2015-12-10 08:52] bryk commented on #143
@batikanu Can you implement check for go version in our build pipeline? To prevent this from happening in the future.

[2015-12-10 08:59] batikanu commented on #143
Ok I will modify it accordingly.

[2015-12-10 10:47] maciaszczykm commented on #104
I've checked and I didn't find anything useful. Only thing connected to event source in its structure is component and host data, for example `{kubelet 127.0.0.1}`. I don't know if it's possible to implement this functionality at the moment. Should we provide any kind of mock or maybe open an issue on Kubernetes repository to get help?

[2015-12-10 12:44] maciaszczykm commented on #104
I wasn't able to find any way yet. It displays history data in `kubectl get ev` because only namespace is parameter there. Since we specify also replica set, then I think the only way would be adding history for replica set (its previous pods). I think it's a bit too complex to implement at the moment.

[2015-12-10 13:31] bryk commented on #148
@kenmoore Do you have any ideas on how to show global app errors? A dialog? Butter bar? Toast? I think that toasts is the thing for material design, isn't it?

http://designmodo.com/wp-content/uploads/2014/10/7.jpg

[2015-12-10 13:35] bryk commented on #148
@cheld
Global service is nice.
Dumping server error is a good start.

For full solution I'd consider having error codes and translations for them in the UI. This is the same how you handle errors in forms in Angular. For example, when deleting already deleted namespace, the server could return `alreadyDeleted` error code, and the UI will display appropriate (localized) message based on the code.

[2015-12-10 13:36] bryk commented on #104
So you say: display events only for currently living pods? I agree.

[2015-12-10 14:14] floreks opened #153 "State name import - closure compiler dependency errors"
Currently there is a problem with importing `stateName`. I will give an example:

In `replicasetdetail_controller.js` we import `stateName` from `replicasetlist_state.js`.
In `replicasetlist_controller.js` we import `stateName` from `replicasetdetail_state.js`.

This results in frontend build error.

Unfortunately compiler does not provide good information about real cause of error. It's similar t

[2015-12-10 14:24] floreks commented on #104
Just progress update. I'm currently working on delete and edit replicas count buttons. PR related to delete button is already created: #151. Second part should be done soon.

[2015-12-10 14:26] maciaszczykm commented on #104
@bryk Yes, currently we display events only for replica set and its living pods.

[2015-12-10 15:05] bryk commented on #104
Awesome.

Btw, rolling update is going to be hard. It needs a separate issue, design and discussion.

[2015-12-10 15:19] cheld commented on #148
Thanks for the comments. I thought about toasts, as well. However, I have started with a pop-up, because GCE uses pop-ups (at least in case of an Internal Server Error)

I have already finished the implementation based on pop-up. I am just struggling with a typedef for Google Closure. I start with a simple PR and improve on that.

[2015-12-10 15:26] cheld commented on #145
I checked GCE. This UI has some similar links. The links open a new browser tab and the user ends up in the normal html user documentation. This documentation is not localized (at least not german). However, the german locale is passed in the URL. Overall, I think we can start simple.

If we want to do it fancy we could think about a central place with keys and urls. This might simplify url testin

[2015-12-10 15:40] bryk commented on #145
CC @kenmoore

I agree with @cheld. We should start simple. So having docs in GitHub repository (e.g., 'docs' folder) is a good start.

This sounds good to me.

I have no answer for this question now. I think that we should default to what k8s core does, to be consistent with the ecosystem.

[2015-12-11 07:11] cheld commented on #145
CC @taimir

Ok, as first step lets add some 'hello world' markdown pages, enhance the build scripts and add links to the UI.

[2015-12-11 08:01] taimir commented on #145
I'm working on what @cheld said just now :)

[2015-12-11 08:16] maciaszczykm opened #156 "Update pods view"
Update pods view to make it look like designed:

![Design](https://github.com/kubernetes/dashboard/blob/master/docs/design/mockups/11-11-2015/18_node%20hover.png?raw=true)

I'm on it.

[2015-12-11 09:59] bryk commented on #156
Awesome! :)

[2015-12-11 10:46] vulpecula opened #158 "Implement "Minimum CPU..." and "Minimum memory..." checkboxes on deploy contenerized app form."
I am implementing "Minimum CPU..." and "Minimum memory..." checkboxes from: https://raw.githubusercontent.com/kubernetes/dashboard/master/designs/11-11-2015/14_deploy%20more.png

[2015-12-11 12:25] batikanu opened #159 "Referencing default export types from other js files doesn't work"
In [filereader_directive.js] (https://github.com/kubernetes/dashboard/blob/master/src/app/frontend/deploy/filereader_directive.js#L28)
The type annotation `/** @type {./upload_controller} */` for `UploadController`, which is default export of the file, fails with the error below:

[code]

[2015-12-11 13:17] bryk commented on #143
This is fixed.

[2015-12-11 13:17] #143 closed

[2015-12-11 13:19] bryk commented on #159
CC @floreks @maciaszczykm @cheld

It seems that closure compiler has problems with referencing ES6 default exports in JSDocs. What do you think about banning default exports and using only named ones?

[2015-12-11 13:26] floreks commented on #159
If this resolves the problem then it's good for me.

[2015-12-11 13:27] bryk commented on #153
Generally, the compiler is right. It does not allow for circular dependencies. However, the message is very misleading. Thanks @floreks for investigating.

I guess that our design with having state name and logic in foo_state.js files is wrong and this causes circular deps. I think we should redesign this.

[2015-12-11 13:34] bryk opened #161 "Implement run command, entry point, volumes and secrets in deploy form"
![selection_001](https://cloud.githubusercontent.com/assets/1159999/11744896/566b3342-a014-11e5-84a3-b48579f0cb55.png)

I'm on this.

[2015-12-11 13:37] batikanu commented on #159
it seems there has to be at least one default in file
[code]

[2015-12-11 14:02] bryk opened #162 "File upload input allows for entering arbitrary text"
![selection_002](https://cloud.githubusercontent.com/assets/1159999/11745387/1674e630-a018-11e5-8c10-d3a909c8f520.png)

I can type into the file input text. Modifying text there should be disabled. The input should be focusable, clickable, but not editable by user.

@batikanu

[2015-12-11 14:21] batikanu commented on #159
Sorry I forgot to modify import section after removing default. It works without default as well

[2015-12-11 15:00] tdeheurles commented on #144
I'm not sure where you are running these things.

I understand that you have installed npm locally (on your mac) and run kubernetes on docker (in the linux VM as it's the only way) ?
Seems that it's not talking of the same `localhost`.

Try to change to `192.168.99.100` (or the result of `docker-machine url default`). That where you're cluster is.

[2015-12-11 15:45] tdeheurles opened #165 "Pointing to api-server"
Hi,

I'm looking for the `how-to` point to the api-server.

It seems for now that it only works with a local kubernetes ?

[2015-12-11 15:54] bryk commented on #165
When you run the Dashboard inside a cluster, it should work. Other than that you can do `kubectl proxy --port=8080`, which I use for development.

[2015-12-11 16:05] taimir opened #168 "Bug when trying to create a namespace in production"
Please see https://github.com/kubernetes/dashboard/pull/167.

[2015-12-11 16:08] floreks commented on #165
Other option would be to build backend manually and pass `apiserver-host` argument to it. Something like that, but you have to build it yourself using `go build`

![zrzut ekranu z 2015-12-11 17-02-13](https://cloud.githubusercontent.com/assets/2285385/11748622/6de173aa-a029-11e5-87b5-2fe0a62c2d2c.png)

[2015-12-11 16:14] tdeheurles commented on #165
For nowm I'm on the creation of the container. So then I just run it in the kubernetes cluster and it should find it's needed informations ? no need for any credentials or things like that ?

[2015-12-11 16:14] tdeheurles commented on #165
`Other option would be to build backend manually using go build and pass apiserver-host argument to it.` ==> looking to that

[2015-12-11 16:23] floreks commented on #165
You can just run local cluster using `local-up-cluster.sh` kubernetes script and dashboard should find it on `localhost:8080`.

[2015-12-11 16:25] tdeheurles commented on #165
Ok. No I'm running it on a cloud cluster or inside a VM. localhost can't work for me I think.

[2015-12-11 16:38] floreks commented on #165
Then as @bryk mentioned you can use `kubectl --proxy` command. I don't have running vm to test, but try to configure `kubectl config set-cluster` and `kubectl config set-context` to point to your cluster then `kubectl config use-context` so you can just write `kubectl get rc` without pointing to server. Then configure `kubectl --proxy` to redirect traffic through local port 8080. Should work.

[2015-12-11 17:10] batikanu commented on #162
Yes I am aware of that. I will search for a solution as the next.

[2015-12-11 17:47] tdeheurles commented on #165
=> kubectl for local test on windows can't be done as kubectl can't be installed (no delivery for windows). Only way to run it is in the VM, so same problem here.

So I need to add the `kubectl` to my container that will run into the cluster and start it as a proxy to the api-server ...

I'll try that solution ... seems a bit complicated `oO`

Thanks

[2015-12-12 20:18] ericandrewlewis opened #170 "Errors when running npm install"
I get a few errors when installing npm install. Here's [the full log](https://gist.github.com/ericandrewlewis/b07ac7142362a7be3a44), I'll outline the eyebrow-raising excerpts below.

I'm on OSX 10.10.5, Node 5.0, npm 3.3.9. Apologies if these are upstream issues, but I'm not sure if they are and figured I'd start here :smile:

[code]

[code]

[code]

[2015-12-14 08:46] bryk commented on #165
@tdeheurles

No. Just run Kubernetes Dashboard in your cluster and it should work. We don't have installation instructions for running in a cluster, though (yet, it should be done soon).

[2015-12-14 08:57] taimir commented on #168
This has been merged.

[2015-12-14 08:57] #168 closed

[2015-12-14 09:01] bryk commented on #170
I dont think it is problem of this project. Travis is green. I think that your dev machine config is wrong. Maybe you need xcode? It seems that `utf-8-validate` is not installing.

[2015-12-14 09:01] #162 closed

[2015-12-14 09:16] floreks commented on #170
Both `bufferutil` and `utf-8-validate` packages had the same error during `node-gyp rebuild`. Look at `ld: library not found for -lgcc_s.10.5`. This is similar issue: https://github.com/Homebrew/homebrew/issues/40653
Try to install xcode 7 and check other dependencies.

[2015-12-14 15:48] batikanu opened #175 "Remove app name from deploy from file directive in UI"
Since the files have already name attribute inside, we can remove `app name` from [GUI](https://github.com/kubernetes/dashboard/blob/master/designs/11-11-2015/04_deploy%20form%20upload.png), when upload file is selected.

@kenmoore

[2015-12-16 19:25] ericandrewlewis commented on #170
This seems the case. I upgraded to El Capitain and installed XCode etc. and am able to build and run properly :smile:

[2015-12-16 19:25] #170 closed

[2015-12-17 13:34] floreks commented on #175
In my opinion this can stay and when file is selected then name can be shown. This is basic information and it would be good to display it after parsing the file.

[2015-12-18 07:26] johanhaleby opened #181 "Can't build docker image"
I'm trying to build the docker image but it fails:

[code]

[2015-12-18 08:13] johanhaleby commented on #181
Sorry rookie mistake, I forgot to run `npm install`. Please ignore the issue.

[2015-12-18 08:13] #181 closed

[2015-12-18 08:14] johanhaleby opened #183 "Unhandled stream error in pipe."
When running `gulp docker-image` I end up with the following error message:

[code]

[2015-12-18 08:19] bryk commented on #183
I guess that you dont have Java (or one of other deps) installed. Can you verify?

[2015-12-18 08:37] bryk commented on #175
Yeah, that's very good idea @floreks. But then there lots of corner cases, i.e., YAML does not contain a replication controller, or has two. This is getting more and more complicated.

[2015-12-18 08:50] floreks commented on #175
Other option is to show short report of what actually was read from file. Something like `2 rc, 1 service, 1 namespace will be created` and then on click show detailed report from extracted data, possibly with some validation.

[2015-12-18 09:01] johanhaleby commented on #183
I think I do. Here are my versions:

Docker: `version 1.9.1, build a34a1d5`
Go: `1.5.1 darwin/amd64`
nodejs: `v5.3.0`
npm: `3.3.12`
etcd: `2.2.1`
java: `1.8.0_60`
gulp: `CLI version 3.9.0, Local version 3.9.0`

[2015-12-18 09:18] bryk commented on #183
@cheld @taimir Can you help?

[2015-12-18 09:22] johanhaleby commented on #183
Perhaps off-topic but all I want to do is to try the docker image on our K8S cluster. You don't happen to provide a pre-built version?

[2015-12-18 09:36] taimir commented on #183
Let me see if I can reproduce it.

[2015-12-18 09:40] taimir commented on #183
On a side note: we're currently planning on releasing a runnable docker container image with every new version (as a next step).

[2015-12-18 09:49] johanhaleby commented on #183
@taimir :+1:

[2015-12-18 10:36] taimir commented on #183
@johanhaleby I cannot reproduce the issue on my machine, the only differences are the java version `OpenJDK: 1.7.0_91` and `node: v4.2.3`. From the looks of it the `gulp scripts:prod` task is failing in your setting. Could you confirm this? Then we could troubleshoot further.

[2015-12-18 10:47] johanhaleby commented on #183
Thanks for trying to help. I'll try to look into it in a few days.

On Friday, December 18, 2015, Atanas Mirchev <notifications@github.com>
wrote:

[2015-12-18 10:52] bryk opened #184 "Zerostate page layout is broken"
[code]
Causes this problems. @zreigz Can you fix this?

![selection_003](https://cloud.githubusercontent.com/assets/1159999/11895281/bb060ff2-a57d-11e5-8ab1-5cd280c343cc.png)

[2015-12-18 10:52] taimir commented on #183
@johanhaleby You're quite welcome :)

[2015-12-18 10:58] floreks commented on #184
We are on it :)

[2015-12-18 11:16] zreigz commented on #184
Fixed. PR created:
https://github.com/kubernetes/dashboard/pull/185

[2015-12-18 12:28] #184 closed

[2015-12-18 12:55] #118 closed

[2015-12-21 07:29] maciaszczykm commented on #104
Closing as initial version of events view is implemented. However, still some things to do like filtering by source.

[2015-12-21 07:29] #104 closed

[2015-12-21 09:52] maciaszczykm opened #191 "Relative time filter"
I will prepare `relative time` filter, which can be reused in replica set details table and other pages.

[2015-12-21 09:52] #156 closed

[2015-12-21 10:05] bryk commented on #104
Awesome, thanks! :)

[2015-12-21 21:54] Alasio commented on #183
I had the same issue, Java 8 didn't allow for multiple compiling so downgraded to Java 7 and that seemed to resolve the issues.

[2015-12-22 07:14] cheld commented on #183
Many thanks for sharing this information. We will try to reproduce it.

[2015-12-22 07:34] bryk commented on #183
FYI, I have OpenJDK Java 8 and it works.

[2015-12-22 14:29] bryk commented on #153
@floreks Can you take this issue? As our code gets more and more complex, I see TODOs for this issues a lot.

We basically need some kind of proposal of how to rearrange files so that we dont have circular deps (this is a benefit anywany).

At minimum, we need to place state names and state params in a file that does not import anything else (well, except for maybe some model classes).

[2015-12-22 14:31] bryk commented on #153
@cheld @floreks FYI

[2015-12-23 00:05] bgrant0607 commented on #21
There's a good table of usability considerations here on p. 82 of this TR: http://resources.sei.cmu.edu/asset_files/TechnicalReport/2001_005_001_13859.pdf

[2015-12-23 07:49] cheld commented on #183
I have JDK 7 on one machine and JDK 8 on another. But, it seems the problem is related to some kind of java setup.

If java is not installed at all, we get the (more or less) obvious error:

stream.js:74
      throw er; // Unhandled stream error in pipe

Error: spawn java ENOENT
at <...stack-trace...>

Maybe the full stack trace was not pasted or the log level of node is set differently somehow?
M

[2015-12-23 07:52] cheld commented on #183
We should enhance our gulp scripts to check java

[2015-12-23 18:13] sheriffmohamed opened #200 "Run as container on Kubernetes problem"
Hi,

I have built and pushed the docker image for the dashboard, but when I go to run it as a pod I get the following error:

[code]

Is there anything that I can do to fix this issue?

Thanks!

[2015-12-27 11:26] tdeheurles commented on #165
I'm not working on that for now. So I propose to close ^^
Thanks for support.

[2015-12-27 11:26] #165 closed

[2015-12-28 06:44] bryk commented on #200
It's the first time I see this issue. We'll fix it, but in a few weeks, when preparing for our first release. Does this timeline work for you?

[2015-12-28 14:35] sheriffmohamed commented on #200
Gotcha. Is this going to be your first stable release?

[2015-12-28 14:40] bryk commented on #200
Yes

[2015-12-28 14:41] sheriffmohamed commented on #200
Perfect. Can we expect it in the second or third week of Jan?

[2015-12-28 14:42] bryk commented on #200
Stable release? Rather no. Single command to deploy beta on your cluster: yes.

[2015-12-28 18:58] sheriffmohamed commented on #200
Ok sounds good thank you. I know I'm putting you on the spot here :), but is there a rough timeline as to when the first stable release will be?

[2015-12-28 20:14] floreks commented on #200
First feature complete (beta) is planned to be delivered by the end of January. Then for the next few weeks we'll try to polish everything and release stable build (mid/end of February).

It might be a good idea to create milestone and share work progress on github.

[2015-12-28 20:31] sheriffmohamed commented on #200
Great! Thanks guys.

[2015-12-29 11:07] floreks commented on #153
I can take care of this but at the beginning of next week, so if anyone wants to take this sooner then be my guest ;)

[2015-12-29 12:08] zreigz opened #208 "Implement current CPU and memory usage"
![17_job details](https://cloud.githubusercontent.com/assets/13030040/12034129/7fcaf6e6-ae24-11e5-8ddf-21eafd16b595.png)

It requires mostly work on backend side.
TODO
- investigate ho to retrieve CPU and memory usage from API
- implement solution on backend side
- display data on detail view page

[2015-12-29 17:36] kluzny commented on #21
+1 for json

[2016-01-05 10:54] floreks commented on #153
This is fixed. Closing.

[2016-01-05 10:54] #153 closed

[2016-01-05 12:01] #191 closed

[2016-01-07 13:46] maciaszczykm opened #228 "Request logging on the backend"
I'll add logging for requests coming to the backend.

[2016-01-08 07:27] cheld commented on #109
One async validation and some unit-tests missing. I continue on this issue

[2016-01-08 08:44] lohmander commented on #39
Would you be open to a PR on this issue that only shows a list of nodes and their current status for now?

[2016-01-08 09:04] maciaszczykm commented on #228
@bryk @cheld @floreks @zreigz I am thinking about architecture of this implementation and it would be great if you would have any suggestions. Currently I can see two ways how it could be implemented:

- We're using [emicklei/go-restful](https://github.com/emicklei/go-restful) to provide restful webservices, and we can try to use logging provided by it. It needs to be configured in the way, that w

[2016-01-08 09:12] floreks commented on #228
I think it would be good to use what `go-restful` provides. We can define for every web service different log function or common for every ws. This example shows it pretty good.

https://github.com/emicklei/go-restful/blob/master/examples/restful-NCSA-logging.go

Only thing to establish is whether we need to log differently every WS or use commong log formatting for all.

[2016-01-08 10:00] bryk commented on #228
We should have two layers of logging. One generic, which basically logs all HTTP requests, without knowing what they do. This is actually very useful for debugging. It can show method, URI, cookies or headers. The other specific to api methods, which would help in debugging, like `log.info('creating replica set %#v', foo)`.

[2016-01-08 10:36] cheld commented on #228
I cannot help much as I have briefly looked in the backend code yet.

In Java I would recommend not to mix logs during concurrent rest calls and add some kind of session information to each log. So logs are clean and can easily be filtered for a specific session or specific action.
But, in our case everything different so just ignore my comment :)

[2016-01-08 11:52] cheld commented on #159
I could reproduce the described behavior as well. I had to use a work-around.

Please fix also TODO in:

https://github.com/kubernetes/dashboard/blob/master/src/app/frontend/deploy/createnamespace_controller.js

[2016-01-09 18:50] luxas commented on #200
What host architecture are running on when you are getting `exec format error`?
And on which host have you built `dashboard` on?

`exec format error` arises e.g. when one tries to run an ARM binary on a `amd64` host and vice versa
I think this has with binary compability to do

[2016-01-11 07:06] bryk commented on #200
Btw, the production binary is build for Linux architecture and the Docker image is `scratch`. This may be the reason of crashing on ARM.

[2016-01-11 08:53] maciaszczykm opened #233 "Sidebar background bug"
As you can see on image below, there is a bug with white background (it shouldn't be visible) under labels in sidebar on replica set details view.

![image](https://cloud.githubusercontent.com/assets/2823399/12229504/c56f2d4c-b848-11e5-96cd-dcd1f229a00c.png)

[2016-01-11 08:54] bryk commented on #233
@floreks Works on this already.

[2016-01-11 09:05] floreks commented on #233
I've created PR #234 with fix.

[2016-01-11 09:09] maciaszczykm commented on #233
Okay, then I'm closing it.

[2016-01-11 09:09] #233 closed

[2016-01-11 09:11] floreks opened #235 "Make zerostate view child of the list view"
I'm on it.

[2016-01-11 10:23] luxas commented on #200
Yes, of course the released binaries are built for `amd64`. But we don't know if @sheriffmohamed tried to run it on ARM...

@bryk When you're doing the beta release, could we include ARMv6, ARM64 and ppc64le support OOTB? That shouldn't be hard at all and I may help with it. Cross-ref: kubernetes/kubernetes#17981
I'm running dashoard on my Pi now, but it required quite many hacks. I will create an

[2016-01-11 10:32] bryk commented on #200
Running Dashboard on ARM should not be a problem. We're just a standard HTTP server, so I guess changing compilation arch target should we all we need. Or, am I missing something?

[2016-01-11 12:03] sheriffmohamed commented on #200
@bryk When I got the error, I was actually running dashboard on an AWS Kubernetes v1.1.3 cluster that I created running vivid. I built the binaries locally on my Mac running Kitematic.

I didn't do anything crazy with ARM vs amd64 all standard stuff. Let me know if you need more information.

[2016-01-11 12:29] bryk commented on #200
Okay, I'll test deployment on a K8s cluster soon :)

[2016-01-11 13:28] luxas commented on #200
@bryk No, since this is a statically linked binary, the only thing one have to do it to set `GOARCH=(arm|arm64|ppc64le)` and `GOARM=6`.
So that should be fine

[2016-01-11 13:49] #228 closed

[2016-01-12 09:11] floreks opened #240 "Deploy error when expose service set to true and protocol type is "UDP""
I've found a bug as described in the title. According to documentation:
[Note that while NodePorts can be TCP or UDP, LoadBalancers only support TCP as of Kubernetes 1.0.](http://kubernetes.io/v1.1/docs/user-guide/services.html)

Currently I'm working on fixing this.

[2016-01-13 10:02] f-higashi opened #247 "Wrong number of running and pending pods"
Hi,

Number of running and pending pods in replicasets view shows number of 'current' and 'desired - current' of replicas currently.
So even when pods status is failed, it is counted as running.

I think it is better to change display (e.g. 'x pods created, y desired')
or to get pods of replicaset and count them such as 'kubectl describe' command.

[code]

Actual view

![wrongnumber](https://cloud

[2016-01-13 13:08] bryk commented on #247
Thanks for the bug report! :) We'll look into this shortly

[2016-01-13 15:58] #235 closed

[2016-01-15 15:45] bryk commented on #247
I'm starting work on this.

[2016-01-18 05:24] luxas commented on #200
@sheriffmohamed Then it's because you built it on Mac (aka `darwin`), which isn't binary compatible with `amd64` linux on AWS

[2016-01-18 05:48] luxas opened #258 "gulp-minify-css is deprecated. Use gulp-cssnano instead"
[code]
Will be back with little more info soon

[2016-01-18 07:44] lohmander opened #259 "Source files for design mockups"
Are there any plans to open source the files used for the design mockups? Although they might be simple to reproduce it would be nice to just build on what has already been made.

[2016-01-18 08:07] bryk commented on #259
That's good question. Should be doable if they are in a digestible format. Will check this out.

@kenmoore

[2016-01-18 08:13] bryk commented on #258
I cannot reproduce on master@HEAD. Can you fetch latest version of the repo and try to reproduce?

[2016-01-18 08:15] bryk commented on #200
Btw, if you want to contribute to make production build run on Mac/Win/anything, then go ahead :) This is a nice feature, but none from the core team is looking into this.

[2016-01-18 11:38] Millyna commented on #200
Just to add to this, I have got the dashboard working on my RPi2 cluster.
I've documented it here incase anyone wants to try it...
https://raspberrypicloud.wordpress.com/2016/01/12/kubernetes-dashboard-on-raspberry-pi-2/

[2016-01-18 14:26] bryk commented on #200
That looks really nice @Millyna! If you have any thoughts on what can be improved on our side, let us know, or just contribute to this repository :)

[2016-01-18 14:38] luxas commented on #200
I'm working on the same thing (to run dashboard on ARM clusters), but with one big difference: building is done in a docker container for reproducability. This is something I think upstream also should have.
Right now, there are much dependencies, and not every computer has them installed. Running in a development docker container would be much easier.

When I've fixed up the Dockerfile a bit, I'l

[2016-01-18 14:45] bryk commented on #200
It doesn't for me...

It does. `gulp clean` `gulp build` and I see `dist/dashboard.

Re upstreaming multi target compilation: We're definitely for it. It's just nobody needed this before.

[2016-01-18 14:51] luxas commented on #200
Oh, sorry for the mis-typing. I meant that it doesn't produce a statically linked binary

[2016-01-18 14:54] bryk commented on #200
AFAIK it is statically linked. I haven't checked that in a while, though. Will double check this in a few days when doing alpha releases.

Go compiler code:
[code]

[2016-01-18 14:55] bryk commented on #200
Btw, are you folks working on the same team? Or is it two unrelated k8s-on-arm projects? :)

[2016-01-18 14:57] luxas commented on #200
Yes I saw that and it's very strange.
[code]

[2016-01-18 15:00] luxas commented on #200
@bryk Well, I don't really know :)

I'm doing this on my spare time just for fun :)
But it would be great to collaborate with some other people, of course

@Millyna Are you using `kubernetes-on-arm` for this?
(We've had some contact, but not too much for a while)

[2016-01-18 15:58] luxas commented on #200
@bryk I think I've found why.
[code]
is in pseudo-code something like this:
[code]
but in `gocommand.js` it's
[code]

I guess you thought of implementing it, but forgot it in `gocommand.js`, such things happens
Anyway `export CGO_ENABLED=0` before running `gulp build` produces a static binary.

[2016-01-18 16:16] luxas commented on #200
Whohoo! Finally I'm up and running in a docker container
[code]
Will share the source soon

[2016-01-19 06:46] luxas commented on #258
When running `npm install`:
[code]
It seems like it has to do with `gulp browserify`

However, the `gulp-minify-css` has been deprecated as `npm' says. See this page: https://www.npmjs.com/package/gulp-minify-css
Maybe you want to fix that before this reaches `beta`

[2016-01-19 07:20] bryk commented on #258
Which npm/nodejs versions do you have?

Re gulp-minify-css: Yeah. Will do this at some point ;)

[2016-01-19 07:23] bryk commented on #200
Thank you @luxas for finding the bug! :) I'll fix it soon.

[2016-01-19 07:29] digitalfishpond opened #265 "Since Time Selector (On Logs page)"
Currently working on this

[2016-01-19 07:33] bryk commented on #265
Nice! What since time selector exactly? On the logs page?

[2016-01-19 07:40] digitalfishpond commented on #265
@bryk Hi Piotr, Yes, on the logs page. Just want to check your vision for this task. Do we only need a time picker here? Or is a date picker necessary too?

[2016-01-19 07:43] bryk commented on #265
I'd say we need date-time selector. The pod may be running for a few days, so this is the only possible option, I guess.

[2016-01-19 07:44] digitalfishpond commented on #265
Ok, I'll work on an implementation that's consistent with the look of the other 2 selectors. Thx!

[2016-01-19 08:03] luxas commented on #258
Using official docker image `node`.
[code]

[2016-01-19 08:25] bryk commented on #258
I've tested this. It is not a problem. It is just a warning. The warning is about not critical *peer* dependency.

[2016-01-19 09:19] #247 closed

[2016-01-19 12:42] luxas commented on #258
I'm ok with that. I just notified if it could be a problem.
But for this one, we'll keep it open for `cssnano` (not a huge problem either, but should be fixed)

[2016-01-20 12:44] bryk opened #272 "Incorrect request source in backend logs"
These are my logs. The source does not look right.
[code]

@maciaszczykm Can you take a look?

[2016-01-21 09:09] floreks commented on #240
It's done so I can close.

[2016-01-21 09:09] #240 closed

[2016-01-21 09:09] maciaszczykm commented on #272
Yes, I will fix it today or tommorow.

[2016-01-21 09:12] Millyna commented on #200
@bryk @luxas
late reply, so many emails..
I'm just working alone, I'm a final year SE student and using kubernetes as part as my dissertation.
I was using your project @luxas towards the beginning but kept running into issues (not your fault, or the projects) I decided to build kubernetes myself to gain knowledge and understanding so no longer using! Great project though!

[2016-01-21 09:24] floreks opened #274 "Edit pod count on replica set card menu"
![screenshot from 2016-01-21 10-19-38](https://cloud.githubusercontent.com/assets/2285385/12476378/34bc2690-c029-11e5-829e-342f1cbc85f0.png)

I'm working on this.

[2016-01-21 09:52] luxas commented on #200
OK, I'm working on kubernetes/kubernetes#17981 right now.
There you'll probably find some useful information.

Instructions how to build Kubernetes on arm hosts can be found in the `kubernetesonarm/build` image if you like

I totally agree that the best way of learning Kubernetes is by porting it by yourself, that's how I learned it :smile:

[2016-01-21 12:39] GertiPoppel opened #276 "Clarify dashboard documentation / help"
# Documentation for the Kubernetes dashboard - Proposal

This is a proposal of how the K8S dashboard could be documented, which information should be provided, and how it should be presented to users of the dashboard. The proposal is based on the UI design (mockups).

## Current situation
- The dashboard UI pages provide [Learn more] links. Content is not yet referenced / available.
- ? links for

[2016-01-21 13:01] GertiPoppel commented on #276
Forgot to mention: this issue relates to https://github.com/kubernetes/dashboard/issues/145

[2016-01-21 13:12] bryk commented on #276
This looks awesome proposal Gerti! Give me and others some time to review and think about it.

[2016-01-21 14:59] luxas opened #278 "Provide a description"
@bryk Could you add a description to this project?
It's a bit confusing why there is no.
Something like `General-purpose web UI for Kubernetes"?
I guess there isn't one because of lack of hours a day  :)

[2016-01-21 15:22] bryk commented on #278
Yeah, nobody bothered about this before :)

Done.

[2016-01-21 15:22] #278 closed

[2016-01-22 13:25] maciaszczykm commented on #272
This issue can be closed after/if pull request #283 will be merged.

[2016-01-22 14:13] maciaszczykm commented on #272
@bryk This issue can be closed now.

[2016-01-22 14:42] #272 closed

[2016-01-22 14:45] bryk commented on #276
LGTM

[2016-01-22 14:48] bryk commented on #276
Proposal: Write HTML pages and include references to K8S documentation in the new HTML pages. Is it OK to simply use the Kubernetes style sheet for the new HTML pages?

I'd go for the alternative, i.e., write in markdown and generate HTML for this. The reason is that markdown is really good for writing pages of text, as opposed to HTML, which burdens you about tags/styles/etc. What do you think?

[2016-01-22 14:50] bryk commented on #276
Correct. I say that this is OKay. In 1.2 or 1.3 things may change, and we want to reference the world we know. We can do quick upgrade of all links with find&replace or storing in a common constant.

[2016-01-22 14:52] bryk commented on #276
Correct. The designs here are a little bit too distant in the future :)

[2016-01-22 14:53] bryk commented on #276
For now the input will be in "More options". We don't have an easy way to test whether a repo is private or not.

[2016-01-22 14:55] bryk commented on #276
What do you think about changing our wording from "Replica Set" to "Replication Controller". The name change was supposed to happen soon in K8s core, but it is not. So, to me, it is better to use what is officially supported. @cheld @floreks

[2016-01-22 14:57] bryk commented on #276
Links you've provided LGTM. Let's resolve outstanding questions and implement it.

This is a really high quality writeup. Huge thanks!

[2016-01-22 16:29] floreks commented on #158
@bryk I guess this is already covered by #237. I think we can close.

[2016-01-25 07:32] floreks commented on #276
I was thinking about that since the beginning of project. We should stick with k8s core naming convention.

[2016-01-25 07:33] floreks commented on #274
Merged. Closing.

[2016-01-25 07:33] #274 closed

[2016-01-25 07:38] bryk commented on #158
Yes

[2016-01-25 07:38] #158 closed

[2016-01-25 08:37] GertiPoppel commented on #276
I agree that new doc should be written in markdown (also for consistency reasons with K8S documentation). Do you know the mechanism for generating HTML out of the markdowns? And can this just be taken over from the kubernetes project?

[2016-01-25 08:55] maciaszczykm opened #288 "Event filtering by source"
On replica set detail view mock (image below) there is an event source filter, however, in Kubernetes API there is no more information about event than its source component and host. Filtering is based on 3 options: all, system and user. How we can tell if event is coming from user or system?

![Mock](https://raw.githubusercontent.com/kubernetes/dashboard/master/docs/design/mockups/11-11-2015/19_e

[2016-01-25 09:04] #259 closed

[2016-01-25 09:06] bryk commented on #288
Yeah, LGTM. The idea was that we cleverly distinguish system and user events, but this hasn't been formalized. I'd go for removing this for now and doing other, well-defined, work.

[2016-01-25 09:12] bryk commented on #276
K8s core has some custom code for handling markdown. We can potentially reuse it. See source: https://github.com/kubernetes/kubernetes/tree/4ca66d2aefa20c27b670b2fa890052daadc05294/cmd/mungedocs

[2016-01-25 09:13] bryk commented on #276
Good.

[2016-01-25 09:14] bryk commented on #276
@GertiPoppel Me (or somebody from the team) can research standard markdown processors that are out there. I expect that there are lots of them.

[2016-01-25 09:15] GertiPoppel commented on #276
This would be great! Thank you!

[2016-01-27 13:44] floreks opened #302 "Replica set card status"
I've been working on showing statuses of cards. First draft looks like that:

![screenshot from 2016-01-27 14-37-50](https://cloud.githubusercontent.com/assets/2285385/12615047/aeaa2fc2-c503-11e5-94a4-7bebaaaa491f.png)

The problem is that in order to get status we need to query every pod in every controller and check events. This is time consuming. My proposal is to make it async for every card.

[2016-01-27 13:55] maciaszczykm commented on #302
Draft image looks good, finally getting closer to state, which is present on mocks. I'm curious if we can format error messages somehow.

Regarding performance I think async calls can be solution, but how it would interact with card placing if we don't know if there will be a message (this means we don't know its size)? Definitely some kind of information about progress should be displayed in that

[2016-01-27 14:03] floreks commented on #302
Card placing algorithm actually watches for changes, so it should reposition cards if needed. Hopefully without causing much distraction. Beside that we definitely need some kind of pagination on this page.

[2016-01-27 15:43] bryk commented on #302
Don't we already query all pods for getting their state? Instead of looking for events, you can check state reasons. Can you try this out?

[2016-01-27 15:52] bryk opened #303 "Toolbar hides when there's a popup opened in the app"
@maciaszczykm Try opening image pull secret creation popup to reproduce. Maybe adding `z-index` can help?

[2016-01-27 16:09] floreks commented on #302
That was the first thing I've tried. They were empty. That's because this error messages actually comes from scheduler object and only events connected to a pod have that information.

[2016-01-28 07:17] maciaszczykm commented on #303
Okay, I'll check it.

[2016-01-28 07:59] bryk commented on #302
How about using Reason and Status fields from there: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L1391

We already list all pods in the replica set list page.

[2016-01-28 08:20] floreks commented on #302
That was also my first idea. When there is a scheduler error, f.e. PodExceedsFreeCpu, then pod is in status pending and both message and reason in this structure are empty. Only event shows failure message. Even when there is image pull error this message is empty.

https://github.com/kubernetes/dashboard/blob/master/src/app/backend/replicasetcommon.go#L84

I've checked in here if it contains some

[2016-01-28 08:32] bryk commented on #302
I see. That's bad. So how about checking for events for replica set pods only when there is at least only one pod there that is not in running state. This would cut, like, 90% positive cases.

Re async: The idea behind moving business logic to the backend is to have as much as possible synchronous and fallback to pagination when things get slow. Backend <-> apiserver communication is cheap, wherea

[2016-01-28 08:40] floreks commented on #302
That's actually a good idea. I think we can go even further with that. We are getting pod info anyway so how about extending this method and if there is a pod that is in state != running then querying for this pod related events only. Fallback message about warnings could come directly with replica set list structure when loading cards.

[2016-01-28 08:46] maciaszczykm commented on #303
Okay, I got it. It was caused by Angular behavior, which sets `position: fixed` to `<body>` after clicking option picker. Setting `top: 0` on `kd-toolbar` fixes the issue. Created pull request #304, after it will be merged this issue can be closed.

[2016-01-28 22:24] ericandrewlewis opened #307 "Can't build a docker image"
The [readme says](https://github.com/kubernetes/dashboard/blame/master/README.md#L98) I can run `gulp docker-image` to create a docker image.

Running this command outputs
[code]

[2016-01-28 23:36] ekozan commented on #307
doc need to be updated :)

but look at build/deploy.js next time ...

``` gulp docker-image:canary ```

[2016-01-29 01:38] gopinatht opened #308 "Unable to use on the Mac"
1) git clone
2) npm install
3) gulp local-up-cluster

I get the following error on the third step:
`[17:34:10] Failed to load external module babel/register
/Users/Gopinath/Documents/Gopinath/dev/PrintStudioWrap/spark/dev/dashboard/gulpfile.babel.js:21
import './build/check';
^^^^^^
SyntaxError: Unexpected reserved word
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.j

[2016-01-29 07:11] bryk commented on #308
What's your node version? 4+ is required.

[2016-01-29 07:12] bryk commented on #308
The dev environment works on mac - I'm using mac.

[2016-01-29 07:19] bryk commented on #307
Btw, we have a pending pull request that updates the docs! :)

[2016-01-29 16:25] ericandrewlewis opened #311 "Specify to install Java JDK in docs"
I never use Java and found figuring out what to install confusing. Maybe we can specify to install the Java JDK rather than [whatever this is](https://www.java.com/en/download/).

[2016-01-29 17:10] gopinatht commented on #308
@bryk I updated my node version to v5.4.1 and gulp is 3.9. NPM is 3.3.12. I deleted and cloned the repo again.

I am still getting this error:

`gulp local-up-cluster
[09:09:02] Failed to load external module babel/register
/Users/Gopinath/Documents/Gopinath/dev/PrintStudioWrap/spark/dev/dashboard/gulpfile.babel.js:21
import './build/check';
^^^^^^

SyntaxError: Unexpected token import
    at expo

[2016-01-29 17:12] luxas commented on #311
A docker dev env will soon be merged: #279
That's the easiest way of running and building `dashboard`

[2016-01-29 17:19] gopinatht commented on #308
@bryk When I do npm install, I get these warnings:

`npm WARN deprecated gulp-minify-css@1.2.3: Please use gulp-cssnano instead.
npm WARN deprecated lodash@1.0.2: lodash@<2.0.0 is no longer maintained. Upgrade to lodash@^3.0.0
npm WARN deprecated npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm`

[2016-01-31 12:49] cheld opened #313 "External link not displayed without load balance"
Prerequisites:
1. Run local cluster
2. Open Dashboard

Steps:

1. Open deploy dialog
2. Enter data
3. click expose service externally
4. Click deploy

=> no external link is shown

The current implementation expects a load-balancer. However, load-balancer is optional and it should work without. A link with nodeport should be displayed in case load balancer is not available.

I would suggest the fo

[2016-01-31 12:52] cheld opened #314 "Cluster sticks with zerostate even if pod is created"
Prerequisites:
1. Running, empty cluster
2. Go to zero state

Steps:
1. kubectl run test --image="tutum/hello-world"
2. Reload browser

=> nothing happens. Cluster seems to be empty

[2016-02-01 03:04] zhangwen-qq opened #315 "dashboard can't build on debian jessie"
I have all versions of requirements already, but still can't build dashboard. Maybe I missed something else?

[code]

and the output is like this:
[code]

[2016-02-01 08:29] bryk commented on #311
I've clarified this in the documentation. But as @luxas mentioned, you can now `build/run-gulp-in-docker.sh serve` to serve the dev version of UI.

[2016-02-01 08:29] #311 closed

[2016-02-01 08:29] bryk commented on #311
Fixed?

[2016-02-01 08:49] bryk commented on #308
With @luxas we've made it possible to have only docker to run this project. Basically we run our build system inside docker that has all dependencies. Try `./build/run-gulp-in-docker.sh serve`.

[2016-02-01 09:00] bryk commented on #308
Do you start with npm install, btw?

[2016-02-01 09:15] bryk commented on #315
@cheld @floreks @maciaszczykm Can you guys help here?

[2016-02-01 09:38] floreks opened #318 "Backend test does not clean up after execution"
During writing go tests I've encountered that this test:

https://github.com/kubernetes/dashboard/blob/master/src/test/backend/deploy_test.go#L163

is creating namespace `development` during execution. Second execution of test results in failure as namespace already exists and is not deleted afterwards.

[2016-02-01 09:46] bryk commented on #318
Ouch, that's true. The test talks to real local cluster.

@batikanu Can you fix this?

[2016-02-01 09:49] bryk commented on #313
LGTM

[2016-02-01 09:52] bryk commented on #313
If we can check it during creation time, then LGTM. But this needs investigation?

[2016-02-01 09:52] bryk commented on #313
Can anyone take this?

[2016-02-01 10:02] bryk commented on #314
Fixed?

[2016-02-01 10:05] bryk commented on #307
Docs are fixed now.

[2016-02-01 10:05] #307 closed

[2016-02-01 10:46] batikanu commented on #318
Ok I will check it

[2016-02-01 10:51] cheld commented on #314
Yes

[2016-02-01 10:51] #314 closed

[2016-02-01 11:41] GertiPoppel commented on #276
@bryk I would like to rename replica set into replication controller. Should this be "rc" then, or "replicationcontroller" / ReplicationController? I vote for rc / RC.

[2016-02-01 11:43] cheld commented on #313
@floreks @maciaszczykm @batikanu Can anyone have a look?

[2016-02-01 12:05] maciaszczykm commented on #315
@zhangwen-qq Software versions, that you have listed seem to be alright. Mine are almost the same:

[code]

Which exact command fails? Have you tried using [creationix/nvm](https://github.com/creationix/nvm) to get proper node.js version? What system are you using? Have you tried executing commands as reqular user, not as a root? Perhaps there is sommething missing in root enviroment.

[2016-02-01 12:11] luxas commented on #315
I've encountered this. You have to run `bower install`
`sudo npm install ` doesn't run `bower install` if it's root (don't ask me why)

[2016-02-01 12:19] maciaszczykm commented on #313
I'll check it.

[2016-02-01 13:59] bryk commented on #276
Hmm... This is getting more complicated. Take a look at the issue: https://github.com/kubernetes/kubernetes/issues/3024

Current status is that there are both, Replication Controller and Replica Sets. Ideally, I think that we should display both on our list page, because their difference is very slight.

[2016-02-01 14:08] bryk commented on #276
However I do feel that we need to do the renaming. As for the name, I'd go for full names everywhere, i.e., `replicationcontrolller`, not `rc`. All code in the project uses long names. The reason is that we optimize for code reading, not writing :) `rc` maybe obvious at the time when you write code, but when a new team member comes to the project, it is not.

[2016-02-01 14:22] GertiPoppel commented on #276
If I understand the discussion in  kubernetes/kubernetes#3024 correctly, Replication Controller was renamed to ReplicaSet.

So, maybe we should postpone the renaming ;-)

I am not sure whether I understand the difference between a Replication Controller and ReplicaSet.

I agree to using long names throughout the project, just thought of the rc usage of kubectl.

[2016-02-01 14:30] floreks commented on #139
For now this is resolved using `_variables.scss` with some global style configuration.

[2016-02-01 14:30] #139 closed

[2016-02-01 14:55] cheld opened #323 "Clean up service when deleting a rc"
Steps:

1. Go to deploy page
2. Select upload yaml
3. Select guestbook-all-in-one.yaml
4. Deploy
5. Delete all RCs
6. Repeat steps 2-4.

=> Error: master service already exists

This is not nice. Especially, in case a yaml is selected, because the names cannot be changed easily.

I think we discussed some kind of clean-up.

Please someone has a look at this bug. Please fix before release.

[2016-02-01 14:58] bryk commented on #276
By reading the bug I believe that this is no longer renaming. This is having two objects for some time and then deprecating one. This means that Replica Sets and Replication Controllers will be there for some amount of time and our UI shows Controllers, not Sets. Hence, I think we should rename. What do you?

[2016-02-01 15:16] bryk opened #324 "Always show cluster IPs when there is no DNS addon installed"
Otherwise we show invalid endpoints in when there is no DNS addon.

[2016-02-01 15:19] bryk commented on #323
Yeah. A checkbox and prompt on what will be deleted in the delete form would be nice.

I cannot take it ATM. This is high priority. Anyone can take this?

[2016-02-01 15:22] floreks commented on #323
I can work on this one. I'll prepare some concept.

[2016-02-01 19:44] ekozan opened #325 "[Bug] Safari on Mac os dont show kd-replica-set-card"
they have a css bug on safari nothing show but kd-replica-set-card is present

![kubernetes_dashboard](https://cloud.githubusercontent.com/assets/688184/12728921/71376cac-c924-11e5-8152-bb67fd238ff7.png)

[2016-02-01 20:24] ekozan commented on #325
just think abut one thing i try the pre-build docker img it's may be not the last version

[2016-02-02 05:45] zhangwen-qq commented on #315
@bryk @maciaszczykm @luxas
Tried bower install and it works.
Really appreciate all your help! This saved me tones of time.
It's comfortable to use dashboard, Good Job

[2016-02-02 05:46] zhangwen-qq commented on #315
@bryk @maciaszczykm @luxas
Tried bower install and it works.
Really appreciate all your help! This saved me tones of time.
It's comfortable to use dashboard, Good Job

[2016-02-02 05:46] #315 closed

[2016-02-02 08:35] GertiPoppel commented on #276
OK. I understand. Then I will rename replica sets to replication controllers.

[2016-02-02 11:03] bryk commented on #325
Fixed already on HEAD. I've pushed new canary image. You can test it out.

In the future, btw, we'll be pushing canary images automatically.

[2016-02-02 11:03] #325 closed

[2016-02-02 13:07] batikanu commented on #318
It is solved with #321

[2016-02-02 13:10] #318 closed

[2016-02-02 17:31] luxas opened #327 "How to cross-compile"
Now with docker based setup it's very easy to cross-compile:
[code]
This produces the image, but it's tagged as normal `amd64` ones.
I tried to modify the `gulp` code, but I just don't get it working.

We want a `docker-image:cross` task, that depends on `build-frontend` and `docker-file`. Then it should call a function that builds the backend for the right arch. It's possible to refactor `backend

[2016-02-03 08:12] cheld commented on #327
The gulp task suffixes are use case oriented. Basically, :prod is for CI and nothing is for development. So, please do not use suffixes like 'no-frontend' or 'cross'. It would get very confusing. Cross compilation will be done only in CI so simply give the task the suffix :prod

The docker tasks are currently not integrated in the build process. In general, it would be nice to build the container

[2016-02-03 08:40] bryk commented on #327
I dont agree. There's no need to run cross compilation on CI. Theres no benefit from this. The CI can potentailly cross compile, but cannot run the cross compiled code, as it is single architecture.

The cross compilation would be used when releasing new version. I.e., when calling `gulp push-to-gcr:{release,canary}`.

Am I correct?

[2016-02-03 08:47] bryk commented on #327
@cheld @luxas
How about rearranging our dist/ folder so that it is divided by architecture. So there would be dist/amd64, dist/arm, etc. With that, we could have `build` and `build:cross` (name TBD). The first would build for current architecture, the other would iterate over architectures and build for all of them. This would require having `:cross` and default versions of a few tasks and moving

[2016-02-03 14:44] luxas commented on #327
First off, cross-compilation should not be run on CI. Of course, the downside is that one _might_  introduce only-working-on-amd64 `go` code without a CI failure, but that's a rare scenario and I don't think it will happen.

I have one idea that might work. If every (or at least some) module exported their functions, then another module `deploy_cross.js` or something could import `buildBackendProd

[2016-02-03 15:19] bryk commented on #327
Can you give me the bash script that would iterate over all archs and call gulp docker-image?

[2016-02-03 16:36] luxas commented on #327
[code]
That will produce images for all platforms. You just have to push them after that.

[2016-02-03 16:52] bryk opened #330 "Establish release process procedure"
We should establish reliable release process to be included as a default addon for K8s clusters. Here's my proposal.

For each release:

1. Send a pull request that increases version number in `build/conf.js`. Follow semver versioning: http://semver.org/.
1. The pull request should contain release notes written in `CHANGELOG.md`.
1. Get it reviewed and merged.
1. Create a git tag for the merged PR

[2016-02-03 16:52] bryk commented on #330
@floreks @maciaszczykm @cheld Please review.

[2016-02-04 07:27] bryk commented on #327
I've got the following errors when cross-compiling. Do you know what they are?

[code]

[2016-02-04 07:47] cheld commented on #330
Sounds very good to me.

Step 4-5: I assume this is done manually.

BTW:
* Do we plan to run tests in a real cluster with a real setup?

* At some point in time we were thinking about executing tests against multiple versions of Kubernetes.

I don't think this should be part of the release process, but where would that fit in?

[2016-02-04 08:14] floreks commented on #330
LGTM :)

Are we going to push images for different architectures or only main one?

[2016-02-04 08:15] floreks commented on #323
It's done so we can close.

[2016-02-04 08:55] #323 closed

[2016-02-04 09:01] maciaszczykm commented on #330
It's good to have this. LGTM

[2016-02-04 11:05] bryk opened #331 "Show zero state page even when there are things in kube-system namespace"
kube-system namespace is not intended for end-users, so we should show zero state even if there's something there. We can also show a link to bypass zerostate and show RCs anyway.

[2016-02-04 12:00] luxas commented on #330
LGTM.

How about release branches like `release-1.0` or something when this is stable? Is it necessary/an option?
For how long will you support e.g. different k8s releases and for how long is `dashboard` backwards-compatible.

[2016-02-04 12:06] luxas commented on #327
Thanks for pushing an `arm` image :)
Which version of `go` do you have? I think it should work with `go1.5.3`
Maybe it's best to run this inside the docker container?
`docker run -it -v /var/run/docker.sock:/var/run/docker.sock kubernetes-dashboard-build-image /bin/bash` and execute the script from there...

If you like I can send a PR with this temporary `build/cross.sh` script...

[2016-02-04 13:05] bryk commented on #330
But discussions about this haven't happened yet. We can either go with having only one version (i.e., the latest) or support a few major releases.

We're aiming for the same support horizon as k8s core. This means that the UI should work on any cluster that is not extremely out of date.

[2016-02-04 13:12] bryk commented on #82
Done?

[2016-02-04 13:12] #82 closed

[2016-02-04 13:13] #76 closed

[2016-02-04 13:41] bryk opened #333 "Run JS tests on multiple browsers"
We should run JS and integration tests on multiple browsers. In particular IE, Chrome and Firefox. This is doable for open source projects thanks to saucelabs.

[2016-02-04 14:01] bryk commented on #330
Followup proposal:

Start using conventional commit messages to facilitate writing release notes and have better git history. Info: https://docs.google.com/document/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y/edit#heading=h.uyo6cb12dt6w

@maciaszczykm @cheld @floreks @taimir @batikanu Review please.

[2016-02-04 14:20] bryk commented on #327
I'll try to run this in the docker image next time. Maybe by base system misses some libraries.

[2016-02-04 14:21] bryk commented on #327
No need to rush on this. Let's do the proper way, i.e., fragment the build artifacts into separate directories for each arch and make gulp take care of this :)

[2016-02-04 14:47] bryk opened #334 "Details page is really wide. Make it work on smaller screens."
When you open the details page on, e.g., 13 inch laptop, it does not feel good. Even worse on mobile or tablet. Can we make something to fit all details on one screen? Maybe hide left nav into a tab?

[2016-02-04 14:47] bryk commented on #334
@floreks @maciaszczykm Opinions?

[2016-02-04 15:13] floreks commented on #334
I agree. We could just show small tab with arrow back and button that would expand the sidebar over the current view. Clicking outside of it would hide it again. What do you think?

[2016-02-04 15:18] maciaszczykm commented on #334
I think, that adding possibility to hide sidebar would be very nice feature. We can hide details into another tab and like @floreks mentioned, we can add `hide/show` switch. Second option however won't solve all problems on mobiles, because with expanded sidebar there will be no difference to current state.

[2016-02-04 15:58] bryk commented on #334
Re show/hide on the details on the left: the problem with this is that on the left hand side we'll likely have a navigation menu. So having two hide/show left menus would not look great. Opinions?

[2016-02-05 08:23] maciaszczykm commented on #334
@bryk Menu and the sidebar on the same side would be too much. I'm for changing sidebar into tab of existing `md-tabs` then.

[2016-02-05 14:58] bryk opened #336 "Port mapping input fails when 0 value is entered"
When you enter `0` value for port mapping value it gets ignored.

Thanks @maciaszczykm for finding this problem.

[2016-02-08 01:32] therc opened #338 "apiserver-host incorrectly handles trailing slashes"
Setting --apisever-host to http://a.b.c.d:x results in broken requests like

http://a.b.c.d:x/v1/replicationcontrollers

I'm not sure exactly how that's happening. Perhaps APIPath should be set in the client config?

[2016-02-08 08:54] maciaszczykm commented on #336
I can take care of this. I sugesst to set minimum port number to `1`, because port `0` shouldn't be used. Otherwise I'll change validation method.

@bryk What's your opinion about it?

[2016-02-08 08:56] maciaszczykm commented on #303
@bryk It's fixed now.

[2016-02-08 09:01] maciaszczykm commented on #334
@bryk Should we change sidebar into new `md-tab`? I can create PR for this.

[2016-02-08 09:41] bryk commented on #336
Sounds good.

[2016-02-08 09:41] #303 closed

[2016-02-08 10:11] #336 closed

[2016-02-08 10:16] bryk commented on #334
Hmm.... I dont know. Do you want to just move details to a tab, or hide/show it based on screen width?

[2016-02-08 10:20] maciaszczykm commented on #334
Yes, moving it to tab in all cases seems to be not the best idea... Maybe it should be done only in specific cases. But it means **a lot** of refactoring. I'll play with it and check if I'll have any good idea.

[2016-02-08 10:28] bryk commented on #338
How do you run the Dashboard? I run it like this and it works.

[code]

[2016-02-08 10:38] floreks commented on #334
I was thinking about effect similar to this: When width is too small then sidebar can be shown like that with some button to show/hide.

http://gfycat.com/PracticalZanyEasternglasslizard

[2016-02-08 10:46] bryk commented on #330
Ping?

[2016-02-08 10:59] bryk commented on #334
@floreks Yeah, this is cool, but I'm pretty sure we should reserve this kind of behavior for application wide menu. Do you agree?

[2016-02-08 12:06] floreks commented on #334
That's a good point. I agree.

[2016-02-08 12:16] maciaszczykm commented on #330
How should we use it for us? I agree, that one naming convention is good idea, but should we use exactly the same pattern as AngularJS?

[code]
[code]
[code]
[code]
[code]

Or should we create own pattern? I'm not convinced about modules put in brackets, we should define them so everyone will use the same.

[2016-02-08 15:02] maciaszczykm commented on #334
I'm working on this. It'll take some time though.

[2016-02-08 15:04] #330 closed

[2016-02-08 15:05] bryk commented on #334
@maciaszczykm Can you describe the behavior you're working on? Or are you just experimenting?

[2016-02-08 15:10] maciaszczykm commented on #334
I'm experimenting, but I've got some concept. It's not yet fully ready, but you can check my `details-styling` branch. General idea is to move sidebar to `md-tab` if page is too narrow.

[2016-02-08 15:17] bryk commented on #330
@maciaszczykm After a second thought I think that conventional commits from AngularJS do not make sense for our project. We're a consumer product rather than a library.

[2016-02-08 15:17] bryk commented on #330
Agree to drop the conventional commits proposal?

[2016-02-08 15:24] bryk commented on #144
Closing as stale.

[2016-02-08 15:24] #144 closed

[2016-02-08 15:24] bryk commented on #74
Closing as stale.

[2016-02-08 15:24] #74 closed

[2016-02-08 15:24] bryk commented on #109
Closing as stale.

[2016-02-08 15:24] #109 closed

[2016-02-08 15:59] therc commented on #338
This is the setup:
[code]
Your log message doesn't guarantee anything, because I get that far, too:

[code]

It's when you actually try to open the dashboard that you find it's broken:

[code]

There's no way to log what it's doing, so with the help of tcpdump I found that it's trying to hit `/v1/replicationcontrollers` on the apiserver, without the leading `/api`.

[2016-02-08 16:11] therc commented on #338
Now I'm wondering if this actually a bug in the client itself, not in the dashboard.

[2016-02-09 07:32] luxas opened #341 "Switch CI to dockerized builds"
I think we want to use the dockerized build for Travis CI at some point in the future.
Is it easy to do? Thoughts on that?
@bryk @cheld

[2016-02-09 07:52] bryk commented on #338
You have trailing slash at apiserver host `http://a.b.c.d:8080/`. Maybe removing it can fix this?

[2016-02-09 07:58] maciaszczykm commented on #330
We should borrow some good ideas from them, for example using one form of verb is good. `Fix` instead of `Fixed`, `Fixing` etc. looks good. Also we can decide if we are using capital letters and dots :)

[2016-02-09 08:05] cheld commented on #341
My thoughts:

Advantages:
- run-gulp-in-docker.sh would be tested
- The build is not so dependant on travis

About easy:
``run-gulp-in-docker.sh check:local-cluster`` is the task that is executed on travis. If I run this command on my machine it seems not to complete... In general it creates a local-cluster and is doing some selenium click tests. You probably know better if this is easy or not.

[2016-02-09 08:17] cheld commented on #330
I think in some projects (like a database development) commit history is very helpful and used intensively. In UI projects commit history is typically not used much. So, I would suggest to focus on the needs of creating release notes.

[2016-02-09 08:19] bryk commented on #341
Right now our travis config contains almost no project specific thing. Basically, it just runs `./node_modules/.bin/gulp check:local-cluster`.

So the benefit of running in docker on Travis would be testing our Docker config, right? Anything else?

[2016-02-09 13:56] batikanu commented on #334
I think md-tab solution from @maciaszczykm looks practical right now. If we use show/hide menu, we need to replace kubernetes logo with menu icon in small sizes or let it open from right side and locate the icon on the right corner.

[2016-02-09 14:05] batikanu commented on #334
At smartphone size still the events and pods table should be scrolled horizontally a lot to see one line. There is also an option for table rows like in this example https://css-tricks.com/examples/ResponsiveTables/responsive.php by making each row its own table.

[2016-02-09 14:08] batikanu commented on #334
Or freeze the first column and scroll the rest

[2016-02-09 14:17] maciaszczykm commented on #334
@batikanu It's nice idea. It can be done in next pull request.

[2016-02-09 15:26] therc commented on #338
Thanks... it's a bit crazy that the trailing slash makes a difference, but it does. I'm assuming I'll be the first of many.

[2016-02-09 15:44] therc opened #345 "ELB long names continue past the card's right border"
ELB names are, admittedly, very long. Make them wrap, truncate abruptly or truncate with an ellipsis.

This is what they look like right now:
![screenshot from 2016-02-09 10-29-13](https://cloud.githubusercontent.com/assets/13481082/12921189/0083dc2e-cf1a-11e5-8b8c-15b20c5d9bd6.png)

You'll also notice that there's space wasted on the sides because of the fixed card size. Are there any plans to ma

[2016-02-09 17:17] floreks commented on #345
We are aware of that, but thanks. :) I'm currently working on making dynamic middle ellipsis that fit available space when some strings are too long.

[2016-02-09 17:26] therc commented on #345
Cool. Looking forward to the fixes!

[2016-02-10 09:55] bryk opened #346 "Integration testing user stories"
We're doing integration/e2e testing based on user stories. This issue names and enumerates the stories.

1. "Simple deploy" -> Deploy 1 replica nginx application using simple deploy form. See that a card for it is created.
2. "Advanced deploy" -> Deploy multi replica nginx application. Expose port 80 externally. Access the external endpoint. See that details page has N pods listed.

[2016-02-10 09:55] bryk commented on #346
CC @floreks @maciaszczykm @cheld +others

Can you add other stories so that we have, like, 3-5 of them?

[2016-02-10 10:15] bryk commented on #334
@batikanu The responsive table you've linked looks really nice! :) Thanks for finding it. We can iterate on this in a next PR.

[2016-02-10 10:26] bryk opened #347 "Update K8s vagrant provider to use dashboard UI"
Per discussion at #340

@cheld

[2016-02-10 10:26] bryk commented on #347
If you dont have time for this, assign to somebody else.

[2016-02-10 10:40] floreks commented on #346
3. "Deploy not existing image" -> Deploy not existing app like `test`. Check that card has error status notification. Check error msg. Go to details page, events tab. Filter by warnings and check. Go to logs and also check for errors.

[2016-02-10 10:44] maciaszczykm commented on #346
Few proposals:
- deploy to newly created namespace  - create new namespace, then deploy application into it using deploy form
- deploy from .yaml file - deploy application using .yaml file, check if details page matches application specification from .yaml file
- delete application - delete application (can be tested with and without service option)
- update pods count - update pods count and chec

[2016-02-10 10:48] bryk commented on #338
Thanks for reporting this! :) We will fix the problem or document the behavior.

[2016-02-10 11:00] bryk commented on #345
@therc We are very happy that you're reporting the bugs. Thanks for this! Please report any issues you run into, especially on AWS. We're on bug-fix mode now.

[2016-02-10 11:25] cheld commented on #346
1. "Simple Deploy" ...click link and check if application is running
2. "Advanced deploy"...deploy guest book, check if application is running. enter one value and see that it is displayed.

This is a minimum sanity check, I would like to see.

What about using a different container than nginx? Some special test container like tutum/hello-world?

[2016-02-10 11:48] cheld opened #348 "Add namespace selector for replication-controller-list page"
When deploying an app, it is possible to select/create a namespace for it. However, in the replication-controller-list page it is not possible to utilize this information. Also, by default all the add-on containers are shown. IMHO, this is not so nice. As a user I would say I do not want the add on containers mixed with my application containers.

I would suggest to add some kind of namespace sele

[2016-02-10 11:51] bryk commented on #346
Using other image than nginx sounds good to me.

[2016-02-10 12:01] bryk commented on #348
Now I remember. This was in some of Ken's early mocks. Take a look:
![namespaces](https://cloud.githubusercontent.com/assets/1159999/12946666/5d6bf0f2-cff6-11e5-9f43-ef719d29ec8d.png)

[2016-02-10 13:01] cheld commented on #348
Nice.

From user point of view, I think in most cases I only want to see one namespace at a time.

So, my suggestion:
- add a selector at the top
- show the cards like in the mockup if 'all' is selected

[2016-02-10 13:17] likku3 opened #349 "Unable to access Kubernetes UI"
Please guide me to over come this error .
![kube-ui](https://cloud.githubusercontent.com/assets/16572724/12948231/b7866128-d026-11e5-9350-4edd2c761bf4.jpg)

[2016-02-10 13:19] bryk commented on #349
AFAIU Dashboard cannot talk with your master. Do you have any security restrictions for talking with the master?

[2016-02-10 13:20] cheld opened #350 "Manual testing"
We want to create a manual testing document. A process we have had best results in the past is what we call 'FBT' (Factor Based Testing).

In this approach test factors are defined. e.g.

* Browsers
* Input border cases
* Concurrency

Then we define variations of each factor (we call this level)
[code]
Important to understand:
* the document does not state the expected outcome. This is intentional

[2016-02-10 13:25] likku3 commented on #349
I am Sorry ,I didn't got your question.My master server is deployed in AWS  and i am trying to access the dashboard from my local machines.Please let me know if you need any details from the master and remaining nodes.

[2016-02-10 13:25] cheld opened #351 "Pagination for logs and events"
Currently all logs and events are loaded into the browser. This can easily become a performance (and memory) problem, especially for logs.

So, we should add some paging or lazy loading mechansim

[2016-02-10 13:33] bryk commented on #349
Can you attach logs from the Dashboard? Find pod name with `kubectl get pods --namespace=kube-system` and then `kubectl logs <pod name> --namespace=kube-system`.

[2016-02-10 13:41] maciaszczykm opened #352 "Logo placement bug"
We've an issue with Kubernetes logo placement if page is too narrow.

Standard case, where everything is okay (window is 1200 px wide):

![image](https://cloud.githubusercontent.com/assets/2823399/12948706/ff5fae78-d003-11e5-8bb1-b66cdb8ae300.png)

Bug (window is 800 px wide):

![image](https://cloud.githubusercontent.com/assets/2823399/12948725/349a01ba-d004-11e5-93d5-7c67e2658f63.png)

I can wor

[2016-02-10 13:50] bryk commented on #350
I dont quite understand how I use the document to execute the test. Can you explain a little bit?

[2016-02-10 13:56] likku3 commented on #349
core@master ~ $ ./kubectl get pods --namespace=kube-system
NAME                                READY     STATUS    RESTARTS   AGE
kubernetes-dashboard-v0.1.0-x6l5a   1/1       Running   0          1h

core@master ~ $ ./kubectl logs kubernetes-dashboard-v0.1.0-x6l5a --namespace=kube-system
2016/02/10 12:16:54 Starting HTTP server on port 9090
2016/02/10 12:16:54 Creating API client for
ERROR: loggi

[2016-02-10 14:11] bryk commented on #349
@cheld @floreks Have you ever seen this?

[2016-02-10 14:12] bryk commented on #349
https://groups.google.com/forum/#!topic/google-containers/pSEUOcWNUbc

[2016-02-10 14:13] bryk commented on #349
What's your cluster master version?

[2016-02-10 14:16] floreks commented on #349
I haven't encountered this error before. It looks like some salt problem or version mismatch.

[2016-02-10 14:17] likku3 commented on #349
No,This is my first time installation of k8s in lab environment.Master cluster version is v1.0.3.

[2016-02-10 14:20] floreks commented on #349
I think our minimum supported version is 1.1? @bryk am I correct?

[2016-02-10 15:14] cheld commented on #350
I suggest we make a hangout call on friday. I am not in office tomorrow.

[2016-02-11 07:36] likku3 commented on #349
It's a version mismatch ,able to solve the issue.Thanks for your help floreks and bryk

[2016-02-11 09:13] bryk commented on #352
Thanks for reporting. Just comment here if you start working on this.

[2016-02-11 09:14] digitalfishpond commented on #352
Working now

[2016-02-11 09:14] bryk opened #355 "Document which versions of K8s masters are compatible"
Per #349, the UI does not work on 1.0.x masters.

[2016-02-11 09:16] digitalfishpond commented on #352
It comes from Chrome.css > .kd-toolbar-tools  This class is only used for this logo. Is there any reason anyone knows about why it's set to "0 auto" rather than just "auto" (which solves the issue)?

[2016-02-11 09:40] bryk commented on #348
@floreks @maciaszczykm Inviting to discussion re: "All namespaces or namespace selector".

[2016-02-11 09:42] bryk commented on #350
OK

[2016-02-11 10:20] maciaszczykm commented on #348
This early mock looks nice, but I agree, that we should be available to filter displayed namespaces. I would list them all and create checklist:

- [x] default
- [x] namespace-1
- [ ] namespace-2

In this case we should display replication controllers only from default and namespace-1 namespaces.

Moreover, some switch to hide groups (current state) would be nice.

[2016-02-11 10:22] floreks commented on #348
I've have a little different idea of handling that. How about making expandable rows that will hold card containers. This represents the idea: http://jsfiddle.net/Pixic/6Texj/

On click all other expanded namespaces would be collapsed again. What do you think?

[2016-02-11 10:34] bryk commented on #352
I probably did the `0 auto`. If just `auto` works, then perfect, go ahead.

[2016-02-11 11:05] bryk opened #357 "Setup codecov for backend code"
At in title. Setup codecov coverage for backend code. We already have this for frontend.

CC @floreks ?

[2016-02-11 11:24] bryk commented on #348
@floreks So you say to show all namespaces, but make the containers that contain them collapsable?

[2016-02-11 11:28] floreks commented on #348
Yes, then on click we can async load data related to namespace and collapse others. One namespace would be shown at a time. Normally we would start with default namespace.

[2016-02-11 11:34] floreks commented on #357
I'll take a look at that.

[2016-02-12 08:31] #352 closed

[2016-02-12 08:54] cheld commented on #348
Hmm...the namespace concept is a bit fuzzy. So lets define some scenarios and use cases first.

If I remember correctly, the namespaces have been requested by RedHat for OpenShift. I have never checked myself, but I assume that OpenShift uses namespaces to separate applications

=> Use Case 1: one namespace for each application

In a development project, several roles are involved (QA, doc, PM). T

[2016-02-12 09:39] bryk commented on #348
@dodwyer Can you describe how you use namespaces in Kubernetes?
We're having a discussion here on whether to show applications from all namespaces at once or one-namespace-at-a-time.

[2016-02-12 09:59] bryk commented on #348
I'm worried about discoverability and exposure to advanced K8s concepts for all users. The problem is that when user opens the apps view, we show apps from a namespace (default perhaps?). In most cases where there is more than one namespace, this does not make sense. Why is _default_ namespace better than other ones? So now comes the problem. User has now to understand what namespaces are, think,

[2016-02-12 10:36] bryk commented on #357
Awesome, thanks!

[2016-02-12 10:37] bryk opened #366 "Display usage metrics for multiple resources"
Dashboard should provide kubedash-like functionality to allow for monitoring Kubernetes resources, like seeing resource usage of a pod over time.

[2016-02-12 10:40] bryk commented on #366
As of now, mini-graphs of resource usage are worked on, see mocks: https://raw.githubusercontent.com/kubernetes/dashboard/master/docs/design/mockups/11-11-2015/17_job%20details.png

When this is done, adding new graphs in other places will be easy, as the infrastructure will be there.

[2016-02-12 10:41] bryk commented on #366
CC @bgrant0607-cc @aronchick @joeatwork

[2016-02-12 11:07] bryk opened #367 "Jitter on deploy page when name validation happens"
@digitalfishpond Can you fix this? You already had a solution for this, I think.

[2016-02-12 11:55] cheld commented on #348
Ok, we shouldn't be academic, we should ask the users :)

So, I asked one operator in our neighbour team which started using Dashboard in production. It is a normal DevOps team very similar to most projects, I would say.

They do not like the current state. He would prefer Ken's proposal. In the future he would like to see some kind of filtering.

[2016-02-12 11:56] cheld commented on #348
Namespaces in Tectonic
![tectonic_namespace](https://cloud.githubusercontent.com/assets/7448799/13006269/0822cba0-d188-11e5-939d-415d01b38539.png)

[2016-02-12 12:37] maciaszczykm commented on #313
This issue is fixed now, #369 is continuation of it.

[2016-02-12 14:12] vishh commented on #366
cc @vishh

[2016-02-12 14:33] bryk opened #371 "Introduce HTML formatter to the project"
Like this one: https://www.npmjs.com/package/gulp-prettify

The formatter would save us code review time and produce consistent code.

The proposal is pretty similar to what we have with JS now. In `gulp lint` check that HTML formatter does not change the code.

@maciaszczykm Can you take it? :)

[2016-02-12 14:51] maciaszczykm commented on #371
@bryk Sure, I can.

[2016-02-12 14:56] floreks commented on #357
I've checked that briefly and I'm afraid that all tests would have to be refactored to make codecov work with Go.

https://github.com/codecov/example-go

We are not using any testing framework or matcher in tests. Also we would need to use ginkgo reporter. This is quite big change. Should we go with that now?

[2016-02-12 18:07] joeatwork commented on #366
I'm in the process of adding this fn now - the API freeze might make it more difficult, though.

[2016-02-12 18:45] aronchick commented on #366
That's great to hear Joe! Let me know if there's anything we can do between
now and then.

On Fri, Feb 12, 2016 at 10:07 AM, Joe Bowers <notifications@github.com>
wrote:

[2016-02-13 00:26] codegoblins commented on #348
We use namespaces as tenants, so I like @cheld's suggestion - I would also like to be able to set a default namespace to start in, because it takes almost 20 seconds to load everyone's deployments.

[2016-02-13 00:43] codegoblins opened #373 "App name validation in deploy flow causes 500s"
<img width="1049" alt="screen shot 2016-02-12 at 3 29 09 pm" src="https://cloud.githubusercontent.com/assets/1609602/13024291/66a95436-d1a7-11e5-9cb3-8db2d4d06979.png">

Console output:
[code]
- This causes the form to be invalidated
- This happens in any namespace
- It seems only application names that start with "run" cause this, but I haven't tried everything

[2016-02-13 17:08] titilambert commented on #348
Hello !
As @codegoblins, we want to use namespaces as tenants.
As @bryk said, So I made a small patch #363 adding a new option to dashboard backend binary. This option restricts the backend to the specified namespace. So we will create a Kubernetes Dashboard instance by namespace. Each tenant will use Kubernetes Dashboard as admin panel for his namespace.

[2016-02-14 15:49] Smana opened #374 "Error 500: The server asked for credentials"
Hello,

I'm trying to test the dashboard but i get the following errors and i can't access to the UI
[code]

Could you please guide me to solve this issue ?

Regards,
Smana

[2016-02-15 08:10] bryk commented on #374
How did you start the UI and Kubernetes cluster? What is your Kubernetes version?

[2016-02-15 08:59] floreks commented on #373
What version of kubernetes are you running? Do you have newest version of dashboard deployed?
Maybe you have a service with that name in this namespace already? Validation also checks for services. Probably error message could be more clear when existing service blocks creation of app.

I've tried to reproduce it and couldn't. I was able to create apps with same name in different namespaces. Name

[2016-02-15 09:02] Smana commented on #374
Hi @bryk

I've just run `kubectl create -f src/deploy/kubernetes-dashboard.yaml`
I'm running kubernetes version 1.1.4

Thank you,

[2016-02-15 09:36] bryk commented on #374
Looks like a problem with credentials. Is your apiserver protected by some security mechanisms?

cc @floreks @maciaszczykm @cheld Have you ever seen this problem?

[2016-02-15 09:42] Smana commented on #374
The apiserver, just listens on https with basic authentication.

[2016-02-15 10:32] bryk commented on #357
Ok, not now. Thanks for investigating this. Let's just keep this in backlog.

[2016-02-15 11:00] bryk commented on #348
@bgrant0607 Can you give us feedback on namespaces UX?

[2016-02-15 11:11] bryk commented on #373
@codegoblins What is your security setup? Are your namespaces restricted?

[2016-02-15 11:39] theobolo commented on #374
Hello guys i've got the same problem here.
I use a Azure Kubernetes cluster deployed with the getting-started guide (Azure, CoreOS, Kube, Weave).
I use the 1.1.7 Kubernetes Version.

I run the same command as @Smana : kubectl create -f src/deploy/kubernetes-dashboard.yaml

But Heapster need the CA.cert that should be inside the serviceaccount folder.
Problem, in the azure cloud config the CA.cert

[2016-02-15 13:22] Smana commented on #374
let me know if you need further info :)

[2016-02-15 13:24] bryk commented on #374
@theobolo @Smana I've just pushed new testing image of the Dashboard UI. It includes certificates setup:

[code]

Can you delete old Dashboard replication controller and recreate it? Please tell me whether this helps.

[2016-02-15 13:25] #367 closed

[2016-02-15 13:29] Smana commented on #374
@bryk thank you, unfortunately i still get the same error:
[code]

[2016-02-15 13:32] maciaszczykm commented on #371
I think, that `gulp-prettify` might not be suitable for us, because of missing configuration options.

First of all it doesn't allow to define max line length, which makes some lines 200-300 characters long. It's too much and there is no option to fix it using `gulp-prettify`. I've made research and there are not too much HTML formatters for Gulp.

Second thing is formatting style, which seems to

[2016-02-15 13:40] Smana commented on #374
My apiserver is reachable with the following command, i don't know if that can help
`curl --cacert /etc/kubernetes/ssl/ca.pem -u kube:xxxxxxxxxxx https://62.210.220.66:8443`

[2016-02-15 13:47] floreks commented on #374
@Smana

Maybe our backend is connecting to your master at different port where only basic authentication is available.

This looks like a similar problem:
https://github.com/kubernetes/kubernetes/issues/7622#issuecomment-98389696

@bryk what do you think?

[2016-02-15 14:16] maciaszczykm commented on #371
Okay, I missed some options. Will take a look on them: https://github.com/beautify-web/js-beautify

[2016-02-15 14:28] floreks commented on #371
Try these settings:

[code]

I think it looks quite good.

[2016-02-15 14:30] cheld commented on #374
Dashboard relies on serviceaccount for the authentication to the api server.

[2016-02-15 15:08] maciaszczykm commented on #371
@floreks Thanks for spotting, that:

[code]

Works fine, and:

[code]

Does not.

[2016-02-15 15:38] bryk commented on #345
@therc Take a look now.

[2016-02-15 15:39] bryk commented on #346
Ok, let's move forward with this. I'll propose a plan, but interrupt me if you have other ideas.

[2016-02-15 15:43] bryk commented on #346
Let's split the work here.

1. I'll take "Simple deploy" scenario. Implement it first, trying to fix any issues with our test setup.
Then
2. @floreks implements "Deploy not existing image"
3. @maciaszczykm implements deploy from yaml test
4. @cheld Can you find somebody to implement "delete" and "update pods count" tests?

What do you think?

[2016-02-15 15:44] bryk opened #378 "Make the dashboard work on IE"
Currently we have layout and JavaScript problems. This is a catch all issue to make sure the UI works on latest IE and Edge.

[2016-02-15 15:49] #288 closed

[2016-02-15 15:50] bryk commented on #276
@GertiPoppel Is this done?

[2016-02-15 16:01] cheld commented on #346
@digitalfishpond

[2016-02-15 16:02] cheld commented on #346
@batikanu

[2016-02-15 16:17] cheld commented on #346
Please pick

BTW: we have also details-page, events-tab and logs-page

We also wanted to start some manual testing. Maybe better if we do not all the same task the same time...

[2016-02-15 16:30] therc commented on #345
Is there a new build? Last time I tried to do it myself, it tried to push a 1.4GB monster...

[2016-02-15 19:45] bgrant0607 commented on #348
I'd rank the scenarios by frequency as:
1. Namespace = environment (dev, staging, prod)
2. (*)Namespace = tenant (X environment)
3. Namespace = application (X tenant X environment)
4. Namespace = part of an application (X application X tenant X environment)

kubectl interacts with one namespace at a time, which is remembered via the context in .kube/config. The initial context is set to `default`,

[2016-02-15 20:38] timbunce opened #379 "x509: certificate is valid for 10.61.164.153, not 10.0.0.1"
Hi.

I'm running k8s 1.2.0-alpha.7 using the instructions in [getting-started-guides/docker.md](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md) - that much seems to be working fine.

I'm now trying to add the dashboard using the instructions in [docs/user-guide/ui.md](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/ui.md).
That seeme

[2016-02-15 21:56] dodwyer commented on #348
I agree with @bgrant0607 rankings for the namespace scenarios.
For typical client installs we mostly see scenario 1 as it follows a 1:1 transition from a traditional single application VM set-up.
I imagine we will see scenario 3 more in the future as the tradition dev, staging, prod model makes ways for more dynamic set-ups as people get more comfortable with the concept.

[2016-02-15 22:02] dodwyer commented on #348
In regards to the design, would it be possible to have a Google Keep style filter for namespaces? So as you are typing the "Cards" representing each namespace is removed when it doesn't match the filter? You could also introduce a basic namespace label filter for quick group matching?

[2016-02-16 07:23] bryk commented on #346
Yes, I know. I picked something to start with.

[2016-02-16 07:23] bryk commented on #346
This should not cause problems. They're separate tasks.

[2016-02-16 07:30] cheld commented on #348
@dodwyer

But this is scenario 3 of bgrant0607, isn't it? VM = application = namespace

But this is scenario 1, isn't it? namespace = (dev, staging, prod)

[2016-02-16 08:39] digitalfishpond commented on #346
I will pick update pods count if that's ok with you @batikanu

[2016-02-16 09:43] floreks opened #380 "Event warning icon not displayed in events table"
When using `local-up-cluster` or some older version of kubernetes master event type data is empty and warning icon is not displayed together with error messages.

![zrzut ekranu z 2016-02-16 10-36-46](https://cloud.githubusercontent.com/assets/2285385/13072485/ee483660-d499-11e5-852f-dc6ce17a6e9e.png)

I'll work on that as I've already solved this issue while implementing card statuses.

[2016-02-16 09:51] cheld commented on #379
I tried once to deploy dashboard in the docker based local cluster and failed because the service-account functionality is missing in the docker based local cluster.

However, I had success when creating the local cluster by script. hack/local-up-cluster.sh

[2016-02-16 10:14] bryk commented on #379
Correct, this is a problem with the docker cluster setup. It does not have service accounts enabled, which causes Dashboard to misbehave. It should have crashed loudly, though.

[2016-02-16 11:09] bryk opened #381 "Crash loudly when Dashboard cannot connect to master on startup"
We should crash loudly when Dashboard cannot connect to the master on startup, instead of continuing silently.

[2016-02-16 11:09] bryk commented on #380
Thanks!

[2016-02-16 11:13] timbunce commented on #379
Thanks. I'll experiment with hack/local-up-cluster.sh.

More generally, is there any reason service accounts could not be added to the local docker cluster setup? (It's a great low-friction way to people to start experimenting with Kubernetes and it would be a pity if dasdboard wasn't available in that setup.)

[2016-02-16 11:13] cheld commented on #347
I start on this, now

[2016-02-16 11:16] bryk commented on #379
CC @fgrzadkowski

I believe service accounts should work for the 1.2 local docker setup. Something may be wrong on HEAD, though.

[2016-02-16 11:25] bryk commented on #345
I've built a canary release. Try `kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/kubernetes-dashboard.yaml`

[2016-02-16 11:33] bryk commented on #379
@timbunce Does the UI work for you when you use service proxy? Like `https://<kubernetes-master>/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard` ?

[2016-02-16 11:47] bryk commented on #345
Re size: can you elaborate? Did you use the dockerfile in the root of the repository? This dockerfile is for build environment only :)

[2016-02-16 12:36] #333 closed

[2016-02-16 12:58] bryk commented on #379
@timbunce Btw, the docker install guide is broken on HEAD. https://github.com/kubernetes/kubernetes/issues/21303 We'll be able to help you when it is fixed.

[2016-02-16 14:01] #381 closed

[2016-02-16 14:15] theobolo commented on #374
@bryk  Even with the new image i've a

`Get https://10.16.0.1:443/api/v1/replicationcontrollers: read tcp 172.17.0.3:45116->10.16.0.1:443: read: connection reset by peer`

In my kubernetes cluster the API is available at 172.18.0.12:8080 or 172.18.0.12:8443 but if i try a curl at

http://10.16.0.1:80 or https://10.16.0.1:443 nothing happens.

[2016-02-16 14:24] therc opened #384 "Need to support both replicationcontrollers and replicasets"
I am using the new Deployment stuff and they create replicasets, not replicationcontrollers. Thus it's as if they don't exist. :-( I suspect this would easily reuse the vast majority of the code for RCs.

[2016-02-16 14:31] therc commented on #345
And you mention that only now? :-) The Dockerfile seemed to build a huge container with every programming language ever created, except maybe Intercal.

The ellipses are working, thanks a lot! Now, if I only could get back my pods that are behind replicasets instead of RC, as in #384...

[2016-02-16 14:32] #345 closed

[2016-02-16 15:26] bryk commented on #384
You're correct. I'm afraid this will not come into our current release, but next one. We'll be doing releases often, though.

[2016-02-16 15:48] batikanu opened #385 "After uploading file with existing service it is not redirected to replicationcontroller view"
I tried to upload kubernetes-dashboard.yaml under deploy directory twice. Before second time I didn't delete the service and received an error popup that service already exists. It is fine but replication controller is actually created and bound to the existing service. However it isn't redirected to replicationcontroller view after popup as if upload failed completely. Do you think that we should

[2016-02-16 16:57] luxas commented on #379
Service accounts are working since my patch to these issues: kubernetes/kubernetes#16965 and kubernetes/kubernetes#16987
However, there were added some ([problematic](https://github.com/kubernetes/kubernetes/pull/17262/files#diff-e3f72884b2d06bdf22fc2f402297f940R34)) code too:
[code]
That means the certificate won't be signed for `10.0.0.1`, just the IP of the node (if `hostname -i` works)

It sho

[2016-02-16 16:57] therc commented on #384
What are the planned release dates for both?
RC and RS: the deprecated one and the one that doesn't work yet. :-)

[2016-02-16 21:15] timbunce commented on #379
@bryk kublet is started with `--api-servers=http://localhost:8080` and  `https://localhost:8080/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard` gives me an `curl: (35) SSL received a record that exceeded the maximum permissible length.` error. But I guess we're beyond that now. It all sounds promising.

If someone comments here when there's a new image to test I'd be happy to tr

[2016-02-16 22:08] codegoblins commented on #348
@dodwyer I haven't used the google keep webapp much, but it seems the filter applies to the cards' content. It might make sense to let the user select namespace from a (multi)select as described above and use such a box for filtering by selectors e.g. something like app:myapp but that seems like a separate discussion.

For those with a dev-staging-production namespace setup, how would you use this

[2016-02-17 09:00] bryk commented on #384
The first release is March 7th. Next releases will happen on fairly regular basis or when we have a new feature implemented.

[2016-02-17 09:29] maciaszczykm commented on #334
I'm starting to work on responsive table to close this issue.

[2016-02-17 09:30] digitalfishpond commented on #331
I can look into this

[2016-02-17 11:03] bryk commented on #385
I think if at least one "thing" is created we should redirect and show errors (if any).

@floreks @cheld Opinions?

[2016-02-17 11:05] bryk commented on #379
So, in summary, this is a problem with hyperkube? Do we have any action items on the Dashboard side?

[2016-02-17 11:07] bryk commented on #334
Ok, go for something easy and simple :)

[2016-02-17 11:32] floreks commented on #334
@bryk what do you think about using this directive
https://github.com/awerlang/angular-responsive-tables

It's simple and easy to style.

[2016-02-17 11:34] maciaszczykm commented on #334
I agree with @floreks, I'll try to use it.

[2016-02-17 11:38] floreks commented on #385
Initially we wanted to have something like transactions in backend and follow the idea `all or none`. I think that would be the best solution (not easiest). If something is blocking creation of any object from yaml file than nothing should be created and error message should be shown.

[2016-02-17 12:08] luxas commented on #379
Wait a little bit... @timbunce are you starting the cluster on `http://` and trying to connect on `https://`?

AFAIU that won't work in any scenario. Default `hyperkube` setup is configured for `http` traffic only and do not have `https` traffic on port `8080`. On port `6443` on the other hand, you _might_  try with `https`

[2016-02-17 13:18] luxas commented on #308
I think this may be closed. @gopinatht use `./build/run-gulp-in-docker.sh serve` or just `kubectl create -f <manifest>` to spin up the `dashboard`

[2016-02-17 13:21] digitalfishpond commented on #331
I have a solution for showing zero state if there are only things in kube-system namespace, but I have a question: if there are things in the kube-system namespace but also in other namespaces, do you want to show the pods that are in the kube-space namespace with the others? or do you want them always hidden?

[2016-02-17 13:28] floreks commented on #331
I think this is not related to this issue and actual display of replication controllers in namespaces will be handled with #348. Only thing that should be done here is to check if there are any RC available to display in namespaces other than `kube-system`, if no then redirect to zerostate.

[2016-02-17 13:38] maciaszczykm commented on #334
There is one issue with this directive. After transforming table into smaller ones, tooltips near headers aren't available. In my opinion we should proceed with it anyways and then think about workaround for it.

[2016-02-17 14:41] maciaszczykm commented on #331
I agree with @floreks. I think at the moment we should only redirect and solve filtering issue later.

[2016-02-17 14:56] digitalfishpond commented on #331
sounds good to me

[2016-02-17 15:41] gopinatht commented on #308
@luxas I have not tested it but I am ok to close it. I will test it this week and report back if I am not able to use the dashboard

[2016-02-17 15:41] #308 closed

[2016-02-17 16:00] digitalfishpond commented on #331
...and add a link on zero-state page if there are RCs available in the kube-system namespace.

[2016-02-17 16:39] bryk commented on #384
By the way, if you want to have this done faster, just contribute :) We're always happy to have more people in the project.

[2016-02-17 17:28] therc commented on #384
I'd love to, but I don't know any of this Node stuff, plus my current priority is helping with getting GPU scheduling support in Kubernetes. :-(

[2016-02-17 18:32] runseb commented on #379
I have the same issue in a slightly different setup.
Kubelet is running as a standard service, the other components are running in containers with hyperkube image (v1.1.4).

Service accounts and secrets work fine. I can run a rc that gets a secret mounted and I can expose a nodeport service.

But I have a certificate for TLS auth for the IP of master and not the cluster IP (10.0.0.1) used by the K

[2016-02-18 01:20] codegoblins commented on #373
@floreks Our cluster is running Kubernetes 1.1. I am on the latest master commit of dashboard. Also no matching services in the namespace.

@bryk It doesn't look like our namespaces are restricted, I have no problems creating pods in other tenants' namespaces.

Any suggestions how I can further debug this?

[2016-02-18 09:31] bryk commented on #385
Yeah, but is it possible that we do this for 1.0? I don't think so... :(

[2016-02-18 10:07] batikanu commented on #385
I am working on a solution (not transactions :) ) right now. I will create pull request soon.

[2016-02-18 10:13] batikanu commented on #385
One question. If only namespace is created with the file, what would you expect? @bryk @floreks
There is no card for namespaces.

[2016-02-18 10:29] bryk commented on #385
@batikanu I'd say still reload the page. Everytime something is created.

[2016-02-18 10:35] bryk commented on #373
I was able to reproduce this. Investigating....

[2016-02-18 10:46] floreks commented on #385
I agree with @bryk

[2016-02-18 10:46] cheld commented on #347
@bryk I am very sorry, but the vagrant provisioning from master is failing on my machine due to some networking issues I have inside the company network. It also failed on a second developer machine. We cannot resolve the issue in the next few days.

[2016-02-18 11:21] bryk commented on #373
@codegoblins This is a bug in `kubectl proxy`. Can you maybe contribute to k8s core to fix this? Should be as easy as changing a regex.

[2016-02-18 11:42] floreks commented on #373
Ok, now I know why I couldn't reproduce the problem. I'm not using proxy. We should propose some kind of template for creating issues, so we can reproduce and fix problems faster.

[2016-02-18 12:00] cheld commented on #350
Following the template in PR

https://github.com/kubernetes/dashboard/pull/376

As discussed with Piotr, we should create 1-2 additional sheets as a starting point

I would suggest:
- Deploy from settings
- ReplicationController list page

cc @digitalfishpond , @maciaszczykm , @floreks , @f-higashi

Please pick if you have time

[2016-02-18 12:11] #380 closed

[2016-02-18 12:15] bryk commented on #373
Yeah, templates like this:https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-18 12:15] bryk commented on #331
Correct :)

[2016-02-18 12:18] bryk commented on #338
This is fixed. Apiserver host works with trailing slashes.

[2016-02-18 12:18] #338 closed

[2016-02-18 12:33] floreks commented on #373
This looks really nice. We should prepare a template at some point.

[2016-02-18 12:43] maciaszczykm commented on #350
I'll prepare tests for replication controller list page.

[2016-02-18 14:36] Seb-Solon opened #395 "apiserver-host paramter not propagated to deploy-from-yaml"
Hi there,

I'm using the dashboard and the apiserver-host option (https://github.com/kubernetes/dashboard/blob/master/src/app/backend/dashboard.go#L28). Unfortunately this looks like this option is not propagated in the whole code.

I'm currently using the piece of code : https://github.com/kubernetes/dashboard/blob/0df77fbc03048e36f26eae74f2aaa6d75d853e9c/src/app/backend/deploy.go#L276-L296

the

[2016-02-18 14:41] bryk commented on #395
@floreks @digitalfishpond @batikanu Can you fix this? This is a blocker issue since it breaks YAML deploy on *all* non-test Dashboards.

[2016-02-18 14:41] bryk commented on #395
Thanks @Seb-Solon for reporting this!

[2016-02-18 14:47] taimir commented on #378
Hi, I'm currently working on fixing some layout issues in Edge, I will send a notification when I'm done.

[2016-02-18 14:49] bryk commented on #378
Awesome! I'm really happy you're doing this :)

[2016-02-18 14:51] batikanu opened #396 "Integration test fails for zero-state page in case there is already resources in the cluster"
It doesn't happen in ci probably because the cluster is always empty.
According to the current behavior it redirects to the replicationcontrollers page instead of zerostate if any resource is already deployed in the cluster. Therefore the css selector can't find the element.

I think we should think about a solution to prepare an appropriate environment before the tests start and clean after finis

[2016-02-18 16:48] Seb-Solon commented on #395
Hi,

We (me and @titilambert) kept on digging a bit and we found a workaround for now  but it requires a small fix too.

The dashboard depends on :
 * imdario/mergo@bc0f15622cd2a38ef83388501e4cd6747665b164 from  https://github.com/kubernetes/dashboard/blob/master/Godeps/Godeps.json#L66
 * kubernetes/kubernetes@90a7ac4aa120e22542a801e1113dcb9cc0335cb1 from  https://github.com/kubernetes/dashboard/b

[2016-02-18 18:49] runseb commented on #379
I fixed my issue. Added an alt_name to the API certififcate for the K8s service ip as described in https://coreos.com/kubernetes/docs/latest/openssl.html

I am now able to see the dashboard.

[2016-02-18 19:56] luxas commented on #379
I'm fixing this on master, will probably be in for `v1.2`

[2016-02-19 04:41] f-higashi commented on #350
I'll create 'Deploy from settings' sheet.

[2016-02-19 09:12] bryk commented on #396
Yes, you're correct. Till now I've been ignoring zerostate page test when developing locally.

[2016-02-19 09:18] #334 closed

[2016-02-19 09:20] #327 closed

[2016-02-19 09:22] floreks commented on #302
This was added in #319. Closing.

[2016-02-19 09:22] #302 closed

[2016-02-19 09:48] bryk commented on #379
Thanks for working on this @runseb! Can you maybe write a short user guide docs on how you set up your environment and fixed problems? This would be helpful for future users :)

[2016-02-19 11:36] bryk opened #402 "RC card is pending while it should be in error state"
It has pending pods that *fail* to schedule. It is pending though.
![screen shot 2016-02-19 at 12 34 17](https://cloud.githubusercontent.com/assets/1159999/13174632/5e31afb6-d705-11e5-88a7-b3330167145d.png)

@floreks opinions?

[2016-02-19 11:39] floreks commented on #402
I believe event reason string doesn't contain failed in this case. Maybe error?

[2016-02-19 12:02] floreks commented on #402
Could you provide me error message from events that was not recognized so I can track it?

[2016-02-19 12:31] bryk commented on #395
Yeah, please send a PR that updates the dependency. In the meantime we'll update the code to propagate host from the --apiserver-host param

[2016-02-19 13:04] bryk commented on #402
![screen shot 2016-02-19 at 14 00 29](https://cloud.githubusercontent.com/assets/1159999/13176331/a3d2ef06-d711-11e5-812e-9fee180a2b4d.png)

[2016-02-19 13:05] bryk commented on #402
[code]

[2016-02-19 13:52] floreks commented on #402
This is interesting. I can't really reproduce that myself and it will be hard to track exact problem without that. Events table recognized warnings correctly. I can add additional reason partials but i can't even track this `CapacityExceeded` in kubernetes code.

[2016-02-19 13:58] floreks commented on #402
I've tracked the code that is doing this: https://github.com/kubernetes/kubernetes/pull/5501/files#diff-bf28da68f62a8df6e99e447c4351122dR1676

It is actually removed on newest k8s HEAD :) Still this partial should be recognized as error. I will add that and some other partial strings that may indicate errors. I think this is good base: https://github.com/kubernetes/kubernetes/blob/53f0f9d59860131c

[2016-02-19 14:59] fwalker opened #405 "Confusing measure for CPU usage"
The unit for measuring the CPU usage - "mCPU" - hard to understand. Our K8s Ops as well as myself could not guess the meaning until @cheld let us know it's "milli CPU".
![mili](https://cloud.githubusercontent.com/assets/7731790/13178930/afee9fdc-d721-11e5-8ef5-773d6fc267a7.png)
Some options:

1. Enhance the tool-tip
2. Change the label to "‰ CPU"

[2016-02-19 15:07] bryk commented on #402
Ok, describe in your commit where did you get the list of partials from.

[2016-02-19 15:19] floreks commented on #385
This can be closed.

[2016-02-19 15:23] bryk commented on #405
@bgrant0607 How should we display CPU usage to users?

The more I think about this the more I'm in favor of changing `X mCPU` to `0.00X cores`. This is exactly what the spec says: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L2175. This means we're not introducing anything new. Also, the value `Y cores` is easier to understand than `Z mCPU`.

Your opinions?

[2016-02-19 15:45] cheld commented on #405
One more idea. What about:

 0.00X CPU(s).

This is slightly incorrect. So, we explain it somehow in the tooltip. e.g.

Display:
2.5 CPUs

Tooltip: (.... uses 2.5 CPU cores)

[2016-02-19 15:47] bryk commented on #385
Thanks!

[2016-02-19 15:47] #385 closed

[2016-02-19 17:53] bgrant0607 commented on #405
I'm fine with showing CPU as a decimal. I'd make CPU singular.

We should expect double-digit numbers of cores.

[2016-02-20 06:53] lavvy opened #407 "Using dashboard Canary in Google container service"
Hello i want to use the Canary version as my dashboard in Google container service.
I have installed it but if i visit the dashboard it still goes to the old kubeui dashboard.
Please what commands do i use to enable it

[2016-02-22 09:01] bryk commented on #407
Can you describe in detail what you did?

What command did you run?
How did you access kube-ui or dashboard?
What happened?

[2016-02-22 09:02] bryk commented on #407
Btw, Dashboard will be enabled by default on Google Container Engine when it is officially released, so you can just wait a few weeks to have it on by default.

[2016-02-22 09:30] lavvy commented on #407
Ok,  maybe I wait.  When will dashboard be released?
On Feb 22, 2016 10:02 AM, "Piotr Bryk" <notifications@github.com> wrote:

[2016-02-22 12:20] bryk commented on #407
Like in 2-3 weeks

[2016-02-22 12:20] #407 closed

[2016-02-22 13:09] GertiPoppel commented on #276
@bryk This is almost done. What is still missing:
* Dashboard Tour: I am currently working on the extension of the Dashboard documentation in the K8S project. (https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/ui.md).

* A link to the Dashboard tour should be added to the Deploy pages.

* Deploying your App: Create documentation on the concepts of deploying applications to K8S p

[2016-02-22 14:16] bryk opened #411 "Services are up to 24 chars long. Make app name at least that long."
This is what happened when I wanted to create a service with more that 24 chars:

[code]

[2016-02-22 14:51] bryk commented on #276
@GertiPoppel

I agree with everything you said :) Are you working on this?

[2016-02-23 08:15] GertiPoppel commented on #276
@bryk @cheld
I am working on the dashboard tour and will take care that the other issues will also be resolved.

[2016-02-23 08:16] bryk commented on #276
Awesome, thank you @GertiPoppel :)

[2016-02-23 08:33] Smana commented on #374
Hello, any news on this please ?

[2016-02-23 09:05] cheld commented on #411
@digitalfishpond

The claim in the corresponding test is not correct!

https://github.com/kubernetes/dashboard/blob/master/src/test/frontend/deploy/deployfromsettings_controller_test.js#L433

Also, the pattern is not be correct!

https://github.com/kubernetes/dashboard/blob/master/src/test/frontend/deploy/deployfromsettings_controller_test.js#L374

Can you please verify that everything is correct?

[2016-02-23 09:23] digitalfishpond commented on #411
I can fix this (sorry I didn't spot earlier), but the implication is that now, with our current setup (input from 'App name' is used for generating service name, label name, and RC name), the longest an app name can be is 24 chars, with the further restriction that the first character can no longer be a number. As I say, happy to fix for now, but that is one big restriction...

[2016-02-23 09:48] digitalfishpond commented on #411
@cheld suggested that we keep the current implementation. I will have a fix shortly restricting app name field to 24 chars and only lowercase letter as first char in line with the service pattern.

[2016-02-23 09:51] mysterytree opened #415 "500 error when use dashboard"
![image](https://cloud.githubusercontent.com/assets/6166794/13247619/8033f7b0-da55-11e5-8c4e-88019e7bd839.png)
![image](https://cloud.githubusercontent.com/assets/6166794/13247623/884025dc-da55-11e5-82f8-6941ef563129.png)

and the rc.yaml
[code]
service:
[code]

[2016-02-23 09:58] floreks commented on #415
This will be fixed in #412. The problem is that our build pipeline has changed and now we have images for different architectures.

You should actually use `image: gcr.io/google_containers/kubernetes-dashboard-amd64:canary` or just try yaml file from above PR.

[2016-02-23 10:03] mysterytree commented on #415
Thanks a lot !!!

[2016-02-23 10:05] #395 closed

[2016-02-23 10:13] mysterytree commented on #415
@floreks
![image](https://cloud.githubusercontent.com/assets/6166794/13248354/c38c5b94-da58-11e5-8382-4329bfe582ee.png)

k8s on mesos , the api - server params needed?

[2016-02-23 10:15] floreks commented on #415
You shouldn't worry about that when you deploy from yaml. In-cluster config will be used.

[2016-02-23 10:36] bryk commented on #415
I'll cut a release today and you'll be able to test it. I'll let you know.

[2016-02-23 13:49] bryk commented on #415
Released, canary images pushed: https://github.com/kubernetes/dashboard/releases/tag/v1.0.0-beta1

[2016-02-23 13:52] bryk commented on #411
Awesome

[2016-02-23 14:34] bryk commented on #374
@luxas Can you help?

[2016-02-23 14:36] bryk commented on #374
@Smana We've just done a new canary and versioned release. Client library was updated. Can you check once more on `src/deploy/kubernetes-dashboard-canary.yaml`?

[2016-02-23 15:33] runseb commented on #379
@bryk I just posted a screencast https://www.youtube.com/watch?v=N-Z8nnvvzgA can't really write a generic short howto because I am using kmachine https://github.com/skippbox/kmachine to run the dashboard. That's where I fixed the certificate issue.

[2016-02-23 16:25] Smana commented on #374
@bryk unforntunately i'm still getting the same error
[code]

[2016-02-23 16:26] luxas commented on #374
Sure!
@theobolo Try this:
Append
[code]
to `kube-apiserver.service`
Append
[code]
to `kube-controller-manager.service`
This will probably fix your issue. (BTW, I haven't used k8s on azure, but read the source now, and this will probably help)

The two issues are different, @theobolo´s is that `serviceAccounts` aren't created for the `default` namespace for connecting to `apiserver`. The `controlle

[2016-02-23 16:27] luxas commented on #374
@Smana Are you running on bare-metal, some cloud provider or a custom config?
We have to know that to be able to help.

[2016-02-23 16:31] Smana commented on #374
I'm running on a virtual machine, (OS fedora), this vm is not running on a cloud provider.
The only difference i can see with a "standart" installation is the tcp port for https.
In my case the apiserver's listenning on 8443.

Fedora 23
kubernetes 1.1.7
network plugin calico

deployed with http://kubespray.io

[2016-02-23 16:36] Smana commented on #374
Let me know if you need further info

[2016-02-23 16:42] luxas commented on #374
What does `kubectl get secrets` and `kubectl get {some_pod} -o yaml` output?

[2016-02-23 16:45] Smana commented on #374
[code]

[code]

[2016-02-23 16:57] luxas commented on #374
Can you
[code]

[2016-02-23 17:16] Smana commented on #374
That works as expected
[code]

[2016-02-23 17:30] Smana commented on #374
I forgot to mention that i'm using the nodePort

[2016-02-23 20:35] gemoya opened #418 "Internal Server Error (500) connection refused"
#### Issue details
Hi I deployed but I get error 500,
namespace is setted as default beacause is the only namespace with default installation of kubenertes by yum on RHEL7
All of kubernetes is installed by yum.
##### Environment
All run by systemd using systemctl start service

[code]

##### Steps to reproduce

- Edit src/deploy/kubernetes-dashboard-canary.yaml  and change:
namespace to default an

[2016-02-24 00:43] theobolo commented on #374
@luxas Nice it worked ! So now i've the same problem as above.

I've an error :

`2016/02/24 00:36:31 Starting HTTP server on port 9090
2016/02/24 00:36:31 Creating API server client for https://10.16.0.1:443
2016/02/24 00:36:31 Creating in-cluster Heapster client
2016/02/24 00:39:12 Incoming HTTP/1.1 GET /api/v1/replicationcontrollers request from 10.32.0.1:55580
2016/02/24 00:39:12 Getting list

[2016-02-24 03:47] mysterytree commented on #415
Test the gcr.io/google_containers/kubernetes-dashboard-amd64:v1.0.0-beta1
![image](https://cloud.githubusercontent.com/assets/6166794/13274966/c66875ea-daea-11e5-8109-f13af3a6b2a7.png)
![image](https://cloud.githubusercontent.com/assets/6166794/13275067/0ca2282a-daec-11e5-8948-66c45464abdf.png)

[2016-02-24 04:24] mysterytree commented on #415
fix with
[code]

[2016-02-24 04:24] mysterytree commented on #415
fix with
[code]

[2016-02-24 04:26] mysterytree commented on #415
@bryk
api-server port is 8888 in k8s on meos
and the some args needed

[2016-02-24 05:12] mysterytree commented on #418
https://github.com/kubernetes/dashboard/issues/415#issuecomment-188058386
may help you？

[2016-02-24 05:20] mysterytree opened #419 "Do not support edit rc and service"
Only suport create rc or service  and  can not change the config which  had already deployed?

[2016-02-24 05:45] luxas commented on #374
Can you test without nodeport and access dashboard via
`http://[master-ip]:8080/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard`?

[2016-02-24 08:02] bryk commented on #415
@mysterytree

The backend should do auto discovery of master when running inside a cluster. Can you help us with debugging this?

1. Does your cluster have service accounts?
2. Can you set up a demo cluster for us so that we can debug live on it?

[2016-02-24 10:14] Smana commented on #374
`http://62.210.220.xx:8080/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard`
[code]
[code]

strange... still digging

[2016-02-24 10:42] bryk commented on #419
Yes, full edit functionality will be added in future releases.

@cheld

[2016-02-24 10:42] #419 closed

[2016-02-24 10:50] bryk opened #422 "Validate container image name on deploy page"
Once https://github.com/kubernetes/dashboard/pull/403 gets merged we should validate containter image name. It should be easy since @f-higashi researched how the image should look like.

@f-higashi Can you take this?

[2016-02-24 11:00] bryk commented on #379
@runseb This looks awesome, thanks! :)

cc @cheld @maciaszczykm @floreks @f-higashi @taimir

[2016-02-24 11:00] #379 closed

[2016-02-24 11:05] f-higashi commented on #422
Yes.
I can take this.

[2016-02-24 11:14] theobolo commented on #374
@luxas @Smana When you go to LoadBalancer the endpoint is :+1:

`/api/v1/proxy/namespaces/kube-system/services/dashboard-canary/`
and not
`8080/api/v1/proxy/namespaces/kube-system/dashboard-canary`

Missing the /services/.

But @luxas I still get the same error : connection reset by peer :/

[2016-02-24 11:18] Smana commented on #374
my mistake, thank you @theobolo
I still get the same error 500
`the server has asked for the client to provide credentials (get replicationControllers)`

[2016-02-24 11:19] bryk commented on #374
Hmm.... Can you maybe provide an instruction for how to mimic your setup locally so that we can debug it?

[2016-02-24 11:35] theobolo commented on #374
@bryk For me it's very easy.

I use the azure kubernetes cluster that is provided here.
https://github.com/kubernetes/kubernetes/tree/master/docs/getting-started-guides/coreos/azure

I can give to you guys the access to my Kube master via SSH.
And you will have the full environment to see what's going on, it's just a testing cluster.

BTW my kube master is reachable by my nodes on 172.18.0.12:8080

[2016-02-24 12:05] theobolo commented on #374
Is there an ENV variable that i can use in the replication controller to change the requesting URL:

I want to target https://172.18.0.12:8443/ wich is working on my cluster from any nodes and any pods.

[2016-02-24 12:38] gemoya commented on #418
I can't start canary service
my yaml:
[code]
and I got:
`yaml: line 54: did not find expected '-' indicator`
where line 54 is - --apiserver-host=10.254.0.1:8080

[2016-02-24 13:31] maciaszczykm commented on #346
I'm starting to work on delete replication controller intrgration tests.

[2016-02-24 13:32] bryk commented on #374
I want to target https://172.18.0.12:8443/ wich is working on my cluster from any nodes and any pods.

Use --apiserver-port argument for the container in your YAML file. This will fix the problem

[2016-02-24 13:33] bryk commented on #374
And you will have the full environment to see what's going on, it's just a testing cluster.

Can you set up a test cluster for a day or two so that I can connect to it with kubectl?

[2016-02-24 13:40] bryk commented on #418
@gemoya

You should add `args: ["hello","world"]` to the ReplicationController part of the YAML file: https://github.com/kubernetes/dashboard/blob/master/src/deploy/kubernetes-dashboard-canary.yaml

[2016-02-24 14:27] theobolo commented on #374
@bryk Alrighttt ! I've added that line : `args: ["--apiserver-host", "http://172.18.0.12:8080"]`

Now everything works in the Dashboard as i expected.

For the testing cluster @bryk i will do that in one hour,

I'll give to you a server.key and an adress to connect to the Kube master via SSH
How can i send you the credentials securly ?

[2016-02-24 14:39] Smana commented on #374
Well, it seems to be located on my own box, i just deployed 2 clusters (fedora and debian) and everything's working like a charm.
I'll deploy my machine again but for my concern the ticket can be closed.
Letting it open for @theobolo issue but maybe the issue can be renamed.
Thank you all

[2016-02-24 15:37] gemoya commented on #418
this makes an error for me:
`yaml: line 36: did not find expected key`
I think I am doing something wrong.

Thanks for patience and help

[2016-02-24 15:48] bryk commented on #374
@theobolo Send me an email.

[2016-02-25 08:42] bryk commented on #418
You need to specify apiserver-host param like this:

[code]

[2016-02-25 08:51] floreks commented on #378
Isn't it fixed in #398? IE looks quite good now.

[2016-02-25 09:11] floreks opened #423 "Inconsistent behavior on logs page for different k8s master versions"
#### Issue details
I'm using `local-up-cluster` with newest kubernetes HEAD. After deploying some card with wrong `containerImage` pod stays in pending state with errors. Logs page show `Internal error(500)`. On older cluster we can see normal log entry saying that pod is not started and is in state pending.

##### Environment

[code]

##### Steps to reproduce

1. Deploy app with not existing `con

[2016-02-25 09:26] bryk opened #425 ""delete related services" should be selected by default"
This checkbox:

![selection_035](https://cloud.githubusercontent.com/assets/1159999/13315279/1c23b52a-dbaa-11e5-8b98-987a514b6337.png)

[2016-02-25 09:56] f-higashi commented on #422
Docker has a difference format for reference between versions.
For example, v1.7 does not allow 'host:port/ns1/xxx/image:v1.
V1.10 allow it.

I think our validation allow newer version.
Is it OK?

cf.)
1.7
https://github.com/docker/docker/blob/v1.7.1/registry/config.go#L35-L36
In L213, reference is split in only two. So if reference has three `/`,  repo has `/` and it does not matched validRepo.

[2016-02-25 10:03] cheld commented on #350
Manual testing day!

So, we have the following test areas:
- Deploy from file. Covered by FBT
- Deploy from settings. Covered by FBT
- RC list. Covered by FBT
- RC details. Not yet covered by FBT.
- Logs. Not yet covered by FBT.
(- ZeroState. Not yet covered by FBT.)
(- Deployment into different environments - actually this should be a factor  )

We can divide the work the following way:
- Fujitsu

[2016-02-25 10:24] bryk opened #426 "Card status overflows on IE"
Screenshot from an integration test: https://saucelabs.com/beta/tests/43ce4e134b6e425189ca8f7c14f410bd/commands

![ie-status overflow](https://cloud.githubusercontent.com/assets/1159999/13316874/532b6e48-dbb2-11e5-9fb9-71abde8f7454.png)

[2016-02-25 10:26] #378 closed

[2016-02-25 10:36] bryk commented on #423
To me there should be no `500` error. Backend should handle this case and either say that there are no logs or display message that is currently displayed.

[2016-02-25 10:39] floreks commented on #426
I think `word-wrap` doesn't work correctly on IE. Using `word-break` should do the trick

[2016-02-25 10:43] bryk commented on #426
If you know the fix and it is easy, then please do it :)

[2016-02-25 10:45] bryk commented on #350
Please test the UI that runs as a container inside a cluster. This is how the UI will be run in most cases.

[2016-02-25 10:46] bryk commented on #350
Can we do Google style for this time? I have huge problems with making this work on IE

[2016-02-25 10:47] bryk commented on #350
I claim "Deploy from file. Covered by FBT" "RC list. Covered by FBT" on Firefox.

Make sure someone claims this also on IE :)

[2016-02-25 10:49] floreks commented on #350
I can take that on IE :)

[2016-02-25 10:50] digitalfishpond commented on #350
Ok, I'll take this on Chrome

[2016-02-25 11:07] f-higashi commented on #350
I'll take "RC details. Not yet covered by FBT" on Firefox.

BTW, when I need to finish tests by?
In Japan, I have a little remaining time today.

Is it OK by tomorrow morning in your timezone?

[2016-02-25 11:08] floreks commented on #350
Sure. We will prioritize all discovered issues tomorrow anyway so take your time.

[2016-02-25 11:11] maciaszczykm opened #427 "Time ago filter issue"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

1. Setup Kubernetes cluster and Dashboard on server with valiad time.
2. On second machine change time, for example by 1 hour ahead.
3. On second machine access Dashboard, create new pod and check time ago filter output on page.

##### Observed result

Difference between current local client machine time and server time (when

[2016-02-25 11:26] #426 closed

[2016-02-25 11:57] floreks commented on #350
@bryk

I've deployed dashboard from newest yaml and it doesn't contain IE display fix. Can't really test without that :) I'll have to do it on serve:prod

[2016-02-25 11:59] cheld commented on #350
@f-higashi yes, of course. We will not finish today

[2016-02-25 12:13] floreks opened #430 "Deploy View - Deploy from file doesn't work on IE"
#### Issue details
##### Environment

[code]

##### Steps to reproduce

1. Go to deploy page.
2. Select `Upload a YAML or JSON file` option
3. Open file browser
4. Select file

##### Observed result

After selecting file for deploy it is not shown in the UI and deploy does not work.

##### Comments

![deploy-from-file-bug](https://cloud.githubusercontent.com/assets/2285385/13319375/8acacc18-dbc1-1

[2016-02-25 12:23] cheld commented on #350
I take deploy from settings, logs on firefox

[2016-02-25 12:32] floreks opened #431 "Replication Controllers List View - Card placing algorithm fails on IE"
#### Issue details
##### Environment

[code]

##### Steps to reproduce

1. Deploy multiple apps.
2. Resize browser and check for results

##### Observed result

Card columns count doesn't change correctly when resizing browser.

##### Comments

![column-count-bug](https://cloud.githubusercontent.com/assets/2285385/13319738/2564d2d0-dbc4-11e5-9c1c-7ee93fa60974.gif)

[2016-02-25 12:33] cheld commented on #411
Layout is destroyed for 63 chars on firefox. 24 works
![long-name](https://cloud.githubusercontent.com/assets/7448799/13319763/4f7f63fa-dbc4-11e5-974a-78e410db145d.png)

[2016-02-25 12:42] cheld opened #432 "Unclear message if service exists"
#### Issue details
Validation message might be confusing

##### Steps to reproduce
Steps:
1. Open deploy from settings
2. Enter test as app name
3. Deploy
4. Delete test, but not service
5. Open deploy again
6. Enter test as app name

##### Observed result

Validation error: "Application with this name already exists within namespace default."

However, Zerostate page is shown. So cluster seems to

[2016-02-25 12:56] cheld opened #433 "Floating number can be entered as pod count"
##### Steps to reproduce
1. Open deploy from settings
2. enter 1.5 as number of pods

##### Observed result
no validation error

##### Expected result
validation error

[2016-02-25 12:58] maciaszczykm commented on #433
We should also add validation for big numbers here. I've just killed my cluster with 1 000 000 pods.

[2016-02-25 13:01] maciaszczykm commented on #433
Same for `edit pod count` action.

[2016-02-25 13:01] cheld opened #434 "Pod count should be trimmed"
#### Issue details
leading or trailing spaces should be ignored. Similar behavior at Gmail

##### Steps to reproduce
1. Open deploy from settings
2. Enter "5 " as number of pods

##### Observed result
validation error

##### Expected result
ok

##### Comments
visually the input seems correct. So, the validation message is not understandable

[2016-02-25 13:02] cheld commented on #434
Same for many other fields

[2016-02-25 13:03] floreks opened #435 "Replication Controllers List View - Wrong external endpoint link"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

I've started cluster with `local-up-cluster` on ubuntu machine, then I've accessed deployed dashboard from notebook with windows.

##### Observed result

External link shows `localhost:<port>` on external machines.

##### Comments

Localhost link is not working for notebook as it is deployed on other machine. It can be access

[2016-02-25 13:11] cheld opened #436 "Pod count is not limited"
#### Issue details
validation for pod count max value missing

##### Steps to reproduce
1. open deploy from settings
2. enter 999999999999999999999 as pod count

##### Observed result
Nothing. Pressing deploy has no effect

##### Expected result
Validation error.

##### Comments
A smaller number works like 999, but most likely kills your cluster. Not very nice. However, I don't have a convincing s

[2016-02-25 13:11] maciaszczykm opened #437 "Edit pod count doesn't work"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

1. Go to replication controller details view.
2. Click on pencil icon:

![image](https://cloud.githubusercontent.com/assets/2823399/13320452/77d36338-dbc9-11e5-9b35-f2446ef3a9cd.png)

##### Observed result

Nothing happens.

##### Expected result

Edit pod count dialog appears.

##### Comments

Link is not working, tested on

[2016-02-25 13:15] floreks commented on #437
On IE this also doesn't work.

Works on chrome :)

[2016-02-25 13:19] maciaszczykm opened #438 "Text overlay on events page"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

1. Go to replication controller details page.
2. Switch page to narrow version.
3. Check styling.

##### Observed result

Text overlays:
![image](https://cloud.githubusercontent.com/assets/2823399/13320628/9619c0fc-dbca-11e5-9855-d80467e835fa.png)

##### Expected result

No text overlays.

##### Comments

Moreover, vertical s

[2016-02-25 13:22] cheld opened #439 "Input label and validation message overlap"
#### Issue details
The validation error message and the label from the following input field might loverlap

##### Environment
Browser: Firefox

##### Steps to reproduce
Steps:
1. Enter test- into app name
2. Click into image field

##### Observed result
Text overlaps

##### Expected result
nicer

##### Comments
minor issue. not required to be fixed
![text-overlap](https://cloud.githubusercontent.

[2016-02-25 13:25] bryk commented on #350
Hey, I'm on vacation tomorrow. Can you folks go over the list of issues produced and prioritize them?

[2016-02-25 13:28] floreks opened #440 "Deploy View - Image pull secret data field has unnecessary spinner button"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

1. Go to deploy page
2. Select `Image pull secret...` -> `Create new secret`
3. Image pull secret data field has spinner

##### Observed result

Unnecessary spinner button for input field.

##### Comments

It does have a nice feature though :)
![niceee](https://cloud.githubusercontent.com/assets/2285385/13320860/fb28e12a-dbcb

[2016-02-25 13:41] maciaszczykm opened #441 "Maximum number of logs in context menu is 10"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

1. Create replication controller with at least 11 pods.
2. Open logs context menu on replication controller list page.

##### Observed result

There are only 10 links to logs.

##### Expected result

There should be exactly the same number of links as pods in replication controller.

[2016-02-25 13:45] maciaszczykm opened #442 "Logs context menu placement issue"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

1. Deploy at least one application.
2. Go to replication controller listp page.
3. Check view.
4. Click on logs context menu.
5. Check view.

##### Observed result

View in step 3 is valid:

![image](https://cloud.githubusercontent.com/assets/2823399/13321244/36e04404-dbce-11e5-8d62-e5e9ecdb5ec4.png)

But in step 5. not (plac

[2016-02-25 13:51] bryk opened #443 "App list UI gets really slow when there is an RC with many failing pods"
Try deploying app with 10000 replicas.

This is because we check for errors for every pod. We could stop doing this after first error is found.

cc @floreks

[2016-02-25 13:53] floreks commented on #443
What if there will be 2 pods with different errors?

[2016-02-25 13:56] bryk commented on #443
Dont we already display "and possibly others"? Which means we trim the list to one?

[2016-02-25 13:58] floreks commented on #443
We actually do not. Only actual error messages are displayed. Adding `and possibly others` suffix does not fit every error msg. We would end with:

`pod (frontend-p5mjc) failed to fit in any node fit failure on node (127.0.0.1): Node didn't have enough resource: CPU, requested: 1000, used: 7620, capacity: 8000 and possibly others` or

`Failed to pull image "longname-longname-longname-longname-long

[2016-02-25 14:00] cheld opened #444 "App name field should indicate the max lenght"
#### Issue details
Some field in Dashboard indicate the number of chars that can be entered like 0/63. Some fields don't.

##### Steps to reproduce
1. Open deploy from settings
2. click in app name

##### Observed result
nothing

##### Expected result
max length indicator is shown below input field

##### Comments
same for some other fields

[2016-02-25 14:00] cheld commented on #444
This is also material design default

[2016-02-25 14:02] bryk commented on #443
Can we get events in one call instead of N calls? This should work according to the API: http://kubernetes.io/third_party/swagger-ui/#!/api%2Fv1/listNamespacedEvent

Am I correct?

[2016-02-25 14:05] floreks commented on #443
There is TODO in code for this I think. `getEvents` call should be changed to get events in 1 call.

[2016-02-25 14:12] bryk commented on #443
All right.

[2016-02-25 14:20] olekzabl commented on #350
I'll deploy from settings on Chrome.

[2016-02-25 14:59] olekzabl opened #445 "I was able to create a RC with an already existing name"
Name: heapster-v11
Time: 2/25, ca. 14:45 UTC
There was no warning about name clash.
(See the left part of the screenshot).

![screenshot from 2016-02-25 15 58 29](https://cloud.githubusercontent.com/assets/17475944/13323224/a98bdb3a-dbd8-11e5-8df4-2806f2e1577d.png)

[2016-02-25 15:00] floreks commented on #445
Are they located in the same namespace or in different namespaces?

[2016-02-25 15:08] floreks commented on #443
I've already working solution for that. Just need to add some tests. UI speed with many failed pods increased significantly.

[2016-02-25 16:11] olekzabl commented on #445
No, in different namespaces. Thanks and sorry for a false bug.

On Thu, Feb 25, 2016 at 4:00 PM, Sebastian Florek <notifications@github.com>
wrote:

[2016-02-25 17:32] cheld commented on #445
Well, it is still a bug. However it is not the creation, but not indicating namespace when displaying.

[2016-02-25 19:22] olekzabl opened #446 "No verification whether port number is given"
##### Steps to reproduce
1. Open "Deploy a Containerized App"
2. Select "Specify app details"
3. Enter:
  - app name: any valid
  - container image: I tried two values: "gcr.io/google_containers/heapster:v0.18.4" or "gcr.io/google_containers/etcd:2.0.9"
  - number of pods: 1
4. Enter target port "1", leave source port *empty* <br>
(alternatively - with the same effect - enter "1" as source and lea

[2016-02-25 19:37] floreks commented on #446
Details Page -> Events tab should show related error events retrieved from kubernetes. Isn't it right?

[2016-02-25 19:41] olekzabl commented on #446
You're right, thank you. The error message there is the same as in the main page.

[2016-02-25 20:19] olekzabl opened #447 "Hanging Deploy App form (due to long label keys/values?)"
#### Issue details
Nothing happens after clicking "Deploy" button at the bottom. (Five times in a row).

##### Steps to reproduce
1. Deploy a Containerized App
2. Select "Specify app details below"
3. App name: olekz13 (sth not used before)
4. Container image: gcr.io/google_containers/heapster:v0.18.4
5. Expose service externally: Y
6. Description: abcdefghijkl
7. Add a label:
  - key: 199 repetit

[2016-02-26 01:41] mysterytree commented on #415
Thanks for your help ,  the dashboard run in the production environment and can't set up demo cluster for you ....  I'm so sorry about it .But  it is my pleasure to cooperate with you.   I would l monitor the dashboard  later in production environment and found more questions for you .

[2016-02-26 06:26] f-higashi opened #448 "Horizontal scroll bar is not shown in RC Detail page."
#### Issue details

Horizontal scroll bar is not shown when verticul scroll bar is  not at the bottom.

##### Environment

Dashboard version: cffd34a90ae4a2334db4f062202f3a00fdf73dc6 ( I used gulp serve:product)
Kubernetes version: v1.1.2
Operating system: Ubuntu 14.04.1
Node.js version: v5.2.0
Go version: 1.5.2
Browser: chrome, firefox, IE

##### Steps to reproduce

1. Create app with long name
2

[2016-02-26 06:49] cheld opened #449 "Validation is inconsistent"
#### Issue details
Some fields validate as-you-type, while other fields validate on focus-out. Other inconsistencies exist.

##### Steps to reproduce
1. Open deploy from settings page
2. Enter app name that already exists
=> validation error before focus-out
3. Enter -1 as number of ports
=> validation error on focus-out

##### Observed result
1. Inconsistent behavior.
2. The debounce time of the

[2016-02-26 06:53] cheld commented on #447
Validation missing on labels and keys

[2016-02-26 07:15] cheld opened #450 "Card should limit the space for labels"
#### Issue details
If a RC has too many labels, than the space the labels consume is too big.

##### Steps to reproduce
1. open deploy from settings
2. enter 30 lables and values

##### Observed result
* Card becomes very long
* Layouting works correctly, I think

##### Expected result
Not sure. I think the label are should be limited
![too-many-labels](https://cloud.githubusercontent.com/assets/7

[2016-02-26 07:16] cheld commented on #445
Showing namespaces is a duplicate

[2016-02-26 07:16] f-higashi commented on #350
I'll take logs on IE.

[2016-02-26 07:21] f-higashi commented on #350
|                                                               |chrome            |firefox     |ie             |
|--------------------------------------------------|--------------------|------------|------------|
|Deploy from file. Covered by FBT          |digitalfishpond  |bryk        |floreks     |
|Deploy from settings. Covered by FBT  |olekzabl            |cheld       |               |
|RC li

[2016-02-26 07:30] cheld commented on #447
P1

[2016-02-26 07:31] cheld commented on #444
P1

[2016-02-26 07:32] cheld commented on #450
Enhancement

[2016-02-26 07:32] cheld commented on #448
P2

[2016-02-26 07:49] maciaszczykm commented on #441
Not a bug according to https://raw.githubusercontent.com/kubernetes/dashboard/master/docs/design/mockups/11-11-2015/16_card%20variations.png.

@bryk @cheld @floreks Opinions?

[2016-02-26 08:02] f-higashi opened #452 "Header is broken in Log page when app name is long."
#### Issue details

Header is broken in Log page when app name is long.
Contanier selection box, Running label and text color button are hidden.

#### Issue details

Dashboard version: cffd34a90ae4a2334db4f062202f3a00fdf73dc6 ( I used gulp serve:product)
Kubernetes version: v1.1.2
Operating system: Ubuntu 14.0.4
Node.js version: v5.2.0
Go version: 1.5.2
Browser: chrome, firefox, IE

##### Steps to

[2016-02-26 08:13] floreks commented on #448
Please add some information about browser that you are testing on to the reported issues. This problem may be restricted to 1 browser only. I've had similar issues on IE, but on Chrome it was fine.

[2016-02-26 08:24] olekzabl commented on #449
Sometimes, a red error message appears just after typing the initial "-" sign (maybe after ~0.5s), but disappears after typing the first digit. Sometimes, it does (or seems to) not appear at all.

[2016-02-26 08:24] f-higashi commented on #448
@floreks
I added information.
Unfortunately this problem occurs on all browsers.

[2016-02-26 08:26] digitalfishpond commented on #449
@olekzabl On which field?

[2016-02-26 08:28] olekzabl commented on #449
Number of pods, in "Deploy App" form.

[2016-02-26 08:30] floreks commented on #448
Thanks! Not all problems are related to all browsers so it's good to know how to reproduce them.

[2016-02-26 08:31] cheld commented on #446
hmm... I could reproduce that the port fields have a missing validation. But other than that I could not find a fundamental problem. (If only one field is entered than no service is created)

[2016-02-26 08:31] cheld commented on #446
P2

[2016-02-26 08:34] cheld commented on #449
P1

[2016-02-26 08:40] olekzabl opened #453 "Insufficient validation for non-ascii chars?"
#### Issue details
Pressing "Deploy" has no effect (as if the form hanged) if many fields contain non-ascii characters. Sometimes an error message is shown, but it's hard to notice (see below).

##### Steps to reproduce
1. Deploy a Containerized App
2. Select "Specify app details below"
3. Description, label key, label value, env-var value: all set to "ąćęłńóśźż 北京市"
  - (if it's not legible, that

[2016-02-26 08:42] cheld commented on #441
hmm...I agree that the list cannot grow infinit. Some solution is needed for that. But, why 10? Seems to be a number out of thin air. Maybe after 10 the list should not be shown at all.

Anyway, we should keep the current behavior, but still it must be improved, sometime. Or we need VERY, VERY good arguments for our QA!

P5

[2016-02-26 08:46] cheld commented on #443
So the steps are:
1. Go to deploy page
2. Enter app data
3. enter invalid image
4. enter 10000 as pod count

But if I enter a valid image, then the cluster would have much bigger problems, right?

In general the pod count should be limited to much smaller numbers, I think

[2016-02-26 08:46] cheld commented on #437
P1

[2016-02-26 08:56] digitalfishpond commented on #449
1) Validation (with one exception - see point 3) happens after the first on-blur of a field. after that, validation happens on-the fly as the user makes corrections after re-entering the field.
2) On-the-fly validation happens with some delay due to de-bounce necessary to not overload the server with requests at each keystroke.
3) The exception mentioned in point on is on the App name field: the '

[2016-02-26 08:57] maciaszczykm commented on #443
@cheld We cannot limit pod count if core doesn't do that. IMO we can display confirmation dialog, i.e. `Are you sure? It can slow down your cluster...` (just a template) instead.

[2016-02-26 08:57] floreks commented on #443
The only thing that we can do is display a warning asking if user is sure that he wants to create App with so many pods. There may be some users with big clusters that can handle even 10000 pods. For 1000 nodes cluster this is 10 pods per node.

[2016-02-26 09:01] cheld commented on #350
@f-higashi good idea

I could have tested much more....

About prioritization, I think we can group the following:
- IE issues
- Major functional bugs
- Fix validation: make it complete and consistent
- Minor functional bugs in unusual scenarios
- nice to have layouting issues and conceptual issues

[2016-02-26 09:01] digitalfishpond commented on #449
Another restriction is the Angular Material bug (for which I was asked to remove my fix) which causes the following behaviour:
When an error message is shown, if a valid state is entered (blue line) and then another error is shown, then the error message is shown. (desired behaviour)
When an error message is shown, if an other error is caused immediately (without first entering a valid state), the

[2016-02-26 09:40] cheld commented on #443
We know that kubernetes supports currently 30 pods per node. This could be starting point.

We could make pop-up (similar to delete) or add a red message to the learn more text on the right side

[2016-02-26 09:51] cheld commented on #449
Asynchronous is no valid argument for keeping inconsistency. One can implement asynchronous validation in all three flavours. See GMail or GCE for examples. They implement synchronous and asynchronous validation consistently (in different ways)

I am not in a strong favor for one over the other. However, it must be consistent.

@bryk Do you have an opinion?

[2016-02-26 10:09] f-higashi opened #454 "Container selectbox is reset in Log page after log is shown."
#### Issue details

Although container selectbox has been changed, container selectbox is set to first value.

##### Environment

Dashboard version: cffd34a90ae4a2334db4f062202f3a00fdf73dc6 ( I used gulp serve:product)
Kubernetes version: v1.1.2
Operating system: Ubuntu 14.0.4
Node.js version: v5.2.0
Go version: 1.5.2
Browser: IE, chrome, firefox

##### Steps to reproduce

1. Create app which has

[2016-02-26 10:15] f-higashi opened #455 "Header field name and value are not aligned in log page."
#### Issue details

Header field name and value are not aligned in logs page.

##### Environment

Dashboard version: cffd34a90ae4a2334db4f062202f3a00fdf73dc6 ( I used gulp serve:product)
Kubernetes version: v1.1.2
Operating system: Ubuntu 14.0.4
Node.js version: v5.2.0
Go version: 1.5.2
Browser: IE

##### Steps to reproduce

1. Open Log page

##### Observed result

![ds_log1](https://cloud.githubu

[2016-02-26 15:38] floreks commented on #430
P1

[2016-02-26 15:39] floreks commented on #431
It's only visual issue so I'd say P3.

[2016-02-28 11:35] maciaszczykm opened #456 "Stylesheet issues on Safari"
#### Issue details

##### Environment

[code]

##### Steps to reproduce

1. Run Dashboard on environment described above.
2. Deploy at least one application.
3. Go to replication controller list view.

##### Observed result

<img width="1919" alt="screenshot at lut 28 12-30-44" src="https://cloud.githubusercontent.com/assets/2823399/13378949/810331ea-de17-11e5-9035-e45e56fd45d1.png">

##### Expect

[2016-02-29 08:39] maciaszczykm commented on #438
I'm working on this.

[2016-02-29 08:43] floreks commented on #436
I'll take this.

[2016-02-29 09:29] digitalfishpond commented on #453
The error message actually appears on focus-out from any field, long before the Deploy button is reached.
Additional feature of auto-scroll-up could be introduced if any errors remain when DEPLOY button is pressed. @bryk @cheld, what do you think?

[2016-02-29 10:02] cheld commented on #453
Actually, I was tempted to create the same issue. During testing I stumble over the problem myself. However, I thought it is a problem that will occur most likely only during testing, but not so much in production.
A scroll-up on clicking deploy would be nice. I consider it as enhancement. Some Gmail pages also do not scroll up on validation errors (but the pages are not long).

[2016-02-29 10:05] cheld commented on #425
+1

[2016-02-29 10:24] maciaszczykm commented on #437
Taking this.

[2016-02-29 10:29] digitalfishpond commented on #447
looking into this now

[2016-02-29 12:15] maciaszczykm commented on #455
Working on it.

[2016-02-29 12:39] floreks commented on #446
This is not an issue with port mappings but with etcd image deployment and correctly an error is shown. Try deploying etcd giving just name and container image, result will be the same.

In the code we actually filter out empty port mapping so only when both `port` and `targetPort` are provided then it will be based to backend.
https://github.com/kubernetes/dashboard/blob/master/src/app/frontend/d

[2016-02-29 12:40] floreks commented on #454
I'll take this.

[2016-02-29 12:46] floreks commented on #436
I'm thinking about good way of showing a warning as it should be the same for both deploy form and edit replicas dialog.

I've got few options. Add more if you have an ideas:

1. On Deploy/Ok show dialog with warning message and asking user to confirm that he wants to create/edit app with given number of pods.
2. Warning icon with tooltip near input field shown when number of pods is bigger then s

[2016-02-29 12:51] maciaszczykm commented on #436
I think second and third solutions are the best. First one could be annoying for users.

[2016-02-29 14:35] #437 closed

[2016-02-29 14:56] #438 closed

[2016-02-29 15:06] floreks commented on #431
I've got this

[2016-02-29 15:07] #442 closed

[2016-02-29 15:30] #454 closed

[2016-02-29 16:58] bryk opened #465 ""Delete replication controller" button too verbose"
The button is very verbose. Perhaps we should rename it to "delete" and better indicate that this page is about RCs (if this confuses users).

![selection_036](https://cloud.githubusercontent.com/assets/1159999/13401805/ed3e1496-df0d-11e5-9feb-88e991f14868.png)

@floreks @cheld @maciaszczykm

[2016-02-29 17:38] bryk opened #466 ""Deploy and delete replication controller" integration test is flaky"
It causes the build pipeline to break, e.g., https://travis-ci.org/kubernetes/dashboard/builds/112631246

@maciaszczykm Can you fix this? Maybe by making the xpaths more resilient or doing some waiting.

[2016-02-29 17:47] bryk opened #467 "Logs view toolbar does not work on smaller screens"
#### Issue details

##### Environment

Dashboard version: https://github.com/kubernetes/dashboard/commit/13e88ce9276186a383f64bdc56acba15f189fde7
Browsers: all

##### Steps to reproduce
Open logs page and shrink the window.

![selection_037](https://cloud.githubusercontent.com/assets/1159999/13403362/eb87d536-df14-11e5-95c6-c0af617e40d6.png)

[2016-02-29 18:06] #431 closed

[2016-02-29 18:08] #440 closed

[2016-03-01 07:43] cheld commented on #465
I think delete is obvious enough. You will get a pop-up anyway.

(In terms of UX, the button is slightly floating in open space. On the RC list page it is more obvious what you are deleting. E.g., placing the button next to the title "Replication controller" might be better. Anyway, I would not change anything)

[2016-03-01 08:10] maciaszczykm commented on #466
I'll work on it.

[2016-03-01 08:11] bryk commented on #422
I think we should allow the less restrictive values. We don't know which version of Docker users have.

[2016-03-01 08:13] bryk commented on #427
Post 1.0 I think. Do you agree?

[2016-03-01 08:13] #411 closed

[2016-03-01 08:14] bryk commented on #432
Fix should be easy. We can do this for 1.0. What do you think?

[2016-03-01 08:17] bryk commented on #433
Should be as easy as creating a validator that verifies that a number is an integer. 1.0? What do you think?

[2016-03-01 08:18] floreks commented on #433
I'll take this one then

[2016-03-01 08:22] floreks commented on #425
Can be closed

[2016-03-01 08:25] bryk commented on #434
I cannot reproduce on Chrome. What's your browser?

[2016-03-01 08:26] bryk commented on #435
@maciaszczykm @cheld

We're coming back to this issue. What do you think about this localhost:1234 endpoints? Do we need them?

[2016-03-01 08:36] floreks commented on #443
@bryk helped mi with the investigation of this bug and we've established that finding the right solution for this issue may take some time and there are more urgent bugs that need fixing now.

My current solution was based on creating pod selector from the list of pods and it turns out that it was wrong as pod selector is based on `AND` condition not `OR`.

Using the `EventInterface` `Search` meth

[2016-03-01 08:40] maciaszczykm commented on #427
@bryk Yes, it won't be that easy to fix it.

[2016-03-01 08:49] bryk commented on #439
This is caused by layout issues on the deploy page. I'll fix this quickly.

[2016-03-01 09:18] bryk commented on #445
Correct, this is a real issue. Duplicate of https://github.com/kubernetes/dashboard/issues/348

[2016-03-01 09:18] #445 closed

[2016-03-01 09:20] digitalfishpond commented on #331
Sorry @bryk , I'm still working on a test for this. Slowly working out how to :/ Already discussed with @cheld and @floreks  has said he will give me a hand later today to get this finished.

[2016-03-01 09:24] bryk commented on #444
This is all about using `md-maxlengh` instead of `ng-maxlength`. I'll take this.

[2016-03-01 09:55] cheld commented on #435
It is just local-cluster. IMHO, it is obvious for a person that uses local-cluster to replace localhost with the host IP. Currently, I would not spend effort trying to improve the behavior.

won't fix

[2016-03-01 10:10] bryk commented on #331
Oh, forgot about this. Thanks.

[2016-03-01 10:10] bryk commented on #450
Yeah, you're right. Post 1.0? Seems like non-critical enhancement

[2016-03-01 10:13] bryk commented on #452
If we can fix this, I say let's do this for 1.0. @f-higashi Can you come up with a solution?

[2016-03-01 10:19] bryk commented on #448
Post 1.0? Do you folks agree?

[2016-03-01 10:25] bryk commented on #441
Yep, 10 was chosen arbitrarily. I agree this should be changed. No strong opinions how. Maybe show all? Or do pagination? Or show that we've truncated the list?

Anyway, adding to post 1.0

[2016-03-01 10:28] bryk commented on #449
@cheld

Ok, I'm convinced that we should have consistent behavior everywhere. Hence app name validation should be reverted to default material design behavior.

Can anyone take this issue?

[2016-03-01 10:31] #444 closed

[2016-03-01 10:31] bryk commented on #347
Deferring to post 1.0 then

[2016-03-01 10:32] bryk commented on #430
Ouch, that hurts. Can you take this? My IE setup is horrible for any kind of development... :(

[2016-03-01 10:40] bryk commented on #456
I cannot reproduce on my mac. The UI works as expected. I have many RCs, though.

[2016-03-01 10:41] maciaszczykm commented on #456
I'll check it once more later. When I was doing this test everything worked on Chrome, but not on Safari. That's why I've created this issue.

[2016-03-01 10:43] digitalfishpond commented on #449
default Material design causes validation on every keystroke. Since local validation cannot be decoupled from async validation, that would cause countless calls to the server... If you want consistency, we can apply debounce 500 everywhere or on-blur everywhere, but I'm not sure default is an option?

[2016-03-01 10:56] bryk commented on #453
The simplest, we could show error message next to deploy button something like "The form contains errors, please fix them". This would tell user what to do.

The autoscroll solution seems nice, but I think it will be much harder to implement.

What do you think?

[2016-03-01 11:08] bryk commented on #447
Thanks @digitalfishpond!

[2016-03-01 11:11] bryk commented on #446
Working as intended. If users start complaining about this behavior we'll change it.