[2019-01-29 12:33] scorsair commented on #3541
Same thing. Chome works.
K8s 1.12.4, dashboard 1.10.1
FF: 64.0.2

@jothimuruganm still not working after that

[2019-01-29 16:21] gabrielfsousa commented on #3541
reverted my ff to 59.0.3 (64-bit) and on this version the exec works !!!

[2019-01-29 16:54] floreks commented on #3541
Closing then as this is ff related issue.

/close

[2019-01-29 17:33] edshelton commented on #2353
Any progress on OIDC integration w/ the kube-apiserver?

If I put oauth2_proxy in front of the Kubernetes dashboard, can I pass my auth token to the dashboard somehow so that my users don't have to paste their token all the time?

[2019-01-30 16:28] nicolicioiul opened #3543 "Cannot access pods"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]

##### Comments

[2019-01-31 14:57] floreks commented on #3543
Not enough information.

/close

[2019-01-31 14:57] #3543 closed

[2019-02-01 09:40] willemodendaal commented on #2691
Isn't there an easy way to query the api to figure out what the correct url is for my cluster? I spent fifteen minutes now googling and trying different random urls.

This one worked in the end:
http://localhost:8001/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/#!/overview?namespace=default

Note the http:kubernetes bit, not http**s**:kubernetes

[2019-02-01 09:58] maciaszczykm commented on #3531
Closed by #3544.

/close

[2019-02-01 09:58] #3531 closed

[2019-02-01 17:03] maciaszczykm commented on #3440
@daminisatya You can take a look at one of following:

We can discuss details here or at #sig-ui Slack.

[2019-02-01 18:38] MMeent commented on #3541
This is a bug in `hterm`, the library used for displaying the terminal screen, due to changed behaviour of Firefox. See https://bugs.chromium.org/p/chromium/issues/detail?id=918352

Can this issue be re-opened, so that when `hterm` has fixed their issue, that fix can be merged?

[2019-02-02 15:23] carloscds opened #3545 "Error when open Dashboard"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-02-02 15:31] floreks commented on #3545
/close

[2019-02-02 15:31] #3545 closed

[2019-02-02 15:55] carloscds commented on #3545
@floreks This error occurs when open using AzureCli

[2019-02-02 16:45] floreks commented on #3545
This contains no information that we could use to try and reproduce it.

[2019-02-05 07:30] maciaszczykm commented on #1577
Will be covered in #1832 as we would like to be more generic, not destined only for one plugin but rather common interface for many of them.

[2019-02-05 07:30] #1577 closed

[2019-02-05 07:33] maciaszczykm commented on #3541
Can confirm that it doesn't work with my ff and hterm.org page.

[2019-02-05 07:39] #3539 closed

[2019-02-05 09:23] shu-mutou commented on #3202
I could not represent this issue with minikube 0.33.1, kubernetes 1.13.2 and dashboard on master branch.

![screenshot from 2019-02-05 17-59-41](https://user-images.githubusercontent.com/12838129/52262753-b61de800-2970-11e9-8b16-3ee17dd73253.png)

Logs in dashboard:
[code]

@floreks I guess the endpoint for the service events is implemented as follow:
https://github.com/kubernetes/dashboard/blob/m

[2019-02-05 09:31] floreks commented on #3202
@shu-mutou You understood it correctly. It was fixed by #3153, but as it was part of angular migration, it is not available in the v1 version.

[2019-02-05 09:31] #3202 closed

[2019-02-05 09:50] maciaszczykm commented on #3202
Great, thanks @shu-mutou.

[2019-02-05 13:13] drazul commented on #3440
Why you removed skip button on loging screen?
Are there a new way to avoid authentication?

All my team work on our local cluster before go to real cluster and we don't want to need to set up a new credential each time we need to use the dashboard.

[2019-02-05 14:42] maciaszczykm commented on #3440
@drazul Check `enable-skip-login` flag at https://github.com/kubernetes/dashboard/wiki/Dashboard-arguments.

[2019-02-06 21:10] olesiapoz commented on #2947
+1 same issue

[2019-02-06 21:19] daminisatya commented on #3440
@maciaszczykm This is my current dashboard and the deployment metrics it's showing. Took some decent amount of time getting the metrics on the dashboard. 😟

<img width="1660" alt="screen shot 1940-11-18 at 2 46 10 am" src="https://user-images.githubusercontent.com/6227784/52374217-b5757680-2a82-11e9-9cba-62f96a850400.png">

 Can you please further explain to me what exactly these hpa lists are, wh

[2019-02-07 05:50] dsaicharangoud opened #3548 "got an issue in this could anyone help"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (504):
[code]

##### Comments

[2019-02-07 06:53] maciaszczykm commented on #3548
We need more information. This is just autogenerated by Dashboard.

/triage needs-information
/close

[2019-02-07 06:53] #3548 closed

[2019-02-07 07:01] maciaszczykm commented on #3440
@daminisatya Of course. HPA is a shortcut from Horizontal Pod Autoscalers that we would like to display in the detail view of Deployments. So, when you enter the Deployments detail page you will be able to see all HPAs connected to it.

Implementation should be similar to what we have right now as we already display connected resources in the detail views of multiple resources.

Here you can find

[2019-02-07 07:04] maciaszczykm commented on #3440
Here is how we included it in the past on the Deployment detail view:

https://github.com/kubernetes/dashboard/blob/91a1efbf1eeec237c8f27e0093f0509a39ee6852/src/app/frontend/deployment/detail/detail.html#L56-L64

[2019-02-07 08:56] floreks commented on #3523
If there will be any new information please reopen. Right now there is not much we can do.

/close

[2019-02-07 08:56] #3523 closed

[2019-02-07 09:45] maciaszczykm opened #3550 "Make context actions more visible"
Recently we have added more context actions to each workload list. We should make them more visible.

[2019-02-07 10:15] shu-mutou commented on #3501
/assign

[2019-02-07 10:23] #3501 closed

[2019-02-07 15:18] #3550 closed

[2019-02-08 03:35] shbhardwaj opened #3556 "kubernetes-dashboard deployment has wrong url for the image"
Instructions used to deploy
https://github.com/kubernetes/dashboard#getting-started

##### Steps to reproduce
Using the master branch kubernetes-dashboard.yaml

kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/aio/deploy/alternative/kubernetes-dashboard.yaml

##### Observed result
kubernetes-dashboard   0/1     ErrImagePull   0          10s
kubernetes-dashboard   0/1

[2019-02-08 07:13] maciaszczykm commented on #3556
This is the actual link from getting started that you have linked:

[code]

[2019-02-08 07:14] #3556 closed

[2019-02-08 12:12] eloyekunle commented on #3509
I'll like to take a stab at this.

[2019-02-08 12:17] maciaszczykm commented on #3509
Great, in the case of any questions just ask. We would be happy if you would open a PR early to track the progress and allow easier discussion.

[2019-02-08 13:00] eloyekunle commented on #3509
Okay great. I'll open it early.

[2019-02-09 14:57] eloyekunle opened #3557 "Logs scrollbar not showing in dark mode"
##### What should be cleaned up or changed
The scrollbar on the Logs page does not show in inverted (black) mode. Inverting to white background shows the grey(?) scrollbar.

See screenshot below.

![ezgif-5-806664cee562](https://user-images.githubusercontent.com/11166933/52522277-5fbbec80-2c83-11e9-9c06-8eec7faec8fb.gif)

[2019-02-11 18:12] eloyekunle commented on #3502
When I tried to reproduce this, even before changing namespace or reloading the page, the query disappears from the top bar immediately I press enter.

I'm working on this.

[2019-02-12 06:01] dsaicharangoud opened #3564 "Dashboard error 500"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]

##### Comments

[2019-02-12 07:23] maciaszczykm commented on #3564
Not enough information.

/triage needs-information
/close

[2019-02-12 07:23] #3564 closed

[2019-02-13 10:49] NauxLiu opened #3566 "Install to a different namespace broken"
##### Environment
AWS Kubernetes: 1.11
Image: kubernetesdashboarddev/kubernetes-dashboard-amd64:head

##### Steps to reproduce

[code]

##### Observed result
Pod CrashLoopBackOff with logs

[code]

##### Expected result
no error

##### Comments

[2019-02-13 10:53] floreks commented on #3566
1. We are not responsible for how helm deploys/updates Dashboard.
2. You can not simply move Dashboard to another namespace without moving all secrets/roles/role bindings that are used by the Dashboard.

This is a configuration issue, not a bug.

[2019-02-13 11:05] eloyekunle opened #3567 "Prevent page exit on the create page when there are unsaved changes"
##### What would you like to be added

On the resource creation page, it will be good to have a prompt asking users to confirm page reloads or navigation if the user has entered some content that have not yet been uploaded.
The prompt should also be applied on the various resource editing sections in the dashboard.

##### Why is this needed

This will ensure users do not accidentally lose contents

[2019-02-13 12:13] maciaszczykm commented on #3567
In case of reload it is fine, I am wondering if we need it for navigation.

cc @floreks

[2019-02-14 07:40] doudou0312 opened #3570 "Failed to load resource: the server responded with a status of 401 (Unauthorized)"
issue details:
Possibly unhandled rejection: {"data":"MSG_LOGIN_UNAUTHORIZED_ERROR\n","status":401,"config":{"method":"GET","transformRequest":[null],"transformResponse":[null],"jsonpCallbackParam":"callback","url":"api/v1/rbac/status","headers":{"Accept":"application/json, text/plain, */*"}},"statusText":"Unauthorized","xhrStatus":"complete","resource":{}}
![image](https://user-images.githubuserc

[2019-02-14 08:00] maciaszczykm commented on #3570
Quite important information is missing. How does your kubeconfig file look like (remember to redact sensitive data)?

/triage needs-information

[2019-02-14 08:26] doudou0312 commented on #3570
[root@master tmp]# cat /etc/kubernetes/master-kubeconfig.yaml
kind: Config
clusters:
- name: local
  cluster:
    server: http://192.168.137.101:8080
users:
- name: kubelet
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context

[2019-02-14 08:49] #3557 closed

[2019-02-14 08:49] floreks opened #3571 "Use c3 instead of nvd3"
[nvd3](https://github.com/novus/nvd3) is not maintained for a long time and uses a very old version of [d3](https://github.com/d3/d3). We should switch to something that is maintained and frequently updated, i.e. [c3](https://github.com/c3js/c3).

[2019-02-14 10:28] #3502 closed

[2019-02-14 10:31] floreks commented on #3570
@doudou0312 There is no auth info in this file. It will not work. Use correct kubeconfig file with auth info defined in it or use token to log in.

[2019-02-14 10:32] floreks commented on #3570
@doudou0312 There is no auth info in this file. It will not work. Use correct kubeconfig file with auth info defined in it or use token to log in.

/close

[2019-02-14 10:32] #3570 closed

[2019-02-14 10:37] doudou0312 commented on #3570
I use token to log in ,but the web page cann't log in .
![image](https://user-images.githubusercontent.com/30106688/52781440-8b761280-3087-11e9-9519-7a35e423906d.png)
I use this command to get the token
kubectl -n kube-system describe secret $(kubectl -n kube-system get secret | grep admin-user | awk '{print $1}')

[2019-02-14 10:54] floreks commented on #3570
Your browser is blocking the request. Either you are not using `localhost` to access Dashboard or you are trying to access it in a non-secure way. It is also possible that your browser has some extra security options enabled.

[2019-02-14 11:10] kumar-shantanu opened #3572 "Time sending response back"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-02-14 11:24] maciaszczykm commented on #3572
/triage needs-information
/close

[2019-02-14 11:24] #3572 closed

[2019-02-14 11:26] #3396 closed

[2019-02-14 13:38] maciaszczykm opened #3574 "Support i18n"
It is not supported since Angular migration and we should keep that in our roadmap.

[2019-02-14 16:57] chiefy commented on #3566
I'm having similar issues trying to use a different namespace. I could be wrong, but it looks like `v1.10.1` has `kube-system` [hard-coded for some secrets](https://github.com/kubernetes/dashboard/blob/v1.10.1/src/app/backend/auth/api/types.go#L26), so the RBAC on a different NS will not work...

[2019-02-14 17:47] floreks commented on #3566
Namespace support will be added in a new release. No ETA as it will be a big release with lots of changes. Angular migration is tracked from a different issue.

As we do not officially support different namespace usage, I am closing this.

/close

[2019-02-14 17:47] #3566 closed

[2019-02-14 18:16] seh commented on #3566
For what it's worth, I tested running in a different namespace with the current head container image today, and it worked flawlessly. That's a good sign for what's to come in a support release.

[2019-02-17 17:03] iftachsc commented on #2947
+1

[2019-02-18 03:21] bestbelief opened #3582 "hello,What are the prerequisites for deploying this project?"
Running

[code]
from the README

Error:
unable to recognize "https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml": Get http://localhost:8080/api?timeout=32s: dial tcp [::1]:8080: connect: connection refused

Hello, I want to know the configuration conditions before deploying this project? I have reported the above errors according to READ

[2019-02-18 03:35] jeefy commented on #3582
Hi @bestbelief -- I love your avatar!

Based on that error, it looks like `kubectl` can't talk to the API Server it's configured for. I imagine if you ran `kubectl get pods` it would probably return a similar error.

As this isn't a problem with the Dashboard and looks to be an issue with your local/kubectl config, I'm going to close this issue. Please re-open with additional clarifying informatio

[2019-02-18 03:35] #3582 closed

[2019-02-18 06:12] bestbelief commented on #3582
Thank you Your avatar is also very stylish. It seems that my local host and port are not specified.

`The connection to the server localhost:8080 was refused - did you specify the right host or port?`

[2019-02-19 05:31] therealsamlin commented on #1441
do we have an update on this feature? _waiting anxiously_

[2019-02-19 15:48] eloyekunle commented on #3440
@maciaszczykm re:

I'll work on this.

Were there graphs for these resources in the old frontend?

[2019-02-19 16:58] eloyekunle opened #3585 "Misplaced labels on the Nodes CPU allocation chart"
The labels on the CPU allocation chart are misplaced.

##### Steps to reproduce
Go to the allocation section of the Node details page.

##### Observed result
Misplaced labels:

![screenshot from 2019-02-19 17-52-06](https://user-images.githubusercontent.com/11166933/53032733-bb4e5d00-346f-11e9-9a57-59d686552bf8.png)

##### Expected result
__Requests__ should be charted in the outside chart.

[2019-02-19 16:58] eloyekunle commented on #3585
/assign

[2019-02-19 17:40] maciaszczykm commented on #3440
@eloyekunle Great! Could you also take a look on switch to c3 possibly?

Yes.

[2019-02-20 02:58] bestbelief commented on #2898
@Fohlen hello,I also met this problem. How did you solve this problem?

dev@ubuntu:/work/dev/project/angular-pen/dashboard$ sudo minikube dashboard
Opening http://127.0.0.1:41419/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/ in your default browser...
[7680:7680:0220/105136.264971:ERROR:zygote_host_impl_linux.cc(89)] Running as root without --no-sandbox is not supported.

[2019-02-20 03:12] bestbelief commented on #3333
@maciaszczykm @maciaszczykm Hello, I also met this problem,Can you help me see it?
`dev@ubuntu:/work/dev/project/angular-pen/dashboard$ sudo  kubectl get deployments --all-namespaces
NAMESPACE     NAME                   DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
kube-system   coredns                1         1         1            1           23m
kube-system   kube-dns               1

[2019-02-20 03:15] bestbelief commented on #3333
hello,I also met this problem. Can you help me see it?

NAMESPACE     NAME                   DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
kube-system   coredns                1         1         1            1           23m
kube-system   kube-dns               1         1         1            1           23m
kube-system   kubernetes-dashboard   1         1         1            1           23m

[2019-02-20 03:18] bestbelief commented on #3333
hello,I also met this problem. How did you solve this proble
`dev@ubuntu:/work/dev/project/angular-pen/dashboard$ sudo  kubectl get deployments --all-namespaces
NAMESPACE     NAME                   DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
kube-system   coredns                1         1         1            1           23m
kube-system   kube-dns               1         1         1

[2019-02-20 10:59] ali-essam opened #3587 "Dashboard Fails to Read OIDC Tokens from Kubeconfig"
Dashboard fails to detect OpenID Connect token in kubeconfig files while it allows logging in with `id-token` using the Token login method

##### Environment

[code]

##### Steps to reproduce
- Enable OIDC in Kube API
- Generate kubeconfig for a user (using kuberos for example)
- Configure RBAC for that user
- Try to login using the generated kubeconfig file

##### Observed result
Dashboard fails

[2019-02-20 11:01] floreks commented on #3587
Not a bug. It is not supported. Covered by https://github.com/kubernetes/dashboard/issues/2353

/close

[2019-02-20 11:01] #3587 closed

[2019-02-20 11:47] eloyekunle commented on #3571
/assign

[2019-02-20 12:14] mosip-guest opened #3588 "error when trying to run web UI"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error:
[code]

##### Comments

[2019-02-20 12:14] #3588 closed

[2019-02-20 13:21] maciaszczykm commented on #3571
@eloyekunle Will you be working on it?

[2019-02-20 17:45] eloyekunle commented on #3571
@maciaszczykm Yes I will.

[2019-02-20 17:46] eloyekunle commented on #3440
Yes, I'll look into into it.

[2019-02-21 02:59] bestbelief opened #3592 "Hello, I failed to deploy this project locally. Would you please help me see it?"
dev@ubuntu:/work/dev/project/angular-pen/dashboard$ **sudo kubectl version**
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:08:12Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitC

[2019-02-21 07:52] floreks commented on #3592
There is basically no information about how the cluster was created and how the Dashboard was deployed. Additionally, I see that your client version `v1.13` and server is `v1.10` which is a big difference and might not work correctly together.

[2019-02-21 08:08] maciaszczykm commented on #3592
/triage missing-information

[2019-02-21 08:09] maciaszczykm commented on #3571
Great :)

[2019-02-21 09:29] bestbelief commented on #3592
dev@ubuntu:/work/dev/project/angular-pen/dashboard$ **sudo minikube start**
Starting local Kubernetes v1.10.0 cluster...
Starting VM...
Getting VM IP address...
Moving files into cluster...
Setting up certs...
Connecting to cluster...
Setting up kubeconfig...
Starting cluster components...
Kubectl is now configured to use the cluster.
Loading cached images from config file.

dev@ubuntu:/work/dev/p

[2019-02-21 09:33] maciaszczykm commented on #3592
Try to deploy Dashboard with a different name because as you can see your deployment failed.

[2019-02-21 09:34] maciaszczykm commented on #3592
BTW your minikube already has Dashboard inside. Go to minikube docs to read more.

[2019-02-21 09:34] floreks commented on #3592
@maciaszczykm  doesn't minikube deploy some kind of Dashboard by default?

[2019-02-21 09:36] bestbelief commented on #3592
Sorry, what do you mean by other names? @maciaszczykm

[2019-02-21 09:37] floreks commented on #3592
I think you should refer to minikube docs and use Dashboard deployed by them. There should be info there how to access it.

/close

[2019-02-21 09:37] #3592 closed

[2019-02-21 09:53] bestbelief commented on #3592
dev@ubuntu:/work/dev/project/angular-pen/dashboard$ **sudo  kubectl get po --all-namespaces**
NAMESPACE     NAME                                                    READY   STATUS    RESTARTS   AGE
kube-system   coredns-5bfd87b64b-tmwpm                      1/1          Running   0          19m
kube-system   etcd-minikube                                              1/1         Running   0

[2019-02-21 10:02] eloyekunle commented on #3567
If we'll save the changes locally even when the user navigates, then we can skip it for navigation and only show it for reload.
Otherwise, the changes will be lost on navigation.

[2019-02-21 11:48] maciaszczykm opened #3595 "Drop unused fields from detail structures or use them as initial list data for details view"
At the moment a lot of detail structures like `DeploymentDetails` have a list of connected resources inside them but we do not use them. It is a waste. We should use them or remove them from the structures. I'd vote for removing them and keeping it like it is at the moment.

[2019-02-21 12:18] #3176 closed

[2019-02-21 15:02] eloyekunle commented on #3571
I'm wondering if we shouldn't use d3 directly instead of using wrappers (like nvd3 and c3).

[2019-02-21 15:12] maciaszczykm commented on #3571
@eloyekunle Would be the best IMO. Is it much effort?

[2019-02-21 15:45] eloyekunle commented on #3571
We might have to create internal utility classes for the charts we'll need, so it's moderate effort.

[2019-02-22 09:35] anupambasak commented on #2986
+1

[2019-02-22 10:51] molaachir opened #3601 "Are screen readers supported - are there shortcuts/docs?"
Basic screen reader support is there, but pages can be quite big and some elements may be hard to understand. I wouln't be able to tell you what a button labeled "arrow_drop_up arrow_drop_down" does, for example. it might be a good idea to create documentation about using the Kubernetes dashboard with a screen reader. Good labeling would also be appreciated, and last but not least giving important

[2019-02-22 13:17] floreks commented on #3571
That's what I was trying to avoid, because then maintenance effort is bigger. Why is using some kind of framework not better?

[2019-02-22 13:21] maciaszczykm commented on #3571
@floreks In my opinion, it is good to have our own implementation if there is not too much of it. We can control everything better direct access to d3 instead of using nvd3/c3 interfaces. Additionally less popular frameworks often deprecate pretty quickly. d3 seems to be stable for a really long time.

@eloyekunle Do you have any proof of concept already so we can take a look at how much of utilit

[2019-02-22 14:44] eloyekunle commented on #3571
@maciaszczykm No I don't have a proof of concept, but I'm working on one.

[2019-02-22 18:44] eightlimbed opened #3602 "Unable to switch containers in the terminal"
##### Environment

[code]

##### Steps to reproduce

1. Deploy the kubernetes dashboard Deployment, NetworkPolicy, Service, etc.
2. Port-forward the deployment, mapping the `--insecure-port` to localhost:whatever
3. Select a Pod that has more than one container in it
4. Click "Exec" button to go to terminal
5. Terminal displays shell prompt for default container
6. Use drop-down arrow to switch to

[2019-02-25 06:43] mosip-guest opened #3604 "unable to access bitnami kubernetes service"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Gateway Timeout (504):
[code]

##### Comments

[2019-02-25 07:52] maciaszczykm commented on #3604
We don't run Bitnami Kubernetes service.

[2019-02-25 07:52] #3604 closed

[2019-02-25 11:27] floreks commented on #3601
Screen readers are not supported and I am not sure if we'll ever support them officially, as we do not have resources to do that.

[2019-02-25 12:42] maciaszczykm commented on #3601
@molaachir Are you willing to work on it?

[2019-02-25 15:34] molaachir commented on #3601
@maciaszczykm, I would be, although I am not an FE developerr, and i might need some help getting started on it. Can that be arranged?

[2019-02-25 15:39] maciaszczykm commented on #3601
I think we can manage.

[2019-02-25 15:58] molaachir commented on #3601
Great

[2019-02-26 21:59] jurgenweber commented on #2353
It would be absolutely fantastic if we could get some traction on this.

[2019-02-26 22:00] #2610 closed

[2019-02-27 09:39] phoenixking25 opened #3608 "Link not working in dashboard"
##### Environment

[code]

##### Steps to reproduce

Click `+` button on right upper corner to create resource

##### Observed result

`Learn more` hyperlink not working i.e `https://kubernetes.io/docs/user-guide/createing-applications/`

##### Comments

https://github.com/kubernetes/dashboard/blob/3f1009e09f0e66a9458d17f135c27d6f70a791f7/src/app/frontend/create/from/file/template.html#L26
https:/

[2019-02-27 11:49] DanielUche commented on #3567
i would like to work on this issue

[2019-02-27 11:53] eloyekunle commented on #3567
@DanielUche Great :)

[2019-02-27 15:22] ajatprabha opened #3609 "Navigating back from logs does not work properly."
##### Environment

[code]

##### Steps to reproduce

1. Launch dashboard, and navigate to pods.
2. Open logs for a pod and then press back in the browser's navigation pane.

##### Observed result

1. The logs screen flashes and doesn't navigate back to the pods list.
2. Clicking on breadcrumbs does work though.

![](https://s2.gifyu.com/images/kd-logs-2019-02-27_20.05.58.gif)

##### Expected resul

[2019-02-28 08:56] floreks commented on #3595
+1 for removing them

[2019-02-28 09:29] #3251 closed

[2019-02-28 11:25] JoyceFF opened #3616 "square/go-jose: error in cryptographic primitive"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2019-02-28 11:26] floreks commented on #3616
Duplicate. Already reported multiple times.

/close

[2019-02-28 11:26] #3616 closed

[2019-02-28 13:11] #3608 closed

[2019-03-03 09:32] #2981 closed

[2019-03-04 03:52] akhilputhiry commented on #1441
Any update?

[2019-03-04 06:22] johnmarcou opened #3629 "ClusterShell web-terminal on the dashboard"
##### What would you like to be added
I would like to suggest to implement a CloudShell feature on the dashboard.

##### Why is this needed
Some users would find handy to jump in a ClusterShell directly from the Dashboard UI to fire some `kubectl` commands. This would provide something like Cloud Shell from Google Cloud.

[2019-03-04 08:01] maciaszczykm commented on #1441
Not yet. We are working on getting the migration to the new Angular done. We have fairly limited resources, so I wouldn't expect it to be done soon. First, we want to release a new version with migration and changes done during it, then we will focus on other things like metrics API or this.

[2019-03-04 08:14] floreks commented on #3629
Duplicate of #3431

/close

[2019-03-04 08:14] #3629 closed

[2019-03-04 16:11] eloyekunle commented on #3609
/good-first-issue

[2019-03-04 16:11] eloyekunle commented on #3602
/good-first-issue

[2019-03-04 17:24] eloyekunle opened #3631 "Show tooltip timestamp on time hover across pages"
##### What would you like to be added
We should show tooltip timestamps on hover of absolute and relative time displayed across the components to give specific time information to the users.

For example, dates as shown below are not very helpful, because I might want to know exactly when the events occured.

![screenshot from 2019-03-04 18-18-49](https://user-images.githubusercontent.com/11166933

[2019-03-05 05:41] Sai-Adarsh commented on #2786
Is it still open? If so, could I work on this?

[2019-03-06 13:04] floreks commented on #2786
You are welcome to work on this.

[2019-03-06 14:26] maciaszczykm commented on #2786
It is already done on master.

[2019-03-06 14:27] maciaszczykm commented on #2786
https://github.com/kubernetes/dashboard/blob/master/src/app/frontend/resource/workloads/cronjob/detail/template.html#L81

/close

[2019-03-06 14:27] #2786 closed

[2019-03-07 09:20] ammyverm007 commented on #1628
I am also facing this issue
please tell me how to resolve this

Pod Allocated resources are not updated in kubectl describe nodes, or in the Dashboard UI

[2019-03-07 16:15] #3595 closed

[2019-03-07 16:15] #2453 closed

[2019-03-07 19:38] imdhruvgupta commented on #2493
Hi @maciaszczykm @floreks ,
I'm Dhruv Gupta pursuing B.Tech in Information Technology. I am proficient in Javascript and have done some work in Typescript and Angular as well. I would like to make to proposal for this feature and would like to work on it.

[2019-03-07 21:27] maciaszczykm commented on #2493
@imdhruvgupta Sorry, but this is frozen for now as it is a possible topic for Google Summer of Code.

[2019-03-08 04:25] phoenixking25 commented on #3574
@maciaszczkym is this issue good to work on as you have set priority long term!

[2019-03-08 07:25] maciaszczykm commented on #3574
@phoenixking25 Yes, it is good and quite complex. If you would like to work on it we'd like to see some proposal here and then implementation of it step by step. Otherwise, it will be too hard for us and for you to complete it.

[2019-03-08 07:27] phoenixking25 commented on #3574
Ok i will research some and will discuss the approach first 👍 if you find that good to go only then i will start it

[2019-03-08 07:44] imdhruvgupta commented on #2493
@maciaszczykm Okay, No problem! Given the opportunity I would like to work on it during GSoC 2019. Any help would be very appreciable regarding making a good proposal.

[2019-03-08 08:50] Strange-Account commented on #3391
Hi,

could you provide your deployment and your config? I'm trying the same and cannot get it work. I get too many redirects after login and the keycloak proxy logs "the token does not audience in claims".

Regards

[2019-03-08 11:54] maciaszczykm commented on #3499
/close

[2019-03-08 11:54] #3499 closed

[2019-03-08 14:07] vasicvuk opened #3638 "Hi CPU usage on 1.10.0 Kubernetes Dashboard"
##### Environment

Installation method:
Kubernetes version: 1.11.7
Dashboard version: 1.10.0
Operating system: Ubuntu 18.04.01

##### Steps to reproduce

1. Go into Pods for namespace having 50 pods
2. Api is getting back results in 70ms
3. Front end acts very slow in rendering giving 100% of CPU usage

Here is the picture from Chrome task manager.
![image](https://user-images.githubusercontent.co

[2019-03-08 15:00] floreks commented on #3638
Have you tried using the newest version of Dashboard `v1.10.1`? If issue persists then reopen

/close

[2019-03-08 15:00] #3638 closed

[2019-03-08 15:27] vasicvuk commented on #3638
@floreks It's worse then 1.10.0. I will open it for 1.10.1

[2019-03-08 15:29] vasicvuk opened #3639 "Hi CPU usage on 1.10.1 Kubernetes Dashboard"
##### Environment

Installation method:
Kubernetes version: 1.11.7
Dashboard version: 1.10.1
Operating system: Windows 10
Browser: Google Chrome - latest version

##### Steps to reproduce

1. Go into Pods for namespace having 50 pods
2. Api is getting back results in 70ms
3. Front end acts very slow in rendering giving 100% of CPU usage

Here is the picture from Chrome task manager.
![image](https

[2019-03-08 16:05] floreks commented on #3639
I am not sure how exactly you workflow looks like, but I don't see any issues with pod list view. Even having over 100 pods is not an issue.

![zrzut ekranu z 2019-03-08 17-01-23](https://user-images.githubusercontent.com/2285385/54039729-f8cb1e00-41c3-11e9-8fed-823adc8540bc.png)

[2019-03-08 16:13] vasicvuk commented on #3639
@floreks Your screenshot shows the rendered page. Mine was taken during the rendering. During the rendering it uses from 60 to 190 CPU % on Chrome which quite a value.

Switch a little bit between pods and jobs and you will get the High CPU load.

Also the animations during the loading are very slow and the whole experience feels little blocked

[2019-03-09 06:58] anuragprafulla commented on #3631
@eloyekunle I would like to give this a try. I have thought of a solution and am working on it.

[2019-03-11 08:14] maciaszczykm opened #3645 "Remove old i18n files"
https://github.com/kubernetes/dashboard/tree/master/i18n

[2019-03-11 08:28] floreks commented on #3645
Only `*.xtb` file can be removed. Other 2 are actually configured for new angular.

[2019-03-11 08:31] maciaszczykm commented on #3645
Yes, noticed that after posting the issue in the Slack channel 🙂

[2019-03-11 17:30] phoenixking25 commented on #3645
@floreks can you take a look on pr i think other 2 files are also not necessary. :)

[2019-03-12 07:18] #3645 closed

[2019-03-12 10:00] AlexShemeshWix opened #3647 "Dashboard failing to get overview for all namespaces"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (502):
[code]

##### Comments
It works fine on some of the cluster with low load. But when we create cluster with lots of resources.
It just hangs and gives this error.
Ive tried to give it more resources. Didnt help

[2019-03-12 10:29] maciaszczykm commented on #3647
Can you give us numbers?

[2019-03-12 12:52] thomaspeitz opened #3648 "Status of a job / reason why a job failed is missing in description"
##### What would you like to be added
Currently dashboard shows the status of a job only in list view. This makes it out of UX perspective hard to find the reason why a job was not running.

Hovering the mouse over the "!" shows the reason. But this is hard to find and it was luck that i hovered it. Did not expect the reason there.
![image](https://user-images.githubusercontent.com/8327755/5420123

[2019-03-12 14:30] phoenixking25 opened #3650 "Nested attribute translation in a translation not working."
##### Environment

[code]

##### Steps to reproduce

`ng xi18n --out-file source.xlf`
##### Observed result

Similar issue as observed. https://github.com/angular/angular/issues/13796
`Could not mark an element as translatable inside a translatable section ("mage's default entrypoint command. You can use the command options to override the default.
       [ERROR ->]<a href="http://kubernetes.io/do

[2019-03-12 14:31] phoenixking25 commented on #3650
@maciaszczykm

[2019-03-12 19:30] floreks commented on #3647
What is this? We are not using nginx in any way. I believe this might be configuration issue.

[2019-03-12 20:07] AlexShemeshWix commented on #3647
Ngnix is just ingress proxy.
Can it be that ingress has not enough timeout?
We have 120 nodes and 250 pods. And i have this error if i ask for pods in all namespaces.

[2019-03-12 23:35] eloyekunle commented on #3571
I have a POC up at: https://github.com/eloyekunle/d3-angular-poc.

The chart implementation is at: https://github.com/eloyekunle/d3-angular-poc/blob/master/charts/index.js, and it is used at: https://github.com/eloyekunle/d3-angular-poc/blob/master/src/app/chart/chart.component.ts#L23.

This implementation is **heavily** influenced by nvd3:
- Each chart type (`line/bar/pie`) is implemented as a `m

[2019-03-13 21:15] khushalkunjir commented on #3448
Thanks its working

[2019-03-14 02:19] wu105 commented on #3058
Just checked version 1.10.1, in src/app/backend/dashboard.go,  in the main function,
The line `TLSConfig: &tls.Config{Certificates: servingCerts}` would need to change to something like the following in order to restrict to TLS 1.2, as required by our security policy:
`TLSConfig: &tls.Config{MinVersion: tls.VersionTLS12, Certificates: servingCerts}`

[2019-03-14 09:50] floreks commented on #3647
I'd say first try to access Dashboard directly and see if same issue exists. In example you can use `kubectl proxy`.

[2019-03-14 13:02] Ultrafenrir opened #3654 "exec crashes when traffic goes throw ingress-nginx (v2.go:105] sockjs: session not in open state)"
##### Environment

[code]

##### Steps to reproduce

Setup an ingress-nginx controller (0.20.0) create an ingress for dashboard service with tls termination, access dashboard by https://some.domain and click on exec pod

##### Observed result

It working a random amount of time ( 1 min in average) and throw connection closed
In dashboard logs i see v2.go:105] sockjs: session not in open state
in i

[2019-03-14 13:05] floreks commented on #3654
If it works with a NodePort then it can't be just a Dashboard issue. I think it might be nginx that force closes the persistent connection. Try adjusting nginx config (timeouts, keepalive, etc.)

[2019-03-14 13:29] maciaszczykm opened #3656 "Observe if lint-staged works with Go files"
Tracker mentioned in https://github.com/kubernetes/dashboard/pull/3614.

[2019-03-14 13:35] Ultrafenrir commented on #3654
I think that if this be only a issue with ingress-controller, the time of getting error every time being equal, and not correlating from 30 sec to 1-2mins. Thank you for a suggestion, i'am already increase all timeouts to 300 by annotating ingress object, and get the same result

[2019-03-14 13:39] Ultrafenrir commented on #3654
And if the kubernetes-dashboard need some special settings to work throw ingress, could you adjust installation manual with any ? It will be really great.

[2019-03-14 19:45] wu105 opened #3658 "v1.10.1 Unknown Server Error (500) before displaying first (login) page"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]
before seen the login page.  On the other hand, curl on the same dashboard url seems to be ok:
[code]
log entries related to the error:
[code]
##### Comments

if the deployment kept `--auto-generate-certificates` as an container arg in the deployment, chrome would display

[2019-03-15 13:50] floreks commented on #3571
This looks really nice. I'd prefer however to use Typescript also for charts wrapper to easily include that as part of our source code. Maybe as a Factory/Service that we could use to build charts. All necessary logic could be enclosed in i.e. `ChartsModule`.

[2019-03-16 23:52] mlbiam opened #3664 "Support passthrough of impersonation headers"
##### What would you like to be added
Right now you can upload a kubeconfig with a token or embed on in the `Authorization` header from a reverse proxy.  What would be good is to support the impersonation headers from .a reverse proxy.  There would need to be some additional documentation of proper controls too.

##### Why is this needed

This would make it possible for the dashboard to work on cl

[2019-03-17 05:16] ajatprabha opened #3665 "property error in ReplicationControllerListComponent template"
##### Environment

[code]

##### Observed result

`rc.pods` property error inside ReplicationControllerListComponent template.
https://github.com/kubernetes/dashboard/blob/0a80b4a4f1526834c156369eff5b48ea4dcc1423/src/app/frontend/common/components/resourcelist/replicationcontroller/template.html#L78-L80

##### Expected result

It should be `podInfo` instead of `pods`.
[code]

[2019-03-18 07:53] maciaszczykm commented on #3664
Sounds good to me. I'll cc other guys.

cc @kubernetes/dashboard-maintainers

[2019-03-18 07:55] #3665 closed

[2019-03-18 08:47] maicohjf commented on #3463
kubectl config use-context k8s

[2019-03-18 11:41] floreks commented on #3658
`--auto-generate-certificates` option will not really work when you want to expose Dashboard to the outside. It would work if you use `kubectl proxy` and change some browser config.

`square/go-jose: error in cryptographic primitive` error usually means that you probably logged in to some other instance of Dashboard on the same domain and have your cookies saved for this other dashboard instance.

[2019-03-18 11:47] floreks commented on #3654
We do not officially offer information about exposing Dashboard through ingress because there are too many possible configurations and controllers that could be used. It would raise too many questions and it requires Kubernetes knowledge rather than just knowledge about some application (i.e. Dashboard).

Try to access Dashboard through `kubectl proxy` and see if issue persists. It is also a kind

[2019-03-18 17:11] aleks-mariusz commented on #2986
any guidance on how this is going or how to test what's been done so far (in case you want more folks testing it)

[2019-03-18 17:39] MrD2 commented on #2986
@aleks-mariusz  check https://github.com/kubernetes/dashboard/pull/3504

I'm actually trying to test the container but i'm having some issues with the kubeconfig file import

[2019-03-18 17:56] midN commented on #2986
@aleks-mariusz @MrD2 - https://brookbach.com/2018/10/29/Heapster-on-Kubernetes-1.11.3.html

[2019-03-18 20:11] lygstate opened #3670 "Login always failed with the floowing http response"
{
  "tokenPresent": false,
  "headerPresent": false,
  "httpsMode": true
 }

[2019-03-18 20:16] lygstate commented on #3670
I am login with the token, the response are
[code]

But the status still showing
[code]

[2019-03-19 00:33] floreks commented on #3670
Fill out the issue form correctly and provide all steps to reproduce, including how you are connecting to the Dashboard, then reopen.

/close

[2019-03-19 00:33] #3670 closed

[2019-03-19 08:20] YanB25 commented on #2735
Thank you very much. They help.
Also, I think it could be better if an error message show up when I click `sign up` and fail.

[2019-03-19 09:01] floreks commented on #2735
After deploy, you should also generate you token and add header Authorization: Bearer <token> for every request.

That is not correct. Alternative method is there if user wants to use his own reverse proxy and external IdP to configure access to the cluster.

[2019-03-19 13:01] MrD2 commented on #2986
This requires to move back to heapster (which i don't want to)

The only thing not working in the dashboard are the usage visualization.... And for that you have monitoring. I'm just testing the proposed container to maintain compatibility

[2019-03-19 13:50] Ultrafenrir commented on #3654
Thanks for an answer, ok, if u think so - this issue can be closed.

[2019-03-20 02:45] shu-mutou commented on #3656
Following comments and observations were summerized from #3653:

https://github.com/kubernetes/dashboard/blob/1e9a6b1927da456cf6b2aeb07e4c0d317207bd2b/package.json#L68-L70

According to lint-staged documentation [1], file pathes would be passed as list.
[1] https://github.com/okonet/lint-staged#lintstagedrc-example

like: `golangci-lint run -c .golangci.yml --fix src/app/backend/handler/apihandler

[2019-03-20 03:28] shu-mutou opened #3677 "Observe if $GOPATH should be set as `.tmp` in Travis CI"
Tracker mentioned in #3653.

Found that golangci-lint does not check go files outside $GOPATH. So we seem to have no way rather than copying .golangci.yml to and changing directory under $GOPAH, i.e. under `.tmp`, before running golangci-lint, for now.

[2019-03-20 16:19] petersutter opened #3680 "Dashboard tries to fetch protected resources before first login"
##### Environment

[code]

##### Steps to reproduce

1. Configure `--basic-auth-file` for your kube-apiserver
3. Access kubernetes dashboard via kube-proxy url `https://<domain>/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/`
4. Enter credentials in basic auth popup from browser and confirm

##### Observed result

After entering the basic auth credentials, you will be pr

[2019-03-21 07:41] weiqiang333 commented on #2986
有新的进展吗？我打算在接下来选型中抛弃 heapster，使用 metrics server。

[2019-03-21 09:51] miaoyukai opened #3682 "kubectl apply error"
Error while initializing connection to Kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service accounts configuration) or the --apiserver-host param points to a server that does not exist.

How to solve？

[2019-03-21 09:52] #3682 closed

[2019-03-21 10:03] miaoyukai opened #3683 "Kubernetes Dashboard start container error"
error log
Error while initializing connection to Kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service accounts configuration) or the --apiserver-host param points to a server that does not exist.

I think it's a error.It's a configuration problem.But I don't know the exact configuration.

![)B B2WHC58K%_@~33LA815W](h

[2019-03-21 10:07] floreks commented on #3683
1. `dacloud.io/.../kubernetes-dashboard:1.8.3` is an outdated image not supported by us (not from an official registry). Latest version is `v1.10.1`.
2. We are not familiar with your configuration, therefore we can not help with the configuration itself.
3. `--apiserver-host` should not be used normally. Dashboard should be started inside the cluster, unless you know what you are doing.
4. This is

[2019-03-21 10:07] #3683 closed

[2019-03-21 10:19] #3609 closed

[2019-03-21 10:35] floreks commented on #3664
You are welcome to work on that. We need some kind of proposal/PoC on how it would work in Dashboard.

[2019-03-21 10:37] floreks commented on #3658
No answer from the OP. Closing as this is probably just a cookie leftover from previous Dashboard login.

/close

[2019-03-21 10:37] #3658 closed

[2019-03-21 11:05] #3654 closed

[2019-03-21 11:10] floreks commented on #3541
@maciaszczykm should we close this as this is fixed on master? We are using now `xterm` instead of `hterm` and their demo (https://xtermjs.org/) works fine on my FF.

[2019-03-21 11:14] maciaszczykm commented on #3541
@floreks Agree.

/close

[2019-03-21 11:14] #3541 closed

[2019-03-21 12:57] jeefy commented on #3664
Sweet! +1 on a PoC. Let us know if you need anything or have any questions. :)

/pony yay

[2019-03-21 13:00] nmiculinic opened #3684 "Unknown reference kind when working with CRDs"
##### Steps to reproduce

Have pod reference custom CRD I'm developing

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]

##### Comments
Also, there's minimal support for CRDs

[2019-03-21 16:26] wu105 commented on #3658
@floreks --auto-generate-certificates is verified to work with ingress.  will report on the cookies issue when tested.

[2019-03-21 16:50] mlbiam commented on #3664
Here's the basic design:

1.  User authenticates to the reverse proxy
2. Reverse proxy has a token that is authorized to impersonate, injects the token plus impersonation headers into each request to the dashboard
3. Dashboard forwards the headers to the api server on all requests (same as `Authorization` header today)

Same rules as using the `Authorization` header token from the dashboard:
1. Mu

[2019-03-22 08:08] #3677 closed

[2019-03-22 10:06] danielwhatmuff commented on #1441
+1

[2019-03-22 15:09] michaelajr opened #3686 "Provide a config option to specify the statics path when running the Dashboard on a subpath using an Ingress rule (and controller)"
Right now if you expose the Dashboard via an Ingress Controller and Ingress rule, and want to run the Dashboard on a subpath like `/dashboard`, statics can't load. This is because the URL for statics are embedded in the HTML as coming from the root. Most UI applications provide a way to start their app with a flag that specifies the application root so URLs are constructed properly in the page. Th

[2019-03-24 17:38] Nox-404 opened #3688 "Sort and pagination"
##### Environment

[code]

##### Steps to reproduce

* Start 15 pods
* Go to Settings and set the items per page to 50
* List pods
* Sort pods by names

##### Observed result

Upon listing you'll see all your pods, but as soon as you sort, you'll only see 10 pods instead of 50 and no controls to paginate

##### Expected result

See the full list filtered and maybe have the controls anyway

##### C

[2019-03-24 18:37] Aphris-Karu opened #3689 "Clicking sign in on web dashboard does nothing."
I have followed a dozen different posts on how to create an admin account for the web dashboard, get the token, and log in as well as ways of making a kubeconfig to log in and none of them appear to work.

I did notice that some of them give an orange box with an error but the token ones dont seem to give any error or log me in. As a matter of fact, there is no reaction to clicking on the sign in

[2019-03-24 18:49] floreks commented on #3689
How you are accessing Dashboard?

[2019-03-24 19:11] Aphris-Karu commented on #3689
Im using kunectl proxy as follows

kubectl proxy --accept-hosts='^*$' --address='192.168.1.201' --port=8001

Then pointing my browser to

http://192.168.1.201:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

[2019-03-24 21:49] floreks commented on #3689
From the [Dashboard documentation](https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above)

/close

[2019-03-24 21:49] #3689 closed

[2019-03-24 21:51] floreks commented on #3688
Duplicate of #3497

/close

[2019-03-24 21:51] #3688 closed

[2019-03-25 11:55] Guneetkaur03 opened #3692 "Not able to access kubernetes dashboard"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-03-25 11:59] floreks commented on #3692
/close

[2019-03-25 11:59] #3692 closed

[2019-03-26 07:11] anuragprafulla commented on #3631
Is this issue still open?

[2019-03-26 07:12] anuragprafulla commented on #3602
I would like to work on this one. It's my first dashboard issue so it'll be great if I could get some help along the way.

[2019-03-26 07:21] maciaszczykm commented on #3602
@anuragprafulla Sure, it would be the best to open the PR and ask questions from there. If you don't know anything that should be asked before then you can do it from here or on #sig-ui Slack.

[2019-03-27 03:56] FANHIDE opened #3695 "pods "undefined" not found"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Not Found (404):
[code]

##### Comments

[2019-03-27 08:19] maciaszczykm commented on #3695
Update your Dashboard. Pod probably was deleted before you have entered detail page.

/close

[2019-03-27 08:19] #3695 closed

[2019-03-27 09:35] navaidya opened #3697 "Kubernetes dashboard not accessible"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-03-27 09:36] floreks commented on #3697
/close

[2019-03-27 09:36] #3697 closed

[2019-03-28 04:37] wfxr opened #3699 "500 error after restart a node."
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]

##### Comments

[2019-03-28 05:32] atoato88 opened #3700 "Need legend of `Compatibility` matrix in release page"
##### What should be cleaned up or changed
There is `Compatibility` matrix In [release page](https://github.com/kubernetes/dashboard/releases).
I would know means of each marks(`✓`, `?` , `✕`)

When I search word `compatibility` in this repo, I found [this commit][1] and #3480.
If each mark mean same with [this][1], I think that legend for each mark is needed at matrix in release page.

[1]: https

[2019-03-28 07:45] #3700 closed

[2019-03-28 07:46] maciaszczykm commented on #3699
Not enough details. Reopen after providing them.

/triage needs-information
/close

[2019-03-28 07:46] #3699 closed

[2019-03-28 14:00] maciaszczykm commented on #3440
@ajatprabha Can you add workload statuses to the workloads page too?

[2019-03-28 17:58] ajatprabha commented on #3440
Sure @maciaszczykm. I'm working on a PR.

[2019-03-29 17:20] rombie opened #3701 "How to reload golang web server"
During development, when ever I make front end changes, the changes automatically get reloaded, but back end changes do not. Is there a way to restart just the server part. It takes several minutes otherwise to kill and restart the development container

[2019-03-30 07:13] kasisnu commented on #2782
This would be a useful feature. I'd like to work on it.

[2019-03-30 22:08] MaxCCC opened #3704 "Can not authenticate on dashboard through https"
I've a kubernetes cluster running:

[code]

I've an Ubuntu 16.04 cluster in Vagrant. The Kubernetes is 1.14.0 version and dashboard is latest master version.

I've installed the dashboard and enabled the nodeport as described [here](https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above#nodeport) . I can access the dashboard but I'm not able to authenticate with the tok

[2019-03-31 09:21] floreks commented on #3704
Are you accessing it over http or https? Is there any error message?

[2019-03-31 12:29] MaxCCC commented on #3704
@floreks I've recreated the whole cluster and now it seems to work. Although I don't understand why it only works when the dashboard is deployed on the master (where the api is running). I can access it from both machines (master and node). I can telnet 10.0.2.15 443 on every node.

[2019-03-31 13:27] MaxCCC commented on #1578
Same issue, the dashboard only works when I run it on the master node (apiserver) but not on other nodes while I can access the apiserver (telnet)..

[2019-03-31 13:28] MaxCCC commented on #1578
For me too, but is this normal behaviour?

[2019-03-31 16:39] lvthillo commented on #916
@floreks I have still this error:

[code]
root@my-shell-75b487f578-hhkkc:/# nslookup kubernetes.default
Server:		10.96.0.10
Address:	10.96.0.10#53

Name:	kubernetes.default.svc.cluster.local
Address: 10.96.0.1
[code]

[2019-04-01 16:27] lvthillo opened #3709 "Kubernetes dashboard: dial tcp 10.96.0.1:443: i/o timeout"
##### Environment

Installation method: ```kubeadm on Vagrant```
Kubernetes version:
[code]
Dashboard version:
```1.10.1```
Operating system: ```Ubuntu 18.04 Vagrant box.```
Node.js version ('node --version' output): /
Go version ('go version' output): /

Installed the cluster using this [setup](https://github.com/lvthillo/vagrant-ansible-kubernetes):
[code]

Cluster info
[code]

##### Steps to re

[2019-04-02 07:22] floreks commented on #3709
This is a configuration issue. You have to check connectivity between nodes and master, not only DNS resolution. Dashboard is on a `node-1` and it has to connect to apiserver that is running on the `master` node.

[2019-04-02 07:23] floreks commented on #3704
I have no idea how your environment looks like as you have provided very limited information. Probably connectivity between your nodes is limited and Dashboard cannot connect to apiserver from other node.

/close

[2019-04-02 07:23] #3704 closed

[2019-04-02 07:26] floreks commented on #3701
Apply [this fix](https://github.com/kubernetes/dashboard/pull/3615/files#diff-9cf2334b51a517d0b81d54dae0398c03R98) to your code and it will work. We will update it on master ASAP.

/close

[2019-04-02 07:26] #3701 closed

[2019-04-02 07:27] floreks commented on #3684
Will be covered by #2493

/close

[2019-04-02 07:27] #3684 closed

[2019-04-02 16:17] lvthillo commented on #3709
@floreks  seems to be an issue with the fact my pod network was 192.168.0.0/16 and my nodes 192.168.50.10, 192.168.50.11, .. (inside that range). When I updated the CIDR of my pod network to 172.16.0.0/16 the deployment of the dashboard went well.

[2019-04-02 16:17] #3709 closed

[2019-04-03 11:28] renusharma21 opened #3713 "Hi,"
##### Steps to reproduce

##### Environment
[code]

##### Observed result

##### Comments

[2019-04-03 11:28] renusharma21 opened #3714 "Hi,"
##### Steps to reproduce

##### Environment
[code]

##### Observed result

After installing kubernete dashboard I am able to directly access dashboard without login page. Could you please help how can I set up control access through login page via authentication token.

##### Comments

[2019-04-03 11:37] #3713 closed

[2019-04-03 11:38] floreks commented on #3714
Issue form not filled correctly. No information about setup and installation method.

/close

[2019-04-03 11:38] #3714 closed

[2019-04-03 12:43] pmpfr commented on #3160
There's also demand for this on [stackoverflow](https://stackoverflow.com/questions/49700983/how-to-filter-pods-in-kubernetes-dashboard-using-labels).

[2019-04-03 15:21] floreks commented on #2782
@kasisnu You are welcome to work on it.

[2019-04-03 15:53] dwschulze opened #3715 "No admin-user-* token created"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2019-04-03 15:55] dwschulze commented on #3715
The command given to create a token for logging into the dashboard does not give token for the admin user:

kubectl -n kube-system describe secret $(kubectl -n kube-system get secret | grep admin-user | awk '{print $1}')

This produces many tokens, but none of them named admin-user-*

[2019-04-04 09:16] floreks commented on #3715
Provide detailed information about steps to reproduce, your k8s installation, etc.

[2019-04-04 09:17] floreks commented on #3715
Provide detailed information about steps to reproduce, your k8s installation, etc. Basically, fill out the issue form correctly (with listings) and reopen.

/close

[2019-04-04 09:17] #3715 closed

[2019-04-05 10:28] Appsfactory-jenkins commented on #2879
+1 for below error :-
The Deployment "kubernetes-dashboard" is invalid: spec.template.metadata.labels: Invalid value: map[string]string{"k8s-app":"kubernetes-dashboard"}: `selector` does not match template `labels`

[2019-04-05 10:33] PriyankaGupta05 commented on #2879
+1 for error :-

The Deployment "kubernetes-dashboard" is invalid: spec.template.metadata.labels: Invalid value: map[string]string{"k8s-app":"kubernetes-dashboard"}: `selector` does not match template `labels`
any1?

[2019-04-05 20:42] rakeshvanga commented on #2105
When the memory limits are set on the container, which metric would be used by K8s to check the memory usage? `memory/usage` or `memory/working_set`

[2019-04-08 00:41] aleon1220 commented on #2898
For me using Linux ubuntu xenial with with virtualBox 6 (painful signing of kernel and virtualization certificates). I took these steps:
Ffollowed every single command given by the edx.org online course
The CLI told me there is a new minikube version so i got the newer version
when did the kubectl apply it got stuck in this step:
secret/kubernetes-dashboard-certs created
i tried to access the dash

[2019-04-08 18:43] sentient commented on #3715
same issue here. Was there any resolution?

[2019-04-09 08:03] lwx294821 commented on #3186
The same issue happened in my environment. Is there one solution .(K8s v1.12.5)

[2019-04-10 04:47] jcsferraz commented on #3680
Hi!

- Are there anothers alternative to resolve that ? I have same problem !

- I think would like to use the --authentication-mode=basic. But how to set up user and password for autentication ?

[2019-04-10 08:59] yinhaijiao commented on #3440
Hi @maciaszczykm . Long time no contact. As I was busy with my work before, I didn't continue to help. Now I have some time. Is there anything I can do for you?

[2019-04-10 15:19] Maxiaoyu0 commented on #2415
this is the true resolution .

[2019-04-10 15:47] kfox1111 commented on #3431
/remove-lifecycle stale

[2019-04-11 08:32] scorsair commented on #2986
Guys, do you have any updates on this?

[2019-04-11 09:25] maciaszczykm commented on #2986
@jeefy Any updates?

[2019-04-11 11:17] mouhsinelonly commented on #2986
i think maybe next year, it has already been a year already

[2019-04-11 11:41] maciaszczykm commented on #2986
@mouhsinelonly You are free to work on that, nobody is stopping you from it I think.

[2019-04-11 17:45] jeefy commented on #2986
https://github.com/kubernetes/dashboard/pull/3504 Is ready to be reviewed. Please bring any criticisms (constructive or otherwise) and we'll hash this out. :)

[2019-04-11 19:13] grahamehorner opened #3728 "Microsoft Edge - dashboard sign in"
running the dashboard using kubectl and accessing via Micrsoft Edge using a token fails to sign in.
using the same setup and token sign in is successful using Google Chrome

[2019-04-11 21:23] onitake commented on #2986
@weiqiang333 对不起，标准语言是英语。如果您不会说英语，请使用翻译服务。 (And sorry for my terrible Chinese... I simply used Google Translate...)

[2019-04-13 06:59] of1444 opened #3731 "Get https://10.96.0.1:443/api/v1/namespaces/default/persistentvolumeclaims:"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-04-13 08:58] Nican opened #3732 "Fix `alternative` deploy files"
##### Environment
Running on an ARM environment.

[code]
Attention: using `alternative` deploy. Not `recommended` deploy.

##### Steps to reproduce
Running
[code]

##### Observed result
The pod does not start.

Running
[code]
Shows the error message:
[code]

##### Expected result
The pod to run.

##### Comments
The commit https://github.com/kubernetes/dashboard/commit/be4f2813b7cc13f682f2af5025d42

[2019-04-13 10:11] #3731 closed

[2019-04-14 10:58] SturdyFool10 opened #3733 "Error with networking(?)"
##### Environment

[code]

##### Steps to reproduce
follow https://vitux.com/install-and-deploy-kubernetes-on-ubuntu/

##### Observed result

Hit command "kubectl describe pods $(Kubernetes-dashboard pod) --namespace=kube-system"
##### Expected result

Name:               kubernetes-dashboard-5f7b999d65-p7clv
Namespace:          kube-system
Priority:           0
PriorityClassName:  <none>
Node:

[2019-04-14 11:00] SturdyFool10 commented on #3733
as a small note I clean installed and installed weave and that also returns the same warning after following the kubernetes.io instructions

[2019-04-14 11:02] floreks commented on #3733
This is a cluster issue, not related to Dashboard. Look for this error `Pod sandbox changed, it will be killed and re-created.` on the core repo.

/close

[2019-04-14 11:02] #3733 closed

[2019-04-15 00:37] zerkms opened #3734 "CronJob's Last Schedule column value is missing the `aria-label` attribute"
##### Environment

[code]

##### Steps to reproduce

If you open a list of cron jobs either `Overview`, or `Workloads`, or `Cron Jobs` menu item you'd see that the `Last Schedule` column value is missing an `aria-label` attribute. Without it it's not possible quickly see when exactly the job was triggered last time.

##### Observed result

##### Expected result

##### Comments

[2019-04-17 09:16] xxmyjk commented on #2493
Any idea on this?

[2019-04-17 17:31] ylacaute opened #3737 "Edit service kubernetes-dashboard failed with ClusterIP"
##### Environment

[code]

##### Steps to reproduce

With a running cluster with a single node master :
Add the dashboard:
[code]
Then edit the config by changing type ClusterIP to NodePort :
[code]
Everything ok, then do it again and change type NodePort to ClusterIP :
[code]

##### Observed result

We are unable to save back to ClusterIP type with the following output :
[code]
##### Expected res

[2019-04-17 17:35] floreks commented on #3737
Not related to Dashboard. You are using CLI that is part of core.

/close

[2019-04-17 17:35] #3737 closed

[2019-04-18 00:11] Wang-Wei-Li opened #3739 "bug"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误:
[code]

##### Comments

[2019-04-18 00:17] floreks commented on #3739
/close

[2019-04-18 00:17] #3739 closed

[2019-04-18 11:29] marcosdiez opened #3740 "Feature: Add a Refresh button !"
##### What would you like to be added
The UI should have are `refresh` button.

##### Why is this needed
So I can see if my job is finished, if my new pods finished loading, etc!

##### Comments

![image](https://user-images.githubusercontent.com/297498/56358101-048f0480-61b4-11e9-8a21-804973fb9c9f.png)

[2019-04-18 11:31] floreks commented on #3740
This would be handled by #2541. Closing as we will not add the refresh button, but rather go with #2541 implementation.

/close

[2019-04-18 11:31] #3740 closed

[2019-04-19 01:08] lkdevelop opened #3741 "k8s dashboard error 500"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-04-19 06:53] #3741 closed

[2019-04-19 07:54] xishian commented on #3728
Same with you, but even worse when I try to login with token, nothing happened, it's still login page!

[2019-04-19 09:02] floreks commented on #3732
@Nican could you create a PR fixing that?

[2019-04-19 12:13] AndreKR opened #3743 "Enable the login screen when using an Ingress"
I have deployed the Kubernetes Dashboard behind an Ingress.

With the ["recommended" YAML file](https://github.com/kubernetes/dashboard/blob/master/aio/deploy/recommended/kubernetes-dashboard.yaml) only port 443 is exposed with an invalid certificate. Of course I don't want to fiddle with certificates *in the application*, the ingress controller already takes care of that using ACME.

So I used th

[2019-04-19 12:54] 0x2d3c opened #3744 "dashboard style error"
Docker                           `17.03.2-ce`
Browser :                      `Chrome 73.0.3683.103 Linux`
Kubernetes:                `v1.14.0`
Dashboard:                 `k8s.gcr.io/kubernetes-dashboard-amd64     v1.10.1`

Screenshot:
![k8s-dashboard](https://user-images.githubusercontent.com/20468895/56423399-782d3080-62de-11e9-80c6-a5d541604c94.png)

[2019-04-19 12:55] floreks commented on #3744
What is this color? This doesn't look like our official build.

[2019-04-19 12:56] floreks commented on #3743
Look at `--enable-insecure-login` flag: https://github.com/kubernetes/dashboard/wiki/Dashboard-arguments

[2019-04-19 13:03] 0x2d3c commented on #3744
The style was error, i'm not changed the source code

[2019-04-19 14:59] floreks commented on #3744
It's not possible that color has changed because of some bug. It looks like you are using unofficial dashboard or have misconfigured cluster.

[2019-04-19 15:32] Nican commented on #3732
Sure. I will make a PR tonight.

[2019-04-19 16:22] 0x2d3c commented on #3744
Through my tests, this style problem I did not appear in firefox

[2019-04-19 17:24] njfix6 commented on #2970
Yes also get this issue. It happened to me when I switched between kubernetes clusters and I think it doesn't handle the token properly. If I log out and log back in it works.

[2019-04-19 19:56] AndreKR commented on #3743
That works. :+1:

[2019-04-19 19:56] #3743 closed

[2019-04-21 01:45] hyadav1987 opened #3746 "failed to pull image "k8s.gcr.io/kube-apiserver:v1.14.0": output: Error response from daemon"
I am trying to install minikube with kubernetes-version v1.14.0 and I see below error

[stderr =====>] :
I0420 21:27:15.304286    1668 kubeconfig.go:127] Using kubeconfig:  C:\Users\hyadav/.kube/config
-   Pulling images required by Kubernetes v1.14.0 ...
I0420 21:27:15.312316    1668 ssh_runner.go:101] SSH: sudo kubeadm config images pull --config /var/lib/kubeadm.yaml
I0420 21:27:15.409829    16

[2019-04-21 08:58] floreks commented on #3746
This is not a minikube repository. Create an issue there.

/close

[2019-04-21 08:58] #3746 closed

[2019-04-22 01:38] jeefy commented on #3734
/assign

[2019-04-23 08:18] zilishi opened #3751 "Dashboard reported Internal Server Error (500)"
#### Issue details

##### Environment

[code]
##### Steps to reproduce

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Expected result

##### Comments

[2019-04-23 08:18] #3751 closed

[2019-04-23 09:04] floreks commented on #3744
Then it might be a browser related issue. I don't see how it could be caused by the Dashboard itself.

/close

[2019-04-23 09:04] #3744 closed

[2019-04-23 09:08] #3732 closed

[2019-04-23 09:25] lkdevelop opened #3752 "Error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-04-23 09:25] floreks commented on #3752
/close

[2019-04-23 09:25] #3752 closed

[2019-04-23 10:03] lkdevelop opened #3753 "Why my hosts turn to disconnected automatically after they run for a while and cannot be active."
![image](https://user-images.githubusercontent.com/49175836/56572653-1298b700-65f2-11e9-8913-af4a66e81e6a.png)

[2019-04-23 10:04] floreks commented on #3753
Not a Dashboard issue.

/close

[2019-04-23 10:04] #3753 closed

[2019-04-23 10:17] GabrielCiordas commented on #2882
I had the same issue, ended up editing my args from the terminal as you described and it stopped failing. Thanks

[2019-04-23 10:18] GabrielCiordas commented on #2882
Looks like you have too many "-" characters there bud

[2019-04-23 15:22] hacst commented on #3146
Encountered the same issue with the same confusion.

@floreks  Any reason this was closed? The error message is definitely highly misleading as it is totally unrelated to the "Kubernetes apiserver" connection.

[2019-04-23 17:54] botzill opened #3754 "Some pods don't have button to download, autorefresh logs"
##### Environment

Create a cluster on DigitaOcean and install dashboard using helm chart
[code]

##### Steps to reproduce

Create a custom docker image deploy it using helm chart. Maybe docker image is made specifically so that I don't see these options.

##### Observed result

Create a custom docker image deploy it using  helm chart

<img width="1029" alt="Screen Shot 2019-04-23 at 20 50 26" src

[2019-04-23 18:09] jeefy commented on #3754
Thanks @botzill!

I'm thinking that the buttons disappear if the width of the pod/container text is too wide.

/good-first-issue

[2019-04-23 18:13] botzill commented on #3754
Hi @jeefy and thx!

Yes, this issue is this. Can this be solved somehow?

Thx.

[2019-04-23 20:41] tonydshen commented on #2854
Hi folks, my issue is a little different and yet may still have some relevance to what has been discussed here so far, so let me share it with you all.

My cluster runs on three VMware VMs, the control plane is on ubun1811 (192.168.42.161/24)
In order to reach dashboard from a remote host, I did the following:
1.	Edited /etc/kubernetes/manifests/kube-apiserver.yaml to have the these two entries un

[2019-04-23 22:18] floreks commented on #3146
This message is returned by library. We will not wrap it as it is correct. User should be familiar with differences between CA, public/private keys.

[2019-04-24 06:01] maciaszczykm commented on #3754
@botzill It can, but at the moment we are focused on other things. If you are willing to change some CSS or HTML then feel free to work on it.

[2019-04-24 09:01] XuHaoIgeneral commented on #579
@reyou   I had the same problem. How did you solve it?

[2019-04-24 13:50] reyou commented on #579
@XuHaoIgeneral  I run following command:

`$ kubectl -n kube-system describe secret $(kubectl -n kube-system get secret | grep admin-user | awk '{print $1}')`

and used token to login. Also if you are on your local. there is a skip button on login page, so you can just skip login screen.

[2019-04-25 01:01] hacst commented on #3146
@floreks I created a PR to fix the message. As you can see by the change this isn't triggered from code that has anything to do with api server connections. Someone just accidentally used the same error reporting function.

[2019-04-25 11:25] hjanuschka opened #3759 "Dead Keys - OSX qwertz keyboard"
latest dashboard version.

i am having problems with some keys using my german keyboard on OSX - when in `exec` of a pod/Container

like `|`  - it requires me to press `OPTION+7`  which produces a `bell`  and does not output the character same goes for: `{`  which is `OPTION+8`

is there any known issue about that?

[2019-04-25 11:27] floreks commented on #3759
Check if it works in this demo: https://xtermjs.org/

If not then this is a xterm issue.

[2019-04-25 11:29] hjanuschka commented on #3759
gr8! yep seems to be an issue with xtermjs, going to report it there, thx!

[2019-04-25 11:29] #3759 closed

[2019-04-25 11:30] floreks commented on #3759
@hjanuschka Actually that was my bad. Dashboard `v1.10.X` uses `hterm`.

https://hterm.org/?term-version=1.00

But if it doesn't work for both `hterm` and `xterm` then they have to fix that.

[2019-04-25 11:33] hjanuschka commented on #3759
broken on hterm too, opening issues on both repo's :D

[2019-04-25 11:34] floreks commented on #3759
Greenekeeper is keeping our deps updated so once it will be fixed there, it will get into Dashboard.

[2019-04-26 01:40] sifksky opened #3763 "Kubernetes dashboard"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-04-26 01:41] sifksky commented on #3763
kubernetes can not login

[2019-04-26 06:26] maciaszczykm commented on #3763
Clear your browser cache and try again.

/close

[2019-04-26 06:26] #3763 closed

[2019-04-28 01:17] jeefy opened #3768 "Node List does not display metrics graphs"
Dashboard does not display metrics for nodes. This should be fairly easy to add, basing things off of the code used for Pods.

[2019-04-28 08:28] feloy commented on #3574
Hi, I'm interested in discussing/working in the support of i18n in the dashboard.

Natevely, Angular 2+ only supports i18n at load time: there is no way to change the language without reloading the app (after changing the preferred languages of your browser for example).

I know that @ocombe is working to implement natively in future Angular versions a way to make it possible to change the languag

[2019-04-28 09:34] wyl316430 opened #3769 "dashboard 503"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (503):
[code]

##### Comments

[2019-04-28 10:31] floreks commented on #3769
/close

[2019-04-28 10:31] #3769 closed

[2019-04-28 13:23] feloy commented on #3574
After some testing, code exploration and minor fixes, I can see that the backend handles the selection of the localized build to serve depending on the Accept-Language header.

I have a working system with a start of a French translation. I'll post a pull request soon.

[2019-04-28 14:55] emper0r commented on #916
Dashboard not working... and isn't issue of firewall , the check using curl work fine

kube-master 1.14.1
kube-slave1 1.14.1
kube-slave2 1.14.1

Every 1,0s: kubectl -n kube-system get all -o wide                                                                                                                                                        Sun Apr 28 16:51:28 2019

NAME

[2019-04-28 19:03] sandeepsiyadri opened #3772 "After kubeadm reset and trying to create a pod then I see this error. How to resolve this?"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-04-28 19:04] floreks commented on #3772
I don't see how this is related to Dashboard. Also you are using very outdated version.

/close

[2019-04-28 19:04] #3772 closed

[2019-04-29 07:04] sharathmankala opened #3776 "Unable to Access Dashboard"
Hi Team,
Today i have instaled K8s dashboard on aws ec2 instance.
After  adding token to Dashboard unable to respond .
Please suggest us.
Thanks in advance.
![Screenshot from 2019-04-29 12-33-46](https://user-images.githubusercontent.com/9713485/56880611-16598d00-6a7b-11e9-8e9c-1e153b186be4.png)

[2019-04-29 07:06] floreks commented on #3776
Logging in over `HTTP` is not possible as it is not secure. Domains other than `localhost` will not be allowed to log in. Set up secure connection or use `kubectl proxy` to access it on `localhost`.

[2019-04-29 07:06] floreks commented on #3776
/close

[2019-04-29 07:06] #3776 closed

[2019-04-29 13:39] ocombe commented on #3574
It's not on the roadmap at all for now. Ivy will handle i18n at runtime, which lets us choose the language at bootstrap, but you still need to reload the app to change it. The issue is how to deal with all the data in memory when the framework itself is data-agnostic (we don't provide a store like ngrx for example), and since changing the language also changes the template code (you can have new h

[2019-04-29 14:31] mrow4a commented on #3251
@maciaszczykm is this planned to be included in next release, or earliest 2.0.0? It is tiny fix, but would be great to have it for these who already use CRDs early (https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/484).

[2019-04-29 14:42] maciaszczykm commented on #3251
Earliest in 2.0.0, @mrow4a. If you would be willing to create bugfix branch on top of old release then we can get it released perhaps.

[2019-04-29 19:22] xinghan666 commented on #3100
any progress for this problem?

[2019-04-30 15:09] mofux commented on #3759
Hi, it's Thomas from the xterm.js team. We think this issue is caused by the docker container using a different locale to the client OS running the dashboard. I think the problem could be solved by passing a custom `LANG` environment variable to the docker exec command (in the example below, using de_DE as the LANG variable):

[code]

This is only a guess, but I'm 99% sure that the problem is not

[2019-04-30 15:22] hjanuschka commented on #3759
just for the record - env does not fix it
![Bildschirmfoto 2019-04-30 um 17 20 58](https://user-images.githubusercontent.com/2891702/56973127-8562de80-6b6c-11e9-8f4d-2451fc820f2b.png)

but i am fine with closing it , going to use `attach` instead of web terminal.

[2019-04-30 16:33] mofux commented on #3759
Just another thought, if you compare the output of the `locale` and `env` commands between the kubernetes dashboard and a regular `attach` session, can you see any differences?

[2019-05-01 01:40] smiklosovic commented on #3728
Same as @xishian, it just does not do anything. With Firefox too.

[2019-05-01 01:53] smiklosovic commented on #3728
@floreks what that could be?

[2019-05-01 02:00] smiklosovic opened #3777 "Unable to log in via Firefox / Chrome"
##### Environment

I have three VMs on RHEL7, one master + two workers. My cluster works all good but when I applied current (master) dashboard yaml on top of that, I can get to login screen but after entering token and clicking a button it just does not do anything. Just nothing.

[code]
##### Steps to reproduce

I did this howto

https://kubernetes.io/docs/tasks/access-application-cluster/web-ui

[2019-05-01 05:36] pankajcheema12 commented on #2180
@shashankpai I am facing same issue in v1.14.1

[2019-05-02 03:00] yjb007 commented on #3777
k8s v1.14 v1.13 not Compatibility with Dashboard v1.10.1 blow
ps: https://github.com/kubernetes/dashboard/releases

[2019-05-02 03:34] smiklosovic commented on #3777
hey @yjb007, dont you know by any chance when it will be compatible? what's the roadmap?

[2019-05-02 06:19] floreks commented on #3777
It's not about compatibility. Read the documentation about exposing Dashboard. It says clearly that exposing using `kubectl proxy` is not secure as it only offers HTTP and login will not be possible.

/close

[2019-05-02 06:19] #3777 closed

[2019-05-02 06:30] smiklosovic commented on #3777
@floreks huh thats interesting, I wonder how many people runs dashboard and whole k8s master stuff on their localhost ... how is it done "normally" when one wants to acess it over network? I saw these setups

[2019-05-02 12:04] floreks commented on #3777
Ingress usage or custom reverse-proxy setup is recommended. Login when using HTTP should never be possible when accessing any app over network.

[2019-05-03 07:25] saddique164 commented on #2034
Please remove slave nodes while configuring it. keep only master active in the cluster. It will resolve you issues

[2019-05-03 07:29] saddique164 commented on #2034
This is my browser shows when I open your shared URL using the IP. Note I followed your steps...
{
  "paths": [
    "/apis",
    "/apis/",
    "/apis/apiextensions.k8s.io",
    "/apis/apiextensions.k8s.io/v1beta1",
    "/healthz",
    "/healthz/etcd",
    "/healthz/log",
    "/healthz/ping",
    "/healthz/poststarthook/crd-informer-synced",
    "/healthz/poststarthook/generic-apiserver-start-infor

[2019-05-03 07:31] saddique164 commented on #2034
The problem has been resolved with your idea. I just changed the URL to this..

http://My_Master_Ip :9999/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/#!/login

[2019-05-03 21:31] ssaguturu opened #3782 "error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (504):
[code]

##### Comments

[2019-05-04 12:42] floreks commented on #3782
/close

[2019-05-04 12:42] #3782 closed

[2019-05-05 11:35] feloy opened #3784 "Search results are not visible for some kinds of Workloads"
Search results do not display daemon sets, deployments, jobs, replication controllers and statefulsets.

[2019-05-05 11:38] feloy commented on #3768
@jeefy Which metrics precisely would you like to be displayed?

[2019-05-05 15:54] ssabat opened #3786 "Kubernetes Dashboard Internal Error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (404):
[code]

##### Comments

[2019-05-05 15:57] floreks commented on #3786
/close

[2019-05-05 15:57] #3786 closed

[2019-05-06 07:24] #3784 closed

[2019-05-06 11:02] Aravindumasankar opened #3787 "Kube dashboard square/go-jose: error in cryptographic primitive"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-05-06 11:38] floreks commented on #3787
/close

[2019-05-06 11:38] #3787 closed

[2019-05-07 09:50] mantralabs opened #3789 "Error: 'dial tcp 192.168.1.2:8443: i/o timeout"
##### Environment

[code]

##### Steps to reproduce

[code]
##### Observed result

[code]

[code]
[code]

[code]

[code]

[code]
##### Expected result

Expected result is Dashboard Login Page HTML, while I get the error

Error: 'dial tcp 192.168.1.2:8443: i/o timeout'
Trying to reach: 'http://192.168.1.2:8443/

##### Comments

As you would notice all pods, services are running without any errors,

[2019-05-07 10:01] mantralabs commented on #3789
Another observation that shows other functions seem to be working.
[code]
[code]

[2019-05-08 03:00] BaochunLiuBJ opened #3793 "Dashboard reported Internal Server Error (500)"
#### Issue details

##### Environment

[code]
##### Steps to reproduce

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Expected result

##### Comments

[2019-05-08 07:22] #3793 closed

[2019-05-08 15:15] Nurlan199206 commented on #2816
someone can help me, i'm running dashboard with command:` kubectl proxy --address="192.168.0.105" -p 8001 --accept-hosts='^*$' `

![Снимок экрана 2019-05-08 в 21 13 37](https://user-images.githubusercontent.com/22808731/57386535-5b499600-71d6-11e9-88e2-099abf900d9f.png)

[2019-05-08 18:00] jeefy commented on #3768
CPU / Memory are the two that are collected. :)

[2019-05-09 03:50] BaochunLiuBJ opened #3796 "Dashboard reported Internal Server Error (500)"
#### Issue details

##### Environment

[code]
##### Steps to reproduce

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Expected result

##### Comments

[2019-05-09 06:21] prahaladdarkin commented on #3789
Can you try the following command:
`kubectl --namespace=kube-system port-forward <kubernetes-dashboard-podname> 8443`

I got this resolution when looking at a similar github issue here :
https://github.com/kubernetes/dashboard/issues/3038

[2019-05-09 06:32] #3796 closed

[2019-05-09 12:10] amitoo7 commented on #2526
who do i put the RBAC role for gke cluster

[2019-05-09 16:32] #3602 closed

[2019-05-09 21:02] eloyekunle commented on #3509
/remove-lifecycle-stale

[2019-05-10 06:32] Alex-Cheng opened #3801 "executing "curl <dashboard pod's IP>:8443" got certification expiration error"
##### Environment

[code]

##### Steps to reproduce

run ```kubectl describe <dashboard pod> -n=kube-system```, got
[code]

Then execute ```curl 10.244.0.8:8443```, got
[code]

##### Observed result

[code]

##### Expected result

should access <pod IP>:8443, as if run ```curl -k``` which ignore the verification of certificate

##### Comments

[2019-05-10 07:03] lkdevelop opened #3802 "error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-05-10 07:23] floreks commented on #3802
/close

[2019-05-10 07:23] #3802 closed

[2019-05-10 07:26] floreks commented on #3801
Works as expected. Default `--auto-generate-certificates` flag generates self-signed certs that will not be recognized as "safe". You can use your own certs if needed. It is described on our wiki.

/close

[2019-05-10 07:26] #3801 closed

[2019-05-10 11:13] ronakpandya7 commented on #2812
Hello All,
Any update on this issue?

[2019-05-10 11:32] itkroplis opened #3803 "secrets "kubernetes-dashboard-certs" already exists"
Hi!  I made secret with my godady wildcard certificate. And after dashboard install I get error  secrets "kubernetes-dashboard-certs" already exists.  How resolv it?

kubectl create secret generic kubernetes-dashboard-certs --from-file=$HOME/certs -n kube-system
secret/kubernetes-dashboard-certs created

:~$ kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deplo

[2019-05-10 12:42] #3803 closed

[2019-05-10 13:50] floreks commented on #3803
Well if you have created it then it exists. This is not an issue. We are creating only empty placeholder. Everything should work, but if you want to use custom certs you have to remove `auto-generate-certs` flag and use cert flags to provide your own that will be read from the secret.

/close

[2019-05-10 14:11] itkroplis commented on #3803
I didn't immediately realize dashboard was working.

Maybe you know. Is it possible  install dashboard as HTTP with token auth?
All the descriptions I find do not allow me to create remote dashbord with token auth and my certificate.  I think, make HTTP dashboard + token auth and use nginx reverse proxy to apply my certificate.

[2019-05-10 16:39] GMKBabu opened #3804 "Im getting this error can you help me"
Your connection is not private
Attackers might be trying to steal your information from 13.126.203.219 (for example, passwords, messages, or credit cards). Learn more
NET::ERR_CERT_INVALID

Help improve Safe Browsing by sending some system information and page content to Google. Privacy policy
13.126.203.219 normally uses encryption to protect your information. When Google Chrome tried to connect

[2019-05-10 18:30] grahamehorner commented on #3728
I've reinstalled everything onto a refresh VM and it look as if IE Edge isn't submitting the token to the service for validation; the developer tools don't seem to be showing any errors and fiddler is not seeing any https get/post action out bound?

[2019-05-10 18:48] grahamehorner commented on #3728
correction:- IE Edge is showing the following errors in debug

HTTP401: DENIED - The requested resource requires user authentication.
(XHR)GET - http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/api/v1/settings/global

HTTP401: DENIED - The requested resource requires user authentication.
(XHR)GET - http://localhost:8001/api/v1/namespaces/kube-system/se

[2019-05-11 06:03] smiklosovic commented on #3728
In my case it was about roles. You are probably having them wrong.

Start it in such way there is skip button. Then if you are in, you will have the most probably some warnings there. You have to resolve them. After that you can login with token and disable skip.

I used kubectl proxy, I dont think I needed ingress. Actually I did, but it is a parameter to kubectl apply -f _that_dashboard_file (sa

[2019-05-12 01:08] #3574 closed

[2019-05-13 08:02] luckylucky421 opened #3806 "Internal Server Error (500)"
an error on the server ("Internal Server Error: \"/apis/rbac.authorization.k8s.io/v1/roles\": the server could not find the requested resource") has prevented the request from succeeding

[2019-05-13 09:00] grahamehorner commented on #3728
@smiklosovic I'm not sure what your attempting to describe as I' new to kubernetes and I'm simply following the documented process on the repo; also unsure if this is a role issue as the same setup works using the Google Chrome browser for myself? note the errors occure in IE Edge prior to sign in with a token; but no errors occur in google chrome.

[2019-05-13 10:10] floreks commented on #3806
/close

[2019-05-13 10:10] #3806 closed

[2019-05-14 01:20] lkdevelop opened #3808 "工作负载"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Service Unavailable (503):
[code]

##### Comments

[2019-05-14 04:45] floreks commented on #3808
/close

[2019-05-14 04:45] #3808 closed

[2019-05-14 08:13] shu-mutou commented on #3768
@jeefy Pie charts for CPUs and memory of kind-0.2.1 cluster are shown in my dashboard like below. Are these pie charts what you want?
![Screenshot from 2019-05-14 16-55-45](https://user-images.githubusercontent.com/12838129/57681835-75b6c000-766b-11e9-94e4-61227a83f946.png)

[2019-05-15 01:47] CengArif opened #3814 "crash"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Service Temporarily Unavailable (503):
[code]

##### Comments

[2019-05-15 03:01] imagineful commented on #2879
+1

[2019-05-15 04:56] floreks commented on #3814
/close

[2019-05-15 04:56] #3814 closed

[2019-05-16 00:16] jeefy commented on #3768
I was thinking we could show the same sparklines that we display for Pod metrics. Thoughts?

[2019-05-16 07:56] shu-mutou commented on #3768
Now, I understand what you wants. I found NodeList object has "CumulativeMetrics", but it seems to be cpu/memory history for all of nodes, rather than for each node.
If we can get cpu/memory history for each node independently, we would able to add columns for sparklines into "Nodes" table, I think.
Do you know the other way to get cpu/memory history for each nodes?

[2019-05-16 10:28] sebasb21 opened #3816 "Memory Graph on Workloads>Deployments not historically accurate"
So the graph for memory seems to lose historical data when scaling down.

If you add a pod Total memory goes up, graphs shows this. If you scale down graph starts showing current total memory, which is less, but it forgets the "bump" that occurred in the scale up.

##### Environment
[code]

##### Steps to reproduce

1. Open Workload>Deployments
2. Scale up a deployment
3. Wait for graph to show me

[2019-05-16 14:01] floreks commented on #3816
This is not a bug. Heapster only collects metrics for a predefined time window (15 min) and graphs time window is exactly the same.

https://github.com/kubernetes-retired/heapster/blob/df26691b3b1113385e37afcf52afcfdad37cea9b/docs/model.md

/close

[2019-05-16 14:01] #3816 closed

[2019-05-16 14:08] sebasb21 commented on #3816
Sorry, can you explain further? I don't understand how your statement explains the behaviour.

[2019-05-16 15:07] sebasb21 commented on #3816
The two snapshots show nearly the same time window but they show different data. So for example at 11:15 first snapshot shows ~1.86G and the second snapshot at 11:15 shows 1.12 G. So there is an inconsistency there, i think.

[2019-05-16 16:22] floreks commented on #3816
We are not doing anything with the data so it is heapster that has issues here. We are switching to metrics server so it will be fixed. The core issue lies in heapster though.

[2019-05-16 18:19] floreks commented on #3430
/reopen

[2019-05-16 20:13] sebasb21 commented on #3816
Ok

[2019-05-17 01:51] tony-liuliu commented on #3804
Generate self-signed certificates
[root@es-master-1 ~]# mkdir certs
[root@es-master-1 ~]# openssl req -nodes -newkey rsa:2048 -keyout certs/dashboard.key -out certs/dashboard.csr -subj "/C=/ST=/L=/O=/OU=/CN=kubernetes-dashboard"
[root@es-master-1 ~]# openssl x509 -req -sha256 -days 365 -in certs/dashboard.csr -signkey certs/dashboard.key -out certs/dashboard.crt

Generate the kubernetes-dashboard-

[2019-05-17 03:39] sunsky commented on #3715
![Uploading image.png…]()
same issue here

[root@k8s-master k8s]# kubeadm version &&  kubectl version && uname -a && cat /etc/*lease
kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d55f812", GitTreeState:"clean", BuildDate:"2018-01-04T11:40:06Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Client Version: version

[2019-05-17 03:44] sunsky commented on #3715
![image](https://user-images.githubusercontent.com/570405/57901602-6c5e6b00-7898-11e9-9cd3-f8deb57acd02.png)

[2019-05-17 03:59] sunsky commented on #3715
![image](https://user-images.githubusercontent.com/570405/57902299-2525a980-789b-11e9-88d8-4263e5a0ca09.png)
![image](https://user-images.githubusercontent.com/570405/57902307-3078d500-789b-11e9-8fd6-234d29d51f46.png)

[2019-05-17 08:59] floreks commented on #3789
@mantralabs follow the steps from our [README](https://github.com/kubernetes/dashboard/blob/master/README.md#getting-started) and use correct URL to access Dashboard.

/close

[2019-05-17 08:59] #3789 closed

[2019-05-17 09:01] floreks commented on #3804
@GMKBabu provide your own certificates as described by @tony-liuliu  if self-signed ones are not allowed by your browser configuration.

/close

[2019-05-17 09:01] #3804 closed

[2019-05-18 11:46] mantralabs commented on #3789
Yes, the dashboard URL that I was using was indeed incorrect. The correct URL should be
curl 127.0.0.1:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

I used Weave Net as the CNI along with this above fix of the URL made the dashboard work.

[2019-05-24 02:15] marov opened #3825 "dashboard does not support argo workflows"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-05-24 08:05] t1mt opened #3826 "node events aren't displayed"
##### Environment
[code]

##### Steps to reproduce
1. stop cluster kubelet
2. start cluster kubelet
3. `kubectl describe node $YOUR_NODE_NAME`
4. request a backend node detail API
[code]
##### Observed result
responses a empty node eventList.
[code]

##### Expected result
return same as the command line `kubectl describe node $YOUR_NODE_NAME` 'Events'

##### Comments
[https://github.com/kubernetes

[2019-05-24 10:06] floreks commented on #3825
/close

[2019-05-24 10:06] #3825 closed

[2019-05-26 04:30] edwinpjacques opened #3828 "Can't access pod created by Argo framework"
##### Steps to reproduce

Follow this example.  https://argoproj.github.io/argo-events/getting_started/
When using the dashboard to see the webhook-gateway-http POD, it gave the error below.

Here is the yams for the pod I was trying to access:
[code]

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-05-27 06:53] maciaszczykm commented on #3828
It is fixed on master. We plan to release it within one month as the project went through frontend migration.

[2019-05-27 06:53] #3828 closed

[2019-05-27 22:55] c-stoeckl commented on #916
After trying out every fix I found, what finally granted me access to the dashbord was this URL:
[code]

Notice this part: /https:kubernetes-dashboard:**https**/

Without adding the https it didn't work for me and I always got "no endpoints available for service "kubernetes-dashboard"".

Found the working link in the readme here: https://github.com/helm/charts/tree/master/stable/kubernetes-dashboa

[2019-05-28 16:25] zencircle opened #3830 "error after switching context"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-05-28 16:45] floreks commented on #3830
/close

[2019-05-28 16:45] #3830 closed

[2019-05-28 22:12] rsoto91 opened #3835 "Config Map entries are not paginated when total count is greater than "Items per page" value"
##### Environment
[code]

##### Steps to reproduce
1. Have a total count of Config Maps greater than the "Items Per Page" value set in the Kubernetes Dashboard. (In this case, we have 32 config map entries and the "items per page" value set to 10.
2. Navigate to "Config Maps" in the Kubernetes Dashboard. Entries "1-10 of 32" are displayed.
3. Click on right arrow to iterate through the remaining e

[2019-05-29 06:34] maciaszczykm commented on #3835
Thanks, we will take a look.

[2019-05-29 14:19] eloyekunle commented on #2493
I am currently working on this issue for GSoC.

[2019-05-29 15:02] #3631 closed

[2019-05-30 13:41] feloy commented on #3754
I think this issue were fixed by #3766

[2019-05-30 13:45] feloy commented on #3650
I think this issue were fixed by #3770

[2019-05-30 13:50] #3754 closed

[2019-05-30 13:50] #3650 closed

[2019-05-30 13:52] maciaszczykm commented on #3835
Fixed on master. Please wait for the new release:

<img width="1767" alt="Zrzut ekranu 2019-05-30 o 15 52 24" src="https://user-images.githubusercontent.com/2823399/58637507-ef4ce000-82f2-11e9-814e-ea33984c9e6c.png">
<img width="1766" alt="Zrzut ekranu 2019-05-30 o 15 52 16" src="https://user-images.githubusercontent.com/2823399/58637508-ef4ce000-82f2-11e9-8cf3-da7ed7487d54.png">

[2019-05-30 13:52] #3835 closed

[2019-05-30 13:53] maciaszczykm commented on #3664
@mlbiam Hey, any updates?

[2019-05-30 15:52] #3571 closed

[2019-05-30 15:56] maciaszczykm commented on #3647
Please reopen if the issue persists.

/lifecycle rotten
/close

[2019-05-30 15:56] #3647 closed

[2019-06-02 03:12] sskcar opened #3847 "Issues accessing dash"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-06-02 09:44] xianshuihu commented on #3715
@dwschulze I have encountered the same situation as you, then I tried to put the first provided snippet (Create Service Account) into the yaml file and execute the kubectl command, then the second snippet(Create ClusterRoleBinding) for the same processing. In other words, they are treated as two separate steps, not mixed together, and finally solved.

[2019-06-02 11:10] floreks commented on #3847
/closr

[2019-06-02 11:10] floreks commented on #3847
/close

[2019-06-02 11:10] #3847 closed

[2019-06-02 12:45] Nurlan199206 commented on #3776
how setup dashboard over https?

[2019-06-03 06:57] kamalguptadevops commented on #1603
Please try to pass the environment variable's value within the double quotes, especially when you are passing some numeric value, In my case, I was passing the environment variables in the deployment file without the double quotes. I was getting the same error, but when I changed it worked for me. It might help you as well.

Thanks,

[2019-06-03 09:03] metrue opened #3850 "build status shows 'failing'"
**Which jobs are failing**:
docker login

**Which test(s) are failing**:
docker login

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

[2019-06-03 09:04] floreks commented on #3850
Updated password on travis.

/close

[2019-06-03 09:04] #3850 closed

[2019-06-03 14:20] liuguiyangnwpu opened #3851 "Dashboard reported 未知服务器错误 (500)"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2019-06-03 14:47] floreks commented on #3851
Not enough information and outdated Dashboard version,

/close

[2019-06-03 14:47] #3851 closed

[2019-06-04 16:47] mlbiam commented on #3664
life's my gotten in my way :-/ good news is i hope to pick this back up in the next week or two

[2019-06-05 00:54] jeefy commented on #3664
Awesome! @mlbiam let us know if there's anything you need. Thanks!

[2019-06-06 08:16] MikkelHegn opened #3857 "Exec to a Windows container closes connection on key input"
##### Environment
1.14 clusters deployed through AKS and AKS-Engine shows same behaviour. The Windows container is a Windows Server 2019 container on Windows Server 2019 hosts.

[code]

##### Steps to reproduce
Deploy a Windows container.
Use the exec console from the dashboard
Press any key in the console
Connection will close

##### Observed result

##### Expected result

##### Comments
exec is

[2019-06-06 08:21] floreks commented on #3857
This might be because at the moment we do not support powershell :) Only basic unix shells.

[2019-06-06 08:48] ancastroila-gekkofox commented on #2947
+1

[2019-06-06 08:48] MikkelHegn commented on #3857
The terminal code does open PowerShell: https://github.com/kubernetes/dashboard/blob/0e6cb1be135bc16c2be1d99a9c50a17dde1e87fd/src/app/backend/handler/terminal.go#L289 - implemented here: https://github.com/kubernetes/dashboard/pull/2922

If it's not supported, I suggest reverting that PR and throw an error in the terminal. Current experience is that the PowerShell prompt loads, but as soon as keys

[2019-06-06 11:23] maciaszczykm opened #3859 "Add workload statuses to workloads view"
At the moment the component is visible only in the overview.

[2019-06-06 11:24] maciaszczykm opened #3860 "Ensure that context menu actions match actionbar actions for all resources"

[2019-06-06 11:25] maciaszczykm opened #3861 "Update colors in the dark theme"
Some of the colors that we are using at the moment are too dark. Also there is white border in around the graphs which is not visible in the light theme.

[2019-06-06 11:26] maciaszczykm opened #3862 "Remove frontend_old directory"
The directory should be removed after all its contents will be migrated.

[2019-06-06 11:27] maciaszczykm opened #3863 "Manually test the HEAD image and release the beta"

[2019-06-06 11:29] maciaszczykm opened #3864 "Update wikis after the Anguar migration"

[2019-06-06 11:31] maciaszczykm commented on #2834
It is fixed already. Please wait for https://github.com/kubernetes/dashboard/milestone/1.

[2019-06-06 11:31] #2834 closed

[2019-06-06 11:32] maciaszczykm opened #3865 "Add more unit tests"

[2019-06-06 11:33] maciaszczykm opened #3866 "Add graphs cluster, nodes, overview, workloads, daemon sets, cron jobs, deployments, pods, rc, rs, and stateful sets"

[2019-06-06 11:36] maciaszczykm opened #3867 "Add HPA list to deployments detail view"

[2019-06-06 11:36] maciaszczykm opened #3868 "Move TODOs from the code to issue tracker"

[2019-06-06 11:37] maciaszczykm opened #3869 "Fix error handling and use Angular router"

[2019-06-06 11:38] maciaszczykm commented on #3440
Split the issue to the smaller tasks in the https://github.com/kubernetes/dashboard/milestone/1.

/close

[2019-06-06 11:38] #3440 closed

[2019-06-06 11:41] maciaszczykm opened #3870 "Update to the new client-go"

[2019-06-06 14:06] #3869 closed

[2019-06-06 14:28] maciaszczykm opened #3871 "PV view is displayed instead of PVC"

[2019-06-06 14:29] maciaszczykm opened #3872 "Breadcrumbs component produces NPE"
Possible that it happens on page init.

[2019-06-06 16:20] maciaszczykm commented on #3872
Cannot reproduce it on master and Chrome (incognito mode). Will keep it under observation.

[2019-06-06 16:20] #3872 closed

[2019-06-06 16:54] #3871 closed

[2019-06-07 11:38] gaojun5 commented on #3861
Hi all, I would love to work on this if this still need to be done

[2019-06-07 16:32] floreks commented on #3861
I am not sure. I think we have updated most colors? @maciaszczykm do you remember?

[2019-06-08 17:58] eloyekunle opened #3884 "Upgrade go-restful to latest version"
##### What would you like to be added
The dashboard is still based on `go-restful` [version 1.0.0](https://github.com/emicklei/go-restful/releases/tag/1.0.0) released in January 2017.

Kubernetes core has been using the [version 2.2](https://github.com/emicklei/go-restful/releases/tag/2.2.0) since March 2017 ([PR](https://github.com/kubernetes/kubernetes/pull/45390)).

##### Why is this needed

##

[2019-06-08 19:51] eloyekunle commented on #3870
Great, the latest release is `[v11.0.0](https://github.com/kubernetes/client-go/releases/tag/v11.0.0)`, which is also the same hash as `[kubernetes-1.14.0](https://github.com/kubernetes/client-go/releases/tag/kubernetes-1.14.0)`.

[2019-06-09 12:15] luigibvl opened #3887 "Internal Server Error (500)"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-06-09 14:14] eloyekunle commented on #3567
/remove-lifecycle stale

[2019-06-09 14:17] eloyekunle commented on #3509
/remove-lifecycle rotten

[2019-06-09 14:52] Flandoll commented on #2569
I also encountered this problem.
For example, my application has two parameter options -a -b, the parameter value is a1 b1
The yaml file args field should be
`args: ["-a", "a1", "-b", "b1"]`
But in the command arguments column of the Web UI, the args field of the generated yaml file will become
`args: ["-a a1 -b b1"]`
Causes the app to fail to start.

[2019-06-09 17:55] #3887 closed

[2019-06-09 19:06] Queuecumber opened #3888 "Dashboard Not Accessible Without Trailing Slash Ingress Subpath"
##### Environment

[code]

##### Steps to reproduce
Using any ingress, expose the dashboard to a non-root path e.g. example.com/dashboard

##### Observed result
Using any kind of ingress, exposing the dashboard on a subpath causes it to not work unless a trailing slash is manually prepended to the URL either by the user or with a rewrite rule.

##### Expected result
As with other applications, it

[2019-06-10 07:05] maciaszczykm commented on #3509
/lifecycle frozen

[2019-06-10 07:08] maciaszczykm commented on #3861
@floreks in the dark mode some of the links seem to be a bit too dark, also the colors of the graphs? This issue is for checking that once more.

[2019-06-11 14:04] WhoAteDaCake commented on #3008
Still happening in 1.10.1 ? I was flodded with gigs of logs in no time. Deleting the dashboard pod did not solve it

[2019-06-11 14:16] floreks commented on #3008
Can you upload beginning of the log? First 30m let's say.

[2019-06-12 05:21] Nurlan199206 opened #3895 "can't access into dashboard"
i'm deployed dashboard with command below.

and copied token but nothing happening.

`kubectl create secret generic kubernetes-dashboard-certs --from-file=$HOME/certs -n kube-system`

my folder with LE certs below

[code]

[code]

`kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml`

![kube-dash](https://user-images.git

[2019-06-12 06:23] #3884 closed

[2019-06-12 06:25] #3870 closed

[2019-06-12 07:52] 0312birdzhang commented on #3541
Same thing again. Chome works.
K8s 1.11.7, dashboard v1.10.0
Firefox: 67.0.2 (64 Bit)

[2019-06-12 08:01] Nurlan199206 commented on #3895
![kube-dash1](https://user-images.githubusercontent.com/22808731/59333604-82860c80-8d1a-11e9-9bf1-1756f7b3ae44.PNG)

[2019-06-12 12:11] n-rik opened #3896 "Haproxy ingress controller giving me 503 randomly"
Hello ,

I am having the kuberenets cluster set up on AWS with cores
Kubectl version:
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.3", GitCommit:"a4529464e4629c21224b3d52edfe0ea91b072862", GitTreeState:"clean", BuildDate:"2018-09-09T18:02:47Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.1

[2019-06-12 12:12] floreks commented on #3896
I don't see how this is related to Dashboard.

/close

[2019-06-12 12:12] #3896 closed

[2019-06-12 12:15] floreks commented on #3895
Did you expose it using `kubectl proxy`?

[2019-06-12 14:20] Nurlan199206 commented on #3895
yes, my kubectl command looks like this: `kubectl proxy --address="192.168.0.105" -p 8001 --accept-hosts='^*$' &`

[2019-06-12 16:37] Nurlan199206 commented on #3895
i'm added skip button... with skip button it's works...

![Снимок экрана 2019-06-12 в 22 36 16](https://user-images.githubusercontent.com/22808731/59369602-96edf780-8d62-11e9-8ee3-b76808e068b9.png)

![Снимок экрана 2019-06-12 в 22 37 16](https://user-images.githubusercontent.com/22808731/59369639-aa00c780-8d62-11e9-99dc-f475dc3e7d5f.png)

[2019-06-12 16:39] Nurlan199206 commented on #3895
i'm stuck with token auth on httpS... via http token auth works also

[2019-06-13 06:34] floreks commented on #3895
As specified in our documentation accessing Dashboard over http is not secure and will not be allowed. This proxy only allows http access and should not be used to expose applications. Dashboard does this on purpose.

/close

[2019-06-13 06:34] #3895 closed

[2019-06-13 06:34] anitamg opened #3897 "DEPLOYMENT ISSUE"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Bad Gateway (502):
[code]

##### Comments

[2019-06-13 06:43] floreks commented on #3897
Not enough information.

/close

[2019-06-13 06:43] #3897 closed

[2019-06-13 08:40] floreks commented on #3888
I think it should be fairly easy to add. We are missing rewrite rule in our backend from `""` to `"/"`. Are you willing to work on that?

[2019-06-13 08:43] floreks commented on #3648
@maciaszczykm I think it should not be an issue in `v2.0` as now status icon changes to eye on list item hover and user can click to expand errors.

[2019-06-13 08:50] maciaszczykm commented on #3648
Will test.

[2019-06-13 09:53] maciaszczykm opened #3898 "Rollback resource creation on error"
When we are creating multiple resources and creation partly fails we should rollback whole creation (all resources).

[2019-06-13 09:55] maciaszczykm opened #3899 "Disable directory listing for HTTP server"

[2019-06-13 09:58] maciaszczykm opened #3900 "Use binary search in getLineIndex method"
Timestamps should be compared.

[2019-06-13 10:00] maciaszczykm opened #3901 "Handle case while getting cluster role list with disabled RBAC"
Currently, it returns 404 (resource not found).

[2019-06-13 10:04] maciaszczykm opened #3902 "Determine current architecture during project compilation"
At the moment `amd64` is used as default architecture. It would be good to determine it based on current architecture (see: `aio/gulp/conf.js:33`).

[2019-06-13 10:05] maciaszczykm opened #3903 "Figure out how to handle YAML exceptions"
At the moment we silcence them (see: `src/app/frontend/error/handler.ts:41`).

[2019-06-13 10:07] maciaszczykm opened #3904 "Redesign errors displayed on login page"
At the moment we are using simple component to display the error messages. It can be improved (see: `src/app/frontend/login/template.html:19`).

[2019-06-13 10:51] maciaszczykm opened #3906 "Parametrize exposed ports from Dockerfile"
Should be done in order to make other build tools aware of ports that are exposed.

[2019-06-13 10:57] maciaszczykm opened #3907 "Improve integration manager"
- [ ] If necessary add some kind of ID tracker.

[code]

- [ ] Support more information like `installed` or `enabled`.
- [ ] Implement storage sync.

[code]

[2019-06-13 11:01] maciaszczykm opened #3908 "Add ripple effect to the filter button on resource cards"

[2019-06-13 11:01] Queuecumber commented on #3888
Yeah I can probably do it, can you give me a tip on where to start looking?

[2019-06-13 11:04] maciaszczykm opened #3909 "Reenable namespace change dialog"
At the moment its code is commended in the `NamespaceSelectorComponent`.

[2019-06-13 11:06] maciaszczykm opened #3910 "Localize error responses in the verber service"
Use localize method on `err.data` in `VerberService.handleErrorResponse_`.

[2019-06-13 11:08] maciaszczykm opened #3911 "Implement missing methods in history service"
At the moment it is not possible to go back to previous state. User will be always redirected to the `defaultState` which at the moment is always overview (see: `HistoryService.goToPreviousState`).

[2019-06-13 11:10] maciaszczykm opened #3912 "Show query in the search state breadcrumb"
At the moment it is not shown (see: `BreadcrumbsComponent._getBreadcrumbLabel`). Previous logic:

[code]

[2019-06-13 11:12] maciaszczykm opened #3913 "Replace CommaSeparatedListComponent with join method or pipe"
Component is a bit too much for this. Use `join(', ')` method or our own pipe.

[2019-06-13 11:18] maciaszczykm opened #3914 "Improve the way how resource quotas and limits are displayed"
Instead of printing raw JSON we can display status lists on detail pages (see: `src/app/frontend/common/components/quotas/template.html:54` and `src/app/frontend/common/components/limits/template.html:36`).

[2019-06-13 11:21] maciaszczykm opened #3915 "Implement handler for namespace button in actionbar"
See: `ActionbarComponent.onClick`. Previous implementation:

[code]

[2019-06-13 11:23] maciaszczykm opened #3916 "Handle pod container change in the shell view"
See: `ShellComponent.onPodContainerChange`. Previous implementation:

[code]

[2019-06-13 11:34] floreks opened #3918 "golangci-lint fails during git commit"
Whenever I am trying to do a `git commit` and it contains changed go files, `golangci-lint` fails and stops the commit.

[code]

[2019-06-13 11:38] maciaszczykm commented on #3918
Happens to me too. @shu-mutou could you take a look on it?

[2019-06-13 11:39] maciaszczykm opened #3920 "Revert gts to restore old code formatting"
Should probably be done after merging all the bigger PRs to avoid merge conflicts. Previous version was 0.9.0 AFAIK.

[2019-06-13 11:58] #3868 closed

[2019-06-13 12:07] maciaszczykm opened #3921 "Migrate e2e tests to Cypress"

[2019-06-13 13:45] maciaszczykm commented on #3648
<img width="1401" alt="Zrzut ekranu 2019-06-13 o 15 44 45" src="https://user-images.githubusercontent.com/2823399/59437622-34dcd300-8df2-11e9-9188-ec46a32d82ad.png">
<img width="1369" alt="Zrzut ekranu 2019-06-13 o 15 44 28" src="https://user-images.githubusercontent.com/2823399/59437623-34dcd300-8df2-11e9-906f-6cfa110026a1.png">

I think it should be enough. If not reopen, please.

/close

[2019-06-13 13:45] #3648 closed

[2019-06-13 13:46] maciaszczykm commented on #3648
Screenshot with pods list if from job details view.

[2019-06-13 14:00] #3920 closed

[2019-06-14 09:15] ajatprabha opened #3927 "Error view is broken"
##### Environment

[code]

##### Steps to reproduce

##### Observed result
Navigating to `/error` throws the following error:
[code]

##### Expected result

Error view should work as expected.

[2019-06-14 09:20] maciaszczykm commented on #3927
Can you try again with the latest master?

[2019-06-14 09:35] ajatprabha commented on #3927
It is there on the latest master. Can you put some light on why `NavService` is required here?

[2019-06-14 09:53] maciaszczykm commented on #3927
@ajatprabha It is indeed some issue, but I think it does not exist on master. One bug was causing another. We can add checks for null here, but I think this was not normal use case.

[2019-06-14 10:26] maciaszczykm commented on #3927
Seems to be fixed now anyways.

/close

[2019-06-14 10:26] #3927 closed

[2019-06-15 07:11] malavindra5 commented on #3913
Hi I would like to work on this.

[2019-06-16 18:16] RogerWeihrauch opened #3932 "Q: possible performance issue: docker container/minikube cluster get loss on performance?"
##### Steps to reproduce
1st) tech hints: using Docker Desktop on Mac; OS 10.14.5; 16GB RAM; MacBookPro Mid2010 13"
2nd) Install/setup as described in Docs
3rd) Stop/restart Docker Desktop W7 Kubernetes multiple times shows the effect: Performance reduction up to the point that kubernetes does no longer come up

##### Environment
[code]

##### Observed result
after multiple restarts of Docker Desk

[2019-06-16 18:17] RogerWeihrauch commented on #3932
Where are my entered steps-on-reproduction and observed-result entries? Why are they missing?
I donno.

Thanks to all for your hepl/response on this.
Regards,
Roger

[2019-06-16 19:06] floreks commented on #3932
No idea how we could test/reproduce that. We would need very detailed info about symptoms, how we could try to reproduce, etc.

[2019-06-17 01:27] shu-mutou commented on #3918
@maciaszczykm sure!! 👍

[2019-06-17 04:23] shu-mutou commented on #3918
/assign

[2019-06-17 04:39] shu-mutou commented on #3918
As of now, we don't seems to need to add `src/app/backend/...` at the end of `golangci-lint` command in package.json what we added in #3678 to fix #3656.

[2019-06-17 06:23] maciaszczykm commented on #3932
@RogerWeihrauch `` is used to comment things out.

[2019-06-17 06:24] maciaszczykm commented on #3932
I have edited your comment.

[2019-06-17 06:27] maciaszczykm commented on #3932
By the way, it is minikube issue, not dashboard. Please move it to minikube repo.

/close

[2019-06-17 06:27] #3932 closed

[2019-06-17 09:30] alectogeek commented on #3541
+1

[2019-06-17 10:09] medmedchiheb commented on #3913
@maciaszczykm  i guess i have understand
would you help me, to fix this issue

[2019-06-17 10:13] shu-mutou opened #3936 "Investigate to use `go mod` in Travis CI"
`npm ci` seems to update `go.mod` file to use latest.
To use `go mod`, we need to investigate more.

BTW, Error about `src/app/backend/dashboard.go:158:26: undefined: prometheus.Handler` is caused due to prometheus.Handler() was removed in latest (1.0.0) prometheus/client-golang.

[2019-06-17 10:13] maciaszczykm commented on #3913
Sure, what do you need?

[2019-06-17 10:17] medmedchiheb commented on #3913
pipe is it already added!  do you mention that `CommaSeparatedListComponent` should replaced in all places!

[2019-06-17 12:43] eloyekunle commented on #3936
In the `package.json` `postinstall`, I think we should download a specific version of `golangci-lint` (via `curl`), instead of via `go get`. Coincidentally, that's what's [recommended by the `golangci-lint` team](https://github.com/golangci/golangci-lint/#ci-installation).

[2019-06-17 12:58] #2986 closed

[2019-06-17 13:02] eloyekunle commented on #3936
@shu-mutou Our `prometheus/client_golang` is currently fixed at `v0.9.2` ([here](https://github.com/kubernetes/dashboard/blob/f661b8a8bbe5b768279a7f2838c13230df27094f/go.mod#L20)). If `npm ci` is updating the version during the build, then #3938 should fix it.

[2019-06-17 13:06] eloyekunle commented on #3936
Fixed in #3938

[2019-06-18 01:41] jeefy opened #3941 "Don't include the default in the help text, this is already printed by the help system."
##### What should be cleaned up or changed
Go through all the flags and ensure defaults aren't part of the canned help-text.

##### Provide any links for context
https://github.com/kubernetes/dashboard/pull/3504/files#r277414128

/assign

[2019-06-18 05:39] shu-mutou commented on #3936
I understood we should not use `go get` to install tools.
In the future, if we would want to add the other tools written in golang,  we may meet same problem.
Can we move `export GO111MODULE=on` just before `npm ci`? If so, I think we can use `go get` before setting `GO111MODULE`.
Also, should we set `GO111MODULE` in our local environments?

[2019-06-18 05:43] maciaszczykm commented on #3936
@shu-mutou https://github.com/kubernetes/dashboard/blob/master/.travis.yml#L20 is already before `npm ci` I think.

[2019-06-18 05:52] shu-mutou commented on #3936
Oh, yes! You're right!! We can use `go get` before it. :sweat_smile:

[2019-06-18 05:52] #3936 closed

[2019-06-18 09:19] tan-tan-kanarek opened #3942 "Termination message should appear in pod's page"
##### What would you like to be added
I want termination message to be visible in the dashboard.

##### Why is this needed
Although I can get it using kubectl, I want that message to be exposed to other functions in the organization that use only the dashboard.

##### Comments
I created init containers that validate configuration and logs the error to /dev/termination-log and it helps me to know w

[2019-06-18 09:23] floreks commented on #3942
I am not sure, I fully understand. Do you want to see a message why pod was killed/stopped or do you want to access some log file that was stored inside of a pod?

[2019-06-18 10:47] tan-tan-kanarek commented on #3942
I would like to see the message without dividing into the logs.

[2019-06-18 19:45] floreks commented on #3942
Is there a way to do that using `kubectl` other than diving into the container with `kubectl exec`? I am asking because we want to rely mostly on the API. If this message is only stored as part of `termination-log` file then it might not be easy to handle that.

[2019-06-19 05:20] tan-tan-kanarek commented on #3942
Yes, once I log my message to the termination log it appears in kubectl describe pod as message property under termination cause.

[2019-06-19 06:15] floreks commented on #3942
Ok, this should be easy to replicate then.

[2019-06-19 07:43] astorath opened #3945 "Endpoint for health checks"
##### What would you like to be added
1. Either serve both secure and insecure endpoints simultaneously
2. Or create a separate endpoint for health checks (on separate port)

##### Why is this needed
In order to protect Dashboard from unauthorised access I want to use a sidecar auth proxy. But with current options I have to either bind to 127.0.0.1 address (liveness probe can't be invoked in this

[2019-06-19 07:44] #3913 closed

[2019-06-19 07:52] #3918 closed

[2019-06-19 08:56] maciaszczykm commented on #3861
We can work on it later (past v2). #3883 improved the colors a bit already.

Primary blue should be a bit more visible I think.

/close

[2019-06-19 08:56] #3861 closed

[2019-06-19 11:31] maciaszczykm opened #3948 "Restore serialized reference component"
It is easier to navigate if references like that can be used as links.

[2019-06-19 12:35] maciaszczykm opened #3949 "Hide actionbard when going back to the list view"
At the moment when going back from resource details view to list view, actionbar stays visible (using `npm start`).

[2019-06-19 12:39] maciaszczykm opened #3950 "Add context menus in list views for cluster resources"
All other kinds of resources already have context menus in the list views.

[2019-06-19 12:44] #3912 closed

[2019-06-19 12:50] #3862 closed

[2019-06-19 12:50] #3860 closed

[2019-06-19 12:50] #3915 closed

[2019-06-19 13:11] maciaszczykm opened #3952 "Breadcrumbs are missing after page refresh"

[2019-06-20 16:19] michaelajr commented on #3686
/remove-lifecycle stale

[2019-06-22 05:09] KadenLNelson opened #3957 "dashboard is unable to display metrics when metrics scraper is deployed alongside the dashboard as a "sidecar""
##### Environment

manifest I've applied to my cluster:
https://gist.github.com/KadenLNelson/6e1ca45be91c6dddc36850648f4d0951

[code]
related PR: #3504

##### Steps to reproduce
Deploy custom manifest that runs the metrics scraper as a "sidecar" container alongside the dashboard container. [reference manifest](https://gist.github.com/KadenLNelson/6e1ca45be91c6dddc36850648f4d0951)

##### Observed r

[2019-06-22 10:07] kevingoos opened #3958 "Problems with first login on kubernetes dashboard"
##### Environment
[code]

##### Steps to reproduce
**Install**
[code]
**Setup the admin-user (following the wiki: https://github.com/kubernetes/dashboard/wiki/Creating-sample-user)**

`vim dashboard-adminuser.yaml`
[code]
`vim dashboard-admin-binding.yaml`
[code]
**Apply user config:**
[code]

**Get the token**
`kubectl -n kube-system describe secret $(kubectl -n kube-system get secret | grep admi

[2019-06-22 11:47] floreks commented on #3958
Check similar issues. It is described in the wiki why it does not work.

/close

[2019-06-22 11:47] #3958 closed

[2019-06-22 14:54] balajipothula commented on #2735
Thank you so much apoms <Alex Poms>
I spend a lot of time. Love you buddy :)

[2019-06-22 16:46] KadenLNelson commented on #3957
related comment: https://github.com/kubernetes/dashboard/pull/3504#issuecomment-503271235

[2019-06-22 17:14] lgg42 commented on #3566
What's your kubernetes version?

[2019-06-22 17:32] develar commented on #2735
So, it is not possible to use k8s dashboard and multipass without such hacks or extra configuration. So, [Kubernetic](https://kubernetic.com/) can be an alternative, you just need to configure local kubectl:

`multipass exec build-service -- /snap/bin/microk8s.config > ~/.kube/config
`

(to install kubectl on macOS: `brew install kubectl`).

[2019-06-22 18:10] KadenLNelson commented on #3957
This is definitely an error in the way the Dashboard structures its request to query the metric sidecar container for metric data.

example request being received by the metric scraper sidecar

[code]

[2019-06-22 19:37] KadenLNelson commented on #3957
[it's because of this hardcoded `/api/v1/dashboard`](https://github.com/kubernetes/dashboard/blob/master/src/app/backend/integration/metric/sidecar/client.go#L232)

When we make get requests through the remote sidecar client, the `/api/v1` is prepended because of this line [here](https://github.com/kubernetes/dashboard/blob/master/src/app/backend/integration/metric/sidecar/client.go#L258)

[2019-06-22 19:38] tipkopf commented on #2947
i opted for FF on Windows

[2019-06-22 21:12] jeefy commented on #3957
/assign

[2019-06-23 03:07] pravinba commented on #2954
https://github.com/kubernetes/dashboard/issues/3472

This solution works !!!

[2019-06-23 13:33] medmedchiheb opened #3961 "wrong breadcrumb on storageclass navigation"
wrong breadcrumb title when navigating to storageclass.

[2019-06-23 22:35] ssabat opened #3962 "Unknown Server Error during Installation"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error:
[code]

##### Comments

[2019-06-24 05:02] floreks commented on #3962
/close

[2019-06-24 05:02] #3962 closed

[2019-06-24 13:45] anubhav25gupta commented on #3895
Hi Team,

I am not able to access the kubernetes-dashboard for my cluster. I am using system from cloud. So I am in confusion wether it supports Token authentication for the kubernetes services from cloud or not?

I am getting error: The requested URL could not be retrieved : everytime.

Thanks in advance!

[2019-06-25 04:01] smartkuk opened #3968 "I have one question"
***When will the integration mentioned in this [link](https://github.com/kubernetes/dashboard/wiki/Integrations) be released for the first time?***

My company prepare kubernetes cluster environment for service business platform.

I am looking for many blogs, open sources, repositories of github. So I think the best choice is your kubernetes dashboard and implement.

Thank you for reading

[2019-06-25 16:00] #3957 closed

[2019-06-25 16:04] #3952 closed

[2019-06-25 20:57] abursavich commented on #3909
That dialog is ***so annoying***. If you're going to reenable it, can you also add an option to disable it (similar to page size, maybe)?

[2019-06-25 21:43] mhamdisemah commented on #3961
/triage needs-information

[2019-06-26 06:11] devopsravikumar opened #3972 "K8- Dashboard issue"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-06-26 06:13] floreks commented on #3972
No steps to reproduce. No comment. Old Dashboard version used.

/close

[2019-06-26 06:13] #3972 closed

[2019-06-26 08:01] devopsravikumar opened #3973 "k8:dashboard"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-06-26 09:28] floreks commented on #3973
/close

[2019-06-26 09:28] #3973 closed

[2019-06-26 10:11] anubhav25gupta opened #3974 "Kubernetes-dashboard not getting accessed via browser"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

Note:
80.158.40.44 is the EIP(Elastic IP) assigned to my server machine to access it externally. Apart from this I am also attaching curl output from the server for the mentioned URL.

##### Expected result

##### Comments

[2019-06-26 12:47] #3974 closed

[2019-06-26 12:47] anubhav25gupta commented on #3974
Issue rectified and resolved.

[2019-06-27 09:50] maciaszczykm commented on #3968
Which integration do you mean? Grafana, Weave Scope or what?

At the moment we have added metrics server support, no other integration is on our roadmap at the moment.

[2019-06-27 09:51] maciaszczykm commented on #3686
/lifecycle frozen

@michaelajr Would you be willing to work on that?

[2019-06-27 09:52] maciaszczykm commented on #3601
/lifecycle frozen

[2019-06-27 09:53] maciaszczykm commented on #3909
Good point, I think we can start some discussion here if we need that.

[2019-06-27 09:59] maciaszczykm commented on #3911
It can be implemented past v2.0.0.

[2019-06-27 10:01] floreks commented on #3909
@abursavich The dialog is needed for some users as it informs you about "silent" namespace change. You might not even realize in some cases that namespace has been changed. This creates confusion. We could maybe add a checkbox to the dialog, to remember user choice and not display it over again.

[2019-06-27 11:11] smartkuk commented on #3968
Thank you for answering !!!

I mean ```When will the content referred to in bold below apply```

[Currently only Heapster integration is supported, however there are plans to introduce integration framework to Dashboard. ***It will allow to support and integrate more metric providers as well as additional applications such as Weave Scope or Grafana.***](https://github.com/kubernetes/dashboard/wiki

[2019-06-27 11:14] floreks commented on #3968
@smartkuk https://github.com/kubernetes/dashboard/pull/3930/files

This will introduce plugin mechanism, so you can keep an eye on it,

/close

[2019-06-27 11:14] #3968 closed

[2019-06-27 14:11] chiefy commented on #2986
As someone who has deployed dashboard w/ heapster, coming back here and trying to figure out if I still need to use heapster, or if I can use metrics-server is _very_ confusing. The wiki still states you have to use heapster?

[2019-06-27 14:43] smartkuk commented on #3968
@floreks Thank you

[2019-06-27 14:49] labria commented on #2986
@chiefy this has been merged, but not yet released.

[2019-06-27 14:51] leezout commented on #2986
@labria Do we know the approximate release date for 2.0?

[2019-06-27 15:06] Vrtak-CZ commented on #2986
@leezout see https://github.com/kubernetes/dashboard/milestone/1

[2019-06-27 21:03] drewwells commented on #3566
This should be open until the issue is resolved. Dashboard is not a system app, it shouldn't even be running in kube-system.

[2019-06-28 09:46] maciaszczykm commented on #3566
Beta release is a couple of days away, it may be pushed even today.

[2019-06-28 15:48] #3949 closed

[2019-06-28 16:42] maciaszczykm commented on #3863
Hey, I think we are ready for a pre-release. What do you think?

How we will handle the metrics sidecar, should we add it to the recommended setup?

[2019-06-28 17:08] LevonBecker commented on #2970
Had the same issue in Chrome. Clear Browser data fixes it.

[2019-06-28 18:13] #3916 closed

[2019-06-29 02:58] jeefy commented on #3863
At this point the scraper has 1.8k pulls and only one outstanding issue (that is more of a feature request) so I'm comfortable moving it into the recommended deployment.

I'll cut a PR now cloning it over. Besides that PR, I think we cut an RC release soon. I tested it a bunch just now and things looked solid. :)

[2019-07-01 00:39] ld-singh commented on #2986
any idea on new release date for 2.0?

[2019-07-01 05:53] #3961 closed

[2019-07-01 13:04] eloyekunle opened #3993 "Verify vendored modules in pull requests"
##### What would you like to be added
Add scripts to _update vendor_ and _verify vendor_. Vendor verification should run in Travis for all pull requests to ensure the `go.mod` file includes the correct dependencies.
The _update vendor_ script will run `go mod tidy` to prune all extraneous requirements.

##### Why is this needed
To ensure that the contents of the `go.mod` file and the `/vendor` dir

[2019-07-01 14:35] erandu commented on #2353
Also interested by the feature that @cohadar suggested :

Any news/info about this ?
Thanks

[2019-07-01 18:27] ajatprabha opened #3996 "Add ability to register a custom plugin through a CRD"
##### What would you like to be added
A dashboard user should be able to register a new custom plugin via a `kubectl` command. For eg: `kubectl create plugin plugin-name --source-from-file=<path-to-bundle.js>`

##### Why is this needed
This will enable us to register plugins with Kubernetes dashboard and extend its capabilities without too much hassle for the end user.

[2019-07-01 18:42] abursavich commented on #3909
Hitting the problem again and taking a minute to analyze it, I think my biggest problem is the wording and that YES/NO are inverted from what I expect.

When trying to change from namespace _foo_ to _bar_, you're asked if you want to **Change namespace?** but you have to read the fine print because selecting **YES** switches you backwards to _foo_ not forwards to _bar_.

---
**Change namespace?**

[2019-07-01 21:39] floreks commented on #3909
Actually in the new version wording have been updated. Is it now:

----
#### Namespace conflict

Selected namespace is different than namespace of currently selected resource.
Do you want to stay on current page and change namespace from <i>foo</i> to <i>bar</i>?

_YES_         _NO_

----

[2019-07-02 08:36] yechnlin commented on #3027
@whgao do you have resolved this issue? same issue encountered as you, and kubernetes running behind proxy likes your environment.

[2019-07-02 09:29] eloyekunle commented on #3993
Closing. This is unnecessary since we're not keeping the `vendor` directory anymore. Tidying and bumping packages can be done manually.

[2019-07-02 09:29] #3993 closed

[2019-07-02 10:53] eloyekunle commented on #3921
Why are switching from Protractor?

[2019-07-02 12:16] maciaszczykm commented on #3921
Cypress seems to be a lot more stable, and since the latest version Protractor is not handling async stuff for a developer.

[2019-07-02 13:33] eloyekunle commented on #3921
Okay.
/assign

[2019-07-02 14:22] fentas opened #4001 "Redirects to default namespace on resource deletion."
Deleting a e.g. Pod will redirect to `default` namespace.

##### Environment

[code]

##### Steps to reproduce

Delete pod via dashboard.

##### Observed result

Will succeed and redirect to `default` namespace.

##### Expected result

Keep namespace which is activated.

##### Comments

Is there a way to fix a namespace via added header (like auth) or cookies?

[2019-07-02 14:24] floreks commented on #4001
This is related to https://github.com/kubernetes/dashboard/issues/3911. Once logic there gets restored, it will work the same as before.

/duplicate
/close

[2019-07-02 14:24] #4001 closed

[2019-07-02 17:34] alexzye commented on #2995
the documentation is still unclear on how to do this procedure. it currently states that the tls flags are used in examples when actually the default still uses `auto-generate-certificates`. if you follow the recommended setup where you create a secret and then deploy the default dashboard yaml, youll be met with a conflict.

[2019-07-02 18:46] rohindaswani opened #4003 "Error with running proxy dashboard locally"
##### Steps to reproduce
Run `kubectl proxy`

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-07-02 19:54] floreks commented on #4003
/close

[2019-07-02 19:54] #4003 closed

[2019-07-02 22:41] floreks commented on #3639
/close

[2019-07-02 22:41] #3639 closed

[2019-07-03 03:01] shu-mutou opened #4008 "Move wiki documents under @docs/` and update them"
##### Reasons

1. Due to instruction by k8s org, only maintainer can edit wiki pages since this year.
2. Therefore, contributor can not propose documentation updates by PR.
3. Wiki contents are out of dates. Partially fairly.
4. Before release 2.0.0, we need to update docs.

##### TODOs

- [x] for `2.0.0 or later`
    - [x] Reorganize `docs/`, create indexes and blank pages. #4009
    - [x] Fill b

[2019-07-03 03:27] yechnlin commented on #3027
need update kube-apiserver pod with "no_proxy=10.244.1.14"
[code]

[2019-07-03 04:30] vasicvuk commented on #3639
I tested Dashboard based on Angular 7 and it seems that it works better.

I really dont understand why the performance of current version is so bad specially when rendering Overview screen of some namespace.

[2019-07-03 06:10] shu-mutou commented on #4008
Wiki pages to be migrated and assignee:
- [ ] Common
  - [ ] FAQ
  - [ ] Roadmap
  - [ ] Dashboard arguments
- [ ] User Guide
  - [ ] Installation
  - [ ] Certificate management
  - [ ] Accessing Dashboard
    - [ ] 1.7.X and above
    - [ ] 1.6.X and below
  - [ ] Access control
    - [ ] Creating sample user
  - [ ] Integrations
  - [ ] Labels
- [ ] Development Guide
  - [x] Getting started @shu

[2019-07-03 06:13] maciaszczykm commented on #3864
Closing in favour of #4008.

[2019-07-03 06:13] #3864 closed

[2019-07-03 06:23] floreks commented on #3639
New version is optimized better and rewritten from scratch. Some things work differently and it better handles async download of resources.

[2019-07-03 09:52] hiningmeng opened #4014 "square/go-jose: error in cryptographic primitive"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2019-07-03 09:52] hiningmeng opened #4015 "square/go-jose: error in cryptographic primitive"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2019-07-03 09:56] floreks commented on #4015
/close

[2019-07-03 09:56] #4015 closed

[2019-07-03 09:57] floreks commented on #4014
/close

[2019-07-03 09:57] #4014 closed

[2019-07-03 15:23] blocknonip commented on #3541
Still an issue as well.

Dashboard Version: v1.10.1
Git Commit: 50d59e985dfd97863a2f5ab5396ae049a2bb87d0

macOS Firefox 67.0.4 (64-bit)

[2019-07-04 07:42] #3859 closed

[2019-07-04 13:36] maciaszczykm commented on #4008
Once the docs are moved we should also update docs button on `About` page in the app.

[2019-07-04 14:01] maciaszczykm opened #4021 "Add close buttons to all windows and move buttons to the right"
- [ ] Move buttons to the right.
- [ ] Remove `Cancel` and `Close` buttons.
- [ ] Replace them with `X` icon button in the top right corner.

[2019-07-04 15:34] #2158 closed

[2019-07-04 18:06] openJT opened #4022 "Dashboard install link is broken"
Dashboard link specified in documentation is currently broken:

https://raw.githubusercontent.com/kubernetes/dashboard/master/aio/deploy/recommended/kubernetes-dashboard.yaml

[2019-07-04 18:32] moming2k commented on #4022
+1

[2019-07-04 18:36] moming2k commented on #4022
Seems happened once before change the url path

[Symlink old dashboard YAML to new](https://github.com/kubernetes/dashboard/issues/3448)

Is there any changes to the path again ?

[2019-07-04 18:39] floreks commented on #4022
Yes, we have completely refactored deployment files and are now using multiarch images. Our documentation will be soon updated. We will try to update external docs also. Please see release notes for up-to-date links.

[2019-07-04 18:40] moming2k commented on #4022
https://github.com/kubernetes/dashboard/commit/4fa3253c9e9efd5162597accab01aa1c716421ed

this commit removed aio/deploy/recommended/kubernetes-dashboard.yaml

[2019-07-04 18:42] moming2k commented on #4022
I think many people would use the old link. instead of delete it, would it better to at least give out some indication what is happening, this apply to other manual / blog post that already release.

[2019-07-04 18:43] moming2k commented on #4022
leaving the original link as 404 is really a bad idea, as I spend one hour questioning myself why it cannot run the script and find many other link from different page.

[2019-07-04 18:50] moming2k commented on #4022
https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/

this page need to update at least.

[2019-07-04 19:13] floreks commented on #4022
We already gave the notice months ago that using links which refer master directly is a bad practice. You should always use links that refer stable tagged branches instead.

[2019-07-04 19:34] floreks commented on #4022
I have already created a PR to update official docs: https://github.com/kubernetes/website/pull/15290

[2019-07-05 00:22] rmgpinto opened #4023 "Skip login not working"
##### Environment

[code]

##### Steps to reproduce

I've added `--enable-skip-login, --disable-settings-authorizer` to the default dashboard yaml files.

##### Observed result

When clicking the `Skip` button, the page only sends a request to `https://<URL>/api/v1/login/status` and gets a `200 OK`.

##### Expected result

Skip login and redirect to kubernetes dashboard

[2019-07-05 02:11] moming2k commented on #4022
This is a breaking changes as even the official docs does mention to use master branch, I agree that tag is a better idea, but it can be handle it more nicely.

The better approach would be update installation instruction to the official doc, announce the graceful period, and then get the old link remove after the graceful period. Currently is the other way round with no graceful period, so all th

[2019-07-05 03:29] xspeng commented on #2986
How's this going?

[2019-07-05 06:43] floreks commented on #4022
Actually, official documentation is on this repo. Core k8s docs were updated by external contributors and we have not validated it.

[2019-07-05 06:44] floreks commented on #2986
Check the relases :)

[2019-07-05 07:26] MarcusNoble commented on #2986
Looks like there's a mistake in https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta1/aio/deploy/recommended.yaml, the deployment refers to `kubernetes-dashboard-head` while all other resources use `kubernetes-dashboard`.

I'm also having trouble running this on 1.13. Looks like the dashboard isn't finding the metrics scraper service so isn't starting.

[2019-07-05 07:28] floreks commented on #4023
Will take a look.

[2019-07-05 07:41] rifaurasheed commented on #2660
The authentication and authorization setup needed to access the dashboard is described here
https://github.com/kubernetes/dashboard/wiki/Access-control

[2019-07-05 07:57] discostur commented on #3863
just deployed the 2.0-beta1 - it looks really well! great job;)

[2019-07-05 08:08] cw-pratik commented on #2986
Ya same issue here..I tried deploying [this](https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta1/aio/deploy/alternative.yaml)  and it worked. It is not on https though

[2019-07-05 08:31] #3863 closed

[2019-07-05 09:53] den-is opened #4024 ""Show all" labels button takes whole attention"
First of all i want to sincerely congratulate you with public beta release of V2!!!!

I would like to share my couple suggestion to you, they are not related to what is in title
### Pods page
![Screen Shot 2019-07-05 at 13 33 14](https://user-images.githubusercontent.com/5287237/60713985-22eedb80-9f2b-11e9-979f-1300ce66101f.png)
### Overview page
![Screen Shot 2019-07-05 at 13 49 46](https://user-

[2019-07-06 20:17] floreks commented on #4022
Fixed by https://github.com/kubernetes/website/pull/15290

/close

[2019-07-06 20:17] #4022 closed

[2019-07-07 02:09] dacodas commented on #4023
I am also experiencing this.

[2019-07-07 14:23] KadenLNelson commented on #4023
I've experienced this as well...

[2019-07-07 16:41] eloyekunle opened #4027 "Enable Angular Ivy"
##### What would you like to be added
[Ivy](https://angular.io/guide/ivy) is the code name for Angular's next-generation compilation and rendering pipeline.

Guide: [Using Ivy in an existing project](https://angular.io/guide/ivy#using-ivy-in-an-existing-project)

##### Why is this needed
AOT compilation with Ivy is faster ([source](https://angular.io/guide/ivy#using-ivy-in-an-existing-project)).

[2019-07-07 17:15] KadenLNelson commented on #4027
Have you tried building the source using `@angular/core@8.1.x`?

[2019-07-07 17:30] eloyekunle commented on #4027
Yes, but without Ivy. Works fine, using it in this PR: https://github.com/kubernetes/dashboard/pull/4002.

[2019-07-07 17:45] akvermaktr commented on #2816
solution Worked for me : kubectl proxy  --address='0.0.0.0' --port=80'2 --accept-hosts='.*

[2019-07-07 18:02] KadenLNelson commented on #4027
It would be cool to see the build time difference, I may try it locally.

[2019-07-07 18:02] floreks commented on #4027
We can check the difference but I'd wait with using it until it will be at least RC.

[2019-07-07 18:59] Rick-Jongbloed opened #4029 "kubernetes-metrics-scraper on ARM on 2.0beta1: Unable to initialize database tables: Binary was compiled with 'CGO_ENABLED=0"
##### Environment

- Kubernetes Cluster with Raspberry PI 3 / 4
- ARM architecture
- Installation method: alternative deployment yaml for 2.0 beta 1 (kubectl apply -f .....)
- Kubernetes version: K3S (https://k3s.io/)

` Server Version (outpunt from: kubectl version): version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3-k3s.1", GitCommit:"8343999292c55c807be4406fcaa9f047e8751ffd", GitTreeState:

[2019-07-08 06:21] leo1515416043 commented on #2889
This feature is import.

[2019-07-08 07:47] ricadelic commented on #4023
for what it's worth, if you use the alternative yaml file, you don't need the skip button and you can use the dashboard.

[2019-07-08 10:57] floreks commented on #4023
Generating admin token is also super easy and does not require skip option.

[2019-07-08 11:16] KadenLNelson commented on #4023
This is definitely a luxury feature, mostly used where security is not a big regard and also where users don't want to generate an admin token (ex./ minikube).

[2019-07-08 11:16] KadenLNelson commented on #4023
What do you mean?

[2019-07-08 11:48] michael-robbins commented on #4029
Getting this as well on my cluster of Raspberry Pi 3's

Environment
* Kubernetes Cluster with Raspberry PI 3
* ARM architecture
* Installation method: alternative deployment yaml for 2.0 beta 1 (kubectl apply -f .....)
* Kubernetes version: k8s 1.15.0

Server Version (outpunt from: kubectl version):
[code]

Dashboard version: 2.0beta1
Operating system:
[code]

Node.js version ('node --version' out

[2019-07-08 11:49] eloyekunle commented on #2493
These are the mockups for the frontend implementation:

- **Sidebar Menu and CRD List**
Sidebar menu is dynamically populated from the server.

![image](https://user-images.githubusercontent.com/11166933/60807569-ef57bf80-a17d-11e9-9510-4c40715cd70c.png)

- **CRD Detail Page**
The details of the CRD itself is displayed and objects created using that CRD are listed below.

![image](https://user-ima

[2019-07-08 13:42] floreks commented on #4029
@jeefy can we rebuild scraper for arm arch? Is it related to some dep or our build process?

[2019-07-08 15:07] javajon commented on #2493
Good to see progress on this and nice mocks.

CRDs are not namespaced and are global to the cluster, therefore a single menu choice under Cluster. Makes more sense to have a single line called "Custom Resource Definitions" under "Cluster".  Clicking on that would present a paged list of the dozens, hundreds of CRDs (Istio has 51 all by itself).

Don't put it under the "Namespace" dropdown as all t

[2019-07-08 15:57] floreks commented on #2493
I'd still leave it on the bottom, maybe just use additional separator. Leaving registered CRDs under 'Custom Resource Definition' entry would make it easier to access them.

If we move it to the top then we should change CRDs list view to only list registered CRDs, then user would have to click on it to see its' details and instances.

There are pros and cons for both approaches. We should discuss

[2019-07-09 02:26] jeefy commented on #4029
Huh, interesting. Our build currently does multiarch and is doing builds for `arm` and `arm64` but this might be an unforeseen failure in the sqlite library we use on arm. I've got a Pi3 at home I can play with, but it might not be till this weekend.

/assign

Quick aside, `docker manifest inspect kubernetesdashboarddev/dashboard-metrics-sidecar` outputs all the different targets the container ima

[2019-07-09 07:19] elminsterjimmy commented on #1441
+1

[2019-07-09 07:22] maciaszczykm commented on #3680
Closing it as it is connected to the previous version. Could you please verify with v2.0.0-beta1?

[2019-07-09 07:22] #3680 closed

[2019-07-09 07:28] maciaszczykm commented on #3728
Two things:
1. Please try to verify it again with v2.0.0-beta1 as the frontend was completely rewritten.
2. Don't use Edge :)

/close

[2019-07-09 07:55] maciaszczykm commented on #1862
I think we can close right now, true @floreks?

/close

[2019-07-09 07:55] #1862 closed

[2019-07-09 07:59] #2451 closed

[2019-07-09 08:38] petersutter commented on #3680
@maciaszczykm I can confirm that the issue is solved with v2.0.0-beta1, thanks!

[2019-07-09 09:03] maciaszczykm commented on #3680
@petersutter Great to hear that.

[2019-07-09 12:11] MattJeanes commented on #4029
Also getting this
![image](https://user-images.githubusercontent.com/2363642/60886922-0b756280-a24b-11e9-9c6c-a07ed04f7aad.png)

Same as the others, Raspberry Pi cluster ARM32

[2019-07-09 12:15] javajon commented on #2493
The left menu is currently not a place to enumerate individual resources. The only exception to that is the namespaces as a dropdown to allow the menu to change the selections to a specific namespace context.

[2019-07-09 16:41] kfox1111 commented on #3431
/remove-lifecycle stale

[2019-07-09 20:50] mmb-davidsmith commented on #4029
I'm also seeing the same on an arm cluster:

`{"level":"info","msg":"Kubernetes host: https://10.96.0.1:443","time":"2019-07-09T20:30:39Z"}
{"level":"fatal","msg":"Unable to initialize database tables: Binary was compiled with 'CGO_ENABLED=0', go-sqlite3 requires cgo to work. This is a stub","time":"2019-07-09T20:30:39Z"}`

I installed as per the instructions at https://kubernetes.io/docs/tasks/ac

[2019-07-10 10:04] backbasejeff opened #4037 "Redirect after login always goes to default namespace"
##### Environment

[code]

##### Steps to reproduce
In a clean browser session try to access a url for a specific namespace:
https://mydashboard/#!/overview?namespace=customns

##### Observed result
I get prompted to login and after providing a token valid for the customns namespace i get redirected to the dashboard homepage for the *default* namespace

##### Expected result
After providing the to

[2019-07-10 10:06] floreks commented on #4037
This will be covered by https://github.com/kubernetes/dashboard/issues/2618

/close

[2019-07-10 10:06] #4037 closed

[2019-07-10 10:15] eloyekunle commented on #2493
## Leaving it on the sidebar

#### Pros
- Makes the registered CRDs easily accessible in the sidebar. You can click on a CRD and it takes you straight to the CRD's details page.

#### Cons
- Clusters can have lots of CRDs, dozens of them. This can make the sidebar very long in such cases.

Any other Pros and Cons I'm missing?

## Possible alternatives
### Searchable sidebar
Add the _CRD_ menu opti

[2019-07-10 10:37] maciaszczykm commented on #2493
I'd start with just a CRD entry in the menu and then perhaps allow to "pin" some of the CRD types to the menu. You can store config globally in the config map for example.

[2019-07-10 12:20] floreks commented on #2493
+1 for pinning commonly accessed CRDs

[2019-07-10 14:15] ajouve opened #4038 "Dashboard changed after reinstall"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

Five month ago I installed the dashboard and I had exact same dashboard as this one https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/

Few days ago, I had an issue telling me the dashboard was not installed so I ran `kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-

[2019-07-10 14:35] Warok21 opened #4039 "A copy of your changes has been stored to "/tmp/kubectl-edit-4jyoa.yaml" error: Edit cancelled, no valid changes were saved."
##### Environment

[code]

##### Steps to reproduce
When i want to edit my file to use the public IP of my server, I get the error in the tittle:
` sudo kubectl -n kubernetes-dashboard edit service kubernetes-dashboard
`
##### Observed result

##### Expected result

##### Comments

[2019-07-10 14:35] floreks commented on #4038
As you can see in the link _...dashboard/**v2.0.0-beta1**/aio..._, it is a first beta release. If you want something stable then you can use https://github.com/kubernetes/dashboard/releases/tag/v1.10.1

Regarding the issue itself, I do not see any "bugs" on the screenshot and this kind of `kubectl proxy` errors are not caused by deployed applications, so this is not a Dashboard issue.

If you are

[2019-07-10 14:36] floreks commented on #4039
This error is coming from `kubectl`, so you should report it on their repo. This is only for Dashboard related issue.

/close

[2019-07-10 14:36] #4039 closed

[2019-07-10 17:24] javajon commented on #2493
CRDs are simply similar to many objects/resources/items in K8s. Pods, deployments, secrets, nodes, namespaces etc. Why do anything special just for CRDs on the sidebar? If CRDs search or pinning or any other UX construct is added, then this slippery slope would add the expectation that searching and pinning would be available for all other K8s items.

KISS principle:

- Click on Cluster | Namespac

[2019-07-10 21:16] chris-malloy-mri opened #4042 "Browser forward / back does not update Workload Status graphs"
##### Environment

[code]

##### Steps to reproduce

Create a big deployment and view the namespace overview. There should be a lot of red / yellow in the workload status at this point.
Go into one of the pods and view the logs.
Wait until most of the deployments / pods should be green.
Press back to the namespace overview.

##### Observed result

Workload status remains the same as the last visit

[2019-07-10 21:18] chris-malloy-mri opened #4043 "Shell does not work"
##### Environment

[code]

##### Steps to reproduce

Open any pod and try to exec into a shell

##### Observed result

Blank screen

##### Expected result

Should open shell

##### Comments

[2019-07-10 22:07] ajouve commented on #4038
Thanks @floreks, should them the doc link to install a stable version ?

[code]

[2019-07-10 23:07] floreks commented on #4038
We have updated it to refer the latest beta as people were waiting for it a long time. There should be no issues for people already using `v1.10.1`. All information is available on this repo.

[2019-07-10 23:08] floreks commented on #4038
We have updated it to refer the latest beta as people were waiting for it a long time. There should be no issues for people already using `v1.10.1`. All information is available on this repo.

/close

[2019-07-10 23:08] #4038 closed

[2019-07-10 23:20] floreks commented on #2493
Custom Resource **Definition** is similar to Pod resource which has an exclusive entry in our menu. It defines a new resource with its own properties. After we create CRD, we can create instances of this CRD. We could think of a Pod as a predefined Custom Resource Definition and `kubernetes-dashboard-pod-xxx` would be an instance of it.

Following this logic, every CRD should have its own entry in

[2019-07-11 06:38] maciaszczykm commented on #4043
Does it work through `kubectl`? Can you share your pod image? It is not possible to enter all kinds of containers.

[2019-07-11 07:44] maciaszczykm opened #4044 "Update client-go version to support 1.15"

[2019-07-11 07:49] maciaszczykm commented on #3908
Button is placed on the expansion part of the card. Looks good already in my opinion.

/close

[2019-07-11 07:49] #3908 closed

[2019-07-11 09:08] #4043 closed

[2019-07-11 09:50] maciaszczykm commented on #4027
/kind frozen

[2019-07-11 10:15] maciaszczykm commented on #3902
Investigated the topic. Without custom code, it will be impossible to complete this task.

List of available architectures:

[code]

It does not match output that we can get from NodeJS for example. I'd say we can safely assume that most of the development will happen on `amd64` and close it until there will be some better alternatives.

[2019-07-11 10:15] #3902 closed

[2019-07-11 10:52] #4042 closed

[2019-07-11 10:58] #4044 closed

[2019-07-11 12:16] #4023 closed

[2019-07-11 12:28] chris-malloy-mri commented on #4043
Yes it works from kubectl. This is for every single pod I tried.

[2019-07-11 12:35] javajon commented on #2493
Good to call out that distinction of CR Definition vs instance of the CRD. There are many other standard Kubernetes "Kinds" seemingly missing from the left side menu. As of now the only instances of Kinds on the left side are "namespaces", but that just to change hte menu context to the namespace.  All other menu actions are just _general_ definition picks, no instances.

As the left side menu sta

[2019-07-11 14:36] maciaszczykm commented on #4008
We should close the Wikis once this will be done.

[2019-07-11 14:43] xuguangyuansh opened #4053 "when use dns to ask the dashboard, some time later, it report this."
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2019-07-11 14:44] floreks commented on #4053
/close

[2019-07-11 14:44] #4053 closed

[2019-07-12 08:28] parsh96 opened #4054 "Unable to access dashboard v2.0.0-beta1 with kubernetes version 1.14"

[2019-07-12 08:36] maciaszczykm commented on #4054
Closing as no description was provided.

[2019-07-12 08:39] parsh96 commented on #4054
i have installed kubernetes version 1.14 using vagrant machine (centOs 7 ) and then tried to deploy the dashboard. the dashboard services were in running state but i was not able to access it .

[2019-07-12 08:41] maciaszczykm commented on #4008
Arch image should be updated to replace Heapster.

[2019-07-12 08:42] maciaszczykm commented on #4054
Still too few details, please fill the template. Describe how you wanted to access Dashboard.

[2019-07-12 08:47] parsh96 commented on #4054
##### Environment

[code]

##### Steps to reproduce

##### Observed result

Deployed using below command:-
kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta1/aio/deploy/recommended.yaml
i was able to deploy it but not able to access. when tried accessing through browser not able to find any errors so that i can resolve it.

##### Expected result

##### Comments

[2019-07-12 09:05] maciaszczykm commented on #4054
How exactly did you try to access? With proxy or how?

[2019-07-12 09:06] maciaszczykm commented on #4054
I will ask different question, can you access any other app in your cluster?

[2019-07-12 09:14] mbasilak opened #4055 "Captain"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error:
[code]

[2019-07-12 09:35] parsh96 commented on #4054
i tried using proxy . and tried to change the service type to nodeport too but the same issue.

[2019-07-12 09:48] #4055 closed

[2019-07-13 02:43] Rick-Jongbloed commented on #4054
have a look here: https://github.com/kubernetes/dashboard/wiki/Access-control#admin-privileges

[2019-07-13 20:38] slavditore opened #4058 "Dashboard v.2.0.0-beta1 resets to default namespace"
##### Environment

[code]

##### Steps to reproduce

1. Choose needed namespace
2. Create/delete any resource (pod, deployment etc)

##### Observed result

Resource created, but namespace sets to 'default' always.
##### Expected result

Resource created, you stay in last namespace you chose
##### Comments

[2019-07-14 01:24] jeefy commented on #4029
Have a PR in flight to fix this. :) https://github.com/kubernetes-sigs/dashboard-metrics-scraper/pull/15

[2019-07-14 20:16] kachkaev commented on #2879
@PriyankaGupta05

Running `helm upgrade --force` helped me. Credit: https://github.com/helm/charts/pull/13545#issuecomment-491135192

[2019-07-15 01:11] julienstroheker commented on #2782
Hi @floreks @jstrachan

I was looking at this, i'm new to this but willing to contribute :)

Was curious what will be the best way to tackle this ?

SInce the edit component is generic for all kind of resources, i guess having an extra logic for secret here is not ideal : https://github.com/kubernetes/dashboard/blob/28f4c132308f3c83450e17a82760ef9cb2e930c8/src/app/frontend/common/dialogs/editresou

[2019-07-15 03:00] fuergaosi233 opened #4059 "Why can't I find Chinese i18n?"
I can see that in the previous version someone submitted some pr about Chinese translation.
But now I can't find the translation file about Chinese in the i18n folder.Who can tell me what happened?

[2019-07-15 06:27] maciaszczykm commented on #4059
The project's frontend code was rewritten from the scratch and translation were lost too. We have Japanese and French translations thanks to contributors. Would you be willing to create Chinese translations?

[2019-07-15 06:27] #4059 closed

[2019-07-15 07:14] parsh96 commented on #4054
[vagrant@kubernetes-master ~]$ kubectl get services -n kubernetes-dashboard
NAME                        TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)    AGE
dashboard-metrics-scraper   ClusterIP   10.99.180.44    <none>        8000/TCP   16m
kubernetes-dashboard        ClusterIP   10.108.190.70   <none>        443/TCP    21m
[vagrant@kubernetes-master ~]$ kubectl get pods -n kubernetes-dashboa

[2019-07-15 07:15] floreks commented on #4054
Provide **detailed** steps about how you are trying to access it.

[2019-07-15 07:17] parsh96 commented on #4054
kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta1/aio/deploy/recommended.yaml
executed the above command only

[2019-07-15 08:07] fuergaosi233 commented on #4059
I think i can do it. Can you tell me how to start?

[2019-07-15 08:09] maciaszczykm commented on #4059
https://github.com/kubernetes/dashboard/blob/master/docs/developer/internationalization.md contains most of the info, you can also ask here.

cc @shu-mutou

[2019-07-15 09:47] dejwoo commented on #4058
Can confirm this bug is also present in
[code]

Dashboard deployed by running
[code]

**Steps to reproduce:**

1. Delete any resource in any namespace other than default

**Observed result**
Resource deleted, however Dashboard always redirects to default namespace upon confirming deletion

**Expected result**
Resource deleted, Dashboard UI stays at the current screen from where the resource was de

[2019-07-15 12:43] maciaszczykm commented on #4058
Thanks for reporting, we will take a look before next release.

[2019-07-15 16:53] floreks commented on #4058
This is because history service has not been fully rewritten. The original issue is: https://github.com/kubernetes/dashboard/issues/3911

Closing in favor of https://github.com/kubernetes/dashboard/issues/3911

/close

[2019-07-15 16:53] #4058 closed

[2019-07-15 16:55] floreks commented on #4054
You still did not provide all the steps. Based on that we can not reproduce it properly. Most important piece of information is missing. URL used to access it...

[2019-07-16 06:21] parsh96 commented on #4054
executed kubectl proxy on vagrant machine
from browser http://vagrant-ip:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

[2019-07-16 07:07] floreks commented on #4054
Dashboard is no longer in a `kube-system` namespace. Change namespace in url to `kubernetes-dashboard`

/close

[2019-07-16 07:07] #4054 closed

[2019-07-16 08:45] JayceCao commented on #3888
Any progress on this? 🤔

[2019-07-16 08:47] floreks commented on #3888
Can you test on latest `v2.0.0-beta1`?

[2019-07-16 11:21] Rick-Jongbloed commented on #4029
I believe you fixed it.

`image: kubernetesdashboarddev/dashboard-metrics-sidecar`

Logging is now
`{"level":"info","msg":"Kubernetes host: https://10.43.0.1:443","time":"2019-07-16T11:20:16Z"}`

[2019-07-16 17:10] jakerobb opened #4064 "Do not notify on access denied errors on the Overview page"
##### What would you like to be added

When a user views the Overview but does not have permission to access something (e.g. Secrets), do not surface an error that must be dismissed, and do not render it in a distracting manner.

##### Why is this needed
The user did not explicitly ask for that resource; you should not interrupt them with the fact that they do not have access to it.

In 1.x, a dis

[2019-07-16 23:29] lassebm commented on #4029
@jeefy Can I ask you to fix this for `arm64` as well? Thanks!

[2019-07-17 05:56] ajatprabha opened #4069 "Add plugin support on the frontend"
##### What would you like to be added
#4017 adds support for serving plugins from the backend. The dashboard should be able to consume them and mount them in the UI.

##### Why is this needed
See Ref: #1832

##### TODOs
- [x] Add plugin discovery service to dashboard
- [x] Mount plugins in the UI
- [x] Add routing for plugins
- [x] Error Handling
- [ ] Plugin support feature should be toggleable d

[2019-07-17 08:51] eskuai opened #4071 "k8s multiple dashboard"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2019-07-17 08:55] floreks commented on #4071
/close

[2019-07-17 08:55] #4071 closed

[2019-07-17 12:54] JayceCao commented on #3888
Deploy `v2.0.0-beta1` with official deployment yaml and then create a ingress-nginx with the following:
[code]
Everything works well :)
Here is the doc about the part of ingress-nginx configuration: https://kubernetes.github.io/ingress-nginx/examples/rewrite/

[2019-07-17 14:15] Queuecumber commented on #3888
I haven't investigated this fully yet but it is still a potential problem that you need to have that weird regex in the path field and the rewrite to $2. Other services work fine with a rewrite to / and a path like

[code]

@floreks Did anyone add the missing rewrite to dashboard yet? I'm still waiting for a pointer on where the existing handlers are it wasn't obvious from a quick look at the code

[2019-07-17 14:38] floreks commented on #3888
@Queuecumber base handler that serves the application is created [here](https://github.com/kubernetes/dashboard/blob/master/src/app/backend/dashboard.go#L171). Probably, we would have to add rewrite rule from `''` to `'/'`.

[2019-07-17 14:39] Queuecumber commented on #3888
OK got it

[2019-07-17 21:26] qiyongxiao opened #4073 "kube-dashboard build error"
I execute ```npm ci``` return success. and I run ```npm run build```get some errors like this:
[code]

[2019-07-17 22:38] floreks commented on #4073
Dashboard requires Go 1.12+ with go modules feature enabled.

[2019-07-17 22:42] floreks commented on #3945
Kubernetes uses default API port as liveness probe. See https://github.com/kubernetes/dashboard/blob/master/aio/deploy/recommended.yaml#L209

I don't really understand your use case. Simple check if API is alive should be enough.

[2019-07-18 00:12] qiyongxiao commented on #4073
my go language version is
[code]

[2019-07-18 06:30] renepardon opened #4078 "Error: 'dial tcp 10.233.66.62:8443: connect: connection refused' Trying to reach: 'https://10.233.66.62:8443/api/v1/pod/default?filterBy=&itemsPerPage=10&name=&page=1&sortBy=d,creationTimestamp"
##### Steps to reproduce
Just reloaded the page (dashboard). After getting problems with minikube I tried to setup k8s with kubespray in 3 vagrant boxes.

##### Environment
[code]
**Virtualbox**: Version 5.2.30 r130521 (Qt5.6.3

**Vagrant version**: Installed Version: 2.2.3, Latest Version: 2.2.5

**kubectl version**:
[code]

##### Observed result
Dashboard reported Service Unavailable (503):
[cod

[2019-07-18 07:34] maciaszczykm commented on #2128
Looks like this is already removed: https://github.com/kubernetes/test-infra/commit/7942ba3c89511bfb1a63418a4dc2d11a858821ae

[2019-07-18 08:06] maciaszczykm commented on #3911
Please remember to check the bug with redirect to default namespace after wizard closes.

[2019-07-18 08:31] varshama opened #4079 "Unable to see CPU and Memory dashboards for Kubernetes deployments in a private cluster (Although CPU/Memory dashboard data available for containers present in deployments)"
##### Production GCP Environment Issue
We have a private cluster in which there are 40+ deployments, we are unable to see CPU, memory, disk IO etc dashboard data for deployments (workloads) in GKE console.
**NOTE: The aggregated data is not available.**
Whereas, for containers in that deployments CPU. Memory dashboard data is available.
Could someone please help if there is anything we need to inc

[2019-07-18 08:49] maciaszczykm commented on #4079
It's not Kubernetes Dashboard but GCP.

/close

[2019-07-18 08:49] #4079 closed

[2019-07-18 09:02] varshama commented on #4079
@maciaszczykm Thanks for your prompt response.
I am aware that it's a GCP issue but its for Kubernetes deployments, could you please re-open the same  so that the experts can respond to my query.

[2019-07-18 09:29] maciaszczykm commented on #4008
Please also add https://github.com/kubernetes/dashboard/pull/3504#issuecomment-501353220 info to the docs. Can be placed in FAQ or some dev doc.

[2019-07-18 09:30] maciaszczykm commented on #4008
@jeefy Would be nice if you would describe dev process with the metrics. Some manual, tips etc.

[2019-07-18 12:06] floreks commented on #4078
Looks like pod was being terminated and you were not switched to running instance. The frontend was running in the browser but the backend was inaccessible, thus the error. I'd also recommend switching to `v2.0.0-beta1` if you want to use k8s `v1.15` as `v1.10.1` uses older `client-go`.

[2019-07-18 12:09] floreks commented on #4073
Try `export GO111MODULE=on` before running build.

[2019-07-18 12:17] astorath commented on #3945
@floreks
Use case is as follows:

1. I have dashboard serving on http port without any authentication
2. Dashboard is bound to 127.0.0.1 (so that noone except for sidecar can connect)
3. Auth proxy (as a sidecar) performs auth and proxies user requests

This way I'm unable to use liveness probe:
- Dashboard do not accept connections from kube
- I have no option to enable second interface (with aut

[2019-07-18 12:19] renepardon commented on #4078
Hi @floreks ,

ok, thank you for this hint :)
I'll give it a try!

[2019-07-18 12:19] #4078 closed

[2019-07-18 12:54] #3911 closed

[2019-07-18 13:18] floreks commented on #4021
It's actually against rules of the material design: https://material.io/design/components/dialogs.html#actions

[2019-07-18 13:25] maciaszczykm commented on #4021
Ok, then. Let's close.

[2019-07-18 13:25] #4021 closed

[2019-07-18 14:01] floreks commented on #3945
I think you are using some custom Dashboard deployment with your own sidecar container. If you choose not to expose Dashboard on `0.0.0.0` inside the pod then you have to make sure that your auth proxy will do necessary health checks as it is the only part that can access Dashboard. We don't want to run another API inside the container just for health checks.

[2019-07-18 14:42] floreks commented on #4079
This repository is **only** for Kubernetes Dashboard relates issues.

[2019-07-18 14:55] astorath commented on #3945
I see, thanks for reply

[2019-07-18 14:58] #3945 closed

[2019-07-18 15:18] #3664 closed

[2019-07-18 15:23] #3909 closed

[2019-07-18 16:06] floreks opened #4085 "Chip styling"
There are 2 new issues with chip styling:
- List view (show more/less not aligned with chips)
![Zrzut ekranu z 2019-07-18 14-33-07](https://user-images.githubusercontent.com/2285385/61473363-91e61e80-a986-11e9-8c96-6a1e117fcbdb.png)
- Detail view (font size)
![Zrzut ekranu z 2019-07-18 14-34-05](https://user-images.githubusercontent.com/2285385/61473385-99a5c300-a986-11e9-9d1b-b238e9594910.png)

[2019-07-18 19:49] soandos opened #4088 "Internal error, no metric client found"
##### Environment

[code]

##### Steps to reproduce

1. download https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta1/aio/deploy/recommended.yaml
   1. Replace all instances of `namespace: kubernetes-dashboard` with `namespace: monitoring`
   1. Remove the first argument (aucogenerate certs)
   1. Change the second argument to `--namespace=monitoring`
   1. Add `--enable-insecure-lo

[2019-07-18 22:35] Queuecumber commented on #3888
I did a bunch more investigation on this and I came to the conclusion that it's not actually your issue. First off, I switched to nginx-ingress and the rules seem to work fine, it turns out that a rule like

[code]

is actually just what is required in nginx-ingress now, traefik still doesn't work but in my opinion if nginx-ingress works and it works the same way as other applications then its not

[2019-07-18 22:35] #3888 closed

[2019-07-19 03:43] charles-d-burton commented on #4029
This is still happening on on arm64.

[2019-07-19 03:57] JayceCao commented on #3888
It seems that `v2.0.0-beta1` has a bug when using this configuration. Cannot execute commands in containers.

[2019-07-19 04:16] alastairpat opened #4092 "Viewing Config Map breaks dashboard"
##### Environment

[code]

##### Steps to reproduce

1. Create a configmap with data
2. View the configmap in Kubernetes dashboard
3. Click on the 'data' section of the config map
4. Wait ~5 seconds

##### Observed result

The 'data' section empties. Further interactions with Dashboard are broken, with changing tabs resulting in white boxes

##### Expected result

The 'data' section doesn't become

[2019-07-19 07:16] maciaszczykm commented on #4092
Can you paste logs from the browser console?

[2019-07-19 07:19] floreks commented on #3888
Yep, beta1 had issue with exec into pod. beta2 was releases yesterday and exec should be fixed now. Try it :)

[2019-07-19 08:00] lubing2019 opened #4093 "error "postinstall": "node aio/scripts/version.js && ./node_modules/protractor/bin/webdriver-manager update --gecko=false --versions.standalone=3.141.59 && curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.17.1""
npm install  "postinstall": "node aio/scripts/version.js && ./node_modules/protractor/bin/webdriver-manager update --gecko=false --versions.standalone=3.141.59 && curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.17.1"

error:

[2/6] scripts.postinstall babel-register@6.26.0 › core-js@^2.5.0 finished in 79ms
[3/6] scripts.install hu

[2019-07-19 08:13] floreks commented on #4092
Console error:
![Zrzut ekranu z 2019-07-19 10-12-40](https://user-images.githubusercontent.com/2285385/61520142-d5d03680-aa0d-11e9-8326-ab9d41b0b9c6.png)

As a quick workaround refresh the whole app. We will fix it.

[2019-07-19 08:15] floreks commented on #4093
No steps to reproduce. No actual description of the error and how it was encountered. Issue form not filled.

/close

[2019-07-19 08:15] #4093 closed

[2019-07-19 10:04] liyansong opened #4095 "Dashboard reported Internal Server Error (500)"
#### Issue details

##### Environment

[code]
##### Steps to reproduce

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Expected result

##### Comments

[2019-07-19 10:05] #4095 closed

[2019-07-19 10:56] floreks opened #4096 "Logout causes request spamm to the server"
After manual or forced logout (when the token expires) Dashboard is spamming requests until user logs back in.

![Zrzut ekranu z 2019-07-19 11-11-57](https://user-images.githubusercontent.com/2285385/61524118-0fa53b00-aa16-11e9-8660-955e9cb493aa.png)

[2019-07-20 05:43] fuergaosi233 opened #4097 "run aio/develop/run-npm-on-container.sh failed"
##### Environment

[code]

##### Steps to reproduce

[code]

##### Observed result
[code]

##### Comments

I think it's Dockerfile problem.
I run a container of `golang:1.12` ,then run `apt update && apt install openjdk-8-jre`. The terminal shows the same error.
Is this a problem with my personal environment?

[2019-07-20 07:55] lubing2019 opened #4098 "docker run -it kubernetes-dashboard-amd64:1.8.1 /bin/bash Failed !!!"
[root@node1 ~]# docker run -it kubernetes-dashboard-amd64:1.8.1 /bin/bash
2019/07/20 07:56:00 Starting overwatch
2019/07/20 07:56:00 Using in-cluster config to connect to apiserver
2019/07/20 07:56:00 Could not init in cluster config: unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined
2019/07/20 07:56:00 Using random key for csrf signing
20

[2019-07-20 11:30] floreks commented on #4098
/close

[2019-07-20 11:30] #4098 closed

[2019-07-21 08:26] parsh96 opened #4100 "Unable to open dashboard version v2.0.0-beta2"
##### Environment

[code]

##### Steps to reproduce

Deploy the dashboard :-
kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta2/aio/deploy/recommended.yaml

kubectl proxy

##### Observed result

[root@localhost vagrant]# kubectl get pods --all-namespaces
NAMESPACE              NAME                                            READY   STATUS    RESTARTS   AGE
kube-sy

[2019-07-21 08:29] floreks commented on #4100
Observed result doesn't make sense. It does not tell us anything. Provide more useful information or close.

[2019-07-21 08:56] parsh96 commented on #4100
unable to access dashboard from browser used the below url
http://192.168.33.14:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/

dashboard pods are running successfully

[2019-07-21 11:34] alastairpat commented on #4092
Thanks @floreks - I put the whole development environment for our organisation onto the beta with a view to finding defects. Really appreciate the turnaround. An aside - all the end users are loving the improvements!

[2019-07-21 17:50] floreks commented on #4100
You have written that you are using  `kubectl proxy` and it is exposed only on localhost. Using interface ip won't work.

/close

[2019-07-21 17:50] #4100 closed

[2019-07-21 18:59] eloyekunle commented on #2809
Fixed by #3131
/close

[2019-07-22 02:57] ld-singh commented on #4088
I am also facing same issue

[2019-07-22 05:49] ld-singh commented on #2986
Anyone faced issue mentioned in https://github.com/kubernetes/dashboard/issues/4088 and fixed?

[2019-07-22 06:14] parsh96 commented on #4100
should i expose service using nodeport

[2019-07-22 06:39] parsh96 commented on #4100
[root@localhost vagrant]# kubectl get services -n kubernetes-dashboard
NAME                        TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)         AGE
dashboard-metrics-scraper   ClusterIP   10.103.20.66    <none>        8000/TCP        6m20s
kubernetes-dashboard        NodePort    10.99.112.120   <none>        443:31559/TCP   6m20s

when exposed to nodeport got following error on browse

[2019-07-22 06:53] floreks commented on #4100
It was not updated for v2 but steps are basically the same: https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above#nodeport

[2019-07-22 07:05] floreks commented on #2809
/close

[2019-07-22 07:05] #2809 closed

[2019-07-22 08:14] smartkuk opened #4102 "I have some errors when I run command(npm start)"
Hello~

I want to run kubernetes dashboard on minikube but have something bad.

Can you help me? The follow contents of my executing commands(version check, and so on) for running kubernetes dashboard

* my minikube version

[code]

* my kubectl version

[code]

* my docker version

[code]

* my go version

[code]

* my npm & node version

[code]

* my gulp version on cloned dashboard directory

[

[2019-07-22 08:21] smartkuk commented on #4102
I found solution~

[floreks comment](https://github.com/kubernetes/dashboard/issues/4073#issuecomment-512788708)

I closed this, but I wish to help others by my question contents.

[2019-07-22 08:21] #4102 closed

[2019-07-22 08:26] smartkuk commented on #4073
I had same issues, but Your solution save my day
[I wrote same issue but close](https://github.com/kubernetes/dashboard/issues/4102#issue-470955267)

[2019-07-22 08:27] smartkuk commented on #4073
I had same issues, but @floreks 's solution save my day
[I wrote same issue but close](https://github.com/kubernetes/dashboard/issues/4102#issue-470955267)

[2019-07-22 08:44] floreks commented on #4073
/close

[2019-07-22 08:44] #4073 closed

[2019-07-22 09:20] silverbackdan opened #4104 "Metrics not displaying in dashboard [v2 betas or master]"
##### Environment

Installation method: recommended methods with kubectl apply -f <url> - IO also then configure ingress with traefik and a dashboard user with ClusterRoleBinding
[code]

Kubernetes version:
[code]

Dashboard version: tried with v2 beta1, beta2 and master
Operating system:
[code]

Node.js version ('node --version' output): v8.10.0 (this was not installed but I've added it now resta

[2019-07-22 09:59] floreks commented on #4104
Did you install metrics server in your cluster?

[2019-07-22 11:08] silverbackdan commented on #4104
Thanks for the prompt response and the question - I hadn't installed the metrics server and didn't see a requirement for it but have gone ahead and installed the metrics server now from the helm chart:
https://github.com/helm/charts/tree/master/stable/metrics-server

I have tried installing in my system specific namespace and also in the kubernetes-dashboard namespace once the first hadn't seemed

[2019-07-22 11:42] silverbackdan commented on #4104
Turns out after leaving that up for a bit there is a crash loop with the metrics server and this error
[code]

Not sure why the cluster is not able to communicate with the node though, if this is the cause for the dashboard stats failure I'll have to just close this ticket and look into this metrics server in a bit more detail and see if I can keep it running.

[2019-07-22 12:21] floreks commented on #4104
This is an internal networking issue in your cluster then. v2 beta has been released very recently, but the release changelog contains all information: https://github.com/kubernetes/dashboard/releases/tag/v2.0.0-beta1

Also [metrics scraper](https://github.com/kubernetes-sigs/dashboard-metrics-scraper) (link is also in the release notes) says that it scrapes metrics from the metrics server. Kubern

[2019-07-22 12:26] silverbackdan commented on #4104
ok great, thanks for the info and time taken to explain. I'll close the ticket and ensure that those commands work and get the metrics server running properly. Thanks again!

[2019-07-22 12:26] #4104 closed

[2019-07-22 13:19] jeefy commented on #3734
/remove-lifecycle stale

[2019-07-22 13:20] jeefy commented on #4029
Reopening to track arm64 (hopefully won't stay reopened for long)

[2019-07-22 13:21] parsh96 commented on #4100
According to the documentation older version has dashboard exposed using http but not for the newer beta release i found nothing.

[2019-07-23 01:27] smartkuk commented on #4097
I have a similar problem.

In my case, I had the following steps.

I had minikube on mac.

[code]

[code]

[code]

I face this problem.

[code]

[2019-07-23 02:26] fuergaosi233 commented on #4097
I found the cause of the bug
This image is inherited from golang: 1.12, Golang:1.12 is inherited buildpack-deps:stretch-scm, There is no openjdk-8 in its corresponding debian version. so apt-get can't install openjdk-8-jre.
I use apt install `openjdk-8-jre` successfully in `golang:1.10`,
so I change `FROM golang:1.12` to `FROM golang:1.10` in Dockerfile.
I am testing now .(In China, the speed of t

[2019-07-23 05:33] fuergaosi233 commented on #4097
😃I built successfully.It is very exciting.
But it's run `./aio/develop/gosu-command.sh` failed in my machine, beacuse my system is `Macos`.No `groupadd`. I think I can only develop it on my linux machine. 😑

[2019-07-23 09:46] #4097 closed

[2019-07-23 13:46] floreks commented on #4088
Too little information. Show actual logs from the app.

[2019-07-23 14:23] soandos commented on #4088
The metrics exist (kubectl top nodes) works, and the metric-scraper seems to be working as well (printing logs saying {"level":"info","msg": "Database updated: 30 nodes, 429 pods, time: 2019-07-23T14:17:11Z"}

The cluster is on a closed network, so I can't cut an paste logs, but I am happy to retype things if you have something more specific

[2019-07-23 16:24] jeefy commented on #4008
/assign

[2019-07-23 20:00] slavditore opened #4108 "Dashboard 2.0.0-beta2 has non-working exec"
##### Environment

[code]

##### Steps to reproduce

1. Choose deployment
2. Choose pod of deployment
3. Click 'Exec' into pod
##### Observed result

Black screen of terminal that hasn't any shell prompt

##### Expected result

##### Comments

[2019-07-23 20:13] floreks commented on #4108
Not enough information how to reproduce, also do not just change images. With betas you should always fully reinstall the app.

[2019-07-23 20:34] slavditore commented on #4108
So, if I am unterstood you right, I should delete old resources and after this run new. Will be it right?

[2019-07-23 21:46] floreks commented on #4108
This is how you should always update beta releases. kubectl delete -f ... and then kubectl apply -f ...

[2019-07-24 01:10] ld-singh commented on #4088
@floreks I am adding the logs from app in case they are helpful as I am also facing same issue
I am using EKS with weavenet. Metrics server works fine for me. I am using hostNetwork:true for metric server  and the version is v0.3.2
kubectl top works fine for me.

I am running beta2 version of dashboard.The below are the pods running:

kubectl get pods -n kubernetes-dashboard
NAME

[2019-07-24 07:30] floreks commented on #4088
**Metric client health check failed: the server is currently unable to handle the request (get services dashboard-metrics-scraper). Retrying in 30 seconds.**

This means that Dashboard can't connect to the metrics scraper to gather metrics. This looks like a cluster issue.

[2019-07-24 07:38] ld-singh commented on #4088
@floreks
Can you please help me understand how it is trying to connect and how can I get more information so that I can fix. I don't believe it is cluster issue. Even if it is I need to figure out a solution. My cluster is managed cluster and weavenet overlay do not run on master. But I don't understand how can a pod not connect to a service in same namespace. I am running application using multip

[2019-07-24 09:58] bouk opened #4110 "Follow v2 module documentation"
Hi, I just want to give you a heads-up that you might need to follow the [modules documentation](https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher) around releasing a v2, to ensure it’s fully compatible with the mod tool. I believe all you will need to do is append `/v2` to the `module` statement in `go.mod`.

[2019-07-24 10:14] floreks commented on #4088
This error is thrown by the kubernetes itself: https://github.com/kubernetes/kubernetes/blob/b3c1bbb4710f4b178250ae1f5a61be6508501f93/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go#L412

It connects in here: https://github.com/kubernetes/dashboard/blob/master/src/app/backend/integration/metric/sidecar/restclient.go#L45

Basically, it looks for `dashboard-metrics-scraper` service in the s

[2019-07-24 21:29] ld-singh commented on #4088
Thanks

[2019-07-24 22:40] ld-singh commented on #4088
@floreks Thanks for the code snippet. I was able to fix the issue by adding hostNetwork:true to dashboard-metrics-server Deployment.

[2019-07-25 00:05] ld-singh commented on #4108
@floreks I did fully re-install and still not able to exec.
Below are the logs i see:

2019/07/25 00:01:29 [2019-07-25T00:01:29Z] Incoming HTTP/1.1 GET /api/v1/pod/test-be/test-service-f7db794fc-ks85s/shell/test-service request from 10.32.0.4:45152:
2019/07/25 00:01:29 [2019-07-25T00:01:29Z] Outcoming response to 10.32.0.4:45152 with 200 status code

[2019-07-25 00:17] pog2g commented on #4108
I did fully re-install ,but still not able to exec.

[2019-07-25 00:51] ld-singh opened #4112 "Container and process level information"
##### What would you like to be added

Have container level and process level information as we can see in weavescope
When we click on Pod, it opens up a page with information including running containers. Then you should be able to click on containers which should open a new page with information on process running in container with their CPU and memory usages.
##### Why is this needed
This will

[2019-07-25 02:02] ld-singh commented on #4108
Also i noticed the below calls are going in loop with 200 http status and I keep seeing black screen with no prompt and it appears shell is loading repeatedly in loop :

v1/namespace
api/v1/pod/test-be/test-service-5bcc484787-vf7cd/container
/api/v1/pod/test-be/test-service-5bcc484787-vf7cd/shell/test-service

[2019-07-25 05:18] hll321 opened #4115 "docker run -it kubernetes-dashboard-amd64:1.10.1 /bin/bash Failed"
[root@node2 opt]# docker exec -it 8afad6272399 /bin/bash
rpc error: code = 2 desc = oci runtime error: exec failed: container_linux.go:247: starting container process caused "exec: \"/bin/bash\": stat /bin/bash: no such file or directory"

##### Environment

centos7.3
[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

How can I use kubernetes-dashboard-

[2019-07-25 05:19] ZeeBJ opened #4116 "error_outline HTTP/2.0 500 (500)"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported HTTP/2.0 500 (500):
[code]

##### Comments

[2019-07-25 05:27] smartkuk opened #4117 "The purpose of "groupadd -g ${LOCAL_GID} user" and access dashboard"
Hi.

```run-npm-on-container.sh``` I have run into errors, and I have some questions about it.

First, the related error is that when ```groupadd -g ${LOCAL_GID} user``` is executed in gosu-command.sh, group is not added because GID value already exists and the following command ```chown -R user:user /home/user``` does not work correctly. The dashboard did not start because it did not.

That log i

[2019-07-25 06:34] floreks commented on #4116
/close

[2019-07-25 06:34] #4116 closed

[2019-07-25 06:35] floreks commented on #4115
Dashboard container can not be entered as it uses scratch image as a base and has not bash inside.

/close

[2019-07-25 06:35] #4115 closed

[2019-07-25 06:39] floreks commented on #4108
Can you share deployment that you are trying to exec into? Also we need detailed steps how you are accessing Dashboard.

[2019-07-25 06:43] floreks commented on #4088
I think this is the same issue for @soandos

Try the solution above.

/close

[2019-07-25 06:43] #4088 closed

[2019-07-25 07:37] floreks commented on #4117
There actually is an error in the last log. Check it.

As for the group, @shu-mutou do you know anything about it? Also, @maciaszczykm might be able to help with testing on mac.

[2019-07-25 08:16] smartkuk commented on #4117
Thank you for replying~

Actually I wanna execute ```npm run start:prod``` command but the command give some errors to me.

So I tried to run the above ways but I failed.

Anyway~ thanks

[2019-07-25 08:40] ld-singh commented on #4108
@slavditore Apologies for hijacking your issue :)
@floreks
I am running EKS 1.12 with weavenet. I am accessing dashboard with token of service account with cluster admin access over Kubernetes Nginx ingress.
Below are the yamls:

[k8s-dashboard_yaml.txt](https://github.com/kubernetes/dashboard/files/3430534/k8s-dashboard_yaml.txt)
[deployment_yaml.txt](https://github.com/kubernetes/dashboard/files

[2019-07-25 09:11] shu-mutou commented on #4117
@smartkuk For your second question, please add env as follow:
`export K8S_DASHBOARD_BIND_ADDRESS="0.0.0.0" `
For more details, please see [Getting Started](https://github.com/kubernetes/dashboard/blob/master/docs/developer/getting-started.md#allow-accessing-dashboard-from-outside-the-container).

I will tackle about GID soon but tomorrow.

[2019-07-25 09:25] ArvinSiChuan commented on #4088
Simply I think its the v2.0beta issue with `https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta1/aio/deploy/recommended.yaml`. I used the
v1.10.1 here and it works fine: 'https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml' (from https://github.com/kubernetes/dashboard/blob/master/README.md)

@floreks  I guess the doc in k8

[2019-07-25 09:28] ArvinSiChuan commented on #3804
I fixed this by using the v1.10 version instead of v2.0 beta

[2019-07-25 09:38] shu-mutou commented on #4117
I could make PR #4120, but could not check so sufficiently. If my PR would not resolve this issue, I will tackle again tomorrow.

[2019-07-25 09:39] #4096 closed

[2019-07-25 09:44] mausch commented on #4108
Exec doesn't work here either. Brand new 1.12 cluster, so it's definitely not an issue with a leftover previous beta...

[2019-07-25 10:13] #4117 closed

[2019-07-25 10:23] #4085 closed

[2019-07-25 10:31] alx-kmn commented on #4108
Same here. But for me i used it with NodePort and self-made certs.

**k8s**: 1.15.1 (brandnew)
**dashboard**: 2.0.0-beta2

Exeс does not work.

And than, i delete namespace, install **2.0.0-beta1** with NodePort and custom certs.
And Exec **works**!

[2019-07-25 10:33] maciaszczykm commented on #4092
Interesting thing - it occurs only on prod, on dev everything works. Will be harder to fix.

[2019-07-25 10:37] floreks commented on #4108
so beta2 exec will work with `kubectl proxy` but beta1 not.  It's because [this](https://github.com/kubernetes/dashboard/blob/master/src/app/frontend/shell/component.ts#L191) part have changed from absolute to relative. Previously it was `/api/sockjs?${id}` and now it is `api/sockjs?${id}`. I have to recheck that.

[2019-07-25 10:38] floreks commented on #4088
v1 does not support metrics-server, only heapster. It's a different issue.

[2019-07-25 11:14] mylesagray opened #4121 "Improve docs for metrics"
##### Environment

[code]

##### Steps to reproduce

Install kubernetes dashboard with:

[code]
##### Observed result

No graphs/sparklines displayed in UI - metrics scraper pod is running as expected:

[code]

##### Expected result

Graphs/Sparklines show in UI.

##### Comments

Not sure if this is the expected behaviour or not in 2.0.0?

[2019-07-25 11:25] floreks commented on #4121
Did you install `metrics-server`?

[2019-07-25 11:27] mylesagray commented on #4121
I assumed `metrics-server` was rolled into the scraper pod?

Does it make sense to add `metrics-server` to the recommended.yaml file?

[2019-07-25 11:30] floreks commented on #4121
`metrics-server` is only an implementation of metrics API. It is not the only thing that can be used here. That is why we are not adding it to our default setup. User has to choose here.

[2019-07-25 13:42] eloyekunle opened #4123 "Implement CRD Object Detail Page"
##### What would you like to be added
Objects created as CRDs can contain arbitrary JSON/YAML data. It is difficult to display the data in an intuitive way that captures the intended use of the resource. It is proposed that the entire arbitrary JSON/YAML data be shown in a structured text format using the library currently used for the edit dialog.

**Current Object Detail Page**
![image](https://

[2019-07-25 13:56] mylesagray commented on #4121
That did it! Thanks @floreks - perhaps one option - maybe adding another yaml file that includes its config as an example - I know I didn't have the easiest time finding the repo, the instructions or then even getting a working config. Something that works out of the box would be appreciated.

If you're open to it I can help contribute?

[2019-07-25 13:57] mylesagray commented on #4121
/kind feature

[2019-07-25 14:53] #4108 closed

[2019-07-25 15:09] floreks commented on #4121
We can add information to the documentation and link to the files, but everything for `metrics-server` is already on their repo: https://github.com/kubernetes-incubator/metrics-server/tree/master/deploy/1.8%2B

We don't really want to maintain specific setup if it's available and maintained on other repo. We can point people there. Also, there is no single setup that would work for all. Some clust

[2019-07-25 18:17] mylesagray commented on #4121
Agree, I think some clear pointing documentation with an example on how to use it (and critically set the insecure kubelet flag - which will likely be most common) would be a great course of action.

[2019-07-26 00:43] smartkuk commented on #4117
OK Thank you~

I am trying to running now by your advice. I will soon tell the result~

[2019-07-26 02:53] zhanghba opened #4125 "not show CPU and memory value on dashboard"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

![image](https://user-images.githubusercontent.com/35982572/61922567-86e94a80-af93-11e9-984f-6c93bb99ec93.png)
use dashboard v2.0.0-beta2 and kubernate version is v1.15

[2019-07-26 03:16] ld-singh opened #4127 "CPU and Memory values not printing along graphs"
##### Environment

[code]

##### Steps to reproduce

Click on pods on left hand menu
##### Observed result

Graphs for CPU and Memory but no values getting printed

<img width="549" alt="ActualOutcome" src="https://user-images.githubusercontent.com/43326506/61923295-c5d4cb80-afa6-11e9-83b3-c0aa1714e738.png">

##### Expected result

Values of CPU usage and Memory usage printed in front on graphs
(T

[2019-07-26 03:56] ld-singh commented on #4125
u should probably check https://github.com/kubernetes/dashboard/issues/4121 or https://github.com/kubernetes/dashboard/issues/4088

[2019-07-26 04:11] smartkuk opened #4128 "sh: ./dist/amd64/dashboard: not execute binary file"
Hi again...

When I execute ```npm run start:prod``` command , and the standard output log showed that the message ```sh: ./dist/amd64/dashboard: not execute binary file``` seemed to be a hint, but the binary file had the right to execute.

I want to contribute to translation work, but I can't see the result.
I cloned kubernetes/dashboard today again for resolving this issue.
The process I did is

[2019-07-26 06:39] floreks commented on #4125
Check existing issues.

/close

[2019-07-26 06:39] #4125 closed

[2019-07-26 06:40] floreks commented on #4127
They have been moved to a tooltip to save some space.

[2019-07-26 07:26] qikiqi opened #4129 "CPU and Memory sparklines appear next to incorret pods (and change position on refresh)"
##### Environment

[code]

##### Steps to reproduce

1. Setup kubernetes via [k3s](https://github.com/rancher/k3s/) (have not tried to reproduce via other installation methods)
2. Install dashboard
3. Install metrics-server
4. Open the dashboard, change the namespace to kubernetes-dashboard and open pods view
5. Refresh page and observe sparklines for memory and/or cpu to change positions
6. Incor