[2018-07-29 15:57] floreks commented on #3184
1. Old Dashboard version (update it first).
2. No information on how Dashboard was installed in the cluster and how it is configured.
3. Steps to reproduce need to be described in a way that allows us to actually REPRODUCE the issue. Provided steps are wrong and environment specific. They need to be more general.
4. Missing K8S version.
5. Connection refused issue are generally not a Dashboard iss

[2018-07-29 15:57] #3184 closed

[2018-07-30 00:12] skraelings888 opened #3185 "Dashboard reported Unknown Server Error"
#### Issue details

##### Environment

[code]
##### Steps to reproduce

##### Observed result
Dashboard reported Unknown Server Error:
[code]

##### Expected result

##### Comments

[2018-07-30 12:56] #3185 closed

[2018-07-30 17:49] danielromlein commented on #3178
@maciaszczykm

Sorry I don't follow: could you clarify what the expected behavior is?

[2018-07-30 22:17] maciaszczykm commented on #3178
No, I think it shouldn't be removed, but it should work different than you have described. It should redirect to overview of currently viewed namespace.

[2018-07-31 10:47] Scofields opened #3186 "kubernetes-dashboard Error while initializing connection to Kubernetes apiserver for V1.11"
##### Environment

[code]

##### Steps to reproduce
`

kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml
`

`

        args:
          - --auto-generate-certificates
          # Uncomment the following line to manually specify Kubernetes API server Host
          # If not specified, Dashboard will attempt to auto discove

[2018-07-31 11:02] floreks commented on #3186
1. Accessing the API server from the outside does not mean that container will be able to access it. Networking has to be configured properly to allow containers to access the internet or local machines.
2. K8S 1.11 is not yet officially supported and it is also possible that Dashboard won't work with it, however it is most likely cluster configuration issue in this case.

[2018-07-31 11:02] #3186 closed

[2018-07-31 16:41] girmanokia opened #3187 "n error on the server ("Service unavailable") has prevented the request from succeeding (get pods)"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-07-31 18:33] #3187 closed

[2018-07-31 18:40] maciaszczykm commented on #3038
Unfortunately you have to wait for the next release when we will introduce changes allowing to use it with Kubernetes 1.10.

[2018-08-01 10:02] zfengli89 opened #3188 "about question : start service rest-server"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-08-01 10:47] #3188 closed

[2018-08-01 13:21] mxey opened #3189 "Expired token should be HTTP 401, not HTTP 500"
##### Environment

[code]

##### Steps to reproduce
1. Log in to dashboard and keep the page open
2. Wait/let token expire
3. Refresh page

##### Observed result

in log:

[code]

##### Expected result

in log:

[code]

[2018-08-01 15:01] konnase opened #3190 "Unknown reference kind TFJob"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2018-08-02 13:08] ysaakpr opened #3191 "Frequent Dashboard reported Unknown Server Error (502):"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (502):
[code]

##### Comments

[2018-08-02 13:30] #3191 closed

[2018-08-02 13:41] senegalo opened #3192 "Deleting a cron job returns this error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]

##### Comments

[2018-08-02 14:44] jeefy commented on #3189
/kind bug
/assign

I'll pick this one up! I see where the problem is and it should be fairly straight forward (famous last words) :)

[2018-08-02 18:33] #3192 closed

[2018-08-02 19:22] #3171 closed, assigned to jeefy

[2018-08-02 19:47] jeefy commented on #3115
/assign @jimangel

I do think we should put a small blurb in the base README when it comes to installing and RBAC.

@jimangel You mind taking this on? I think being able to link to https://github.com/kubernetes/dashboard/blob/master/src/deploy/recommended/kubernetes-dashboard.yaml#L43 and saying "default install has minimal permissions" is a good start, especially as we address more security conce

[2018-08-02 21:44] maciaszczykm opened #3193 "Add missing flag to the `gulp serve` command and update Wikis"
https://github.com/kubernetes/dashboard/pull/3180#issuecomment-410077009

[2018-08-02 21:45] maciaszczykm commented on #3193
/assign @jeefy

[2018-08-03 06:56] nopponcha opened #3195 "I need to help"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Gateway Time-out (504):
[code]

##### Comments

[2018-08-03 10:51] chrisbeach commented on #2986
+1

[2018-08-03 11:18] cheynewallace commented on #2986
+1 from me

[2018-08-03 13:07] #3195 closed

[2018-08-03 13:10] floreks commented on #3193
@jeefy I have opened the wiki pages for contributors. You should be able to edit it now. We will monitor the changes and see how it works out.

[2018-08-03 13:13] floreks commented on #3004
Sorry, but we can't really help with cluster issues here. Core repo contributors are better suited to help here. Closing as it is not a Dashboard issue but rather a cluster configuration.

[2018-08-03 13:13] #3004 closed

[2018-08-03 17:00] jeefy commented on #3193
Awesome, thank you! I've since updated the wiki.

If I missed anything, feel free to re-open this. :)

/close

[2018-08-03 17:00] #3193 closed

[2018-08-04 05:00] nickychow commented on #2986
+1

[2018-08-04 13:02] jeefy commented on #3012
Fixed in #3180 :)

/close

[2018-08-04 13:02] #3012 closed

[2018-08-04 14:33] thyeun commented on #916
i'm the thousands and one that not getting it work, even follow all @floreks did.

still getting the below messages, been trying it out 48hours.

[code]

[2018-08-04 16:56] gemfield commented on #1578
@aerobiotic 's solution fixed my problem, there also has a guide for install K8s with kubeadm behind a firewall: https://zhuanlan.zhihu.com/p/40931670

[2018-08-06 03:26] mylesjao commented on #2986
+1

[2018-08-06 06:08] shoaibechidna opened #3199 "503 error when trying to access dashboard"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Service Unavailable (503):
[code]

##### Comments

[2018-08-06 09:19] xiaxingtao opened #3200 "node don't have enough space"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (504):
[code]

##### Comments

[2018-08-06 11:55] jeefy commented on #3200
This is likely a cluster issue and not a dashboard-specific issue.

Please re-open this issue when you have more information (steps to recreate, Kubernetes version) and can confirm it is dashboard-specific.

/triage needs-information
/assign

[2018-08-06 11:55] jeefy commented on #3200
/close

[2018-08-06 11:55] #3200 closed

[2018-08-06 12:06] jeefy commented on #3199
/triage needs-information
/assign

Please re-open this issue once you have more information (Way to reproduce, Kubernetes version and installation method.)

I don't think this is a dashboard-specific issue either.

/close

[2018-08-06 12:06] #3199 closed

[2018-08-06 13:03] iamkarlson commented on #2868
Has not it been released yet?

[2018-08-06 14:34] floreks commented on #2868
No, it will be a part of new Dashboard based on Angular 6.

[2018-08-06 15:16] alien2003 commented on #3038
kubectl --namespace=kube-system port-forward kubernetes-dashboard-5bd6f767c7-8bhkf 8443

https://127.0.0.1:8443/

works for me

[2018-08-06 20:11] mattfarina commented on #2891
/remove-lifecycle rotten

[2018-08-07 09:13] xiaxingtao opened #3201 "s"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (504):
[code]

##### Comments

[2018-08-07 09:57] #3201 closed

[2018-08-07 11:11] jamstar commented on #2868
do we know what release this will be targeted for?

[2018-08-07 14:09] GarethOates commented on #2986
+1

[2018-08-08 19:22] johnrkriter opened #3202 "Pagination failure of Service Events"
##### Environment

[code]

##### Steps to reproduce
Follow the 2 following AWS Tutorials for deploying an EKS cluster, then add nodes, and then deploy the master branch version of the Dashboard
https://docs.aws.amazon.com/eks/latest/userguide/getting-started.html (Skip step 4, no apps on the cluster)
https://docs.aws.amazon.com/eks/latest/userguide/dashboard-tutorial.html

I then deployed Helm acc

[2018-08-09 16:40] Stritty commented on #3179
https://invis.io/FTNG48CYQWK#/313626645_Kubernetes_-_Vulnerability_Warning

So I'm not entirely sure how the current notification is built. Ideally "Learn More" would link out to the related documentation. I'm also curious as to what everyone thinks the frequency of this notification should be? I was thinking it should remain until closed and subsequently re-notify each new visit to the dashboard

[2018-08-09 19:11] maciaszczykm opened #3203 "Create new release"
I am creating this issue to prepare for the new release :) It is going to be possibly the last release before Angular migration will be released. It's long time since the last one was done, so we need to test everything precisely. I hope that you will be able to help to test everything :)

### Checklist
- [x] merge #3157
- [ ] ~~metric API support (?)~~
- [x] verify that all required pull requests

[2018-08-09 19:26] maciaszczykm commented on #3203
Link to HEAD image (for test purposes): https://github.com/kubernetes/dashboard/blob/master/src/deploy/recommended/kubernetes-dashboard-head.yaml

[2018-08-10 17:31] maciaszczykm commented on #3003
/lifecycle frozen

[2018-08-11 08:53] y-manish commented on #2691
This worked http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/#!/overview?namespace=default

[2018-08-11 12:44] nikox94 commented on #2986
+1

[2018-08-12 09:06] konnase opened #3204 "Unknown reference kind TFJob"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2018-08-12 09:16] #3204 closed

[2018-08-13 01:58] jeefy commented on #3189
/close

[2018-08-13 01:58] #3189 closed

[2018-08-13 02:36] jimangel commented on #3203
/LGTM

I used the HEAD image above against a digital ocean dev cluster:

[code]

Clicking around, I got stuck on Persistent Volumes and all links showed only that (after changing namespaces). I refreshed and haven't been able to recreate it.

When there is [nothing to display](https://i.imgur.com/TJt2fSg.png), it links to kubernetes docs - let's make sure those are up to date (maybe more important

[2018-08-13 02:53] jimangel commented on #3172
Closing per discussion about opening up wiki, will update readme and wiki moving forward.
/close

[2018-08-13 02:53] #3172 closed

[2018-08-13 17:35] rajeevghosh2000 opened #3205 "Way to access Dashboard running in AWS master node from my local Browser"
##### Environment

[code]

##### Steps to reproduce

1. Installed Kubernetes on 1 Master and 3 Slave EC2 instance using kubeadm. Used Canal add-on.
2. Installed certificates using openssl (https://github.com/kubernetes/dashboard/wiki/Certificate-management)
3. Created dashboard POD:
kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-das

[2018-08-13 21:49] danielromlein commented on #3179
I think this is great!

Few thoughts: referencing the [Material spec](https://material.io/design/components/banners.html#placement), I'd recommend

1. Roboto instead of Roboto Mono
2. "Dismiss" instead of the "X" (I don't feel super strongly about this; my guess for their including that is that it's clearer?), and
3. Possibly a white card with red / orange icon...?

What do folks think about using

[2018-08-13 21:53] danielromlein commented on #3178
But isn't the screen in the first screenshot above the currently viewed namespace? Where else would the user be directed?

[2018-08-14 01:00] jeefy commented on #3179
I think the notification is a fine start! And I agree on the behavior (appear till they fix it.) Cars beep and bug the driver till they put on their seatbelt and this is a Kubernetes equivalent.

What I'd also propose is some improved documentation under "Deploying the Dashboard UI" that explains RBAC and what roles we deploy with by default. Below that would be a fine place to have a "Dashboard S

[2018-08-14 12:36] TreHack opened #3206 "Is the lastest version of dashboard compatibility with Kubernetes 1.11.2?"
##### Environment

[code]

[2018-08-14 13:06] maciaszczykm commented on #3206
Not yet, at least not officially supported. We are in the process of making new release, it improves compatibility with newer versions. Check #3203 for more information.

/assign
/close

[2018-08-14 13:06] #3206 closed

[2018-08-14 13:10] maciaszczykm commented on #3178
No, it's not. You have selected `kube-system` namespace in the picker on the left and you are viewing details of `default-system` namespace.

After clicking on the button you should be redirected to an overview page with `default-system` namespace selected.

[2018-08-14 13:12] maciaszczykm commented on #3203
@jeefy Good! I have added metrics API to the todo list. It seems like really important feature right now. I am wondering how much effort is needed to implement it.

[2018-08-14 14:50] floreks commented on #3203
I will try to look into it soon.

[2018-08-14 15:28] dangoldin commented on #2798
If it's an api ticket should we open an issue in the api?

[2018-08-14 17:43] floreks commented on #2798
@danehans Definitely. It should be fixed primarily on the core side.

[2018-08-14 18:22] EashanSahai opened #3207 "Dashboard reported Internal Server Error (500)"
##### Steps to reproduce
Installed Kubernetes Dashboard on a fresh install of K8 cluster within Pivotal PKS environment. Getting this error when trying to access the dashboard.

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-08-14 18:38] rosskevin commented on #2882
@Michael-Baylis I have tried a variety of token-ttl values, from 0/infinite to 604800/7 days.  Nonetheless, I am logged out consistently throughout the day.

You mention:

But I do not see that in the file you posted.  I only altered/added the `token-ttl` to the default manifest:

[code]
am I missing something?  continuously grabbing a token is driving me crazy.

[2018-08-14 18:58] floreks commented on #2882
@rosskevin This value is related to the internal token used by Dashboard. It does not change life of the token used to log in, so in case that your token has TTL of i.e. 60 min then this param will not change it.

[2018-08-14 19:00] rosskevin commented on #2882
Thanks @floreks - is there an arg I missed to change the ttl of the browser log in token? or is that currently not configurable?

[2018-08-14 19:00] #3207 closed

[2018-08-14 19:05] floreks commented on #2882
@rosskevin Unfortunately, there is no option to extend a life of the original token used to log in as in most scenarios it requires communication with external IdP to refresh the token. We are planning to add support for external IdPs to Dashboard. No ETA though.

[2018-08-14 19:45] midN commented on #2986
👍

[2018-08-14 19:52] llamahunter commented on #2986
People, you don't need to each individually comment "+1" to follow this issue.  Just subscribe to it using the button to the right.

[2018-08-14 20:08] marceliwac commented on #2986
@llamahunter
Or just use the thumbs up reaction to the original issue post to bump it up...

[2018-08-14 20:58] maciaszczykm commented on #3027
Then it is not a Dashboard issue but proxy/setup.

[2018-08-14 20:58] #3027 closed

[2018-08-15 01:07] nrh387 opened #3208 "The k8s can't access"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2018-08-15 03:47] dangoldin commented on #2798
Created the following issue: https://github.com/kubernetes/kubernetes/issues/67420

[2018-08-15 07:03] ningg commented on #1316
I meet the same problem.

[code]

The solution is:

[code]

[2018-08-15 11:59] cduch opened #3209 "Prepending whitespace in token while login doesn't result in "Authentication failed" but also not in a valid login."
##### Environment
SUSE CaaS Platform 3 running Kubernetes Dashboard deployed via helm (kubernetes-dashboard-0.6.8)

[code]

##### Steps to reproduce
Try to login into kubernetes dashboard and copy and paste a valid token with an additional whitespace prepended.

##### Observed result
Login will succeed but the kubernetes dashboard will give a lot of errors because it did a fallback to the user "sy

[2018-08-15 12:19] jeefy commented on #3208
This looks to be an error with the cloud provider and not specifically a dashboard error.

Please re-open if you find out more information that we can work with.

Thanks!

/assign
/close

[2018-08-15 12:19] #3208 closed

[2018-08-15 12:19] jeefy commented on #3209
/kind bug
/assign

[2018-08-15 13:31] AndersonChoi commented on #3171
@jeefy Thank you for the comment.
I found a cluster issue. After the kubernetes restarts, the dashboard was operate normally.

[2018-08-15 21:03] floreks commented on #3209
It is not a Dashboard issue. Kubernetes API server does not offer any kind of credentials validation. It is API server that falls back to the anonymous user in this case. We are only proxying its response. If API server allows the user to get server version then we are assuming that credentials are valid.

We will be able to adjust this behavior if API server will expose some kind of API to actual

[2018-08-16 07:06] miteshdevelopment1 opened #3210 "Dashboard reported Internal Server Error (500):"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-08-17 01:03] jimangel commented on #3203
@maciaszczykm since we updated the client-go to 1.10, will this release be tagged as v1.10 and we won't have a 1.9 release?

[2018-08-17 01:43] jimangel commented on #3115
The README already had a blurb in there about minimal RBAC, but I will submit a PR to beef it up a bit.

[2018-08-17 07:45] frankleecp21 opened #3214 "FF"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unauthorized (401):
[code]

##### Comments

[2018-08-17 10:17] #3214 closed

[2018-08-17 10:36] chrissound opened #3215 "What creates the user token?"
I'm following along with the dashboard install instructions at https://github.com/kubernetes/dashboard/wiki/Creating-sample-user.

But the user token does not seem to be generated?

`kubectl -n kube-system get secret | grep admin-user` returns no result?

How should this token be created?

[2018-08-17 14:16] chrissound commented on #3215
It took a while for the token to be generated...

[2018-08-17 14:16] #3215 closed

[2018-08-17 14:27] chrissound opened #3216 "Not able to login with token"
I see the following logs:

[code]

kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"clean", BuildDate:"2018-04-19T00:05:56Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec

[2018-08-17 14:34] chrissound commented on #3216
I've worked around this by giving cluster admin permision to the dashboard user and just clicking 'skip' at the login propmt

[code]

[2018-08-17 14:39] chrissound commented on #3216
Might be this issue here: https://github.com/kubernetes/kubernetes/pull/29714

I am running this through kubectl proxy

[2018-08-17 15:32] michelgokan opened #3217 "I can't see cpu and memory graph in kubernetes dashboard"
Issue details
I can't see cpu and memory graph in kubernetes dashboard

Environment
Dashboard version: v1.8.3
Kubernetes version: v1.11.2
Operating system: Ubuntu 16.04LTS

Steps to reproduce
After installing metrics-server, start the dashboard, and there are no cpu and memory graph in the dashboard #1867

[2018-08-18 08:39] #3210 closed

[2018-08-18 08:41] floreks commented on #3216
It's either duplicate of #2981 or as the wiki says:

[2018-08-18 08:41] #3216 closed

[2018-08-18 08:42] #3205 closed

[2018-08-18 09:27] chrissound commented on #3216
Thanks for closing.

I've posted it on here instead in case someone finds it useful:
https://stackoverflow.com/questions/51907168/not-able-to-login-to-kubernetes-dashboard-using-token-with-service-account

[2018-08-18 19:58] marceliwac commented on #3203
There's a ticket for the **metrics API** (#2986) but it seems like there hasn't been much progress with it lately... Still though, worth adding it to the original issue description if anyone would want to have a crack at it! :octocat:

[2018-08-19 08:05] floreks commented on #3203
@jimangel Yes, we will do a 1.10 release. It is based on client-go support matrix for the core. Probably starting from new angular release we will jump to v2.0 and diverge a bit from the core versioning system.

[2018-08-19 22:41] SerialVelocity commented on #3148
@jeefy Sorry for the delay in responding here. Unfortunately we have deprioritised this internally so I will not be implementing this soon.

[2018-08-19 23:30] jeefy commented on #3148
That's fine. The issue will remain open as it is something we need to address in the future. :) Thanks!

[2018-08-20 02:32] jeefy commented on #3203
@maciaszczykm Two things:

1) I'd remove Metrics API for this release. It's going to take a fair amount of effort and planning to support it. (@floreks thanks for knocking me to my senses.)

2) Would it make sense to make a branch for the new release? We could then cherry-pick and release smaller dot-releases (if need be) prior to the Angular release.

[2018-08-20 07:14] ishanagi commented on #2882
@rosskevin I have no idea why it suddenly started working for me when I created a new cluster and why it wasn't working in the first place, I am afraid.  All I know it is still working with a 12 hour token.  Fairly sure there is a defect in there somewhere,  but it is very subtle.

[2018-08-20 07:25] kissingtiger opened #3218 "Can you add new management functions in the next edition? Including pod creation, service creation, ingress creation and so on."
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2018-08-20 09:32] xiak commented on #2723
still happening on 1.8.3

Kubernetes: 1.11.2

[2018-08-21 11:33] XinhaiWang opened #3220 "dashboard cannot be opened"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-08-21 14:23] Kymb3rl33 opened #3221 "justcrazythick"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2018-08-21 14:26] Kymb3rl33 commented on #3221
Confussed help

[2018-08-21 14:45] Kymb3rl33 commented on #3221
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2018-08-21 15:01] jeefy commented on #3221
spam
/assign
/close

[2018-08-21 15:01] #3221 closed

[2018-08-21 15:07] jeefy commented on #3220
Please re-open when you can provide the required info above (Steps to reproduce, dashboard installation method, etc)

/triage missing-details
/assign
/close

[2018-08-21 15:07] #3220 closed

[2018-08-21 15:09] jeefy commented on #3220
/triage missing-details

[2018-08-21 17:46] maciaszczykm commented on #3218
We keep track of it in https://github.com/kubernetes/dashboard/issues/1600, however it has fairly low priority. You can always use YAML/JSON input to create any kind of resources.

/assign
/close

[2018-08-21 17:46] #3218 closed

[2018-08-21 17:50] #3115 closed

[2018-08-22 03:40] MarkGilJoven opened #3224 "-machine env"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2018-08-22 03:40] #3224 closed

[2018-08-22 06:32] kafeimao opened #3225 "test"
##### Steps to reproduce

##### Environment
[code]

##### Observed result

##### Comments

[2018-08-22 06:33] #3225 closed

[2018-08-22 12:12] X-E-n-G opened #3226 "dashboard timeouts..."
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Gateway Timeout (504):
[code]
I was deleteing a pv 1 gb in size at the time from the shell

##### Comments

[2018-08-22 15:14] floreks commented on #3226
1. Use most recent version of Dashboard. 2. It does not look like an issue to me. API server timed out and Dashboard just informed you about that

[2018-08-22 15:14] #3226 closed

[2018-08-22 19:02] maciaszczykm commented on #3203
I've tested it and it seems to work fine 👍 PR with new version number will be submitted soon. I will stick to K8s versioning, so it means that it will be v1.10.0.

[2018-08-22 19:05] jeefy commented on #3203
I've done my own testing locally and on a cluster at work and I've seen no issues at all either.

@maciaszczykm Once the PR is merged can we create a v1.10.x branch that we can keep around for a little bit post-ng-migration? (Or should that be a call topic?)

[2018-08-22 20:01] maciaszczykm commented on #3203
@jeefy We already have tags, isn't it enough?

[2018-08-22 23:06] leoconco opened #3228 "hile trying to access a Pod running an executor of spark streaming job, ran with kubernetes native master, I got this when accesing from the console."
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]

##### Comments

[2018-08-23 08:13] #3228 closed

[2018-08-23 12:18] jorgebirck commented on #3038
Same problem with Kubernetes v1.11.0. Port forward temporary solve the issue. Thanks @alien2003

[2018-08-23 19:54] leoconco opened #3229 "Spark Executors when using Kubernetes as Scheduler"
##### Steps to reproduce

Start a spark application using kubernetes as scheduler. In the dashboard, try to open the Pod for one of the Spark executors and get this error. It does not happen when I see the Driver pod.

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]

##### Comments

[2018-08-23 20:07] floreks commented on #3203
@jeefy That's a good idea. We should do that after 1.10 release.

[2018-08-23 20:37] floreks commented on #3229
Closing in favor of #1599. Spark jobs/applications have been discussed there already and due to its custom configuration they are not currently supported by Dashboard.

[2018-08-23 20:37] #3229 closed

[2018-08-23 20:39] #3209 closed

[2018-08-23 20:40] floreks commented on #3052
For a large cluster, it is best to increase memory limits for Dashboard. API server does not support pagination and we do have to load all resources into the memory.

[2018-08-23 20:40] #3052 closed

[2018-08-23 20:41] floreks commented on #3055
Not detailed enough steps to reproduce. Reopen if you provide detailed steps so we can reproduce it.

[2018-08-23 20:41] #3055 closed

[2018-08-23 20:43] floreks commented on #3078
How did you check that other pods are working fine with DNS? Most pods are not like Dashboard. They are not trying to directly connect to API server, instead they are just doing their job without even knowing that they are running inside the cluster.

[2018-08-23 20:45] floreks commented on #3094
Dashboard already has minimal privileges required to only make it work. They will be restricted even more soon. I'd recommend to always use login functionality or configure reverse proxy that will handle auth to Dashboard. Using privileged service account is one option and it is a good one also.

[2018-08-23 20:45] #3094 closed

[2018-08-23 20:46] floreks commented on #3120
Should be fixed by #3227. I have tested exec functionality with our head image and k8s 1.10 and everything works.

[2018-08-23 20:46] #3120 closed

[2018-08-23 23:00] adubkov commented on #1143
I'm having issue with pulling `1.10.0` now.
[code]

[2018-08-23 23:59] raguilera82 commented on #2995
I have the same issue... please somebody explains how to change the autogenerated certs with the Let's Encrypt certs.

Following these instructions https://github.com/kubernetes/dashboard/wiki/Certificate-management  I created a secret called kube-system/kubernetes-dashboard-certs with two files dashboard.crt (fullchain.pem) and dashboard.key (privkey.pem)

But this does not work as expected

Any

[2018-08-24 00:21] sneak opened #3230 "unable to pull k8s.gcr.io/kubernetes-dashboard-amd64:v1.10.0"
[code]

[code]

[2018-08-24 05:06] floreks commented on #1143
We are in the process of releasing it.

[2018-08-24 05:16] floreks commented on #3230
We are in the process of releasing it. It is not automated and only 2 people can push the images so we have to wait. Use v1.8.3 till then.

[2018-08-24 06:09] AndrewSav commented on #3230
@floreks

Both [here](https://github.com/kubernetes/dashboard) and [here](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/) we are instructed to run:

[code]
in order to perform installation. This link currently points to 1.10 image that is not available. I hope you appreciate how this could be a problem.

Would it be possible in the future not to update any part of in

[2018-08-24 10:12] whwstar opened #3231 "use agro commit task and run success，but dashboard show err"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2018-08-24 10:50] klaymen47 commented on #3230
This is impacting many production deployments, I presume. Please revert the change until the new images are available.

[2018-08-24 10:56] zerkms commented on #3230
@klaymen47 it's a good idea to install known version in production so that you weren't surprised when you install a new version and it has a bunch of breaking changes

The old url works and must be used for any sensitive deployments, instead of `master`

https://raw.githubusercontent.com/kubernetes/dashboard/v1.8.3/src/deploy/recommended/kubernetes-dashboard.yaml

[2018-08-24 10:56] sneak commented on #3230
If a change someone else makes on their repo affects your production deployments, your production deployments are not configured correctly.

[2018-08-24 12:28] #3231 closed

[2018-08-24 12:49] floreks commented on #3230
Master will be reverted soon to the previous state by #3232 and master deploy link should be working again. We do see how this is an issue and will try to configure automated build pipeline soon, and also modify the release procedure so it does not affect users at any time.

@AndrewSav
The second link you have provided is actually not maintained by us.

@jimmypw

Only few people can actually do th

[2018-08-24 15:00] mvittiglio commented on #1143
@floreks This proved to be a bit disruptive to our workflow (having the YAML update before the dependent images were released). Perhaps the release of the new YAML can come after the images are made available?

Also, is there an ETA for when this new image will be released?

[2018-08-24 16:14] #3230 closed

[2018-08-25 13:31] bmwiedemann opened #3234 "kubernetes-dashboard build differs from parallelism"
##### Environment
[code]

##### Steps to reproduce

On openSUSE or Debian do
[code]

##### Observed result
produces different RPMs for most runs

##### Expected result
should produce identical RPMs in each run

##### Comments
This is in addition to #3233
If you do not apply this patch, you have to omit the line with `-rtc`
Building with `-j1` instead of `-j2` already gives reproducible results.

[2018-08-25 13:37] bmwiedemann commented on #3234
The part that differs is /var/lib/kubernetes-dashboard/public/en/static/app.*.js
where even the name varies

[2018-08-25 20:25] maciaszczykm commented on #2987
You need to provide more specific steps to reproduce. I am running `gulp serve` on macOS too and it works fine at the moment.

/triage needs-information
/assign
/close

[2018-08-25 20:25] #2987 closed

[2018-08-26 08:43] tanmaykm commented on #2970
Faced it too. It was because of a stale browser cookie in my case.

[2018-08-26 12:33] aolsux commented on #3203
You might also want to update the compatibility matrix at https://github.com/kubernetes/dashboard/wiki/Compatibility-matrix after the release is finished;-)

Thanks for the great work guys and girls(?)!

[2018-08-26 17:14] jimangel commented on #3203
@aolsux will do, thanks.

[2018-08-27 02:56] valentin2105 opened #3235 "k8s.gcr.io/kubernetes-dashboard-amd64:v1.10.0 doesn't exist"
Hi,

You released v1.10.0 but the Docker images doesn't exist.

Thanks.

[2018-08-27 05:41] #3235 closed

[2018-08-27 09:01] kairatbmstu opened #3236 "Getting pod metrics the server could not find the requested resource (get daemonsets.extensions)"
[code]
Hello!

We have kubernetes version 1.1.0, it's old version but it's running ok.
I installed kubernets dashboard version 1.1.0.

[code]

Dashboard is running, everything ok, except this error:
"Getting pod metrics the server could not find the requested resource (get daemonsets.extensions)"
Pod metrics is that stuff i need,  Cpu and Memory metrics do not work.

Should We update version of th

[2018-08-27 11:14] saravanakumarangamuthu opened #3237 "HTTPS secure connection"
##### Environment

[code]

##### Steps to reproduce

Need to add actual SSL certs to my dashboard as well.
Followed the below links : https://github.com/kubernetes/dashboard
https://github.com/kubernetes/dashboard/wiki/Installation#recommended-setup

Have created SSL certs as secrets and used below args
- --tls-key-file
- --tls-cert-file

##### Observed result

https://api.prod.example.com/api/v1/

[2018-08-27 15:56] floreks commented on #3236
What metric provider are you using? How it is configured?

[2018-08-27 16:03] floreks commented on #3237
Either your certificates are not correct x509 certs or there is some configuration issue. Other thing is that if you are connecting to Dashboard through apiserver proxy then you will not be presented with Dashboard certificates but rather with apiserver ones. Possibly this is an issue and you should be accessing it directly.

[2018-08-27 16:26] rifelpet commented on #3203
The [example manifests](https://github.com/kubernetes/dashboard/blob/master/src/deploy/recommended/kubernetes-dashboard.yaml#L117) will also need updating.

[2018-08-28 09:34] #3009 closed

[2018-08-28 15:13] Joby81 opened #3239 "Error on minikube"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Gateway Timeout (504):
[code]

##### Comments

[2018-08-28 18:21] maciaszczykm commented on #3239
This is not a Dashboard issue. It is coming from Kubernetes cluster.

Moreover, I'd recommend to update to the newer version.

/assign
/close

[2018-08-28 18:38] maciaszczykm commented on #3007
Same as https://github.com/kubernetes/dashboard/issues/3239.

/assign
/close

[2018-08-28 18:38] #3007 closed

[2018-08-28 18:40] maciaszczykm commented on #3239
Looks like Kubernetes issue rather than Dashboard one. Are you able to do `kubectl get pods --all-namespaces` without any troubles?

Moreover, I'd recommend to update to the newer version.

/assign

[2018-08-28 18:45] maciaszczykm commented on #3149
Please reopen after providing missing details.

/lifecycle rotten
/close

[2018-08-28 18:45] #3149 closed

[2018-08-29 05:38] jimangel commented on #3039
/close

[2018-08-29 05:38] #3039 closed

[2018-08-29 14:54] codepossible opened #3242 "Error Accessing the Kubernetes dashboard"
##### Steps to reproduce

Provision AKS cluster using az-cli.

First Attempt:
Follow the steps provided in the instructions to launch the Kubernetes Dashboard on Azure Portal.

Second Attempt:
Create a RBAC role based on instruction provided here - https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard

Follow the steps provided in the instructions to launch the Kubernetes Dashboard on Az

[2018-08-29 18:25] maciaszczykm commented on #3242
+1 to @floreks comment.

One more question - does `kubectl` work with your cluster?

[2018-08-29 20:34] maciaszczykm commented on #3239
Please reopen when you can provide the required info.

/close

[2018-08-29 20:34] #3239 closed

[2018-08-29 23:57] jimangel commented on #1719
I can tackle it. From this issue, the focus is on screen shots and general "what's new" docs? I still plan to delete a lot of documentation that reference older version setups / issues / etc and focus on improving the k8s 1.8-1.11 information and support.

[2018-08-30 02:57] andrewsav-datacom commented on #2540
@floreks, why does it makes sense to ignore user actions? Would it be possible to display a error if something goes wrong?

[2018-08-30 03:03] andrewsav-datacom commented on #2580
@floreks I terminate my SSL on a hardware load balancer. There is a secure network between the load blanacer and the k8s cluster. From the k8s cluster point of view the connection comes over http, because it was already terminated on the load balancer. As the result, no one can login to the dashboard.

How do I configure this to work?

[2018-08-30 08:29] lvyiyong opened #3243 "kubernetes dump"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-08-30 10:07] #3243 closed

[2018-08-30 13:07] joaocc opened #3244 "Refresh on dashboard causes error (AKS 1.11.2)"
##### Steps to reproduce
Refresh on dashboard via proxy.

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-08-30 13:17] joaocc commented on #3244
Also happens with:
##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

[2018-08-30 15:07] codepossible commented on #3242
Yes, kubectl does. My apologizes, did not realize that it was wrong forum. Thanks for pointing it out.

[2018-08-30 15:07] #3242 closed

[2018-08-31 04:03] skattoju commented on #2981
Is there a reason local storage should not be used to store the token ? how is it less secure than a cookie ? Using azure active directory.. have not found a way to filter ldap groups...

[2018-08-31 04:11] pigletfly commented on #2650
I recommend https://xtermjs.org/ instead of hterm, xterm has CJK (Chinese, Japanese, Korean) character support.

[2018-08-31 09:34] maciaszczykm commented on #2650
Good to know that xterm will solve this problem as it was introduced to the new version that is currently under development. You can see the change here: https://github.com/kubernetes/dashboard/pull/3166/files.

We won't update current implementation on master branch so you will have to wait until we will release version after Angular migration.

/triage unresolved
/close

[2018-08-31 09:34] #2650 closed

[2018-08-31 09:37] maciaszczykm commented on #2650
Good to know that xterm solves this problem as it was introduced to the new version that is currently under development. You can see the change in https://github.com/kubernetes/dashboard/pull/3166. We won't update current implementation before finishing Angular migration so you will have to wait a while.

/triage unresolved
/close

[2018-08-31 12:22] charlspjohn opened #3245 "cannot load kubernetes admin page"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-08-31 13:04] maciaszczykm commented on #3245
/triage needs-information
/close

[2018-08-31 13:04] #3245 closed

[2018-08-31 13:17] floreks commented on #2981
I think we could by default use cookies, but add an option to use an alternative implementation that uses web/local storage to store token. From what I understand it is less secure and more vulnerable to i.e. XSS attacks. Probably we would add an argument to the backend plus add some switch to the settings page with information why is this option there.

This would be a part of the angular migrati

[2018-08-31 18:51] ianlewis commented on #3179
I agree with the notification discussion so far.

In addition I would add:
* **Login Skip**: One of my concerns is the login page. Currently, even if the login page is enabled, users can skip login and still use the Dashboard service account. This exposes a lot of info without credentials.
* **OAuth**: I think we should have guides on how to set up an OAuth login properly using a proxy (probably a

[2018-08-31 19:47] sunilram86 commented on #2735
@apoms - the above solution works like a charm... I used the same approach for accessing the dashboard built for my EKS cluster... I had installed kubectl & config on a AWS server so that my team can ssh into it via jump box. After port forwarding it, can open it via local machine on a browser.

[2018-09-01 03:36] #2937 closed

[2018-09-01 16:19] gauravpp opened #3246 "Dashboard reported Unknown Server Error (500)"
#### Issue details

##### Environment

[code]
##### Steps to reproduce

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]

##### Expected result

##### Comments

[2018-09-02 08:38] samkrish123 opened #3247 "Unable to access Dashboard in browser and getting : localhost refused to connect."
I am installing Kubernetes on CentOS 7, and created the dashboard successfully.
kubectl get pods --all-namespaces  -o wide
kube-system   kubernetes-dashboard-767dc7d4d-7jvd2      1/1       Running   0          39m       192.168.151.68   mas.kuber.com   <none>
*******************************************
No error description:
[root@mas ~]# kubectl describe deployment kubernetes-dashboard-767dc7d4d-7

[2018-09-02 11:07] floreks commented on #3247
I don't see any error message here so I can't really help. Unless you provide logs from dashboard there is nothing we can do.

[2018-09-02 11:07] #3246 closed

[2018-09-02 12:38] samkrish123 commented on #3247
I have fixed the problem. Earlier I was not able to view the dashboard in the browser and getting connection refused message.  The actual problem was instead of localhost ip (127.0.0.1)  I changed to static IP address of the master server in proxy. Then it started working.

[2018-09-02 18:06] #3247 closed

[2018-09-03 08:27] vdboor commented on #3008
/remove-lifecycle stale

[2018-09-03 16:09] maciaszczykm commented on #3008
/lifecycle frozen

[2018-09-03 16:18] maciaszczykm commented on #1719
Yes, exactly. It would be nice to let people know that project is alive and give them some input about current state, setup manual etc.

[2018-09-04 01:51] leoyer opened #3248 "Uncaught ReferenceError: angular is not defined"
- OS : Ubuntu 17.10
- CPU: Intel(R) Core(TM) i5-6400 CPU @ 2.70GHz
- architecture x64
<pre><font color="#3465A4"><b>kubernetes/dashboard</b></font>$ gulp -v
[<font color="#555753">09:40:21</font>] Requiring external module <font color="#75507B">@babel/register</font>
[<font color="#555753">09:40:21</font>] CLI version 3.9.1
[<font color="#555753">09:40:21</font>] Local version 3.9.1

<font color="

[2018-09-04 02:46] dongsuo commented on #3248
看起来像是 ui-router 安装失败的问题？试试重新 npm install ?

[2018-09-04 03:14] leoyer commented on #3248
<pre><font color="#3465A4"><b>kubernetes/dashboard</b></font>$ npm install --save @uirouter/angularjs
<span style="background-color:#2E3436"><font color="#D3D7CF">npm</font></span> <span style="background-color:#C4A000"><font color="#2E3436">WARN</font></span> browserify-shim@2.0.10 requires a peer of browserify@&gt;= 2.3.0 &lt; 4 but none is installed. You must install peer dependencies yourself.

[2018-09-04 03:53] leoyer commented on #3248
git clone  it again, and then it's ready.

[2018-09-04 03:53] #3248 closed

[2018-09-04 09:28] gyanaranjanjenajena opened #3250 "No route to host aks scalling issue"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-09-04 11:22] yqwang-ms opened #3251 "Dashboard errors if pod's owner reference is not supported"
##### Steps to reproduce

The pod is created as:
`podObject.OwnerReferences = []meta.OwnerReference{*meta.NewControllerRef(configMapObject, ConfigMapGroupVersionKind)}`

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

By setting the owner is also a controller, the Pod functions normally, except for its detail cannot be viewed

[2018-09-04 11:35] schulzh opened #3252 "500 when viewing argo-created pod"
##### Steps to reproduce
Install [Argo](https://github.com/argoproj/argo), submit a workflow, click on argo-created Pod in dashboard

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments
Probably the cause of https://github.com/kubernetes/dashboard/issues/3231, too

[2018-09-04 14:42] maciaszczykm commented on #3251
We have to solve it because there are multiple resources that are not supported.

[2018-09-04 14:43] maciaszczykm commented on #3252
Closing in favor of #3251.

/close

[2018-09-04 14:43] #3252 closed

[2018-09-04 14:49] maciaszczykm commented on #2946
Closing in favor of #3251.

/close

[2018-09-04 14:49] #2946 closed

[2018-09-04 14:50] maciaszczykm commented on #3043
Closing in favor of #3251.

/close

[2018-09-04 14:50] #3043 closed

[2018-09-04 14:51] #2577 closed

[2018-09-04 14:55] maciaszczykm commented on #3251
@yqwang-ms If you are familiar with Go, perhaps you would be interested in fixing this issue so we can release fix for it :) We are quite occupied with Angular migration and we do not have time for it at the moment.

[2018-09-04 19:46] vathanalen commented on #2995
/remove-lifecycle stale

[2018-09-04 21:12] angristan commented on #2898
To access the dashboard with minikube:

[code]

[2018-09-05 01:37] yqwang-ms commented on #3251
Thanks @maciaszczykm for the comment, I will try first but not sure :)

[2018-09-05 03:10] ysjiang4869 commented on #2735
Let me have a summary:
if you use [recommend](https://github.com/kubernetes/dashboard/blob/master/src/deploy/recommended/kubernetes-dashboard.yaml) yaml to deploy dashboard, you should only access your dashboard by https , and you should generete you certs, refer to [guide](https://github.com/kubernetes/dashboard/wiki/Installation)
then , you can run ```kubectl proxy --address='0.0.0.0' --accept-h

[2018-09-05 05:51] VampireDaniel commented on #2849
I dont see any correct answer form internel. here is my research.

First, you need to have a account(ideally you could use the build-in account, `kubectl get clusterroles` to get all build-in account, very recommend to use edit rather than admin)

Then, type this command to get the token which would be used in kubeconfig
`kubectl -n kube-system describe secret $(kubectl -n kube-system get secret |

[2018-09-05 06:09] VampireDaniel commented on #2474
I dont see the correct answer from the internet nor from the official document. here is my research. may this could help you.

First, you need to have a account(ideally you could use the build-in account, `kubectl get clusterroles` to get all build-in account, very recommend to use edit rather than admin)

Then, type this command to get the token which would be used in kubeconfig
`kubectl -n kube-

[2018-09-05 12:33] chrisob commented on #2986
Since this didn't make it into the latest release, is it still planned to replace the dependency on Heapster with the metrics API?  (@ibrasho ?)

We're having to run Heapster along-side metrics-server in our 1.11 cluster just for the dashboard  :grimacing:

[2018-09-05 12:33] vasicvuk commented on #2882
I am having the same issue on Kubernetes Dashboard 1.10.0. token-ttl argument just disappears after some time (Pod gets restarted without it and Deployment also loses token-ttl for some reason).

[2018-09-05 19:35] Miouge1 commented on #2798
From what I have tested revoking the list secret role generates the following warning:
[code]

Is there a way to avoid that?

[2018-09-05 20:02] maciaszczykm commented on #2798
@Miouge1 No, you can only close it. We are refactoring it for the new release, but warnings/notifications will stay here.

[2018-09-06 16:11] maciaszczykm commented on #3203
We need to make sure/update version on core repo and minikube is up to date.

/reopen

[2018-09-06 16:14] jimangel commented on #3048
/close

[2018-09-06 16:14] #3048 closed

[2018-09-06 23:11] jazoom commented on #2723
Restarting kubernetes-dashboard fixed it for me too.

Now I'm seeing `2018/09/06 23:09:08 Metric client health check failed: the server could not find the requested resource (get services heapster). Retrying in 30 seconds.`, which is weird since I don't have any reference to `heapster` in any YAMLs associated with kubernetes-dashboard, or any other YAMLs for that matter.

[2018-09-07 01:46] DiamondYuan opened #3253 "dashboard not keep the page number where back from detail."
##### Steps to reproduce

1 go to deployment list
2 go to page2
3 go to deployment detail
4 go back

##### Observed result

go to page1
##### Expected result

go to page2
##### Comments

why not keep page number in the url query ?

[2018-09-07 07:44] maciaszczykm commented on #2723
@jazoom Dashboard always tries to find and connect to Heapster. Ignore this message.

[2018-09-07 08:58] proskehy commented on #3000
@maciaszczykm then go with the other option in that OR statement: login view...

[2018-09-07 10:06] HelloMarkYin opened #3254 "Liveness probe failed"
kubectl describe pod kubernetes-dashboard-5f48f6b647-cbhzz -n kube-system
---------------------------------
Events:
  Type     Reason     Age                 From           Message
  ----     ------     ----                ----           -------
  Warning  Unhealthy  12m (x100 over 1h)  kubelet, dk03  Liveness probe failed: Get https://192.168.3.82:8443/: dial tcp 192.168.3.82:8443: connect: conne

[2018-09-07 12:38] #3253 closed

[2018-09-08 04:50] Enelar commented on #3064
@floreks i've been fighting against it for 3 hours straight, even suggested workaround won't help. if you care pre-installing dashboard, you have to create user with access to it. otherwise it doesn't make sense. for what purposes it were pre-instailed?

feels like you're teamed up with 'learn kubernetes for 99.99$ courses'. there no warning sign, and its hard to predict what actually is 'expected

[2018-09-09 09:31] ysaakpr commented on #2842
https://github.com/kubernetes/dashboard/issues/2842#issuecomment-369531253 is related to gulp-xslt dependancy version issue, and because of a known issue in libxsd version 0.18, After removing gulp-xslt i was able to do npm i. But dunno, where it gonna brake

[2018-09-09 12:08] floreks commented on #3064
Are WE pre-installing Dashboard anywhere? I honestly don't think that we are. We are providing a FREE tool for the users and it is up to them how they want to use it. Most K8S providers enable Dashboard by default but it is their decision to do so, not ours.

Please, ask yourself that: Was your comment in any way helpful to others and us (maintainers team)? Did it contain any constructive criticis

[2018-09-10 01:42] jeefy commented on #3203
@maciaszczykm I have opened PRs in both k/k and minikube.

https://github.com/kubernetes/kubernetes/pull/68450

https://github.com/kubernetes/minikube/pull/3122

Let me know if I missed anything. I didn't think any deployment scripts really changed so I just iterated the version number. :)

[2018-09-10 09:49] Weilin6668 opened #3255 "无法创建节点标签"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2018-09-10 09:49] #3255 closed

[2018-09-10 14:34] MadWombat commented on #3000
The first time you see the dashboard, you should not be bombarded with a zillion errors with no clear recourse on how to fix them. That is what I mean by reasonable. And since it is a dashboard, you should probably have at least enough access by default to view everything dashboard is intended to show.

[2018-09-10 15:54] danielromlein commented on #3176
@Stritty want to post here anything you think is ready for feedback?

[2018-09-10 19:03] floreks commented on #3000
Steps to reproduce are not really reproducible as there are 2 different ways (described by us and tons of unofficial ones) of installing dashboard and only one of them offers login functionality to be enabled by default.

I have added information to the docs that if you are using latest dashborad installed using recommended setup then login functionality will be working without any additional step

[2018-09-12 02:47] danielromlein opened #3256 "Dashboard survey"
tl;dr @spencersugarman and I would like to conduct a survey around Dashboard and K8s UIs generally, and we want your input on what questions would be valuable to ask.

### Please check out our [draft survey](https://docs.google.com/document/d/1C18n2Bhyc1gxeKRJfj9qhNkIGSoWUZchBXFp4c43VYQ/edit?usp=sharing) and comment with any suggestions on how it could be improved.

The last significant Dashboard

[2018-09-12 13:07] tsaomichael opened #3257 "ss"
[code]

##### Steps to reproduce
step1: Kubernets url  https://xxxx/ui
step2: input admin/xxxx not show web ui

my browser only show. Do you know how to fix ?

[code]

[2018-09-12 15:08] secabrera commented on #582
Whats about this ??

[2018-09-13 02:06] Rukeith opened #3258 "Dashboard always CrashLoopBackOff cannot connect."
##### Environment
[code]

##### Steps to reproduce
Run `kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml`
Run `kube-proxy`

##### Observed result
I cannot connect dashboard, then I run `kubectl get pods --namespace=kube-system`

Output：

[code]

I found the dashboard always `CrashLoopBackOff`.
I run `kubectl logs kubern

[2018-09-13 13:47] jeefy commented on #3258
I think there is a problem with a node in your cluster.

`kubectl` can talk to your API Server, but it seems like there is a problem with the host the dashboard is trying to run on. When you attempt to run `kubectl logs` it tries and fails to grab logs from the host the pod is scheduled on.

See https://kubernetes.io/docs/concepts/cluster-administration/logging/#logging-at-the-node-level

Closing

[2018-09-13 13:47] #3258 closed

[2018-09-14 09:31] ml1268 opened #3259 "startup run-gulp-in-docker.sh serve, dashboard 1.10 not work"
## Environment
-  go   1.11
-  node  v9.11.2
-  npm   6.4.1
-  gulp  3.9.1
-  docker 1.9.1
-  java 1.8.0_181

- Dashboard version : v1.10.0
- Kubernetes version: v1.11
- Operating system: centos7

 ## Steps to reproduce
[code]
It's looks good, but when I open the chrome window to look dashboard homepage, some error stopped me.
**Look to issue 1.**

I try another way to check what is will happen.
[

[2018-09-14 22:35] maciaszczykm commented on #3236
Please reopen after providing answer to @floreks' questions.

/close

[2018-09-14 22:35] #3236 closed

[2018-09-16 04:00] juanpablohp33 opened #3260 "PUBLIC DASHBOARD WITH IP PUBLICA"
##### Environment

[code]

##### Steps to reproduce

Hi,

I have a VM on cloud, and I have 1 node master and 3 nodes slaves, I installed the dashboard and I think is correct, but I have problem when I tried expose to internet, I don know how expose my dashboard witH my IP PUBLICA

ubuntu@ip-10-0-3-54:/home/kubernetes/master/dashboard$ kubectl get pods -o wide --all-namespaces
NAMESPACE     NAME

[2018-09-16 21:12] maciaszczykm commented on #3260
You need to be aware that this can cause major security issues if your setup will be incorrect. Please ensure that access control in your Dashboard is configured properly, then read these docs:

- https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/
- https://kubernetes.io/docs/concepts/services-networking/ingress/
- https://github.com/kubernetes/dashboard/wiki/Ac

[2018-09-16 21:13] #3260 closed

[2018-09-17 09:01] Tarik-M opened #3262 "Dashboard error: "proto: wrong wireType = 2 for field ShareProcessNamespace" when using limits in deployment"
##### Steps to reproduce

Installed nvidia-docker2 and all that follows.
Created yml file for cuda test:
[code]
`$kubectl create -f gpu-deployment.yml`

[code]

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

If I remove the resources.limits.nvidia.com/gpu: 1, The deployment works fine. The problem is that I need the runnning

[2018-09-18 03:29] jeefy commented on #3259
@ml1268 After you run `sh build/run-gulp-in-docker.sh serve` do you get the following error?
[code]

I'm guessing so. This is because Dashboard is starting within a container, and (by default) looking for an API Server at `localhost:8080`. Within the scope of the container, `localhost` won't point to a Kubernetes cluster and causes things to fail.

To get around this, you can run `sh build/run-gul

[2018-09-18 03:29] #3259 closed

[2018-09-18 10:39] ml1268 commented on #3259
Yep, I solve this problem by use 'host.docker.internal' DNS name when I connect to host server in docker container which docker engine version is 18.03 for mac.
I get it work in Tag: 1.8.3

**host.docker.internal** supported by docker since version 18.03
This is an update from **docker.for.mac.localhost**, available since version 17.06, and **docker.for.mac.host.internal**, available since version

[2018-09-18 15:14] srfrnk commented on #2618
I can confirm what @antoniomo says.
Also as a workaround:
1) Open the dashboard in your browser
1) Set to view the `kube-system` namespace
1) List the `Config Maps` and open `kubernetes-dashboard-settings`
1) Edit
1) Add the following and update:
[code]

The dashboard settings page will allow updates now.

[2018-09-18 19:44] leezout commented on #2986
Any news on that ? As right now using k8 1.11.3 and the latest version of the dashboard/heapster/influxdb
I am unable to get the metric system to work.

`Metric client health check failed: the server is currently unable to handle the request (get services heapster). Retrying in 30 seconds.`

[2018-09-18 21:45] asarkar opened #3263 "Restore search box in YAML manifest editor"
After upgrading from 1.7 to 1.10, the search box that used to exist when editing the YAML manifest is no longer there. This is an issue since there's no way to efficiently search for keywords in the manifest without having to scroll through all of it.

##### Environment
API server is installed as RPM. Dashboard runs as Docker container.

[code]

##### Steps to reproduce
1. Open Dashboard in a brow

[2018-09-19 01:06] lcmatt commented on #3248
I hit exactly the same issue and solved it by following @leoyer 's https://github.com/kubernetes/dashboard/issues/3248#issuecomment-418233715 that
1) Remove cloned dashboard project and clone it again
2) in dashboard folder, do 'npm i' (noted that I changed 'bower' download protocol from git to https in package-lock.json due to my network limitation, not sure if the breakage last time cause ui.rou

[2018-09-19 03:36] Jarch09 commented on #2861
Same experience. Used the recommended setup, but replaced the Service with an ELB (using ACM certificate) Service. The ELB is unable to access the dashboard via https. The alternative http method works, but want to use the recommended setup

[2018-09-19 21:02] netsaj opened #3265 "Get https://10.96.0.1:443/api/v1/namespaces/default/persistentvolumeclaims: dial tcp 10.96.0.1:443: getsockopt: connection refused"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-09-21 01:14] spencersugarman commented on #3256
Last call for comments! We will be finalizing the survey by the end of the week, and sharing out early next week.

[2018-09-21 01:40] jkieley opened #3266 "Unable to login to dashboard after kubeadm init"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-09-21 08:08] irparaja opened #3267 "kubernates error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-09-21 18:36] #3267 closed

[2018-09-21 18:36] #3266 closed

[2018-09-23 16:20] pengx17 opened #3268 "Replace Ace with monaco-editor?"
The YAML/JSON editor currently using in the Dashboard is baked with ACE editor. It is light weight and easy to be integrated, but I think we could do more magic stuff with [monaco-editor](https://github.com/Microsoft/monaco-editor) like Kubernetes schema validation.

Here is an example of using JSON schema to do validation over a deployment yaml.
https://pengx17.github.io/json-schema/

It is power

[2018-09-23 22:28] wu105 commented on #3058
/remove-lifecycle stale
/remove-lifecycle rotten

This is minor but when we need to pass the security scan we had to resort to creating our own version.
We would have the same issue when upgrade.

[2018-09-24 06:29] qasim9641 commented on #2576
I am also facing the same issue.I am able to access the Dashboard but without the cpu and memory metrics.I am little confused here.As with new dashboard we only need to deploy the metrics-server then why dashboard is complaining about the heapster ?
 Metric client health check failed: the server could not find the requested resource (get services heapster). Retrying in 30 seconds.

[2018-09-24 08:56] maciaszczykm commented on #2906
/lifecycle frozen

[2018-09-24 09:03] maciaszczykm commented on #3268
Looks good, UX is much better. However, I have some concerns about maintenance. I would like to keep up to date with new releases of all libs and avoid any wrappers. Could you tell how much of work is done on your side in https://github.com/pengx17/monaco-yaml? Is there a chance that we could keep this customization within Dashboard repo or is it too big/you do not want it?

[2018-09-24 09:07] maciaszczykm commented on #3058
/lifecycle frozen

@wu105 Perhaps you can prepare some pull request for it?

[2018-09-24 09:09] maciaszczykm commented on #2576
Dashboard needs Heapster at the moment. Metrics API is not supported yet.

[2018-09-24 17:13] wu105 commented on #3058
@maciaszczykm What I did is quite messy, did not do anything on TLS ciphers nor adding arguments, thus it may be better to share what I did to get it to pass our security scan.  We started with cloning version v1.7.1 source.

- [ ] hardwired MinVersion
diff --git a/src/app/backend/dashboard.go b/src/app/backend/dashboard.go
index 5d7b993..f3fde4f 100644
--- a/src/app/backend/dashboard.go
+++ b/src

[2018-09-25 01:31] pengx17 commented on #3268
@maciaszczykm I am also concerned about the maintenance efforts.
For using monaco-editor alone, I believe there should not be too much concersn. We could directly replace ace with it without using monaco-yaml. A simple wrapper should do the work (by implementing ControlValueAccessor).

For monaco-yaml , since it is not managed officially and perhaps it will never be managed by the vscode team.  As

[2018-09-25 14:12] maciaszczykm commented on #3268
@pengx17 It is not a problem until it is only dep update. If there is bigger API change and we are not able to modify code on our side then it becomes an issue. For me we should use Microsoft's one.

@floreks What do you think about it?

[2018-09-26 01:54] pengx17 commented on #3268
@maciaszczykm the only lead I can find on goole is the issue here: https://github.com/Microsoft/monaco-editor/issues/131 Looks like the guys in vscode team are not interested in supporting yaml at the moment.

[2018-09-26 02:00] ygqygq2 opened #3270 "About heapster and metrics-server"
Heapster is deprecated. Is metrics-server the substitute?

[2018-09-26 08:07] spacecat commented on #2541
13 apr. Last post. Long time ago. Just checking on status? Also, my first though was "Click on a category in the left nav and the right / main view should reload/refresh. Now I have to click back and forth between categories in the left nav to update the right view. Dynamically/auto-update by subscribing to the server definitely would be the ultimate solution as already mentioned.

[2018-09-26 12:11] yhaskell commented on #2353
It would be also awesome if, when you go to some url (for example, `dashboard/#!/log/namespace/pod`), and it required sign, it wouldn't forget your url and send you to the page you wanted, and not to overview of default namespace.

[2018-09-26 14:18] jonashackt commented on #2340
Thx very much @jeroenjacobs1205 for your last comment! That brought me on the right track. But your answer is not completely correct: You don´t need to run kube-apiserver inside a Pod (although the "from-scratch-guide" recommends that, Kelsey Hightower ignores that recommendation though)! What you need is to make sure, that kube-apiserver has access to the network fabric used by your worker nodes

[2018-09-26 15:44] spencersugarman commented on #3256
Survey is published (in English and Chinese)! If you have 10 minutes, please it: https://google.qualtrics.com/jfe/form/SV_0xGSwxVpJNnT89f

Thanks to everyone who provided feedback, and special thanks to @pengx17 for helping translate the survey. If you have a community you want to share with, feel free to send the survey link around, or retweet Dan: https://twitter.com/danielromlein/status/1044779

[2018-09-26 20:35] jeefy commented on #3270
Metrics-Server will be the supported (hopefully) within two releases, before Heapster is fully deprecated and removed.

Duplicate of #2986
/assign
/close

[2018-09-26 20:35] #3270 closed

[2018-09-27 14:55] Altro-Technology commented on #2723
still happening
k8s: 1.11.3
dashboard: 1.10.0

[2018-09-27 15:18] vquintanilla opened #3271 "falla constantemente"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error:
[code]

##### Comments

[2018-09-27 15:52] questionmorc commented on #2474
@VampireDaniel This is probably the answer everyone is looking for. The documentation doesn't explain how to add the token to the kube config.

[2018-09-27 20:50] richerlariviere commented on #2976
I'm closing this issue as for now the discussion provides a temporary workaround before we get an update from the Kubernetes Dashboard project.

Please follow issue #2986 if you want to track the switch from Heapster to Metrics API.

[2018-09-27 20:50] #2976 closed

[2018-09-27 23:34] ddarilng85 commented on #2691
Thanks to all who participated in this thread!  Changing the "https:kubernetes-dashboard:/" to http worked for me also.

[2018-09-28 07:40] vbabak opened #3273 "Dashboard v1.10.0 does not display metrics CPU/Memory usage with Kubernetes v1.11.3"
##### Environment
[code]

##### Logs
[code]

[2018-09-28 12:56] vbabak commented on #3273
No. But "Heapster is deprecated." from https://github.com/kubernetes/heapster

[2018-09-28 15:54] zhaoyibeijing opened #3275 "Execute the command to read the file on the dashboard shell command line terminal, which crashed and displays connection closed"
##### Environment

[code]

When I execute the bash command at the dashboard terminal to read larger files, such as Hadoop fs -cat, the error message "connection closed" appears and the terminal hangs up.

I looked at the server's log and it showed like this：
`2018/09/28 15:28:00 handleTerminalSession: can't Recv: sockjs: session not in open state
E0928 15:28:00.827007 1 v2.go:105] sockjs: session

[2018-09-29 06:36] ahalimkara commented on #2664
I spent few hours for this issue to figure out! Finally I solved by using -insecure- http on backend connection from Traefik to Kubernetes Dashboard container (https is  still being used for frontend). Here is my service and ingress configuration for someone who has such problem:

[code]

[2018-09-29 07:54] du2016 commented on #2405
is this feature implemented？

[2018-09-29 08:41] zhaoyibeijing commented on #3100
@floreks

hi，I got the same problem，Is there any progress in this issue?。when I run bash shell command in dashboard terminal:
`while true
do
  echo 1;
done
`
Dashboard version:v1.7.1
Kubernetes version:v1.7.16

[2018-09-29 08:43] zhaoyibeijing commented on #3275
when I run command like this： `while true; do echo 1;done`

This problem will reappear.

[2018-09-30 09:30] baiyun1102 opened #3276 "Dashboard reported Not Found (404):"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Not Found (404):
[code]

##### Comments

[2018-09-30 13:03] #3276 closed

[2018-09-30 13:05] maciaszczykm commented on #3273
@vbabak We are aware, but Dashboard hasn't switched to Metrics API yet. We have an issue for that.

/close

[2018-09-30 13:05] #3273 closed

[2018-09-30 13:06] maciaszczykm commented on #1831
Tracked from #2986.

/close

[2018-09-30 13:06] #1831 closed

[2018-10-01 12:58] TechDevCode opened #3277 "Error Accessing Kubernetes Dashboard On Bare Metal Kubernetes Cluster Setup"
##### Environment

[code]

##### Steps to reproduce
I have deployed Kubernetes dashboard on the bare metal setup using the command:

    kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

Then I executed the following command on worker node as mentioned in link https://kubernetes.io/docs/tasks/access-application-cluster

[2018-10-02 03:09] edugoncalves opened #3278 "Error when request on docker and kurbentes"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-10-03 13:11] #3203 closed

[2018-10-04 02:05] jeefy commented on #3278
Closing due to a lack of information.

Please re-open this when you have included all the required information. :) Thanks!

/assign
/close

[2018-10-04 02:05] #3278 closed

[2018-10-04 02:27] hareeshrao4839 commented on #1991
kubectl create clusterrolebinding cluster-admin --clusterrole=edit --user=user1 --user=user2 --group=group1

[2018-10-04 10:13] motek80 opened #3279 "Dashboard doesn't show up Login dialog, getting 401"
##### Environment
 -->

[code]

##### Steps to reproduce

(I trying to access Dashboard installed on AWS EC2 machine, from my laptop):

1. Setup K8s using KubeAdm

2. I deployed Dashboard using "recommended" approach
 `kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml`

3. I installed ApiServer certificate on my computer

[2018-10-04 14:05] jotto commented on #2794
+1

example use-case for memory sorting: if you have thousands of pods, few of which ever do anything, the few that do have temporary activity will grow in RSS, and you'll want to see which ones those are.

[2018-10-05 10:14] ALexanderMarginal opened #3281 "setting not work"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error:
[code]

##### Comments

[2018-10-05 12:34] #3281 closed

[2018-10-05 12:52] maciaszczykm commented on #3279
From https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above:

/close

[2018-10-05 18:29] ALexanderMarginal commented on #3281
settings not opening!!!

[2018-10-05 19:09] maciaszczykm commented on #3281
@maciaszczykm Have you filled the issue template? How we can possibly know what is happening?

[2018-10-06 17:42] itommey opened #3282 "Kubernetes hang in docker for mac"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (504):
[code]

##### Comments

I've my kubernetes running in docker for mac hang. It looks like kubernetes in docker for mac consuming my CPU

[2018-10-07 02:57] jeefy commented on #3282
This looks to be a server config issue and not a Dashboard issue. File an issue with Docker if it appears to be a problem with Docker's Kubernetes install.

Please re-open this issue with more information if closed in error.

/assign
/close

[2018-10-07 02:57] #3282 closed

[2018-10-07 02:59] jeefy commented on #3277
You ran `kubectl proxy` on a worker node and not your laptop/client? I don't believe the documentation says to run it on a worker node.

1) Does everything else on your cluster appear to work correctly?
2) Can you do something like `kubectl get pods` from your client?

[2018-10-08 06:33] motek80 commented on #3279
I didn't said I using kubectl proxy. Instead, I using certificate authentication (and indeed I successfully authenticated). Therefore, according to documentation, I shall be able to authorize from remote machine.

Isn't?

[2018-10-08 08:27] maciaszczykm commented on #3279
@motek80 Oh sorry, reopening then. We had a lot of similar issues with kubectl but this time it is different setup.

/reopen

[2018-10-08 19:21] XciD commented on #2986
@ibrasho Do you need some help about that ?

[2018-10-09 07:55] maciaszczykm commented on #2986
@XciD He has not beed active since then. Perhaps you can take it with our assistance?

/cc @floreks

[2018-10-09 17:13] maciaszczykm commented on #3080
/lifecycle frozen

[2018-10-09 19:42] Dm3Ch opened #3284 "[Feature Request] Add ability to run cronjob based job manually"
I think it would be useful to have a button on cronjob view to create job based on this cronjob right now.

Same idea was discussed here https://github.com/kubernetes/kubernetes/issues/47538
Accepted PR with same functionality to kubelet https://github.com/kubernetes/kubernetes/pull/60084

[2018-10-10 12:33] maciaszczykm commented on #3137
/lifecycle frozen

[2018-10-11 03:07] chrisguoado opened #3287 "Failed to list any resources after dashbord singing in"
##### Environment

[code]

##### Steps to reproduce
Using below command to run the dashboard
kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

after running `kubectl proxy` and signing in the dashboard at http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/ through token, belo

[2018-10-11 03:13] #3287 closed

[2018-10-11 03:14] chrisguoado commented on #3287
found out the correct token to use following the guide https://github.com/kubernetes/dashboard/wiki/Creating-sample-user

[2018-10-11 08:42] maciaszczykm commented on #3000
/lifecycle frozen

[2018-10-11 16:46] maciaszczykm commented on #3284
It's a bit hidden, but it seems to be in the resource list. Check the menu on the right in the row. It should be named `Trigger`.

[2018-10-11 18:36] Dm3Ch commented on #3284
Ok, thank you.

[2018-10-11 18:36] #3284 closed

[2018-10-11 19:38] hollowimage commented on #2861
Likewise, same issue here. using k8s 1.10.6

[code]

Plus, now with browser updates, chrome refuses to let people create security exceptions without major settings overhaul, as does IE.

[2018-10-13 05:09] Ascendance commented on #2986
the default heapster install on top of a Kubeadm cluster is broken with certificate errors

[2018-10-15 09:41] mhristache commented on #3147
I got it working following [these](https://www.cnblogs.com/vincenshen/p/9638162.html) instructions.

[2018-10-15 20:05] Bilal-ESiddiq opened #3291 "Dashboard service does not open"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-10-16 06:10] hungz opened #3292 "Suddenly Error while stress test"
##### Steps to reproduce

I'm stress test about 20k CCU then error occur
I also see some socket pod is timeout also
"
Readiness probe failed: Get http://10.233.118.1:3000/healthz: net/http: request canceled (Client.Timeout exceeded while awaiting headers)
"

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (503):
[code]

##### Comments

[2018-10-16 06:33] maciaszczykm commented on #3292
Please provide better description. I can't understand current one.

/triage needs-information

[2018-10-16 06:33] #3291 closed

[2018-10-16 06:48] hungz commented on #3292
Could you tell me what exactly information you need to analyze?
I will collect for you
Thanks you

[2018-10-16 12:19] maciaszczykm commented on #3292
@hungz Detailed description of steps to reproduce. What is your expected result and what was observed? What is your `kubectl version`?

[2018-10-16 13:05] dilipmurupala opened #3293 "Stops responding"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Bad Gateway (502):
[code]

##### Comments

[2018-10-16 14:46] #3293 closed

[2018-10-17 03:35] Kaijun commented on #3038
same problem

[2018-10-17 09:49] hancockp-at-ibm opened #3294 "Gateway timeout on Kubernetes Dashboard (Beta)"
##### Steps to reproduce
1. Select a cluster from Kubernetes Dashboard (Beta)
2. Select 'All Namespaces' from the Namespace dropdown in left hand panel
3. Select  'Deployments'
4. Wait for gateway time-out

##### Environment
[code]

##### Observed result
Dashboard reported Gateway Time-out (504):
[code]

[2018-10-17 16:13] 2rs2ts commented on #3179
Looks like this has already been suggested by another: https://github.com/kubernetes/dashboard/pull/3289#issuecomment-429517547

[2018-10-18 07:25] benzhi2011 opened #3295 "Kubernetes management UI do not response"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Gateway Timeout (504):
[code]

##### Comments
25112 portforward.go:271] error creating error stream for port 8001 -> 9090: Timeout occured from console. Apps running in the cluster works fine.

[2018-10-18 08:05] maciaszczykm commented on #3295
The error is coming from Kubernetes itself, can you check if you can `kubectl get configmap`?

/triage needs-information

[2018-10-18 08:19] benzhi2011 commented on #3295
Hi @maciaszczykm I am new to Kubernates, I am a .net dev and want to try running my .net core app in the Kubernates. I used AKS and deployed two apps in to the Cluster and it works fine yesterday. I came this morning the management UI do not response. I have tried few time.
 `kubectl get configmap` gives No resources found
Is there any command to restart the worker node for Management UI? Other se

[2018-10-18 08:45] benzhi2011 commented on #3295
`kubectl --namespace=kube-system get pods`
`kubectl --namespace=kube-system delete pod kubernetes-dashboard-5fd84f4858-xlpl4`
pod "kubernetes-dashboard-5fd84f4858-xlpl4" deleted
How do I recreate the dashboard?

[2018-10-18 08:49] maciaszczykm commented on #3295
It should be done automtically by deployment. Check again for their presence with `kubectl --namespace=kube-system get pods`.

[2018-10-18 08:50] benzhi2011 commented on #3295
Thanks, I have already done that, a new pod is up and running but the dashboard is not responding.
E1018 10:45:03.240630    4012 portforward.go:331] an error occurred forwarding 8001 -> 9090: error forwarding port 9090 to pod 46d561363bc92372aba13e845aded76fae35298db37a401f63c757b52de5ed01, uid : exit status 1: 2018/10/18 08:45:03 socat[432] E connect(5, AF=2 127.0.0.1:9090, 16): Connection refuse

[2018-10-18 08:57] benzhi2011 commented on #3295
`E1018 10:53:07.379024   30728 portforward.go:331] an error occurred forwarding 8001 -> 9090: error forwarding port 9090 to pod 46d561363bc92372aba13e845aded76fae35298db37a401f63c757b52de5ed01, uid : exit status 1: 2018/10/18 08:53:07 socat[24433] E connect(5, AF=2 127.0.0.1:9090, 16): Connection refused
Exception in thread Thread-1:
Traceback (most recent call last):
  File "threading.py", line 9

[2018-10-18 14:44] maciaszczykm commented on #3003
Cannot reproduce with latest HEAD image. Please reopen if problem still exists.

/triage not-reproducible
/close

[2018-10-18 14:44] #3003 closed

[2018-10-18 14:46] maciaszczykm commented on #2906
It is added in #3296, that will be released after Angular migration (#3152).

/close

[2018-10-18 14:46] #2906 closed

[2018-10-18 14:48] maciaszczykm commented on #3295
Seems like nothing connected directly to the Dashboard. At least not looking into these errors.

Are you able to access any other app?

[2018-10-19 03:29] mengxin3310 opened #3298 "Gateway Timeout (504) the server was unable to return a response in the time allotted, but may still be processing the request (get secrets)"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Gateway Timeout (504):
[code]

##### Comments

[2018-10-19 07:05] #3298 closed

[2018-10-19 07:29] benzhi2011 commented on #3295
@maciaszczykm Yes, I have two other apps were running fine. Its difficult to say this is a AKS problem or its pure Kubernetes dashboard problem. Since it is test cluster, I just wiped everything and created a new one.

[2018-10-19 07:57] maciaszczykm commented on #3295
@benzhi2011 And the problem is gone?

[2018-10-19 08:04] benzhi2011 commented on #3295
Yes for now, it is completely new cluster. But if this happens for a production cluster, I cannot just delete it and create a new one

[2018-10-19 14:01] maciaszczykm commented on #3295
@benzhi2011 Okay, so perhaps it was some misconfiguration. Please reopen if the problem will appear again.

/close

[2018-10-19 14:01] #3295 closed

[2018-10-20 01:16] topornet opened #3299 "square/go-jose: error in cryptographic primitive"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-10-20 02:51] MohanRamadoss opened #3300 "problem reported"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error:
[code]

##### Comments

[2018-10-20 15:56] #3300 closed

[2018-10-20 15:57] #3299 closed

[2018-10-20 16:31] topornet commented on #3299
Just clear your browser cookies.

[2018-10-20 18:32] j-rewerts commented on #3202
I'll see if I can reproduce this within Minikube.

[2018-10-21 01:32] j-rewerts commented on #3202
@johnrkriter Do you recall the config you passed to Helm?

The basic setup seems to be `helm install deployment/helm/reactive-interaction-gateway`

[2018-10-21 16:02] johnrkriter commented on #3202
I am travelling right now without my work laptop so I will need to check, however I was mostly following this guide https://gist.github.com/superseb/3a9c0d2e4a60afa3689badb1297e2a44
@j-rewerts

[2018-10-21 18:53] shanekorbel commented on #916
Getting the following:

http://<MasterIP:9999/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy
Getting response:
{
"kind": "Status",
"apiVersion": "v1",
"metadata": {},
"status": "Failure",
"message": "no endpoints available for service "kubernetes-dashboard"",
"reason": "ServiceUnavailable",
"code": 503
}

[2018-10-21 23:30] ma-sattari opened #3303 "Kubernetes 1.10.9 - Dashboard's pod is scheduled on minions instead of master nodes"
##### Environment

[code]

##### Steps to reproduce

Successfully installed high available Kubernetes 1.10.9 using KOPS on AWS
master.count=3
master.type=m4.large

minion.count=8
minion.type=m4.xlarge

##### Observed result

Followed steps under https://github.com/kubernetes/dashboard/blob/master/README.md

Dashboard pod should be scheduled on one of master nodes

[code]

##### Expected result

Da

[2018-10-23 12:51] ma-sattari commented on #3303
Solved it by installing Kubernetes v1.9.10 instead of v1.10.9

[2018-10-23 13:19] #3303 closed

[2018-10-24 05:51] stupidjackey opened #3307 "Dashboard reported Internal Server Error (500)"
#### Issue details

##### Environment

[code]
##### Steps to reproduce

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Expected result

##### Comments

[2018-10-24 07:08] #3307 closed

[2018-10-24 07:09] maciaszczykm commented on #3292
Information is still missing. Please reopen after providing it.

/close

[2018-10-24 07:09] #3292 closed

[2018-10-24 09:01] padmaaditazz opened #3309 "Dashboard Error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Service Unavailable (503):
[code]

##### Comments

[2018-10-24 09:02] maciaszczykm commented on #3309
/triage needs-information
/close

[2018-10-24 09:02] #3309 closed

[2018-10-24 15:38] AWKIF opened #3311 "ServiceAccount restricted to one namespace has access to all"
##### Environment
[code]

##### Steps to reproduce
Create a serviceaccount, ie:
[code]
Create a role and roleBinding with right to only one namespace, ie:
[code]

Then i login to the dashboard through the token created by my serviceAccount "coredata", but i can list/access all ressources on all namespaces.

##### Expected result
Be able to list ressources only on specified namespace

##### Comment

[2018-10-24 19:31] 2rs2ts opened #3312 "Remember user's selected namespace"
##### Environment

[code]

In my case, we're using the Authorization header for authenticating users.

##### Steps to reproduce

1. Navigate and log in to the dashboard
2. Get taken to the overview page, current namespace will be `default`
3. Select a different namespace
4. Close browser tab
5. Navigate back to the dashboard
6. Get taken to the overview page again, current namespace will still be

[2018-10-25 12:56] #3311 closed

[2018-10-25 19:52] benc-uk commented on #2541
I would love to see this, I run a lot of demos of Kubernetes and having the dashboard auto refresh would make my life so much easier. It would make the dashboard feel a lot more modern and responsive

[2018-10-27 17:03] kids-return commented on #916
[code]

[code]
or
[code]

[code]

[code]

[2018-10-29 04:34] padmaaditazz opened #3314 "Frequently getting Service unavailable error!"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Service Unavailable (503):
[code]

##### Comments

[2018-10-29 07:35] maciaszczykm commented on #3314
/triage needs-information
/close

[2018-10-29 07:35] #3314 closed

[2018-10-29 09:42] yianni-ververis commented on #916
Same here.

I found that one of my nodes was unhealthy. Scaled down to kill the node and scaled up to create a new one.

[2018-10-29 17:51] vadimk2016 commented on #3265
Why are all issues with this error closed? This error is diagnosed only with time, and there is no useful information about it in the logs, only this message is in the dashboard.

[2018-10-30 02:46] jeefy commented on #3312
/kind feature

[2018-10-30 07:17] maciaszczykm commented on #3265
We don't know anything about Kubernetes version, provider, setup etc. How we can reproduce if it doesn't happen on our side and there are no steps to reproduce? Most probably this is some problem with setup, or Dashboard reacts with errors on some configurations. We are not able to tell and 90% of these issues have no word added from their creators.

[2018-10-30 19:05] Stocco commented on #2986
this one is a must. waiting for it

[2018-10-31 13:19] ajatkj commented on #2986
Is it possible to run heapster for dashboard in parallel with metric-server? Will they give the same stats?

[2018-11-01 03:40] mike818148 opened #3319 "kubernetes-dashboard-build-image docker version needed to be update."
##### Environment
According to the Developer guide, the build environment should use docker version 1.10+. However, in current ~/dashboard/build/Dockerfile, it still using docker-1.9.1
--> RUN curl -sSL https://get.docker.com/builds/Linux/x86_64/docker-1.9.1 > /usr/bin/docker
If using above docker version to build will encounter failure.
After changed to docker-1.10.3, current issue resolved.

[co

[2018-11-01 09:31] dedywi opened #3320 "Kubernetes dashboard error crashloopbackoff"
Hi

i just arrived into this kubernetes world and still learning. currently i'm facing an issue when installing the kubernetes dashboard, i'm trying to do nodeport instead of proxy to access the dashboard but everytime i hit the ip:port , i couldnt access it. i try to search so command to gather some information, when i run
kubectl get po -o wide --all-namespaces it returns :

kube-system   kubern

[2018-11-02 06:04] mike818148 commented on #2815
@wu105 Yes, by default behavior, after the login it will always redirect to the Default Namespace. If you want to change the default namespace. You may need to modify the configure inside source and rebuild the image.

In our case, we design simply let the login page to have a ?namespace= parameter to redirect to the desired namespace. In order to do so, we need to modify dashboard/src/app/fronten

[2018-11-02 09:01] #3320 closed

[2018-11-02 14:29] jolguk opened #3321 "Create Kubernetes service from the Azure Portal and got Bad Gateway error on browsing to the dashboard."
##### Steps to reproduce
I installed AKS via Create a Resource/Kubernetes Service from the Azure Portal. I clicked on the section in the portal to connect to the Kubernetes dashboard and connected via the suggested command, ie
az aks browse --resource-group visrg --name viskubcluster
This opened a browser session for me but gave the Bad Gateway error below. All links elsewhere in the dashboard giv

[2018-11-03 16:23] chirothespearow opened #3322 "Unable to open dashboard."
I'm trying to access the dashboard, but getting the following error on opening http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/.

Error: 'dial tcp 172.17.0.2:9090: getsockopt: connection refused'
Trying to reach: 'https://172.17.0.2:9090/

sometimes I also get:
"no endpoints available for service "kubernetes-dashboard""

I've tried reinstalling virtua

[2018-11-06 06:28] deadmandrive commented on #3277
I got the same issue. I install in on centos 7 with single node (Master and worker in the same node)

then i logs in dashboard pod
[code]

i use kubectl proxy
and access the brower by this link
http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/.

[2018-11-06 18:00] asos-leslielintott opened #3325 "Secrets are still visible in kube-system namespace"
[code]

With the following:
[code]

and

[code]

### Steps to reproduce
Deploy the above configurations and ensure that the kubernetes-dashboard service account is deployed and that the Dashboard deployment is running under the kubernetes-dashboard service account

### Observed result
I am still able to list and view secrets in the kube-system namespace.  I cannot list or view any secrets in any o

[2018-11-06 18:03] maciaszczykm commented on #3325
This is an issue that we are aware of and has a high priority. Thank you for reporting anyways.

[2018-11-07 04:58] pooranivrv opened #3326 "minikube dashboard issue"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Gateway Timeout (504):
[code]

##### Comments

[2018-11-07 06:32] maciaszczykm commented on #3326
Looks like some misconfiguration, does `kubectl` work? What are steps to reproduce?

/triage needs-information
/close

[2018-11-07 06:32] #3326 closed

[2018-11-07 08:45] wongoo commented on #692
`port-forward` also works:
`sudo kubectl --namespace kube-system port-forward svc/kubernetes-dashboard 443`

then access `https://localhost`

[2018-11-08 02:53] apparaokalimireddy opened #3329 "dashboard elogin"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-11-08 07:30] maciaszczykm commented on #3322
Can you provide some more steps to reproduce? What is your minikube version? Which Kubernetes version are you starting?

/triage needs-information

[2018-11-08 07:35] maciaszczykm commented on #3256
Seems like the survey is not active anymore. Closing it to keep issue number lower since the discussion is done. Feel free to reopen.

/close

[2018-11-08 07:35] #3256 closed

[2018-11-08 07:40] maciaszczykm commented on #1719
Hi @jimangel, do you have any progress here?

[2018-11-08 07:42] maciaszczykm commented on #2646
Heapster is deprecated and we are going to use metrics API. Issue can be closed because it will be reimplemented.

/close

[2018-11-08 07:42] #2646 closed

[2018-11-08 07:43] maciaszczykm commented on #1310
We will be switching to metrics API and it can be tracked from #2986. Heapster integration will be removed.

/close

[2018-11-08 07:43] #1310 closed

[2018-11-08 07:46] maciaszczykm commented on #2221
We are going to support metrics API and any feature/issue related to Heapster will not be implemented. You can track progress at #2986.

/close

[2018-11-08 07:46] #2221 closed

[2018-11-08 07:50] maciaszczykm commented on #3176
@danielromlein @stritty Do you have any updates? Migration is finally going forward so it would be nice to change this before release.

[2018-11-08 09:08] maciaszczykm commented on #2048
We have reduced the number of chips displayed by default in ng migration and we have added a feature which displays whole chip content in dialog if chip would be too long:

<img width="333" alt="zrzut ekranu 2018-11-8 o 10 07 34" src="https://user-images.githubusercontent.com/2823399/48188488-269b7580-e33e-11e8-8db0-da3f38b73066.png">

<img width="647" alt="zrzut ekranu 2018-11-8 o 10 07 41" src="

[2018-11-08 09:08] #2048 closed

[2018-11-08 11:11] rainqinchina opened #3331 "输入访问令牌后，点击登陆按钮没有响应"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2018-11-08 11:11] rainqinchina commented on #3331
![image](https://user-images.githubusercontent.com/8306053/48195268-20cb8180-e38a-11e8-80d2-99a331e144d6.png)

[2018-11-08 11:14] rainqinchina commented on #3331
![image](https://user-images.githubusercontent.com/8306053/48195350-6425f000-e38a-11e8-9f3c-2085c72fa59d.png)
![image](https://user-images.githubusercontent.com/8306053/48195384-7a33b080-e38a-11e8-97ea-3aafbb8f267b.png)

[2018-11-08 11:14] maciaszczykm commented on #3331
You have to write in english. Please create new issue and fill the template. Otherwise we are not able to help.

/close

[2018-11-08 11:14] #3331 closed

[2018-11-08 11:16] rainqinchina commented on #3331
@maciaszczykm  After entering the access token, clicking the login button does not respond

[2018-11-08 11:31] yqwang-ms commented on #3251
Hi @maciaszczykm I have not got free to look into the code, do you have resource to fix it now? :)

[2018-11-08 11:37] maciaszczykm commented on #3251
At the moment I am focused on getting ng migration done. Perhaps someone else will pick it up.

[2018-11-08 11:39] maciaszczykm commented on #3331
From https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above:

[2018-11-08 11:42] #1833 closed

[2018-11-08 11:45] maciaszczykm commented on #3038
Release https://github.com/kubernetes/dashboard/releases/tag/v1.10.0 fixes that problem:

https://github.com/kubernetes/dashboard/wiki/Compatibility-matrix

/close

[2018-11-08 11:45] #3038 closed

[2018-11-08 11:54] maciaszczykm commented on #3080
It is already done. Tested in on HEAD. It will be also part of ng migration.

/close

[2018-11-08 11:54] #3080 closed

[2018-11-08 11:59] maciaszczykm commented on #2556
Deprecated. If somebody still would like to contribute please reach out on Slack. There is a lot of design work to do especially considering ongoing Angular migration.

/close

[2018-11-08 11:59] #2556 closed

[2018-11-08 15:17] stritt commented on #3176
Finally got the angular dev build working thanks @maciaszczykm  I will have updates for this shortly

[2018-11-08 23:52] spencersugarman commented on #3256
Yes, survey is closed now. Thank you to everyone who replied. To show our appreciation, we will be sending out codes to 5 lucky random respondents for a free Kubernetes hoodie!

The raw data is available in Microsoft Excel format ([KubeCon China Dashboard Survey - Responses.xlsx](https://github.com/kubernetes/dashboard/files/2564048/KubeCon.China.Dashboard.Survey.-.Responses.xlsx)) or on [Google S

[2018-11-09 10:29] philippludwig commented on #2474
@VampireDaniel That command prints tons of tokens, but which is the correct one?

[2018-11-09 12:31] guruprasadbhavsar commented on #2986
Any good news about this issue? Can we now able to do the same?

[2018-11-09 14:12] elliotmrodriguez opened #3333 "Dashboard `kubectl apply` fails on latest minikube"
##### Environment

[code]

##### Steps to reproduce
run minikube
deploy Dashboard

##### Observed result

[code]

##### Expected result

[code]

##### Comments
Response from the proxy endpoint:

[code]

[2018-11-09 14:17] maciaszczykm commented on #3333
I think minikube deploys Dashboard by default, so during `kubectl apply` it tries to update (apply) immutable field (label selector). Can you list deployments that are already in your cluster? Is there Dashboard? Can you run `kubectl describe` on it and check if is has the same label selector?

This is config issue, because on an empty cluster it works.

/triage support

[2018-11-09 15:29] elliotmrodriguez commented on #3333
I could not get this working on an empty cluster, using minikube 0.30. There are no deployments. This morning I upgraded minikube from 0.28 to 0.30.

I realized I could do `minikube dashboard` but I get Temporary Error unexpected response code : 503 errors.

One thing I notice when looking at the logs for the container, Liveness probes fail. I also noticed it looks like it's trying to pull an olde

[2018-11-09 15:34] maciaszczykm commented on #3333
Please provide results of:
- `kubectl get deployments --all-namespaces`
- `kubectl get pods --all-namespaces`
- `kubectl describe kubernetes-dashboard -n kube-system`

[2018-11-09 15:37] elliotmrodriguez commented on #3333
[code]

[2018-11-09 15:42] maciaszczykm commented on #3333
Sorry, last one should be `kubectl describe deployment kubernetes-dashboard -n kube-system`.

[2018-11-09 15:42] elliotmrodriguez commented on #3333
Hah, read my mind -

[code]

[2018-11-09 15:44] maciaszczykm commented on #3333
I can clearly see that your cluster is not empty and the dashboard is already running inside it.

Try to use manual from https://github.com/kubernetes/minikube:

[2018-11-09 15:45] maciaszczykm commented on #3333
Check also `kubectl logs kubernetes-dashboard-5498ccf677-7q495 -n kube-system`.

[2018-11-09 15:46] maciaszczykm commented on #3333
You can try to fix it with `kubectl delete pod kubernetes-dashboard-5498ccf677-7q495 -n kube-system`. Pod should be recreated.

[2018-11-09 15:48] elliotmrodriguez commented on #3333
I've deleted the pod a number of times now.  I will just use docker-for-desktop, as it seems to be pointing to the correct image and working.

[2018-11-09 15:48] #3333 closed

[2018-11-09 15:50] maciaszczykm commented on #3078
Closing as stale.

/close

[2018-11-09 15:50] #3078 closed

[2018-11-09 16:17] falzm commented on #3322
Hi

Reproduced @chirothespearow's issue, after a fresh install on a kubeadm-installed 1.12.2 cluster I get this error when trying to access the web UI using `kubectl proxy`:

[code]

[2018-11-10 21:13] medined commented on #2745
@floreks The referenced link does not resolve. Perhaps one of the following would help.
- https://kubernetes.io/docs/reference/using-api/api-overview/
- https://kubernetes.io/docs/concepts/overview/kubernetes-api/

[2018-11-11 19:15] rwibawa opened #3337 "Create a PersistentVolumeClaims crash the minikube"
##### Steps to reproduce

$ cat << EOF | kubectl create -f -
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-data
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
EOF

##### Environment
[code]

##### Observed result
Dashboard reported Bad Gateway (502):
[code]

##### Comments

[2018-11-12 04:16] jeefy commented on #3337
This sounds like a Minikube issue and not a Dashboard issue. Could you provide further info on why this is a Dashboard issue?

/triage needs-information

[2018-11-12 09:39] mydockergit commented on #2474
I used https://github.com/kubernetes/dashboard/wiki/Creating-sample-user but edit the ClusterRoleBinding to:
kubectl apply -f - <<EOF
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: admin-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: kubernetes-dashboard
  namespace: ku

[2018-11-13 07:12] #3337 closed

[2018-11-13 08:29] #3319 closed

[2018-11-14 10:28] venkatasykam opened #3341 "Dashboard reported Unknown Server Error (500)"
#### Issue details

##### Environment

[code]
##### Steps to reproduce

##### Observed result
Dashboard reported Unknown Server Error (500):
[code]

##### Expected result

##### Comments

[2018-11-14 10:29] #3341 closed

[2018-11-14 13:38] jeefy commented on #3325
Is this an RBAC issue in disguise?

From a clean slate (minikube) here's what I've done:

[code]

Create a file called perms.yaml
[code]

Create the new User/Perms
[code]

Copy the user's token, then start the proxy

[code]

From there, visit `http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/.` and supply the copied token.

<img width="1416" alt="scree

[2018-11-14 14:07] jeefy commented on #3322
No endpoints available leads me to believe there are no pods available for the `kubernetes-dashboard` service to target.

How did you install dashboard on the kubeadm-installed cluster?

Thanks!

[2018-11-14 14:09] falzm commented on #3322
@jeefy as documented in the README:

[code]

[2018-11-14 14:16] jeefy commented on #3322
@falzm You mind pasting a couple things?

`kubectl -n kube-system get svc -o wide`

`kubectl -n kube-system describe pod <whatever the dashboard pod is>`

When you do, please make sure there's no sensitive info. :) Thanks!

[2018-11-14 14:22] falzm commented on #3322
@jeefy there you go:

[code]

[2018-11-14 15:21] maciaszczykm commented on #3325
@jeefy Skipping auth makes dashboard use its own service account that has access to specific secrets in `kube-system` namespace. We have disabled it recently, but a lot more improvements are needed.

https://github.com/kubernetes/dashboard/blob/master/src/deploy/recommended/kubernetes-dashboard.yaml#L57

This issue however seems to be different than on a first look.

[2018-11-14 20:07] tlynchpin commented on #2569
I found this while trying to show QA an easy way to launch a pod for running an ad hoc test. I don't use the dashboard in this way but it looked promising for some casual use cases.

[2018-11-15 02:49] Lemon-le opened #3342 "DashBoard get pods is CrashLoopBackOff"
##### Environment
[code]

##### Steps to reproduce
kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

##### Observed result

kubectl get pods --all-namespaces

[root@ip-172-29-1-113 bin]# kubectl get pods --all-namespaces
NAMESPACE     NAME                                    READY     STATUS             RESTARTS   AGE
d

[2018-11-15 04:08] jeefy commented on #3342
You should be seeing a lot more pods than just those six if you're using `--all-namespaces`. Also with this error: `2018/11/15 02:41:35 Could not init in cluster config: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory` I think one of two things is wrong:

1. The credentials you're connecting with with via `kubectl` _may_ be wrong
2. There is something wrong with

[2018-11-15 09:48] maciaszczykm opened #3343 "Tracker for fixing Tide config"
https://github.com/kubernetes/test-infra/pull/10149

[2018-11-15 14:06] vzaytsev opened #3345 "Error when opening Pod shell in Firefox Developer Edition"
##### Steps to reproduce

Login to dashboard, select namespace, select a Pod wich we can exec command (can open terminal)

Press "Exec" button

##### Environment
[code]

##### Observed result
Browser is opening new window, but load inside Pod page instead of Shell

##### Comments

Screenshot https://yadi.sk/i/dPHHWxwPbht4Ng

Safari, Chrome works fine

[2018-11-15 14:41] maciaszczykm commented on #3345
@vzaytsev Thank you for reporting the issue, but we will not fix it on our own. We cannot maintain browser compatibility for "developer edition" or old browsers. This is probably not even possible to fix on our side because most probably the issue is on the terminal module or browser side.

/triage unresolved
/close

[2018-11-15 14:41] #3345 closed

[2018-11-15 14:50] maciaszczykm commented on #2420
Closing as most of the issues are resolved in Angular migration, i.e. shell in Safari.

/close

[2018-11-15 14:50] #2420 closed

[2018-11-15 14:52] #2145 closed

[2018-11-15 22:11] kiich opened #3346 "Dashboard logs continuously showing http: TLS handshake error from 192.168.100.0:1234: EOF when dashboard is running in https"
[code]
Have followed the recommended setup of creating my own certs and chain and everything that i believe is required.
I can access the dashboard in https using the config below, certs coming from secret and mounted in the usual way.

[code]
i expose this deployment via service on 443 -> 8443 and i can indeed see the dashboard and login via token.
But i've noticed on the POD log showing:
[code]

[2018-11-15 22:42] kiich commented on #3346
Just to add the incoming IP does not seem to match any of the PODs i have running, at least from the output of `kubectl get pods --all-namespaces` and filtered on `.status.podIP`

in fact, what I should have said is, the message actually has the `.0` ending, for example `192.168.1.0`

i'll update the issue with this new IP info.

[2018-11-15 22:50] kiich commented on #3346
After finding similar issues for other Kubernetes related apps  (in my case, this issue https://github.com/dexidp/dex/issues/992) with same message, it led me to look at healthcheck done by my ELB which indeed was initially set to TCP - changing this to SSL made the log to stop - Closing this issue!

Sorry for the confusion!

[2018-11-15 22:50] #3346 closed

[2018-11-16 07:49] XciD commented on #2986
@johnSchnake I will not be able to start soon, so go ahead.

[2018-11-16 23:29] kanewinter opened #3348 "Spun up the proxy on a random port"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-11-17 23:34] TimZaman commented on #2691
Meta: providing one-liners and just closing up issues is an ineffective way of dealing with users, you can tell by the sheer amount of votes. Good thing the community found solutions.

[2018-11-19 07:30] #3348 closed

[2018-11-19 20:59] mrichman commented on #692
@soolaugust got me working with `kubectl proxy --address 0.0.0.0 --accept-hosts '.*'` as well.

[2018-11-20 04:00] jimangel opened #3351 "GKE docs statement "highly privileged Kubernetes Service Account""
##### Environment
[code]

##### Steps to reproduce
[code]

##### Observed result
Dashboard launches but the config spec contains a warning stating: "We recommend that you [disable the Kubernetes Web UI](https://cloud.google.com/blog/products/gcp/precious-cargo-securing-containers-with-kubernetes-engine-18). Use [Cloud Console](https://console.cloud.google.com) instead."

##### Expected result
No i

[2018-11-20 14:50] floreks commented on #3351
Definitely not correct based on shown policy rules. It has only access to dashboard exclusive resources and nothing else.

[2018-11-21 12:58] waytoharish opened #3352 "Dashboard realated issue"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2018-11-21 13:00] waytoharish commented on #3352
I am trying to acess the DashBoard with aces Token but getting below error-
"roles.rbac.authorization.k8s.io is forbidden: User "system:anonymous" cannot"

Created a admin user as mentioned -
![image](https://user-images.githubusercontent.com/5119613/48842875-7442c400-edbb-11e8-85ac-9c5373147eca.png)

but still same error.Please suggest

[2018-11-21 15:29] jing1234567890 opened #3353 "Dashboard reported Internal Server Error (500)"
#### Issue details

##### Environment

[code]
##### Steps to reproduce

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Expected result

##### Comments

[2018-11-21 15:31] #3353 closed

[2018-11-22 03:16] ldd91 opened #3354 "Build dashboard images in docker failed"
##### Environment

[code]

##### Steps to reproduce

I build dashboacd image in docker used gulp build docker-image:head，howerver when it goes to 'backend-prod' the error show "Exception in thread "main" java.lang.NullPointerException"
##### Observed result

##### Expected result

##### Comments

[2018-11-22 05:35] xieydd commented on #3354
I meet this error too , @jeefy

[2018-11-23 04:09] sfxworks opened #3356 "square/go-jose: error in cryptographic primitive"
##### Steps to reproduce

1. Kubectl reset & kubectl init because you're trying to learn
2. Use kube-flannel
3. kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml
4. Proxy / SSH Tunnel
5. Get the error.

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-11-23 06:22] zouyee opened #3357 "filter job which not belong to other workloads"
##### Environment

In the process of using, we found that cronjob will generate a large number of jobs, and in dashboard project, there is no filtering operation for this. For the jobs which has owner, we may filter them out better.
[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2018-11-23 07:03] JoeyX-u opened #3359 "How to config dashboard to support metrics-server?"
How to config dashboard to support metrics-server?

[2018-11-23 07:44] maciaszczykm commented on #3359
It is not ready yet: https://github.com/kubernetes/dashboard/issues/2986.

/close

[2018-11-23 07:44] #3359 closed

[2018-11-24 21:42] bmwiedemann commented on #3234
/remove-lifecycle stale.

a workaround for this issue is to do
[code]

[2018-11-24 21:43] bmwiedemann commented on #3234
/remove-lifecycle stale

[2018-11-26 03:04] xieydd commented on #3354
Anybody help me ?

[2018-11-26 04:33] jeefy commented on #3354
I'm able to do a build locally off of the master branch.

Are you sure your development environment is current? (See https://github.com/kubernetes/dashboard/wiki/Getting-started#preparation)

[2018-11-26 05:37] xieydd commented on #3354
i build it in container , is that ok?

[2018-11-26 10:39] xieydd commented on #3354
How about the branch 1.8.3? @ldd91

[2018-11-26 10:49] gaojingyuan opened #3361 "my dashboard show the follow error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2018-11-26 10:50] #3361 closed

[2018-11-26 10:50] maciaszczykm commented on #3361
Clear the cookies.

[2018-11-26 13:08] jeefy commented on #3354
There is no 1.8.3 branch in GitHub.
![screen shot 2018-11-26 at 8 06 06 am](https://user-images.githubusercontent.com/1394552/49015810-2da1f080-f152-11e8-8dd4-7dc9171ae5fe.png)

Are you running the commands in the 1.8.3 container? If so, you shouldn't be running any gulp commands within the dashboard container. It's not meant for development. If not, do you have any other information?

/triage nee

[2018-11-26 13:11] jeefy commented on #3356
This is caused because cookies for a previous session remain and try to be re-used on a new cluster.

As you said, the solution is to clear the browser's cache. Another option that I often use is to use an Incognito window whenever accessing resources I know I'll respawn often.

/close

[2018-11-26 13:11] #3356 closed

[2018-11-26 14:54] xieydd commented on #3354
@jeefy can you look at the tag v1.8.3 , i am not running the commands in 1.8.3 container. i just run it in a container contains `java npm gulp ...` , and i use the tag v1.8.3 dashboard to generate the images.

[2018-11-26 15:11] jeefy commented on #3354
New thought!

Instead of using your own container, could you instead try running
`build/run-gulp-in-docker.sh` followed by any gulp commands you want to run?

That script pulls and runs a pre-packaged build container with all our
dependencies. So you should be able to run `build/run-gulp-in-docker.sh
lint` and it'd be the equivalent of running `gulp lint`

Would that help?

On Mon, Nov 26, 2018 at

[2018-11-26 16:20] jeefy commented on #3354
You can build images using that helper-script because it does
Docker-In-Docker and passes in the `docker.sock` I've been able to build
test images using it as well. :)

Here's the command it's running:
https://github.com/kubernetes/dashboard/blob/master/build/run-gulp-in-docker.sh#L29

On Mon, Nov 26, 2018 at 11:00 AM xieydd <notifications@github.com> wrote:

[2018-11-26 21:38] AishSundar commented on #2986
@johnSchnake @XciD in the light of Heapster retiring in 1.13 timeframe is there any latest progress on getting dashboard to metricsAPI? Is there an ETA of when this can land. 1.13 is targeted for release next week 12/3

[2018-11-27 00:38] johnSchnake commented on #2986
I’ve just started peeking at this so I don’t have a great timeline; I do plan on actively working on it though.

[2018-11-27 09:45] bestbelief opened #3362 "Hello, I had a problem running the project on ng-migration this branch. Could you help me, please?"
dev@ubuntu:/work/dev/project/angular-pen/dashboard$ sudo snap install kubectl
error: This revision of snap "kubectl" was published using classic confinement and thus may perform
       arbitrary system changes outside of the security sandbox that snaps are usually confined to,
       which may put your system at risk.

       If you understand and want to proceed repeat the command including --cla

[2018-11-28 01:53] jeefy commented on #3362
That's bizarre. Two thoughts:
1) When `kubectl` grabbed https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml it got something wrong instead from GitHub
2) Your `kubectl` isn't interpreting the YAML correctly.

Off the top of my head: Could you try running this?
`kubectl apply --dry-run=true --validate=true https://raw.githubusercontent.com/

[2018-11-28 06:38] gary-fei opened #3363 "How to add the third module？"
##### Environment
while i want to use js-yaml, i can't use "import yaml from 'js-yaml' " in "app/frontend/comon" after i do "npm install js-yaml"
[code]

##### Steps to reproduce

##### Observed result

sudo ./build/run-gulp-in-docker.sh build
![image](https://user-images.githubusercontent.com/30195355/49132786-9aff7e00-f318-11e8-9469-09ea16592db3.png)

##### Expected result

##### Comments

[2018-11-28 19:19] JamesHollinger2 opened #3364 "Dashboard reported Internal Server Error (500):"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-11-29 02:11] kamal2222ahmed opened #3365 "The Service "kubernetes-dashboard" is invalid:"
##### Environment

[code]

##### Steps to reproduce

 kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml
secret/kubernetes-dashboard-certs unchanged
serviceaccount/kubernetes-dashboard configured
role.rbac.authorization.k8s.io/kubernetes-dashboard-minimal configured
rolebinding.rbac.authorization.k8s.io/kubernetes-dashboa

[2018-11-29 03:14] jeefy commented on #3364
This usually happens when you've previously connected to a Dashboard instance, then recreated it. The cookies are stale, from the old instance.

If you wait long enough, or pop open an Incognito tab, it should work. :)

While there's room for improvement with this, this is a known behavior and not a bug. If the above info doesn't help, please re-open the ticket with more info. Thanks!

/close

[2018-11-29 03:14] #3364 closed

[2018-11-29 03:15] jeefy commented on #3365
/triage needs-information

[2018-11-29 03:18] jeefy commented on #3365
Hi Kamal,

I'm thinking this is an issue with your cluster and not with the dashboard. Could you please provide more information on your cluster? The Issue Template above asks for some specifics. Thanks!

[2018-11-29 07:16] vivekatzerebral opened #3366 "not able to login"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-11-29 09:08] nopponcha opened #3367 "kubectl 1.9.3 logs do not work but pods is running"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Gateway Time-out (504):
[code]

##### Comments

[2018-11-29 09:35] maciaszczykm commented on #3367
Misleading title and missing content.

/triage needs-information
/close

[2018-11-29 09:35] #3367 closed

[2018-11-29 12:48] RainerW commented on #2868
Nice feature. Where can i find that angular 6 branch? https://github.com/kubernetes/dashboard/branches/all?query=angular looks like all angular branches are merged, so this will be in the next release?

[2018-11-29 13:21] maciaszczykm commented on #2868
`ng-migration` --> PR #3152

[2018-11-29 21:12] skattoju3 commented on #2981
One work around is to the a desktop client to access the dashboard instead of going through a browser ex: https://kubernetic.com/

/close

[2018-11-29 22:44] xinxingliu90 commented on #1919
Any update on showing GPU stats on Kubernetes Dashboard?

[2018-11-30 09:30] PierluigiLenociAkelius commented on #2986
+1

[2018-11-30 13:38] falcoriss opened #3391 "Dashboard ignoring Authorization header with bearer token"
##### Environment
    Déployment Installed through kubespray

[code]

##### Steps to reproduce
1. Have a working OpenID Connect set up (keycloak in my case)
2. Get it working with kubectl
3. Try to use it with either a reverse proxy (keycloak proxy in my case) or with kubectl proxy by injecting the token in an Authorization header

##### Observed result
I get the login page even if I have the Auth

[2018-11-30 15:30] RainerW commented on #2868
Thanks

[2018-11-30 16:38] andrehp commented on #1441
Is there any estimate when a preliminary version of this feature will be released?

[2018-12-02 04:39] shoaibechidna opened #3392 "Dashboard Error!!!"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Service Unavailable (503):
[code]

##### Comments

[2018-12-02 19:33] maciaszczykm commented on #1441
@andrehp We are adding it during Angular migration. It is very early version. Look for anything at the beginning of 2019.

[2018-12-02 19:35] #3392 closed

[2018-12-03 18:34] jeefy commented on #3365
/close

[2018-12-03 18:34] #3365 closed

[2018-12-04 09:49] abhishekunotech commented on #2660
Would be useful to at least link to a configuration

[2018-12-05 09:05] falcoriss commented on #3391
Anyone ? :s
This problem's bugging me, can't seem to find a solution

[2018-12-05 13:32] falcoriss opened #3395 "use groups provided by openid connect token instead of user"
##### Environment

[code]

##### Steps to reproduce
    Have a working OpenID Connect set up (keycloak in my case)
    Get it working with kubectl with RBACs using groups
    Log in using token

##### Observed result
 configmaps is forbidden: User "https://keycloak.example.com/auth/realms/myrealm#my.user" cannot list resource "configmaps" in API group "" in the namespace "example"

##### Expected

[2018-12-05 14:08] maciaszczykm opened #3396 "Update formatting"
- [x] Use https://github.com/google/ts-style
- [x] Use lint-staged
- [x] Use https://github.com/golangci/golangci-lint for backend files

[2018-12-05 15:04] maciaszczykm commented on #2672
@jessfraz @liggitt @floreks I would like to restart our discussion here as we still have this issue in our backlog and its priority is critical. What do you think about making a new release as soon as possible to include the current fix in it (#3289) and waiting with completely removing the skip option until the migration finish (#3152)? I would say that it should take around a month to get migrat

[2018-12-06 06:34] pratikthorve90 opened #3397 "After deleting PODS , dashboard is refresh and setting are lost"
##### Steps to reproduce
1 Open K8S dashboard , select namespace , click on PODS
2 Now sort the PODS according to the status
3 Delete one of the PODS
4 POD is deleted and screen is refreshed , but the PODS are not sorted as per the what i did in step 2

##### Observed result
PODS are not sorted as per the what i did in step 2

##### Expected result
User settings should not be disturbed

##### Comm

[2018-12-06 10:13] zeed-w-beez opened #3398 "net/http: timeout awaiting response headers"
##### Steps to reproduce

refresh Deployments Detail page.

Url looks like:
https://kubernetes-dashboard.xxx.com/#!/deployment/NAMESPACE/DEPLAYMENTNAME?namespace=NAMESPACE

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

![image](https://user-images.githubusercontent.com/20834022/49577068-97f03780-f981-11e8-9754-039581d89884.p

[2018-12-06 13:20] jeefy commented on #3397
/kind bug

[2018-12-06 13:21] jeefy commented on #3397
@pratikthorve90 Thanks for letting us know.

Could you tell us which version of the dashboard you're using?

Thanks!

[2018-12-07 04:15] pratikthorve90 commented on #3397
@jeefy : below are the details.

Dashboard Version:
v1.10.0
Git Commit:
aa1b6c0c31c4b3b703e16e554a15ed2a019aad47

[2018-12-07 09:40] bryk commented on #2672
I think we should not wait and remove the skip option immediately. Making this project secure should always be highest priority.

[2018-12-07 14:29] redi-hoj opened #3401 "Log of re-setactive-az-cronjob brought up this page"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Bad Gateway (502):
[code]

##### Comments

[2018-12-07 19:36] danielromlein commented on #3256
@spencersugarman could you attach here the PDF of the survey results with charts?
/ @maciaszczykm @floreks in case the two of you have a chance to review before our [SIG-UI working session 12.10](https://calendar.google.com/event?action=TEMPLATE&tmeid=Mmw1cmt1aG83OW0yYW5kaHVudmI0ZzUycXYgZHJvbWxlaW5AZ29vZ2xlLmNvbQ&tmsrc=dromlein%40google.com)

[2018-12-08 12:49] #3401 closed

[2018-12-10 07:19] spencersugarman commented on #3256
Here is the full report:
[KubeCon China Dashboard Survey - Report.pdf](https://github.com/kubernetes/dashboard/files/2661909/KubeCon.China.Dashboard.Survey.-.Report.pdf).

I can also dig into the raw data (posted in my previous comment) if anyone is interested in seeing the results sliced in different ways.

[2018-12-10 15:02] meua opened #3402 "a padding to disable MSIE and Chrome friendly error page"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error (502):
[code]

##### Comments

[2018-12-12 19:33] vijaycjadhav commented on #3205
root@ip-172-31-23-165:~# netstat -plan |grep 8001
tcp        0      0 127.0.0.1:8001          0.0.0.0:*               LISTEN      24277/kubectl
tcp        0      0 127.0.0.1:52960         127.0.0.1:8001          TIME_WAIT   -
root@ip-172-31-23-165:~#

It is showing the port 8001 is bind with localhost - hence in EC2 we need to write iptables to do so.

[2018-12-12 19:35] vijaycjadhav commented on #3205
You may use CURL or elink in terminal like -
root@ip-172-31-23-165:~# curl 127.0.0.1:8001

[2018-12-13 05:58] gparvind opened #3411 "shell in chrome does not show up - shows errors in console window"
[code]

##### Steps to reproduce
Navigate to "Exec" from a pod details page in dashboard.

##### Observed result
Blank Shell UI.
Errors in the console window:
![image](https://user-images.githubusercontent.com/1861655/49918725-2c9aee00-feca-11e8-8f0e-b536fd2a9977.png)

##### Expected result
Shell UI should come up

[2018-12-13 06:54] wyl316430 opened #3413 "一台leader挡机集群出现问题"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (503):
[code]

##### Comments

[2018-12-13 07:40] maciaszczykm commented on #3413
/triage needs-information
/close

[2018-12-13 07:40] #3413 closed

[2018-12-13 09:40] floreks commented on #3411
Not enough information about cluster and dashboard setup.

[2018-12-13 09:43] floreks commented on #3398
Timeout means that there is a connection issue with the cluster. It is not a Dashboard issue.

[2018-12-13 09:43] #3398 closed

[2018-12-13 09:46] floreks commented on #3397
This is actually not a bug, but feature request. Dashboard does not store user specific settings right now in any way. I'd say that this falls under #2618. @maciaszczykm WDYT?

[2018-12-13 09:58] floreks commented on #3395
Dashboard can not use anything more than what user provides. It only passes this token further to the api server and if api server says that privileges tied to this token do not allow viewing configmaps then there is nothing we can do.

It is API server that rejects the requests not dashboard.

[2018-12-13 10:01] #3395 closed

[2018-12-13 10:09] floreks commented on #3391
There was some discussion about that on our slack sig-ui channel some time ago. You can check this [tutorial](https://itnext.io/protect-kubernetes-dashboard-with-openid-connect-104b9e75e39c). It might help in your setup. I am not that familiar with keycloak and this setup, but some users that use it have confirmed that it works for them. It makes me think that it is just some configuration issue.

[2018-12-13 10:16] floreks commented on #3363
Due to our very specific build configuration it is hard to add modules that were not written in "angular way" and can't be injected into the angular pipeline. I'd recommend looking for angular friendly module.

[2018-12-13 10:16] #3363 closed

[2018-12-13 10:30] floreks commented on #3352
Not enough information about setup. Reopen once all the information are provided and steps to reproduce are clear.

[2018-12-13 10:30] #3352 closed

[2018-12-13 10:31] #3351 closed

[2018-12-13 10:33] floreks commented on #3342
It is an issue with your cluster. `/var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory` means that service accounts are not configured in your cluster. They are required to start dashboard.

[2018-12-13 10:33] #3342 closed

[2018-12-13 10:45] maciaszczykm commented on #3397
@floreks +1, it is a feature indeed.

At the moment we have only global settings. During the migration, we have added local ones (based on cookies) and we can work on that.

[2018-12-13 10:46] maciaszczykm commented on #3391
I will link something that may be useful for you: https://blog.heptio.com/on-securing-the-kubernetes-dashboard-16b09b1b7aca.

[2018-12-13 10:52] floreks commented on #3325
@asos-leslielintott I have used cluster role and cluster role binding provided by you and it works fine. I am not able to list/view secrets in any namespace. First make sure to delete existing role/role bidings that were created for the dashboard and then replace them with your own.

![zrzut ekranu z 2018-12-13 11-50-27](https://user-images.githubusercontent.com/2285385/49934009-851fba80-fecd-11e8

[2018-12-13 10:52] #3325 closed

[2018-12-13 11:10] maciaszczykm commented on #2118
It is outdated. We can close.

/close

[2018-12-13 11:10] #2118 closed

[2018-12-13 11:11] maciaszczykm commented on #3176
Any update?

[2018-12-13 11:20] floreks commented on #3322
As this is a cluster issue we can close.
/close

[2018-12-13 11:20] #3322 closed

[2018-12-13 11:42] floreks commented on #3312
We'll track that from #2618

[2018-12-13 11:42] #3312 closed

[2018-12-13 11:42] floreks commented on #3397
We'll track that from #2618

[2018-12-13 11:42] #3397 closed

[2018-12-13 13:04] floreks commented on #3268
I have some concerns regarding this. As @maciaszczykm mentioned the biggest one is maintenance.

Additionally, such "big" featured editor seems a bit like an overkill just for Dashboard purposes. We do not really need a full-fledged solution, but rather a simple editor with syntax highlight and simple YAML/JSON schema validation.

Dynamic schema loading, virtual scrolling, etc. are great for stand

[2018-12-13 13:10] floreks commented on #3263
Change from the `tree` to `code` mode in the editor was dictated by user complaints about several usability issues related to `tree` mode. As those issues are part of ace editor and most probably won't be fixed, we will not be reverting back to the `tree` mode. In the future, we might think about using more advanced editor, but for now, this is not a priority.

From the `v1.7.1` **changelog**:
* C

[2018-12-13 13:10] #3263 closed

[2018-12-13 13:15] floreks commented on #3262
This is quite interesting. Based on response in this [thread](https://github.com/kubernetes/kubernetes/issues/69628), I believe this is a cluster issue, probably some serialization issue inside etcd. This error is returned by the API server and only forwarded back to the user.

[2018-12-13 13:15] #3262 closed

[2018-12-13 13:17] floreks commented on #3234
This should be resolved when we switch to the migration build, which should happen quite soon.

[2018-12-13 13:17] floreks commented on #3237
/close as stale

[2018-12-13 13:21] floreks commented on #3178
Closing as stale.
/close

[2018-12-13 13:21] #3178 closed

[2018-12-13 13:34] floreks commented on #3202
I can confirm that such issue exists. We are missing endpoint to handle this request on the backend. `api/v1/service/:namespace/:name/event`

[2018-12-13 13:38] floreks commented on #3034
so next time in function handleLogin it will fail with EOF.

This is handled by `restful-go`. Probably it only passes a copy of request to both functions so in case request has changed it will not affect any functions executed later on.

[2018-12-13 13:38] #3034 closed

[2018-12-13 13:39] floreks commented on #3000
Closing as stale.
/close

[2018-12-13 13:39] #3000 closed

[2018-12-13 13:49] floreks commented on #2995
Unfortunately, our documentation is a bit outdated here. In case you want to use custom certificates you have to remove `--auto-generate-certificate` option from the deployment, mount your certificates into the dashboard pod under `/certs/...` dir and pass `--tls-cert-file`, and `--tls-key-file` arguments to the deployment with names of your certificates.

I'd wait however until #3400 gets merged

[2018-12-13 13:49] #2995 closed

[2018-12-13 13:52] floreks commented on #2965
This is a configuration issue. It is api server and kubectl proxy that block your requests. The application you are trying to access has nothing to do with it. Try to access any other application this way and you will see same error.

[2018-12-13 13:52] #2965 closed

[2018-12-13 13:58] floreks opened #3417 "Improve error message after switching contexts without logging out"
[code]

There are a couple of scenarios in which this error will be thrown:
 1. Switching context without logging out.
    1. Start kubectl proxy
    1. Login to Dashboard
    1. Kill kubectl proxy, switch to another cluster and start it again
    1. Error is shown as a result of trying to decode token encrypted with key generated by other instance of Dashboard.
 1. Waiting until token expires and

[2018-12-13 13:58] floreks commented on #2847
Closing in favor of #3417

[2018-12-13 13:58] #2847 closed

[2018-12-13 14:01] floreks commented on #2974
First try to increase memory and cpu limits of Dashboard. As API server does not offer pagination, then all this data has to first be loaded into the memory of our backend. It's possible that due to memory limits your instance of Dashboard becomes unresponsive as it eventually goes out of memory.

[2018-12-13 14:01] #2974 closed

[2018-12-13 14:09] floreks commented on #2723
Closing in favor of #3008.
/close

[2018-12-13 14:09] #2723 closed

[2018-12-13 14:11] floreks commented on #3148
Will be tracked from #2353
/close

[2018-12-13 14:11] #3148 closed

[2018-12-13 14:11] floreks commented on #2464
Will be tracked from #2353
/close

[2018-12-13 14:11] #2464 closed

[2018-12-13 14:17] #3411 closed

[2018-12-13 17:36] stritt commented on #3176
![image](https://user-images.githubusercontent.com/3777243/49956481-44c33b00-fed3-11e8-93bf-0cb57c73b5e3.png)

Updated styling to be on brand and WCAG accessible, you can see hover color of a card on the 'hello' cron job. Let me know what you guys think and I will go in and make any necessary changes

[2018-12-13 18:08] asarkar commented on #3263
So, your solution for fixing problems reported by the users is to remove the feature without offering any replacement? That makes no sense; of course, any bug can be fixed by removing the affected code, but that’s hardly what’s expected.

[2018-12-13 19:19] floreks commented on #3263
Our solution was to offer less features that are more stable than more features that are buggy and can't be fixed without fixing 3rd party library or replacing editor completely.

[2018-12-13 21:31] rajatrai commented on #2970
Faced it too, a bit annoying. In my case, I was using chrome and started a new window in incognito mode and it worked fine.

[2018-12-13 22:52] jeefy opened #3419 "Update external repos w/ v1.10.1 release"
Placeholder issue for me.

Once v1.10.1 is released, update external repos referencing Dashboard.

See: https://cs.k8s.io/?q=kubernetes%5C-dashboard%5C-&i=nope&files=&repos= for a (rough) list.

/assign

[2018-12-13 23:08] mrwulf commented on #3147
So basically, if you had a working dashboard+heapster and upgraded,
1. In the heapster deployment, tell heapster to connect to the secure kubelet port by changing the source parameter from `kubernetes:https://kubernetes.default` to `kubernetes:https://kubernetes.default?useServiceAccount=true&kubeletHttps=true&kubeletPort=10250&insecure=true`
1. Give heapster enough api access to share it's knowle

[2018-12-14 05:56] tonglv commented on #2895
[root@kubernetes-110 dashboard]# kubectl log -f pod/kubernetes-dashboard-545d8dc58-kf6rp -n kube-system
log is DEPRECATED and will be removed in a future version. Use logs instead.
2018/12/13 08:04:22 Using in-cluster config to connect to apiserver
2018/12/13 08:04:22 Using service account token for csrf signing
2018/12/13 08:04:22 No request provided. Skipping authorization
2018/12/13 08:04:22 St

[2018-12-14 07:54] #2672 closed

[2018-12-17 08:47] maciaszczykm opened #3428 "Update YAML files for 1.10.1 after images will be pushed to GCR"

[2018-12-17 14:47] mxey opened #3430 "Handle expired token in when polling log endpoint"
##### Environment

[code]

##### Steps to reproduce

1. Open dashboard that requires authentication
2. Open log of a pod and enable automatic refresh
3. Wait for session/token to expire

##### Observed result

kubernetes-dashboard continues to poll the log API endpoint

[code]

##### Expected result

kubernetes-dashboard stops polling the log endpoint, for example by refreshing the main browser vi

[2018-12-17 15:18] maciaszczykm commented on #3430
Thanks for the report. We will take care of it.

[2018-12-17 17:52] jimangel commented on #1719
/close

[2018-12-17 17:52] #1719 closed

[2018-12-17 23:36] kfox1111 opened #3431 "Cluster Console"
I would like to be able to press a button in the ui, and have it show a cluster console. IE, a text browser like the one to attach to pods, but loaded with a console that has kubectl and my token injected into it so I can run kubectl/helm commands against the cluster without needing to install the tools.

A behaviour like: when the button is hit, a new temporary pod is launched in the current name

[2018-12-18 04:39] jeefy commented on #3419
/cc @maciaszczykm @floreks @bryk What's the status of cutting new images for the release?

It doesn't look like the images have been created and the notes under the v1.10.1 release still say TBD. :(

I'm going to at least submit/hold all the PRs to do this so they're staged.

[2018-12-18 05:16] jeefy commented on #3419
https://github.com/kubernetes/kubernetes/pull/72141

https://github.com/kubernetes/minikube/pull/3466

https://github.com/kubernetes/kops/pull/6221

[2018-12-18 08:14] xiaoanyunfei commented on #2970
It maybe because your secret token was not encrypted and decrypted by the same pair private key and public key. kube-controller-manager generates the token, and kube-apiserver detects the token. the private key is specified by  **--service-account-key-file** If unspecified, **--tls-private-key-file** is used.

[2018-12-18 10:39] floreks commented on #3419
@jeefy They have just been pushed. I have updated release notes: https://github.com/kubernetes/dashboard/releases/tag/v1.10.1

[2018-12-18 18:43] rajatrai commented on #2970
It didn't get that far where it takes the token ;-)

[2018-12-19 02:44] Trrinity opened #3435 "未知服务器错误"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误:
[code]

##### Comments

[2018-12-19 07:00] jeefy commented on #3419
Awesome thanks! I removed the holds on the other PRs.

I'll keep this open to remind myself to check on them periodically and nudge them along.

[2018-12-19 07:02] #3428 closed

[2018-12-19 07:43] #3435 closed

[2018-12-19 10:20] maciaszczykm commented on #3066
Closed by #3436.

/close

[2018-12-19 10:20] #3066 closed

[2018-12-19 20:47] johnbyrneio opened #3438 "Dashboard 1.10.1 breaks local kubeconfig"
[code]

##### Steps to reproduce

1. Run `kubectl proxy`
2. Open Dashboard UI

##### Observed result
Active kubeconfig file has some configuration data removed

##### Expected result
Active kubeconfig file should be left alone

##### Comments

I installed dashboard version 1.10.1 on a GKE 1.10.9 cluster. I then started `kubectl proxy`. At that point, everything is fine. But as soon as I open the D

[2018-12-19 20:52] johnbyrneio commented on #3438
This is related to changes made in dashboard version 1.10.1. The same environment using version 1.10.0 works fine.

[2018-12-20 09:36] maciaszczykm opened #3440 "Complete Angular migration"
Things left to do:

- [x] merge `ng-migration` to `master` branch
- [ ] ~~deployment list and details (85% done; missing: new replica set list, hpa list in details @daminisatya )~~
- [x] cron job list and details
- [x] align actionbar actions with context actions in list menu for every resource
- [ ] ~~graphs for cluster, nodes, overview, workloads, daemon sets, deployments, pods, rc, rs, and stat

[2018-12-20 10:53] maciaszczykm commented on #2929
Outdated after Angular migration. We will be implementing localization once more.

/close

[2018-12-20 10:53] #2929 closed

[2018-12-20 11:37] Behoston opened #3441 "Missing kubernetes-dashboard.yaml"
https://github.com/kubernetes/dashboard#getting-started
There are instructions how to deploy dashboard on cluster, but it uses wrong url to deployment file.

##### Steps to reproduce
`kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml`

##### Observed result
404 status code

##### Expected result
dashboard installed on k

[2018-12-20 11:39] anton-yurchenko commented on #3441
https://web.archive.org/web/20181006041622/https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

[2018-12-20 11:45] mkielar commented on #3441
It's now this one is probably:
https://raw.githubusercontent.com/kubernetes/dashboard/master/aio/deploy/recommended/kubernetes-dashboard.yaml

For some reason this one breaks on Worker Node with docker logs saying:
[code]

[2018-12-20 12:01] mkielar commented on #3441
@Behoston wouldn't you rather point to a latest release (that is at least supposed to be stable) instead of linking to master in official docs? From what I just tried, the `master/aio` version fails currently with the message I posted above. And the `v1.10.1/src/deploy` version actually deploys.

[2018-12-20 12:01] maciaszczykm commented on #3441
Done in #3443.

[2018-12-20 12:01] #3441 closed

[2018-12-20 13:02] tabareh commented on #2879
Hi,

I get a similar problem on kubectl version 1.10.
[code]

Kubernetes version:
[code]

[2018-12-20 17:16] fcadet01 commented on #2879
@floreks
Hello,
I've an error too with the deployement of the dashboard

When I do the 'apply' I've got an `ImagePullError`

[code]
[code]

Can you help me ?
I do it Yesterday and it work but today I can't pull it.

Thanks

[2018-12-20 17:44] seanhig opened #3447 "Arm version seems to be reversed"
On master, the current `kubernetes-dashboard.yaml` references an ARM based image, and the `kubernetes-dashboard-arm.yaml` references an amd64 image.  Pretty sure this was a mix up in the commit that occurred a few hours ago now.
https://github.com/kubernetes/dashboard/commit/7c73bacd64d5fc1e80561d355a4e0dd3c33f984b#diff-a0ed1ebb3f4da2a985b54b6a2ddc770f

Taught me a valuable lesson about not trusti

[2018-12-20 17:51] mrichman opened #3448 "Symlink old dashboard YAML to new?"
I just noticed that the "official" dashboard YAML URL was changed from `https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml` to `https://raw.githubusercontent.com/kubernetes/dashboard/master/aio/deploy/recommended/kubernetes-dashboard.yaml`.

This change is going to break virtually every piece of documentation in existence.

Is there no wa

[2018-12-20 18:13] chriskinsman commented on #3448
Even the kubernetes dashboard docs has inconsistently updated the link.

i.e. this documentation page still links to the old yaml: https://github.com/kubernetes/dashboard/wiki/Installation

[2018-12-20 19:52] ansilh opened #3449 "Image points to wrong binary type in yaml"
##### Environment
Installed k8s 12.0.1 from scratch on Ubuntu 16.04 in VirtualBox
Followed README.md

##### Steps to reproduce
[code]

##### Observed result
[code]
[code]
##### Expected result

Its supposed to be like ;
[code]

[2018-12-20 19:54] RothAndrew commented on #3449
Duplicate of #3447

[2018-12-20 19:55] jmabry commented on #3447
For anyone else affected, I was able to get started by running `kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml`

[2018-12-20 21:23] GregSilverman opened #3452 "Unable to access kubernetes-dashboard.yaml"
Browsing https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

returns a 404 error.

[2018-12-20 21:55] thisLambo commented on #3448
Just to add to this issue, the `kubernetes-dashboard.yaml` deploys the arm build of the Kubernetes Dashboard ( https://github.com/kubernetes/dashboard/blob/master/aio/deploy/recommended/kubernetes-dashboard.yaml#L112 ) and the `kubernetes-dashboard-arm.yaml` deploys the amd64 build of Dashboard ( https://github.com/kubernetes/dashboard/blob/master/aio/deploy/recommended/kubernetes-dashboard-arm.ya

[2018-12-20 22:11] GregSilverman commented on #3448
@thisLambo, that would probably explain why I was getting a `CrashBackLoop` when trying to install!

[2018-12-20 23:03] thisLambo commented on #3448
Sorry for deleting my reply on you, but I found the issue relating to the architecture: https://github.com/kubernetes/dashboard/issues/3447

[2018-12-21 05:10] tathagatkhanorkar opened #3454 "Kubernetes dashboard is not coming up"
**What happened**:
Kubernetes dashboard is not coming up.
I have a kubernetes cluster and a node

 $kubectl get pods --all-namespaces

 NAMESPACE     NAME                                 READY     STATUS    RESTARTS   AGE
kube-system   coredns-86c58d9df4-lrrmx             1/1       Running   0          2h
kube-system   coredns-86c58d9df4-zf2sz             1/1       Running   0          2h
kube-sys

[2018-12-21 08:47] falcoriss commented on #3391
I had started to work with these 2 docs already but couldn't find a way to make it work but i finally did with a mix of knowledge from these 2 + others + the official keycloak and kubernetes doc.
Quite a tough time but it finally works =)

Thx guys for your replies !

I'm closing this

[2018-12-21 08:47] #3391 closed

[2018-12-21 09:37] marcin-kasinski opened #3455 "Dashboard image"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

[2018-12-21 09:39] marcin-kasinski commented on #3455
In kubernetes-dashboard.yaml there is

`image: k8s.gcr.io/kubernetes-dashboard-arm:v1.10.1
`
Shouldn't is be
`
k8s.gcr.io/kubernetes-dashboard-amd64:v1.10.1`

[2018-12-21 09:46] #3452 closed

[2018-12-21 09:59] maciaszczykm commented on #3455
Fixed.

/close

[2018-12-21 09:59] #3455 closed

[2018-12-21 10:00] maciaszczykm commented on #3449
Fixed.

/close

[2018-12-21 10:00] #3449 closed

[2018-12-21 10:01] maciaszczykm commented on #3447
Fixed.

/close

[2018-12-21 10:01] #3447 closed

[2018-12-21 10:14] maciaszczykm commented on #3454
I cannot understand your setup. Why are you using `gulp serve`? Yesterday we have merged migration to the new frontend and it is no longer valid. Right now you should use `npm start`.

Please provide some more detailed explanation and reopen.

/close
/triage needs-information

[2018-12-21 10:14] #3454 closed

[2018-12-21 10:19] maciaszczykm opened #3457 "Update external repos and docs with new YAML location"
- [x] https://github.com/awsdocs/amazon-eks-user-guide/pull/28
- [x] https://github.com/kubernetes/dashboard/wiki/Installation

[2018-12-21 12:14] floreks commented on #3438
It is not possible for dashboard to edit any kind of files on your drive. It is only a web app that is running inside the docker container on a kubernetes node. It does not have access to your storage.

[2018-12-21 12:14] #3438 closed

[2018-12-21 12:27] mengxu2018 opened #3460 "HTTPS connection error"
##### Environment
[code]

##### Steps to reproduce
I am new bie to k8s, I setup the cluster environment in two vms created by vmware. One is the master, another is the work node. I was referring the offical document
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

After starting the kubeadm by
[code]
I install the pod network flannel
https://kubernetes.io/docs/setup/independen

[2018-12-21 12:36] floreks commented on #3460
[code]

This means that you are trying to access it over HTTP instead of HTTPS.

[2018-12-21 12:47] mengxu2018 commented on #3460
But I visit it by  https://192.168.77.131:31873 or https://192.168.77.130:31873

[2018-12-21 13:47] floreks commented on #3460
Maybe your browser is blocking connection to the page with insecure certificates. Self-signed certs will always be recognized as dangerous by the browser.

[2018-12-21 15:36] #3117 closed

[2018-12-21 16:02] mengxu2018 commented on #3460
Thanks. It seems I can visit https://192.168.77.131:31873  in firefox which can allow insecure certificates, but it need token, then I refer to the https://github.com/kubernetes/dashboard/wiki/Creating-sample-user.

But it report below error.
[root@k8s-master ~]# kubectl apply -f dashboard-adminuser.yaml
Error from server (Forbidden): error when retrieving current configuration of:
Resource: "/v1,

[2018-12-21 22:16] themightychris commented on #3448
Y'all broke a ton of stuff in the world by moving this after promoting using that URL in shell commands to install

[2018-12-22 01:53] ekevoo commented on #2672
Because googling my problem landed in this bug report for the top result:

If you want to **keep** the skip login button, you need to edit the yaml file to include `--enable-skip-login` as one of the args of the deployment.

[2018-12-22 04:20] mengxu2018 commented on #3460
it's since I forget to export KUBECONFIG=/etc/kubernetes/admin.conf

[2018-12-24 04:12] shfpflyawei commented on #3100
hello, I met this issue too, I'm using dashboard :v1.8.3  and kubernetes  1.10.1

[2018-12-24 04:58] timeout1423 opened #3463 "Dashboard insecure login failed"
##### Environment

[code]

##### Steps to reproduce

I try to setup kubernetes darshboard system, and log  via http, but I failed. The following is  what I dig.

[code]

Test the http service

[code]

looks good

here is yaml config.

[code]

follow is the dashboard log

[code]

it seems it works well. when I try to login the dashboard with a kubeconfig.

following is the log of dashboard:

[code]

[2018-12-24 07:37] HikoQiu opened #3464 "Dashboard login failed with response: "tokenPresent": false, "headerPresent": false, "httpsMode": true"
##### Environment

Hi，

I used Token to login dashboard，but failed to redirect to dashboard index.

*1. dashboard logs*
Login failed with response (API: /api/v1/login/status):  "tokenPresent": false,  "headerPresent": false,  "httpsMode": true

dashboard's pod didn't print any error logs.

[code]

*2. steps to generate token*

[code]

*3. token's api permission*

My sa dashboard-admin
[code]

My d

[2018-12-24 07:41] floreks commented on #3464
Use https instead of http to access Dashboard. Login is blocked for http.

[2018-12-24 07:41] #3464 closed

[2018-12-24 07:46] floreks commented on #3463
It is not a bug. Insecure login will allow to log in over http only for localhost access. In case you try to access dashboard over http when it is exposed on some domain frontend will always block the access.

[2018-12-24 07:47] #3463 closed

[2018-12-24 07:55] HikoQiu commented on #3464
Amazing, your response is so quickly, thanks!

I think the  problem maybe not "http transfer to dashboard's service (default https)". In my dashboard ingress configuration, I added the annotation "nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"", full ingress configuration:

[code]

thanks again.

[2018-12-24 08:40] #3460 closed

[2018-12-24 08:59] HikoQiu commented on #3464
Thanks again, problem has been solved.

Step to solved:

1.  Sign certifications（or use CA's certifications）

command to sign certifications:
[code]

[code]

2. Create Secret resource to k8s
[code]

console line prints:
[code]

3. Configure dashboard's ingress to support HTTPS

[code]

4. kubectl apply -f to make it work.

[2018-12-25 08:03] gatici opened #3465 "kubernetes_etcd_cluster_error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments

[2018-12-25 08:08] floreks commented on #3465
Not a Dashboard issue.

[2018-12-25 08:08] #3465 closed

[2018-12-25 14:03] tathagatkhanorkar commented on #3454
https://github.com/kubernetes/dashboard/wiki/Getting-started

docs were not updated about `npm start`

[2018-12-26 04:41] junsionzhang commented on #3440
is Angular migration done now and what is the plan ?

[2018-12-26 14:05] tathagatkhanorkar opened #3467 "Getting error building dashboard (Unhandled 'error' event)"
##### Environment

[code]

##### Steps to reproduce

[code]

[code]
[code]

##### Observed result

##### Expected result

[code]

##### Comments

I don't know how to produce expected results.
Following is the image of the error I am getting
[code]
Here I am going to link [http://localhost:8080](url) and it is redirecting me to [http://localhost:8080/#/error?namespace=default](url).

Can anyone hel

[2018-12-26 17:03] reyou commented on #579
For my local VM test, I have following config.
Where is the password? I tried admin / {emptyPassword} did not work.

[code]

[2018-12-27 12:12] floreks commented on #3440
As you can see, there are still some pending tasks left to be implemented/fixed. Now, that the migration has been merged to master it will be easier to maintain and move forward with it.

[2018-12-27 12:13] floreks commented on #3454
Yes, there are still many things we have to update before Dashboard v2 release. It will be updated in the upcoming weeks.

[2018-12-27 12:18] floreks commented on #2672
@ekevoo Thanks for this. We've missed that one on the release notes. I have updated [changelog](https://github.com/kubernetes/dashboard/releases/tag/v1.10.1) and [wiki](https://github.com/kubernetes/dashboard/wiki/Dashboard-arguments) has been also updated to contain new argument.

[2018-12-27 22:01] warrenackerman commented on #2816
We've been having this issue as well. Our repro steps:
Terraform azure resources (3 masters, 3 etcd, 4 nodes)
use ansible to apply RHEL CIS hardening https://github.com/MindPointGroup/RHEL7-CIS
Deploy using kubespray https://github.com/kubernetes-sigs/kubespray

The interesting thing to note is that once you run kubespray with the reset.yaml and redeploy all is well. Currently I'm inspecting iptab

[2018-12-27 22:40] GregSilverman commented on #2816
@warrenackerman, I ended up upgrading all nodes to 1.13.1 and did not apply the patch previously needed by CoreDNS. Now, everything appears to be functioning, including the problem we had that required the patch and the dashboard.

[2018-12-28 01:33] weifangan opened #3470 "what kind problem is it?"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Service Unavailable (503):
[code]

##### Comments

[2018-12-28 04:52] jeefy commented on #3470
/triage needs-information

/close

It's a rather old version of the dashboard and there's a lot of missing information. If you want to provide more information and re-open it that would be appreciated, otherwise I'd suggest upgrading first.

[2018-12-28 04:52] #3470 closed

[2018-12-28 11:40] prashantcfc commented on #2034
@yosiasz
Thanks a bunch mate, I bootstrapped a kubernetes cluster with kubeadm and finally your solution worked for me. Just that in order to access the UI, one needs to point to the following :

http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/.

[2018-12-28 11:59] maciaszczykm commented on #3467
We do not support dev on Windows.

[2018-12-28 11:59] #3467 closed

[2018-12-28 12:00] maciaszczykm commented on #3457
Done.

/close

[2018-12-28 12:00] #3457 closed

[2018-12-28 12:02] maciaszczykm commented on #3448
We have fixed most of the links to the old YAML location. I think we can close it right now.

/close

[2018-12-28 12:02] #3448 closed

[2018-12-28 16:18] joekohlsdorf commented on #2672
Sad to see that such a breaking change was done in a minor release and was originally not even in the changelog.

[2018-12-28 20:51] floreks commented on #2672
@joekohlsdorf It was in the changelog from the beginning but it was not so prominent and obvious. You would need to check linked issues.

[2018-12-28 20:57] prashantcfc commented on #2540
@floreks I exposed the dashboard publicly which is running on my CentOS VM and can't sign in as it is over HTTP. How do I expose the dashboard over HTTPS ?

[2018-12-28 21:11] AndrewSav commented on #2540
@prashantcfc the usual way, exactly the same way that you use for all you other applications. It's hard to give more precise instructions as this can be different depending on your environment and/or requirements. One common scenario is that you terminate SSL on your load balancer that is used to make your application (dashboard in this case) available to the app consumers.

[2018-12-29 01:24] georgetulakyan opened #3471 "Deploy has disappeared"
Been getting 404 Not Found error when I try to setup Dashboard
i.e. kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml
error: unable to read URL "https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml", server reported 404 Not Found, status code=404

I tracked the i

[2018-12-29 06:10] minminmsn opened #3472 "dashboard apiserver-host param points to a server that does not exist"
##### Environment

[code]

[root@elasticsearch01 yaml]# kubectl logs kubernetes-dashboard-7649fbd576-r4wn2 --namespace=kube-system
2018/12/29 05:52:10 Starting overwatch
2018/12/29 05:52:10 Using apiserver-host location: https://10.2.8.44:6443
2018/12/29 05:52:10 Skipping in-cluster config
2018/12/29 05:52:10 Using random key for csrf signing
2018/12/29 05:52:10 Error while initializing connection

[2018-12-29 09:48] minminmsn commented on #3472
use default args
        args:
          - --auto-generate-certificates
error also 👎
NET::ERR_CERT_INVALID

![image](https://user-images.githubusercontent.com/17631009/50536669-b10b9300-0b91-11e9-9e95-258918b8f709.png)

[2018-12-29 10:33] floreks commented on #3471
The fastest way to find correct link would be to check our official documentation. Main repo page and README + wiki pages. We have updated links there.

[2018-12-29 10:33] #3471 closed

[2019-01-01 18:08] alexellis opened #3473 "Failed to pull image "k8s.gcr.io/kubernetes-dashboard-arm:v2.0.0-alpha0""
##### Environment

 Installed via `kubeadm`

[code]

##### Steps to reproduce

[code]

##### Observed result

Failed to pull image     "k8s.gcr.io/kubernetes-dashboard-arm:v2.0.0-alpha0"

##### Expected result

Running dashboard

##### Comments

It appears that there may be an issue with the CI or the image name referenced for the 32-bit ARM entry. The image does not exist on the remote repository

[2019-01-01 18:08] alexellis commented on #3473
cc @luxas

[2019-01-01 21:16] alexellis commented on #3473
Pointing to master used to work and it seems to be the same in the docs. Is it generally expected that master won't work for the dashboard? What should we point at instead?

Alex

[2019-01-02 00:36] floreks commented on #3473
We have changed it to be more like other projects. Official links are always available on the releases page and README also points to the latest release instead of master. Master should never be used as reference for stable build. We are using it for development of new versions and it might be unstable. Right now we have bumped version on the master to v2 alpha but it is not yet released.

[2019-01-02 06:52] minminmsn commented on #3472
resolved:
$ mkdir certs
$ openssl req -nodes -newkey rsa:2048 -keyout certs/dashboard.key -out certs/dashboard.csr -subj "/C=/ST=/L=/O=/OU=/CN=kubernetes-dashboard"
$ openssl x509 -req -sha256 -days 365 -in certs/dashboard.csr -signkey certs/dashboard.key -out certs/dashboard.crt
$ kubectl create secret generic kubernetes-dashboard-certs --from-file=certs -n kube-system
$ kubectl create -f kuberne

[2019-01-02 06:52] #3472 closed

[2019-01-02 09:29] roamergu opened #3474 "can't login dashbord"
##### Environment

[code]

##### Steps to reproduce

1.install kubenet follow the page :https://kubernetes.io/docs/setup/independent/install-kubeadm/
2.install dashbord follow the page:https://github.com/kubernetes/dashboard/releases
3.create Admin privileges follow the page :https://github.com/kubernetes/dashboard/wiki/Access-control#admin-privileges
4.get token follw same page
5.run kubectl prox

[2019-01-02 12:21] maciaszczykm commented on #3474
From https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above:

/close

[2019-01-02 12:21] #3474 closed

[2019-01-03 07:12] maciaszczykm commented on #3440
@jeefy Do you have any updates about metrics container?

[2019-01-03 09:16] maciaszczykm opened #3475 "Update backend dependencies to support Kubernetes 1.13"

[2019-01-03 15:41] jeefy commented on #3440
@maciaszczykm It works! I'm still waiting on @DirectXMan12 to give it another look over (https://github.com/jeefy/metrics-sidecar) but after that I can PR in support for it (See https://github.com/kubernetes/dashboard/compare/master...jeefy:sidecar?expand=1)

I still have to pull in the angular migration changes and apply them to that branch though.

[2019-01-03 16:20] #3473 closed

[2019-01-03 20:02] besmirzanaj commented on #2947
is there a way to "Continue anyway" ?

[2019-01-03 20:12] danielromlein commented on #3176
I think this is looking awesome @stritt. Taking a cue from Mojave, I think if the top bar were lighter it would help the blue bar across look less jarring:
![image](https://user-images.githubusercontent.com/5114858/50659098-5dfa5d00-0f50-11e9-8064-1d53fdf1d439.png)

Right now I feel like the two dark sections are sort of isolated and my eye is distracted by the top bar.
![image](https://user-image

[2019-01-03 20:21] danielromlein opened #3478 "Include option to login when authentication fails"
When running Dashboard using Docker, I initially just got a message saying "Unauthorized (401)", then had to figure out how to click the profile icon to sign in.
![image](https://user-images.githubusercontent.com/5114858/50659567-df9eba80-0f51-11e9-80f9-69e5d0097ec3.png)

This is a confusing UX and I think could easily be solved by including the login affordances right in this page.

[2019-01-03 21:00] wild-endeavor commented on #2493
Is there any update on this?  Still running into this problem on the dashboard.
Thanks!

[2019-01-03 22:40] vivgoyal opened #3479 "Dashboard permission errors on upgrading to dashboard version 1.10.1"
I have a k8s 1.11.5 cluster which was running dashboard version 1.8.3. I upgraded the dashboard to version 1.10.1 but this gives me following error:
<img width="1392" alt="screen shot 2019-01-03 at 2 34 41 pm" src="https://user-images.githubusercontent.com/22700633/50665264-cf440b00-0f64-11e9-8c1a-c301ca621a71.png">
There are multiple pages/issues asking about the same thing and what I figured out

[2019-01-04 08:08] maciaszczykm commented on #3479
Are you skipping auth?

[2019-01-04 08:13] vivgoyal commented on #3479
We have a proxy in front for authentication. This was working fine till dashboard 1.8.3.
I am confused here, why do we even need to grant admin privileges to dashboard's service account?
Dashboard should ideally be using user's privileges and not dashboard's service account.

[2019-01-04 08:17] floreks commented on #3479
@vivgoyal You do not need and should never grant Dashbord SA more privileges than it already has. There are many things that changed compared to v1.8.3 which was released almost a year ago. You can read about some changes [here](https://github.com/kubernetes/dashboard/releases).

[2019-01-04 08:47] vivgoyal commented on #3479
@floreks I just re-checked with v1.10.0 and things seem to just work fine. It probably has to do with something that changed in v1.10.1

[2019-01-04 09:00] maciaszczykm opened #3480 "Move compatibility matrix to releases page"
I think it would be a good idea to move [compatibility matrix](https://github.com/kubernetes/dashboard/wiki/Compatibility-matrix) from wikis to releases in the release page. Then in every single release, we can do something similar to:

### Compatibility matrix
| Kubernetes version | 1.8 | 1.9 | 1.10 | 1.11 |
|------------------------|-----|-----|-----|-----|
| Compatibility               | ✕    |

[2019-01-04 09:01] floreks commented on #3480
Something like a shortened version only showing compatibility of the latest release?

[2019-01-04 09:01] maciaszczykm commented on #3480
Yes, exactly. And info would be there for every release. No need to check the docs.

[2019-01-04 09:02] floreks commented on #3480
+1

[2019-01-04 09:32] floreks commented on #3479
Most probably it is related to this changes:

You might have been using that without knowing. Try to see if adding `--enable-skip-login=true` to the dashboard container changes it. Keep in mind that adding this flag might be a security issue.

[2019-01-04 09:46] maciaszczykm commented on #3480
Added it to last 3 releases.

/close

[2019-01-04 09:46] #3480 closed

[2019-01-04 10:48] kvpt commented on #3479
I have the same issue in 1.10.1, 1.10.0 works fine.
I use a dedicated serviceaccount and clusterrolebinding to connect with a token to the cluster.
The warning popup indicate that kubernetes-dashboard serviceaccount doesn't have rights, but I doesn't use the token from this account to connect, am I missing something ?

[2019-01-04 11:36] maciaszczykm commented on #3479
Can you show us your YAML files?

[2019-01-04 13:32] kvpt commented on #3479
Which file ? I don't use any yaml file, I use a token to connect.

[2019-01-04 13:48] maciaszczykm commented on #2891
/open

[2019-01-04 13:48] maciaszczykm commented on #2891
/reopen
/lifecycle frozen
/remove-lifecycle rotten

[2019-01-04 17:52] shaktiprasadrath opened #3481 "Unable to access Kubertenes Dashboard n my host machine"
I have setup a 3 Virtualbox on my machine out of which one is master and other 2 are child.
So, when I am trying to open the Dashboard on my host machine it is showing error. Below are all the details about my Kubernetes infrastructure:

**Nodes info:**
[kmaster@kmaster ~]$ kubectl get nodes
NAME      STATUS   ROLES    AGE   VERSION
kchild    Ready    <none>   8d    v1.13.1
kmaster   Ready    mast

[2019-01-04 18:05] floreks commented on #3481
1. This is not a Dashboard issue if you are seeing connection refused error coming from `kubectl`.
2. Exposing Dashboard over HTTP is forbidden and will not work as stated in the documentation.

[2019-01-04 18:05] #3481 closed

[2019-01-04 23:13] vivgoyal commented on #3479
We figured that we need to specify --enable-insecure-login flag in our yaml, this was not needed in past, even though the flag has been available since long.
Probably because of this particular change:
func (self *clientManager) isLoginEnabled(req *restful.Request) bool {
     return req.Request.TLS != nil || **args.Holder.GetEnableInsecureLogin()**
}

[2019-01-05 00:14] Angha commented on #3448
is the following
 url 'https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml'  is  going  to  get  fixed?  still get  ERROR  404
if  not, which is the official new  url  to use instead?

[2019-01-05 13:55] kkcgmail opened #3483 "Dashboard login not showing SKIP option"
##### Environment

[code]

##### Steps to reproduce

##### Observed result

##### Expected result

##### Comments

kubectl proxy is running.
I can see dashboard in browser
ip:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/#!/login
But can not find and option to SKIP login
<img width="942" alt="screenshot 2019-01-05 at 13 54 09" src="https://user-images.githubusercont

[2019-01-05 13:56] floreks commented on #3483
Read the release notes for v1.10.1. It has been disabled by default for security reasons.

[2019-01-05 13:56] #3483 closed

[2019-01-05 14:02] kkcgmail commented on #3483
Thanks floreks. I have created service accounts. Using Token..when I click SIGN IN its not moving but APIs all looks to be returning ok.
Does it mean that I cant access it outside localhost? Please help.

[2019-01-05 14:12] floreks commented on #3483
This behavior is also described in the documentation. Exposing Dashboard on HTTP is forbidden and will not work.

[2019-01-05 14:13] kkcgmail commented on #3483
Ok. Thanks for your help.

[2019-01-05 15:05] themightychris commented on #3448
If documentation is going to include URLs to yaml files, those URLs should be treated like contracts

Perhaps maintain a new branch called `deploy` that yaml files get published to on release with canonical paths e.g. `https://raw.githubusercontent.com/kubernetes/dashboard/deploy/recommended/kubernetes-dashboard.yaml`

[2019-01-06 20:02] floreks commented on #3479
It was added in 1.10.0 if I remember correctly. Basically, we do not recommend exposing Dashboard over HTTP, unless you are using some kind of reverse proxy for authentication and authorization. This was added for security reasons.

If you have solved the issue then I think we can close.

/close

[2019-01-06 20:02] #3479 closed

[2019-01-06 20:03] floreks commented on #3481
You can use ingress resource and expose it over HTTPS or use `kubectl proxy` locally to access it on `localhost` domain.

[2019-01-07 05:55] gsadhani commented on #3479
@floreks We have a reverse proxy for authentication and authorization deployed in front of the dashboard, can you confirm the usage of **--enable-insecure-login** flag is appropriate in that case?

[2019-01-07 08:57] floreks commented on #3479
@gsadhani In this case you could actually use alternative deployment instead of a recommended one. This way Dashboard login view would not be shown at all and your proxy should handle passing the authorization header.

[2019-01-07 14:20] jeefy commented on #3419
There's a cherry-pick in k/k that requires an \approve before I can close this. :)

https://github.com/kubernetes/kubernetes/pull/72496

[2019-01-07 17:46] richardsonlima commented on #3472
@minminmsn this workaround works for me. Thank you !!

[2019-01-07 17:50] richardsonlima commented on #3472
/close

[2019-01-08 16:50] cottrell opened #3487 "The Deployment is invalid"
Initial setup. Copy paste from README. Got this:

[code]

[2019-01-08 16:52] cottrell commented on #3487
Ugh ... was same problem as here. https://github.com/kubernetes/dashboard/issues/2898 closing. Maybe the error could be better?

[2019-01-08 16:52] #3487 closed

[2019-01-08 17:00] floreks commented on #3487
It's `kubectl` that is showing this error. We can not do anything to improve that.

[2019-01-08 18:31] #2849 closed

[2019-01-09 14:19] ajatprabha commented on #3440
I'd like to work on `align actionbar actions with context actions in list menu for every resource` task.
cc: @maciaszczykm

[2019-01-09 22:03] ironfugu commented on #2986
Hey @johnSchnake  - hope you have a good holiday.  Do you have any update on this work?

[2019-01-10 00:33] jbonnett92 opened #3491 "Compatibility with Kubernetes 1.13.1"
##### Environment

[code]

##### Steps to reproduce
Start a cluster from scratch using Kubeadm, install Calico CNI and then Kubernetes dashboard.

##### Observed result
Not able to access the dashboard, I get a error in the logs: `Metric client health check failed: the server could not find the requested resource (get services heapster). Retrying in 30 seconds.`.

##### Expected result
Kubernetes

[2019-01-10 08:44] floreks opened #3495 "Finish namespace support feature"
Recently merged https://github.com/kubernetes/dashboard/pull/3197 PR is missing dynamic namespace support for custom certificates. They can still only be stored in a `kube-system` namespace. In case user deploys Dashboard in a different namespace and adapts privileges, Dashboard might fail to start.

[2019-01-10 08:47] maciaszczykm commented on #3495
cc @jeefy @FrenchBen

[2019-01-10 08:48] floreks commented on #3495
I will take care of that today.

[2019-01-10 08:56] maciaszczykm commented on #3419
/close

[2019-01-10 08:56] #3419 closed

[2019-01-10 08:57] maciaszczykm commented on #3268
I think we can continue with Ace and focus on the more important stuff.

/close

[2019-01-10 08:57] #3268 closed

[2019-01-10 08:59] maciaszczykm commented on #3133
Any updates or people that are still willing to put some effort to this?

[2019-01-10 09:08] maciaszczykm commented on #3357
We should include this as advanced filtering options. Not by default.

/close

[2019-01-10 09:08] #3357 closed

[2019-01-10 09:17] maciaszczykm commented on #3275
/remove-lifecycle stale

[2019-01-10 09:42] maciaszczykm commented on #3275
Duplicate of https://github.com/kubernetes/dashboard/issues/2029#issuecomment-309792341.

/close

[2019-01-10 09:42] #3275 closed

[2019-01-10 09:52] maciaszczykm commented on #2798
I think we can close this. Dashboard has no longer privilege to list secrets and with recent fixes in v1.10.1 it should be even more secure.

@floreks WDYT?

[2019-01-10 09:56] floreks commented on #2798
I think it should be fixed with migration. We can close for now.

/close

[2019-01-10 09:56] #2798 closed

[2019-01-10 10:14] maciaszczykm commented on #2346
I cannot repoduce it using `busybox` on the current master. During Angular migration we have rewritten almost everything so it might have fixed the issue. Second possibility is that your container is broken and it will work with other containers.

Anyways I am closing it as a non-reproducible.

/close

[2019-01-10 10:14] #2346 closed

[2019-01-10 13:57] WolfyLPDC opened #3497 "Kubernetes Dashboard ignores numer of Items after reordering"
##### Environment

[code]

##### Steps to reproduce
(I did this exactly with 50 nodes active)
Go to `Settings` and select a custom number of `Items per page`. After that, go to any view (as for example, `Pods`) and order the elements by something, like for example `Age`.

##### Observed result

There are listed only ten elements, as the default value of `Items per page`. Also, there is no possibil

[2019-01-10 14:02] maciaszczykm opened #3498 "Breadcrumbs font is too heavy"
![zrzut ekranu 2019-01-10 o 15 00 22](https://user-images.githubusercontent.com/2823399/50973193-92d65900-14e8-11e9-9d3b-3b0aa4a76329.png)

It seems like it is the impact of moving to new Angular Material.

[2019-01-10 14:04] jeefy opened #3499 "Multi-Arch Builds"
Milestone tracking issue for #3143

For v2.0.0 we should push images that support multiple architectures.

By doing that we need only support one single "deploy" script and it makes everyones' lives easier.

This is also in line with what a lot of other org projects are doing. :)

[2019-01-10 14:04] maciaszczykm opened #3500 "Disable job scaling"
We are using our custom code in the backend to provide scaling functionality for Job resources. `kubectl` decided against it an I think we should follow the same path. Let's use scaling client for resources that can be scaled by it and ignore other resources. It might get confusing for some people that by scaling we change parallelism of the Job. WDYT?

[2019-01-10 14:05] floreks commented on #3497
I actually can not reproduce that. Tested right now on `v1.10.1` and everything works fine. After selecting 15 items, I can use sorting, filtering and change list pages as expected.

[2019-01-10 14:07] maciaszczykm commented on #3497
Perhaps that has something to do with Kubernetes v1.13 not being compatible with our release.

[2019-01-10 14:09] floreks commented on #3497
I have tested it on k8s `v1.13.1` so that it not it. Maybe it's an issue with privileges to read settings config map.

[2019-01-10 14:10] maciaszczykm opened #3501 "Stop using deprecated-dynamic package"
We should stop using `deprecated-dynamic` package ASAP:
https://github.com/kubernetes/dashboard/blob/b30e01f8a7fe85ae8f7cfad48fb72ecff4ce2a5e/src/app/backend/resource/deployment/deploy.go#L33

[2019-01-10 14:16] maciaszczykm opened #3502 "Do not remove query after namespace change and page reload"
##### Environment

[code]

##### Steps to reproduce

1. Search for a some query, i.e. "nginx". Confirm your search. See the results.
2. Change namespace. Notice URL change. Notice results change.
3. Query does not match results and URL. It is empty.

##### Observed result

Query is empty in the top bar.

##### Expected result

It should contain query. In this case "nginx".

##### Comments

n/a

[2019-01-10 14:33] maciaszczykm commented on #3500
Besides of that our endpoint to get scale resource is and was not working from the beginning, I think.

[2019-01-10 15:52] jeefy commented on #3499
/assign

[2019-01-10 15:55] jeefy commented on #3499
/kind feature
/priority important-longterm

[2019-01-10 16:34] falcoriss opened #3507 "timeout awaiting response headers on certain namespaces"
##### Steps to reproduce
Try to access to overview, workload or search for something

##### Environment
[code]

##### Observed result
Dashboard reported Internal Server Error (500):
[code]

##### Comments
I only seem to have the problem on specific location of the dashboard, overview, workload or when i search for something.
Moreover, the problem only affects one namespace : kube-system and anothe

[2019-01-10 16:37] floreks commented on #3507
I think that this message comes directly from the apiserver. Looks like it did not return any request or it took too long. All errors that come with error code `500` are returned from the apiserver and they are mostly not related to Dashboard.

[2019-01-10 17:51] falcoriss commented on #3507
looks like my problem was coming from my keycloak reverse proxy before the dashboard.
I will close this

[2019-01-10 17:51] #3507 closed

[2019-01-10 19:00] johnSchnake commented on #2986
Sorry, after doing a bit of investigation on this I hadn't gotten back to be active on it. I had just done more investigation since I wasn't familiar with the codebase. I am still happy to help but will step aside. Happy to help with reviews though if it would help.

[2019-01-10 21:19] maciaszczykm opened #3508 "Add breadcrums for logs and exec view"

[2019-01-10 21:20] #3500 closed

[2019-01-10 21:23] maciaszczykm opened #3509 "Support following logs"
Picked the last issue from #1828.

[2019-01-10 21:24] #1828 closed

[2019-01-10 23:37] Angha commented on #2986
Kubernetes-dashboard 1.10.1 (https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml)  not  working with  kubernetes on-prem cluster  version 1.13.1.
'kubectl logs -n kube-system  kubernetes-dashboard-57df4db6b-4h5wr' errors out  " Metric client health check failed: the server could not find the requested resource (get services heapster). Ret

[2019-01-10 23:57] jeefy commented on #2986
@Angha Kubernetes v1.13 removed Heapster. Short term, you can still install Heapster to get things working.

Long term, there is already a fix in flight (https://github.com/kubernetes/dashboard/pull/3504) that will be in the next Dashboard release.

[2019-01-11 03:26] mazharul opened #3512 "Wrong link to install dashboard UI in README"
README points to the wrong link to install dashboard UI.

`https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml`

This above link results in 404.

[2019-01-11 03:41] jeefy commented on #3512
I just clicked the link from my email (I'm on mobile) and it worked. I also
just checked from the website and it worked.

Could you make sure it copied right when you used it?

Thanks!

On Thu, Jan 10, 2019, 22:26 Mazharul Anwar <notifications@github.com wrote:

[2019-01-11 05:30] mazharul commented on #3512
It works on mine now as well. Sorry for the trouble. I will close the issue.

Thanks!

[2019-01-11 05:30] #3512 closed

[2019-01-11 07:06] WolfyLPDC commented on #3497
Update with pictures. Perhaps the problem is that, as there are 50/50 pods, navigation bar is not shown and, after reducing elements (which should not reduce  `Items per page`), the bar is not drawn again.

[2019-01-11 08:36] floreks commented on #3497
@WolfyLPDC I am wondering if you really using `v1.10.1` version. I have checked exactly the steps you have described and everything is fine.

1. Default items per page
![zrzut ekranu z 2019-01-11 09-32-01](https://user-images.githubusercontent.com/2285385/51022284-20b35200-1584-11e9-94b0-cf6ae58f1c53.png)

2. Changing to 50
![zrzut ekranu z 2019-01-11 09-32-10](https://user-images.githubuserconten

[2019-01-11 10:22] WolfyLPDC commented on #3497
I'm using 1.10.1. Take a look to the `About` view:

*About*
**Dashboard**
*General-purpose web UI for Kubernetes clusters*
Dashboard Version: v1.10.1
Git Commit: 50d59e985dfd97863a2f5ab5396ae049a2bb87d0

Have you do it in Firefox? It is strange. I do not think it is a bad installation.

[2019-01-11 12:03] floreks commented on #3497
I have tried on Firefox also and cannot reproduce it also. It might only appear when dealing with real cluster under load, not my small local kubeadm cluster.

[2019-01-11 13:08] WolfyLPDC commented on #3497
I'm using a test cluster in VirtualBox and there is no real load, so I do not think that it is the problem. I do not know what other information add here.

[2019-01-11 13:11] floreks commented on #3497
Can you try out head image and see if it still occurs?

[code]
Access path should be:
[code]

This is just to test this one thing. This image is just a preview of dashboard v2. Many things are not working correctly yet.

[2019-01-11 13:39] WolfyLPDC commented on #3497
I'm going to be busy this weekend. Say me what should I try and Monday I'll send all the screenshots requested.

[2019-01-13 03:04] jbonnett92 commented on #3491
@jeefy If the issue was that then I on a reinstall it wouldn't work at all, although occasionally on a reinstall it does work.

[2019-01-13 06:49] manukasa commented on #2535
@vrmerlin  can you please tell me the exact path of the Yaml file you changed "hostNetwork: true"

[2019-01-14 08:32] joberget commented on #3114
@floreks  Is it on the roadmap to support Active Directory?

[2019-01-14 08:38] floreks commented on #3114
At first, we want to add support for OAuth 2.0 standard, so any application that supports it will be able to work with Dashboard. There is no ETA though.

[2019-01-14 09:21] maciaszczykm commented on #3343
Done :)

/close

[2019-01-14 09:23] #3498 closed

[2019-01-14 11:41] WolfyLPDC commented on #3497
@floreks I have tried the image but still does not work. Do you have an update?

[2019-01-14 14:49] floreks commented on #3497
@WolfyLPDC Ye, I do have an update :slightly_smiling_face: Apparently `client-go` has introduced some breaking changes to the way in-cluster config works now and we have to refactor our code, to make it work again. I'll try to do it somewhere this week.

[2019-01-14 15:09] WolfyLPDC commented on #3497
@floreks
Ok. Tag me if you want me to test it.

[2019-01-15 06:37] qianyong-2005 commented on #3068
I have the same problem,how to solve this ?

[2019-01-15 06:41] qianyong-2005 opened #3515 "k8s dashboard Connection closed"
##### Environment

[code]

##### Steps to reproduce

1、login in dashboard from chrome
2、select pod
3、entrance command line ， execute command,
##### Observed result

sometime wait sevaral seconds, some wait sevaral minutes, display Connection closed.

##### Expected result

even, I don't any operation, It can keep connection in ten minutes.

##### Comments

[2019-01-15 06:45] qianyong-2005 commented on #3515
![image](https://user-images.githubusercontent.com/35366720/51163313-32725d80-18d4-11e9-855e-ffb194bd8e83.png)

[2019-01-15 08:18] Zenlil commented on #3008
Same problem.

Running Azure AKS
K8 version 1.11.4 and 1.11.5
Dashboard image: k8s.gcr.io/kubernetes-dashboard-amd64:v1.10.0

After "Microsoft" sometimes restarts the managed API-server the dashboard starts to log around 450 lines per 5 minutes.

Any update on actually getting the reconnect solved?

[2019-01-15 08:42] floreks commented on #3008
@Zenlil it will be fixed in v2. Right now a workaround is to delete Dashboard pod after api server restart.

[2019-01-15 09:49] xuejipeng commented on #3068
@qianyong-2005  There may be a problem with the configuration of the timeout on the ingress。

[2019-01-15 19:38] ry1015 opened #3517 "Deployment isn't created by the Operator (No error logs printed)"
Hi All,

Below is my deployment code for my operator. I'm not sure why the deployment isn't created. No errors can be found even in the operator.

[code]

Thanks in advance,
Ry

[2019-01-15 19:39] floreks commented on #3517
How is that related to Dashboard?

[2019-01-15 19:39] ry1015 commented on #3517
Oh shoot. It's not. Sorry. I posted it on the wrong board.

[2019-01-15 19:39] #3517 closed

[2019-01-16 01:54] qianyong-2005 commented on #3068
@xuejipeng I add follow three parameter on dashboard ing, problem continue; how do you configure?
nginx.ingress.kubernetes.io/proxy-connect-timeout：“600”
nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
nginx.ingress.kubernetes.io/proxy-read-timeout: "600"

[2019-01-16 02:19] jeefy commented on #3179
/lifecycle frozen

[2019-01-16 05:33] zedtux commented on #2541
I'm also looking for this feature that would make the dashboard so much better! Please ! 🙏

[2019-01-16 06:45] sateeshganni commented on #2882
I'm facing the same issue.
I am using kubernetesVersion: 1.11.5
I have added "---token-ttl=43200"
but still my dashboard session is expiring every 15 mints

[2019-01-17 01:33] thedarkfalcon commented on #3448
What do you mean? The original link 404s still. These URLs were hardcoded into several scripts as per the documentation, I assumed they would always be valid. If these URLs start changing, its going to force devs to start saving a version that they know will always be available (thus start losing the benefits of always pulling the latest stable etc). As per @mrichman why isn't there a symbolic lin

[2019-01-17 05:19] qianyong-2005 commented on #3068
@xuejipeng  configure timeout time < 30s is valid,  and > 35s is not invalid
  proxy-read-timeout: "20"
  proxy-send-timeout: "20"
  worker-shutdown-timeout: "20"

[2019-01-17 05:38] xuejipeng commented on #3068
@qianyong-2005
"vaild" mean to solve your problem? This problem doesn't seem to be common. i don't understand why the time is short, but it's good, and it feels like the problem isn't here
I think you can test these three parameters alone to see which one is affecting it.

[2019-01-17 08:46] floreks commented on #3448
It was explained why we have made such decision on the slack and in the #3451.

There are many reasons why we should not rely on the master branch and why should everyone that is using Dashboard on prod rely only on stable links, that will not change in the future. The decision to update an app should come from the user, it should not be silently forced by external changes. This is both a security

[2019-01-17 14:30] henshitou commented on #2954
this info should specify for the case when you create it, for example, this info should get from this command "openssl x509 -req -sha256 -days 365 -in dashboard.csr -signkey dashboard.key -out dashboard.crt"

[2019-01-17 22:15] msalimbe1 opened #3523 "new namespaces not showing on dashboard"
Hello! Hopefully you can guide me here. Not where else can i ask. When I list the namespaces via cli, i correctly see the namespaces I've created:

`
ibmcloud cr namespaces
Listing namespaces...

Namespace
lalalalalalala
magicspace

OK
`

But from the dashboard I only see 'default' and other system created namespaces. Is this correct?

[2019-01-18 07:49] floreks commented on #3523
Probably user that you have used to log in to Dashboard does not have permissions to list (all) namespaces.

[2019-01-18 08:38] damoshushu opened #3526 "Could not list pods"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Service Unavailable (503):
[code]

##### Comments

[2019-01-18 08:42] floreks commented on #3526
Outdated Dashboard version. No information about the configuration and cluster version.

/close

[2019-01-18 08:42] #3526 closed

[2019-01-18 10:03] kirkre commented on #2415
I found that even with the owner role "Full access to all resources", the suggestion from mofelee is needed on GKE:

kubectl create clusterrolebinding cluster-admin-binding \
--clusterrole cluster-admin --user $(gcloud config get-value account)

[2019-01-18 11:40] msalimbe1 commented on #3523
@floreks I thought about it, but I've used the same user id, my company's SSO login.Coult be different permissions between Cli and Web access?

[2019-01-18 11:58] yifeikong commented on #2569
This dashboard is critical for some non-hardcore user of k8s, please fix it.

[2019-01-18 19:54] mridulsmile opened #3527 "Unable to connect to kubernetes dashboard"
##### Environment

[code]

##### Steps to reproduce

In a given kubernetes cluster:
Create a reader role (yaml file):

apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: view-role
rules:
- apiGroups: ["", "extensions"]
  resources: ["nodes", "deployments", "replicasets", "pods", "pods/log", "services"]
  verbs: ["get", "list"]

Create a service account: kubectl --kub

[2019-01-18 20:52] floreks commented on #3527
`services/proxy` is a different resource than `service` and it is required to resolve the URL.

[2019-01-18 20:52] #3527 closed

[2019-01-18 21:10] floreks commented on #3523
It can't be related to the difference in permissions as Dashboard is using the same API server as `kubectl`.

[2019-01-18 21:32] mridulsmile commented on #3527
Allowing services/proxy also allows the user to view secrets. How that can be avoided

[2019-01-18 21:37] floreks commented on #3527
@mridulsmile how do you think privilege to use `services/proxy` allows access to `secrets` resource which is a completely different resource managed by a different set of rules?

[2019-01-18 21:46] davewang0125 opened #3528 "unknown server error"
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported Unknown Server Error:
[code]

##### Comments

[2019-01-18 22:09] #3528 closed

[2019-01-21 02:04] qianyong-2005 commented on #3515
I think network is not stable， because now is normal。 I try do as #3068, only control  time in <30s, if >30s, connection closed display time may 2 nimutes or more.

[2019-01-21 10:23] maciaszczykm commented on #3343
Got the wrong context name (see: https://github.com/kubernetes/dashboard/pull/3529):

![zrzut ekranu 2019-01-21 o 11 22 19](https://user-images.githubusercontent.com/2823399/51468296-e198b400-1d6e-11e9-8e00-834bfa58f4f1.png)

[2019-01-22 17:43] shaktiprasadrath opened #3530 "Dashboard is throwing error"
I have setup a 1 master 2 slave cluster and below are the details:

[kmaster@kmaster ~]$ kubectl get pods --all-namespaces -o wide
NAMESPACE     NAME                                   READY   STATUS             RESTARTS   AGE   IP           NODE      NOMINATED NODE   READINESS GATES
kube-system   coredns-86c58d9df4-8hdzj               0/1     CrashLoopBackOff   23         11h   172.30.1.2   kslave

[2019-01-22 18:11] floreks commented on #3530
Not enough information about how did you deploy dashboard, if you have used `kubectl proxy`, etc. Fill out the issue form correctly.

[2019-01-23 00:09] shaktiprasadrath commented on #3530
I referred this beow link to deploy the Kubernetes dashboard:

https://github.com/kubernetes/dashboard

Steps:
1. Execute the below command in master node:
$ kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml

Output:
secret/kubernetes-dashboard-certs created
serviceaccount/kubernetes-dashboard created
role.rbac.authoriz

[2019-01-23 08:14] floreks commented on #3530
After running `kubectl proxy` go to `http://localhost:8001/api/v1/namespaces` and tell me if this works.

[2019-01-23 16:33] shaktiprasadrath commented on #3530
This is the below output:

{
  "kind": "NamespaceList",
  "apiVersion": "v1",
  "metadata": {
    "selfLink": "/api/v1/namespaces",
    "resourceVersion": "19935"
  },
  "items": [
    {
      "metadata": {
        "name": "default",
        "selfLink": "/api/v1/namespaces/default",
        "uid": "84a0f8d2-1e06-11e9-8e83-080027995e9c",
        "resourceVersion": "4",
        "creationTimestamp":

[2019-01-23 20:17] floreks commented on #3530
Ok, this is most likely a networking issue in your cluster. API server does not correctly proxy to the service.

[2019-01-23 20:43] shaktiprasadrath commented on #3530
what network issue?? Do you know??

FYI, I have used below kubeadm configuration and flannel network

kubeadm init --pod-network-cidr=172.30.0.0/16

kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

Plz advise

[2019-01-23 21:24] floreks commented on #3530
We can help with Dashboard related issue. Kubernetes related issues are handled by a kubernetes core team.

Trying to reach 'https://172.30.1.4:8443/'

This error means that apiserver didn't even let you reach Dashboard. Most probably if you try to access any other application through apiserver service proxy, you will see this error.

[2019-01-23 21:50] shaktiprasadrath commented on #3530
Can you add K8 core team to this issue?? or let me know how to reach out core team??

[2019-01-23 22:02] shaktiprasadrath commented on #3530
And per the below output the apiserver is working fine then what let you tell this is an apiserver issue:

$ kubectl get pods --all-namespaces -o wide
NAMESPACE     NAME                                   READY   STATUS             RESTARTS   AGE   IP            NODE      NOMINATED NODE   READINESS GATES
kube-system   coredns-86c58d9df4-8hdzj               0/1     CrashLoopBackOff   125        40h

[2019-01-23 22:13] shaktiprasadrath commented on #3530
When I tried now for the below url I got diff output

http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy

{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "no endpoints available for service \"https:kubernetes-dashboard:\"",
  "reason": "ServiceUnavailable",
  "code": 503
}

In documentation, no other

[2019-01-24 08:09] maciaszczykm opened #3531 "Add specific issue templates"
We can use specific issue templates for bugs/features/enhacements like test-infra repo does: https://github.com/kubernetes/test-infra/tree/master/.github/ISSUE_TEMPLATE

[2019-01-24 08:18] floreks commented on #3530
1. You need to know how to diagnose the issue first.
2. Dashboard has crashed `kube-system kubernetes-dashboard-57df4db6b-544ml 0/1 CrashLoopBackOff 100 39h 172.30.1.9 kslave`
3. `core-dns` (networking) has crashed `kube-system coredns-86c58d9df4-8hdzj 0/1 CrashLoopBackOff 125 40h 172.30.1.10 kslave`
4. Kubernetes core has its own repository.

[2019-01-24 08:43] #3008 closed

[2019-01-24 08:45] BenTheElder commented on #3343
I think this is fixed now ref https://github.com/kubernetes/test-infra/issues/10921 https://github.com/kubernetes/test-infra/pull/10922 -- just saw a dashboard PR go through tide.

[2019-01-24 09:09] maciaszczykm commented on #3343
It is. Thanks once more.

/close

[2019-01-24 09:09] #3343 closed

[2019-01-24 09:15] ajatprabha opened #3532 "Certificate error: Error while initializing connection to Kubernetes apiserver."
##### Environment

[code]

##### Steps to reproduce

- Setup a cluster using minikube with `--vm-driver=none`
- Run `sudo -H PATH=$PATH npm run start`

##### Observed result

[code]

##### Expected result

The development server should start without errors.

##### Comments

[2019-01-24 09:17] maciaszczykm commented on #3532
Can you try to run it without the `sudo`? Or at least use same environment for that? I was not aware of this when we were discussing on Slack :)

[2019-01-24 09:19] maciaszczykm commented on #3532
Dashboard uses `kubernetes-dashboard:kubeconfig_dir = ${HOME}/.kube` to locate kubeconfig. It will not be able to find it from root account unless it is in root's home directory too.

[2019-01-24 09:31] maciaszczykm commented on #3532
No problem. You can always use `sudo -H PATH=$PATH $HOME=$HOME npm run start`, but you are risking changing ownership of the files. It is better to work without sudo if you can :)

[2019-01-24 10:07] floreks commented on #3523
Any progress here?

[2019-01-24 10:12] floreks commented on #3497
@WolfyLPDC could you follow instruction from my previous comment (https://github.com/kubernetes/dashboard/issues/3497#issuecomment-453512372) and retest? Head image should be fixed now.

[2019-01-24 10:54] ant31 commented on #2891
Is there any way I can help on this issue?

[2019-01-24 11:43] WolfyLPDC commented on #3497
@floreks Tested! It seems to work fine. Good job.

[2019-01-24 11:47] floreks commented on #3497
Great. It will be available in the next release. Thanks for testing.

/close

[2019-01-24 11:47] #3497 closed

[2019-01-24 14:55] maciaszczykm commented on #3530
https://github.com/kubernetes/kubernetes/issues/new/choose

[2019-01-24 14:56] maciaszczykm commented on #3531
I have just seen that k/kubernetes have even better templates (more of them). Reopening :)

https://github.com/kubernetes/kubernetes/issues/new/choose

[2019-01-24 21:12] msalimbe1 commented on #3523
not yet still trying

El jue., 24 de ene. de 2019 a la(s) 07:08, Sebastian Florek (
notifications@github.com) escribió:

--

(XIII.235) Aun siendo solo dos, la colaboración torna en algo hasta el
valor de los miserables; y así nosotros dos también sabríamos luchar incluso
con valientes.

[2019-01-25 04:07] jeefy commented on #3530
Agree, this is a networking issue in-cluster and not a Dashboard related issue.

Please open an issue within the core Kubernetes repo, or hop into slack for help with your problem.

/close

[2019-01-25 04:07] #3530 closed

[2019-01-25 06:17] arrowfeng opened #3537 "I change my cluster's timezone, result in dashboard not work."
##### Steps to reproduce

##### Environment
[code]

##### Observed result
Dashboard reported 未知服务器错误 (500):
[code]

##### Comments

[2019-01-25 07:56] floreks commented on #3537
No steps to reproduce. Template not filled properly. Reopen with detailed information about the problem.

/close

[2019-01-25 07:56] #3537 closed

[2019-01-25 07:59] floreks commented on #3523
I can't really help with such very little information given. I don't know how you are logging in, how the setup looks, etc. They are all very important information without which we can not do anything other than shoot in the dark.

[2019-01-25 13:56] msalimbe1 commented on #3523
I understand. Unfortunately I'm unable to provide more information at the moment, it my take me a few days to come back to this issue. Should I close this thread?

[2019-01-26 04:56] #2760 closed

[2019-01-27 19:20] jeefy opened #3539 "Use KinD instead of Minikube for e2e tests"
##### What would you like to be added
We should move our e2e tests to use kind (https://github.com/kubernetes-sigs/kind)

##### Why is this needed
Lighter weight testing, removes the need for minikube, and it's the general direction testing is going.

##### Comments
This is a placeholder issue, I'm gonna look to tackle this in the next couple weeks.

/assign

[2019-01-27 19:20] jeefy commented on #3539
/priority important-longterm

[2019-01-28 10:04] gabrielfsousa opened #3541 "exec on firefox wont work"
##### Environment

[code]

##### Observed result
when i click to exec a pod opens again the dashbord in dashboard

![image](https://user-images.githubusercontent.com/722744/51828685-0ac3c200-22e4-11e9-90fa-9978007b4988.png)

##### Expected result
show exec console

[2019-01-28 10:40] PierluigiLenociAkelius commented on #3541
Same here

[2019-01-28 11:11] maciaszczykm commented on #3539
Big +1 from my side 👍

[2019-01-28 11:19] maciaszczykm commented on #3541
Can you test it on Chrome and let us know if it works as expected?

[2019-01-28 11:57] gabrielfsousa commented on #3541
on chrome and opera works.

[2019-01-28 12:32] floreks commented on #3541
Which version of ff?

[2019-01-28 12:33] gabrielfsousa commented on #3541
64.0.2 (64-bit)

[2019-01-28 13:23] PierluigiLenociAkelius commented on #3541
64.0.2 (64 bit)

[2019-01-28 14:08] jothimuruganm commented on #3541
Hi Garbriel

Please check out the internet settings.
Follow steps from the following link.
https://support.mozilla.org/en-US/kb/firefox-cant-load-websites-other-browsers-can
Please update me if the issue is fixed.

[2019-01-29 12:30] scorsair commented on #3541
Same thing. Chome works.
K8s 1.12.4, dashboard 1.10.1
FF: 64.0.2